[2019-10-16 20:35] mogul commented on #1055
(This happened when provisioning my data.gov WordPress account.)

[2019-10-16 23:26] adborden commented on #871
bcgov also publishes a spec in JSON https://github.com/bcgov/api-specs/blob/master/bcdc/bcdc.json

[2019-10-17 14:33] gbinal commented on #871
Good find, @adborden.

My suggestion is to take that file and do as little work to do as you need to get it to a passable first start (maybe none) and go ahead and host it in the API docs.  This will arguably get you over the compliance hurdle that we need to hit this calendar year and take that pressure off, leaving you free to further improve it as you see fit later.

[2019-10-17 20:20] mogul commented on #972
@adborden this all went to production already, right?

[2019-10-17 21:28] adborden commented on #972
Probably not all of them. Catalog hasn't even gone to develop yet. I will try to move this forward today...

[2019-10-21 18:07] adborden commented on #979
https://docs.google.com/document/d/18_JOfljjxr7M5EtStWVKm1sFChOlcuAAHA01UEZMIPc/edit

[2019-10-21 18:07] #979 closed, assigned to nobody

[2019-10-21 18:12] adborden commented on #983
here's a start https://docs.google.com/document/d/1H3yx1LrSNtuR9AkPNMs1gfhbILXB2xFKC00kM2CS7P4/edit

[2019-10-21 18:13] adborden commented on #992
in doc form https://docs.google.com/document/d/1VS2qLb8d24Icz7KLJft23KbDQK9WxuBmFbXiIq2etA4/edit#heading=h.cui1qvtcapew

[2019-10-21 18:25] adborden commented on #1002
Update the banner text on https://project-open-data.cio.gov to link to the new repository and include a date that project-open-data will be unavailable.

[2019-10-21 18:26] adborden commented on #1007
Iceboxing, let's upgrade to a recent CKAN to see if this is still an issue and address it then if it's still needed.

[2019-10-21 18:27] adborden commented on #1009
We'll take another look at this after we upgrade to a recent CKAN version.

[2019-10-22 00:21] adborden commented on #971
Pinged.

[2019-10-22 00:26] mogul opened #1060 "Audit state of GSA-owned WP plugins"
## User Story

As an operator, I want to understand which of the WordPress plugins we use are unmaintained so that I can assess the risk of continuing to use them.

## Details
`datagov-wp-boilerplate` depends on about 15 GSA-owned WordPress plugins, and also includes copies of third-party packages in `lib` which are not being updated. At least one of the GSA-owned plugins is archived (eg not getti

[2019-10-22 22:46] adborden opened #1061 "Inventory fails to serve requests in sandbox: S3 not configured"
S3 is not configured in sandbox environments, so requests fail to Inventory.

[code]

## How to reproduce

1. https://inventory.ci.datagov.us/user/login

## Expected behavior

Login screen loads.

## Actual behavior

500 error, "NoAuthHandlerFound: No handler was ready to authenticate. 1 handlers were checked.
 ['HmacAuthV1Handler'] Check your credentials" error in /var/log/inventory/ckan.error.lo

[2019-10-23 21:02] #1050 closed, assigned to adborden

[2019-10-25 01:28] adborden commented on #972
This has been deployed to production.

[2019-10-25 01:28] #972 closed, assigned to nobody

[2019-10-25 16:35] adborden opened #1068 "Bionic inventory CKAN requests hang"
After putting Bionic into production for Inventory, some requests hang indefinitely. This manifests as uptrends alerts because some requests will timeout.

What we know so far...
- The behavior is somewhat intermittent. Sometimes it works, sometimes not.
- This did not seem to be an issue for staging, only production.
- This looks similar to what @adborden was seeing on Catalog when testing bionic

[2019-10-25 16:36] adborden commented on #1068
We could try disabling all the plugins, and re-enable them one by one.

[2019-10-25 19:07] mogul commented on #1068
I think what we're seeing is happening at the end of the plugin-initialization process. And again: Why do we only see this behavior on these two particular hosts, when the same plugins work on the staging hosts?

[2019-10-28 17:18] adborden opened #1070 "Bump dependencies for catalog-app"
- https://github.com/GSA/catalog-app/network/alerts
- https://app.snyk.io/org/data.gov/project/ad0e236f-051e-4456-b32c-24e911ed9bde/

[2019-10-29 16:27] adborden opened #1071 "Update CKAN extensions for updated DCAT-US schema"
## User Story

As an agency user, I want the DCAT-US CKAN extensions updated to refer to the schema at [resources.data.gov](https://resources.data.gov/schemas/dcat-us/v1.1/) so that the data.json files I publish continue to work correctly.

## Details

Schema moved from project-open-data.cio.gov to https://resources.data.gov/schemas/dcat-us/v1.1/. Extensions need to be updated to make sure they co

[2019-10-29 21:00] adborden commented on #742
This also has a side effect of filling up the `/` disk on catalog-harvester2d. We just had a disk alarm from New Relic. To resolve, run this from catalog-harvester2d:

    $ sudo rm -rf /tmp/s3sitemap/*

[2019-10-30 15:55] hkdctol commented on #959
![Screenshot SEC no harvest source.png](https://images.zenhubusercontent.com/5d374a506df6e4059e63379d/713daf18-0f48-44b7-af19-6d38be795561)

Noticed same just now on SEC, which has data.json source but no harvest source seen in admin UI.

[2019-10-30 18:05] adborden opened #1072 "Unknown user 'upstart' in logrotate configuration for Trusty hosts"
Trusty hosts generate this email daily:

[code]

The logrotate configuration is pulled in from dwcramer.upstart.

## How to reproduce

1. Run common.yml playbook on Trusty host

## Expected behavior

No error notification, logrotate job completes successfully.

## Actual behavior

Email error is generated.

[2019-10-30 18:08] adborden commented on #1072
https://github.com/GSA/datagov-deploy/pull/964 might have fixed the issue.

This role seems unmaintained and will go away with Trusty.

[2019-10-30 18:54] adborden commented on #1072
Should be fixed by https://github.com/GSA/datagov-deploy/pull/991 and https://github.com/GSA/datagov-deploy-common/pull/29

[2019-10-30 18:54] #1072 closed, assigned to adborden

[2019-10-30 19:32] adborden opened #1075 "[research: 20h] Best way to bump dependencies for inventory-app?"
- https://github.com/GSA/inventory-app/network/alerts
- https://app.snyk.io/org/data.gov/project/a390fc87-5f86-4437-93c9-8b7d879210b3/

[2019-10-30 21:37] adborden opened #1077 "Old resources are not cleaned up in CKAN"
The Per Diem API covering years up to FY19, has been deleted from CKAN, but the API continues to work and causes confusion for users.

https://inventory.data.gov/api/action/datastore_search?resource_id=8ea44bc4-22ba-4386-b84c-1494ab28964b&limit=300000&filters={"FiscalYear":"2019","Zip":"63304"}

Despite the resource `8ea44bc4-22ba-4386-b84c-1494ab28964b` having been removed.

## How to reproduce

[2019-10-31 16:22] afeld opened #1079 "transfer to separate GitHub org"
Running list, in rough order:

- [x] Create the org - @usdatagov
- [x] [Enforce 2FA](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/requiring-two-factor-authentication-in-your-organization)
- [x] [Enable third-party access restriction](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/enabling-oauth-app-access-restrictions-for-your

[2019-10-31 18:20] adborden opened #1080 "Upgrade to Ansible 2.7"
## User Story

As a Data.gov developer, I want to use Ansible 2.7 so that I can take advantage of newer features, while maximizing compatibility with the third-party Ansible roles that we consume.

## Details
Ansible 2.9.0 was just [released](https://github.com/ansible/ansible/releases/tag/v2.9.0), so Ansible 2.6 will move to unsupported. Time to update to 2.7

## Acceptance Criteria
- [x] datagov

[2019-10-31 21:52] adborden opened #1081 "Open license guidance should include note to use specific version of licenses in URLs"
## User Story

As a dataset owner, I want up to date guidance on how to use the metadata fields so that I am following best practices without having to know what the best practices are.

## Details
https://resources.data.gov/open-licenses/ lists usage notes for the `license` field. It should include the [latest guidance from the dataset-search project](https://groups.google.com/forum/?utm_medium=e

[2019-10-31 22:35] adborden opened #1082 "Support agencies in keeping their data up to date"
## User Story

As a data user, I want agencies to keep datasets up to date so that I can access the latest and most accurate information available from the US Government.

## Details
Not all datasets receive updates, some are just historical datasets. How can we support agencies in keeping datasets up to date?

## Acceptance Criteria
- [ ] Create a plan on how we might answer these questions
  - H

[2019-11-01 16:46] adborden opened #1085 "Update our log auditing process*"
## User Story

As a data.gov operator, I want an updated log auditing process so that I have a high chance of catching anomalies with as little effort as possible and captured in a process that can be incrementally improved over time.

## Details

Our existing [weekly log auditing process](https://github.com/GSA/datagov-deploy/wiki/Compliance-responsibilities#au--log-auditing-weekly) is completely

[2019-11-01 18:24] mogul commented on #1085
Reference: [Using aureport to interpret auditd logs](https://www.tecmint.com/create-reports-from-audit-logs-using-aureport-on-centos-rhel/)

[2019-11-01 19:14] adborden commented on #971
Pinged again.

[2019-11-01 19:21] adborden commented on #1060
If we [migrated WordPress](https://github.com/GSA/datagov-deploy/issues/992), we could avoid doing this work.

[2019-11-04 18:00] adborden commented on #1042
Fixed by https://github.com/GSA/ckan/pull/65

[2019-11-04 18:00] #1042 closed, assigned to nobody

[2019-11-04 18:27] adborden opened #1088 "Update nessus agent on bionic hosts"
Latest [Nessus report](https://docs.google.com/spreadsheets/d/1RsgQ6rTt8Z0qpmq-SK1c6JBoXdeItqLYsRKRaskaEcA/edit#gid=1510435608) suggests that the nessus agent is outdated.

[2019-11-04 19:20] adborden commented on #1032
Assigning to Yaditi...

[2019-11-04 19:26] adborden commented on #1043
Some progress has been made in GSA/inventory-app

[2019-11-05 23:29] adborden opened #1089 "Split harvest-gather onto its own hosts"
## User Story

As a Data.gov operator, I want gather hosts separate from fetch or other tasks so that I can tune resources for the gather job specifically and avoid spending human time babysitting large jobs like NASA's harvest.

## Details
NASA's data.json is large (~70MB, 24k datasets). We run this job manually because it often runs out of memory during the gather phase. I've clocked it at about

[2019-11-06 00:54] adborden opened #1091 "Update TLS configuration on data.gov, catalog.data.gov"
From FY19 pen test: moderate.

Need to update the [CloudFront distributions](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/secure-connections-supported-viewer-protocols-ciphers.html#secure-connections-supported-ciphers).

[2019-11-06 01:06] adborden opened #1092 "Update jQuery on data.gov"
From pen test report, moderate

Running old version of jQuery (3.3.1) on data.gov

[2019-11-06 01:06] adborden commented on #1092
Fixed in here https://github.com/GSA/datagov-wp-boilerplate/commit/6ff51bbc9f16cb479dc2f3bd7d2c8ca7cf2836d6

[2019-11-06 02:03] adborden opened #1093 "Create an automated weekly report that captures a summary of log anomalies for auditd/audit logs"
## User Story

As a Data.gov operator, I want an automated report of summarized log activity so that I can take action in response to the system and quickly meet responsibilities for compliance.

## Details
Reference: [Using aureport to interpret auditd logs](https://www.tecmint.com/create-reports-from-audit-logs-using-aureport-on-centos-rhel/)

## Acceptance Criteria
- [x] report is generated by

[2019-11-06 18:56] adborden opened #1094 "Bump simplesamlphp to 1.17.7 in PHP applications"
[SimpleSAMLPHP 1.17.7](https://github.com/simplesamlphp/simplesamlphp/releases/tag/v1.17.7) was released and contains security fixes.

- [x] [crm](https://github.com/GSA/open311-simple-crm)
- [x] [dashboard](https://github.com/GSA/project-open-data-dashboard)

[2019-11-06 21:59] adborden commented on #1093
@mogul thinking about how to prevent 60 emails showing up each week (1 per host).

[2019-11-07 18:33] hkdctol commented on #913
@kvuppala will send you a spreadsheet I have from Climate topic leads.

[2019-11-08 00:16] adborden opened #1097 "Integrate Splunk as logdrain"
## User Story

As a Data.gov operator, I want all platform and application logs to stream to Splunk so that I can easily search across all events of the Data.gov platform without having to maintain our own loggin infrastructure.

## Details
BSP has Splunk available

## Acceptance Criteria
- [ ] Application logs drain to Splunk
- [ ] Host logs drain to splunk
  - nginx/apache2
  - syslog
  - auth

[2019-11-08 00:28] adborden commented on #1097
BSP has said they would be able to provide this but have not been able to deliver. They sent instructions for RHEL, but have yet to respond on if they can provide Ubuntu instructions or a .deb package.

[2019-11-08 00:28] mogul opened #1098 "CRM app should bootstrap its own DB schema"
## User Story

In order to remove manual effort and make deployment of the CRM app more self-contained, operators want the CRM app to populate the DB with its initial schema as a CodeIgniter migration.

## Details

Right now you can't just start up the CRM app in an environment, whether local or production... The operator is responsible for doing an initial population of the DB schema *before* run

[2019-11-08 00:38] adborden opened #1099 "Dashboard fails to start dashboard-cfo-act-full-scan"
We're receiving cron failure notifications in email. Cron fails to start the supervisor job with error:

[code]

We receive notifications for both production and staging environments.

## How to reproduce

N/A

## Expected behavior

No email is generated, dashboard-cfo-act-full-scan is running successfully as per schedule. Jobs logs are created under `/var/log/dashboard`.

## Actual behavior

Emai

[2019-11-08 00:41] mogul opened #1100 "Provision config for dashboard to run in CI environment"
## User Story

In order to enable functional deployment of the dashboard application in the CI environment, operators want the needed DB and S3 resources provisioned in AWS and the configuration captured in the Ansible inventory vars+vault.

## Acceptance Criteria
- [ ] GIVEN I run `ssh jump.ci.datagov.us` \
  AND I run `git checkout git@github.com:GSA/datagov-deploy.git` \
  [...and I debug anyth

[2019-11-08 01:00] adborden commented on #971
We did get a bite from BSP after escalating. Waiting to hear on progress.

[2019-11-08 01:39] adborden commented on #1045
@mogul and I discussed adding a plugin to do the work is probably the simplest solution

https://wordpress.org/plugins/export-all-urls/
https://www.wpbeginner.com/beginners-guide/what-is-a-wordpress-sitemap-how-to-create-a-sitemap-in-wordpress/

[2019-11-08 01:41] adborden commented on #962
https://github.com/GSA/resources.data.gov/pull/77

[2019-11-08 01:57] adborden opened #1101 "Harvest job stuck in fetch stage, with one complete harvest object"
This is a new harvest job stuck state. The job started the fetch, and has a single harvest object in the completed state.

[code]

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2019-11-08 02:04] adborden opened #1102 "Wordpress nightly triggering CPU alarms"
We see both cloudwatch alarms (ALARM: "DataGov-Prod-Wordpress-WordpressWeb1CPUAlarm-40HMX2ET0Z6" in US East (N. Virginia)) and NewRelic CPU load alarms.

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2019-11-09 02:08] adborden commented on #1099
This also effects the non-full scan.

[2019-11-09 03:04] adborden opened #1105 "Forbidden 403 when browsing WordPress subdomains"
Our [hotfix](https://github.com/GSA/datagov-deploy/pull/1095) broke the WordPress subdomains.

## How to reproduce

1. Open https://weather.data.gov/

## Expected behavior

Redirects to https://www.data.gov/weather

## Actual behavior

Nginx 403 Forbidden error.

[2019-11-09 03:05] adborden commented on #1105
Not sure how important it is to have these redirects.

[2019-11-12 19:35] adborden opened #1106 "catalog-harvester1p logrotate complains that fetch-consumer.log.1 already exists"
[code]

We should check the configuration isn't somehow duplicated on this host.

## How to reproduce

1. Run the logrotate cron job

## Expected behavior

Logs are rotated correctly, without creating any `.backup` files.

## Actual behavior

Error notification is sent

[2019-11-12 20:56] hkdctol opened #1107 "USDA/Forest Service logo not displaying"
Organization view of datasets for USDA/Forest Service--logo does not display although it displays on individual catalog pages for these datasets.

## How to reproduce

1. go to https://catalog.data.gov/organization/4ae51f6c-467a-4f9d-b40a-2c52e83c326a?publisher=U.S.+Forest+Service

## Expected behavior

<USDA Forest Service logo should display as it does on individual dataset pages: https://catalo

[2019-11-12 21:56] hkdctol commented on #946
This has been completed.

[2019-11-12 21:56] #946 closed, assigned to nobody

[2019-11-12 22:51] mogul opened #1108 "[research: 5d] Pay down tech debt in dashboard, see what remains"
## User Story

In order to understand the effort needed to get the dashboard in a supportable state, the data.gov engineering team wants to spend up to 5 days attempting to resolve some key tech debt, and cataloguing what remains.

## Details

Key tech debt points:
* We want to be on a supported version of CodeIgniter
* We want CodeIgniter logs going to stdout so they're captured on cloud.gov
* We

[2019-11-12 23:00] mogul opened #1109 "Expand coverage of data.gov dashboard"
## User Story

In order for [the data.gov dashboard](https://labs.data.gov/dashboard) to be useful for monitoring federal progress in implementing the Open Government Data Act, the dashboard should show results for all federal agency websites.

## Acceptance Criteria
- [ ] GIVEN I open the dashboard \
  WHEN I search in the page for &lt;agency> \
  THEN I see results for &lt;agency>

[2019-11-13 00:17] adborden commented on #1031
Some resources:
- [Data.gov MAX.gov Community page](https://community.max.gov/pages/viewpage.action?pageId=1109066197)
- [MAX.gov implementation guide](https://community.max.gov/display/MAXAUTH/Technical+Information)
- [MAX.gov Idp metadata](https://login.test.max.gov/idp/shibboleth)

I sent an email to the MAX.gov asking to clarify next steps. @FuhuXia and I plugged in some parameters into the sa

[2019-11-13 00:41] adborden commented on #1107
It's the USDA org whose logo is not displaying
https://catalog.data.gov/organization/usda-gov

It looks like the link is pointing to a broken SVG on Wikipedia. Should be
updated to
https://upload.wikimedia.org/wikipedia/commons/0/04/Logo_of_the_United_States_Department_of_Agriculture.svg

On Tue, Nov 12, 2019 at 12:56 PM Hyon Kim <notifications@github.com> wrote:

--
Aaron D Borden
Lead Engineer |

[2019-11-13 17:31] FuhuXia commented on #1019
@adborden Looks like we need group owner contact info in order to proceed to join this group "CKAN Government Working Group". We can provide a list of emails to the the group owner to sends out invites.

[2019-11-13 17:43] adborden commented on #1019
I've requested admin access to the group so that I can add folks directly.

[2019-11-13 18:19] kvuppala commented on #1107
@adborden @hkdctol
logo link is fixed, it looks good on both public and admin catalog.
We may need to clear CDN caches if needed.

[2019-11-13 18:19] #1107 closed, assigned to kvuppala

[2019-11-13 22:20] adborden opened #1115 "Upgrade WordPress version"
## User Story

In order to keep www.data.gov easy to update and secure, the team wants www.data.gov to be running the most recent supported version of WordPress (5.4.1 as of this writing).

## Acceptance Criteria

- [x] GIVEN I am logged into WordPress as an admin \
 WHEN I look at the version information in the lower-right of the dashboard \
 THEN I see that the version is 5.4.1 or higher

## Bac

[2019-11-14 20:49] gbinal commented on #871
Hey team - any updates on this?  All's good but I just want to make sure we get something up for you all this calendar year.  And if the bcgov one is a good start, let's get it up.

[2019-11-14 23:17] adborden commented on #871
Thanks for the ping @gbinal. No progress to report. Our technical team is just ramping up and we should have more bandwidth in the near future.

In the meantime, can you link me to the GSA/gov policy for this? I think every gov API is supposed to have a spec, right?

[2019-11-14 23:30] adborden opened #1122 "Plan for in-person hack session"
## User Story

As a Data.gov team member, I want an agenda for the in-person hack session so that we can make the most of the time in person together.

## Details
We're going to be together in person, how should we use the time?

## Acceptance Criteria
- [ ] Document exists describing the agenda

[2019-11-15 00:03] adborden opened #1123 "Stop-gap script or tool to automate the process of resolving stuck harvest jobs"
## User Story

As a Data.gov operator, I want an automated tool or script so that I can safely unstick harvest jobs without running raw SQL in the production database.

## Acceptance Criteria
- [ ] a script or tool is created under version control

## Details
Harvest jobs get stuck all the time and we have no tools to unstick them. The harvest retry logic has been disabled for ? historical reasons

[2019-11-15 00:04] adborden commented on #1123
@FuhuXia @kvuppala do you have more background on the harvest job retry customizations?

[2019-11-15 00:29] adborden opened #1124 "Update logo for National Endowment for the Humanitites"
Update logo for [NEH](https://catalog.data.gov/organization/neh-gov). Looks like they used to host the logo on their site, but the link is now broken. Maybe we can find an updated URL, otherwise the image is here.

![newlogo](https://user-images.githubusercontent.com/509703/68907114-7227f280-06fb-11ea-92a6-26c6836b2d9e.png)

[2019-11-15 00:39] adborden opened #1125 "Clean up stale GitHub branches"
There is a lot of stale branches on GH. We should go through them, open issues for any work in progress we want to finish and then delete the stale branches.

[2019-11-15 00:42] adborden commented on #783
@hkdctol I believe this work was completed?

[2019-11-15 02:05] adborden commented on #1031
MAX.gov says they are using Jenkins themselves and will look into sharing their configuration and providing next steps.

[2019-11-15 02:40] kvuppala commented on #1124
Update the page with the logo @ https://www.neh.gov/sites/default/files/styles/medium/public/2019-08/NEH-Preferred-Seal820.jpg

[2019-11-15 02:40] #1124 closed, assigned to kvuppala

[2019-11-15 02:41] kvuppala commented on #1123
@FuhuXia for sure, assigned to him.

[2019-11-15 16:08] hkdctol commented on #783
Yes, there was a separate ticket that was closed as well. Closing this one.

[2019-11-15 16:08] #783 closed, assigned to nobody

[2019-11-15 16:51] adborden opened #1127 "Connect dataset support requests with the URL to the dataset"
## User Story

As a customer support specialist, I want support requests about datasets to include the URL to the dataset in question so that I don't need an extra correspondence to request the dataset URL and remove ambiguity.

## Details
Since we disabled CRM, requests coming in through the Contact Us form are disconnected from the dataset URL where the support request originated.

As a quick fi

[2019-11-15 17:01] adborden opened #1128 "Automated CRM facilitation for agency data contacts*"
## Feature/what we're after
As an agency data contact, I want to receive customer support requests for my agency's datasets integrated with my existing CRM workflow so that requests all the information I need, are routed appropriately, and I can quickly respond to requests with high degree of customer service.

## Anticipated/hypothesized benefits
- [benefit A]
- [benefit B]

## Measurements/metri

[2019-11-15 20:52] adborden commented on #1092
Verified with @mogul that this was deployed correctly, running 3.4.1 in production.

[2019-11-15 20:52] #1092 closed, assigned to mogul

[2019-11-15 20:53] adborden commented on #1088
@mogul deployed this to production today.

[2019-11-15 20:53] #1088 closed, assigned to adborden

[2019-11-15 21:42] adborden opened #1129 "Automated ping on stale pull requests"
## User Story

As a a Data.gov developer, I want to be reminded of stale pull requests so that pull requests never slip through the cracks and workflows continue to be notification driven.

## Details
Two examples came up:

- https://github.com/apps/stale
- https://github.com/marketplace/actions/close-stale-issues

Right now, we're only looking to be reminded of pull requests, not issues. We don't

[2019-11-15 23:34] adborden commented on #962
Demo'd during sprint review.

[2019-11-15 23:34] #962 closed, assigned to adborden

[2019-11-15 23:41] adborden commented on #1093
[Logwatch](https://wiki.archlinux.org/index.php/Logwatch) is a general log parser and analyzer. It has the concept of "services" which allow it to parse different types of components (SSH, postfix, PAM, etc). It can be configured for weekly reports. I don't think it captures the auditd logs though.

I think logwatch combined with aureport would provide a comprehensive report.

Logwatch is Perl, so

[2019-11-16 02:55] adborden commented on #1106
The issue seems to be that supervisor does its own log rotation http://supervisord.org/logging.html#child-process-logs

[2019-11-16 03:00] adborden opened #1131 "Improve jumpbox creation in BSP"
## User Story

As a data.gov operator, I want FCS to provision jumpboxes into a known subnet that is already configured with firewall rules allowing SSH so that when a new jumpbox is provisioned a one-off firewall change request is not necessary.

## Details

## Acceptance Criteria
- [ ] Jumpboxes can be provisioned without a firewall change request.

[2019-11-16 03:00] adborden commented on #1131
Keeping track of jumpboxes:
- ip-10-177-107-8

[2019-11-16 03:14] adborden opened #1132 "Spike: investigate using github action for deployment"
## User Story

As a Data.gov operator, I want to investigate using GitHub Deploy action with self-hosted runners so that I can evaluate if this option would save compliance and technical maintenance effort compared to a Jenkins solution.

## Details

@mogul pointed out
https://github.blog/2019-11-05-self-hosted-runners-for-github-actions-is-now-in-beta/

## Acceptance Criteria
- [x] Time-boxed wor

[2019-11-18 18:26] adborden commented on #1075
#1070 might be identical in the work that needs to happen here, please keep in coordination with that ticket.

[2019-11-18 18:28] adborden commented on #936
This work has been done.

[2019-11-18 18:28] #936 closed, assigned to philipashlock, hkdctol

[2019-11-18 18:40] adborden commented on #1047
https://github.com/GSA/inventory-app contains the requirements.txt

[2019-11-18 19:00] adborden commented on #1132
This would mitigate a lot of compliance and O&M work, so worth giving a look.

[2019-11-18 19:41] adborden opened #1133 "[Offboard] joel.natividad@datopian.com"
These tasks are performed by an Admin unless noted as an action for the outgoing team member.

- [x] Remove team member from Data.gov GitHub teams
  - [x] [data-gov-admins](https://github.com/orgs/GSA/teams/data-gov-admin/members)
  - [x] [data-gov-support](https://github.com/orgs/GSA/teams/data-gov-support/members)
  - [x] [data-gov-ckan-multi-partners](https://github.com/orgs/GSA/teams/data-gov-

[2019-11-18 23:09] adborden commented on #1132
https://github.com/18F/tts-tech-portfolio/issues/107#issuecomment-555176636

[2019-11-19 15:02] adborden opened #1134 "Update WordPress to 5.2.4"
[WordPress 5.2.4](https://wordpress.org/news/2019/11/wordpress-5-2-4-update/) contains a security fix.

[2019-11-19 18:22] mogul commented on #1134
Looks like [we already did this](https://github.com/GSA/datagov-wp-boilerplate/pull/28) and it got [merged into develop and then master](https://github.com/GSA/datagov-wp-boilerplate/commits/master) prior to our most recent release on 11/13. Are we seeing an alert on this since then?

[2019-11-19 18:28] mogul commented on #1134
Confirmed this is in prod, so this was a false alarm.

[2019-11-19 18:28] #1134 closed, assigned to mogul

[2019-11-19 20:16] gbinal commented on #871
Thanks, @adborden.

Just to clarify, the requirement is at the GSA level.    The CIO and CTO are requiring a number of consistent improvements of all current and future APIs.

Here‘s the link - https://github.com/GSA/api-standards#6-provide-an-openapi-specification-file

Just to confirm, can the new team get this up in the next month?    Our deadline is the end of the year.

[2019-11-19 20:33] hkdctol opened #1135 "Non-federal source (Fairfax County) being changed to federal in catalog"
A non-federal source, Fairfax County data.json, had been created as a non-federal source originally, but appears as federal, and when I change to non-federal and save through admin UI, the change is not taking effect.

## How to reproduce

1. Log in as admin user on catalog.data.gov, and try to edit the Fairfax County data.json harvest source.

## Expected behavior
Admin user should be able to cha

[2019-11-20 02:45] adborden commented on #1002
https://github.com/project-open-data/project-open-data.github.io/pull/642

[2019-11-20 17:37] adborden opened #1136 "Bump simplesamlphp in PHP applications"
[SimpleSAMLPhp 1.17.8](https://github.com/simplesamlphp/simplesamlphp/releases/tag/v1.17.8) was released and contains security fixes.

[2019-11-20 17:44] martinburchell commented on #961
I've seen this error when installing CKAN 2.7 as per https://docs.ckan.org/en/2.7/maintaining/installing/install-from-source.html

I upgrade psycopg2 to work around https://github.com/psycopg/psycopg2/issues/489 but upgraded to 2.8.x which gives the error you reported.

Fixed by downgrading pyscopg2 to 2.7.7

[2019-11-20 17:46] adborden opened #1137 "Archive CRM database"
## User Story

As a Data.gov operator, I want an encrypted database archive stored in the team Drive so that we can access the CRM data in the future if needed.

## Details
From this [discussion](https://docs.google.com/document/d/1aK9lnlNLOYza0WAEUBmxL16dYJTK92sWr5ueqGB_MBg/edit) we are decommissioning the current CRM system.

## Acceptance Criteria
- [x] Database dump is performed, zipped, and u

[2019-11-20 17:50] adborden opened #1138 "Decommission CRM"
## User Story

As a Data.gov operator, I want the CRM system removed so that we are not spending effort supporting a service that is not being used.

## Details
Depends on #1137.
From the [discussion](https://docs.google.com/document/d/1aK9lnlNLOYza0WAEUBmxL16dYJTK92sWr5ueqGB_MBg/edit), we are decommissioning CRM.

BSP resources:
- crmweb instances
- NetScaler route for labs.data.gov/crm
- MySQL R

[2019-11-20 18:26] adborden opened #1139 "Resolve Pen Test findings for WordPress"
Issues are in the datagov-incident-response repo, captured in [a milestone](https://github.com/GSA/datagov-incident-response/milestone/1).

[2019-11-20 20:54] adborden commented on #581
@sstevens21 is handing off the work. Latest commits will be pushed to https://github.com/sstevens21/datagov-deploy/tree/feature/move_apps_to_molecule

[2019-11-20 21:08] adborden commented on #971
Just pinged on this.

[2019-11-20 22:25] adborden opened #1141 "Where should these ckanext-archiver commands live?"
This needs to live somewhere, probably the catalog [Runbook](https://github.com/GSA/datagov-deploy/wiki/Runbook), but if so it should also be turned into a script and added to datagov-deploy.

I found this in https://docs.google.com/document/d/1w__Mm3XpL_HeCOaZVKQyRFjgpMCfW1IdzLiZzzQL-5I/edit

[2019-11-20 22:25] adborden commented on #1141
@FuhuXia are you familiar with these commands? When would we need to run them?

[2019-11-20 22:29] adborden opened #1142 "Where should ckanext-ga-report commands live?"
This needs to live somewhere, probably the catalog [Runbook](https://github.com/GSA/datagov-deploy/wiki/Runbook), but if so it should also be turned into a script and added to datagov-deploy.

I found this in https://docs.google.com/document/d/1w__Mm3XpL_HeCOaZVKQyRFjgpMCfW1IdzLiZzzQL-5I/edit

[code]

[2019-11-20 22:30] adborden commented on #1142
@FuhuXia do you know what these commands do? When would we need to run them?

[2019-11-20 22:51] mogul commented on #1136
PRs submitted

[2019-11-20 22:57] adborden commented on #971
Services respond with 302, good enough.

[2019-11-20 23:01] adborden commented on #971
Commented on https://cm-jira.usa.gov/browse/ACR-39#

[2019-11-20 23:07] hkdctol commented on #974
Added more information. We will keep as a google doc but this item can be considered completed/closed.

[2019-11-22 02:40] FuhuXia commented on #1142
This loadanalytics command comes with ckanext-googleanalytics. I don't remember we ever run it before.

[2019-11-22 02:45] FuhuXia commented on #1141
We have ckanext-archiver extension installed but we dont use it directly, so not sure about the purpose of this command. We use ckanext-archiver as a dependency for the Broken Link Report function. Those reports were generated on regular basis by a cron job on harvester instance.

[2019-11-22 16:34] adborden commented on #1141
Thanks, yeah, we have not gotten around to re-enabling the archiver jobs but would like to.

[2019-11-22 16:39] adborden opened #1144 "Re-enable the CKAN QA jobs"
## User Story
As a Data.gov admin, I want the CKAN QA jobs running so that I am aware of issues with datasets and can get them addressed.

As an Agency data contact, I want a broken links report so that I know when I need to update links or metadata for my Agency's datasets.

## Details
I'm not 100% sure what the QA jobs do and I'm not sure if they already send reports directly to Agency POCs or n

[2019-11-22 16:40] adborden commented on #1144
Not sure if there are additional commands that need to be added https://github.com/GSA/datagov-deploy/issues/1141

[2019-11-22 22:02] hkdctol commented on #1135
Just checked to see if it was momentary error -- still not able to save a change to non-federal source through admin UI.

[2019-11-22 22:05] hkdctol opened #1145 "21st Century IDEA Act compliance"
## User Story

As Data.gov PMO, will need to comply with the 21st Century IDEA Act

.
## Details
To be completed, in line with commitments in GSA internal report. Each area of work may become its own epic.

https://docs.google.com/document/d/11uKuCeK1GUNDJ7GZhRscq0yyCRUpqgWPDFkzDfBxGCE/edit

## Acceptance Criteria
All areas being tracked by GSA are accepted as "green" for Data.gov.

[2019-11-22 22:52] adborden commented on #1145
Added a link to our previous notes.

[2019-11-22 22:57] adborden commented on #1145
Added to [December 2019 Compliance](https://github.com/GSA/datagov-deploy/milestone/21) milestone.

[2019-11-22 23:06] adborden commented on #686
This was done a while back.

[2019-11-22 23:06] #686 closed

[2019-11-22 23:47] adborden commented on #658
This was done a while ago.

[2019-11-22 23:47] #658 closed

[2019-11-23 01:09] adborden commented on #1131
Tracking in a Google Doc https://docs.google.com/document/d/19PwTE6rFay5fghAYcNjKCkeLM4OfZG7TqZ4lAL9hZpA/edit

[2019-11-23 16:03] adborden opened #1146 "Understand metrics-count"
Where should these instructions live? Is the command still needed? [metric-count](https://github.com/GSA/metric-count) repo is archived.

From https://docs.google.com/document/d/1w__Mm3XpL_HeCOaZVKQyRFjgpMCfW1IdzLiZzzQL-5I/edit#

[2019-11-26 17:25] hkdctol opened #1147 "Unable to create new organization for SSA in inventory.data.gov"
SSA would like to use inventory.data.gov to manage metadata. SSA has not previously used inventory.

## How to reproduce

Sign in to inventory.data.gov as admin and try to add new organization, Social Security Administration

## Expected behavior

As there is no SSA organization in UI admin view of all organization, and no results when searching for SSA or terms search as "social" or "security," w

[2019-11-26 17:35] hkdctol opened #1148 "Upload current data.json for SSA to inventory.data.gov"
## User Story

As a new user of inventory.data.gov from SSA, want to start managing metadata from inventory.data.gov

## Details
Upload the current SSA data.json available at https://www.ssa.gov/data.json to newly created SSA organization in inventory.

## Acceptance Criteria
Review by SSA open data lead that SSA in inventory.data.gov is populated with the datasets from public SSA data.json, with

[2019-11-26 21:26] ydave-reisys commented on #1045
Uploaded document to google drive. https://drive.google.com/open?id=1JZmWGnFLEKmcDsllkLoiH15gLwR_s6O3

[2019-11-26 21:32] adborden commented on #1045
@crysacarter can you take a look at this and see if it'll work for you?
https://docs.google.com/spreadsheets/d/1ZohmuI28lsO5HMG5h7NqkEpkynJ6w-3xPdW3RZyYXr0/edit#gid=1850827333

[2019-11-27 03:09] mogul opened #1150 "Alert operators when cloud.gov apps log problems that require investigation"
## User Story

In order to know when operator attention is needed, operators should be notified when apps running in cloud.gov log a condition indicating a problem that needs attention

### Acceptance Criteria
- [ ] TBD

## Details

cloud.gov doesn't support sending mail from the shell, which had been the method for sharing the results of crawl jobs on BSP,  e.g: `php index.php crawl | tee /var/lo

[2019-11-27 03:16] mogul opened #1151 "pod-dashboard respects cloud.gov route paths"
## User Story

In order to enable proxying of labs.data.gov/dashboard to pod-dashboard running on cloud.gov, we need to ensure that pod-dashboard respects the base URL it sees in the cloud.gov environment.

## Acceptance Criteria
- [ ] GIVEN I `cf push --route-path /dashboard` in the pod-dashboard directory \
  WHEN I visit `<the-route>/dashboard` \
  THEN the dashboard generates relative links \

[2019-11-27 03:29] mogul opened #1152 "pod-dashboard S3 config is injectable"
## User Story

In order for pod-dashboard to make use of S3 in cloud.gov, pod-dashboard code must accept S3 credentials as injected configuration.

### Acceptance Criteria
- [x] GIVEN an S3 service is bound to the pod-dashboard app \
  AND the pod-dashboard app is configured to use S3 \
  WHEN code that depends on S3 access is exercised \
  THEN there are no errors.

## Details

When running in th

[2019-11-27 03:36] mogul opened #1153 "Redirect labs.data.gov/dashboard to dashboard.data.gov"
## User Story

In order to ensure existing links to the dashboard continue to work, data.gov operators want labs.data.gov/dashboard to redirect traffic to pod-dashboard running on cloud.gov.

### Acceptance Criteria

- [ ] WHEN we remove the dashboard hosts in the BSP environment \
  AND visit labs.data.gov/dashboard in our browser \
  THEN we see the expected pod-dashboard output \
  AND we see r

[2019-11-27 03:39] mogul opened #1154 "Get ATO for data.gov apps on cloud.gov"
## User Story

In order to enable production use of the data.gov apps on cloud.gov, we want an ATO from the TTS Tech Portfolio team.

### Acceptance Criteria
- [ ] We have an ATO letter from the TTS Tech Portfolio team approving our deployment of data.gov apps on cloud.gov.

## Details

This will involve undergoing scrutiny from the GSA OCISO via their Assessment and Authorization (A&A) process, t

[2019-11-27 03:50] mogul opened #1155 "CI/CD of pod-dashboard to cloud.gov"
## User Story

In order to minimize O+M effort and friction for pod-dashboard, we want a GitOps workflow to trigger deployment of pod-dashboard into staging and production spaces on cloud.gov.

### Acceptance Criteria
- [x] WHEN I add commits into the `master` branch of `pod-dashboard` \
  THEN CircleCI runs the unit and integration tests \
  AND CircleCI deploys the pod-dashboard app in our stagi

[2019-11-27 04:05] mogul opened #1156 "Refactor pod-dashboard's inclusion of CodeIgniter"
## User Story

In order to reduce the amount of code we maintain, make upgrades easier, and enable a more secure deployment of pod-dashboard, we want pod-dashboard to install CodeIgniter using composer rather than embedding it alongside the application code.

## Acceptance Criteria
- [x] WHEN I look at the pod-dashboard repo \
  THEN I do not see a top-level system directory \
  AND I do not see a

[2019-11-27 04:16] mogul opened #1157 "Enable testing of pod-dashboard application code"
## User Story

In order to enable confident support and modification of pod-dashboard, I want to be able to run tests that verify the behavior of critical pod-dashboard application code.

## Acceptance Criteria
- [x] GIVEN I checkout the pod-dashboard repo \
  AND I run `bin/composer install` \
  WHEN I run `make test` \
  THEN I see a test suite run and pass.

## Notes
See https://github.com/kenj

[2019-11-27 04:19] mogul commented on #793
@adborden [this is done now](https://github.com/GSA/project-open-data-dashboard#development), right?

[2019-11-27 04:28] mogul commented on #1100
This was done as part of the PHP 7.3.0 upgrade to enable testing in the CI environment.

[2019-11-27 04:39] mogul commented on #917
All remaining work identified here is now in other issues:
- [Run cronjobs](https://github.com/gsa/datagov-deploy/issues/1011)
- [Log CodeIgniter errors](https://github.com/gsa/datagov-deploy/issues/1010)
- [Respect route path](https://github.com/GSA/datagov-deploy/issues/1151)
- [Use injected S3 config](https://github.com/gsa/datagov-deploy/issues/1152)
- [Alert when crawls fail](https://github.c

[2019-11-27 04:40] mogul commented on #917
The dashboard app is demoable on cloud.gov at https://app-rested-genet.app.cloud.gov/offices/qa

[2019-11-27 05:05] adborden commented on #1148
Instructions are in the [runbook](https://github.com/GSA/datagov-deploy/wiki/inventory.data.gov#importing-from-datajson) to use [ckanpyimport](https://github.com/GSA/ckanpyimport).

[2019-11-27 05:11] mogul opened #1158 "Generate pod-dashboard image using PHP buildpack"
## User Story

In order to reduce the potential for drift between dev, test, and deploy of pod-dashboard, data.gov operators want to be able to build a buildpack-generated Docker image of the application and develop with it.

### Acceptance Criteria
- [ ] GIVEN I checkout the pod-dashboard repo \
  WHEN I run `make build; make up; make test` \
  THEN I see the application code is run through a bui

[2019-11-27 05:28] mogul opened #1159 "cloud-gov-next"
@mogul commented on [Tue Nov 26 2019](https://github.com/GSA/project-open-data-dashboard/pull/212)

Cleans up now that https://github.com/GSA/datagov-deploy/issues/917 has spawned a bunch of issues with this information.

[2019-11-27 05:29] mogul commented on #1159
ZenHub did the wrong thing in converting this PR to an issue

[2019-11-27 05:29] #1159 closed, assigned to nobody

[2019-11-27 18:31] mogul commented on #1132
@adborden should we take this out of `In Progress` until either something shakes loose on the plan side, or we push forward on creating a new GitHub org?

[2019-11-27 18:33] mogul commented on #1132
I know this issue is about private deployments (eg via self-hosted runners) but I also wanted to point out a couple decent-looking GitHub Actions for deploying to Cloud Foundry.
- https://github.com/comsysto/cloudfoundry-action
- https://github.com/citizen-of-planet-earth/cf-cli-action

I also found these, but they look less mature (eg poor recommended use of secrets):
- https://github.com/d3sando

[2019-11-27 19:36] adborden commented on #1132
I agree, GH actions would be useful in the future. GSA is working on
updating the account anyway, which should provide us access to GH actions.

For the purposes of this story, I am able to move forward testing the
actions within the new https://github.com/usdatagov account.

After this spike, if we find we're ready for GH actions, we'll prioritize
the work to migrate to @usdatagov.

On Wed, Nov 2

[2019-11-27 20:21] hkdctol opened #1161 "Correct logo for NEH organization not displaying on dataset pages"
NEH organization in catalog was recently updated with a new logo.

## How to reproduce

View logo on NEH organization in catalog, which has the correct logo. Click on any dataset and logo displayed is the old one.

## Expected behavior

Entering the URL for the correct logo should result in the logo displaying on each dataset page.

## Actual behavior

Dataset pages have the old logo.
<img width="

[2019-11-27 21:37] hkdctol commented on #1147
This has been resolved and user accounts have been added to SSA organization in inventory.

[2019-11-27 23:02] adborden commented on #1151
If it simplifies things, we can also host the app at its own domain. the /dashboard has caused some confusion with the scanning team. I also think it deserves its own domain fwiw.

[2019-11-27 23:10] adborden commented on #1150
I feel like there is a philosophical question here about whose responsibility it is to store the logs. As the title suggests, the operator needs to be notified that the job failed and an action is required. However, the notification doesn't need to include the details of the error (or the logs). Maybe the operator must go to the app to pull the logs there (e.g. the app stores it somewhere S3 or DB

[2019-11-27 23:12] adborden commented on #1154
https://before-you-ship.18f.gov/ should drive the work here.

[2019-11-27 23:15] adborden commented on #793
:+1: acceptance criteria looks met.

[2019-11-27 23:15] #793 closed, assigned to nobody

[2019-11-27 23:23] mogul commented on #1150
Good point, and I'll modify the story accordingly. Separating the concerns may also make it easier to generate the alert (eg we can have an endpoint that gets polled with the last status rather than trying to figure out mail).

[2019-11-27 23:27] mogul commented on #1151
I view that as a separate concern, more of an IA issue... On the technical
side, the app should not care what the base URL is, or at least take it in
as a parameter. So take this as just one more step in making the dashboard
more 12-factor-y.

On Wed, Nov 27, 2019 at 3:02 PM Aaron D Borden <notifications@github.com>
wrote:

[2019-11-28 00:33] adborden commented on #1151
Ah, right I understand now. Yes, I'm a fan of providing the complete base url as configuration.

[2019-11-28 00:51] adborden commented on #1100
Confirmed.

[2019-11-28 00:51] #1100 closed, assigned to nobody

[2019-11-28 01:09] mogul commented on #1151
[Example of a place where the app assumes and tries to do too much](https://github.com/GSA/project-open-data-dashboard/blob/develop/application/views/footer.php#L42-L53)

[2019-11-28 01:09] adborden opened #1162 "NetSparker: jQuery version on www.data.gov CloudFront error page is outdated"
From the [www.data.gov Netsparker November report](https://drive.google.com/open?id=0B5EC5Q83gYbodGM3Qk5Za1pHVEstN0RlcF9SQmJJOEowNTVJ), jQuery is being listed as outdated (1.10.4) on https://www.data.gov/app/plugins/simple-tooltips/. This page is returning a 500, which is served by CloudFront and not WordPress.

I'm not sure how this error page was originally generated, but WordPress is serving jQ

[2019-11-28 01:49] adborden opened #1163 "Netsparker: Active Mixed Content over HTTPS on WordPress dev"
From the [Netsparker November report](https://drive.google.com/open?id=0B5EC5Q83gYboeTBYN0JJNUtmbm9fdGZfV25HNGt4LTZsSmZZ) for WordPress dev.

[2019-11-29 17:37] adborden opened #1164 "Support auditing for application logs in weekly audit report"
## User Story

As a Data.gov Operator, I want application logs included in the weekly audit report so that I can use a notification driven workflow for the weekly requirement of auditing application activity that ties into existing audit reporting.

## Details
https://github.com/GSA/datagov-deploy-common/blob/master/files/audit-report.sh covers some general system logs.

This could be as simple as

[2019-11-29 23:37] adborden opened #1169 "Bump simplesamlphp to 1.18"
SimpleSAMLPHP should be bumped. Please follow the [release notes](https://simplesamlphp.org/docs/1.18/simplesamlphp-changelog#section_1) for upgrade instructions.

- [x] https://github.com/GSA/project-open-data-dashboard ([Pull Request](https://github.com/GSA/project-open-data-dashboard/commit/f96640dd9911d445b4ae4b7a8d03d05144f0ede4))
- [ ] ~https://github.com/GSA/open311-simple-crm~

[2019-11-29 23:46] adborden commented on #1133
https://github.com/GSA/datagov-infrastructure-live/pull/31

[2019-11-29 23:49] adborden commented on #1133
Removed from GH teams, sent an email to GSA admins to remove from the GH org.

Checked that there was no other access granted.

[2019-11-29 23:49] #1133 closed, assigned to adborden

[2019-12-02 16:25] mogul commented on #1108
Realizing that I'm basically working on this now; moving to `In Progress`.

[2019-12-02 16:27] mogul commented on #1156
Moved this back as I'm really tackling https://github.com/GSA/datagov-deploy/issues/1108 first to avoid doing too much at once.

[2019-12-02 17:56] adborden commented on #1043
https://github.com/okfn/docker-ckan supports the CKAN setup as well as initialization hooks for custom extensions. Also provides a method for working from extensions source by cloning into `src` which is mounted into the container and installed at runtime.

There is also a concept of `patches`, so if any code modifications are necessary, they can be applied at build time.

[2019-12-02 18:46] adborden opened #1171 "When an organization is deleted, cannot create a new organization with the same name"
https://github.com/GSA/datagov-deploy/issues/1147

## How to reproduce

1. Create an org SSA
1. Delete the org SSA
1. Run purge commands
1. Create a new org SSA

## Expected behavior

New SSA can be created.

## Actual behavior

Error, org already exists in the database.

[2019-12-02 18:47] adborden commented on #1147
@FuhuXia identified that the SSA organization had been deleted, but not purged from the database. To resolve, he updated the database directly to update the state.

Opened https://github.com/GSA/datagov-deploy/issues/1171 to track for a real fix.

[2019-12-02 19:14] adborden commented on #967
Original diagrams are available in [drive](https://drive.google.com/open?id=0B2PJMJtPsLN6YUlWblBjUmk4dGc).

[2019-12-02 20:16] #1147 closed, assigned to nobody

[2019-12-02 21:37] hkdctol commented on #974
Going to mark as done for now.

[2019-12-02 21:38] hkdctol commented on #913
This has been completed and agency contacts have been notified.

[2019-12-02 21:42] adborden commented on #913
@FuhuXia did you add instructions to the Runbook?

[2019-12-02 22:24] adborden opened #1172 "Move contact us to third-party CRM SaaS"
## User Story

As a Data.gov Operator, I want the "contact us" form routed to a third-party CRM SaaS so that I can link to the CRM from a static site.

## Details
As part of moving www.data.gov to a static site, we need to find a solution for each of our forms. The Contact Us form should be moved to the CRM SaaS.

## Acceptance Criteria
- [ ] Contact Us forms are updated with a link to the CRM Saa

[2019-12-03 03:52] adborden opened #1173 "Dashboard returns 502 gateway error during deploy"
Sometimes when we deploy Dashboard, Uptrends alert on a 502. We are running the plays one host at a time, so there _should_ be at least one host available to continue serving requests, but it's possible that one of the plays leave the host unavailable, causing downtime. We should better manage this "critical" section so that the dashboard is still available during this time.

Since the PHP applica

[2019-12-03 04:33] adborden commented on #1093
:shipit:

[2019-12-03 04:33] #1093 closed, assigned to adborden

[2019-12-03 04:33] adborden commented on #1136
Deployed in 20191129

[2019-12-03 04:33] #1136 closed, assigned to mogul

[2019-12-03 04:34] #1002 closed, assigned to adborden

[2019-12-03 04:34] adborden commented on #1094
Deployed in 20191129

[2019-12-03 04:34] #1094 closed, assigned to mogul

[2019-12-03 04:34] #1021 closed, assigned to adborden, ydave-reisys

[2019-12-03 04:34] #917 closed, assigned to mogul

[2019-12-03 04:34] #971 closed, assigned to adborden

[2019-12-03 04:35] #1045 closed, assigned to ydave-reisys

[2019-12-03 04:35] #974 closed, assigned to hkdctol

[2019-12-03 16:03] hkdctol opened #1174 "Uploaded datasets into inventory for National Endowment for the Humanities (NEH)"
## User Story

As a open data lead for NEH, want to have a current inventory of metadata in inventory.data.gov for NEH.

## Details
NEH open data lead recently reopened inventory.data.gov account. NEH in inventory only shows 8 datasets. NEH currently has 48 in http://www.neh.gov/data.json
Need to upload the current data.json into inventory so that NEH open data lead can work from a current enterpr

[2019-12-03 16:49] adborden commented on #1016
Updated the repro steps. If the CSW service is stopped, the behavior should be consistent.

[2019-12-03 17:46] FuhuXia commented on #913
@adborden Just did.

[2019-12-03 17:47] adborden commented on #913
Would you please link it to this issue so it's easy to find?

On Tue, Dec 3, 2019 at 9:46 AM Fuhu Xia <notifications@github.com> wrote:

--
Aaron D Borden
Lead Engineer | IT Specialist
TTS | Data.gov <https://www.data.gov>

[2019-12-03 18:04] adborden commented on #913
@FuhuXia will add list of datasets that were having a modified harvest object id.

[2019-12-03 20:56] FuhuXia commented on #913
Added instruction on Runbook https://github.com/GSA/datagov-deploy/wiki/catalog.data.gov#update-datasets-groups-and-category-tags

@adborden It does not seem possible to link the issue to a wiki page edit message, therefore I am posting the Runbook link here.

[2019-12-03 22:02] adborden commented on #913
Right, this ^ is exactly what I was after, thanks!

[2019-12-03 22:17] adborden commented on #1070
I have a branch somewhere that includes some changes to the migrations that are needed for sql alchemy...

[2019-12-03 23:02] adborden commented on #1070
Did some cherry-picking on [datagov-catalog/bump-sqlalchemy](https://github.com/GSA/ckan/compare/datagov...datagov-catalog/bump-sqlalchemy).

[2019-12-03 23:04] adborden commented on #1075
In order to bump the dependencies, like SQLAlchemy, some changes to the migrations were needed. This branch [datagov-catalog/bump-sqlalchemy](https://github.com/GSA/ckan/compare/datagov...datagov-catalog/bump-sqlalchemy) is for catalog, but I think is relevant to inventory, too. It should be rebased onto `inventory` as a starting point.

[2019-12-04 00:31] philipashlock opened #1175 "Layout + CSS updates to strategy.data.gov to reflect conceptual structure of Federal Data Strategy"

[2019-12-04 00:35] philipashlock opened #1176 "Content + Layout updates to strategy.data.gov for release of Year-1 Action Plan"
The Year-1 Action Plan for the Federal Data Strategy is being finalized and cleared thru OMB with a plan to publish soon. This also comes with some additional content and layout update proposals from OMB which have been provided in Word Documents.

New content is available here: https://drive.google.com/file/d/0B0AXBa2us_9bd0Ixd1dhbmNDWGNpTFozY0YtcFkyMndJQlI4/view?ts=5d9cc248

[2019-12-04 00:49] adborden commented on #1148
Ran into a few bugs while testing on staging. Forgot this also takes some time ~2 hours for ~1k datasets.

[2019-12-04 03:32] adborden opened #1177 "Specifying application/json for CKAN API fails on Inventory"
This looks like a bug in CKAN. When application/json is specified, it
returns 400 and the message:

Specifying application/x-www-form-urlencoded seems to keep it happy, even though it's
parsing json.

I've only seen this with POST methods.

## How to reproduce

1. Create a data file for package_create, `package_create.json`:
[code]
1. curl -v -X POST -H 'Cookie: auth_tkt=1' -H "x-ckan-api-key: $CK

[2019-12-04 03:51] adborden commented on #1174
@hkdctol can you take a look at [NEH](https://inventory.data.gov/organization/national-endowment-for-the-humanities) now?

I think I missed a critical step in purging the existing 8 datasets. I think those are now duplicated.

For example, these two look the same.
- https://inventory.data.gov/dataset/neh-state-council-activity-1998-2015
- https://inventory.data.gov/dataset/neh-state-council-activi

[2019-12-04 04:01] hkdctol commented on #1174
@adborden yes, it looks like it's the 8 that were already there plus what was in their current data.json from their website. We could let their POC just edit and decide which versions of those 8 to delete?

[2019-12-04 15:29] adborden commented on #1171
@FuhuXia looked into this and found that the error messaging is improved in CKAN 2.8.3, so upgrading would improve the situation.

https://gsa-tts.slack.com/archives/C2N85536E/p1575465463010300?thread_ts=1574781922.080700&cid=C2N85536E

[2019-12-04 16:52] FuhuXia commented on #1171
Solution for admin once seeing the error message:
1. Copy the machine name of the organization and paste into this url `/organization/edit/<machine-name>`
You are going to rename the existing machine name to something else so there is no conflict to use it for the new organization you are adding.
2. Click **Edit** next to the URL field and append `-deleted` to the existing name. Click the button a

[2019-12-04 17:39] adborden commented on #1102
Unassigning @jbrown-xentity since he won't be able to do much investigation without GSA credentials.

[2019-12-04 19:58] adborden commented on #1079
Documenting a few reasons why the GSA GH org is problematic ([slack conversation](https://gsa-tts.slack.com/archives/CH0PJ6F3R/p1570813770012900) from October):
- CircleCI is configured to only build from org users. This makes it more difficult for the public and our partners to collaborate.
- GSA policy for managing the GH org limits us to adding only users with an @gsa.gov address, which exclude

[2019-12-04 22:33] mogul commented on #1079
difficult for the public and our partners to collaborate.

Note this is fairly typical for build-systems pointing at public-facing
repositories. For example, you don't want randos to be able to make a PR
which includes code that ships deployment credentials back to them, and
allow that to run without someone at a higher level of trust OK'ing it.
CircleCI does have a setting for building forks, wit

[2019-12-04 23:11] adborden commented on #1079
I have not been able to find any docs on what settings are available at the owner or org level within CircleCI, which is why this is frustrating. Maybe there is no org-level configuration. In trying to debug why Yaditi's branches weren't building, [changing her org membership to public](https://gsa-tts.slack.com/archives/C02CD5VUQ/p1575487527388200) in GH was the only thing that worked.

So I migh

[2019-12-04 23:58] FuhuXia opened #1182 "multiple harvest_object_id in action/package_show"
Two harvest_object_ids show up in `extras` field  in action/package_show. Most of time they have different values, one being current one being old from past harvest job.

## How to reproduce

1. Open URL in browser
https://catalog.data.gov/api/3/action/package_show?id=ce4914a4-0986-473d-8674-499c39e23bc2
Here are some sample ids to use:

https://catalog.data.gov/api/3/action/package_show?id=49c853

[2019-12-05 00:07] FuhuXia commented on #913
Issue https://github.com/GSA/datagov-deploy/issues/1182 is created to describe the issue observed during this task. ckan-php-manager tagging cli reports inconsistent data before and after tagging. The diff shows that dataset `harvest_object_id` were modified.

[2019-12-05 00:07] adborden opened #1183 "Logrotate on inventory ckan logs is gzip'ing the archives"
Seeing log archives getting re-zipped e.g. `/var/log/inventory/ckan.error.log.2.gz.2.gz.1.gz.1.gz`

<img width="1074" alt="Screen Shot 2019-12-04 at 4 03 08 PM" src="https://user-images.githubusercontent.com/509703/70192239-f395f380-16af-11ea-8947-0a68f16d04dd.png">

Not sure if this affects other apps as well.

## How to reproduce

1. From inventory1p, `sudo ls /var/log/inventory`

## Expected be

[2019-12-05 00:42] adborden opened #1184 "Use upstream datapusher"
## User Story

As a Data.gov developer, I want to use the upstream Datapusher so that I don't have to maintain [code](https://github.com/GSA/datapusher) with unnecessary hacks.

## Details
https://github.com/ckan/datapusher/compare/master...GSA:master contains bumps to dependencies, some http/https hacks which are wrong, and the [Content-Type hack](https://github.com/GSA/datagov-deploy/issues/1177

[2019-12-05 00:59] FuhuXia commented on #1182
API version 2 is not affected by this bug. Only one harvest_object_id in URL:
https://catalog.data.gov/api/2/rest/dataset/[dataset-name-or-id]

[2019-12-05 02:11] adborden opened #1185 "Datapusher fails to upload dataset to Datastore on Inventory"
Datapusher is failing to upload the dataset to Datastore.
![12 04 19 Error 1 IOLP Leases](https://user-images.githubusercontent.com/509703/70197499-edf4d980-16c0-11ea-9151-403157b09852.JPG)

I _think_ this is related to a recent fix to the `/etc/hosts`, where before, datapusher was hitting Inventory via localhost:80, but now it is hitting it over the usual inventory.data.gov:443. Our Datapusher fo

[2019-12-05 02:12] adborden commented on #1185
Trying to repro this on inventory.ci.datagov.us but running into some setup issues.

[2019-12-05 02:13] adborden commented on #1061
As a work-around, you can disable the s3filestore extension.

[2019-12-05 02:16] adborden opened #1186 "Add MAX.gov support to inventory.sandbox.datagov.us"
## User Story

As a Data.gov developer, I want inventory.ci.datagov.us configured with MAX.gov so that I can debug Inventory with a similar configuration as production.

## Details
https://github.com/GSA/datagov-deploy/wiki/MAX.gov-SAML2-authentication

## Acceptance Criteria
- [x] Users can log into Inventory on ci sandbox with MAX.gov

[2019-12-05 17:58] adborden opened #1188 "Datapusher fails in staging with SSL: CERTIFICATE_VERIFY_FAILED"
Staging has a GSA provided cert, which is not included in any bundled CAs but _is_ installed on all the hosts. For the `requests` package, you should be able to specify `REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt` in order for it to get picked up.

[code]

## How to reproduce

1. `service apache2 start`

## Expected behavior

Datapusher starts successfully and processes jobs.

## Actual

[2019-12-05 22:12] adborden commented on #1174
I ended up deleting all the datasets and then running it again. There are 47 there now.

I updated the instructions in the [Inventory Runbook](https://github.com/GSA/datagov-deploy/wiki/inventory.data.gov#importing-from-datajson).

[2019-12-05 23:19] adborden opened #1190 "Do we need to migrate content from the data.gov wiki?"
There's some content on the [data.gov wiki](https://github.com/GSA/data.gov/wiki) that looks geared towards Inventory users. Is it still relevant, should we migrate it?

[2019-12-06 00:56] adborden opened #1191 "Dashboard writes to curl_header in non-concurrent-friendly way"
As far as I can tell, Dashboard prepares some curl request by [writing to `./archive/curl_header`](https://github.com/GSA/project-open-data-dashboard/blob/31f39fefade7a5ef550bce6f4a93240627bd92e1/application/helpers/api_helper.php#L94). If two requests come in at the same time and trigger this, they will end up overwriting each other, causing undefined behavior.

## How to reproduce

1. Descriptio

[2019-12-06 00:56] adborden commented on #1191
Instead, the dashboard should open a temporary file for writing on each request (or just write to an in memory file per request).

[2019-12-06 00:57] adborden commented on #1068
I think I'm seeing this behavior on staging Trusty now.

[2019-12-06 03:24] adborden commented on #742
catalog-harvester2d alarming with no space left on `/`, again. Cleared.

[2019-12-06 05:42] adborden commented on #1148
I think this is done. There are more [datasets](https://inventory.data.gov/organization/social-security-administration) than I expected (~1200), but looking at their identifiers, they are all unique.

After downloading the data.json from Inventory, running this command prints duplicates (none).

    $ cat ~/downloads/data.json  | jq -r '.dataset[].identifier'  | sort | uniq -d

Updated the instruc

[2019-12-06 06:57] adborden opened #1193 "Expand dashboard to crawl all executive agencies under the OPEN Government Data Act"
## User Story

As a OMB, I want the Dashboard to cover all executive agencies under the OPEN Government Data Act so that any metrics the Dashboard provides can apply to all agencies under the law.

## Details
[meeting notes](https://docs.google.com/document/d/1v4nqG3kI1BM39wsN4E-v5Zr54KPZr8E945K7eF_QAvE/edit).

## Acceptance Criteria
- [x] Dashboard crawls list of agencies provided by OMB.
- [x] A

[2019-12-06 06:58] adborden opened #1194 "Meet with OMB to understand user needs for the 1-year OPEN Government Data Act report"
## User Story

As a OMB, I want the Dashboard to report on metrics specific to the OPEN Government Data Act so that I can provide a meaningful 1-year report based on data to congress.

## Details
This is a placeholder, we need to meet with OMB to understand the user needs. We can do some initial work based on our [meeting notes](https://docs.google.com/document/d/1v4nqG3kI1BM39wsN4E-v5Zr54KPZr8E94

[2019-12-06 15:25] adborden opened #1195 "[Offboard] peter.burkholder@gsa.gov"
Peter was never fully onboarded, but we will go through the checklist to be thorough.

These tasks are performed by an Admin unless noted as an action for the outgoing team member.

- [x] Team member should move all Data.gov related documents to team drives
- [x] Team member should document any work in progress and schedule a hand-off for any remaining tasks
- [x] Remove team member from Data.gov

[2019-12-06 16:54] adborden opened #1196 "Dashboard crawls should support date range as a parameter"
Dashboard crawls depend on point-in-time versions of agency data.json files. If the jobs does not run on a specific day, there is no way to go back in time to get the data.json. This means that if a nightly job fails, it means data loss. If it fails several days in a row, it becomes a high priority issue.

Having a time sensitive operation is difficult for O&M.

## How to reproduce

1. Disable the

[2019-12-06 16:56] adborden commented on #1196
Not sure that we can ever fix this. We don't have a time machine and we don't control agency data.json files. Still, we can document this undesired property and identify mitigations that make it less painful for O&M.

E.g. if the daily snapshotting of data.json became commoditized, the nightly job could be parameterized with a date range, and just operate on the snapshots.

[2019-12-06 17:09] hkdctol commented on #1193
Created a google doc, based on a list from OMB, of agencies beyond existing CFO Act agencies we should consider for this task. Will also indicate whether they already have a data.json harvest source. https://docs.google.com/spreadsheets/d/1fF_N4ZJqvGzm1G2bnrudnxq5Le9syVAUp_WwQ6l2KFk/edit?usp=sharing

[2019-12-06 17:11] adborden commented on #1099
Inspected staging, the dashboard supervisor config is not getting read. The filename should end in `.conf`. Will submit a hotfix.

[2019-12-06 17:24] adborden commented on #1182
Ah, I remember seeing this when we were debugging the duplicates issue. I believe that in most cases the last Id was used, so it didn't cause any problems as far as I could tell. @FuhuXia do you think this needs to be addressed? I'm thinking we icebox this until after we get on the latest ckanext-harvester version.

[2019-12-06 17:54] adborden opened #1197 "Dashboard crawls exit 0 when they cannot connect to the database"
On CI sandbox, running the dashboard crawl jobs exit 0, even though the database is configured. This will make it impossible to detect an error if the jobs are in fact failing.

## How to reproduce

1. From the dashboard...
1. Edit /var/www/dashboard/current/.env
1. Give bogus database credentials
1. `/usr/bin/php /var/www/dashboard/current/index.php campaign status cfo-act download`

## Expected

[2019-12-06 18:13] adborden opened #1198 "DOI needs a harvest clear"
placeholder, documentation in the [wiki](https://github.com/GSA/datagov-deploy/wiki/Harvest-Cleanup).

[2019-12-06 18:24] adborden commented on #943
Removed references to CRM.

[2019-12-06 18:49] adborden opened #1199 "WordPress log warnings or errors"
Any warnings or errors in the logs should be addressed. Individual errors may be broken out into their own issues.

## How to reproduce

1. From the jumpbox...
1. `dsh -g wordpress-web -c grep -i -E "error\|warn" /var/log/nginx/error.log`

## Expected behavior

No output (no errors or warnings in the logs)

## Actual behavior

[code]

[2019-12-06 18:54] adborden opened #1200 "Unhandled "Not Authorized" error when rendering activities in Inventory"
Seeing this error in the logs. They should be addressed or filtered out.

[code]

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2019-12-06 18:59] adborden commented on #1198
@jbrown-xentity can you fill in the details, is it specifically [this section](https://github.com/GSA/datagov-deploy/wiki/Harvest-Cleanup#multiple-harvest-sources) that needs to be run?

[2019-12-06 20:07] adborden opened #1201 ""Return to" url doesn't work on CKAN"
When I click a link, e.g. https://admin-catalog.data.gov/organization/gsa-gov, I am redirected to the login screen. After logging in, I am now on the `/dataset` page, and not the page I was originally trying to get to.

## How to reproduce

1. Open https://admin-catalog.data.gov/organization/gsa-gov
1. Log in

## Expected behavior

I am redirected to https://admin-catalog.data.gov/organization/gsa

[2019-12-06 20:09] adborden opened #1202 "Harvest report contains broken URL in footer"
Harvest report contains the URL `https://admin-https://catalog.data.gov/harvest/usaid-json/job/56c7e482-2e9c-4e7b-a603-d44b57bc142e`

## How to reproduce

1. Add yourself to the harvest job report emails for GSA
1. Run the GSA harvest job
1. Open the report email

## Expected behavior

Footer links to Catalog admin.

## Actual behavior

Footer contains broken link `https://admin-https://catalog.da

[2019-12-06 20:21] adborden commented on #1195
@kvuppala will run through the steps and delegate to @hkdctol and @adborden if necessary.

[2019-12-09 21:54] adborden opened #1203 "Prevent operator login on jumpbox using ubuntu user"
Jumpbox has system users created for each operator, so logging into the host through the `ubuntu` ssh user is undesired.

From the jumpbox, Ansible accesses hosts (including the jumpbox itself) as the ubuntu user which is configured by https://github.com/GSA/datagov-deploy-common.

Updating ubuntu's [authorized_keys](http://man.he.net/man5/authorized_keys) to include a `from="${jumpbox_ips}"` rest

[2019-12-10 05:47] mogul opened #1204 "Detangle dashboard controllers"
## User Story

In order to enable easier maintenance of the dashboard code, data.gov operators want CodeIgniter controllers to be single-pupose

## Details
Some of the key controller classes in the dashboard handle very complex route patterns, and collect together unrelated operations. These should be refactored into separate controllers to make debugging and maintenance easier.

## Acceptance Cri

[2019-12-10 05:53] mogul commented on #1108
Points addressed during this research spike:
- [x] Upgrade to a supported version of CodeIgniter (In Progress, waiting on a bugfix for deployment)
- [x] [Refactor pod-dashboard's inclusion of CodeIgniter](https://github.com/GSA/datagov-deploy/issues/1010) (Same)

Issues outstanding following this research spike:

- [Refactor CodeIgniter usage](https://github.com/GSA/datagov-deploy/issues/1156) (In

[2019-12-10 16:18] hkdctol opened #1205 "Main labs.data.gov page returning 403 error"
https://labs.data.gov is unavailable

## How to reproduce

Go to https://labs.data.gov

## Expected behavior

Usually returns a page with links to data.json validator and a few other tools

## Actual behavior

403 error
<img width="1440" alt="labs" src="https://user-images.githubusercontent.com/3236989/70547402-ce393780-1b3e-11ea-8ec5-577eb84b2676.png">

[2019-12-10 16:36] FuhuXia commented on #1182
Sure, we can icebox it. Anyone running ckan-php-manager tagging task such https://github.com/GSA/datagov-deploy/issues/913 should be aware of this issue, because it will cause a false warning for dataset integrity check.

[2019-12-10 17:27] adborden commented on #1075
derp, there is also a PR https://github.com/GSA/ckan/pull/66

[2019-12-10 17:27] adborden commented on #1070
This was a PR for inventory https://github.com/GSA/ckan/pull/66

[2019-12-10 19:19] jbrown-xentity commented on #1198
Actually, no. The following DB command can be run to "stop" the current harvest (aka mark the hung harvest objects as errors) and allow the harvest job to be marked as completed.

[2019-12-10 19:28] jbrown-xentity commented on #1198
`UPDATE harvest_object
SET state='ERROR'
WHERE (state = 'IMPORT' OR state='FETCH' OR state='WAITING')
AND harvest_job_id = 'id-of-job'; `

Apparently the job at some point in the last few days released itself, so I'll be marking this as resolved.

[2019-12-10 19:29] #1198 closed, assigned to nobody

[2019-12-10 20:45] gbinal commented on #871
@adborden, @hkdctol - any thoughts on this?  **We need to ship this before the end of this calendar year, the deadline that the CIO gave every API program.**   Please let us know any questions or if you need help.

[2019-12-10 21:25] adborden opened #1206 "Broken link checking for static sites"
## User Story

As a content editor, I want links on any Data.gov static sites checked regularly in CI so that I can be notified when a link needs to be updated and provide working links.

## Details
Our static sites use [htmlproofer](https://github.com/gjtorikian/html-proofer) which supports checking links on the site. However, sometimes we disable this functionality, and in some cases we run it o

[2019-12-10 21:26] adborden commented on #570
No longer applies to component/static since we moved to Federalist.

[2019-12-10 21:56] adborden commented on #871
I've moved this to the top of our backlog but we've still got a number of
high-priority security and compliance items to work through. Our contract
team is still ramping up and many of them are still part time. We'll get to
it as soon as we can.

On Tue, Dec 10, 2019 at 12:45 PM Gray Brooks <notifications@github.com>
wrote:

--
Aaron D Borden
Lead Engineer | IT Specialist
TTS | Data.gov <https://w

[2019-12-10 22:00] adborden commented on #871
@jbrown-xentity @FuhuXia instead of going the full [ckanext-openapiviewer](https://github.com/bcgov/ckanext-openapiviewer) route, how can we just drop a static json file within the CKAN root e.g. `catalog.data.gov/api/spec.json`?

[2019-12-11 14:45] gbinal commented on #871
Thanks, @adborden.    +1 to using a static file as an easier deliverable to get out the door.

One thing to clarify is that you’re welcome to host that spec file there, but as part of the API docs, the need will actually be just to host it in the github repo below.

Note the folders in -
https://github.com/GSA/open-gsa-redesign/tree/master/_apidocs

Note 3b in -
https://github.com/GSA/open-gsa-red

[2019-12-11 16:18] adborden commented on #1138
Submitted a ticket to remove the DNS entries:
- crm-bsp.data.gov
- crm-labs.data.gov

[2019-12-11 16:21] adborden commented on #880
Closing this, since the forms were redirected.

https://github.com/GSA/datagov-deploy/issues/1138 has the plan for decommission.

[2019-12-11 16:21] #880 closed, assigned to nobody

[2019-12-11 16:39] adborden commented on #871
Bummer, I think they made that repo private so I can't access the docs.

So in order to meet the compliance deadline, we just need to add the spec file to https://github.com/GSA/open-gsa-redesign?

[2019-12-11 19:03] gbinal commented on #871
Ah, right.  Sorry. Something came up earlier this morning, but that shouldn't last more than a day or two.

Yes though.  Those links clarify this, but you'll want to host the file at https://github.com/GSA/open-gsa-redesign/blob/master/_apidocs/datadotgov/v1/openapi.yaml

[2019-12-11 19:57] adborden commented on #1132
I think ultimately, the self-hosted runners bring in more uncertainty than with Jenkins. I think technically it's simpler and with fewer features but compliance-wise I think it's on par with Jenkins. I think the deal-breaker might be no access control for build logs.

## Overview

GitHub actions support "self-hosted runners" which run their software on your infrastructure. The actions are [configu

[2019-12-12 00:05] adborden commented on #913
@FuhuXia were you going to add a test for this? https://github.com/GSA/ckan-php-manager/pull/4#issuecomment-561279377

[2019-12-12 00:38] adborden commented on #1016
We were not able to reproduce this on staging. I wonder if it is behavior related to cloudfront, which we only have enabled in production. I checked the configuration but I don't see anything that might cause this behavior.

[2019-12-12 00:38] #1016 closed, assigned to adborden

[2019-12-12 00:42] adborden commented on #1031
Pinged MAX.gov folks.

[2019-12-12 00:44] adborden commented on #581
Still waiting on the latest commits.

[2019-12-12 00:53] adborden commented on #831
I think we can close this, I'm not sure there's any work to do here. I think the 10x folks will be working on this.

[2019-12-12 04:48] mogul commented on #545
Although it says `A PHP Error was encountered`, the PHP output was `Severity: Warning`, so in technical terms the migration code completed.

[The app now handles its own migrations](https://github.com/GSA/project-open-data-dashboard/commit/2e376fbf3f3e3494da774335e3be0114fe02ee52); going to close this.

[2019-12-12 04:48] #545 closed, assigned to nobody

[2019-12-12 06:26] mogul commented on #1152
I chose to go [the environment-variables route](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_environment.html).

Still to do:
 - In `datagov-infrastructure-modules`
  - [ ] Add an S3 bucket for the CI environment.
 - In `datagov-deploy`
  - [ ] Add the S3 bucket credentials to the CI config and the `.env` file template

[2019-12-12 17:13] hkdctol commented on #944
@crysacarter
I think this can be closed as the requests have been getting through, let us know if you think otherwise

[2019-12-12 17:17] hkdctol commented on #1122
We have morning of Wednesday 12/18 for in person meeting with Data.gov PMO and REI teams.

Options:
Roadmap - higher level discussion of priorities. We have a lot of tech debt and tickets, but what's next re: infrastructure move, cloud.gov, GCP, modernize Data.gov CKAN, and relationship to work on the other contract

Hackathon - curated list of issues that we can co-work

Other?

We can do either

[2019-12-12 19:43] crysacarter commented on #944
resolved

[2019-12-12 19:43] #944 closed, assigned to crysacarter

[2019-12-12 20:10] kvuppala commented on #967
Updated the SSP with new system and network diagram.

[2019-12-12 21:04] adborden opened #1223 "CKAN API access to staging environment"
## User Story

As a an Agency developer, I want API access to a test environment so that I can test and develop against the CKAN API without worrying about screwing something up.

## Details

## Acceptance Criteria
- [ ] Access to the staging or test environment API is not restricted to VPN access.

[2019-12-13 01:13] mogul commented on #1109
Closing as dupe of https://github.com/gsa/datagov-deploy/issues/1193

[2019-12-13 01:13] #1109 closed, assigned to nobody

[2019-12-13 01:31] mogul opened #1224 "Pre-populate dashboard with agency IDs"
In order to document and make it easy to expand the set of agencies that the dashboard crawls, we want the set of agency IDs in the production database to be captured in a DB migration in the code repository.

**Acceptance Criteria**

- [x] GIVEN I have a dashboard deployment configured to use an empty database \
  WHEN I run `php public/index.php migrate` \
  THEN the database has a table `office

[2019-12-13 16:21] adborden opened #1225 "Bump WordPress to 5.2.5"
Security release for all WordPress versions https://wordpress.org/news/2019/12/wordpress-5-3-1-security-and-maintenance-release/

[2019-12-13 18:12] kvuppala commented on #1195
@adborden Still lot more check and confirm, I have ensured on few areas where I have access to see user list.

[2019-12-13 19:18] crysacarter opened #1227 "Add list views to https://www.data.gov/open-gov/"
https://www.data.gov/open-gov/

above map representation - "list views"

Files attached.
[citycountyopensites.xlsx](https://github.com/GSA/datagov-deploy/files/3962349/citycountyopensites.xlsx)

[stateopensites.xlsx](https://github.com/GSA/datagov-deploy/files/3962350/stateopensites.xlsx)

[internationalopensites.xlsx](https://github.com/GSA/datagov-deploy/files/3962351/internationalopensites.xlsx

[2019-12-13 19:32] adborden opened #1228 "Catalog playbook does not start pycsw service if it is stopped"
Seeing the smoke test fail for CSW service when running the catalog playbook. This is because the smoke test runs before the pycsw playbook. The CSW smoke tests should be moved into the pycsw playbook.

## How to reproduce

1. From one of the catalog-web hosts:
1. `sudo supervisorctl stop pycsw-collection`
1. Run the catalog-web.yml playbook from jumpbox

       $ ansible-playbook catalog-web.yml

[2019-12-13 19:55] adborden opened #1229 "New Relic alerts for supervisor programs"
## User Story

As a Data.gov operator, I want to be notified when a long-lived supervisor process is not running so that I can take action when a critical service is stopped.

## Details
Long-lived processes in supervisor, like pycsw web services don't alert when they are stopped.

## Acceptance Criteria
- [ ] Production processes alert to slack as alert
- [ ] Staging processes alert to email as w

[2019-12-13 19:56] mogul opened #1230 "Migrate incident response process to wiki"
## User Story

In order to make our incident response process transparent and easy to consume, we want our IR process publicly published in the `datagov-deploy` wiki with collapsing markup around the "added detail" sections.

## Details
In our most recent IR exercise, [we found](https://docs.google.com/document/d/1b3oRB-JD056REaSfHcmdRB5NPAWVqQh-onfvHihHb4g/edit#) that it was hard to take in the f

[2019-12-13 20:50] adborden commented on #1195
Rotation of the Ansible Vault key to be handled in https://github.com/GSA/datagov-deploy/issues/652

[2019-12-13 20:50] #1195 closed, assigned to adborden

[2019-12-14 00:50] adborden commented on #1225
Thanks @ydave-reisys this is on production now.

[2019-12-14 00:51] #1225 closed, assigned to ydave-reisys

[2019-12-15 20:36] adborden opened #1233 "Make dashboard scan reports actionable"
## User Story

As a Data.gov operator, I want the dashboard to create scan reports with clear actionable steps so that I am not distracted by reports that require no action and I have some idea of what to look for next when an action needs to be taken.

## Details

Snippet from the existing daily report. This looks like a successful run, but it's unclear if I need to investigate further.

[code]

[2019-12-15 20:37] adborden opened #1234 "Dashboard scan could not create directory"
From a recent report:
[code]

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2019-12-15 22:53] adborden commented on #1224
Not sure if this is a separate story but want to mention it here. Since
that API was deprecated years ago there might have been some drift in
agencies and components. Should we make our Ids/URLs not tied to something
that changes?

On Thu, Dec 12, 2019, 5:31 PM Bret Mogilefsky <notifications@github.com>
wrote:

[2019-12-16 05:57] mogul commented on #1224
I don't know. Ideally there'd be something else we can treat as canonical
to replace the API. If not, then maybe we can just convert the PK to a
UUID, and leave the existing ID as a legacy field useful in rough matching
in future...?

On Sun, Dec 15, 2019 at 5:54 PM Aaron D Borden <notifications@github.com>
wrote:

[2019-12-16 18:04] #1174 closed, assigned to adborden

[2019-12-16 18:04] #1148 closed, assigned to adborden

[2019-12-16 18:05] #1108 closed, assigned to mogul

[2019-12-16 18:05] #1132 closed, assigned to adborden

[2019-12-16 18:05] #967 closed, assigned to adborden, kvuppala

[2019-12-16 18:06] mogul commented on #1031
@hkdctol volunteered to ping harder.

[2019-12-16 18:08] mogul commented on #581
Aaron's going to try to move this forward this sprint, particularly as the lack of automated testing for dashboard and Wordpress has been a hindrance.

[2019-12-16 18:12] mogul commented on #1018
Remaining two items aren't necessary for Kishore, so we'll call this one Done.

[2019-12-16 18:14] mogul commented on #1019
@adborden said he'd follow up on `Grant access to AWS OPP account`; Fuhu should ping since it's a synchronous thing they need to handle in Slack.

[2019-12-16 18:15] mogul commented on #1020
The remaining three items weren't necessary for Malcom... Calling this one `Done`!

[2019-12-16 18:17] mogul commented on #717
This issue's blocked until we resolve the hang we're seeing.

[2019-12-16 18:18] mogul commented on #1122
Hyon, Bret, and Aaron will wrap this up today

[2019-12-16 18:20] mogul commented on #1125
Aaron's opened draft PRs for most of the branches that look like they still have work worth delivering, and closed others. He'll finish going through the rest of the branches and making PRs before we call this done; we'll then take the PRs in our normal prioritization flow.

[2019-12-16 18:23] mogul commented on #1131
There's been a contractor change on the BSP side that makes the friction here higher than we really want to take on right now given the small improvement... Going to `Icebox` this for the future.

[2019-12-16 18:27] mogul commented on #1224
to replace the API.

@philipashlock do you know of anything available or in progress that we can refer to for agency/component layout?

[2019-12-16 18:28] mogul commented on #913
Fuhu's going to add a test before we call this one done.

[2019-12-16 18:35] mogul commented on #1046
@adborden can you tag the in-progress PR here?

[2019-12-16 18:38] adborden commented on #1046
Done ^

[2019-12-16 18:44] mogul commented on #1205
We unblocked one user by giving them a URL directly to the tool they needed on the dashboard, but anyone else who normally goes through this page to reach their destination is likely getting derailed.

Aaron thinks resolving this is just a matter of adding `labs.data.gov` to the whitelisted domains for Wordpress.

[2019-12-16 18:52] mogul commented on #871
Our plan is to start by forking the British Columbia precedent. However, we don't have access to that repository to deposit our modified version... @gbinal would you be able to put the file there for us?

[2019-12-16 19:00] mogul commented on #1139
We're planning to move the issues implicated in that milestone to the datagov-deploy repo and set a deadline/milestone here so we don't lose track of this one.

[2019-12-16 19:03] mogul commented on #1176
@philipashlock we're doing some sprint planning... Can you confirm today or tomorrow that you're still planning to work on this, and that you think you can get it to conclusion in the next couple weeks?

[2019-12-17 01:40] adborden opened #1236 "Replace Uptrends for uptime monitoring and status page"
## User Story

As a [user description], I want [behavior description] so that [goal].

## Details
Placeholder story: Uptrends is likely expiring in February 2020. The Tech Portfolio may be working on a solution.

Uptrends does not provide a public statu6page, but that would be a "nice to have".

## Acceptance Criteria
- [ ]

[2019-12-17 20:26] gbinal commented on #871
@mogul - yes.  Can you email or slack DM it to me and I'll upload it?

[2019-12-17 21:55] adborden commented on #1205
Merged, but not deployed.

[2019-12-19 05:44] mogul opened #1238 "data.gov main site should update to a USWDS theme"
## User Story

In order to make maintenance easy and match other federal websites, the data.gov WordPress site (or the Federalist equivalent to come) should use a theme based on the US Web Design Standards.

## Details

The theme in use for our current WordPress site is not based on USWDS, so we don't benefit from the consistency and maintenance updates happening there. Presuming we stay with Word

[2019-12-20 02:26] adborden opened #1239 "Include harvester instance Id in log messages"
## User Story

As a Data.gov operator, I want the harvester instance Id included in log messages so that I can quickly tell which harvesters are healthy by looking at when its most recent activity was.

## Details
I'm not sure this is the best solution, maybe we want each harvester to print to its own log file. When harvesters are stuck, we want to make sure the harvest processes are running succe

[2019-12-20 18:26] mogul opened #1241 "Provide dynamic OPENAPI docs and spec from catalog.data.gov"
## User Story
As a data.gov API user, I want a dynamically-generated OPENAPI specification hosted at the root of the catalog.data.gov API endpoint so that I can easily use the ecosystem of OPENAPI tools to interact with the catalog.

### Details/background
* There appears to be a [CKAN-native way to generate this](https://github.com/bcgov/ckanext-openapiviewer).

## Acceptance Criteria
- [ ] WHEN

[2019-12-20 20:48] adborden opened #1242 "SDG search page is not readable in high contrast mode"
SDG search page is not readable in high contrast mode. The text remains black against a black background.

- [ ] This was reported by a user on datagov@, please update the user once we have a resolution.

## How to reproduce

1. https://sdg.data.gov/search/?food
1. In the top right, click the high-contrast mode button (black circle with yellow "A").

## Expected behavior

Text is readable.

## Act

[2019-12-20 20:51] adborden opened #1243 "Update SDG theme"
## User Story

As a Data.gov developer, I want SDG updated with the latest version of the [open-sdg theme](https://github.com/open-sdg/open-sdg) so that I know I have the latest features and bug fixes..

## Details

## Acceptance Criteria
- [ ] SDG is running open-sdg 0.10 or higher

[2019-12-20 20:52] adborden commented on #1242
Not sure if this is an issue with us or the upstream theme. Would like to get the theme updated in case the issue is fixed https://github.com/GSA/datagov-deploy/issues/1243

[2019-12-20 21:48] hkdctol opened #1244 "New harvester for DOT atlas data"
## User Story

Department of Transportation wants a test of a new harvester for certain atlas data (currently a WAF source on catalog.data.gov) before changing the source in production.

## Details
Test https://maps.dot.gov/NTADmetadata/ as a harvest source on staging
Check results.
Delete the current source http://maps.bts.dot.gov/webservices/NTADmetadata and replace with new source.

## Acceptan

[2019-12-20 22:44] adborden commented on #904
I didn't realize before, but CloudFront is in the OPP account, so we can easily inspect and adjust the thresholds.

[2019-12-21 00:08] adborden opened #1247 "After attempting to upload an organization logo, cannot edit the organization logo"
@hkdctol reported that when trying to update the logo for [BLS](https://inventory.data.gov/organization/edit/us-department-of-labor-bureau-of-labor-statistics), she first uploaded a PNG, which didn't work (CKAN does not host organization logos, you must link externally). But then, we could no longer update the image URL.

<img width="1440" alt="Screen Shot 2019-12-20 at 4 04 28 PM" src="https://us

[2019-12-21 00:15] adborden commented on #1247
I'm going to update the image URL through the API as a work around.

Interestingly, it looks like the logo was successfully uploaded to S3. Maybe image_display_url and image_url were somehow swapped?

[code]

[2019-12-21 00:46] adborden opened #1248 "Update organization image_url succeeds, but url is unchanged"
In trying to work around https://github.com/GSA/datagov-deploy/issues/1247, I tried to edit the image_url of BLS using the API. Despite a successful response, the URL was unchanged.

I tried with `organization_update` and `organization_patch` but got the same behavior. However, if I tried to update the `description`, it worked, even in the same request where image_url and image_display_url were sp

[2019-12-21 00:47] adborden commented on #1247
My attempt at the API didn't work. Instead, I found a hidden "remove" button in the input. I un-hid the button, clicked it. Then I was able to specify the new URL.

[2019-12-21 01:18] adborden commented on #871
Spec file available: https://gist.github.com/adborden/c65dfdb690f5801c81bdc8544b9e8511

[2019-12-21 01:21] adborden commented on #1241
There's some back story and some resources in https://github.com/GSA/datagov-deploy/issues/871

[2019-12-21 01:21] #871 closed, assigned to adborden

[2019-12-21 01:22] #1018 closed, assigned to adborden, kvuppala

[2019-12-21 01:22] #1020 closed, assigned to adborden, MJoseph-REISys

[2019-12-21 01:22] #1122 closed, assigned to hkdctol

[2019-12-21 04:13] adborden opened #1249 "Inventory redirects to saml2_unauthorized"
Sometimes inventory redirects to https://inventory.data.gov/saml2_unauthorized instead of the login page. This is behavior is confusing since you must click "log in" to get out of it.

https://inventory.data.gov/saml2_unauthorized

![Screenshot from 2019-12-20 20-11-33](https://user-images.githubusercontent.com/509703/71302846-04f42680-2365-11ea-878a-78e6ba75ef5f.png)

## How to reproduce

1. Open

[2019-12-22 19:22] mogul commented on #871
@gbinal over to you now!

[2019-12-22 23:11] JJediny commented on #871
@adborden @mogul catalog.data.gov/api/spec.json is not resolving; is there a path on the site's domain for this now?

[2019-12-23 18:08] hkdctol commented on #947
This was completed in the last release for resources.data.gov

[2019-12-26 15:46] adborden commented on #871
We're not hosting it on catalog yet, we'll do that as part of https://github.com/GSA/datagov-deploy/issues/1241. For this story, we just needed to meet GSA's compliance requirements, which was to provide the spec file for them to host on open.gsa.gov.

[2019-12-26 23:31] hkdctol commented on #1135
Same problem observed today with Sioux Falls, SD source and Lake County, IL source

[2019-12-27 18:08] #1205 closed, assigned to adborden

[2019-12-27 18:08] #1099 closed, assigned to adborden

[2019-12-27 18:08] #1156 closed, assigned to mogul

[2019-12-27 18:08] #1152 closed, assigned to mogul

[2019-12-27 18:08] #1185 closed, assigned to adborden

[2019-12-27 18:09] #947 closed, assigned to nobody

[2019-12-27 18:28] mogul commented on #1234
Still having trouble with this one. Although `archive/digitalstrategy` is preserved in the dashboard's git repo, production uses the `shared` directory to preserve artifacts across deployments, and the `archive` directory there doesn't include `digitalstrategy`. So we either need to have ansible ensure it exists, or change the PHP code to create it if it doesn't exist.

I'm thinking the latter is

[2019-12-30 18:07] mogul commented on #1031
@hkdctol when you're back: Any word?

[2019-12-30 18:08] mogul commented on #717
@FuhuXia when you're back: Can we put some time on the calendar to work on this one?

[2019-12-30 18:10] mogul commented on #976
@hkdctol and @crysacarter: This Epic is listed as `In Progress`. Can you confirm that you two are still working on this, or if there's no more work to do?

[2019-12-30 18:14] mogul commented on #1019
@FuhuXia as far as we know this is `Done`... Shout if you think otherwise!

[2019-12-30 18:16] mogul commented on #894
@hkdctol and @philipashlock we see [this Case Studies page](https://resources.data.gov/case-studies/)... Does that represent the outcome of this work or is there more to do?

[2019-12-30 18:20] mogul commented on #717
https://github.com/gsa/datagov-deploy/issues/1068 is the specific problem to be resolved to unblock this.

[2019-12-30 18:26] mogul commented on #1102
Closing as we haven't seen this recently; can always reopen in future!

[2019-12-30 18:26] #1102 closed, assigned to nobody

[2019-12-30 18:27] mogul commented on #1176
@philipashlock we're marking this `Done` as there are no more related issues and a release was made... Let us know if that's not the case!

[2019-12-30 18:30] mogul commented on #1139
@mogul will follow up on moving those issues over to the main repo so we can close this issue.

[2019-12-30 18:42] mogul commented on #1171
Sounds like this may be addressed upstream in newer CKAN versions... Going to icebox this.

[2019-12-30 18:44] mogul commented on #1175
@philipashlock can you give us a sense of how urgently this needs to be addressed? We're trying to figure out if it should go in the Icebox or Backlog, and if the Backlog, in what position.

[2019-12-30 18:48] mogul commented on #1190
@hkdctol do you have any insight on this? Should this issue be part of epic #976?

[2019-12-30 18:49] mogul commented on #1201
Only hitting admins, so we're Icebox'ing this.

[2019-12-30 18:52] mogul commented on #1223
We have an idea for a workaround (setting the agency up in an isolated organization in inventory in production) that doesn't require opening access to a staging environment.

[2019-12-30 18:56] mogul commented on #1227
@crysacarter There are links that pop up those list views already. What are you after here... Updating the content of the lists? Having a separate way to download the XLSX/CSV?

[2019-12-30 19:01] mogul commented on #1233
Related to #1010, in that we want problems to be surfaced in centralized logs and generate alerts.

[2019-12-30 21:46] adborden commented on #1171
Just filling in some detail... It looks like CKAN 2.8 supports [organization_purge](https://docs.ckan.org/en/2.8/api/index.html#ckan.logic.action.delete.organization_purge) from the API. and https://github.com/ckan/ckan/pull/5127 allows this to be done from the UI.

[2019-12-30 22:08] adborden commented on #1234
+1 for move the directory creation to the application. I think that's
what's going to have to happen for cloud.gov anyway, right?

On Fri, Dec 27, 2019 at 10:28 AM Bret Mogilefsky <notifications@github.com>
wrote:

--
Aaron D Borden
Lead Engineer | IT Specialist
TTS | Data.gov <https://www.data.gov>

[2019-12-30 22:41] mogul opened #1253 "Resolve content-sniffing problem"
[details](https://docs.google.com/document/d/1_25KPRLpFC2r_2cJXoa91sUT_2llvf-qpbEX5-2pQog/edit#heading=h.3pl1zeqv3zo3)

(migrated from https://github.com/GSA/datagov-incident-response/issues/57)

[2019-12-30 22:44] mogul opened #1254 "Resolve secure pages with mixed content"
[details](https://docs.google.com/document/d/1_25KPRLpFC2r_2cJXoa91sUT_2llvf-qpbEX5-2pQog/edit#heading=h.3n9ptwkrh18o)

(migrated from https://github.com/GSA/datagov-incident-response/issues/58)

[2019-12-30 22:46] mogul opened #1255 "Resolve XSS filter misconfiguration"
[details](https://docs.google.com/document/d/1_25KPRLpFC2r_2cJXoa91sUT_2llvf-qpbEX5-2pQog/edit#heading=h.w7m9co7bbwh4)

(migrated from https://github.com/GSA/datagov-incident-response/issues/56)

[2019-12-30 22:48] mogul opened #1256 "Data-A-2020-4: Resolve reverse tabnabbing"
[details](https://docs.google.com/document/d/1_25KPRLpFC2r_2cJXoa91sUT_2llvf-qpbEX5-2pQog/edit#heading=h.st7z9e6yphln)

(migrated from https://github.com/GSA/datagov-incident-response/issues/55)

[2019-12-31 01:33] hkdctol commented on #976
@crysacarter has done a first pass but I will take a look too after annual leave.

[2019-12-31 17:00] adborden opened #1257 "ckanext-datagovtheme styles and assets should not depend on www.data.gov"
## User Story

As a Data.gov developer, I want everything ckanext-datagovtheme needs to run included so that I don't get strange behavior when a remote dependency is unavailable and causes things to load in an undefined way.

## Details

ckanext-datagovtheme depends on www.data.gov for a few things.
- [background images](https://github.com/GSA/ckanext-datagovtheme/blob/ca23c1e61e7ad432a2d3e2eb88f1

[2019-12-31 17:01] adborden opened #1258 "Update references to project-open-data in code to resources.data.gov"
## User Story

As a [user description], I want [behavior description] so that [goal].

## Details

## Acceptance Criteria
- [ ]

[2019-12-31 23:52] adborden commented on #1125
Just removed another dozen branches from datagov-deploy. I think we're all set here.

[2020-01-02 19:21] adborden commented on #1139
#1256 #1255 #1254 #1253 were created. @mogul I'm going to close this out. Please open if there's anything left to do here.

[2020-01-02 19:21] #1139 closed, assigned to nobody

[2020-01-02 19:45] adborden opened #1260 "Dashboard detail pages 404"
https://labs.data.gov/dashboard/offices/detail/49229/2020-02-29

## How to reproduce

1. Open https://labs.data.gov/dashboard/offices/detail/49229/2020-02-29

## Expected behavior

Shows crawl details for Department of Defense, status code is 200.

## Actual behavior

Status code is 404.

[2020-01-02 19:52] adborden opened #1261 "Data.json validation tool cannot find schema for validation and fails with uncaught exception"
Validation tool is failing with an uncaught exception. It looks like it's failing to find the schema files. This affects the file upload validation and the URL validation.

[code]

## How to reproduce

1. Download a data.json file e.g. https://open.gsa.gov/data.json
1. Open https://labs.data.gov/dashboard/validate
1. Under "Validate data.json URL", enter `https://open.gsa.gov/data.json` for the UR

[2020-01-02 20:08] adborden opened #1262 "Datapusher fails to upload: Error: Process completed but unable to post to result_url"
https://inventory.data.gov/dataset/inventory-of-owned-and-leased-properties-3983/resource_data/e7922d4d-aed1-44b2-85c4-5cffcb9bfe94

In the datapusher logs (/var/log/inventory/datapusher.error.log):
[code]

## How to reproduce

1. Open https://inventory.data.gov/dataset/inventory-of-owned-and-leased-properties-3983/resource_data/e7922d4d-aed1-44b2-85c4-5cffcb9bfe94
1. Click "Upload to Datastore"

[2020-01-02 20:23] adborden commented on #1262
This looks like a bug in datapusher/messytables/xlrd. I'll start with datapusher.

[2020-01-02 20:35] adborden commented on #1262
I opened https://github.com/ckan/datapusher/issues/183, but I'm not really sure what the root cause is.

[2020-01-03 18:50] adborden opened #1265 "PHP warning on content-opengov.php"
[code]

[2020-01-03 19:49] adborden opened #1267 "Dataset update notifications"
## User Story

As a data user, I want a notification when a dataset is updated so that I know when I need to download and review new information.

## Details
RSS/push notification/etc.

## Acceptance Criteria
- [ ] When I view a dataset in CKAN, then there is a button or link instructing me how to subscribe.
- [ ] When the dataset is updated, given I'm subscribed to a dataset, then I receive a not

[2020-01-03 19:55] adborden opened #1268 "Bump python to 3.8"
## User Story

As a Data.gov developer, I want all of our projects using Python 3.8 so that I have the latest features and bugfixes.

## Details

## Acceptance Criteria
- [ ] Projects are using 3.8 in Pipfile, .pyenv-version, etc.

[2020-01-06 20:54] adborden opened #1272 "Weak ciphers enabled"
Full details in the [January Netsparker report](https://drive.google.com/open?id=0B5EC5Q83gYboZ21kak5zVS1oNE1GSElqb3hFVTk0UURueHo0). Update the SSL ciphers used.

This might only affect staging. Even though only dashboard was identified in the report, wordpress uses a similar configuration.

## Acceptance Criteria
- [ ] When I test the weak ciphers mentioned in the report against dashboard and wor

[2020-01-06 21:13] adborden opened #1273 "404s in CKAN are reported to New Relic as individual events"
New Relic [notified](https://groups.google.com/a/gsa.gov/forum/#!searchin/datagovhelp/new$20relic%7Csort:date/datagovhelp/eN421ilahlQ/v2MlWCqSCwAJ) us that there were a large number of unique transactions being produced on inventory. This was caused by a third-party pen test or scan. However, the 404 controller could be improved so that these routes aren't reported to NR as unique events.

From Ne

[2020-01-07 01:17] adborden commented on #742
catalog-harvester2d alarming with no space left on /, again. Cleared.

[2020-01-07 04:46] mogul commented on #999
Finally had a chance to read the SSP. I have some questions for Aaron that I'll bring up in our next coworking session, but I think I can finally put this issue to bed.

[2020-01-07 19:06] adborden commented on #1047
@ydave-reisys can you test this in the sandbox before we call this done?

[2020-01-08 17:52] adborden opened #1276 "Uncaught Error: Call to undefined method stdClass::isValid() in SAML 2.0 Single Sign-On"
From WordPress email notification:
[code]

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-01-08 18:07] mogul commented on #581
Aaron's planning to break these roles out into their own repositories to reduce build times/dependencies.

[2020-01-08 23:04] adborden commented on #1047
After testing on sandbox, we identified a few more fixes that need to happen ^

[2020-01-09 01:51] adborden commented on #1031
MAX got back to us. They are using CAS, not SAML, and with a modified plugin. I've sent them our SP metadata and config with a best guess for values I'm not sure about.

[2020-01-09 16:56] mogul commented on #1224
If Phil responds, I'll make a separate story for decoupling URLs from the office IDs. Meanwhile the merged PR above addresses this story.

[2020-01-09 17:14] mogul commented on #1224
(Technically this is not `Done` yet since the code hasn't reached production, but the change only affects non-production environments so I've moved it over anyway.)

[2020-01-09 18:12] philipashlock commented on #1224
@mogul here's the new Federal Agency Directory API - https://github.com/usagov/USAGov-Platform-API-Documentation/wiki

e.g. https://usagov.platform.gsa.gov/usaapi/api/v1/usagov/directory_records.json

And for general reference, my master doc on the broader effort to establish more of a consolidated canonical registry of agency IDs can be found at https://docs.google.com/document/d/1vsusqxsgHqFhzaH

[2020-01-09 18:27] mogul commented on #1175
Phil published the updates.

[2020-01-09 19:28] adborden opened #1278 "[spike] test CKAN performance when using IaaS solr from cloud.gov CKAN app"
## User Story

As the data.gov team, we want to test the behavior of CKAN when the Solr instance is not "close" (network boundary or latency-wise) so that we can be confident that we have flexibility in where and how we operate our Solr service after moving inventory and catalog to cloud.gov.

## Details

## Acceptance Criteria
- [ ] We have comparable New Relic ApDex metrics for our existing and

[2020-01-09 23:13] adborden opened #1280 "When the dashboard crawl scans an unresolvable DNS, the crawl dies"
When scanning all agencies, www.energysavers.gov shows up but is not resolvable in DNS. This causes the crawl to die.

[code]

I think this is related to one of our SSRF "fixes", likely in `campaign->filter_remote_url`. We'll want to make sure this doesn't regress the [SSRF issues](https://github.com/GSA/datagov-incident-response/issues?q=is%3Aissue+ssrf+is%3Aclosed).

## How to reproduce

1. `/us

[2020-01-10 17:10] jbrown-xentity opened #1283 "aureport not functioning as expected"
Current environment not showing complete logs. The component that is not working is `aureport`, probably has to do with `auditd`.

## How to reproduce

1. Description of steps to reproduce the issue.
Follow [Security Audit process](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities#au-6-log-auditing). The second step produces logs with no data (notes from 1-1-197

[2020-01-10 18:28] #1224 closed, assigned to mogul

[2020-01-10 18:28] #1234 closed, assigned to mogul

[2020-01-10 18:28] #1125 closed, assigned to adborden

[2020-01-10 18:28] #1260 closed, assigned to mogul

[2020-01-10 18:28] #1261 closed, assigned to mogul

[2020-01-10 18:28] #999 closed, assigned to mogul, adborden

[2020-01-10 18:28] #1019 closed, assigned to adborden, FuhuXia

[2020-01-10 18:28] #1175 closed, assigned to nobody

[2020-01-10 19:24] adborden commented on #1278
As part of this, we'll want some kind of estimate about CKAN memory usage so we have a sense of what to budget on the agreement.

[2020-01-11 17:19] adborden commented on #1031
Uploaded SP metadata to our [MAX.gov Community page](https://community.max.gov/pages/viewpage.action?pageId=1109066197).

[2020-01-13 18:16] mogul commented on #1047
@adborden is this still in `In Progress`? Or is it already `Done`?

[2020-01-13 18:25] mogul commented on #1091
@adborden do we have to go through BSP to get our Cloudfront configuration changed? Or do we have access to make this change ourselves?

[2020-01-13 18:32] mogul commented on #1162
@adborden same question here: Do we have access to manipulate Cloudfront on our own if it turns out that clearing the cache is enough to resolve this?

[2020-01-13 18:40] mogul commented on #1031
@adborden at this point is this issue blocked on action from the max.gov team?

[2020-01-13 20:38] jbrown-xentity opened #1287 "CKAN Inventory DB clear"
On the CKAN inventory (at least in development environment), the CKAN command for clearing the database crashes the command console and never finishes. No error logs are noted.

## How to reproduce

1. Pull and run `make up-with-data` for the [inventory](https://github.com/GSA/inventory-app)
2. Get onto the app docker image: `docker-compose exec app /bin/bash`
3. Run `/usr/lib/ckan/bin/paster --pl

[2020-01-14 16:39] adborden commented on #1091
No, we can do this ourselves. The CloudFront distros are in the `gsaoppprod` AWS account.

[2020-01-14 16:40] adborden commented on #1047
Ready for Deploy

[2020-01-14 16:41] adborden commented on #1047
Oops, nm the PR has yet to be merged https://github.com/GSA/inventory-app/pull/9

[2020-01-14 16:43] adborden commented on #1162
We can access this from the `gsaoppprod` account.

[2020-01-14 16:45] adborden commented on #1031
That was the case, but I just saw an email this morning saying they update the metadata on their end, so it's back in our court.

[2020-01-14 18:08] FuhuXia commented on #913
tests are added for tagging functions. https://github.com/GSA/ckan-php-manager/pull/6 and https://github.com/GSA/ckan-php-manager/pull/7

[2020-01-15 16:32] hkdctol commented on #1135
We have some weekly harvests that ran with other non-federal sources today, and they seem to be all showing the same problem. When I change to non-federal through UI, the change appears to save but it doesn't. Chatting with @JJediny who is at next desk today, he suggests it could be that the choice of "non-federal" as validation option isn't available so harvester is going with the default which i

[2020-01-15 18:08] mogul commented on #1047
Needs a documentation tweak, then should be ready to go

[2020-01-15 18:14] mogul commented on #913
Fuhu's running into a permissions issue relating to CircleCI; Aaron will help out.

[2020-01-15 20:12] FuhuXia commented on #913
Aaron set up the CircleCI as admin. It is working now.

[2020-01-15 20:41] adborden commented on #634
catalog-harvester1p hitting this.

[2020-01-15 20:53] adborden commented on #634
inventory1d.dev-ocsit.bsp.gsa.gov too

[2020-01-17 03:57] FuhuXia commented on #913
keep open till sprint review

[2020-01-21 02:23] mogul commented on #1280
You absolutely nailed this one, @adborden. [The fix](https://github.com/GSA/project-open-data-dashboard/pull/240) is here. There's no way it'll break SSRF protections because by definition a URL that the server can't resolve also can't be used for SSRF!

[2020-01-21 20:31] adborden opened #1292 "Create a test organization in Inventory for agencies to test with the API"
## User Story

As an Agency developer, I want a test organization in inventory.data.gov so that I can test API actions without accidentally effecting my agency's production datasets.

## Details
We currently don't have an environment for third-parties to test against, this is a simple work-around.

## Acceptance Criteria
- [x] Agencies can request access to the test organization, and write changes

[2020-01-21 20:34] hkdctol commented on #954
This may be the reason that agency contacts have not been receiving daily harvest report emails recently. Even agencies that keep track of the emails and have been receiving them regularly report no emails the last few days. Harvest report emails are being received regularly in gsa.gov email for team members.

[2020-01-22 18:11] mogul commented on #977
Hyon is checking with agency partners to get consensus on how to archive/remove the obsolete content.

[2020-01-23 20:29] adborden opened #1299 "Deploy fgdc2iso app on cloud.gov"
## User Story

In order to reduce the operation and maintenance burden of [fgdc2iso](https://github.com/GSA/catalog-fgdc2iso), the data.gov team wants the fgdc2iso application deployed on cloud.gov.
As a Data.gov developer, I want [fgdc2iso](https://github.com/GSA/catalog-fgdc2iso) deployed to cloud.gov so that I can deploy fgdc2iso independent of FCS and the catalog harvesters.

## Acceptance Cri

[2020-01-24 00:38] hkdctol opened #1301 "Data.gov access to cloud.gov accounts"
## User Story

As a member of Data.gov PMO, I want access to cloud.gov so that work can proceed on moving Data.gov applications to cloud.gov.

## Details

There is currently no MOU covering Data.gov use of Cloud.gov. We need to enter into a MOU in order to get necessary accounts to being cloud.gov migration tasks. A MOU request has been made and funding identified, but draft MOU needs to be finali

[2020-01-24 00:41] hkdctol opened #1302 "Data.gov access to GCP"
## User Story

As a Data.gov PMO member, I want to get access to GCP under new TTS cloud contract.

## Details

A call order for Data.gov's use of GCP has been issued under the new TTS cloud contract. An initial meeting/working session is required to get access from reseller.

## Acceptance Criteria
- [x] Data.gov team's GCP account(s) are established under the new TTS cloud contract.
- [x] Data.g

[2020-01-24 18:43] adborden commented on #954
To integrate with Agari, we want to add their reporting address https://gsa-tts.slack.com/archives/CNDTG5ML5/p1571955616006500

[2020-01-24 21:21] adborden commented on #1031
I had to update the metadata, waiting on MAX again :(

[2020-01-25 02:41] ydave-reisys commented on #1253
<img width="1440" alt="Screen Shot 2020-01-24 at 3 01 33 PM" src="https://user-images.githubusercontent.com/3017376/73115318-52c6f600-3ef2-11ea-9b84-9bb40e5fe1d8.png">

[2020-01-25 02:43] ydave-reisys commented on #1255
<img width="1440" alt="Screen Shot 2020-01-24 at 3 01 50 PM" src="https://user-images.githubusercontent.com/3017376/73115331-8bff6600-3ef2-11ea-813a-2f9be3c885a3.png">

[2020-01-25 02:44] hkdctol commented on #1135
Looks like a pervasive issue. Just did a reharvest of State of California data.json - and in UI it is set to federal instead of non-federal validation, and a change isn't really saved. Result was a large number of errors in the harvest report.

[2020-01-25 02:45] ydave-reisys commented on #1254
<img width="1440" alt="Screen Shot 2020-01-24 at 9 45 25 PM" src="https://user-images.githubusercontent.com/3017376/73115357-daad0000-3ef2-11ea-9ee4-5c108ef89b5e.png">

[2020-01-27 18:12] mogul commented on #954
@adborden has access to Agari and can get the email address we need to put in our DNS record, but anyone can initiate the change the DNS record by entering a GSA IT ServiceNow request.

[2020-01-27 18:54] mogul opened #1307 "Reduce inventory-app O+M burden"
## Feature
The production inventory app is running in cloud.gov with an updated ATO

## Anticipated/hypothesized benefits
- Reduce moving parts in our infrastructure
- Easier to make small changes/continuous deployments
- Scale without having to go through ServiceNow requests
- Reduce dependence on manual processes that go through external teams
- Public sandbox environments

## Measurements
- How

[2020-01-27 19:06] mogul opened #1308 "[research: 3d] Identify obstacles to running inventory-app in cloud.gov"
## User Story

In order to identify obstacles to migrating production inventory app service to cloud.gov, we want to spend up to 3 days attempting to get inventory-app running in cloud.gov.

## Acceptance Criteria
- [x] We have a concrete backlog of remaining work needed to have production inventory app running in cloud.gov

## Outcome
- The [`feature/cloud.gov` branch in the `inventory-app`](http

[2020-01-27 22:12] mogul opened #1309 "[Onboard] Preston"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Ad

[2020-01-28 00:43] #581 closed, assigned to adborden

[2020-01-28 00:43] #1044 closed, assigned to jbrown-xentity

[2020-01-28 00:43] #1163 closed, assigned to ydave-reisys

[2020-01-28 00:43] #1253 closed, assigned to ydave-reisys

[2020-01-28 00:43] #1255 closed, assigned to ydave-reisys

[2020-01-28 00:43] #1017 closed, assigned to adborden, jbrown-xentity

[2020-01-28 00:43] #1043 closed, assigned to jbrown-xentity

[2020-01-28 00:43] #1047 closed, assigned to adborden

[2020-01-28 00:43] #1157 closed, assigned to mogul

[2020-01-28 00:43] #1254 closed, assigned to ydave-reisys

[2020-01-28 16:16] hkdctol commented on #1302
TTS Acquisition is scheduling a meeting/training with vendor to start access to GCP.

[2020-01-28 16:17] hkdctol commented on #1301
Blocked pending clarification of budget numbers with Stephanie.

[2020-01-28 17:55] adborden opened #1311 "CloudFront cache hits are zero"
In our prod AWS account, looking at the cloudfront statistics for catalog.data.gov, we see zero cache hits.

<img width="1012" alt="Screen Shot 2020-01-27 at 2 45 01 PM" src="https://user-images.githubusercontent.com/509703/73290571-871d0980-41b3-11ea-9e99-3ebc0fdb8424.png">

## How to reproduce

1. Request a dataset

        curl -v 'https://catalog.data.gov/dataset/range-wild-horse-and-burro-ter

[2020-01-28 19:30] adborden opened #1312 "CloudFront refers to non-existent /errors/500.html"
I think that requests that would result in a 500 end up returning a 404 page, since the /errors/500.html does not exist.

## How to reproduce

1. https://catalog.data.gov/errors/500.html

## Expected behavior

A 500, Server Error page is displayed

## Actual behavior

A 404 Not Found error page is displayed

[2020-01-28 19:40] adborden commented on #1312
@FuhuXia are you familiar with why we configure these custom 500 pages? Are they supposed to be served from CKAN?

[2020-01-28 20:29] FuhuXia commented on #1312
A custom 500.html is need so user dont see a plain apache error page. it can be served from ckan or cloudfront (if possible). The 500.html itself will be cached, so where it resides doest not matter much performance-wise.  But the origin 500 response should not be cached.

[2020-01-28 23:42] adborden commented on #1177
As a workaround, you should url encode your json data and specify `Content-Type: application/x-www-form-urlencoded`

[code]

[2020-01-29 17:30] adborden commented on #1267
One use case might be when a resources is added/changed, folks know so they can update the resource Id for API calls. We've seen this with the Per Diem dataset where the resource Id changes and then we get a bunch of emails asking why the API no longer works.

[2020-01-29 17:32] adborden opened #1313 "How can I prevent the resource Id from changing"
## User Story

As an Agency Data Manager, I want guidance on how to update my resources so that I don't accidentally change a resource Id and have customers asking why the API broke.

## Details
We've had the resource Id for the Per Diem dataset change a few times, and it causes a lot of confusion among customers.

## Acceptance Criteria
- [ ] When I go to resources.data.gov, there is clear guidan

[2020-01-29 17:52] adborden commented on #1169
This just showed up in the GH [security alerts](https://github.com/GSA/project-open-data-dashboard/network/alerts) (low severity).

[2020-01-29 18:12] mogul commented on #894
@philipashlock says he's going to try to work on this soon; there's a stub in place that needs to be fleshed out.

[2020-01-29 18:14] adborden opened #1314 "dashboardweb1d keeps going offline"
https://alerts.newrelic.com/accounts/1601367/incidents/105281829/violations

We've seen this several times, have BSP reboot the instance, but it keeps getting into this situation.

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-01-29 18:15] adborden commented on #1314
My hunch is that it's the dashboard crawl, maybe the staging instances are under powered or some performance tuning is necessary.

[2020-01-29 18:29] adborden opened #1315 "Cron emails sometimes generate a warning about IPv6 being disabled"
https://groups.google.com/a/gsa.gov/forum/#!topic/datagovhelp/ZRX5z52-atQ

[code]

I believe we've only seen this on bionic hosts.

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-01-29 18:30] adborden commented on #1315
AFAIK, IPv6 is supposed to be disabled. Not sure if this is a bug in the reboot-notifier script.

[2020-01-29 21:47] adborden commented on #954
FYI, I submitted the data.gov domain for verification in Agari.

On Mon, Jan 27, 2020 at 10:12 AM Bret Mogilefsky <notifications@github.com>
wrote:

--
Aaron D Borden
Lead Engineer | IT Specialist
TTS | Data.gov <https://www.data.gov>

[2020-01-29 22:11] adborden commented on #954
I also submitted the DNS request via service-now[1] to update the DMARC
record with Agari's reporting address.

[1]: https://github.com/GSA/datagov-deploy/wiki/DNS

On Wed, Jan 29, 2020 at 1:47 PM Aaron D Borden <aaron.borden@gsa.gov> wrote:

--
Aaron D Borden
Lead Engineer | IT Specialist
TTS | Data.gov <https://www.data.gov>

[2020-01-29 22:45] adborden commented on #1315
We've also seen this from the logrotate cron job.

[2020-01-29 23:24] adborden opened #1318 "Rotate TLS certificate for data.gov domains"
## User Story

As a Data.gov operator, I want a new data.gov TLS certificate so that I can continue providing the data.gov service securely, without interruption in service.

## Details
Current certificate expires Monday, March 30, 2020 at 5:00:00 AM.

Instructions are on the [wiki](https://github.com/GSA/datagov-deploy/wiki/TLS-SSL-Certificates) and requires us generating a certificate request an

[2020-01-29 23:24] adborden commented on #1318
60 days out.

[2020-01-29 23:25] adborden commented on #1318
@mogul how should we assign a milestone to this?

[2020-01-29 23:49] mogul commented on #1318
@adborden at our last retro we said we would assign issues to the last monthly milestone before it's actually due, and committed to starting issues at least two sprints before the date of the milestone to which they're assigned.

[2020-01-30 01:16] adborden opened #1320 "Operator accounts get locked out for password expiration"
Even though jumpbox configures [accounts not to expire](https://github.com/GSA/datagov-deploy-jumpbox/blob/master/tasks/main.yml#L34) with locked passwords, the password expiration is still set (by the [hardening playbook](https://github.com/GSA/ansible-os-ubuntu-16/blob/669c2f9b7192602942cdd8f38d6b432baf8b4905/tasks/section5.yml#L286)?). After 90 days of account creation, the account will be lock

[2020-01-30 01:17] adborden commented on #1320
I should add that passwords are locked, so making passwords never expire should not be relevant because you cannot log in with a password.

[2020-01-30 16:00] hkdctol commented on #1301
Resolved budget question issue; now awaiting creation of IX and circulation of MOU for signature.

[2020-01-30 16:29] adborden commented on #1318
:+1: so since this is due March 30th, we should put it in the February milestone, and start it sometime in one of the February sprints?

[2020-01-30 17:49] mogul commented on #1309
Tons of items here are blocked pending creation of Preston's GSA email account.

[2020-01-30 23:05] jbrown-xentity commented on #1091
CloudFront configuration updated to use TLS 1.2 for catalog and wordpress

[2020-01-30 23:10] jbrown-xentity commented on #1162
The 500 error pages for catalog and www.data.gov were discovered in s3, not currently managed. Pulled out relevant code, will load to GitHub for longer term management and document.
Either we will update jquery to latest version, or remove for simplicity.
@adborden is accomplishing the latter.

[2020-01-31 00:59] adborden commented on #1312
Just ran into it by chance. It should be served via filestore.data.gov, similar to wordpress. I'm adding it to [datagov-filestore-landing](https://github.com/GSA/datagov-filestore-landing/pull/3/files#diff-28cd7814fb44f09190f831ac4c723782) so it is under version control. Once that is shipped, I will update the CloudFront configuration, which should fix this issue.

[2020-01-31 16:04] hkdctol commented on #1309
Moving to unblocked Preston has his GSA mail.

[2020-01-31 20:00] adborden commented on #1016
I think what we're seeing here is CSW returns a 500 and then CloudFront shows the static error page, but then we see https://github.com/GSA/datagov-deploy/issues/1312 which displays a CKAN 404 page.

[2020-01-31 22:43] hkdctol commented on #1244
Awaiting feedback from DOT contact on harvest results

[2020-01-31 22:50] hkdctol commented on #1244
the agency contact just confirmed harvest of new source on staging was successful according to the harvest report, so we can replace old source with the new in production.

[2020-02-03 16:14] ydave-reisys commented on #1244
Made changes to the production. Attaching report and screenshot for the same.

[2020-02-03 16:16] ydave-reisys commented on #1244
[https://app.zenhub.com/files/42135842/bf85bb97-b218-48f8-88b1-ed480191b4d2/download](https://app.zenhub.com/files/42135842/bf85bb97-b218-48f8-88b1-ed480191b4d2/download)

[2020-02-03 16:17] ydave-reisys commented on #1244
<img width="1440" alt="Screen Shot 2020-02-03 at 11 13 25 AM" src="https://user-images.githubusercontent.com/3017376/73670157-baa9d900-4676-11ea-9c1d-acbe53c6138f.png">

[2020-02-03 16:37] mogul commented on #1318
I think we'd put it in the March milestone and make sure we're starting it by March 1st.

[2020-02-03 18:43] jbrown-xentity opened #1325 "DOJ Harvest Stuck"
DOJ harvest on January 16 did not get the expected data results. Specifically [Informal Enforcement Actions](https://catalog.data.gov/dataset/informal-enforcement-actions-fef8d) collection did not have the expected 10 referenced datasets.

## How to reproduce

1. View link above, note missing datasets.

## Expected behavior

See the [POD data](http://www.justice.gov/data.json) for reference on wha

[2020-02-03 21:38] hkdctol opened #1326 "Duplicate datasets in USDA harvest of data.json"
USDA open data lead reporting multiple versions of dataset in catalog for USDA, but has confirmed only a single entry is in their data.json

## How to reproduce

1. See example dataset in screenshot Range Allotment: (Feature Layer)

## Expected behavior

There should be only one dataset

## Actual behavior

There appear to be multiple versions of other datasets too--see screenshot
![USDA duplicate

[2020-02-03 23:32] jbrown-xentity commented on #1135
The UI is for some reason defaulting to "Federal" for the datajson harvest types, even if the database config has saved it as "non-federal". This can be seen by examining the config value in the about page for a harvest source (vs the edit page, which is showing the "default"). The UI seems to be built from a variety of sources, including:
https://github.com/GSA/ckanext-geodatagov/blob/master/ckan

[2020-02-04 18:10] mogul commented on #1312
James is doing a deploy and then Aaron will make an update in Cloudfront.

[2020-02-04 21:39] hkdctol commented on #1326
Other possible duplicates:

"This data set from the forest service – https://catalog.data.gov/dataset/fstopo-pbs-reference-quadrangle-feature-layer-d1910
is old and should be completely removed from the data.gov site.

The new one is https://catalog.data.gov/dataset/fstopo-pbs-reference-quadrangle-feature-layer-92c19
and is harvested from USDA JSON."

[2020-02-04 21:41] hkdctol commented on #1326
Another duplicate:

"This dataset – https://catalog.data.gov/dataset/range-wild-horse-and-burro-territory-feature-layer-0d6a0

is old and should be removed completely.

This one – https://catalog.data.gov/dataset/range-wild-horse-and-burro-territory-feature-layer-0d6a0
is the correct dataset and is harvested from USDA JSON"

Perhaps there were old versions in the catalog, and at the reharvest it i

[2020-02-04 22:08] hkdctol commented on #1135
Tried to see if the errors for non-federal sources happened at the same time--so far no. Compared Sioux Falls and Lake County and in one the large numbers of errors began in mid December and continued through regularly scheduled harvests, and in the other it was back in July 2019.

[2020-02-04 23:10] jbrown-xentity commented on #1162
Confirmed on production via link in description, and noting jquery upgraded to 1.12. Marking as resolved.

[2020-02-04 23:51] adborden opened #1327 "Inventory package_search API does not include private datasets"
As a member of `department-of-labor` organization, https://inventory.data.gov/api/action/package_search?fq=organization:department-of-labor should show 17 datasets, however it shows none. All the datasets are set as private and are not included in `package_search` which severely limits the usefulness of the API.

Note: this is fixed in CKAN 2.6, `package_search` was [updated to show private datase

[2020-02-05 03:05] adborden commented on #954
The DNS change was made and I'm seeing data rolling into Agari.

I documented some details about email for my own sanity on the [wiki](https://github.com/GSA/datagov-deploy/wiki/Email).

[2020-02-05 05:32] adborden commented on #1325
Did you spot errors in the logs related to this harvest?

[2020-02-05 15:31] jbrown-xentity commented on #1325
Nothing specific related to this issue, no.

[2020-02-06 15:58] hkdctol commented on #976
Second review of spreadsheet completed. Reached out to agencies that may have view on current topics on front page. Set up a few meetings for next week to discuss with agencies involved.

[2020-02-06 15:59] hkdctol commented on #1302
Initial meeting, government only, scheduled for 2/12.

[2020-02-06 18:01] mogul opened #1330 "Remove dashboard features unused by OMB"
## User Story

In order to avoid confusion for anyone reviewing the data.gov dashboard, OMB wants the navigation and fields for the reports they're no longer posting to be removed from the user experience.

## Details
The non-automated, hand-generated reporting that the dashboard allows for is no longer happening, and the UX shows a lot of empty fields as a result. These should be removed.

## Acc

[2020-02-06 18:01] mogul commented on #1330
This was addressed via PR https://github.com/GSA/project-open-data-dashboard/pull/246

[2020-02-06 18:41] #954 closed, assigned to adborden

[2020-02-06 18:41] #1091 closed, assigned to adborden, jbrown-xentity

[2020-02-06 18:41] #1162 closed, assigned to jbrown-xentity

[2020-02-06 18:41] #1244 closed, assigned to ydave-reisys

[2020-02-06 18:41] #1256 closed, assigned to ydave-reisys

[2020-02-06 18:41] #1325 closed, assigned to jbrown-xentity

[2020-02-06 18:41] #1193 closed, assigned to mogul

[2020-02-06 18:41] #1280 closed, assigned to mogul

[2020-02-06 18:41] #1309 closed, assigned to mogul, pjsharpe07

[2020-02-06 18:41] #1330 closed, assigned to mogul

[2020-02-06 20:30] mogul commented on #1080
Aaron took care of this in a PR referenced above and just checked to confirm that all of our roles are using Ansible 2.7 in their testing.

[2020-02-06 20:46] #1176 closed, assigned to philipashlock, ydave-reisys

[2020-02-06 21:09] mogul opened #1332 "Harvest errors from wrong validation?"
Overall the sources with large number of harvest errors--they have errors independent of validation being set mistakenly to non-federal.

_Originally posted by @hkdctol in https://github.com/GSA/datagov-deploy/issues/1135#issuecomment-582144067_

[2020-02-06 21:13] mogul commented on #1332
James said:

Aaron said:

[2020-02-06 21:16] mogul commented on #1135
We're going to see if harvesting for non-federal agencies is happening. So long as that's happening, we'll move on from this bug and leave it be.

[2020-02-06 21:19] mogul opened #1333 "Move to GSA-authorized IdP"
## Feature/what we're after
Production data.gov applications authenticate users using a GSA-approved Identity Provider (IdP)

## Anticipated/hypothesized benefits
- Increased confidence in security of our IdP
- Reduce dependence on and risk of using max.gov

## Measurements/metrics
- Binary: Are our sites using an approved IdP or not?

[2020-02-06 21:24] mogul commented on #1031
This is stalled waiting for max.gov. However, since we're stopping work on this epic for a while, we're just going to icebox the issue and bring it up again at the point where we're relying on their response to unblock us restarting the work.

[2020-02-06 21:25] mogul commented on #1332
Hyon and Crystal will review the harvest reports and figure out how big a problem this is before we take it up.

[2020-02-06 21:35] adborden opened #1334 "Support FGDC creating and validating test harvest sources"
## User Story

As a FGDC, I want Data.gov support in creating test harvest sources in Catalog (in production) so that I can validate the new XSLT/harvest changes against various metadata test cases.

## Details
FGDC will provide us with a new XSLT and with WAF harvest links to add to catalog.data.gov and facilitate manual test harvesting.

## Acceptance Criteria
- [x] FGDC confirms they are unbloc

[2020-02-06 21:42] adborden commented on #1312
The fix is to add a new origin to filestore.data.gov in CloudFront that matches the `/errors/*` pattern. This is similar to how the WordPress CloudFront issue is configured.

[2020-02-06 23:51] mogul commented on #1155
Paired with Aaron to implement this today.

You can [inspect the workflow](https://circleci.com/workflow-run/26993950-ee6f-4ea0-aad9-51412da81a6c) to see it in action.

[2020-02-07 20:24] adborden opened #1336 "gsa.datagov-deploy-postgresql only works the first time in sandbox"
[code]

The first apply works fine, but subsequent ones fail with this error. This role is only applied to sandbox environments (we'd like them to run on production in order to rotate creds, but don't want to do that work yet).

**Work-around:** specify `--skip-tags database` when running in the sandbox to avoid running this role.

## How to reproduce

1. `ansible-playbook catalog.yml --inventory

[2020-02-07 20:35] mogul commented on #1011
The PR referenced above works fine. However, the crawls are taking longer than a fixed 300 second maximum to run, so they get killed and are marked `FAILED`. A couple options:

- Ensure all crawls can pick up where the last one left off, and run the task more frequently than just once per 24 hours.
  - This is my preference, as it also guards against running out of memory, etc.
- Keep Peter's way

[2020-02-07 20:37] adborden commented on #1032
Just adding some thoughts/conversations/notes.

Because we want deploy to run only _after_ tests are run, we need to either a) duplicate the CircleCI jobs in Jenkins, or b) use CircleCi to trigger Jenkins to run the deploy (and disable any VCS triggers). We've opted for (b) since it keeps a nice separation of BSP. Jenkins will handle only things related to BSP.

IF we find that Jenkins is really o

[2020-02-07 20:52] adborden opened #1337 "Refactor security groups for Jenkins SSH access in sandbox environments"
## User Story

As a Data.gov developer, I want the security groups refactored for Jenkins SSH access so that I can use Jenkins to run Ansible over SSH against all the environment hosts.

## Details
Currently, hosts only allow SSH access from the jumpbox and egress access is limited. Here are some changes necessary:
- Enable SSH egress on Jenkins to the VPC
- Enable SSH ingress from Jenkins to all

[2020-02-07 21:01] adborden opened #1338 "Configure Jenkins jobs from Ansible"
## User Story

As a Data.gov operator, I want the Jenkins jobs (jobs that deploy applications) configured by Ansible so that my Jenkins jobs are under version control and can easily be deployed to new environments.

## Details
Currently the Jenkins jobs are created manually through the UI.

## Acceptance Criteria
- [x] WHEN I run the jenkins.yml playbook on a newly provisioned host
     THEN the d

[2020-02-07 21:28] adborden commented on #1312
Added a new origin for filestore.data.gov to the catalog CloudFront distribution:
<img width="1012" alt="Screen Shot 2020-02-07 at 10 46 55 AM" src="https://user-images.githubusercontent.com/509703/74056741-65800700-4997-11ea-9f9c-b5c02dcc9fcb.png">

Added the the errors behavior so any requests to `catalog.data.gov/errors/500.html` will be served from the filestore.data.gov origin:
![screencaptur

[2020-02-07 23:31] adborden opened #1340 "jenkins_build script needs to be shared across repos"
## User Story

As a Data.gov developer, I want the jenkins_build script shareable across repos so that I can easily reuse the script in app deploys without copy/pasting code.

## Details
https://github.com/GSA/datagov-deploy/pull/1218/files#diff-c18e084e19ebd649b735f139b17094b9 is a script to trigger a job on a Jenkins instance.

## Acceptance Criteria
- [ ] I can use the jenkins_build script from

[2020-02-08 00:48] adborden commented on #1311
In 2017 there was an explicit decision to set no-cache headers in Catalog. https://github.com/GSA/ckan/commit/6bba96029181ba112e44fa82b60daf2e20fc0ddc

[2020-02-08 00:54] mogul commented on #1311
The comment above that was added in this commit, which has a lot more logic for when to cache!
https://github.com/GSA/ckan/commit/0a0b595a9a099de11a56b2e96604a9856b944e1a

Maybe there's a bug there which means that the "else" clause is getting hit more often than it should?

[2020-02-08 01:14] adborden commented on #1194
@mogul I think we can close this. I think Rebecca's email was basically this.

[2020-02-08 01:32] adborden opened #1341 "Robust applications in sandbox*"
As a Data.gov developer, I want applications in the sandbox environments to be fully setup with as much feature parity as staging and production as possible so that when I deploy to sandbox, I have high confidence that applications will deploy to BSP environments.

## Details

Currently, not all applications are working in sandbox. Maybe they need some database initialization, maybe they need an S

[2020-02-08 01:49] adborden opened #1342 "Robust harvesting*"
## User Story

As an Agency Data Manager, I want Data.gov to harvest robustly so that when I make improvements to my data inventory, catalog.data.gov maintains that high quality in presentation to users.

[2020-02-08 01:50] adborden commented on #736
Haven't seen this come up in a long time.

[2020-02-08 01:50] #736 closed, assigned to nobody

[2020-02-08 01:56] adborden opened #1343 "Reduce forked code*"
## User Story

As a Data.gov developer, I want to manage fewer forks so that I have much less code to own and maintain, can easily pull in fixes and improvements from upstream, and can focus on what matters to Data.gov.

[2020-02-08 02:05] adborden commented on #1145
Are there any deadlines on this? I feel like it's a year out or something.

[2020-02-08 20:24] #1194 closed, assigned to nobody

[2020-02-09 16:35] hkdctol commented on #1145
It's 2 years out but I'll work on the spec on this

[2020-02-10 18:17] mogul commented on #894
@philipashlock can you give us any updates on how this is going?

[2020-02-10 19:00] jbrown-xentity commented on #1135
Harvesting is continuing as designed, the harvest errors are not related to a federal vs non-federal validation issue. This bug is still outstanding, but not deemed a high priority because the harvest process still works as expected. Moving to ice box.

[2020-02-10 20:24] hkdctol opened #1346 "Current implementation of Collections"
## User Story

As Data.gov PMO, I want a document reflecting the current implementation of collections on Data.gov so that we can evaluate whether to enable as part of move to CKAN 2.8, or find another solution.

## Details

We have a unique implementation of collections and we need to evaluate options before we can move to CKAN 2.8.

## Acceptance Criteria
- [ ] Agreement within PMO that we have

[2020-02-10 20:31] hkdctol opened #1347 "Develop approach to collections issue for migration to CKAN 2.8"
## User Story
As Data.gov PMO, I want to develop an approach to addressing the collections issue in catalog.data.gov for the migration to CKAN 2.8.

## Details
Data.gov has a unique implementation of collections currently, and we need to have a clear approach to addressing collections for the move to CKAN 2.8

## Acceptance Criteria
- [ ] Approach agreed to by Data.gov PMO that incorporates input

[2020-02-10 20:37] hkdctol opened #1348 "List the available alternatives on collections issue"
## User Story

As Data.gov PMO, I want to review available alternatives in handling collections and answer questions on how the alternatives would handle the relevant harvest sources.

## Details

- Ckanext-geodatagov has the collections harvest feature: https://github.com/GSA/ckanext-geodatagov/blob/master/ckanext/geodatagov/harvesters/waf_collection.py

- Ckanext-scheming allows custom fields to

[2020-02-10 20:50] hkdctol opened #1349 "Conduct User Centered Design on Collections Issue"
## User Story

As Data.gov PMO, I want to incorporate user needs in determining the approach to collections so that the adopted solution meets user needs.

## Details

- Consult agencies using collections. (waf collections by organization) (organizations containing a collection) (curl -v 'https://catalog.data.gov/api/action/package_search?fq=collection_package_id:*&facet.field=\["organization"\]&f

[2020-02-10 21:38] mogul opened #1350 "Dashboard crawls don't time out"
## User Story

In order to ensure crawls can run frequently in small chunks, we want crawls to exit gracefully when interrupted and run no longer than 300 seconds.

## Details
Cloud Foundry's `run-task` functionality has a 300 second maximum. Our crawls frequently take longer than that and get killed with a `FAILURE` result. Ideally our crawls wouldn't take longer than that, but in any case we wan

[2020-02-10 21:48] hkdctol commented on #1301
We have a signed MOU as of 2/10/2020.

[2020-02-10 21:49] mogul opened #1351 "Dashboard crawls complete without running out of memory"
## User Story

In order to ensure crawls can run to completion, we want the dashboard crawler code to make PHP resources available for garbage collection.

## Details
In the FCS/BSP environment, the `full-scan` crawl requires a PHP memory limit of up to 3GB to complete successfully. What we're doing isn't very intensive, and shouldn't require so much headroom. Moreover, requiring so much means tha

[2020-02-10 22:04] mogul commented on #1350
I just discovered this 300-second timeout is not a limit within Cloud Foundry, but rather is a default being applied by Composer:
https://github.com/composer/composer/issues/3454

[2020-02-11 01:38] adborden commented on #1283
Should be fixed in https://github.com/GSA/datagov-deploy-common/commit/95d1db93301676846d04ea7b08897d2892ca0c2e and will go out in the next release.

[2020-02-11 21:52] mogul opened #1353 "Reduce catalog-app O+M burden"
## Feature
The production catalog app is running in cloud.gov with an updated ATO

## Anticipated/hypothesized benefits
- Reduce moving parts in our infrastructure
- Easier to make small changes/continuous deployments
- Scale without having to go through ServiceNow requests
- Reduce dependence on manual processes that go through external teams
- Public sandbox environments

## Measurements
- How q

[2020-02-11 21:55] mogul opened #1354 "Reduce CSW O+M burden"
## Feature
The production CSW app is running in cloud.gov with an updated ATO

## Anticipated/hypothesized benefits
- Reduce moving parts in our infrastructure
- Easier to make small changes/continuous deployments
- Scale without having to go through ServiceNow requests
- Reduce dependence on manual processes that go through external teams
- Public sandbox environments

## Measurements
- How quick

[2020-02-11 21:57] mogul opened #1355 "Reduce sdg.data.gov O+M overhead"
## Feature
The production sdg site is running in cloud.gov or Federalist with an updated ATO

## Anticipated/hypothesized benefits
- Reduce moving parts in our infrastructure
- Easier to make small changes/continuous deployments
- Scale without having to go through ServiceNow requests
- Reduce dependence on manual processes that go through external teams
- Public sandbox environments

## Measureme

[2020-02-11 22:02] mogul opened #1356 "Reduce www.data.gov O+M burden"
## Feature
The production Wordpress app serving www.data.gov is running in cloud.gov (or exports a static site to Federalist) with an updated ATO

## Anticipated/hypothesized benefits
- Reduce moving parts in our infrastructure
- Easier to make small changes/continuous deployments
- Scale without having to go through ServiceNow requests
- Reduce dependence on manual processes that go through exter

[2020-02-11 22:24] mogul opened #1358 "Data.gov access to login.gov"
## User Story

As a member of data.gov PMO, I want access to login.gov so that migration of data.gov applications away from max.gov can proceed.

## Details

GSA has rescinded its ATO for use of max.gov as the Identity Provider (IdP) for GSA applications. data.gov applications will need to make use of a GSA-approved IdP in order to get their ATOs renewed. login.gov seems like the obvious choice, g

[2020-02-11 23:35] adborden commented on #961
Thanks @martinburchell! I've confirmed this work around is working on https://github.com/GSA/inventory-app/tree/bionic

[2020-02-11 23:41] mogul opened #1359 "Ensure dashboard schema upgrades happen atomically"
## User Story

In order to ensure the dashboard's database is never in an "in-between" state, we want schema updates to happen within a database transaction.

## Details
We've twice seen a deployment of the dashboard app result in a database where schema changes have already been applied, but the "version" table was not updated to reflect that at the end of the process. This results in an applicat

[2020-02-12 00:06] adborden commented on #717
@FuhuXia and I rolled bionic out to staging.

    $ ansible-playbook inventory.yml --limit inventory-web-v2 -e '{"datagov_in_service": true}'
    $ ansible-playbook inventory.yml --limit inventory-web-v1 -e '{"datagov_in_service": false}'

Hosts seem to be working correctly, but the service url https://inventory-datagov.dev-ocsit.bsp.gsa.gov is returning a 503. It looks like the bionic hosts were

[2020-02-12 01:29] adborden commented on #1137
Archived the database to the [Data.gov drive](https://drive.google.com/open?id=1XivQ5XBtEfHces8ZdkYcpM-M6M92Ba9S). I tested the database restore locally via docker-compose similar to [how we restore dashboard](https://github.com/GSA/project-open-data-dashboard#restoring-database-dumps).

    $ cat 2020-01-23-staging-dashboard.sql | docker-compose run --rm db mysql   --host=db --user=root --passwor

[2020-02-12 01:31] adborden commented on #1137
The zip is password protected. Not sure where to store the password.

[2020-02-12 02:21] adborden commented on #1137
After chatting with the team, I've updated the archive to be gzip'd without a password to keep things simple. The Data.gov Drive is an appropriate system to store the archive unencrypted.

[2020-02-12 15:53] jbrown-xentity opened #1367 "Harvest not working for New Mexico"
The harvester attempts to add a large number of folders (1K+) in searching the WAF. After the full WAF scan, it gives this error:

`sqlalchemy.exc.InvalidRequestError: This Session's transaction has been rolled back by a nested rollback() call.  To begin a new transaction, issue Session.rollback() first.`

Summary of stack trace is as follows:
[code]

## How to reproduce

1. Click Re-harvest on th

[2020-02-12 18:28] pjsharpe07 commented on #1169
Since dashboard was merged in November and simple-crm is being removed, is there any work that needs to be done? Can this be moved to the done? @mogul  @adborden

[2020-02-12 19:08] mogul commented on #1169
I think when we created this we thought that the minor version bump implied some sort if incompatibility that might impact our integration of the package, but having reviewed the release notes it doesn't look like that's the case. So yeah, let's call this done!

[2020-02-12 19:25] adborden opened #1369 "Weak ciphers enabled"
Please keep sensitive details in our [Data.gov Drive](https://docs.google.com/document/d/1Dy0JK1kJR31z_0-VfzKmnojelZ9NwB_hZ97prn6j2eQ/edit#heading=h.n1emsxo8ig3k). Affects several URLs.

Found in the 2019-12-24 Netsparker report.

[2020-02-12 19:26] adborden opened #1370 "Outdated jQuery"
Please keep sensitive details in our [Data.gov Drive](https://docs.google.com/document/d/1Dy0JK1kJR31z_0-VfzKmnojelZ9NwB_hZ97prn6j2eQ/edit#heading=h.aodjduk2sjyb).

[2020-02-12 19:28] adborden opened #1371 "Mixed content over HTTPS"
Please keep sensitive details in our [Data.gov Drive](https://docs.google.com/document/d/1Dy0JK1kJR31z_0-VfzKmnojelZ9NwB_hZ97prn6j2eQ/edit#heading=h.2jted1abkj2c)

[2020-02-13 18:07] mogul commented on #717
Blocked on request pending with FCS/BSP

[2020-02-13 19:28] mogul commented on #1154
- [GSA LATO template for cloud.gov-hosted apps](https://docs.google.com/document/d/1tVbH39TFfvSaBbjWfLaR3GLOuvsLuhLFJ75xKowEV5c/edit)
- [SSP for Touchpoints, with which our ISSO will be familiar](https://docs.google.com/document/d/1RtMfKUOSPvYtG0XLIusYU-CJv4UM7Lv5UaBzhV6fzzo/edit?ts=5e459a17)

[2020-02-13 19:38] adborden commented on #1138
Submitted ticket to remove EC2 instances, load balancers, RDS instances, and EBS volumes/snapshots.

[2020-02-13 22:07] adborden commented on #717
BSP resolved the issue with the load balancer and things are looking good. I'm going to continue with the rollout to production.

[2020-02-13 22:56] adborden commented on #1138
Removed resources from ci.datagov.us in https://github.com/GSA/datagov-infrastructure-modules/commit/4f7cd7c46a7dcf13945a64da59821c0f10a482d6

[code]

[2020-02-13 23:23] adborden commented on #1068
@FuhuXia has spent some time on this and hasn't been able to reproduce it in any environment. We are going to go ahead with the deploy, checking along the way in case it comes back.

[2020-02-13 23:27] adborden opened #1374 "Remove trusty infrastructure for inventory-web"
## User Story

As a Data.gov operator, I want inventory-web's trusty infrastructure remove so that I don't have to carry risk of having unused old infrastructure around.

## Details
Splitting this out from https://github.com/GSA/datagov-deploy/issues/717.

## Acceptance Criteria
- [ ] BSP ticket is created to remove the trusty EC2 instances

[2020-02-13 23:36] adborden opened #1375 "Truncated or oversized response headers received from daemon process 'ckan'"
[code]

## How to reproduce

1. `curl localhost/api/action/status_show`

## Expected behavior

200 JSON response with app status

## Actual behavior

500 Internal server error. Logs contain "Truncated or oversized response headers received from daemon process"

[2020-02-13 23:38] adborden commented on #1375
@FuhuXia is seeing this on inventory sandbox and I am seeing it on inventory-1d. (but not inventory-2d yet).

[2020-02-13 23:41] adborden commented on #1375
On inventory-1d I'm only seeing this with apache. If I run with paster, ckan returns the right response.

[2020-02-14 00:14] adborden commented on #1177
Found this commit which also works around the issue for datapusher https://github.com/GSA/datagov-deploy/commit/1c3be95f88afc52a102f6d92df1e20f4678b425b

[2020-02-14 07:05] adborden opened #1376 "Remove ckanext-s3filestore fork"
## User Story

As a Data.gov developer, I want to remove the fork so that I have less code to own and maintain.

## Details
This issue is to track the discussion and details for removing ckanext-s3filestore

[Fork](https://github.com/GSA/ckanext-s3filestore)
[Upstream](https://github.com/okfn/ckanext-s3filestore)

## Acceptance Criteria
- [ ] Any bug fixes or features are submitted to upstream as

[2020-02-14 07:07] adborden commented on #1376
Seems there are only two commits on the fork related to using AWS IAM roles instead of access tokens.

[2020-02-14 20:20] mogul commented on #1355
Closing as SDG is already on Federalist.

[2020-02-14 20:20] #1355 closed, assigned to nobody

[2020-02-14 20:23] mogul opened #1379 "Approved Solr service available to cloud.gov apps"
Feature/what we're after:
data.gov applications running in cloud.gov have access to a production-ready deployment of Solr that has an ATO

Why/hypothesized benefits:
- Enables use of cloud.gov for data.gov CKAN-based applications, dramatically reducing O+M

Sub-stories/bugs/etc

- https://github.com/gsa/datagov-deploy/issues/3189
- https://github.com/gsa/datagov-deploy/issues/2971
- https://github

[2020-02-14 20:49] mogul opened #1380 "Create a moderate SSP template for cloud.gov apps"
## User Story
In order to write the SSP for the data.gov dashboard on cloud.gov, we need a GSA-approved SSP template for moderate applications from the OCISO, pre-populated with information from the cloud.gov Customer Responsibility Matrix.

## Acceptance Criteria
- [x] We have a GSA-approved SSP template that includes all the moderate controls.
- [x] Each control indicates whether it's fully, par

[2020-02-14 21:04] mogul opened #1381 "Improve geospatial support*"
TBC

[2020-02-14 21:25] mogul opened #1382 "[research: 3d] Identify www elements that need static replacements"
## User Story
In order to decide whether we should convert it to a static site before or after moving to cloud.gov, we need to understand the obstacles to replacing dynamic elements of the www.data.gov site.

## Acceptance Criteria
- [ ] We have a clear list of the dynamic elements on www.data.gov that don't already have a static-side equivalent available

## Details

We _think_ this is just the "

[2020-02-14 21:31] mogul commented on #1380
Bret's working on Lynnette to get the updated GSA moderate baseline template to us.

[2020-02-14 21:35] mogul commented on #1358
Amos said:

[2020-02-14 21:36] mogul commented on #1358
I guess the next step here is to set up a meeting.

[2020-02-18 18:18] adborden opened #1383 "Use gunicorn for Inventory CKAN"
## User Story

As a Data.gov developer, I want CKAN using gunicorn so that it behaves more like a process as per [12factor.net](https://12factor.net) and reduces the dependence on apache2.

## Details

## Acceptance Criteria
- [x] WHEN Inventory is deployed the web app is served as a gunicorn process managed by supervisor SO it is restarted if crashed and logs are tracked appropriately.

[2020-02-18 18:23] hbarrett commented on #1367
I believe we originally organized the metadata this way as there was a problem with harvesting from a folder with too many files in it. If this is more a problem with how we organized the files, rather than a problem with the harvester, we can re-organize the metadata. We have 116191 metadata files to harvest. If we sorted them by the first char of the UUID then we would only have 16 folders with

[2020-02-18 18:46] mogul commented on #1380
Lynnette is going to work on the SSP template and get it accessible in Google Docs ASAP.

[2020-02-18 18:47] mogul commented on #1154
We set up a recurring meeting with Lynnette on Tuesdays to check in on ATO progress.

[2020-02-18 18:49] adborden commented on #1383
For a long time, we've shipped a custom python version (2.7.10 for Trusty, 2.7.16 for Bionic) on the platform. We download a "recent" version of Python, compile and install it. This causes some problems, most we've skirted around. The biggest is that for apache mod_wsgi we set [WSGIPythonHome](https://modwsgi.readthedocs.io/en/develop/configuration-directives/WSGIPythonHome.html) to our custom pyt

[2020-02-18 18:51] adborden commented on #1375
Since this seems related to apache and/or mod_wsgi, it reminds me of this under-documented gotcha https://github.com/GSA/datagov-deploy/issues/1383#issuecomment-587648142

I'm going to try to configure mod_wsgi to use the system python instead of our custom version and see if that helps. It might be worth doing https://github.com/GSA/datagov-deploy/issues/1383 just to get off of the system mod_wsg

[2020-02-19 00:05] FuhuXia opened #1384 "Some organization pages and datasets are showing insecure connection"
CKAN organization landing page, some individual organizations' page, and datasets of these organizations are showing insecure connection due to 'mixed content'. Further investigation shows it is due to organization using HTTP url for logo images.

## How to reproduce
https://catalog.data.gov/organization
https://catalog.data.gov/organization/census-gov
https://catalog.data.gov/dataset/2016-kml-bou

[2020-02-19 00:12] FuhuXia commented on #1384
There are multiple organizations that use HTTP url for logos. So we need to run a query to find a complete list. Updating the URL to HTTPS, either thru Admin UI or DB query will fix the issue for organization pages, but for datasets page, a search-index rebuild is needed. Need to find way to fix dataset page without manually rebuilding  index.

[2020-02-19 07:21] mogul commented on #1301
Account invitations were sent and permissions were set.

[2020-02-19 18:29] FuhuXia opened #1385 "Inventory Datapusher gives 500 Error"
Production Inventory Datastore gives 500 error. User sees this error on UI when uploading a resource to datastore. A curl command to the local datapusher url will generate same error. Error logs generate message

[code]

## How to reproduce

1. ssh into inventory instance, run
`curl localhost:8800`
2. run command `tail /var/log/inventory/datapusher.error.log` to see the error message.

## Expected

[2020-02-19 18:32] FuhuXia commented on #1385
Not sure when but the werkzeug module in datapusher app was upgraded version `1.0.0`. In the new version, `contrib` has been deprecated. On prod I manually switched it back to old version `0.16.0` to fix the issue temporarily.

[2020-02-19 19:16] ydave-reisys opened #1386 "Setuptools warning in staging environment"

[2020-02-19 19:18] ydave-reisys commented on #1386
<img width="1440" alt="Screen Shot 2020-02-18 at 3 11 54 PM" src="https://user-images.githubusercontent.com/3017376/74867421-a1fe1c00-5322-11ea-8a06-fe18a0b44332.png">

[2020-02-19 19:22] adborden commented on #1386
It looks like we are [already pinning](https://github.com/GSA/datagov-deploy/blob/3c3f35a56bff3b293c71d06e5dc5e2709ad0213e/ansible/roles/software/ckan/catalog/ckan-app/tasks/main.yml#L46) to `<45`, so I'm thinking this warning might have shown up during manual testing. Once we're done debugging the schema validation issue and restore the harvester with the playbook, we'll see if we continue to get

[2020-02-19 19:27] adborden commented on #1385
Looks like we're not shipping pinned dependencies for datapusher, instead we're installing from loosely pinned packages in [requirements.txt](https://github.com/GSA/datapusher/blob/master/requirements.txt) and getting the latest ones. We should add a requirements-freeze.txt here.

This is going to block the release.

[2020-02-19 20:08] adborden commented on #1138
Updated the [system inventory](https://docs.google.com/spreadsheets/d/1ZYahWuDasufr8VXCHJSlrXHB6-UYk7g2agU87MMKnCk/edit#gid=1724757408) and notified our ISSO.

[2020-02-19 22:17] hkdctol commented on #1326
@ydave-reisys where does this one stand? There's a test organization and harvest that you set up that has an error, right? Do we need something from USDA?

[2020-02-20 03:33] adborden opened #1389 "datagov-deploy-common failing at trendmicro step with Ansible 2.7"
[code]

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-02-20 03:33] adborden commented on #1389
I'm not sure why this is coming up now. Maybe related to the removal of the crm-web group?

[2020-02-20 03:40] adborden commented on #1389
Yep, I documented exactly that https://github.com/GSA/datagov-deploy-common/blob/2217e5fc986c7eed52ab9657956db1b791f4e71d/tasks/trendmicro.yml#L21

[2020-02-20 17:33] adborden opened #1392 "catalog-app fails to create virtulanev: 'ImportError: No module named zipp'"
[code]

## How to reproduce

1. `docker-compose build`

## Expected behavior

## Actual behavior

[2020-02-20 17:46] #1169 closed, assigned to pjsharpe07

[2020-02-20 17:50] adborden commented on #1392
@jbrown-xentity pointed out https://github.com/pypa/virtualenv/issues/1630

[2020-02-20 18:02] ydave-reisys commented on #1326
@hkdctol Duplicate issue can be fixed with changing cron run frequency on production. The issue i ran into is harvester for USDA will result in no of errors because of { in some of the datasets url. I tried to encode url but that also didn't solve the problem. Currently testing if changing jsonschema module version will fix the issue. We don't need to reach out to USDA at the moment.

If you are o

[2020-02-20 18:51] ydave-reisys opened #1393 "Jsonschema harvester doesn't harvest dataset having { in data"
## How to reproduce

1. Description of steps to reproduce the issue.
e.g USDA json harvester

## Expected behavior

## Actual behavior

[2020-02-20 21:15] mogul commented on #1075
Outcome of 20h of attention here:

- We think the path forward is to opt-out of all the issues associated with CKAN 2.3 and go straight to CKAN 2.8.
- We don't think there's a ton of value to finishing the work-in-progress on mod-security; that work won't be valuable after we move to cloud.gov.

[2020-02-20 21:39] mogul commented on #1393
Because customers have a workaround for this issue (eliminate unquoted `{` in their URLs and JSON content) we're choosing to put this in the `Icebox`. @hkdctol will contact the two customers we know have run into this issue to inform them of the workaround.

[2020-02-20 21:45] adborden commented on #1382
Some preliminary research has been done already https://docs.google.com/document/d/1VS2qLb8d24Icz7KLJft23KbDQK9WxuBmFbXiIq2etA4/edit#

[2020-02-20 22:12] mogul opened #1394 "[research: 1d] Identify Inventory CKAN commits that are still necessary once on 2.8+"
## User Story

As a data.gov developer, I want a list of functionality that must be ported from inventory-app's CKAN 2.5 fork so that we can understand and break down the remaining work to get our CKAN deployment using CKAN 2.8.

## Acceptance Criteria
- [x] We have a list of issues covering the work needed to get off of the inventory-app fork of CKAN 2.5
- [x] For each change to be ported, we exp

[2020-02-20 22:18] #1011 closed, assigned to mogul

[2020-02-20 22:18] #1155 closed, assigned to mogul

[2020-02-20 22:18] #1301 closed, assigned to mogul

[2020-02-20 22:18] #1350 closed, assigned to mogul

[2020-02-20 22:18] #1351 closed, assigned to mogul

[2020-02-20 22:18] #1046 closed, assigned to adborden

[2020-02-20 22:18] #1080 closed, assigned to adborden

[2020-02-20 22:18] #1137 closed, assigned to adborden

[2020-02-20 22:18] #1138 closed, assigned to adborden

[2020-02-20 22:18] #1312 closed, assigned to adborden, jbrown-xentity

[2020-02-21 18:46] jbrown-xentity opened #1396 "Harvest Log improvement"
## Log errors separately
The harvester logs should output errors and the relation to the harvest object source, without adding in unnecessary information that breaks the roll-up feature of CKAN harvest error reporting system

## Anticipated/hypothesized benefits
- Will lower administrator needed time to support users debugging/isolating issues with a particular harvest

## Measurements/metrics
- H

[2020-02-21 18:49] adborden opened #1397 "Jumpbox should have a trendmicro policy set in BSP environments"
Confirmed with SecOps that Jumpboxes should have a Trendmicro policy set, just like all other hosts in BSP environments (production, staging, mgmt).

This was identified when digging into https://github.com/GSA/datagov-deploy/issues/1389. I've added an assertion that will [enforce the condition](https://github.com/GSA/datagov-deploy-common/pull/42) that all hosts have a policy set.

## How to repr

[2020-02-21 19:04] jbrown-xentity opened #1398 "Configure apache2 security"
See [document](https://docs.google.com/document/d/1_dJg0XV9tIYCaKt7dko-ZFQ9xGAC3DQ9VW8PqFdKZg8/edit#) for current working state

[2020-02-21 19:05] adborden commented on #1397
[hotfix/trendmicro-jumpbox](https://github.com/GSA/datagov-deploy/tree/hotfix/trendmicro-jumpbox) has a fix to test.

We want to be cautious when rolling this out. I'm not sure the policy is configured properly, and if there's a misconfiguration, we could be locked out of the jumpbox and would need to work with SecOps to resolve the misconfiguration.

Therefore, I'll roll this out to mgmt -> stagi

[2020-02-21 20:17] adborden commented on #1394
We're tracking our forks in https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit#gid=0

CivicActions/datopian are also working on _other forks_.

[2020-02-21 20:55] adborden commented on #1394
Oops, my comment above was misleading. I edited it to reflect @jbrown-xentity and the Data.gov team are going to look at this issue, the Inventory ckan fork. Just a heads up that ckan multi folks are analyzing the other forks.

[2020-02-21 20:58] adborden opened #1399 "Upgrade molecule to 3.x"
## User Story

As a data.gov developer, I want to upgrade molecule to the next major version (v3), so that I get the [latest features](https://molecule.readthedocs.io/en/latest/changelog.html#id2) and support.

## Acceptance Criteria
- [ ] Lock file is updated with the latest molecule version
- [ ] molecule [upgrade checklist](https://github.com/ansible-community/molecule/issues/2560) is performed

[2020-02-21 20:59] adborden commented on #1399
Not seeing any major improvements in 3.0 at least. Icebox for now.

[2020-02-21 21:36] adborden commented on #1385
As part of this issue, we should add a smoke test for datapusher to the inventory playbook.

[2020-02-21 23:24] jbrown-xentity commented on #1075
Completed by merging
- https://github.com/GSA/inventory-app/pull/12/
- https://github.com/GSA/ckan/pull/67

[2020-02-22 01:13] adborden commented on #1334
First request,

@jbrown-xentity can we confirm that for harvest you need separate folders for each type of Metadata (ISO 19139, CSDGM or JSON)?  If yes, we'll take the action to get those directories activated and move the files in:
https://apps.usgs.gov/FGDC-Test/WAF_CSDGM/
https://apps.usgs.gov/FGDC-Test/WAF_ISO_19139/
https://apps.usgs.gov/FGDC-Test/WAF_JSON

[2020-02-22 01:54] adborden commented on #1386
So my above comment doesn't completely apply. We're pinning setuptools < 45 within the CKAN virtualenv. The stack trace in the error is referring to the OS install (/usr/local/lib/python2.7).

@ydave-reisys do you recall if you manually upgraded setuptools on the OS? I'm seeing setuptools 45 on catalog-harvest1d but not on catalog-harvest2d.

[code]

It looks like these files were manually install

[2020-02-22 02:03] adborden commented on #1386
After manually downgrading to setuptools==3.3, still seeing emails come in with the warning. I removed all the files (`rm -rf /usr/local/lib/python2.7/dist-packages/*`) and restarted supervisor.

[2020-02-22 04:56] jbrown-xentity commented on #1334
The JSON is a single file, and it needs to live outside of the xml WAF harvest. The other 2 I'm not sure, but it would probably be a good idea. Most of DOI's harvest sources are set to auto detect, I don't know if it does that on an individual level or at the entire harvest level...

[2020-02-24 17:13] adborden commented on #1334
@jbrown-xentity you should be on the email thread in case you want to reach out directly. Splitting the up the resources it the current plan.

[2020-02-24 17:31] adborden commented on #1383
If we were to implement, there is prior work in pycsw. The [datagov-deploy-pyscw](https://github.com/GSA/datagov-deploy-pycsw) role installs pycsw to an isolated application user, with its own pyenv python install.

The pycsw [app itself](https://github.com/GSA/pycsw) includes gunicorn in its requirements file, and the wsgi script is committed to the application, not the ansible role.

[2020-02-24 18:10] jbrown-xentity commented on #1394
[Current Documentation](https://github.com/GSA/datagov-deploy/wiki/Inventory-Upgrade-Documentation)

[2020-02-24 18:20] jbrown-xentity commented on #1334
@adborden sent. Will wait on next steps. Do we have an xslt file from them to implement on sandbox for testing?

[2020-02-24 20:33] kimwdavidson opened #1401 "ckanext-saml2 can keep up with upstream"
This issue in particular refers to https://github.com/GSA/ckanext-saml2. See [the epic this issue belongs to](https://github.com/GSA/datagov-deploy/issues/1343) for further context.

## Acceptance Criteria
- [ ] When there's a new release upstream, we can get onto it in under an hour
- [ ] When there's a new release upstream, we see a notification in a Slack channel
- [ ] If the upstream maintaine

[2020-02-24 22:36] jbrown-xentity commented on #1385
@adborden can you be more descriptive when you say smoke test?

[2020-02-24 22:37] jbrown-xentity commented on #1385
[requirements-freeze.txt](https://github.com/GSA/datagov-deploy/files/4247189/requirements-freeze.txt)
This was pulled from current production, and should be what is being installed moving forward...

[2020-02-24 23:04] adborden commented on #1385
https://github.com/GSA/datagov-deploy/blob/82e629d/ansible/inventory.yml#L67-L85 is an example of host-level smoke test for Inventory. We're just doing an HTTP request to make sure the app is working.  Then an service-level test https://github.com/GSA/datagov-deploy/blob/82e629d/ansible/inventory.yml#L114-L137 at the load-balancer once all hosts are updated. We should add the same kind of test, bu

[2020-02-25 00:53] adborden commented on #1375
I didn't really get a chance to dig into this. For next steps, I would try to install the CKAN virtualenv manually on sandbox, install gunicorn, update the wsgi script, and update the apache config similar to [pycsw](https://github.com/GSA/datagov-deploy/issues/1383#issuecomment-590453492). If that seems stable, I would go ahead with the implementation of https://github.com/GSA/datagov-deploy/issu

[2020-02-25 02:22] adborden commented on #1334
Not yet. I think the work for this story is mostly about providing support via email to FGDC to setup the harvest sources.

If/when they provide the XSLT... well, this is something I have never had to do myself, so this is new territory :grin:

1. First, they can submit a PR to the [application repo](https://github.com/GSA/catalog-fgdc2iso) (or we can do it for them).
1. Build a new war archive of

[2020-02-25 02:23] adborden commented on #1334
@FuhuXia has probably done a version of this  :point_up:

[2020-02-25 19:05] ydave-reisys commented on #1371
<img width="1440" alt="Staging after fix" src="https://user-images.githubusercontent.com/3017376/75278400-cd2bb400-57d7-11ea-8921-d8fe99fa78de.png">
<img width="1440" alt="Prod after fix" src="https://user-images.githubusercontent.com/3017376/75278403-ce5ce100-57d7-11ea-879e-16486bbbecb4.png">
<img width="1440" alt="Staging before fix" src="https://user-images.githubusercontent.com/3017376/7527840

[2020-02-25 20:07] avdata99 opened #1403 "Upgrade ckanext-saml2"
## Description

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to improve the way that GSA [manages forks](https://github.com/GSA/datagov-deploy/wiki/Managing-Forks) we need to upgrade the [saml2 extension in use](https://github.com/GSA/ckanext-saml2). ([This is part o

[2020-02-25 20:08] avdata99 commented on #1401
Created the discussion issue: https://github.com/GSA/datagov-deploy/issues/1403 (I have no permission to add @mogul and @adborden there)
Created a tests issue: https://github.com/DataShades/ckanext-saml2/issues/115

(I have no permissions to check the las two items in the issue's task list)

[2020-02-25 21:41] jbrown-xentity opened #1404 "Inventory 2.8 extensions"
## Feature/what we're after
[test: 1d] Test integration of required CKAN extensions for inventory

## Anticipated/hypothesized benefits
- Will provide necessary functionality on Inventory
- More stability for end users/better reliability

## Measurements/metrics
- Local tests work for all necessary extensions, and those that are not working are in a documented state with their own bugs

[2020-02-25 21:44] jbrown-xentity opened #1405 "Base CKAN 2.8 local Docker Installation"
## Feature/what we're after
Need a working version of CKAN 2.8 so that we can test adding extensions for a release of Inventory 2.8

## Anticipated/hypothesized benefits
- More secure libraries
- More documented code
- Better CKAN integration

## Measurements/metrics
- Currently deployed tests work with newest version of CKAN 2.8 version
Documentation of current working branch [here](https://githu

[2020-02-25 23:34] pjsharpe07 commented on #1404
Current status of these extensions can be found [on this wiki](https://github.com/GSA/datagov-deploy/wiki/Inventory-Upgrade-Documentation)

[2020-02-26 15:00] avdata99 opened #1406 "Upgrade analytics CKAN extension"
## Description

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to improve the way that we [manage forks](https://github.com/GSA/datagov-deploy/wiki/Managing-Forks) we need to upgrade the [Analytics extension in use](https://github.com/GSA/ckanext-googleanalyticsbasic).

[2020-02-26 16:06] FuhuXia commented on #1375
Found a way to bypass this error on inventory bionic sandbox. I guess it has something to do with how certain buggy version of psycopg2 work with wsgi.

The solution is using `psycopg2==2.7.7` for [DB init](https://github.com/GSA/datagov-deploy/issues/961), then change it to `psycopg2==2.8.4` before apache start. Hopefully after next ckan/psycopg2 upgrade we dont need this hack anymore.

To put it

[2020-02-26 18:04] mogul commented on #1302
We have invitation mails to set up our GCP organization now.

[2020-02-26 18:08] mogul commented on #894
Phil is working on this again and is hoping to finish it this week.

[2020-02-26 19:44] thejuliekramer opened #1407 "Upgrade ckanext-ga-report"
## Feature

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to improve the way that we manage forks we need to upgrade the [reporting extension](https://github.com/GSA/ckanext-ga-report) in use

The upstream fork is [here](https://github.com/datagovuk/ckanext-ga-report)

[2020-02-26 19:45] avdata99 opened #1408 "Upgrade ckanext-harvest in the catalog-app"
## Description

In the [catalog-app](https://github.com/GSA/catalog-app) we are using [a fork](https://github.com/GSA/ckanext-harvest) of the [official ckanext-harvest](https://github.com/ckan/ckanext-harvest) extension (on the datagov branch).

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=

[2020-02-26 20:39] thejuliekramer opened #1410 "Upgrade ckanext-geodatagov"
## Feature

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to improve the way that we manage forks we need to update the geodatagov extension in use.

We need to replace the use of outdated PyZ3950 in [pip-requirements.txt](https://github.com/GSA/ckanext-geodatagov/blo

[2020-02-26 20:58] thejuliekramer commented on #1343
https://github.com/GSA/datagov-deploy/issues/1418
https://github.com/GSA/datagov-deploy/issues/1416
https://github.com/GSA/datagov-deploy/issues/1411
https://github.com/GSA/datagov-deploy/issues/1410
https://github.com/GSA/datagov-deploy/issues/1407

[2020-02-26 21:06] thejuliekramer opened #1411 "Replace Use of PyZ3950"
## Feature

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to improve the way that we manage forks we need to update the use of [PyZ3950](https://github.com/asl2/PyZ3950).

We need to replace the use of outdated PyZ3950 wherever it occurs with the [pipy version](https:

[2020-02-26 23:42] FuhuXia opened #1412 "harvest source package with large 'status' field generates solr error"
Some harvest source packages can't be indexed by Solr. Any editing on these affected harvest source will produce 500 error with detailed solr message on UI. Re-indexing the package on command line will have same error message.

`Unable to update search index.('Solr returned an error: 400 Bad Request .....Document contains at least one immense term in field="status" (whose UTF8 encoding is longer t

[2020-02-26 23:44] FuhuXia commented on #1412
Opps, duplicate of https://github.com/GSA/datagov-deploy/issues/874

[2020-02-26 23:47] FuhuXia commented on #1412
`status` field is kept as `String` type in solr. When we put too many `object_error_summary` into this field, it goes beyond what String field can hold. We need to re-think if it make sense to put all detailed error in the `status` field, or allow large field by changing field type to `Text`.

[2020-02-27 03:58] jbrown-xentity opened #1413 "Old Ubuntu Server still running"
Noted issue documented [here](https://docs.google.com/document/d/1xDtiJ42PlU9BiNmY3pXXxT3H-y99b1PFC8X5YRjbppg/edit)

[2020-02-27 13:51] avdata99 opened #1414 "Upgrade ckanext-harvest in the inventory-app"
## Description

In the [inventory-app](https://github.com/GSA/inventory-app) we are using [an especific commit](https://github.com/ckan/ckanext-harvest/commit/13dbb1eea428e6b274f98c36bf29d42e62a70af7) (and old one, from Jul 30, 2014) of the [official ckanext-harvest](https://github.com/ckan/ckanext-harvest) extension.

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spread

[2020-02-27 15:52] hkdctol commented on #977
I have finished review and agency communication.

https://docs.google.com/spreadsheets/d/1ZohmuI28lsO5HMG5h7NqkEpkynJ6w-3xPdW3RZyYXr0/edit#gid=1850827333

is the document to work off of for next steps

[2020-02-27 16:27] ydave-reisys commented on #1369
Created ticket with BSP => INC3010165

[2020-02-27 16:46] avdata99 opened #1415 "Upgrade ckanex-qa in catalog-app"
## Description

In the [catalog-app](https://github.com/GSA/catalog-app) we are using [a fork](https://github.com/GSA/ckanext-qa) of the [official ckanext-qa](https://github.com/ckan/ckanext-qa) extension (on the datagov branch).

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and

[2020-02-27 18:01] thejuliekramer opened #1416 "Update pysaml2 in catalog"
## Feature

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to improve the way that we manage forks we need to update the use of [pysaml2](https://github.com/GSA/pysaml2) in the catalog.

We need to replace the use of outdated pysaml2 wherever it occurs with a newer ver

[2020-02-27 18:02] avdata99 opened #1417 "Upgrade ckanext-report in catalog-app"
## Description

In the [catalog-app](https://github.com/GSA/catalog-app) we are using [a fork](https://github.com/GSA/ckanext-report) of the [ckanext-qa](https://github.com/davidread/ckanext-report) extension (on the datagov branch). We are not sure about which repo should be consider upstream.

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQ

[2020-02-27 18:31] thejuliekramer opened #1418 "Upgrade ckanext-extlink with Tests and CI"
## Feature

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to improve the way that we manage forks we need to update the [External Link](https://github.com/GSA/ckanext-extlink) extension in use.

We need to add tests and CI for this extension

## Anticipated/hypothesiz

[2020-02-27 19:57] mogul commented on #1347
(Closed this epic as redundant with #514, and reparented the issues over to it.)

[2020-02-27 19:57] #1347 closed, assigned to nobody

[2020-02-27 20:25] jbrown-xentity commented on #1414
Actually, this has been downloaded but never utilized in Inventory. Currently the extension is not enabled (see current [deployed config](https://github.com/GSA/datagov-deploy/blob/master/ansible/roles/software/ckan/inventory/templates/etc/ckan/production.ini#L106)) for confirmation.
Harvester is used on catalog, however... @avdata99

[2020-02-27 21:52] hkdctol commented on #977
The spreadsheet deletes topics except for Agriculture, Climate, Energy, Local Government, Maritime and Ocean. It also deletes Applications and Impact. Perhaps we'd replace those two to link to resources.data.gov and strategy.data.gov instead? With the headings being RESOURCES and STRATEGY?

[2020-02-27 21:59] jbrown-xentity commented on #1413
Noted tied to #571 and should be resolved soon. Closing.

[2020-02-27 21:59] #1413 closed, assigned to jbrown-xentity

[2020-02-27 22:38] jbrown-xentity opened #1419 "NOAA Harvest to WAF"
## User Story

As a NOAA data manager, I want my data harvested from a WAF so that my data can be updated without any upgrades.

## Acceptance Criteria
- [x] NOAA data is removed from data.gov (Started 10 am ET 10/10/2020, completed by 2:45 pm ET)
- [x] NOAA data is harvested via WAF onto data.gov (All harvest sources created by 4:00 pm ET, [tracking started](https://docs.google.com/spreadsheets/d

[2020-02-28 02:31] mogul commented on #1308
Seee [the cloud.gov section in the `README.md` on the `feature/cloud.gov` branch in the `inventory-app`](https://github.com/GSA/inventory-app/tree/feature/cloud.gov#deploying-to-cloudgov) repo for instructions on getting `inventory` running in cloud.gov, and a list of points to consider going forward.

[2020-02-28 02:35] mogul commented on #1308
The [draft PR](https://github.com/GSA/inventory-app/pull/18) can't be merged to `master` until the Bionic branch is also merged.

[2020-02-28 12:41] avdata99 opened #1420 "Upgrade ckanext-spatial in the catalog-app"
## Description

In the [catalog-app](https://github.com/GSA/catalog-app) we are using [a fork](https://github.com/GSA/ckanext-spatial) of the [official ckanext-spatial](https://github.com/ckan/ckanext-spatial) extension (on the datagov branch).

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=

[2020-02-28 14:44] jbrown-xentity commented on #1420
I know for the CSW feature, there are discussions about pushing that necessity onto the geoplatform group, as that is a specific geospatial feature and not a core part of data.gov. It may still be necessary long term, but it is an ongoing discussion.

[2020-02-28 17:22] pjsharpe07 commented on #1343
FYI, we're working on upgrading inventory to CKAN 2.8 and are working on extensions. I wanted to bring the usmetadata extension to your attention.

See [this wiki](https://github.com/GSA/datagov-deploy/wiki/Inventory-Upgrade-Documentation) under "Ckan extension integration"  for details.

[2020-02-28 20:19] jbrown-xentity commented on #1334
Add the following users to sandbox for access:
- Lynda Wayne
- Jim Irvine
- Robin Hoban:
- Lorna Schmid: lorna@usgs.gov

[2020-02-28 22:22] jbrown-xentity commented on #1311
catalog-app local development currently broken, breaking [here](https://github.com/GSA/ckanext-datagovtheme/blob/master/ckanext/datagovtheme/helpers.py#L105). Seems to not know what the URL is, but the config option is set... [Current PR](https://github.com/GSA/catalog-app/pull/118) (not ready for review)

[2020-02-29 15:56] avdata99 opened #1421 "Upgrade OWSlib is spatial CKA extension"
## Description

In the [catalog-app](https://github.com/GSA/catalog-app) we are using [a fork](https://github.com/GSA/ckanext-spatial) of the [official ckanext-spatial](https://github.com/ckan/ckanext-spatial) extension. Our extension uses a [custom OWSLib version](https://github.com/GSA/OWSLib).

The official repo has [tests](https://github.com/geopython/OWSLib/tree/master/tests). It is a very ac

[2020-02-29 16:53] avdata99 opened #1422 "Upgrade datapusher in inventory app"
## Description

In the [inventory-app](https://github.com/GSA/inventory-app) we are using [a fork](https://github.com/GSA/datapusher/) of the [official datapusher](https://github.com/ckan/datapusher) extension.

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to improve

[2020-02-29 17:38] avdata99 opened #1423 "Upgrade s3 filestore ext in inventory app"
## Description

In the [inventory-app](https://github.com/GSA/inventory-app) we are using [a fork](https://github.com/GSA/ckanext-s3filestore/) of the [official extension](https://github.com/okfn/ckanext-s3filestore).

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to

[2020-02-29 17:42] avdata99 commented on #1376
We also created #1423 which is a more deep analysis on this same matter. Maybe we can close this issue and continue there.

[2020-02-29 18:41] avdata99 opened #1424 "Upgrade USMetadata at inventory app"
## Description

In the [inventory-app](https://github.com/GSA/inventory-app) we are using [a fork](https://github.com/GSA/USMetadata) of an abandoned repo.

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to improve the way that we [manage forks](https://github.com/GSA/

[2020-02-29 18:59] mogul opened #1425 "Dashboard office data should update from canonical source"
## User Story

In order to ensure the data.gov dashboard is pulling data from the right locations for the right agencies, we want the entries in the office table to be updated from a canonical API source of agency information, using the same IDs.

## Acceptance Criteria
- [ ] Existing `office` rows carry both their existing IDs and IDs that match their entry in the upstream API.
- [ ] `office` fie

[2020-02-29 19:21] mogul commented on #1379
I found [this nice article](https://cloud.google.com/blog/products/devops-sre/deploying-a-production-grade-helm-release-on-gke-with-terraform) about spinning up a Helm chart in GKE using Terraform in a production-ready fashion. Unfortunately it's a little out of date since a chunk of it is dedicated to operating Tiller, and the newly-released Helm 3 drops the use of Tiller. I [asked upstream wheth

[2020-02-29 20:11] mogul commented on #1302
I've confirmed my access but @adborden is out so this is blocked until he returns.

[2020-02-29 20:14] mogul commented on #1302
(Aaron, look for mail with subject line `Join my project on Google Developers Console` on February 25th.)

[2020-03-02 13:43] avdata99 commented on #1414
I think [datajson ext is in use](https://github.com/GSA/datagov-deploy/blob/master/ansible/roles/software/ckan/inventory/templates/etc/ckan/production.ini#L106) and [requires harvest ext](https://github.com/GSA/ckanext-datajson/blob/master/ckanext/datajson/harvester_base.py#L11-L13)
I think we need to upgrade this config file to add harvest ext.

[2020-03-02 14:29] avdata99 opened #1426 "Upgrade Archiver extension"
## Description

In the [catalog-app](https://github.com/GSA/catalog-app) we are using [a fork](https://github.com/GSA/ckanext-archiver) of the [official ckanext-archiver](https://github.com/ckan/ckanext-archiver) extension (on the datagov branch).

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#g

[2020-03-02 16:28] kimwdavidson commented on #1403
Aaron recommends Link Digital for upstream. Bret agrees.

[2020-03-02 18:19] mogul opened #1427 "[Onboard] Sai Udthawar"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Ad

[2020-03-02 18:20] mogul commented on #1427
Waiting to commence most of these items until Sai has an @gsa.gov email address, which is a requirement for most.

[2020-03-02 23:40] jbrown-xentity commented on #1311
catalog-app is fixed. Tracked error to occurring here: https://github.com/GSA/ckan/blob/datagov/ckan/lib/base.py#L188
There must be a new inclusion (extension?) that causes this if statement to succeed every time and cause the cache to break. Could consider removing this specific if statement to re-enable caching.

[2020-03-03 03:52] mogul opened #1428 "cloud.gov-based SSP for dashboard"
## User Story

In order for the data.gov dashboard to enter the GSA Assessment and Authorization (A&A) process, the GSA OCISO representatives require a complete System Security Plan (SSP) that covers the data.gov dashboard under the [Moderate NIST requirements](https://nvd.nist.gov/800-53/Rev4/impact/moderate).

### Acceptance Criteria
- [x] GSA OCISO has an SSP for the dashboard application with

[2020-03-03 13:16] avdata99 opened #1429 "Upgrade datajson ext in catalog and inventory app"
## Description

In catalog and inventory apps we are using [a fork](https://github.com/GSA/ckanext-datajson) of the Data.json extension. We use branch `master` in inventory and `datagov` in the catalog app.

As a part of a [plan to upgrade CKAN extensions](https://docs.google.com/spreadsheets/d/1LgVvgiUC5Vc-OQaSmtvQNlTFLhs3Mho65ekggYEiYh4/edit?ts=5e50447f#gid=0) in use, and in order to improve the

[2020-03-03 14:30] FuhuXia commented on #1375
It turns out we always run `db init` manually, because we have a `never` tag for db-init.yml playbook. We just need to remember to downgrade`psycopg2` to `2.7.7` when run the `db init` command and revert back to freeze version afterwards.
https://github.com/GSA/datagov-deploy/blob/94487cb80f97a94abb593d107f11ed27d3f7a757/ansible/roles/software/ckan/inventory/tasks/main.yml#L6-L7

[2020-03-03 15:42] jbrown-xentity commented on #1311
Actually, the above is what keeps something uncacheable once it is marked to ignore the cache. [This line](https://github.com/GSA/ckan/blob/datagov/ckan/lib/base.py#L195) is what causes the initial response to not cache a page. Just on /dataset page, I got all of these "extra variables" that would cause a page to not cache. I believe if this if else section is removed, then the pages would cache a

[2020-03-03 18:31] mogul commented on #1311
Yeah, if there are "extra variables" on every page, that would definitely cause it to never cache!

I'm sure there are _some_ extra variables which should prevent caching... Maybe it's possible to whitelist these, and only trigger the logic if there are _others_ present?

[2020-03-03 21:28] hkdctol opened #1431 "Provide basic metrics on datasets and agency participation*"
## Feature/what we're after
Provide basic metrics on datasets, how many datasets are published by agencies, and usage statistics on datasets

## Anticipated/hypothesized benefits
- Agency, public, and OMB awareness of agency activity on publishing datasets
- Agency, public, and OMB awareness on which datasets are most used by Data.gov users

## Measurements/metrics
- Agency, public and OMB awarene

[2020-03-04 20:01] mogul opened #1433 "Prepare cloud.gov-based data.gov SSP for ISE review"
## User Story

In order for cloud.gov-based data.gov apps to enter the GSA ISE architecture review process, the GSA OCISO representatives require completion of **the first 12 sections** of the System Security Plan (SSP) that covers data.gov apps under the [Moderate NIST requirements](https://nvd.nist.gov/800-53/Rev4/impact/moderate).

### Acceptance Criteria
- [x] GSA OCISO has an SSP for the data

[2020-03-04 20:29] FuhuXia commented on #682
This happen again today. Did a survey and there were 8k of occurrences of this error in the past 3 days.  Every time it happens user will see a 500 error page. So we need to resolve it to have a stable inventory web app.

I think it has something to do with the size of table beaker_cache. Query shows this table has 2.8 million records dated all the way back to December of 2016.  If we can have a s

[2020-03-05 15:21] pjsharpe07 opened #1435 "Datastore extension functioning on CKAN 2.8 Inventory App"
## Feature/what we're after

- The [datastore extension](https://docs.ckan.org/en/2.8/maintaining/datastore.html) should be activated on the current [CKAN 2.8 inventory app](https://github.com/GSA/inventory-app/tree/inventory_ckan_2.8).
- Create a test that ensures that this extension is functioning as expected

## Anticipated/hypothesized benefits
- Will provide necessary functionality on Invento

[2020-03-05 17:59] #1075 closed, assigned to FuhuXia, jbrown-xentity

[2020-03-05 18:00] #1326 closed, assigned to ydave-reisys

[2020-03-05 18:31] mogul commented on #1380
Our template, now being filled in, is [here](https://docs.google.com/document/d/1WuoO419OV-SHiQU5k_IWZYsWbjPE_VXmj-jNMH0KDDI/edit).

[2020-03-05 21:11] mogul opened #1437 "Discuss state of metrics page"
In order to decide what work is on our horizon for metrics that other agencies use, we need to talk about the state of https://www.data.gov/metrics and what we can/should do with it, and if there are any driving deadlines for changes.

## Acceptance Criteria
- [ ] We know what we need to do with this content and we have a breakdown of the work to be done documented

[2020-03-05 21:25] mogul commented on #1369
No activity in ServiceNow. We'll have to escalate to BSP folks. @hkdctol is willing to chase them down.

[2020-03-05 21:27] mogul commented on #802
We're obsoleting this issue by [migrating the harvest over to WAFs](https://github.com/GSA/datagov-deploy/issues/1419).

[2020-03-05 21:27] #802 closed, assigned to nobody

[2020-03-05 21:36] mogul commented on #1334
Still blocked waiting on XSLT

[2020-03-05 21:37] mogul commented on #1419
Blocked until we have a complete list of their WAFs

[2020-03-05 21:39] mogul commented on #682
We need to regularly run a query to prune entries older than a certain date. We should add an Ansible task that sets up a cronjob to do that on one of the hosts.

[2020-03-05 21:45] mogul commented on #717
@adborden did you manage to get this rolled out? If so let's move it to `Done`.

[2020-03-05 21:57] mogul commented on #1358
We don't have an explicit deadline for this, but we should be migrating over within six months to be clear of any ATO concerns. We want to get the MOU done now in case there's an emergency situation later, though.

[2020-03-05 22:01] mogul commented on #672
NOAA will be rescued from this state by the work in #1419, but we're leaving this issue open as there are likely other agencies affected and the problem still exists.

[2020-03-05 23:33] hkdctol opened #1438 "Conduct agency outreach session for OPEN Government Data Act agencies"
## User Story

As Data.gov PMO, we want to conduct an outreach session with federal agencies seeking to meet OPEN Government Data Act requirements

## Acceptance Criteria
- [ ] Hold meeting with interested federal agencies explaining process of getting metadata into catalog.data.gov and support provided by Data.gov PMO.

## Details
There is a list of additional federal agencies for inclusion in th

[2020-03-06 17:17] pjsharpe07 commented on #1435
Working branch found [here](https://github.com/GSA/inventory-app/tree/datastore_extension)

[2020-03-06 18:02] avdata99 commented on #1403
Related to:
 - https://github.com/GSA/datagov-deploy/issues/414
 - https://github.com/GSA/catalog-app/issues/78

[2020-03-06 20:31] hkdctol commented on #1358
Met with login.gov team this afternoon. There is an existing MOU that we can use, so no further paperwork required at the moment. They have set up sandbox access and @mogul will be able to add access.

[2020-03-06 22:38] jbrown-xentity opened #1439 "CircleCi not building datagov-deploy"
All new builds of CircleCi are failing for datagov-deploy with the following error:

`ERROR: Missing Docker driver dependency. Please install via 'molecule[docker]' or refer to your INSTALL.rst driver documentation file`

There is very little information on this error on the internet, the above error only occurs when doing a sanity check for molecule installation.

## Mitigations tried

1. Testing

[2020-03-09 12:02] avdata99 commented on #1403
I left this [work in progress PR](https://github.com/GSA/inventory-app/pull/25/files) to continue from there.

[2020-03-09 14:59] jbrown-xentity commented on #1334
Requested update. Current status is the "test WAF" on FGDC side is misconfigured, the JSON files are not setup properly (currently in XML format?). We now have the XSLT file, along with relevant documentation...
[csdgm_iso_transform.zip](https://github.com/GSA/datagov-deploy/files/4307367/csdgm_iso_transform.zip)