[2020-03-09 15:00] jbrown-xentity commented on #1419
Requested update, do not currently have complete list of WAF's.

[2020-03-09 16:50] adborden commented on #1437
@FuhuXia do you know how these metrics are generated?

[2020-03-09 17:10] mogul commented on #1427
Replacement laptop in hand and being setup. eQIP forms have been submitted, still waiting on @gsa.gov address.

[2020-03-09 17:12] mogul commented on #682
@FuhuXia is going through testing his PR for this on sandbox, staging, and then prod.

[2020-03-09 17:24] mogul commented on #1437
We've got a meeting scheduled to discuss this next week.

[2020-03-09 17:47] adborden commented on #1439
This looks like an issue with the dependency cache. We're clearing the CI cache as per [CircleCI's docs](https://circleci.com/docs/2.0/caching/#clearing-cache). The fix looks like https://github.com/GSA/datagov-deploy/commit/d95758b73291efd1d5c4f7d6649630a1a0ca0ddb

[2020-03-09 19:15] jbrown-xentity commented on #1419
[Data.gov-Harvest-WAFs.xlsx](https://github.com/GSA/datagov-deploy/files/4308515/Data.gov-Harvest-WAFs.xlsx)
List of WAF's that need to be harvested. Will spot-check various harvests manually, then do a full automated addition on sandbox.

[2020-03-09 22:01] FuhuXia commented on #1437
@adborden A custom plugin [Metric Count](https://github.com/GSA/metric-count) is installed on www.data.gov WordPress site. It routinely checks catalog APIs to fetch dataset stats for agencies. We need to check the WP backend to see why the metrics page stops being updated.

[2020-03-09 22:28] adborden commented on #1437
Linking to the wordpress migration issue, since we'll loose any plugin functionality when moving to a static site https://github.com/GSA/datagov-deploy/issues/992

[2020-03-10 00:27] adborden opened #1445 "Nginx error page includes version (information disclosure)"
We use the default nginx error page for wordpress and dashboard which includes the nginx version, technically an information disclosure.

## How to reproduce

1. ~~https://explore.data.gov~~ https://search.data.gov/

## Expected behavior

Generic error page.

## Actual behavior

Nginx error page disclosing the version.

[2020-03-10 06:04] #1308 closed, assigned to mogul

[2020-03-10 06:04] #1371 closed, assigned to ydave-reisys

[2020-03-10 06:04] #1380 closed, assigned to mogul

[2020-03-10 06:04] #1394 closed, assigned to jbrown-xentity, pjsharpe07

[2020-03-10 06:04] #1404 closed, assigned to pjsharpe07

[2020-03-10 06:04] #1405 closed, assigned to jbrown-xentity, pjsharpe07

[2020-03-10 16:32] adborden opened #1446 "Update jQuery for SDG"
Please keep sensitive details in the [February 2020 Netsparker report](https://docs.google.com/document/d/15cravWktHJ5psJ2kksDeSrHvsUMZI20BgS4V5m6r3wU/edit#heading=h.m9yl3r1mcxot).

[2020-03-10 17:48] adborden commented on #682
Is cleanup of beaker sessions supported in upstream CKAN? Seems like CKAN should be the one supporting this. A script/cron doesn't translate well to cloud.gov and ultimately this is the application's responsibility.

[2020-03-10 18:34] adborden commented on #1422
One of the patches on datapusher is a switch from using application/json to application/x-www-form-urlencoded. I _think_ this is because inventory [ckan is using the wrong version of repoze.who==1.0.18](https://github.com/GSA/catalog-app/issues/78). I think this means we'll want to address Inventory ckan before taking on datapusher (and then we can drop those patches).

[2020-03-10 19:22] adborden commented on #1375
Ah, we reverted to [psycopg2==2.7.7](https://github.com/GSA/inventory-app/commit/e30f3b3a217097dfa57787ed55bc20cfce329cd3) as a workaround for https://github.com/GSA/datagov-deploy/issues/961 just before this issue appeared. That makes sense.

[2020-03-10 19:26] adborden commented on #1375
So, since https://github.com/GSA/inventory-app/pull/23 is not yet merged, should this still be In Progress?

[2020-03-10 20:50] pjsharpe07 commented on #1435
Branch ☝️ has been merged into [ckan_inventory_2.8](https://github.com/GSA/inventory-app/tree/inventory_ckan_2.8)

[2020-03-10 22:09] adborden commented on #717
No, my understanding is that this is still blocked on https://github.com/GSA/datagov-deploy/issues/1375

[2020-03-10 22:14] adborden commented on #1272
Sorry, I'm not sure why I wrote "nginx configuration" here. Based on the report, it's urls like dashboard-datagov.dev-ocsit.bsp.gsa.gov that are affected. This would be a ticket to BSP to fix, not nginx.

[2020-03-11 15:55] thejuliekramer commented on #1416
@adborden @mogul @avdata99 let me know what you think about this.

List of steps here:

- [ ] [remove the importing of pysaml2 in the inventory branch](https://github.com/GSA/ckan/pull/73)
- [ ] import it where it is used in the [ckanext-saml2 repository](https://github.com/GSA/ckanext-saml2). In that repository we should import the [upstream version](https://github.com/IdentityPython/pysaml2), be

[2020-03-11 16:32] adborden commented on #1311
Seems like the wrong fix here as this code still exists in 2.8.3
https://github.com/GSA/ckan/blob/8e1cc60b2fa11da6843051678b7ee2cc08c2a7a9/ckan/lib/base.py#L197-L201

This could leave us caching the wrong data for a page since the extra vars affect how the page is rendered. Unlikely to cache private data, though.

[2020-03-11 16:44] jbrown-xentity commented on #1311
From my research this blocks any caching on any dynamic data like the main `/dataset` page. Literally everything on CKAN is "dynamic", so the cache never hits. I thought we wanted the default to be caching on most pages/searches, and for that cache to clear every day. This allows us to handle web traffic better.

[2020-03-11 16:54] adborden commented on #1311
I just want to make sure we understand what the code is supposed to be doing. To me, this fix looks like you might end up caching private data, like a private page that only a logged in user would see. Of the other no-cache clauses, I'm not seeing anything that would make an admin page non-cacheable, except maybe from the extra vars.

[2020-03-11 17:00] jbrown-xentity commented on #1311
Yeah, this is true. I fixed the blocker, but the subtlety of making pages not cache for admin-catalog in general would be a separate fix. Not sure where that should live. Could that be at the cloudfront level?

[2020-03-11 17:02] FuhuXia commented on #1311
Admin-catalog is not behind CDN, so no need to worry about caching user private data.

[2020-03-11 17:05] mogul commented on #1318
The external site certificate is ready, and the two internal certificate requests are in flight. We can install certificates for the Cloudfront distribution  (catalog, wordpress), but not for other services that are only fronted by the load-balancer (dashboard, etc). Those go through BSP.

[2020-03-11 17:07] mogul commented on #977
Most records are cleared in staging; @hkdctol to review what it looks like there before we move onto making the same changes in production.

[2020-03-11 17:15] mogul commented on #894
Phil's looking for help catching up to the current Jekyll layout, will likely look for a pair. The actual work isn't that involved once he's on top of that.

[2020-03-11 17:23] mogul commented on #1272
Closing as redundant with #1369

[2020-03-11 17:23] #1272 closed, assigned to nobody

[2020-03-11 18:02] jbrown-xentity commented on #1257
The dynamic menu could be added into datagovtheme, and just get it directly from GitHub, right? Or would that be bad practice, since we would be relying on GitHub for production?

[2020-03-11 18:06] adborden commented on #1311
It's a good point, but theoretically any cache between the user and admin-catalog could cache the page. It's very unlikely to have intermediate caches because we enforce HTTPS, but there could be a cache/proxy within a government organization.

Not to mention with cloud.gov, we _will_ have a CDN fronting CKAN. I think I would err on the side of caution here and not blindly set the cache headers.

[2020-03-11 18:13] jbrown-xentity commented on #1311
I'll remove the PR and tackle ^^ next

[2020-03-11 18:44] avdata99 commented on #1422
The inventory-app, at the new branch inventory_ckan_2.8, [we already are using repoze.who==2.3](https://github.com/GSA/inventory-app/blob/inventory_ckan_2.8/requirements.txt#L49).

[2020-03-11 19:00] adborden opened #1449 "Proactive monitoring/restart of applications under pressure (monit)"
## User Story

In order to minimize the impact runaway processes on service availability, we want to automatically restart apache2 when threshold Y is observed.

## Acceptance Criteria

- [x] WHEN the monitored process on an application host is observed eating memory at a rate that will result in exhaustion in less than five minutes \
  THEN the monitored process is automatically restarted \
  AND

[2020-03-11 21:16] mogul commented on #1382
Attaching PDF of the above document here as there's nothing secret in it. @SaiUdthawar-REI
[WordPress migration to static site.pdf](https://github.com/GSA/datagov-deploy/files/4320959/WordPress.migration.to.static.site.pdf)

[2020-03-11 21:31] FuhuXia commented on #1318
Catalog and Wordpress have new certificates installed on Cloudfront. New expiration date is 2021-04-23, that is 407 days from today.

[2020-03-12 13:38] avdata99 commented on #1403
We need to have a conversation with @FuhuXia to discuss how to continue with this. We need to config and test this extension.

[2020-03-12 15:03] avdata99 commented on #1422
Work in progress [PR](https://github.com/GSA/inventory-app/pull/28/files). Not ready yet.

[2020-03-12 15:12] adborden commented on #1449
@jbrown-xentity asked if we should commit the retry_ssh.sh script to version control. I'm putting it here as a gist, but not sure if it's worth adding to datagov-deploy.

https://gist.github.com/adborden/45b999e37f872aaeeab98724099ca6cf

[2020-03-12 15:28] adborden commented on #574
For reference, this is the content of the ticket for BSP. Just like any other BSP ticket, it should be a Generic Request:

[2020-03-12 15:57] pjsharpe07 opened #1453 "usmetadata extension functions on CKAN Inventory 2.8"
## Feature/what we're after

- The [usmetadata extension](https://github.com/GSA/USMetadata) should be activated on the current [CKAN 2.8 inventory app](https://github.com/GSA/inventory-app/tree/inventory_ckan_2.8).
- Create a test that ensures that this extension is functioning as expected

## Anticipated/hypothesized benefits
- Will provide necessary functionality on Inventory
- More stability f

[2020-03-12 16:19] FuhuXia commented on #1318
Internal host certificates were added to prod and staging in the PR listed above. External site certificate was requested to be added into BSP following same steps as https://github.com/GSA/datagov-deploy/issues/574#issuecomment-598251495.

[2020-03-12 17:27] estebanruseler commented on #1403
@adborden didn't get the chance to mention this on the call. Andres has sent you a [PR](https://github.com/GSA/inventory-app/pull/25/files). Our idea here is doing work in progress PR that we discussed in one of the previous retros.

As you'll see the [PR](https://github.com/GSA/inventory-app/pull/25/files) is to upstream your fork to the Linked Digital extension as you considered it as the "offic

[2020-03-12 17:41] adborden commented on #1403
Looks good so far.

I want to remind folks that I'm not a fan of large PRs, so if this is not done done but still working, compatible, and a complete piece of work, we should go ahead and merge it.

[2020-03-12 18:06] estebanruseler commented on #1403
@adborden great. @avdata99  ⬆️

[2020-03-12 18:15] pjsharpe07 commented on #1453
Current [branch](https://github.com/GSA/inventory-app/tree/usmetadata).

Uses the datopian usmetadata repo

[2020-03-12 21:19] adborden commented on #1375
I just deployed catalog-app to bionic sandbox, which is running `psycopg2==2.7.3.2` and also seeing this issue. I'm going to bump psycopg2 to 2.8.

[2020-03-13 18:15] mogul opened #1455 "Resolve potential WordPress vector"
[Details in Google Drive](https://docs.google.com/document/d/1Dy0JK1kJR31z_0-VfzKmnojelZ9NwB_hZ97prn6j2eQ/edit#heading=h.ncmxcxtf14ej)

[2020-03-13 18:54] adborden opened #1457 "WordPress active mixed content (vulnerability class)"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1Dy0JK1kJR31z_0-VfzKmnojelZ9NwB_hZ97prn6j2eQ/edit#heading=h.t97juekqgk7f)._

**GH issue for vulnerability class\*:** N/A
**Date of report:** 2020-02-25
**Due date:** 2020-05-25

_\* When a finding is identified, we ususally create two issues. One to address the specific instance identified in the report. The ot

[2020-03-13 22:13] adborden commented on #1397
The next steps are to take the [hotfix/trendmicro-jumpbox branch](https://github.com/GSA/datagov-deploy/tree/hotfix/trendmicro-jumpbox) and deploy it to each jumpbox, one at a time to make sure we can still login. For each environment, it looks like:

1. checkout the branch
1. ansible-playbook common.yml
1. Test that you can still login from another shell
1. Reboot the jumpbox
1. Test that you can

[2020-03-15 16:46] hkdctol commented on #977
Results of staging review:

The topics that should remain are Agriculture, Climate, Ecosystem, Energy, Local Government, Maritime and Ocean. (I see Consumer still has content but I don't think it needs to be retained). Should we retain the current view, or should it be pull down only from Topics?

On the blog (link from footer) on staging I see older blog posts. We would want to keep the more curr

[2020-03-15 17:31] hkdctol opened #1460 "Complete annual update of Contingency Plan"
## User Story

Data.gov PMO needs to complete annual review and update of Contingency Plan

## Acceptance Criteria
- [x] Close out of open items in CP

## Details
There are a few comments left in https://docs.google.com/document/d/1DMtzlU56X1owthQCI6fEuHiTrdDbq-hkeZ4xQC8VLO4/edit?usp=sharing marked for action for @adborden

[2020-03-16 15:29] kimwdavidson opened #1461 "Discovery: Determine work to move collections out of GSA CKAN core and into an extension"
## Description

### Summary

This is a timeboxed effort to understand the technical implications of, and determine the HL level of effort involved in, moving collections out of catalog-app (CKAN 2.3) and into an extension that works with the OKF main CKAN branch (CKAN 2.8) (running in Docker).

The technical criteria to assess the solution against will be:
* Ease of fit in the CKAN framework eco-s

[2020-03-16 17:20] mogul commented on #1397
@ydave-reisys is verifying that the reboot happened in mgmt with `uptime` then move on to applying this change in the other environments. Branch to be tested on staging, then merged into master if successful.

[2020-03-16 17:38] adborden commented on #1449
@FuhuXia is going to analyze the apache logs to determine if this is bot-related traffic. We'll start with a 4-hour timebox.

[2020-03-16 17:39] adborden opened #1462 "CKAN apache logs don't include client IP address"
The apache access logs are logging the IP address of the BSP load balancer which is not helpful for analysis.

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-03-16 17:52] avdata99 commented on #1422
We have 3 option here:
 - Move to XLoader: This new [PR](https://github.com/GSA/inventory-app/pull/29) uses [XLoader](https://github.com/ckan/ckanext-xloader) which is better for this.
 - Include Datapusher with code: This [PR](https://github.com/GSA/inventory-app/pull/28) to use datapusher from code.
 - Include a buit image of datapusher: [PR (ready to go)](https://github.com/GSA/inventory-app/co

[2020-03-16 18:00] adborden commented on #1462
We do [configure mod_remoteip](https://github.com/GSA/datagov-deploy-apache2/blob/a8b4f99307e6b9a835bcdc22d9b0532f5c6b1773/tasks/main.yml#L34) which is supposed to handle this. After discussing with @FuhuXia and @jbrown-xentity we suspect there might be a misconfiguration with BSP netscaler, in that it should respect X-Forwarded-For from CloudFront.

Aaron will run a test in BSP, if we set the X-F

[2020-03-16 19:09] adborden commented on #1462
My test didn't work. It looks like the default [LogFormat](https://httpd.apache.org/docs/2.4/mod/mod_log_config.html) is to log the remote host (`%h`) and not the client ip (`%a`). We should add a configuration file that updates the LogFormat.

[2020-03-16 20:09] jbrown-xentity commented on #1311
The PR is rolled back and we are leaving CKAN as is.

The configuration settings are updated and [pending approval](https://github.com/GSA/datagov-deploy/pull/1463).

The thread on ckan-dev produced this [pending PR](https://github.com/ckan/ckan/pull/4781) for core CKAN, which notes our issue is outstanding for everyone (only 1 page is truly cacheable: the about page). Assumption is that caching w

[2020-03-16 20:10] adborden commented on #1416
@thejuliekramer that sounds right, although at the moment, the ckan fork doesn't need to be updated, we're using requirements.txt in inventory-app and the one in ckan is ignored.

For the two commits, it looks like @FuhuXia accepted those. @FuhuXia do you know why [this fix](https://github.com/GSA/pysaml2/commit/fd0396d81cfe6abd42b8fe50d677f4d3f34485b3) was needed?

[2020-03-16 21:01] SaiUdthawar-REI commented on #1382
Here are the dynamic elements in Data.gov site where users send Data or Write Data to:

1) Contact Form-https://www.data.gov/contact
2)In Applications where users need to submit application suggestions to https://docs.google.com/forms/d/e/1FAIpQLSeiewrzB2ImS5xGSlgeR72VxpnbofubMe8zN5yCcEyG_xiZqA/viewform
3)Each Topic has got its respective contact form Like Agriculture Topic has its own ContactAgri

[2020-03-16 21:10] hkdctol commented on #1382
I think we need 1) data.gov/contact and 4) Local Gov the /add form, the others we do not need.

[2020-03-16 21:56] SaiUdthawar-REI commented on #1382
We have 15 Custom built Plugins for Data.Gov in WordPress. Here are the Plugins and their Git Repos:

1)**ArcGis Map Validation**-This plugin validates map using the the map id and group id
      Git Repo: https://github.com/GSA/arcgis-map
2)**Better WordPress External Link**-Gives you total control over external links on your website. This plugin
       also comes with a comprehensive domain filt

[2020-03-16 23:59] adborden commented on #1302
:heavy_check_mark: I've accepted.

[2020-03-17 00:21] adborden commented on #1236
New service is waiting on procurement, should be available after April.

[2020-03-17 00:25] adborden commented on #1257
Right, we don't want to depend on any external service, www.data.gov or github.com, at runtime unless absolutely necessary. For the most part, these are static assets that don't change very often, so they could be committed directly to ckanext-datagovtheme. Another option is to fetch them at build time, but committing them directly makes the most sense in this case.

[2020-03-17 00:26] adborden commented on #1283
@jbrown-xentity can you confirm this is resolved?

[2020-03-17 00:28] adborden commented on #1287
I wonder if this is related to https://github.com/GSA/datagov-deploy/issues/961 and the version of psycopg2 installed.

[2020-03-17 00:50] adborden opened #1464 "Dashboard does not report specific error when JSON is invalid"
https://labs.data.gov/dashboard/offices/detail/52583/#valid_json

The Dashboard is reporting that USAID's data.json is invalid and links to jsonlint.com for the viewer to validate the JSON file themselves. The dashboard should be able to report the specific error (with line/character) where the JSON parser failed.

This can be confusing because Dashboard continues on with the old data.json (I beli

[2020-03-17 02:17] jbrown-xentity commented on #1283
This issue is resolved. We still have continuing triage with aureport building out of control requests and causing inventory to crash, still not sure why inventory specifically (log size seems in line with other applications). I believe that is a separate issue though, we can close this one.

[2020-03-17 17:02] pjsharpe07 commented on #1453
After speaking with the other team, this extension should be tested in parallel with the datajson extension. Both will live on this branch for now, but might cause this ticket to take longer.

Currently, the usmetadata extension is being pulled from the [PR/forked repo](https://github.com/datopian/USMetadata) from datopian. I'm hesitant to merge as currently 'master' relies on the GSA fork. We'll

[2020-03-17 18:46] mogul commented on #1449
Fuhu is running through hypotheses to try to narrow this down. Next step is to try to analyze the situation while it's actually happening.

[2020-03-17 18:50] SaiUdthawar-REI commented on #1382
Attaching Word Document where I have went through few google pages and pasted the Links in Word Document so that we can move the Custom plugins from WordPress to a static site.

[https://app.zenhub.com/files/42135842/6a9d474d-d5f1-4a9b-b078-2889fafbe5f0/download](https://app.zenhub.com/files/42135842/6a9d474d-d5f1-4a9b-b078-2889fafbe5f0/download)

[2020-03-17 19:02] mogul opened #1465 "[research: 3 days] Generate a static site from our Wordpress deployment"
## User Story

In order to identify the most straightforward way to proceed with making www.data.gov a static site, we want to spend up to 3 days exploring native-Wordpress options for exporting a static site.

## Acceptance Criteria
- [ ] We have a sketch of the tech/process needed to produce a straightforward static export of the site, ideally including a demo
- [ ] We have a list of the missing

[2020-03-17 23:10] adborden opened #1467 "Catalog fails to grab dynamic menu from WordPress due to connection interruption"
![Screenshot from 2020-03-17 16-08-10](https://user-images.githubusercontent.com/509703/76909849-9e01e300-6869-11ea-9087-22f237b0aee3.png)

## How to reproduce

1. https://www.data.gov/app/plugins/datagov-custom/wp_download_links.php

## Expected behavior

JSON file is accessible.

## Actual behavior

Connection is interrupted, Chrome reports an HTTP2 Protocol error.

[2020-03-18 01:49] adborden commented on #1467
You can get the json from https://wp-bsp.data.gov/app/plugins/datagov-custom/wp_download_links.php, although the URLs need to be edited.

I changed the CKAN configuration to use this URL, but I was still seeing the error that menu.json doesn't exist, so it seems there is something else going on here.

[2020-03-18 01:52] adborden commented on #1467
This looks like the WAF or firewall is interrupting the connection. Since wp-bsp works, it looks like the AWS WAF in gsaoppprod is causing the interruption. That would also explain why this started up all of a sudden without a code change to trigger it.

[2020-03-18 01:54] hkdctol commented on #977
@ydave-reisys

on staging, let's try the pull down on topics, with remaining topics

on blogs, let's keep up to page 4 in production, which is a 2015 entry, the rest can be archived

in staging, can we substitute impact and applications navigation to go to resources and strategy

[2020-03-18 02:02] adborden commented on #1467
Because of this error, CKAN fails to serve requests https://github.com/GSA/catalog-app/issues/76

[2020-03-18 14:49] hkdctol opened #1468 "Complete GSA data call"

[2020-03-18 14:53] hkdctol commented on #1468
## User Story

Data.gov PMO has to submit information for TTS data call on 21st Century IDEA Act

## Acceptance Criteria
- [x] Data.gov google doc has been completed and submitted

## Details

Make copy of TTS Solutions google doc
Complete requested items such as estimated cost.

[2020-03-18 16:51] FuhuXia commented on #682
No sign of this feature support from upstream CKAN.

[2020-03-18 16:54] adborden commented on #682
Would you please file an issue with CKAN?

[2020-03-18 17:12] mogul commented on #1384
Should be finished with this in a day or two.

[2020-03-18 17:16] mogul commented on #682
Just pending the PR being approved at this point.

[2020-03-18 17:19] FuhuXia commented on #1384
50k datasets are being synced, ETA 40 hours.

[2020-03-18 17:34] mogul commented on #1449
Blocked waiting for deployment of a fix to enable static asset caching, so that the logs are intelligible.

[2020-03-18 19:58] hkdctol commented on #1437
Next steps are:

@FuhuXia will look into prior process and whether we can retrieve current and past data on page views https://catalog.data.gov/dataset/data-gov-visitor-metrics

Investigate a replacement report through: https://github.com/ckan/ckanext-googleanalytics#setting-up-statistics-retrieval-from-google-analytics

Create separate ticket #1472 to remove current data.gov/metrics

[2020-03-18 20:01] hkdctol opened #1472 "Remove outdated data.gov/metrics page"
## User Story

Data.gov PMO wants to remove outdated content from www.data.gov, and the /metrics page is not updated, and will be replaced

## Acceptance Criteria
- [x] /metrics is removed from data.gov and navigation in footer

## Details
We are investigating alternatives in https://app.zenhub.com/workspaces/datagov-devsecops-579a2532d1d6ea9c3fcf5cfa/issues/gsa/datagov-deploy/1437
but for now we

[2020-03-18 20:10] adborden opened #1473 "Create a CKAN role based on ckan-app to handle Inventory and Catalog"
## User Story

As a Data.gov Developer, I want a CKAN Ansible role that can be used for Inventory and Catalog so that I don't need to maintain several separate and inconsistent roles and to identify tasks that should be moved to the applications.

## Acceptance Criteria
- [ ] A new GitHub repository exists for the Ansible role
- [ ] CI is configured for the new role
- [ ] datagov-deploy is updated

[2020-03-18 21:05] hkdctol commented on #1472
GA indicates page views on /metrics are about .2% of total, and I have not received inquiries about it from agencies

[2020-03-19 00:17] adborden commented on #720
I've verified that the harvester succesfully harvests GSA's data.json.

[2020-03-19 00:19] adborden commented on #719
The above error is caused by https://github.com/GSA/datagov-deploy/issues/1375. The work around is to downgrade to pycsopg2 2.7.x.

Currently, I'm able to deploy catalog-web successfully https://catalog.bionic.datagov.us/

[2020-03-19 15:24] adborden commented on #719
I've also checked that pycsw is working https://catalog.bionic.datagov.us/csw

[2020-03-19 16:50] kimwdavidson commented on #1422
Andres to connect 3rd PR and close other two

[2020-03-19 19:55] FuhuXia opened #1478 "catalog tracking stopped being updated"
Page hits and resource hits are not being recorded into tracking_raw table any more. As a result, view count for any dataset is not updated.

## How to reproduce
run query
`SELECT * FROM tracking_raw ORDER BY access_timestamp DESC LIMIT 1;`

## Expected behavior

access_timestamp should be current, and it should increase with every page hit.

## Actual behavior

stops at 2019-08-06 19:26:04.573118

[2020-03-19 20:03] FuhuXia opened #1479 "ckan-tracking-update runs should complete daily"
We have a cron job to do tracking update nighly. But this command is taking days to finish, therefore we are not getting updated page view count everyday

## How to reproduce

Run the cronjob under a timer and consult the log of recent runs in tracking-update.log.

## Expected behavior

The cron job should finish in hours.

## Actual behavior

The cron job takes 3-4 days

## Notes

See CKAN notes

[2020-03-19 20:04] mogul commented on #1334
Still waiting on the other side.

[2020-03-19 20:06] mogul commented on #1419
@jbrown-xentity can you give an update on the state of this one?

[2020-03-19 20:11] mogul commented on #977
@hkdctol is going to make sure @philipashlock puts 👀 on this before we roll out to production, and have a blog post noting the change before we roll it out.

[2020-03-19 20:19] mogul opened #1480 "Investigate replacing explicit metrics with Google Analytics metrics"
Investigate a replacement report through: https://github.com/ckan/ckanext-googleanalytics#setting-up-statistics-retrieval-from-google-analytics

## User Story
As Data.gov PMO, we want to understand what metrics might be easily available through Google Analytics

## Acceptance Criteria
- [ ] Create a list of potential questions that could be answered by GA: https://docs.google.com/document/d/16O-yn

[2020-03-19 20:25] mogul commented on #1465
@SaiUdthawar-REI, to be explicit, when you encounter plugins that are not translating well into the static output, just note those as part of the research, don't try to make them work as you see them.

[2020-03-19 20:26] mogul commented on #1382
We're going to call the timebox done on this one... We're following up with #1465 since it may be easier to generate a static export directly rather than stop using Wordpress as the CMS/source-of-truth; this would save us trying to make everything work in Jekyll.

[2020-03-19 20:33] mogul commented on #1374
Holding off on this until April to make sure we're confident in our migration to Bionic.

[2020-03-19 20:40] mogul commented on #1184
Closing as duplicate of #1422

[2020-03-19 20:40] #1184 closed, assigned to nobody

[2020-03-19 20:53] mogul opened #1481 "Deploy CKAN 2.8-based Inventory in AWS sandbox"
## User Story

In order to validate inventory-2.8 without impacting our ability to deploy fixes to 2.5, we need a production-similar deployment of inventory-2.8 in the AWS Sandbox.

## Acceptance Criteria
- [x] a separate instance of inventory based on CKAN 2.8 is deployed in the AWS sandbox
- [ ] the instance is re-deployable using Ansible playbooks

## Details/tasks

- Add new hosts to the Terra

[2020-03-19 21:01] mogul commented on #1401
Closing as this largely duplicates #1403

[2020-03-19 21:01] #1401 closed, assigned to nobody

[2020-03-19 21:43] adborden commented on #1478
Tracking was [explicitly disabled](https://github.com/GSA/datagov-deploy/issues/488) because it was never completely working and generating errors (https://github.com/GSA/datagov-deploy/issues/205) The web instances that would be doing the tracking are "read-only", in that they are configured with a read-replica db. Therefore any writes to the tracking table would fail.

There was a partial implem

[2020-03-19 22:03] hkdctol opened #1482 "New data.json harvest source for VA"
## User Story

As Data.gov PMO, want to facilitate change in data.json for VA

## Details

VA wants to switch harvest location to https://data.va.gov/data.json They have tested on validator on labs.data.gov but would like it to be tested on staging.

## Acceptance Criteria
- [x] Test harvest the new source

- [x] Check results and provide them to VA and work through any errors

- [x] Switch VA har

[2020-03-19 22:36] adborden commented on #1183
Trying to deploy to staging and Inventory is complaining "No space left on disk". It has 7.8G available for /var/log, but I think this error could be referring to inodes or similar. I'm running this to clear the gzipped files.

    $ sudo find /var/log/inventory -name '*.log.*.gz.*.gz' -delete

I suspect this might also be why we're seeing high memory alerts on inventory randomly.

[2020-03-19 23:59] adborden opened #1484 "Add in-service variable for catalog"
## User Story

As a data.gov operator, I want a `datagov_in_service` variable for the catalog roles so that I can control which hosts are serving traffic with an Ansible variable to aid in the transition from Trusty to Bionic.

## Acceptance Criteria
- [x] Given `datagov_in_service` is **enabled** for catalog roles
    THEN web services are enabled
    AND cron jobs are enabled
- [x] Given `datago

[2020-03-20 14:49] FuhuXia commented on #682
Issue filed at ckan upstream https://github.com/ckan/ckan/issues/5294.

[2020-03-20 15:22] ydave-reisys commented on #1482
@hkdctol https://data.va.gov/data.json is redirected to https://www.ea.oit.va.gov/EAOIT/VA_EA/OpenData.asp which is not json content hence harvester fails.

[2020-03-20 15:47] FuhuXia commented on #1384
This is done. To keep the insecure content out of the site, we need to train user, or find a way to enforce a rule, that only images from a https site with a valid certificate can be used for organization logo.

[2020-03-20 16:06] FuhuXia commented on #1318
BSP has completed external site certificate installation.

[2020-03-20 17:30] mogul commented on #1369
@ydave-reisys to copy @adborden with existing ticket details... Going to try to refile with a very narrow request (including repro step) to ensure they understand what we're asking them to do.

[2020-03-20 17:50] #1302 closed, assigned to adborden

[2020-03-20 17:50] #1382 closed, assigned to nobody

[2020-03-20 17:50] #1435 closed, assigned to pjsharpe07

[2020-03-20 17:50] #1437 closed, assigned to nobody

[2020-03-20 17:50] #1439 closed, assigned to adborden, jbrown-xentity

[2020-03-20 17:50] #1453 closed, assigned to pjsharpe07

[2020-03-20 17:53] adborden opened #1486 "Replace datapusher with xloader"
## User Story

As a Data.gov Developer, I want to use [ckanext-xloader](https://github.com/ckan/ckanext-xloader) instead of datapusher so that we are using a well-supported CKAN data loading implementation and have fewer moving parts to document and secure before we can get our ATO.

## Acceptance Criteria
- [x] GIVEN I am looking at the data.gov SSP \
  WHEN I search for references to datapusher

[2020-03-20 17:55] adborden commented on #1422
I captured the recommendation to use ckanext-xloader in https://github.com/GSA/datagov-deploy/issues/1486, feel free to add additional details.

[2020-03-20 17:57] mogul opened #1487 "O&M work [Fuhu]"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-03-20 17:57] mogul commented on #1487
@FuhuXia some of the links above go to an empty section in the wiki page... Feel free to fill those sections in with links to relevant stuff in the runbook, etc!

[2020-03-20 18:38] adborden commented on #993
After chatting with @pjsharpe07 , I've added a column to the [CKAN changes](https://github.com/GSA/datagov-deploy/wiki/Inventory-Upgrade-Documentation#addedchanged-features) to be clear that we're not porting any custom changes to a new CKAN 2.8 fork and that it looks like a CKAN fork won't be necessary for 2.8.

[2020-03-20 18:45] adborden commented on #993
@jbrown-xentity I'm not seeing the saml2 extensions in the inventory_ckan_2.8 branch anymore but no issue to add them back. Were they removed for a reason, and are there any other extensions that were removed that we might need to add back?

[2020-03-20 18:53] adborden commented on #1424
Seems there is some confusion here. We've unassigned @pjsharpe07 who is not working on this. He was focused on only making sure USMetadata was working on the inventory CKAN 2.8 fork. I'm going to move this back to the sprint backlog and someone from ckan-multi team should pick this up.

[2020-03-20 20:29] avdata99 commented on #1422
Closed PR for XLoader and datapusher with code.
Added a [final PR](https://github.com/GSA/inventory-app/pull/31/)
If approved, we can continue with the missing tasks

[2020-03-20 20:30] adborden commented on #1311
The fixes were deployed and we're seeing an increase in the number of hits, but we're still seeing some assets not cached as we would expect.

![Screenshot from 2020-03-20 09-45-33](https://user-images.githubusercontent.com/509703/77203811-9e3ef000-6aae-11ea-8757-4546feb02cce.png)

If we curl one of the JS assets, we see Cache-Control is set correctly, but `X-Cache: Miss from cloudfront` indicates

[2020-03-20 20:43] adborden commented on #1311
Pretty sure this is related to our CloudFront settings. We have CloudFront configured to cache based on All headers which is probably unnecessary. [CloudFront docs](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/header-caching.html) indicates that when caching with All headers, it will actually forward **every** request to the origin, which is likely not what we want.

I _think

[2020-03-20 20:50] adborden commented on #1311
I've updated the CF settings for catalog.data.gov default behavior to use no headers for caching. Will monitor.

[2020-03-20 20:54] hkdctol commented on #1482
@ydave-reisys this location is ready to go for testing VA's new data.json  https://va.data.socrata.com/data.json

[2020-03-20 20:56] hkdctol commented on #977
@philipashlock can you provide feedback on https://wordpress-datagov.dev-ocsit.bsp.gsa.gov/ specifically replacing Impact and Applications tabs with links to resources.data.gov and strategy.data.gov

[2020-03-20 22:28] adborden commented on #1449
Now that we've shipped a few fixes, moving out of blocked to Sprint backlog.

[2020-03-20 22:30] adborden commented on #1283
Thanks, closing.

[2020-03-20 22:30] #1283 closed, assigned to nobody

[2020-03-20 22:55] adborden commented on #967
Diagram available https://drive.google.com/open?id=1PXLeRvxAsHNztkJRvo-YGt07DpIIkw6H

[2020-03-20 23:02] adborden commented on #1460
@hkdctol I responded to comments, please take another look.

[2020-03-20 23:42] adborden commented on #1336
Stepping back, I think we want to simplify this role to only manage one application database and one app user. Managing the permissions gets complicated. For Inventory, which needs to create a datastore read-only user, this really needs to be handled by the application since paster generates the SQL commands. This fits better with cloud.gov, since the application is going to have to create that da

[2020-03-20 23:55] adborden commented on #1376
Closing as duplicate of https://github.com/GSA/datagov-deploy/issues/1423

[2020-03-20 23:55] #1376 closed, assigned to nobody

[2020-03-21 00:10] adborden commented on #1384
At least for right now, there are virtually no Catalog admins besides the Data.gov team, so I wouldn't put any effort into solving this in the near future.

However, it sounds like a feature request for CKAN. I would want to only allow image uploads for organization photos and not allow an arbitrary URL. That way CKAN can choose where to store it and ensure that it's served from an HTTPS location,

[2020-03-21 00:14] hkdctol commented on #1460
Looks good I will forward to ISSO.

[2020-03-21 00:18] adborden commented on #993
Spoke too soon, looks like we may need a [CKAN patch for datapusher](https://github.com/ckan/ckan/pull/5281/files) as per @avdata99's [datapusher PR](https://github.com/GSA/inventory-app/pull/31)

[2020-03-21 00:25] adborden commented on #1481
Removing the bullet about adding playbooks since we should be able to use the existing inventory.yml playbook for BSP and sandbox environments.

[2020-03-21 15:06] jbrown-xentity commented on #993
Yes, this branch started by removing all extensions and adding them back in one at a time. The ckanext saml hasn't been added back in as there is no way to attempt local testing at this time (to my knowledge). I believe the CKAN multi team was working on that though, so maybe soon? Otherwise we'll need to test on staging.

[2020-03-23 13:42] jbrown-xentity commented on #1336
Couldn't we design a script that runs inside the app on startup? This would then be run locally, on staging, on cloud.gov, etc while using environment variables so that we ensure this is working as expected? @adborden

[2020-03-23 13:44] avdata99 commented on #1403
We need to assign to @starsinmypockets to continue here

[2020-03-23 13:45] ydave-reisys commented on #1482
@hkdctol This url went through fine in our harvester. Currently this url has no data for datasets so there are no datasets added when harvester completed successfully.

[2020-03-23 15:50] avdata99 commented on #1416
This library is used by saml2 extension. The plan in #1403 is to stop using this fork and move to upstream python library. This issue depends on #1403 definition and tests.

We need to include opinion/analysis of @thejuliekramer in this fork changes. Is there something in this fork that we really need to use? I think no, just to be sure.

If the changes in this fork are not important and saml2 ext

[2020-03-23 16:48] estebanruseler commented on #1461
@thejuliekramer as promised, here's the [details of how the collections are done in the current UI](https://hackmd.io/aqq0bKERSIC6h4Bbj6-Tiw) based on what I found. But please double-check this...

[2020-03-23 17:18] mogul opened #1490 "[Onboard] Paul Walker"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Ad

[2020-03-23 17:49] FuhuXia opened #1491 "catalog-bsp site url is indexed by search engine"
catalog-bsp.data.gov is not supposed to be a public site. However, we started to see Google is crawling catalog site at this url.

## How to reproduce

Go to https://www.google.com/search?q=site%3Acatalog-bsp.data.gov

## Expected behavior

No results should be returned

## Actual behavior

About 42,600 results returned.

[2020-03-23 18:42] adborden commented on #1491
@FuhuXia do you have ideas on the best way to fix? Since we don't actually want to serve anything at catalog-bsp.data.gov and essentially only use it as a CNAME for the BSP origin, I'm thinking we should just have CKAN restrict Host to catalog.data.gov via Apache config. That way CKAN will return 400s for any requests with `Host: catalog-bsp.data.gov`, but any valid requests (`Host: catalog.data.g

[2020-03-23 19:20] FuhuXia commented on #1491
Yes, that will work. Still, using host http://localhost should be allowed so we don't have to spoof ip for local testing. So the change can happen on port 443 conf only, or we do allowing anything except `catalog-bsp.data.gov` instead of blocking anything except `catalog.data.gov`.

[2020-03-23 19:30] adborden commented on #1491
I prefer whitelists over blacklists for this kind of thing. It's usually more secure. So only allow localhost and catalog.data.gov. Otherwise folks can get creative in using our app to serve arbitrary hosts which is problematic.

For port 443, I wouldn't tackle that yet. There's an outstanding issue to move CKAN instances to serve exclusively on HTTPS, but that involves some BSP configuration http

[2020-03-23 19:34] FuhuXia commented on #1491
Cool. Whitelisting `catalog.data.gov` sounds good to me as long as `localhost` is allowed.

[2020-03-23 19:43] adborden commented on #1311
This morning, we saw the 302 redirect for catalog.data.gov/ redirecting to catalog-bsp.data.gov/. We added `Host` to the whitelist. Further, we identified https://github.com/GSA/datagov-deploy/issues/1491 and will whitelist hosts in apache as an additional mitigation.

I'm going to call this issue `Done`.

[2020-03-23 20:06] adborden commented on #1336
Yes! You've hit the nail on the head. What we're struggling with here is the line between [platform responsibility vs application responsibility](https://github.com/GSA/datagov-deploy/issues/544). The application is responsible for creating the schema and running migrations while the platform should be responsible for creating a database, creating a user, setting the password, and exposing those d

[2020-03-23 22:43] ydave-reisys commented on #1482
@hkdctol 4230 Datasets added successfully on staging.

[2020-03-23 23:09] adborden commented on #993
Just to recap the conversation I had with @jbrown-xentity:

We'll want to capture the work of adding extensions back in an issue. The CKAN multi team is working on the saml2 forks, but that probably is not a blocker for adding the extensions back unless there is a specific issue with CKAN 2.8 (and repoze.who might already be a blocker). Right, we're not planning on doing any local testing with a s

[2020-03-23 23:25] adborden commented on #1403
Quoting Andres Vazquez (2020-03-23 06:44:18)

@avdata99, maybe you should pair during the handoff.

--
Aaron D Borden
Human and hacker

[2020-03-23 23:48] adborden commented on #1491
Just for reference, we already implemented this for [nginx hosts](https://github.com/GSA/datagov-deploy-dashboard/blob/5d1b8d9a982418e5f0771682d7b1301c3ee33aef/templates/dashboard.nginx.conf#L19) and define the [whitelist in a single variable](https://github.com/GSA/datagov-deploy/blob/b96f9bed12a0f8301cf7d0701764b256980ff9d2/ansible/inventories/production/group_vars/all/vars.yml#L48).

[2020-03-24 05:43] mogul commented on #1491
A short-term fix would be to add a robots.txt that only appears for catalog-bsp.data.gov to tell search engines not to index.
https://support.google.com/webmasters/answer/6062608?hl=en

[2020-03-24 05:48] mogul commented on #1491
Looks like we'd have to add a noindex directive as well.
https://developers.google.com/search/reference/robots_meta_tag

[2020-03-24 14:09] FuhuXia commented on #682
Upstream issue was closed. CKAN's solution is also using a daily cron job to run a query to delete rows in beaker_cache table.

After our PR deployed, we haven't see any more such 500 errors. We can consider this issue is resolved.

[2020-03-24 16:03] estebanruseler commented on #1461
Julie and my wip analysis https://hackmd.io/DP3btMgNQQ6xoxuRlM2Ajw

[2020-03-24 16:49] adborden commented on #1491
Using robots.txt or a meta tag would require some changes to CKAN. Setting the Host whitelist in apache is theoretically a one-line change to the apache site config.

[2020-03-24 16:53] hkdctol commented on #1482
Testing on staging looks good, relayed info to VA, they can let us know when it's ready on production and we will change harvest URL

[2020-03-24 17:00] mogul commented on #1491
We can't set up a directive in Apache to serve it?

[2020-03-24 17:39] adborden commented on #1314
From our sync today: Let's open a ticket with BSP to update the memory for dashboard instances to match production. BSP should also update the CloudFormation stack so that this isn't a one-time change but integrated into their automation.

[2020-03-24 17:50] FuhuXia commented on #1491
I think configuring apache to restrict hostname to `catalog` is good solution and low level of effort  to implement. Using robots, or noindex directive, either in meta or apache, are same amount of work, if not more. Also there is a risk that some crawlers might not follow the rule of directives.

[2020-03-24 18:59] adborden commented on #1491
That's fair, it's the same amount of work to update the apache config. There is no content hosted at catalog-bsp.data.gov, so having a robots.txt when there's no content seems unnecessary unless it helps search engines to remove content. I believe that returning a 400 will have the same effect though.

Even if we add robots.txt, we still want to whitelist the domains since its also a potential sec

[2020-03-24 21:05] adborden commented on #1068
Seeing this issue on production again.

[2020-03-24 21:23] FuhuXia commented on #1068
When one Bionic hangs, it also brings down other Trusty instances. Trusty instance will take forever to load `/dataset` and eventually gives 500 error. The log shows it is related to postgres QueuePool limit.

![Screenshot 2020-03-24 17 06 32](https://user-images.githubusercontent.com/1392461/77478262-103b7000-6df4-11ea-8ee9-770879119cab.png)

[2020-03-25 03:00] FuhuXia commented on #1375
Bumping psycopg2 to 2.8 seems causing another issue. https://github.com/GSA/datagov-deploy/issues/1068. The explanation of the issue has something to do with python dependency not being thread safe which causes postgres QueuePool running out.

Tried a solution on [serverfaul](https://serverfault.com/questions/844761/wsgi-truncated-or-oversized-response-headers-received-from-daemon-process) to use

[2020-03-25 10:04] estebanruseler commented on #1461
@thejuliekramer as promised I’ve updated the analysis doc with eg.gov collections features and code snippets.

[2020-03-25 13:45] avdata99 commented on #1422
They usually change version numbers
![image](https://user-images.githubusercontent.com/3237309/77542960-bedbc100-6e85-11ea-8300-f25d1f4ea15c.png)

[2020-03-25 13:46] estebanruseler commented on #1422
Synced with Andres so we move this from 90% done to 100% done. Agreed:
 - Double-check that we have requested semantic versioning and testing.Task-list to be updated.
 - The other o/s items are the Slack notifications. We will create a ticket for this to be considered as part of next sprint

[2020-03-25 13:49] estebanruseler opened #1495 "Slack Notifications for Upstream Updates"
**Description:**

Stub issue. Paul to add to this...

What slack channel do they want the notifications on. Do we need permissions? What's involved. I imagine this is quite simple...

## User Story

As a [user description], I want [behavior description] so that [goal].

## Acceptance Criteria
- [ ]

## Task-list
- [ ]

## Details

[2020-03-25 13:52] avdata99 commented on #1422
We have tests [at upstream](https://github.com/ckan/datapusher#development) and they work fine.

![image](https://user-images.githubusercontent.com/3237309/77543524-96a09200-6e86-11ea-8823-f0935861176c.png)

We also add a [test in docker](https://github.com/avdata99/inventory-app/blob/inventory_ckan_2.8_builded_datapusher/tests/test.bats#L108-L116)

[2020-03-25 16:38] adborden commented on #1375
Great find @FuhuXia! The thread-safety issue makes a lot of sense. I think this bolsters the idea of using gunicorn with processes instead of threads. As a quick fix, we could try to use a single thread with multiple processes https://github.com/GSA/datagov-deploy/blob/7141d2c65af46122cfcfdacc2a307f10787bd3e7/ansible/roles/software/ckan/catalog/www/templates/etc/apache2/sites-enabled/ckan.readonly

[2020-03-25 16:44] adborden commented on #1375
... heh, now I feel like I'm just repeating what's in the SO post, but switching to mpm_prefork is also low effort, which doesn't use threads at all.

[2020-03-25 18:13] adborden commented on #1490
Added @starsinmypockets to sandbox https://github.com/GSA/datagov-deploy/pull/1496

[2020-03-25 20:34] estebanruseler commented on #1403
Re-assigned to Paul... and yes they will need to pair quite a bit over the next week(s).

[2020-03-25 22:54] adborden opened #1499 "Update docs for provisioning a new jumpbox instance"
## User Story

As a Data.gov operator, I want documentation for initial jumpbox provisioning so that I can easily check that the jumpbox is configured correctly as well as configure new jumpbox instances when necessary.

## Acceptance Criteria
- [ ] Documentation exists in datagov-deploy

## Details

Some of this is captured in [datagov-infrastructure-live](https://github.com/GSA/datagov-infrastru

[2020-03-25 23:19] mogul commented on #1358
Per [these instructions](https://developers.login.gov/testing/) I filled out the form to ask for access to the sandbox today.

[2020-03-25 23:19] mogul commented on #1358
cc @starsinmypockets

[2020-03-25 23:21] mogul commented on #1490
Many items here are blocked by lack of a @gsa.gov email address; moving to blocked.

[2020-03-26 03:19] FuhuXia commented on #953
Found the reason for harvest job getting stuck. If the dataset contains certain string field that is too large to be indexed by Solr, it will generate an exception during fetch stage with error message:

on example of such field is `spatial`
![Screenshot 2020-03-25 23 02 48](https://user-images.githubusercontent.com/1392461/77606428-e1a1c000-6eed-11ea-9ce3-e1c9ffd5e885.png)

If the size of such st

[2020-03-26 04:00] thejuliekramer commented on #1461
@estebanruseler  After poking around for a few days it seems like we can move the [methods](https://github.com/GSA/ckan/commit/3ef9f1be9667476d14ce4411d0e36bbdf81e00dc) we've changed for the collections search into an extension and override the existing methods in ckan... the same methods still exist in newer versions of CKAN... I think they will interact the same with the code the exists in dataj

[2020-03-26 13:56] FuhuXia commented on #1367
@hbarrett We tried harvesting the WAF source again in our development environment. 5402 metadata files were found and successfully harvested. I believe if there was 116191, harvesting should be fine too. The way files/folders are structured is good. We are looking at other cause for the Error.

[2020-03-26 14:14] FuhuXia commented on #874
A bug was found that will get large harvest source stuck if there are many newly added datasets, as describe in issue https://github.com/GSA/datagov-deploy/issues/1367,  and the harvest source will gives UI error when being edited as described in this ticket.

In the harvest `status` field there is an item `summary`, this item contains a **summary** of `added` records as well as `errors`. Since it

[2020-03-26 17:23] mogul commented on #1461
@jbrown-xentity FYI! @estebanruseler is available to talk about the findings in more detail if you like, especially if it's useful to you in the context of other projects.

[2020-03-26 17:45] jbrown-xentity commented on #1461
@estebanruseler would love to sync up about your findings and next steps for this!

[2020-03-26 19:55] estebanruseler commented on #1461
@jbrown-xentity @thejuliekramer and I were working on this together so we should have a chat the 3 of us. Tomorrow my day is pretty full but should we meet for 30 mins on Monday. I'm available from 1.30 to 3 pm ET.

[2020-03-26 20:29] adborden commented on #1375
@FuhuXia and I discussed this a bit, pscopg2 posts show a [similar](https://www.psycopg.org/articles/2018/02/08/psycopg-274-released/) [issue](https://www.postgresql.org/message-id/CA%2Bmi_8bd6kJHLTGkuyHSnqcgDrJ1uHgQWvXCKQFD3tPQBUa2Bw%40mail.gmail.com) when using the binary wheel distributed with psycopg2. However, we are should be building from source, so I think it's an unrelated issue.

Since t

[2020-03-26 20:57] adborden commented on #1375
I tried these methods, all with no success. I tried each method with a reboot in between and a 5+ minute wait to let the connections drain. After starting apache2, I started a loop to curl the dataset endpoint:

[code]

Within a minute, sometimes more sometimes less, the curl loop would hang and no more output would appear in the log indicating the hang. After 30 seconds, kill the curl loop and th

[2020-03-26 22:21] adborden commented on #1375
I don't think this is particularly relevant, but even with threads=1, we're still seeing about four threads per process. Not sure where these are coming from.

Second column is PID,
[code]

[2020-03-26 22:29] adborden commented on #1375
So I was thinking about the [psycopg2 post](https://www.psycopg.org/articles/2018/02/08/psycopg-274-released/) mentioned earlier, and although I don't think it's related, I was thinking about how it might be possible for our dependencies to be built against the wrong library, or an old library. Python was also built a long time ago, when these instances were first provisioned. Maybe an act of desp

[2020-03-26 23:03] FuhuXia commented on #1375
That would explain why we never saw it in sandbox or local dev.

[2020-03-27 14:14] starsinmypockets commented on #1403
I agree with the analysis presented in the issue description above. I think we should rebase datagov's `ckanext-saml2/max` branch onto the current upstream (datashades) `link-master`, keep code added to upstream, fix conflicts, and tag the result of the rebase with the same tag as the upstream. Our fork, which we will maintain while we use max.gov, will track closely to the upstream with a few nec

[2020-03-27 15:47] starsinmypockets commented on #1403
@adborden @FuhuXia https://github.com/GSA/ckanext-saml2/pull/8

[2020-03-27 15:51] FuhuXia opened #1501 "Postfix SMTP server"
Start to getting email notifications from multiple hosts in prod and staging environments reporting this error. Outgoing email function on the hosts might be affected by this issue.

Here is a sample error message in the email body

[code]

## How to reproduce

Emails addressed to data.gov help with subject line:
`Postfix SMTP server: errors from unknown[10.176.16.106]`
or
`Postfix SMTP server: er

[2020-03-27 17:25] mogul commented on #1358
I got access to the login.gov developer dashboard and created a team there... @starsinmypockets @adborden @FuhuXia, you should have invitations in your inbox. Try to log in and create a login.gov development account when prompted (note this is not the same as the production login.gov account).  Once that's done fill out [this form](https://dashboard.int.identitysandbox.gov/service_providers/new) t

[2020-03-27 17:54] mogul commented on #1501
We suspect some misconfiguration here based on the IP addresses implicated. Will research more and if so escalate.

[2020-03-27 19:05] hkdctol opened #1502 "Create links to coronavirus resources from Data.gov main page"
## User Story

As Data.gov PMO, want to determine what, if any, links to corona virus resources should be linked from Data.gov main page

## Acceptance Criteria

- [x] Determine which, if any, links should be included
- [x] Determine locations for links on Data.gov
- [x] Create links in staging
- [x] Create links in production

## Details

There are three potential sites to include:
https://www.co

[2020-03-27 19:31] hkdctol commented on #1502
@crysacarter comments they are essentially the same and to link to coronavirus.gov

[2020-03-27 23:14] adborden commented on #1068
Closing as a duplicate of https://github.com/GSA/datagov-deploy/issues/1375, we're at least talking about these as if they're the same issue.

[2020-03-27 23:14] #1068 closed, assigned to adborden

[2020-03-28 00:25] adborden commented on #1501
We took a look at this today. I think this is some remote machine trying to connect to postfix. This shouldn't really ever happen. In fact, we probably should be blocking inbound traffic to port 25.

On further inspection of the logs, one example is the attempt to deliver a message to postmaster@catalog-web2d.dev-ocsit.bsp.gsa.gov. My hunch is that this is a Non-Delivery Report in response to a me

[2020-03-28 00:35] adborden commented on #1375
inventory-1p started hanging around 11pm PST, so that didn't work.

We chatted today and decided to focus on reproducing this on staging. I realized that whatever triggers this could be specific to a type of request or controller. I went back to look at the logs and noticed some requests were timing out.

[code]

I grabbed a couple hundred URLs from production logs to reproduce on staging, these t

[2020-03-28 00:41] adborden commented on #1375
From the [above crash](https://gist.github.com/adborden/1d7fe9c37907d7f4a68638eec49e3d55), I ran into [this](https://github.com/lcd1232/django-postgrespool2/issues/11) and [a psycopg2 2.8.x fix for CKAN](https://github.com/ckan/ckan/pull/4841) (feeling silly that we didn't check CKAN issues related to psycopg2 before). I patched CKAN on the [datagov-inventory/psycopg2-2.8 branch](https://github.co

[2020-03-28 02:12] FuhuXia commented on #1501
captured some logs from instance that has a working mail.log. It complains about missing file `/etc/ssl/certs/datagov_host.key`. Maybe find the file and put it into the right place could be a quick fix.

[2020-03-30 13:15] estebanruseler commented on #1422
Blocked by slack notifications. This should be easy and we just need to sync with Bret/Aaron on the scrum call.

[2020-03-30 14:24] FuhuXia commented on #1393
Upon further research, the cause of issue is the unencoded characters used in `uri` type of fields. the offending chars in USDA json include `{`, `}`, `\"`, and more than 1 set of `&#`.

[2020-03-30 14:30] FuhuXia commented on #1393
Our JSON schema validator used in ckanext-datajson is working correctly to pick up those chars. its behavior is consistent with other online validator I tried.
![Screenshot 2020-03-30 10 20 27](https://user-images.githubusercontent.com/1392461/77923822-f923d480-7270-11ea-8817-6992378d5ed5.png)
So the question is why the [validator on Project Open Data Dashboard](https://labs.data.gov/dashboard/val

[2020-03-30 15:00] FuhuXia commented on #953
The cause for USDA harvest job getting stuck is explained above. For SBA's job, the cause is different. It is due to one dataset used the reserved word 'Search' as title. `['new', 'edit', 'search']` are reserved words and can't be used as title. ckanext-datajson has problem to deal with this exception. Will address these issues separately with two PRs.

[2020-03-30 15:23] FuhuXia opened #1718 "JSON schema validator not picking up invalid URI entry"
Record containing this kind of accessURL should not pass validator. accessURL is `{"type": "string","format": "uri"}`. Characters such as `{` and `\"` are not valid as uri string.
[code]

[2020-03-30 15:24] FuhuXia commented on #1393
Issue opened on Project Open Data dashboard repo. https://github.com/GSA/project-open-data-dashboard/issues/262

[2020-03-30 16:59] avdata99 commented on #1422
Added to releases RSS to datagov-notifications slack channel
[code]

[2020-03-30 17:02] FuhuXia commented on #953
PR for USDA fix https://github.com/GSA/ckanext-datajson/pull/58

[2020-03-30 17:34] adborden opened #1503 "Release 20200402"
Tracking the release for this sprint. See [Wiki](https://github.com/GSA/datagov-deploy/wiki/Releases) for step by step instructions. We can use this issue to document anything that comes up.

[2020-03-30 17:38] adborden commented on #1495
The command is `/feed subscribe https://github.com/DataShades/ckanext-saml2/releases.atom` in #datagov-notifications.

It looks like the command is only available to non-guests, so I've just run this.

[2020-03-30 17:38] #1495 closed, assigned to starsinmypockets

[2020-03-30 17:49] adborden commented on #953
Can you see if the SBA issue has been raised upstream?

[2020-03-30 18:06] ydave-reisys commented on #1369
Created ticket REQ0517663

[2020-03-30 18:08] ydave-reisys commented on #1369
<img width="1144" alt="catalog" src="https://user-images.githubusercontent.com/3017376/77946197-f2588a00-728f-11ea-8245-3fad1e1d1b2b.png">
<img width="1133" alt="dashboard staging" src="https://user-images.githubusercontent.com/3017376/77946198-f2f12080-728f-11ea-9c1c-9ee90c448376.png">
<img width="1152" alt="data" src="https://user-images.githubusercontent.com/3017376/77946200-f2f12080-728f-11ea-

[2020-03-30 18:55] ydave-reisys commented on #1369
Used sslscan to check weak ciphers
Download : brew install sslscan

eg. command to run
sslscan data.gov

[2020-03-30 23:27] hkdctol commented on #977
@philipashlock pinging on above--do you have any issues with putting links to resources and strategy on top level navigation on main data.gov https://wordpress-datagov.dev-ocsit.bsp.gsa.gov/

[2020-03-30 23:31] hkdctol commented on #1502
Seems like main site https://www.coronavirus.gov/ is adequate. Can we create a link somewhere near top of https://www.data.gov that looks something like GSA internal site
<img width="1440" alt="Screen Shot 2020-03-30 at 7 20 03 PM" src="https://user-images.githubusercontent.com/3236989/77971538-edf69600-72bc-11ea-936a-8e065d902819.png">

[2020-03-31 00:17] adborden commented on #1416
Quoting Paul Walker (2020-03-30 16:34:03)

Let's sync up on this tomorrow, Andres and Julie seemed to think the
changes to the pysaml2 fork were not necessary. Can you document what
the changes are and why they would/wouldn't be necessary?

--
Aaron D Borden
Human and hacker

[2020-03-31 00:21] adborden commented on #1461
I was under the impression that it was not easy to patch/extend CKAN's search functionality from an extension, but if that's not the case then the approach sounds great.

[2020-03-31 00:43] adborden commented on #1358
FYI, I did not get an email, but I was able to go to the identity
sandbox link, create an account, and once in, I did see that I was part
of the data.gov team.

--
Aaron D Borden
Human and hacker

[2020-03-31 13:20] starsinmypockets commented on #1416
This looks to me like the relevant diff between the latest upstream and max:

https://github.com/IdentityPython/pysaml2/compare/master...GSA:max

The changes in `max` are related, as the branch-name suggests, to the non-standard MAX.gov interface, and I don't believe that we can safely lose them.

This would suggest using the same approach we used for `ckanext-saml2` -- rebase changes onto the lat

[2020-03-31 13:38] starsinmypockets commented on #1416
According to pypi 4.9 is the last version with python 2 support
https://pypi.org/project/pysaml2/4.9.0/

[2020-03-31 13:42] starsinmypockets commented on #1416
We can still watch `v4.x.y` for fixes
https://github.com/IdentityPython/pysaml2/compare/v4.9.0...GSA:max

[2020-03-31 14:47] FuhuXia commented on #874
We are removing the summary altogether as a fix.

[2020-03-31 16:26] FuhuXia commented on #953
This SBA kind of error is well handled in other harvester. We only see it in `chanext-datajson` and we are the upstream (sort of).

[2020-03-31 19:17] pjsharpe07 commented on #1503
In the [wiki](https://github.com/GSA/datagov-deploy/wiki/Releases), we could add a step to check that the dependencies are up to date in both catalog and inventory.

[2020-03-31 20:02] adborden opened #1507 "Provision Catalog sandbox environment for CKAN 2.8+"
## User Story

As a Data.gov developer, I want a sandbox environment provisioned side-by-side with the existing CKAN 2.3 environment so that I can deploy the new CKAN 2.8+ code to sandbox and ensure any iterative changes to the 2.8+ branch/repo can be deployed into a live environment without interrupting our ability to develop and maintain CKAN 2.3.

## Acceptance Criteria
- [x] WHEN I run terrafr

[2020-03-31 20:03] adborden commented on #1481
@pjsharpe07 what do you think about splitting the Ansible work into its own story?

[2020-03-31 20:08] adborden commented on #1501
@FuhuXia good point. It's true that fixing permissions (or existence) of `/etc/ssl/certs/datagov_host.key` will fix the error.

I'll open a separate issue to address that postfix should not be allowing inbound connections.

[2020-03-31 20:29] adborden opened #1508 "Postfix should not be accepting inbound connections"
We've received a few emails with the following content:
[code]

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-03-31 23:58] adborden commented on #1115
WordPress 5.4.0 was [released](https://wordpress.org/news/2020/03/adderley/).

[2020-04-01 15:07] starsinmypockets commented on #1416
( @adborden please review )

The [relevant diff here](https://github.com/GSA/pysaml2/compare/GSA:max...IdentityPython:v4.9.0), however, is massive -- ~2000 commits - rebase will not be practical in this case. The directory structure has changed & etc) so I think we can follow 2 courses of action:

Option 1. Fork and reapply our commit manually, then deploy and manually QA in staging

Option 2. (St

[2020-04-01 16:03] starsinmypockets commented on #1416
I do prefer option 2, above, as it allows us to make testable assertions which will catch relevant changes to the upstream, and captures the spirit of the hack for future devs

Basically the failure path looks like:
1. CI fails with test failure
2. Dev investigates and sees that signature verification test fails (eg)
3. Dev looks at relevant changes in upstream and updates our adaptor or takes app

[2020-04-01 16:22] adborden commented on #1416
@starsinmypockets you have the compare reversed, it's [only 10 commits](https://github.com/IdentityPython/pysaml2/compare/v4.9.0...GSA:max).

[2020-04-01 16:32] adborden commented on #1416
Why do you want to work off of v4.9.0 and not [v5.0.0](https://github.com/IdentityPython/pysaml2/releases/tag/v5.0.0)?

[2020-04-01 16:40] FuhuXia commented on #953
PR for SBA fix https://github.com/GSA/ckanext-datajson/pull/60

[2020-04-01 16:43] starsinmypockets commented on #1416
@adborden The doesn't make sense to me given the intervening time, as well as the different directory structure. Maybe I'm missing something about the way this is calculated. Either way, I'm honestly not sure how to bring the changes forward to the latest commit upstream using git alone.

v4.9.0 appears to be the last branch that supports python 2.7

[2020-04-01 16:52] starsinmypockets commented on #1416
@adborden Here's a stubbed version of an adaptor that we can test:

This should allow us to stop maintaing an additional fork (granted that we maintain this small plugin...)
https://github.com/datopian/max_pysaml2

[2020-04-01 16:54] adborden commented on #1416
Ah, I didn't see a reference to python3 only in the 5.0.0 docs. Okay, let's pair on this today.

[2020-04-01 18:28] FuhuXia opened #1510 "catalog-app requirements-freeze.txt is not up to date"
[requirements-freeze.txt](https://github.com/GSA/catalog-app/blob/master/requirements-freeze.txt
) file in catalog-app is out of date, as a result, there are quite some commits on multiple ckan extension that are merged into master branch but do not get deployed on production.

Here is the list of such commits

https://github.com/GSA/ckan/compare/f11ecb6b0050de00bc339d2814644b3c5e18fdf3...datagov

[2020-04-01 21:48] adborden commented on #1393
@FuhuXia based on your understanding of the issue, the work around would be for agencies to use [URL encoding](https://en.wikipedia.org/wiki/Percent-encoding) for URLs, is that correct?

[2020-04-01 23:33] FuhuXia commented on #1393
@adborden It is not a workaround. The querystrings in the URI **MUST** to be correctly encoded. Otherwise, those bad characters will get the dataset invalidated by Project Open Data validator (if the [issue](https://github.com/GSA/project-open-data-dashboard/issues/262) is fixed), or will later be rejected by catalog harvester as it is happening now.

Depending on what URI encoding tool agencies a

[2020-04-01 23:43] philipashlock commented on #977
@hkdctol Yeah, I'm supportive of swapping out those two top level nav links. Although I think it might make sense to style them differently and maybe separate them or put them both on the far right of the nav bar to help denote that they go to separate websites which don't share the same nav or site design since they're behavior is different than all the the other links and you can't easily get ba

[2020-04-02 06:51] mogul opened #1513 "[Offboard] Yaditi Dave"
These tasks are performed by an Admin unless noted as an action for the outgoing team member.

- [x] Team member should move all Data.gov related documents to team drives
- [x] Team member should document any work in progress and schedule a hand-off for any remaining tasks
- [x] Remove team member from Data.gov GitHub teams
  - [data-gov-admins](https://github.com/orgs/GSA/teams/data-gov-admin/mem

[2020-04-02 14:02] avdata99 commented on #1422
Closing since is done

[2020-04-02 14:02] #1422 closed, assigned to avdata99

[2020-04-02 16:15] mogul opened #1515 "Investigate dashboard crawls not running"
## Description
When you look at the labs.data.gov/dashboard page, every agency should have at least some record showing up for the current quarter. However, that's not always the case.

@philipashlock [said in Slack](https://gsa-tts.slack.com/archives/C2N85536E/p1585799655136500?thread_ts=1585677852.091500):

We need to investigate whether crawls are being invoked as expected, and if so, what migh

[2020-04-02 16:48] #1461 closed, assigned to mogul, adborden

[2020-04-02 20:14] mogul opened #1517 "Enable optional native login in the inventory ansible role"
## User Story

In order to enable deployment and testing of inventory CKAN in non-BSP environments, we want the setup of local vs SAML authentication to be configurable with a variable.

## Acceptance Criteria
- [x] GIVEN sandbox environments are configured with `inventory_ckan_saml2_enabled: false`
  WHEN the `inventory.yml` playbook is run
  THEN the environment is configured with CKAN's native

[2020-04-02 20:29] mogul opened #1518 "Continuous deployment of datagov-deploy to sandbox"
## User Story

In order to shorten the cycle between committing changes and identifying problems that might impact release, we want the datagov-deploy playbook to be continuously deployed in the sandbox environment.

## Acceptance Criteria
- [ ] WHEN a commit lands on the `develop` branch in the `datagov-deploy` repository \
  THEN the ansible playbook is run in the sandbox environment
- [ ] WHEN

[2020-04-02 20:29] mogul opened #1519 "Continuous deployment of datagov-deploy to sandbox"
## User Story

In order to shorten the cycle between committing changes and identifying problems that might impact release, we want the datagov-deploy playbook to be continuously deployed in the sandbox environment.

## Acceptance Criteria
- [x] WHEN a commit lands on the `develop` branch in the `datagov-deploy` repository \
  THEN the ansible playbook is run in the sandbox environment
- [x] WHEN

[2020-04-02 20:46] mogul commented on #765
Partially addressed by #1061 (for inventory)

[2020-04-02 22:45] jbrown-xentity opened #1520 "FGDC XSLT update"
## User Story

As a member of FGDC, I want to confirm the newly designed XSLT transform file for FGDC2ISO service will work appropriately so that we have the best transform service possible.

## Acceptance Criteria
- [x] Various harvest sources are tested on staging using the new XSLT [transform file](https://github.com/GSA/datagov-deploy/files/4307367/csdgm_iso_transform.zip)
- [ ] Any/all harves

[2020-04-02 22:47] adborden opened #1521 "beaker-cache-cleanup cron should be muted"
Receiving emails like:
[code]

We should just add `> /dev/null` to the cron command.

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-04-02 22:47] jbrown-xentity commented on #1334
There are a number of outstanding issues on this ticket. Refactoring into multiple tickets. This will be the work to setup the test harvest source into production.

[2020-04-03 00:24] adborden commented on #1517
Added some AC.

[2020-04-03 16:37] hkdctol commented on #1502
@crysacarter updated the link to main coronavirus.gov site. Work is complete.

[2020-04-03 17:09] mogul commented on #1427
Sai has his @gsa.gov email address, unblocking a bunch of items here.

[2020-04-03 17:36] adborden opened #1523 "datagov-infrastructure-live cannot fully remove IAM user"
https://circleci.com/gh/GSA/datagov-infrastructure-live/596

Looks to be some kind of permission issue with the datagov-ci deployer user.

[code]

## How to reproduce

1. Create a user in `iam/users.tf`
1. Setup the user with Virtual MFA device
1. Remove the user from `iam/users.tf`

## Expected behavior

User is deleted.

## Actual behavior

User is only partially deleted. The VirtualMFA device p

[2020-04-03 17:39] adborden commented on #1523
We added `iam:ListVirtualMFADevices` to the datagov-ci user ~but it didn't seem to resolve it~ and it worked!

[2020-04-03 17:40] adborden commented on #1523
Nm, that did work.

[2020-04-03 17:40] #1523 closed, assigned to nobody

[2020-04-03 17:44] adborden commented on #1513
For ansible key rotation: https://docs.ansible.com/ansible/latest/user_guide/vault.html

[2020-04-03 18:23] adborden opened #1524 "Ansible role for datapusher"
## User Story

As a Data.gov developer, I want a separate Ansible role for datapusher so that I can deploy datapusher separately from Inventory.

## Acceptance Criteria
- [ ] GIVEN that I run the datapusher.yml playbook
    THEN datapusher is deployed
    AND Inventory is unchanged

## Details
This helps us de-couple datapusher from Inventory which allows us to move datapusher to cloud.gov separat

[2020-04-03 18:28] adborden commented on #1524
Given that datapusher is an essential part of CKAN, We could probably roll it into a CKAN Ansible role.

This would still be helpful for cloud.gov

[2020-04-03 23:23] jbrown-xentity commented on #1481
Terraform instances are deployed, but not tested. Next steps:

- Push terraform changes
- Test inventory standard playbook from ci
- Update datagov-deploy on inventory 2.8 branch to be additions and not changes
- Update datagov-deploy variables from terraform

[2020-04-06 17:18] mogul commented on #977
@adborden is going to investigate whether there's any bulk way to associate stuff intended to be removed (in the spreadsheet above) with identifiers in the Wordpress API that would make this quick work.

One idea to be investigated: Yaditi changed the "removed" stuff to the draft state in staging. Can we query for stuff in the draft state in staging to get a list of what should be changed to the d

[2020-04-07 17:25] mogul commented on #1276
@FuhuXia please look into (securely) expanding the repro steps here based on the mails where we've seen this reported.

[2020-04-08 17:28] mogul opened #1530 "[Offboard] Sai"
These tasks are performed by an Admin unless noted as an action for the outgoing team member.

- [x] Team member should move all Data.gov related documents to team drives
- [x] Team member should document any work in progress and schedule a hand-off for any remaining tasks
- [x] Remove team member from Data.gov GitHub teams
  - [data-gov-admins](https://github.com/orgs/GSA/teams/data-gov-admin/mem

[2020-04-08 17:29] adborden opened #1531 "Potential BREACH vector"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1Dy0JK1kJR31z_0-VfzKmnojelZ9NwB_hZ97prn6j2eQ/edit#heading=h.ncmxcxtf14ej)._

**Date of report:** February 25, 2020
**Due date:** May 25, 2020

- [ ] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is identified,

[2020-04-08 17:30] mogul commented on #1427
Won't be completing this issue.

[2020-04-08 17:30] #1427 closed, assigned to mogul

[2020-04-09 16:02] adborden opened #1534 "Catalog ssl directory has incorrect permissions"
Not sure when this started, but I'm seeing the SSL private directory with incorrect permissions on several staging catalog-web instances.

[code]

## How to reproduce

1. Connect to catalog-web1d
1. `sudo ls -ld /etc/ssl/private`

## Expected behavior

Directory is readable by ssl-cert group (0750)

## Actual behavior

Directory is not readable by ssl-cert group (0710)

[2020-04-09 17:04] mogul commented on #1369
Looks like we need to keep pestering BSP on this one, and make sure we see comms that would have gone to Yaditi.

[2020-04-09 17:13] mogul commented on #1428
Met to discuss how to tackle document revisions. Jason needs GDrive access to be able to add new folders and files.

[2020-04-09 20:56] FuhuXia commented on #1457
Tested WordPress plugin **SSL Insecure Content Fixer** on local. With setting set to **Content**, `http` links in the content were changed to `https`. This seems to be the plugin we need to fix the issue.

[2020-04-09 22:33] jbrown-xentity commented on #1481
Current status:

- Have running version with gunicorn (DB not setup)

Next Steps:

- Configure DB (use docker start script and run `paster --plugin=ckan db upgrade -c /etc/ckan/production.ini` manually)
- Setup Ansible with supervisor and gunicorn (similar to pycsw)
  - Add redis configuration
- Run and validate ^^
- Discover/plan for dedicated redis server and discuss with team
- Consider impleme

[2020-04-09 23:10] adborden opened #1536 "Provision Redis (ElastiCache) for CKAN 2.8 in sandbox environment"
## User Story

As a Data.gov developer, I want Redis ([ElastiCache](https://aws.amazon.com/redis/)) provisioned in sandbox so that I can deploy Inventory CKAN 2.8 and meet its dependencies.

As a Data.gov developer, I want Redis ([ElastiCache](https://aws.amazon.com/redis/)) terraform module so that I can pass it over to BSP to demonstrate exactly what I need using infrastructure as code.

## Acce

[2020-04-09 23:13] adborden opened #1537 "Provision Redis in BSP environments"
## User Story

As a Data.gov operator, I want Redis provisioned in the BSP environments so that I can meet the dependencies of CKAN 2.8 without taking on additional infrastructure burden.

## Acceptance Criteria
- [x] GIVEN I run the Inventory playbook
  WHEN I inspect the ckan.harvester.mq setting /etc/ckan/production.ini on Inventory hosts
  THEN I see CKAN is configured to connect to the new Re

[2020-04-10 04:09] #1311 closed, assigned to adborden, jbrown-xentity

[2020-04-10 04:09] #1384 closed, assigned to FuhuXia

[2020-04-10 04:09] #1460 closed, assigned to hkdctol

[2020-04-10 04:09] #1503 closed, assigned to FuhuXia

[2020-04-10 04:20] #1105 closed, assigned to adborden

[2020-04-10 04:20] #1183 closed, assigned to nobody

[2020-04-10 04:20] #1318 closed, assigned to FuhuXia

[2020-04-10 04:20] #1370 closed, assigned to jbrown-xentity

[2020-04-10 04:20] #1375 closed, assigned to adborden

[2020-04-10 04:20] #1385 closed, assigned to FuhuXia

[2020-04-10 04:20] #1389 closed, assigned to adborden

[2020-04-10 04:20] #1397 closed, assigned to adborden

[2020-04-10 04:20] #1462 closed, assigned to adborden

[2020-04-10 04:39] mogul commented on #1530
Only this PR left: https://github.com/GSA/datagov-infrastructure-live/pull/55

[2020-04-10 14:56] FuhuXia commented on #1457
verified on staging.

[2020-04-10 19:35] mogul commented on #992
We're closing this one in favor of #1356

[2020-04-10 19:35] #992 closed, assigned to nobody

[2020-04-10 19:38] mogul commented on #1356
We are currently planning to accomplish this by converting to a static site and putting it on Federalist. Here's some [previous research](https://docs.google.com/document/d/1VS2qLb8d24Icz7KLJft23KbDQK9WxuBmFbXiIq2etA4/edit#heading=h.cui1qvtcapew).  See also #1465.

[2020-04-11 00:28] adborden opened #1539 "Split terraform projects into their own GH repositories"
## User Story

As a Data.gov developer, I want each terraform project in its own repository so that I can decouple the projects, each with their own CI, validation, and lifecycle.

## Acceptance Criteria
- [ ] Each project in https://github.com/GSA/datagov-infrastructure-live is split out into its own repository configured with a CI pipeline that includes validate -> plan -> approve -> apply.

##

[2020-04-13 15:09] kimwdavidson commented on #517
reundant with forks epic #1343

[2020-04-13 15:09] #517 closed, assigned to nobody

[2020-04-13 15:10] #521 closed, assigned to nobody

[2020-04-13 15:10] kimwdavidson commented on #675
Done.

[2020-04-13 15:10] #675 closed, assigned to jbrown-xentity

[2020-04-13 15:43] kimwdavidson opened #1540 "Discovery: Analyze what code can be removed from the catalog application"
Discuss next steps to upgrade catalog-app based [on the current document](https://hackmd.io/obF4RqFqQy2914eBrQQ44Q?both).

## Acceptance Criteria
- [ ] Determine what code is currently being used and how to upgrade it.
- [ ] Determine what code can be removed

[2020-04-13 17:01] hkdctol commented on #1369
FCS team suggested meeting on this--working on scheduling.

[2020-04-13 19:43] hkdctol opened #1542 "Metadata for specific dataset not always updated"
Dataset in catalog does not show updated metadata--harvest objects are still linked to old ones, not updated. and required Solr reindex

## How to reproduce

1. Came up most recently with:

https://catalog.data.gov/dataset/real-estate-across-the-united-states-rexus-inventory-building
https://catalog.data.gov/dataset/real-estate-across-the-united-states-rexus-lease

This dataset had been updated wi

[2020-04-13 19:58] adborden commented on #1542
@FuhuXia @jbrown-xentity could this be related? https://github.com/GSA/datagov-deploy/issues/526

[2020-04-13 20:54] jbrown-xentity commented on #1481
gunicorn serve command: `gunicorn --paste /etc/ckan/production.ini -b localhost:8003`

[2020-04-13 21:07] jbrown-xentity commented on #1481
Need to add the following to ansible:
- Redis configuration (https://github.com/GSA/datagov-deploy/issues/1536)
- gunicorn installation (https://github.com/GSA/datagov-deploy/issues/1383)
- apache configuration (with gunicorn)
- supervisor configuration (with gunicorn)
- integrate ckan local login changes (https://github.com/GSA/datagov-deploy/issues/1517)

[2020-04-14 01:07] adborden commented on #601
I did some analysis of ckanext-datajson and identified some potential issues a while back but I can't find the issue. Maybe I never wrote up the findings.

I don't know if this is really the root cause of ckanext-datajson creating duplicates, but it did look like the harvest process could end up linking to the wrong harvest_object, causing issues.

Here is a partial analysis for ckanext-datajson.

[2020-04-14 14:52] FuhuXia commented on #1542
@adborden They have similar behavior on the UI. But the fact that fixes are different makes me believe the root causes are different. Datasets in this issue can be resolved by a solr re-indexing, in other issues when the link to metadata returns 404, the fix has to be done in DB side first then a re-indexing.

[2020-04-14 17:02] mogul commented on #1334
Waiting on harvests to proceed here.

[2020-04-14 17:17] mogul opened #1543 "Release 20200416"
## Issues encountered
### ...in the sandbox environment
We should skip running the inventory playbook (add instructions for that to the deployment process) here since there are environment deltas that we haven't resolved yet and we know it doesn't deploy cleanly. We can bring it back into the process as we address those deltas.
### ...in the staging environment
The Trend Micro agent installed is n

[2020-04-14 17:24] jbrown-xentity commented on #1334
Harvests are complete, with associated errors. Will send to FGDC and await analysis. Closing.
For reference, harvest sources:
- https://admin-catalog.data.gov/harvest/admin/csdgm-test-waf
- https://admin-catalog.data.gov/harvest/admin/iso-test-waf
- https://admin-catalog.data.gov/harvest/admin/json-test-waf

All datasets in these harvest sources that were harvested correctly appear in the FGDC org

[2020-04-14 17:27] mogul opened #1544 "CloudWatch Alarms on CPU move to New Relic (and tune)"
## User Story

In order to give us more control over how CPU alerts are generated and delivered, we want to disable CloudWatch Alarms for CPU on catalogweb and tune the CPU alerts on New Relic.

## Acceptance Criteria
- [x] WHEN we generate artificial load on a monitored host for more than 10 minutes
  THEN we see an alert from New Relic
  AND we see no alert from CloudWatch

## Details

[2020-04-14 17:33] mogul commented on #1123
@adborden is going to schedule a meeting to investigate why the upstream retry logic isn't enough and we had to write our own retry logic, and how to address that.

[2020-04-14 20:01] hkdctol commented on #1369
Met with FCS team 4/14. They will disable the ciphers in questions in dev this week. Target for replacing in production is Thursday 4/23.

[2020-04-14 20:21] adborden commented on #1123
@jbrown-xentity @FuhuXia and I chatted about this today. [ckanext-geodatagov](https://github.com/GSA/ckanext-geodatagov/blob/d82eb45067f9b8335b6d767499f218431fb6c215/ckanext/geodatagov/commands.py#L657) contains a `harvest-job-cleanup` command that searches for stale jobs (over 6 hours with no progress), identifies them and attempts to unstuck them. There's several corner cases it addresses. This

[2020-04-14 20:39] adborden commented on #1481
We have existing issues for most of these additional items. I'm pretty sure that the Terraform and the core Ansible work is done (we should wrap up if it's not) and call this done.

[2020-04-14 21:46] adborden commented on #1517
Was just chatting with @jbrown-xentity @pjsharpe07, we probably don't want to do this work, at least not as described. We can pull in a few similar changes from https://github.com/GSA/datagov-deploy/pull/1474/commits/1c86878e3da6d6ebba1a1679e870ae66b02cf9a0 and https://github.com/GSA/datagov-deploy/pull/1474/commits/71b64e9acde27f2be1e4f41aa74dc714b8a40ddf, but we don't actually need to combine sa

[2020-04-14 23:04] adborden commented on #1542
Ah, good point. Do you have a sense of why solr is out of sync? At what point in the harvest process does solr get updated?

[2020-04-15 14:12] starsinmypockets commented on #1424
@adborden Looks like in terms of forks there is very little to do here until we are upgrading to 2.8

Complete analysis here:
https://gist.github.com/starsinmypockets/306f372141e95a3d8325bdd43a041be5

[2020-04-15 14:19] FuhuXia opened #1547 "Nessus 04142020"
https://docs.google.com/spreadsheets/d/1GdwrwNvDSH1O5NHTneROb5SkLPN91Bcvj47X7__yeaw

### Brief description

2 medium items

[2020-04-15 15:05] hkdctol commented on #1036
Not on team; we can close this ticket.

[2020-04-15 15:05] #1036 closed, assigned to nobody

[2020-04-15 15:07] hkdctol commented on #578
I think we can close this for now--as we should shortly be shifting away from using Uptrends.

[2020-04-15 15:07] #578 closed, assigned to hkdctol

[2020-04-15 15:36] FuhuXia commented on #1542
I think solr index is handled by ckan core when package is updated. Individual ckan extension does not handle it. Not exactly sure why solr is out of sync in this issue. We can spend some time to see whether it is replicate-able in local environment, if so, then it is code related. But I would rather believe it is possible due to some solr glitches. Some solr log with same timestamp might be able

[2020-04-15 16:36] adborden commented on #1424
@starsinmypockets 2.8 is in progress here https://github.com/GSA/inventory-app/tree/inventory_ckan_2.8, is there something else you need in order to continue this work?

[2020-04-15 16:46] starsinmypockets commented on #1424
@adborden should I continue the work against 2.8 in progress?

[2020-04-15 17:24] adborden commented on #1424
Yes, why don't you pull in @avdata99 as a pair.

One thing I want to call out: the Inventory 2.8 branch is using the [datopian fork](https://github.com/GSA/inventory-app/blob/inventory_ckan_2.8/requirements.txt#L3), so whatever fixes are necessary for USMetadata should be made so that we can switch back to using the GSA version.

[2020-04-15 17:25] adborden commented on #1542
Do you know if there have been improvements here upstream, like in CKAN 2.8 that might address some of the solr issues?

[2020-04-15 20:34] adborden opened #1548 "Support FCS in catalog database upgrade to 9.5"
FCS has notified us that AWS is dropping support for PostgreSQL 9.4 on April 20th. Currently staging is already running 9.5 but production must be upgraded to at least 9.5.

AWS considers this a [major version update](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_UpgradeDBInstance.PostgreSQL.html). Documentation on [read replicas](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuid

[2020-04-15 21:44] adborden commented on #1548
Just reading up on the process for a major RDS upgrade and related documentation for read replicas. It looks like we're going to need to coordinate a little closer than I expected. The AWS docs say that it's not possible to perform a major upgrade on read replicas, so we need to either promote them or destroy/re-create them. Since the promotion is not automatic, we should use the destroy/re-create

[2020-04-15 22:06] adborden commented on #1548
We're currently running PostgreSQL 9.4.20 on production. I'm going to ask FCS to do a minor version update.

postgis_tiger_geocoder and postgis_topology version is 2.1.8 (latest). postgis version is 2.1.8 but [should be updated to 2.5.2](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_PostgreSQL.html#PostgreSQL.Concepts.General.FeatureSupport.Extensions.94x). We'll need the minor upgra

[2020-04-16 14:48] FuhuXia commented on #1542
I am not aware of any similar issue being raised elsewhere, or any improvement done on this kind of issue in 2.8.

[2020-04-16 15:51] adborden commented on #1548
@jbrown-xentity @FuhuXia and I just spoke with FCS who suggested a simplified plan. Since most of our write load comes from harvesters, if we pause that, we'll be able to create a new master and replicas from a snapshot. Once the upgrade is complete on the new instances, we'll just simply cut over to the new instances and re-enable the harvesters.

FCS checked that we're not using any custom param

[2020-04-16 16:08] adborden opened #1549 "Enable automated minor version updates for databases"
## User Story

As a Data.gov developer, I want automated database upgrades enabled in RDS so that our databases are always using the latest version and applications run normally during minor database outages.

## Acceptance Criteria
- [ ] WHEN I check the version of postgresql (`select version();`) or mysql
  THEN I see it matches the latest minor version in the AWS RDS docs
- [ ] GIVEN a new vers

[2020-04-16 16:24] hkdctol commented on #1468
Data call submitted to TTS 4/15.

[2020-04-16 19:57] adborden commented on #1537
I sent an email to BSP yesterday to see if ElastiCache is an option.

[2020-04-16 20:01] adborden opened #1552 "inventory-2-8-web1tf fails on sandbox blocking inventory testing"
##  How to reproduce

1. `ansible-playbook -i inventories/ci inventory.yml`

## Expected behavior

inventory-2-8 is not included, or fails in the same way as other instances

## Actual behavior
inventory-2-8 fails, blocking the playbook from running on non 2.8 hosts.

## Workaround
Work around is to skip the inventory-2-8 host

`--limit '!inventory-2-8-web1tf.internal.ci.datagov.us'`

[2020-04-16 20:07] mogul commented on #1369
Aaron's verifying the changes FCS already made in staging for wordpress and dashboard, and will look into what still needs to be done for catalog and inventory.

[2020-04-16 20:17] mogul commented on #977
Aaron's got a process for identifying IDs for content to be removed, though there are still some things that will need to be managed by hand.

[2020-04-16 20:18] mogul commented on #1419
James is saying there's very little left to do here, and that he can fit it in the margin of the O+M rotation he's taking this sprint.

[2020-04-16 20:31] mogul commented on #1552
@starsinmypockets FYI, we're putting this high in our backlog as of today so it hopefully won't trip us up much longer.

[2020-04-16 20:42] adborden commented on #1531
Duplicate of #1455

[2020-04-16 20:42] #1531 closed, assigned to nobody

[2020-04-16 20:49] mogul commented on #1061
Closing as a dupe of #765.

[2020-04-16 20:53] mogul commented on #1061
Reopening as this can be done on its own without worrying about the other apps.

[2020-04-16 21:18] jbrown-xentity opened #1554 "James O+M"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-04-16 23:12] mogul opened #1556 "Manage cloud.gov roles with Terraform"
## User Story

In order to raise visibility increase the auditability of changes and reduce the set of people with administrative permissions, we want the roles granted in our cloud.gov organization to be managed using PRs on Terraform files.

## Acceptance Criteria
- [ ] WHEN I look at our Terraform configuration
  THEN I see file for managing users and roles
- [ ] WHEN a PR is merged that change

[2020-04-16 23:33] mogul opened #1557 "Increase self-service ability to resolve catalog problems*"
## Feature/what we're after
Agencies can resolve common problems with the harvesting of their data without going through the data.gov team for help.

## Anticipated/hypothesized benefits
- fewer support inquiries for the team
- happier agency partners

## Measurements/metrics
- decrease in the rate at which we see support inquiries

## Additional info
We have some ideas here that are different app

[2020-04-17 01:15] adborden commented on #1369
After taking a closer look at sslscan, it seems this isn't a great test. It's unclear from the output which weak ciphers are enabled, if any. I'm not even sure it's testing against the same list mentioned in the finding. Instead I'm using this script https://gist.github.com/adborden/8a1ac6c3eedae49bdb2d2ad5c8c2e0b6

I tested wordpress and dashboard in staging, but it seems that some weak ciphers a

[2020-04-17 01:28] adborden opened #1559 "HTTP Strict Transport Security (HSTS) Policy Not Enabled"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1Dy0JK1kJR31z_0-VfzKmnojelZ9NwB_hZ97prn6j2eQ/edit#heading=h.ck6b39sp6ns2)._

**Date of report:** 03-24-2020
**Due date:** 06-24-2020

- [ ] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is identified, we creat

[2020-04-17 01:33] adborden commented on #1559
I think this is actually a false positive, but we still need to make some kind of configuration change to silence the issue.

[2020-04-17 01:36] adborden commented on #1559
ah, it really is a false positive. This is the HTTP response body from the scan which is clearly cloudfront throttling.
[code]

[2020-04-17 01:36] #1559 closed, assigned to nobody

[2020-04-17 02:07] adborden commented on #1552
I think @jbrown-xentity was working on a fix, but feel free to hand off if you need.

[2020-04-17 02:31] adborden commented on #1548
I've disabled `harvest run` on catalog-harvester1p.

[2020-04-17 02:36] adborden commented on #1543
@pjsharpe07 we should hold off on the production release until after the [database upgrade](https://github.com/GSA/datagov-deploy/issues/1548).

[2020-04-17 02:40] mogul opened #1560 "Use a different ansible key for production"
## User Story

In order to minimize the blast radius from a compromised jumpbox or insider threat, we should use a separate Ansible key for the vaults for the production environment.

## Acceptance Criteria
- [ ] GIVEN the common Ansible key IS installed locally
  AND the production Ansible key is NOT installed locally
  WHEN I run `ansible-vault view ansible/inventories/production/host_vars/*/vau

[2020-04-17 03:24] philipashlock commented on #894
The initial work to migrate the content is in the `proof-points-migration` [branch](https://github.com/GSA/resources.data.gov/tree/proof-points-migration), waiting on some feedback to determine how much more work is needed before the first push live with the migrated content.

Previews
- https://cg-f5a56614-c88e-470c-9f06-ff5fe2d4c98a.app.cloud.gov/preview/gsa/resources.data.gov/proof-points-migra

[2020-04-17 17:15] mogul commented on #1428
AC control pairing planned for later today.

[2020-04-17 17:19] mogul commented on #1552
Sounds like a fix is available, but needs to be back-ported from the current release. Fuhu will look into that.

[2020-04-18 00:55] mogul commented on #1379
The upstream has now [migrated their examples to Helm 3](https://github.com/gruntwork-io/terraform-google-gke/pull/88). 🎉

[2020-04-18 16:40] adborden opened #1564 "User Agent shows "Amazon CloudFront" in catalog access logs"
[code]

## How to reproduce

From catalog-web1p
1. `grep "Amazon CloudFront" /var/log/ckan/ckan.access.log`

## Expected behavior

No occurrences, user agent includes the client UA.

## Actual behavior

Many occurrences.

[2020-04-18 17:39] adborden commented on #1548
As part of disabling worker processes, I realized that as part of https://github.com/GSA/datagov-deploy/issues/499, we cleaned up the `geodatagov clean-deleted` job https://github.com/GSA/ckanext-geodatagov/pull/115 but we never re-enabled the job. There are likely many rows that can be cleaned up and we should look at prioritizing #499 in order to improve database performance.

[2020-04-20 13:00] FuhuXia commented on #1548
Looking at the action items of this task, it demos the necessity of an equivalently sized database running on staging or sandbox environments, on which we can do some performance testing, or dry-run some heavy operations and become aware of their impact before executing them on live production database. This operations include vacuum, rebuilding index, or debugging `clean-deleted` job.

[2020-04-20 17:02] jbrown-xentity commented on #1455
PR in place, need to validate on staging for confirmation.

[2020-04-20 17:17] jbrown-xentity commented on #1369
@adborden emailed FCS to clarify why some of those ciphers are still enabled, waiting to hear back.

[2020-04-20 18:45] pjsharpe07 opened #1567 "Trendmicro not updating as expected"
The playbooks will not run on staging because of a downgraded version of trendmicro attempting to be installed from [datagov-deploy-common](https://github.com/GSA/datagov-deploy-common)

## How to reproduce

1. Run the ansible playbook on staging. Your error will look something like:

`Error installing trendmicro. Newer version already available`

## Expected behavior

Playbooks to run and deploy

[2020-04-20 18:47] pjsharpe07 commented on #1567
[This PR](https://github.com/GSA/datagov-deploy-common/commit/cac1172be84563f4dedcfed561794da85d889418) should resolve this issue for now and will be deployed on [this release](https://github.com/GSA/datagov-deploy/issues/1543)

Still need to investigate why/how trendmicro is updating. Then we could move to a fix involving only using get_url and installing if trendmicro isn't installed.

[2020-04-20 19:20] FuhuXia commented on #1552
The fix is already in current release branch. We can back-port to `develop` by merging release once it is the release is complete.

[2020-04-21 04:04] mogul commented on #1359
I thought this was going to be a relatively straightforward change but... surprise! Unlike _good_ databases, [MySQL doesn't support transactions around DDL statements.](https://hashrocket.com/blog/posts/mysql-has-transactions-sorta) This means that so long as we're using MySQL, it's not actually possible to implement atomic migrations in a generalizable way.

(In fact it's likely this property tha

[2020-04-21 19:53] pjsharpe07 commented on #1481
All separate issues can be found on the comments above. Marking this as done.

[2020-04-22 17:03] mogul commented on #1428
Planning to break this up into one issue per control-family for better flow control.

[2020-04-22 17:18] mogul commented on #894
Phil's making progress here and thinks remaining problems are mostly CSS; should complete soon.

[2020-04-22 18:19] adborden commented on #1548
No longer high priority since the upgrade itself is complete. I'll write up some additional details and next steps.

[2020-04-22 20:04] mogul opened #1571 "[research:2d] Investigate GitHub Actions as CircleCI alternative"
## User Story

In order to understand the level of effort required to remove CircleCI from our operations/compliance domain, we want to spend up to 2 days to converting the data.gov dashboard to use GitHub Actions to run tests and [this cloud.gov GitHub Action](https://github.com/cloud-gov/cg-cli-tools) for deployment.

## Acceptance Criteria
- [ ] We are able to estimate the LOE/time needed to ge

[2020-04-22 20:24] jbrown-xentity opened #1572 "Data.json SSRF issue"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report: 4/21/2020**
**Due date: 7/20/2020**

- [x] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is identified, we create two issues. One to addr

[2020-04-22 21:02] jbrown-xentity commented on #1572
Analysis performed with @adborden, no other similar tools available to the public that could be exploited.

[2020-04-22 22:48] adborden commented on #1369
This also applies to CloudFront, which is actionable. Moving back to sprint backlog.

[2020-04-22 22:52] pjsharpe07 opened #1573 "Inconsistent Permissions for /var/run/apache2"
### How to Reproduce
It's unclear how to consistently reproduce.

After running playbooks, you might get an error such as `Permission denied Unable to connect to WSGI daemon process 'ckan' on '/var/run/apache2/wsgi.5116.0.0.sock`.

![image.png](https://images.zenhubusercontent.com/5e1cbcd08dced94b250ef061/fb93a31f-382d-40d1-bd4d-65b8b5f2cf01)

### Expected Behaviors
Running playbooks or rebooting

[2020-04-23 02:27] mogul opened #1576 "Write SSP narratives for the AC control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [x] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:29] mogul opened #1577 "Write SSP narratives for the AU control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:29] mogul opened #1578 "Write SSP narratives for the AT control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [x] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:30] mogul opened #1579 "Write SSP narratives for the CM control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:30] mogul opened #1580 "Write SSP narratives for the CP control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:30] mogul opened #1581 "Write SSP narratives for the IA control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:30] mogul opened #1582 "Write SSP narratives for the IR control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:30] mogul opened #1583 "Write SSP narratives for the MA control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:30] mogul opened #1584 "Write SSP narratives for the MP control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:31] mogul opened #1585 "Write SSP narratives for the PS control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:31] mogul opened #1586 "Write SSP narratives for the PE control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:31] mogul opened #1587 "Write SSP narratives for the PL control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:31] mogul opened #1588 "Write SSP narratives for the PM control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:32] mogul opened #1589 "Write SSP narratives for the RA control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:32] mogul opened #1590 "Write SSP narratives for the CA control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:32] mogul opened #1591 "Write SSP narratives for the SC control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:32] mogul opened #1592 "Write SSP narratives for the SI control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:32] mogul opened #1593 "Write SSP narratives for the SA control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [Data.gov FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/docum

[2020-04-23 02:51] mogul commented on #1433
From Lynnette:

" The SSP looks great. My only comment is can the diagrams be updated to detail or note that all the connections are encrypted. A single sentence or tag in Figure 9-1 and 10-1 will do the trick. I'll start writing the report for Chris and yourself but I see no showstoppers or further comments."

🥳

[2020-04-23 02:54] #1334 closed, assigned to jbrown-xentity

[2020-04-23 02:54] #1446 closed, assigned to FuhuXia

[2020-04-23 02:54] #1468 closed, assigned to hkdctol

[2020-04-23 02:54] #1487 closed, assigned to FuhuXia

[2020-04-23 02:54] #1530 closed, assigned to mogul

[2020-04-23 02:54] #1502 closed, assigned to hkdctol

[2020-04-23 02:54] #1513 closed, assigned to mogul

[2020-04-23 17:43] adborden opened #1594 "Entity already exists when new IAM user tries to create MFA device"
When adding a new IAM user and the new user tries to add a virtual MFA device, they receive an error:

**work around**

    $ aws iam delete-virtual-mfa-device --serial-number arn:aws:iam::587807691409:mfa/<user>

## How to reproduce

Following the [new IAM user docs](https://github.com/GSA/datagov-infrastructure-live/tree/master/iam#new-users):

1. Add a new user to `users.tf`
1. Admin enables co

[2020-04-23 18:40] adborden commented on #1573
This was originally fixed in https://github.com/GSA/datagov-deploy-apache2/pull/4 and then updated in https://github.com/GSA/datagov-deploy-apache2/pull/9 but it seems that fix isn't complete.

The tmpfiles.d service is supposed to ensure that `/var/run/apache2` is created at boot time (/var/run and /run are a tmpfs) with the correct permissions. It seems that there is some sort of race condition

[2020-04-23 18:42] adborden commented on #1573
I suspect this only affects Trusty.

[2020-04-23 18:46] adborden commented on #1594
:joy:  https://github.com/Beartime234/aws-mfa-entity-already-exists-fix

[2020-04-23 19:47] FuhuXia commented on #1552
The fix is deployed and ported to `develop` branch.
https://github.com/GSA/datagov-deploy/pull/1566

[2020-04-23 20:17] mogul commented on #1327
We expect to address through ongoing work to upgrade to CKAN 2.8+

[2020-04-23 20:18] mogul commented on #1392
We believe this is fixed.

[2020-04-23 20:18] #1392 closed, assigned to nobody

[2020-04-23 20:20] mogul commented on #1412
Fixed in the duplicate issue.

[2020-04-23 20:20] #1412 closed, assigned to nobody

[2020-04-23 20:36] mogul opened #1595 "Run solr-sync job automatically on a schedule"
[This issue is about running the solr-sync job regularly to take care of any problems that might result in CKAN and Solr being out of sync, eg what we see in #1542 .]

## User Story

As a [user description], I want [behavior description] so that [goal].

## Acceptance Criteria
- [ ]

## Details

[2020-04-23 21:14] hkdctol commented on #985
Updated the descriptions in google group view so that new team members will see descriptions of each group.

[2020-04-23 22:31] adborden opened #1596 "Dashboard gateway timeout 504"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.51tycv4jertm)._

[2020-04-24 16:44] adborden opened #1597 "Nav menu button appears as an unstyled button"
![Screenshot from 2020-04-24 09-38-53](https://user-images.githubusercontent.com/509703/80236232-b22ac400-860f-11ea-99dc-4bf933edcaff.png)

## How to reproduce

1. https://catalog.data.gov/dataset

## Expected behavior

Button is hidden and usable on mobile

## Actual behavior

Button appears unstyled.

[2020-04-24 16:44] adborden commented on #1597
Pretty sure this is related to the recent changes to support CKAN 2.8 in ckanext-datagovtheme.

[2020-04-24 23:42] adborden commented on #1548
### Timeline
[Slack thread](https://gsa-tts.slack.com/archives/C2N85536E/p1587139183351800)
[FCS Chat](https://chat.google.com/room/AAAAWZheV54)

@FuhuXia  and I were pairing for most of this. @jbrown-xentity  joined to help out during the
outage.

_Times are PDT._

- **Apr 17, 9:16 AM PDT** FCS began creation of a new primary database from
  snapshot.
- **Apr 17, 10:52 AM** Primary creation is co

[2020-04-25 00:19] adborden opened #1599 "Optimize catalog postgresql database"
## User Story

As a Data.gov user, I want to optimize the catalog database so that browsing the site feels consistent and smoother, without some requests taking a long time.

As a Data.gov operator, I want to optimize the catalog database so that I have fewer production issues related to database performance.

## Acceptance Criteria
- [ ] WHEN I view catalog performance in New Relic
  THEN there a

[2020-04-25 00:20] adborden commented on #1548
We've scheduled a postmortem to analyze what we could've done better for this database upgrade.

Given that we were short on time, we didn't do as much optimization as we'd have liked. Created https://github.com/GSA/datagov-deploy/issues/1599 with some follow up ideas.

[2020-04-25 00:42] adborden commented on #1599
@mogul is calling me out for un-testable/ambiguous acceptance criteria :) we'll chat more about this when we groom/triage.

[2020-04-27 15:04] FuhuXia commented on #1457
Verified that Wordpress plugin `ssl-insecure-content-fixer` is installed and activated on Prod. This issue can be closed.

[2020-04-27 16:11] adborden commented on #1369
I posed this in [#dev](https://gsa-tts.slack.com/archives/C02CD5VUQ/p1588003819234400) in case other have a working CloudFront configuration.

[2020-04-27 17:05] mogul commented on #1369
Sounds like this is a problem most teams are facing and the ciphers aren't all that weak. May take a while of back-and-forth to resolve.

[2020-04-27 18:59] jbrown-xentity commented on #1544
Also: Add an alert to New Relic for database performance

[2020-04-28 21:45] FuhuXia commented on #1455
Requesting SecOps to provide some clarification on this report. If no response, will mark it false positive.

[2020-04-28 22:58] jbrown-xentity opened #1603 "Release 20200429"
## Release 4/29/2020
Roll out updates/release to production so that the latest bug fixes and feature code is available

## Acceptance Criteria
- [x] Release is cut
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in staging, and all systems verified up
- [x] Playbook run with no errors/expected errors in production, and all systems veri

[2020-04-29 17:15] adborden opened #1608 "Potential DoS through high memory consumption"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.4oadya3eps0d)._

**Date of report:** N/A
**Due date:** N/A

- [ ] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is identified, we create two issues.

[2020-04-29 20:36] jbrown-xentity opened #1610 "Jenkins1tf out of disk space from /var/lib/docker"
On Sandbox, jenkins server runs out of disk space and will not allow any new actions.

## How to reproduce

1.Allow disk to fill up on jenkins1tf due to Docker

## Expected behavior

Docker should be using the /data partition so that memory does not run out frequently

## Actual behavior

Docker fills up the disk and it becomes unresponsive

## Mitigation
Run the following commands:

[code]

You m

[2020-04-29 20:44] mogul commented on #1579
Jason's drafting CM now, with the expectation that we will review Friday.

[2020-04-29 21:43] jbrown-xentity opened #1611 "Catalog rewrite making circular reference"
Sandbox Catalog is making a circular reference redirect and cannot serve traffic. Due to [this line](https://github.com/GSA/datagov-deploy/blob/develop/ansible/roles/software/ckan/catalog/ckan-app/templates/etc_apache2_sites-enabled_ckan.conf.j2#L60)

## How to reproduce

1. Go to https://catalog.ci.datagov.us/

## Expected behavior

Site serves /dataset page

## Actual behavior

Circular referenc

[2020-04-29 21:49] jbrown-xentity commented on #1603
We ran into a few errors on sandbox, but both are localized and are not blockers:

1. jenkins server ran out of disk space. Created ticket #1610
2. catalog rewrite making circular reference. Should be localized to sandbox, moving forward. Created ticket #1611

[2020-04-30 00:34] adborden opened #1613 "PyCSW in sandbox shares RDS instance with catalog CKAN"
In order to have better parity with production, we should have a separate RDS instance for PyCSW configured in sandbox like we have in BSP environments.

## How to reproduce

1. `grep db /etc/pycsw/pycsw-collection.cfg`

## Expected behavior

Database hostname is different than the hostname used for CKAN (/etc/ckan/production.ini)

## Actual behavior

Database hostname is the same as CKAN.

[2020-04-30 00:54] adborden opened #1614 "Inventory smoke test fails because gunicorn service isn't started"
[code]

The proxy config exist in /etc/apache2/sites-enabled/ckan.conf but it looks like the service isn't actually running.

## How to reproduce

From the sandbox jumpbox:

1. `ansible-playbook inventory.yml`

## Expected behavior

Smoke test should succeed, supervisorctl status should show the ckan app.

## Actual behavior

Supervisor is not running the new gunicorn service
[code]

[2020-04-30 00:55] adborden commented on #1614
I ran `supervisorctl reread && supervisorctl reload` but it looks like the service still isn't starting.

[code]

[2020-04-30 13:46] jbrown-xentity commented on #1614
That is weird. I just double checked, gunicorn is in the [requirements-freeze file](https://github.com/GSA/inventory-app/blob/master/requirements-freeze.txt#L20). I can't see how it wouldn't be installed if the playbook ran... It just [pulls master](https://github.com/GSA/datagov-deploy/blob/develop/ansible/roles/software/ckan/inventory/defaults/main.yml#L5) to pip install, right? Nothing has to u

[2020-04-30 17:27] mogul commented on #1548
data.gov RDS DB upgrade post-mortem notes
===

## What happened

Wednesday BSP notified us that they needed to have our DB upgraded by Monday afternoon. The Monday deadline was due to AWS' end-of-life policy. Monday was the "last moment" before AWS would do the upgrade on their own.

The upgrade did not go as expected and we ended up in an urgent state (eg after hours/weekend work) to get the DB u

[2020-04-30 19:33] jbrown-xentity commented on #1359
When rolled out to staging, we get an error:
[code]
This has to be enabled at the AWS RDS level, you can see details [on AWS documentation](https://aws.amazon.com/premiumsupport/knowledge-center/rds-mysql-functions/)

Next Steps:
1. Set up sandbox RDS appropriately for access, document necessary steps/terraform code
2. Open a ticket with BSP to set correct permissions on staging and production RDS

[2020-04-30 19:37] mogul commented on #1359
Here's an [example of setting the parameter group up in Terraform](https://github.com/terraform-providers/terraform-provider-aws/issues/217#issue-235633432)

[2020-04-30 20:14] mogul commented on #1482
@hkdctol is going to ping VA to see if we can move this to Done now.

[2020-04-30 20:17] mogul commented on #1359
Aaron notes that we should probably try to capture what the parameter group settings are on the BSP side, if they're not the default, so we can better understand where there might be deltas between sandbox and staging.

[2020-04-30 20:18] mogul commented on #977
The blog post has been approved. Now just need our process for making the changes live worked out.

[2020-04-30 20:24] mogul commented on #1369
- [ ] Aaron's going to ping Lynnette and then this is likely to end up in the `Blocked` column while we wait for other discussions to happen.
- [ ] Hyon will ping the existing thread with BSP to let them know to hold off while we resolve this.

[2020-04-30 20:24] pjsharpe07 commented on #1614
When on the host and running `/usr/lib/ckan-new/bin/gunicorn --paste /etc/ckan/production.ini -b localhost:5000` we encounter the following error:

`OperationalError: (OperationalError) FATAL:  password authentication failed for user "inventory"
FATAL:  password authentication failed for user "inventory"`

[2020-04-30 20:29] mogul commented on #1537
@adborden can you ping that thread?

[2020-04-30 21:16] mogul commented on #1433
The Markdown+PlantUML source used for this activity now lives in [our compliance repository](https://github.com/GSA/datagov-compliance/blob/master/codimd-scratchpad.md). Load it into CodiMD to preview and edit it!

[2020-04-30 21:50] hkdctol commented on #1482
Pinged VA. Awaiting response.

[2020-04-30 22:14] hkdctol commented on #977
Under TTS blog post review process it is approved and just has to be on editorial calendar for five days. So we can make the changes and publish next Friday, or if need to do earlier we'd just have to coordinate with TTS Outreach.

[2020-04-30 22:17] adborden commented on #977
Have a couple scripts that grab Ids from the URL and then generates some wp CLI commands to update those posts to drafts (in which case they are no longer publicly visible) or deletes them via an environment variable.

https://gist.github.com/adborden/eb8b498c8b9554ede10734d2ad82c25a

[2020-04-30 22:30] hkdctol opened #1619 "[research: 4h] Review USGPO repository for potential integration with Data.gov catalog"
## User Story

As Data.gov PMO, we want to understand what GPO has available on a public repository so that we can determine if there is an approach to integrate their catalog information so that GPO holdings get increased visibility through Data.gov catalog.

## Acceptance Criteria
- [x] Reviewed USGPO repository on GitHub
- [x] Provide response to USGPO on any potential next steps.

### Research

[2020-05-01 16:11] pjsharpe07 opened #1620 "Preston O+M"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-05-01 16:20] hkdctol commented on #1472
For the time being, to avoid confusion https://www.data.gov/metrics should redirect to https://labs.data.gov/dashboard/offices/qa

[2020-05-01 18:57] hkdctol commented on #1482
VA replied 5/1, confirmed they are still finalizing, will let us know when to switch harvest source

[2020-05-01 19:27] adborden commented on #1369
I will bring this up in the next security meeting on Monday.

[2020-05-01 19:29] adborden commented on #977
Scheduled this work for Thursday afternoon to go out with the blog post on Friday.

[2020-05-01 22:19] adborden commented on #1537
Pinged.

[2020-05-04 15:11] kimwdavidson commented on #1540
Closing. Taking new appraoch

[2020-05-04 15:11] #1540 closed, assigned to avdata99

[2020-05-04 15:13] kimwdavidson commented on #1429
Closing. Taking new approach

[2020-05-04 15:13] #1429 closed, assigned to avdata99

[2020-05-04 15:14] kimwdavidson commented on #1408
Closing. Taking new approach

[2020-05-04 15:14] #1408 closed, assigned to avdata99

[2020-05-04 18:00] hkdctol opened #1622 "Review Gulf Coast agency harvest results"
We added a new agency, Gulf Coast Ecosystem Restoration Council. They have a CSW harvest source. We tried a harvest that resulted in errors.

The harvest URL is:

https://restorethegulf.gov/merlin/srv/eng/csw?request=GetCapabilities&service=CSW&version=2.0.2
![REstore gulf harvest](https://user-images.githubusercontent.com/3236989/80996821-74e3e480-8e0e-11ea-8cae-7c434e01fec8.png)

## How to repro

[2020-05-04 21:58] pjsharpe07 commented on #1472
@hkdctol the redirect has implemented through the wordpress ui. Would you check to see that the redirect is functioning as expected?

[2020-05-05 17:14] mogul commented on #1472
Waiting for the next meeting with GAO before we make this change.

[2020-05-06 05:50] mogul commented on #1359
Aaron and I discussed today and decided that rather than sinking more time into the scope of this one issue, we'll simply request that BSP add the necessary parameter to the parameter group in production and staging (and tell us the full set for our records), then deploy this change. I've made that request (REQ0525850) and am moving this issue to `Blocked` until we get a response and can deploy th

[2020-05-06 06:29] mogul opened #1624 "Document how/when to simulate production load in non-prod environments"
## User Story

In order to avoid catalog.data.gov outages we want the ability to test for regressions in DB performance when we roll out changes to DB configuration or significant changes to how our code hits the DB.

## Acceptance Criteria
GIVEN I look in the `datagov-deploy` repository
- [ ]   WHEN I view the Runbook page in the wiki \
  THEN I see instructions for simulating production-like loa

[2020-05-06 18:01] hkdctol opened #1625 "Unable to add users via UI to inventory.data.gov"
On occasion, we are not able to add users to inventory.data.gov and give elevated permissions, most often "Editor" status, even though user has done initial log in on inventory.data.gov and OMB MAX with 2FA or PIV.

## How to reproduce

Currently running into issue with new user for inventory.data.gov from HUD.

## Expected behavior

Once user has done initial log in, admin user on inventory.data.

[2020-05-06 18:02] hkdctol commented on #1625
@FuhuXia currently checking, but this issue does occur occasionally even when users have shown they have done initial log in.

[2020-05-06 19:43] FuhuXia commented on #1625
User entry is not found in CKAN database. Tested on staging and production inventory. A test user is added successfully after a max.gov login. So our max login is functioning properly. The issue for this particular user is most likely an error on user side. Please instruct user to provide a screenshot after logging into inventory site. On the top right corner, user's email address and some extra i

[2020-05-07 14:11] FuhuXia commented on #1625
After the user provided a screenshot showing his account info on top of the web page, admin can see the user on the UI and add him to the organization. Issue resolved.

Here is my theory for the cause of the issue. For a first-timer user, if MFA is not set up, max.gov will guide user through the MFA process, during which the redirecting mechanism is lost. At the end, user has a successful max.gov

[2020-05-07 16:57] adborden opened #1628 "[Onboard] thomas.wood@gsa.gov"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Ad

[2020-05-07 18:50] pjsharpe07 opened #1629 "Wordpress TLS version support"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 05/04/2020 - nessus scan.
**Due date:** unclear

### Brief description
This was part of the nessus scan for [121010 found here](https://docs.google.com/spreadsheets/d/1TiOgoKx52vfwEnAfIqzHjM8_2KmyieZnSsQyVmE3izs/edit#gid=115399693)

[2020-05-07 20:17] adborden commented on #1490
FYI, I requested GH access for @starsinmypockets

[2020-05-07 20:22] adborden commented on #1628
@woodt FYI I skipped over a few steps, team mailing lists, bug bounty, and Uptrends alerts since you won't be taking action on those, but I can add you at another point if it makes sense.

[2020-05-07 20:26] mogul commented on #1515
In a quick scan of rows with no data, we found some 403s being returned for the data.json file location. There was at least one 301 as well. We need to investigate these results.

[2020-05-07 20:58] adborden commented on #1449
Some tools available to us:
- [Upstart](http://upstart.ubuntu.com/wiki/Stanzas#limit) on Trusty allows us to set ulimits
- [Gunicorn](https://docs.gunicorn.org/en/latest/settings.html?highlight=memory#max-requests) allows a `max-requests` at which point it recycles the process. Catalog is not on gunicorn yet, and this isn't a fool-proof solution because it doesn't trigger based on memory
- Apache2

[2020-05-07 23:49] adborden commented on #977
Content has been marked as [draft in production](https://drive.google.com/open?id=1sM_gwb8FFp5fMZ1rees9uvAeiT3TWLAN).

[2020-05-08 16:29] adborden commented on #977
I forgot to take a database snapshot before marking the posts as draft :facepalm: I took a snapshot https://drive.google.com/open?id=13-fH-3by9M0tD1LJbBrRQgugTBPqidQT, and using the log above we can reconstruct if we need to.

[2020-05-08 16:30] mogul commented on #977
Since the content went to draft rather than being deleted, it's probably fine. The main reason for the backup was to ensure we could still get to the content if we needed to, not so we could reverse the change wholesale.

[2020-05-08 17:44] adborden commented on #1507
@woodt let me know if you can connect to the hosts in sandbox (after adding SSH keys to datagov-deploy) and we'll call this QA'd :)

[2020-05-08 17:49] woodt commented on #1628
(I'm working on more of the checklist this  afternoon.)  I'm thinking the next high-value task for me  would be the SSH key setup?  @adborden

[2020-05-09 00:26] adborden opened #1634 "jenkins role (jenkins_plugin) can't install plugins with CSRF enabled"
https://github.com/geerlingguy/ansible-role-jenkins/issues/269

**Work-around** on first run, temporarily pin the version of Jenkins to one where the default is not to enable CSRF.

    $ ansible-playbook jenkins.yml -e jenkins_version=2.191

On following runs, specify no plugins.

    $ ansible-playbook jenkins.yml -e '{"jenkins_plugins": []}'

## How to reproduce

1. ansible-playbook jenkins.yml

[2020-05-09 00:27] adborden commented on #1634
This is fixed in [Ansible](https://github.com/ansible/ansible/issues/61672) although unsure which version, [possibly 2.9.6](https://github.com/geerlingguy/ansible-role-jenkins/issues/269#issuecomment-595599157) and has yet to be backported.

[2020-05-11 15:47] hkdctol commented on #977
There is one more task remaining - with smaller number of topics being retained, change Topics pull down to limited list (see https://wordpress-datagov.dev-ocsit.bsp.gsa.gov/) of Agriculture, Climate, Ecosystems, Energy, Local Government, Maritime and Ocean; then delete current "Browse Topics" section on the front page.

[2020-05-11 16:53] adborden commented on #1369
We've raised this to our ISSO and have asked BSP to hold off.

[2020-05-11 16:57] adborden commented on #977
Removed these from the Topics menu:
- Consumer
- Education
- Finance
- Health
- Manufacturing
- Public Safety
- Science & Research

[2020-05-11 17:13] adborden commented on #1614
Not sure if this is a blocker for the release, @jbrown-xentity will look into it.

[2020-05-11 17:17] adborden commented on #1359
BSP has made the parameter group change this weekend, moving to In Progress.

[2020-05-11 17:26] adborden opened #1639 "SSA harvest source seems to get stuck everyday"
In our daily harvest report, SSA seems to appear every day. After we unstuck it, SSA will show up again.

As part of this story, we should review the harvest job logs and identify the underlying issue with the SSA harvest source.

It always seems to be stuck in the Import step.

## How to reproduce

1. Review the daily harvest report email

## Expected behavior

SSA does not get stuck on a daily b

[2020-05-11 17:37] adborden commented on #1519
Picked up this story since https://github.com/GSA/datagov-ckan-multi/issues/287 requires that the docker container is built, which is part of the datagov-deploy pipeline.

Without a lot of effort, I was able to get PRs together to hook the pipeline together and identify some fixes and updates that would get deployment from Jenkins working.

The piece that is remaining is the notifications. GSA/TTS

[2020-05-11 17:44] pjsharpe07 commented on #1544
Testing on 05/08 yielded alarms for both New Relic and Cloudwatch (as expected).

Submitted a service request for BSP to deactivate the Cloudwatch alarms. Test again after completion of service ticket.

[2020-05-11 18:50] mogul commented on #1359
Spoke too soon, they also need to restart the DBs for the parameters to
take effect. Any thoughts on acceptable hours for dashboard to be
unavailable?

On Mon, May 11, 2020 at 10:18 AM Aaron D Borden <notifications@github.com>
wrote:

[2020-05-11 19:49] #1614 closed, assigned to nobody

[2020-05-11 20:01] hkdctol opened #1640 "Set up New Relic Synthetics for Data.gov"
## User Story

As Data.gov PMO, we want to set up New Relic Synthetics instead of Uptrends.

## Acceptance Criteria
- [x] Access New Relic Synthetics to set up alerts for data.gov, catalog.data.gov, inventory.data.gov, labs.data.gov (are there others?)
- [x] Wait for a report through Synthetics and review
- [x] Once familiar with Synthetics functionality, cancel current Uptrends alerts through ema

[2020-05-11 20:13] datagov-bot opened #1641 "deploy-ci-platform #8 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] 4df308b6380f8f359facd97aa3dfb060dc98b232 - noop

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/8/)

[2020-05-11 22:17] adborden commented on #1641
Successful test of the failed deployment notifications.

[2020-05-11 22:17] #1641 closed, assigned to nobody

[2020-05-11 22:28] woodt commented on #1507
Confirmed that the catalog web next instance is running.

[2020-05-11 22:39] woodt commented on #1507
@adborden Trying to test connectivity to the catalog next RDS instance.  Should I be able to reach that host from the sandbox jump box?  E.g., I would expect:

[code]
to succeed, but it does not.  `vault_catalog_next_postgresql_login_host` came out of the datagov-deploy sandbox vault.

[2020-05-11 22:42] adborden commented on #1507
No, not from the jumpbox, try that on the catalog-web or catalog-harvester hosts. The security groups are configured fairly strictly.

[2020-05-11 23:29] adborden commented on #1519
@mogul had the bright idea to simply create a new GH issue when the deploy fails. Since issues are also posted to Slack, this should be a reasonable first-pass for notifications on build failure.

[2020-05-12 02:04] adborden commented on #977
@hkdctol since there are 7 categories remaining, it ends up being one complete row. Here's what it looks like on my local development environment:

![screencapture-localhost-8000-2020-05-11-19_01_44](https://user-images.githubusercontent.com/509703/81630285-0d073e00-93ba-11ea-999f-0b51a5b1c680.png)

Would you prefer to list the 7 as above, or should we just remove the Browse Topics entirely?

[2020-05-12 15:52] woodt commented on #1507
I am able to ssh to the catalog-next-web1tf host.  From there, though, I can't seem to reach the catalog next RDS instance.  I pulled the host name out of the datagov-deploy sandbox vault and am testing with nc as above.  Getting no response at all.

@adborden

[2020-05-12 16:37] mogul opened #1644 "Periodic restarts of apps in cloud.gov"
## User Story

In order to minimize the risk of unwanted software running in our production cloud.gov application instances, we want the applications to be periodically rolling-restarted.

## Acceptance Criteria
- [x] GIVEN I am looking at `logs.fr.cloud.gov` \
  WHEN I search for logs indicating a restart of each application instance \
  THEN I see hits logged in the last 15 minutes
- [x] GIVEN I

[2020-05-12 17:31] woodt commented on #1507
Turned out that the RDS host name in the sandbox vault was incorrect.  That's been corrected in https://github.com/GSA/datagov-deploy/pull/1645 (now merged.)  I've confirmed that the RDS instance is reachable from the catalog-next web host, so am moving this story to done.

[2020-05-12 18:12] mogul commented on #1507
(We move stories to `Done`, then close them after demo/review at the end of the sprint.)

[2020-05-12 19:47] woodt commented on #1507
Interesting, @mogul ... the multi zenhub board doesn't have a `Done` column ...

[2020-05-12 20:08] adborden commented on #1507
Yeah, this is something to bring up in #datagov-ckan-multi. Now that we're doing Sprint Reviews, having an explicit `Done` column gives us a list of issues to demo at the end of the sprint. Works well on the devsecops team.

[2020-05-12 22:50] adborden opened #1646 "Split molecule scenarios into individual make tasks"
## User Story

In order to reduce the time of our [build](https://circleci.com/gh/GSA/datagov-deploy/7629), data.gov developer wants molecule scenarios.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN I add a new molecule scenario

[2020-05-12 23:28] adborden opened #1648 "Release 20200514"
## Release 5/14/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

## Acceptance Criteria
- [x] Release is cut
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in staging, and all systems verified up
- [x] Playbook run with no er

[2020-05-12 23:29] adborden commented on #1648
@FuhuXia I'll ride shotgun with you and we can work out the kinks of using Jenkins to deploy to sandbox.

[2020-05-12 23:44] datagov-bot opened #1649 "deploy-ci-platform #9 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] 4df308b6380f8f359facd97aa3dfb060dc98b232 - noop

- [adborden] 2a79e044c84e3c24384924926e1e700ffe4faa73 - [catalog] fix redirect loop on sandbox

- [noreply] 504d9f976efb4450e628c7cf1711b39356b85f1d - Revert "Update who.ini template for GSA/datagov/4.9.0"

- [jbrown] ee2507f518ee9efcdd5adf4cbdbbbe86d236f5a2 -

[2020-05-13 00:21] adborden commented on #1338
Completed in https://github.com/GSA/datagov-deploy/pull/1642

[2020-05-13 01:04] adborden commented on #1649
This fixes the current failure https://github.com/GSA/datagov-deploy/pull/1636

[2020-05-13 19:06] FuhuXia commented on #1061
These PRs get this issue resolved.
https://github.com/GSA/datagov-infrastructure-live/pull/70
https://github.com/GSA/datagov-infrastructure-modules/pull/52
https://github.com/GSA/datagov-deploy/pull/1653

[2020-05-13 19:22] adborden commented on #1032
I removed PyCSW since changes are very rare.

[2020-05-13 19:52] FuhuXia opened #1654 "Inventory on sandbox has incorrect DB connection string"
Inventory ckan wont start, complaining DB error. Manually run psql command using the credentials from production.ini gives wrong password error.

## How to reproduce

`curl -L localhost`

## Expected behavior

A ckan page to be return

## Actual behavior

500 error

[2020-05-13 19:56] datagov-bot opened #1655 "deploy-ci-app-catalog #1 failed"
Build 'deploy-ci-app-catalog' is failing.

Changes since last successful build:

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-catalog/1/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-catalog/detail/deploy-ci-app-catalog/1/pipeline) (blue)

[2020-05-13 20:11] datagov-bot opened #1656 "deploy-ci-app-wordpress #1 failed"
Build 'deploy-ci-app-wordpress' is failing.

Changes since last successful build:

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-wordpress/1/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-wordpress/detail/deploy-ci-app-wordpress/1/pipeline) (blue)

[2020-05-13 20:12] datagov-bot opened #1657 "deploy-ci-app-dashboard #1 failed"
Build 'deploy-ci-app-dashboard' is failing.

Changes since last successful build:

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-dashboard/1/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-dashboard/detail/deploy-ci-app-dashboard/1/pipeline) (blue)

[2020-05-13 20:23] hkdctol opened #1658 "Change current redirect for https://www.data.gov/resources"
## User Story

As a user of the Federal Government's repository of open data resources, I want to find https://resources.data.gov/ without necessarily knowing the URL.

In order to make sure users who need the information on resources.data.gov, OMB, OGIS and GSA want to have https://www.data.gov/resources go to https://resources.data.gov/

Currently, https://www.data.gov/resources redirects to a p

[2020-05-13 20:53] mogul commented on #1490
We're explicitly skipping over a few steps (team mailing lists, bug bounty, and Uptrends alerts) since Paul won't be responsible for anything happening there, but we can add access in future if it makes sense.

[2020-05-13 20:58] hkdctol commented on #977
@adborden I think it makes sense to remove Browse Topics section entirely.

[2020-05-13 23:43] datagov-bot opened #1659 "deploy-ci-app-inventory #2 failed"
Build 'deploy-ci-app-inventory' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-inventory/2/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-inventory/detail/deploy-ci-app-inventory/2/pipeline) (blue)

[2020-05-14 00:12] adborden opened #1662 "Jumpbox ubuntu user has operator keys in authorized_keys"
On jumpbox, we login with our own operator usernames. From there, we usually `su -l ubuntu` or ssh into other hosts using ssh-agent forwarding. We configure the ubuntu user on **other** hosts with operator keys so that ssh-agent forwarding works.

However, we should avoid this on the jumpbox. This allows us to log into jumpbox as `ubuntu` using our own personal keys and we lose the audit trail of

[2020-05-14 00:14] adborden commented on #1662
This would be fixed in https://github.com/GSA/datagov-deploy-common. I suggest adding a variable to conditionally set the `authorized_keys`, which would be true by default and false for the jumpbox.

[2020-05-14 14:59] #1649 closed, assigned to nobody

[2020-05-14 16:52] #1490 closed, assigned to mogul, starsinmypockets

[2020-05-14 16:53] #985 closed, assigned to hkdctol

[2020-05-14 16:53] #1457 closed, assigned to FuhuXia

[2020-05-14 16:53] #1481 closed, assigned to jbrown-xentity, pjsharpe07

[2020-05-14 16:53] #1543 closed, assigned to pjsharpe07

[2020-05-14 16:53] #1576 closed, assigned to mogul

[2020-05-14 16:53] #1578 closed, assigned to mogul

[2020-05-14 16:53] #874 closed, assigned to FuhuXia

[2020-05-14 16:53] #953 closed, assigned to FuhuXia

[2020-05-14 16:53] #1484 closed, assigned to adborden

[2020-05-14 16:53] #1510 closed, assigned to FuhuXia

[2020-05-14 16:53] #1521 closed, assigned to FuhuXia

[2020-05-14 16:53] #1548 closed, assigned to adborden, jbrown-xentity

[2020-05-14 16:53] #1552 closed, assigned to FuhuXia

[2020-05-14 16:53] #1567 closed, assigned to pjsharpe07

[2020-05-14 17:09] #1577 closed, assigned to mogul

[2020-05-14 17:09] #1579 closed, assigned to mogul

[2020-05-14 17:09] #1580 closed, assigned to mogul

[2020-05-14 17:09] #1581 closed, assigned to mogul

[2020-05-14 17:09] #1582 closed, assigned to mogul

[2020-05-14 17:09] #1590 closed, assigned to mogul

[2020-05-14 17:09] #1583 closed, assigned to mogul

[2020-05-14 17:09] #1584 closed, assigned to mogul

[2020-05-14 17:09] #1585 closed, assigned to mogul

[2020-05-14 17:09] #1586 closed, assigned to mogul

[2020-05-14 17:09] #1587 closed, assigned to mogul

[2020-05-14 17:09] #1588 closed, assigned to nobody

[2020-05-14 17:10] mogul commented on #1472
(Note we decided to keep the link in the footer and just have it redirect.)

[2020-05-14 17:11] #1472 closed, assigned to hkdctol, pjsharpe07

[2020-05-14 17:12] #1061 closed, assigned to FuhuXia

[2020-05-14 17:13] #1625 closed, assigned to FuhuXia

[2020-05-14 17:37] #1519 closed, assigned to adborden

[2020-05-14 17:39] #1032 closed, assigned to adborden

[2020-05-14 17:39] #1338 closed, assigned to adborden

[2020-05-14 17:39] mogul commented on #1518
Closing as dupe

[2020-05-14 17:39] #1518 closed, assigned to nobody

[2020-05-14 17:42] #1507 closed, assigned to woodt, adborden

[2020-05-14 17:42] #1554 closed, assigned to jbrown-xentity

[2020-05-14 17:42] #1603 closed, assigned to jbrown-xentity

[2020-05-14 18:33] mogul commented on #1620
@pjsharpe07 if you have any notes for the status as of the end of your shift, good to document them here for @FuhuXia to pick up!

[2020-05-14 19:06] pjsharpe07 commented on #1544
Service Now Ticket `RITM0730128`

[2020-05-14 19:21] #1655 closed, assigned to nobody

[2020-05-14 19:48] mogul commented on #1359
I let them know that any time after west coast business close and east coast business open would be fine on Tuesday, but I haven't heard back. I poked the thread morning since we're still blocked on deploying this.

[2020-05-14 19:51] mogul commented on #1359
(ServiceNow reference: RITM0728478)

[2020-05-14 20:03] mogul commented on #1455
Fuhu's going to ping them one more time with Lynnette on cc.

[2020-05-14 20:08] mogul commented on #1369
We're expecting this to roll into our POA&M and have it come up at the next monthly security meeting.

[2020-05-14 20:13] mogul commented on #1622
We provided information about the validation errors back to the agency; it seems like this is something they can resolve on their side.

[2020-05-14 20:14] #1622 closed, assigned to pjsharpe07

[2020-05-14 20:15] mogul commented on #1419
Running in staging now to validate that it'll work. Next step is to coordinate with NOAA on when to run it in production. The NOAA contact is rolling off and doing a handover.

[2020-05-14 20:18] mogul commented on #1537
Still waiting on an answer here. Hyon is including this languishing query in a round-up she's talking to FCS mgmt about.

[2020-05-14 20:27] #1656 closed, assigned to nobody

[2020-05-14 20:27] #1657 closed, assigned to nobody

[2020-05-14 20:27] #1659 closed, assigned to nobody

[2020-05-14 20:30] mogul commented on #1640
To improve the signal-to-noise ratio, we need to do some additional work to roll up alerts from different test locations for the same observed problem.

[2020-05-14 21:25] mogul opened #1664 "[research:2d] Figure out how to alert on cloud.gov app logs"
## User Story

In order to understand how to proceed with alerting for data.gov apps deployed on cloud.gov, the data.gov team needs to understand what capabilities and options are viable.

## Acceptance Criteria
- [x] We have a list of potential solutions for alerting on cloud.gov-captured logs, and the pros and cons of each

## Background
cloud.gov doesn't supply any native alerting and it's not

[2020-05-14 21:43] pjsharpe07 commented on #1620
There was an issue with a particular harvest `Original Product Resolution (OPR) Source Digital Elevation Models (DEMs) - USGS National Map`, I noticed it because it was marked `complete`, but wasn't truly done. I did some digging, but didn't make a new issue because we may never see it again. I'll pair with anyone if this harvest issue comes up again.

[2020-05-14 22:02] pjsharpe07 opened #1666 "Nessus 05/11/2020"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 05/11/2020
**Due date:**  08/20/2020

- [x] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability

### Brief description
[Nessus Scan](https://docs.google.com/spreadsheets/d/

[2020-05-14 23:46] mogul commented on #1644
~This plugin should be handy.~ No longer necessary as of cf7.
https://github.com/Comcast/cf-recycle-plugin

[2020-05-15 15:17] FuhuXia commented on #1393
Closing this issue since it is being tracked elsewhere.

[2020-05-15 15:17] #1393 closed, assigned to nobody

[2020-05-15 16:13] hkdctol opened #1669 "Delete old harvest source and datasets for Dept of Transportation"
## User Story

As Data.gov PMO, I want catalog to reflect only current harvest sources for DOT so that users get current Department of Transportation datasets without duplicates or outdated metadata.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specification

[2020-05-15 16:48] adborden opened #1670 "Switching to high-contrast mode and back breaks images on sdg.data.gov"
Report from email:

I'm not sure if this has already been fixed upstream.

## How to reproduce

1. Open https://sdg.data.gov/
1. Click high-contrast mode in the top right
1. Click default contrast mode in the top right

## Expected behavior

Goal images appear in default contrast mode.

## Actual behavior

Goal images are broken.
![Screenshot from 2020-05-15 09-47-03](https://user-images.githubuse

[2020-05-15 17:01] #1611 closed, assigned to adborden

[2020-05-15 18:10] mogul commented on #1359
DB reboot is now expected to happen after 10pm ET today.

[2020-05-15 18:21] adborden commented on #1337
Done in https://github.com/GSA/datagov-infrastructure-modules/pull/58

[2020-05-15 18:21] #1337 closed, assigned to nobody

[2020-05-15 19:52] mogul commented on #1515
I suspect that these are resulting from another place where the PHP code crashes when it attempts to validate a large data.json file and exceeds available memory. I'm keeping my eye on [`ajv-cli`](https://github.com/ajv-validator/ajv-cli) as a potential option to use for that job in future.

[2020-05-15 21:36] adborden opened #1673 "Automated initialization for new BSP instances"
## User Story

In order to avoid manual work while providing a consistent, repeatable process, Data.gov operator wants a script for initial instance provisioning in BSP.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN a new instanc

[2020-05-15 21:39] adborden commented on #1673
Mostly just wanted to document that a) this is currently manual and b) there is a [wiki stub](https://github.com/GSA/datagov-deploy/wiki/Provisioning-new-hosts).

[2020-05-15 21:43] adborden commented on #811
I just updated the story description. Moving to New so that we can re-groom it.

[2020-05-15 22:49] adborden opened #1675 "[research 1d] Test the inventory upgrade/migration with production data"
## User Story

In order to determine if there is additional work to upgrade-in-place or migrate the existing Inventory production database, data.gov operator wants to test the inventory upgrade/migration with production data.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_developmen

[2020-05-15 23:26] adborden opened #1676 "Provision new RDS database in staging for Inventory CKAN 2.8"
## User Story

In order to test CKAN2.8 is working properly in the staging environment without interrupting our ability to test against CKAN 2.5, data.gov operator wants a new RDS instance in staging.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specificatio

[2020-05-16 00:04] adborden opened #1677 "Inventory CKAN 2.8 not building in sandbox due to psycopg2"
I noticed that Inventory 2.8 is still [disabled on develop](https://github.com/GSA/datagov-deploy/blob/develop/ansible/inventory.yml#L3) I created a branch to remove this, but it fails to deploy to sandbox with a psycopg2 related error.

## How to reproduce

From sandbox:

1. Checkout [feature/inventory-2-8](https://github.com/GSA/datagov-deploy/tree/feature/inventory-2-8) to enable Inventory 2.8

[2020-05-16 00:11] adborden commented on #1677
This is pretty weird. I've seen this before, but only with psycopg2 < 2.7 (we're running 2.7.3.2). Also, I would expect this to come up in local development, because it should be running the same version of libpq-dev/pg_config.

[2020-05-16 00:53] adborden opened #1678 "Enable builds for Inventory CKAN 2.8 on sandbox"
## User Story

In order to be confident that Inventory CKAN 2.8 will work in staging and production, data.gov developer wants deploys enabled in sandbox for Inventory CKAN 2.8.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] WHEN I run t

[2020-05-16 00:55] adborden commented on #1677
It turns out we're not deploying the `inventory_ckan_2.8` branch to inventory-web-2-8. It looks like the configuration was never merged, so it's actually the `master` branch being deployed, indeed with an old version of psycopg2.

I'm going to close this and we can follow up in https://github.com/GSA/datagov-deploy/issues/1678

[2020-05-16 00:55] #1677 closed, assigned to nobody

[2020-05-18 14:49] FuhuXia commented on #1455
Got response from SecOps. This is false positive.

[2020-05-18 15:43] FuhuXia opened #1681 "staging catalog web instances /var/log low disk space"
The three staging catalog web instances report **83%**, **96%**, and **97%** of disk usage on partition /var/log.

[2020-05-18 15:45] FuhuXia commented on #1681
/var/log/audit is filling up the /var/log partition

[2020-05-18 16:34] adborden opened #1682 "Ubuntu Advantage micropurchase"
## User Story

As a Data.gov operator, I want an [Ubuntu Advantage](https://ubuntu.com/advantage) subscription so that I get all the benefits and technical support from a commercially supported plan.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specification

[2020-05-18 17:02] #1455 closed, assigned to FuhuXia

[2020-05-18 17:15] adborden commented on #1682
Initial micropurchase request has been submitted.

[2020-05-18 19:03] FuhuXia commented on #1681
duplicated of https://github.com/GSA/datagov-deploy/issues/634

[2020-05-18 19:03] #1681 closed, assigned to nobody

[2020-05-19 15:08] FuhuXia opened #1684 "logrotate error: destination already exists, renaming to [filename].backup"
logrotate on host catalogb-web1p gives error:

[code]
multiple backup files are generated on daily basis and will eventually fill up /var/log/ partition.

## How to reproduce

cron email notification.

## Expected behavior

log files being rotated by logrotate

## Actual behavior

new files are generated

[2020-05-19 16:24] adborden opened #1685 "[Onboard] julie.kramer@gsa.gov"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Ad

[2020-05-19 16:58] mogul commented on #1664
From another system:

[2020-05-19 17:05] mogul commented on #1664
Looks like DataDog might be available via the ITSP list. Need to investigate if it's procured and accessible to the data.gov program. There's a [decorator buildpack](https://github.com/DataDog/datadog-cloudfoundry-buildpack) for incorporating the statsd daemon into apps.

[2020-05-19 17:51] thejuliekramer commented on #1685
@adborden Is there something I need to do here?

[2020-05-19 18:33] adborden commented on #1685
@thejuliekramer yep, this is ready for you to start. No rush.

[2020-05-19 18:42] mogul commented on #1664
DataDog got [a GSA agency authorization as FedRAMP LI-SaaS](https://marketplace.fedramp.gov/#/product/datadog), but apparently TTS is at the P-card limit for DataDog already based on other programs. So DataDog may be on the other side of procurement mountain for us. 😞

If we end up having to bypass the SaaS route for an IaaS solution (which @JJediny suggested might be more straightforward) there a

[2020-05-19 20:15] mogul commented on #1664
The AWS Elasticsearch service is now FedRAMP-authorized, and includes all the [ODfE features](https://opendistro.github.io/for-elasticsearch/) including monitoring and alerting. The [AWS-maintained broker supports AWS Elasticsearch](https://github.com/awslabs/aws-servicebroker/tree/master/templates/elasticsearch) too!

[2020-05-19 22:00] adborden commented on #977
After deploying this, I did have to invalidate the cache in AWS.

[2020-05-19 22:06] FuhuXia commented on #1658
Done.
`/resources` and `/resources/` are configured in Wordpress Redirect plugin to be redirected to https://resources.data.gov/.

[2020-05-19 22:16] adborden commented on #1572
Deployed to staging and production.

[2020-05-19 22:19] FuhuXia commented on #1572
Fix is verified on production.

[2020-05-20 04:00] mogul commented on #1359
FCS confirmed the production reboot happened (not clear when), so this is unblocked.

[2020-05-20 15:47] FuhuXia opened #1687 "catalog-harvester2d low disk space on root partition"
%95 disk usage on /.

It is due to many xml files in `/tmp/s3sitemap` generated by cronjob `ckan-sitemap`. Some are 30 days old.

[2020-05-20 17:30] mogul commented on #1071
After Aaron showed me where the venv was landing (:doh:) I was able grep and see that these are the repos implicated:

- GSA/usmetadata
- GSA/ckanext-datajson
- GSA/ckanext-geodatagov
- GSA/ckanext-spatial

[2020-05-20 18:42] #831 closed, assigned to adborden, hkdctol

[2020-05-20 18:42] hkdctol commented on #831
I think we can close this considering 10X work that's been done. They are awaiting go-ahead from OMB before launching a new version of resources.data.gov.

[2020-05-20 18:45] hkdctol commented on #539
Closing this as duplicate of #1640

[2020-05-20 18:45] #539 closed, assigned to hkdctol

[2020-05-20 18:46] adborden commented on #1536
https://gist.github.com/adborden/1f6ccddcf1b4f5f87d6fb1a737e142ef contains a gist with an example main.tf using the Redis module that we can hand off to BSP.

[2020-05-20 18:55] hkdctol opened #1688 "Outreach to new agencies for Data.gov"
## User Story

As Data.gov PMO, we want to conduct outreach to additional federal agencies so that more agencies get datasets into Data.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN there are federal agencies that have not y

[2020-05-21 01:07] starsinmypockets opened #1690 "BUG: ⇝ HelperError: Helper 'archiver_is_resource_broken_line' has not been defined."
## Steps to reproduce:

View dataset resource

## Error

[code]

[2020-05-21 01:38] adborden opened #1691 "[Onboard] kim.davidson@gsa.gov"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [-] Ad

[2020-05-21 15:48] estebanruseler commented on #1416
Update document to be discussed with Aaron and Tom & co https://hackmd.io/TuQLq6WrSRaS9gmDWyzU1g

[2020-05-21 17:04] jbrown-xentity commented on #1544
Consider tuning so that if a service is down, we only get an alert from 1 location, or a limited number. Received many notifications last night about dashboard being down.

[2020-05-21 18:41] datagov-bot opened #1692 "deploy-ci-platform #25 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] 02e04f2d67c07718c45519de570bb3e1b85a6360 - Add -next domains

- [adborden] 8d9f4670146a738fdde713e27649efc54996d328 - Add CI domain for Jenkins

- [adborden] 9ac98b300a407a92ecc2e5bda4fce919991c1b24 - Staging SANs

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/25/) (classic)
[View fu

[2020-05-21 21:23] adborden opened #1693 "omb_bureau_codes.csv needs to be migrated to resources.data.gov"
ckanext.geodatagov.bureau_csv.url=https://project-open-data.cio.gov/data/omb_bureau_codes.csv

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-05-21 21:25] adborden commented on #1258
Duplicate of https://github.com/GSA/datagov-deploy/issues/1071

[2020-05-21 21:25] #1258 closed, assigned to nobody

[2020-05-21 21:26] adborden commented on #1071
@mogul you might find that things break, just open an issue to track. This is a stub: https://github.com/GSA/datagov-deploy/issues/1693

[2020-05-21 21:38] mogul commented on #1572
Refactor PR in progress in https://github.com/GSA/project-open-data-dashboard/pull/274, then we can deploy this.

[2020-05-21 23:13] adborden opened #1694 "Enable Synthetics' Private Locations checks for staging URLS"
## User Story

In order to be alerted when staging services are unavailable, Data.gov operator wants Synthetics' Private Locations checks implemented in the BSP environment for staging URLs.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [

[2020-05-21 23:24] adborden commented on #1536
@woodt would you QA this?

[2020-05-22 14:41] woodt commented on #1536
So I think this looks fine ... two questions, mostly to cement my own understanding:

(1) We still need to add the catalog-next (really, catalog-harvester-next) redis host name to a group_vars?  I'd imagine we do that as part of one of the harvesting stories.

(2) Here's what the relevant portion of the ansible inventory looks like for sandbox, which seems OK to me but I want to confirm it is as i

[2020-05-22 15:21] adborden commented on #1536
Hmm, that looks wrong and needs to be fixed in the datagov-infrastructure-* repos. I'll look into that. `tag_group_catalog_harvester` should no longer be part of `redis` or `redis-catalog`.

The current plan is to use ElastiCache for the -next instances, so there should be 0 redis hosts in `redis-catalog-next`. I included the groups just to make it explicit that these groups exist, but they are em

[2020-05-22 15:23] adborden commented on #1692
No space left on the root device. That is due to https://github.com/GSA/datagov-deploy/issues/1610

[2020-05-22 15:33] adborden commented on #1692
I did a manual fix to symlink the /var/lib/docker to the data volume.

[2020-05-22 15:41] woodt commented on #1536
@adborden move this back to in progress, then?  Or deal with the incorrect EC2 tag in other ticket?

[2020-05-22 15:42] adborden commented on #1536
I'll move it back to In Progress. With your stuff merged, I also want to see the redis config makes it into production.ini.

[2020-05-22 16:11] #1692 closed, assigned to adborden

[2020-05-22 20:36] adborden commented on #1682
The request was approved, I'm just following up to make sure it's being billed to the correct place.

[2020-05-22 20:45] mogul opened #1696 "[research: X days] Malicious code detection in cloud.gov apps"
## User Story

In order to satisfy the requirements of [NIST 800-53 Rev4 SI-3](https://nvd.nist.gov/800-53/Rev4/control/SI-3) for data.gov components running in cloud.gov, the data.gov team wants to spend up to X days researching options for achieving malicious code detection at the application instance level.

## Acceptance Criteria

- We have a sketch for our approach and a proto-backlog for ach

[2020-05-22 21:13] #1639 closed, assigned to FuhuXia

[2020-05-26 15:57] FuhuXia opened #1700 "pycsw is loading data from production api from all env"
Sandbox and Staging have `pycsw-load` cronjob turned on. the `ckan_url` in the config is pointing to production api. As a result, it creates extra workload to production web instances, and their `pycsw` database get unnecessarily big with production data.

[2020-05-26 17:10] mogul commented on #1696
We're settling on ClamAV in a sidecar.

[2020-05-26 17:18] pjsharpe07 opened #1701 "Release 20200611"
## Release 6/11/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

## Acceptance Criteria
- [x] Release is cut
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in staging, and all systems verified up
- [x] Playbook run with no er

[2020-05-26 22:35] kimwdavidson opened #1702 "Discovery: Determine datasets per Harvester type"
### Description
Determine how many datasets there are per harvester type, so that we can prioritize remaining harvester rebuilds

[2020-05-26 22:39] kimwdavidson opened #1703 "Review federal DCAT harvester sources"
### Description:
Harvest sources list here: https://docs.google.com/spreadsheets/d/13n3PYD_ppd7mj38Yeix5sf6K3cZL2KxnYj5VuSUUfg8/edit#gid=1994989648

There are numerous errors on multiple harvest sources. We need to determine which are the ones we need to fix.

### Details/Tasks
- [ ] Hyon to add column designating federal sources
- [ ] Review whether the harvesters hyon designated as active are wo

[2020-05-26 22:45] kimwdavidson opened #1704 "Discovery: Determine how to rebuild dataset entry form"
### User story
As an agency user, I can easily add metadata and data that complies with the DCAT standard without having to be an expert in the schema or consult a lot of outside materials, so that my data can be easily discoverable and compliant

### Details/Tasks
- [ ] determine implementation details - may build in CKAN, may build in a decoupled front end
- [ ] create implementation ticket with

[2020-05-26 22:46] kimwdavidson commented on #1702
Issue moved to [GSA/datagov-ckan-multi #310](https://github.com/GSA/datagov-ckan-multi/issues/310) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-26 22:46] #1702 closed, assigned to adborden

[2020-05-26 22:48] #1704 closed, assigned to thejuliekramer

[2020-05-26 22:48] kimwdavidson commented on #1704
Issue moved to [GSA/datagov-ckan-multi #311](https://github.com/GSA/datagov-ckan-multi/issues/311) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-26 22:49] kimwdavidson commented on #1703
Issue moved to [GSA/datagov-ckan-multi #312](https://github.com/GSA/datagov-ckan-multi/issues/312) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-26 22:49] #1703 closed, assigned to hkdctol, avdata99, thejuliekramer

[2020-05-27 16:09] FuhuXia opened #1705 "Fuhu O+M"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-05-27 16:32] FuhuXia opened #1706 "Nessus 05/24/2020"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:**
**Due date:**

- [ ] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is identified, we create two issues. One to address the specific ins

[2020-05-27 16:41] FuhuXia opened #1707 "Catalog Tomcat upgrade"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 05/01/2020 - nessus scan
**Due date:** 05/31/2020

### Brief description
Items [133845, 126125, 132413](https://docs.google.com/spreadsheets/d/1qInc2hrKBoBReklU9zbGvaeZcLY4-qmU0nae8nWZhEc) in nessus scan

[2020-05-27 16:49] FuhuXia commented on #1629
Dashboard web hosts has same TLS version issue found in item [121010](https://docs.google.com/spreadsheets/d/1qInc2hrKBoBReklU9zbGvaeZcLY4-qmU0nae8nWZhEc) by nessus scan.

[2020-05-27 17:44] thejuliekramer commented on #1685
@adborden I'm having trouble accessing the Google Group https://groups.google.com/forum/#!forum/ckan-gov-working-group

[2020-05-27 17:46] adborden commented on #1537
tl;dr we'll go forward with a self-hosted redis instead of ElastiCache. I've updated the AC and will create a new BSP ticket.

BSP got back to us. They _could_ provide ElastiCache but they are concerned that without console or CLI access we'll be too dependent on them, which makes sense to us.

[2020-05-27 21:33] FuhuXia opened #1708 "Truncated file download from Inventory using gunicorn"
User reported xlsx file downloaded from Inventory couldn't be open. File appears to be corrupted. I tried a few times.  For 1-2 out of 10 times, the file downloaded appeared to be complete but the file size was slightly smaller than what it should be. When trying to open the file of smaller size, I got similar file corrupted error message.

## How to reproduce

1. Go to [FY 2018 Federal Real Prope

[2020-05-27 21:40] FuhuXia commented on #1708
This seems to be a newly surfaced issue. By its timing, maybe it is related to the Gunicorn we deployed recently? or maybe it is totally coincidence.

[2020-05-27 23:56] adborden commented on #1685
Okay, don't worry about it. I've [removed it from the checklist](https://github.com/GSA/datagov-deploy/pull/1709).

[2020-05-28 00:16] thejuliekramer commented on #1685
@adborden PR for my adding my ssh key to the ansible vault https://github.com/GSA/datagov-deploy/pull/1710

[2020-05-28 15:47] FuhuXia opened #1711 "Filter icon on catalog facet column"
![Screenshot 2020-05-28 11 46 17](https://user-images.githubusercontent.com/1392461/83163277-dc711500-a0d8-11ea-8bd9-16a95fb2f211.png)

## How to reproduce

https://catalog.data.gov/dataset

## Expected behavior

No filter icon
## Actual behavior

Filter icon shows up

[2020-05-28 16:38] FuhuXia opened #1712 "Netsparker reports jquery version 1.12.4 is out-of-date"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 05/22/2020
**Due date:**

- [x] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is identified, we create two issues. One to address the s

[2020-05-28 16:45] adborden commented on #1712
This is one of the issues driving CKAN 2.8+

[2020-05-28 16:51] FuhuXia opened #1713 "Netsparker: [Possible] BREACH on catalog"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.f97vuam3wilb)._

**Date of report:** May 22, 2020
**Due date:** August 22, 2020

- [ ] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is identified,

[2020-05-28 16:51] datagov-bot opened #1714 "deploy-ci-platform #29 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] c8491271ff4612d82e78b6238516df4f28bfcc16 - Disable CKAN 2.8 hosts

- [thejuliekramer] c0b995034ed91c9071bf368d0accab12d60e84b1 - Add Julie Kramer's public ssh key

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/29/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/orga

[2020-05-28 17:30] pjsharpe07 commented on #1544
The command line to test high cpu is: `sudo stress --io 4 --timeout 720`. Depending on the host, the io (number of workers) might need to be larger to force higher cpu load.

[2020-05-28 17:43] mogul commented on #1696
Stark and Wayne wrote a great [sidecar buildpack example](https://github.com/starkandwayne/part4-sidecar-buildpack) that we can build on.

[2020-05-28 17:47] #1620 closed, assigned to pjsharpe07

[2020-05-28 18:04] #1383 closed, assigned to pjsharpe07

[2020-05-28 18:04] #1544 closed, assigned to pjsharpe07

[2020-05-28 18:04] #1589 closed, assigned to mogul

[2020-05-28 18:04] #1608 closed, assigned to FuhuXia

[2020-05-28 18:04] #1640 closed, assigned to adborden

[2020-05-28 18:04] #1658 closed, assigned to FuhuXia

[2020-05-28 18:04] #1669 closed, assigned to pjsharpe07

[2020-05-28 18:04] #977 closed, assigned to adborden, hkdctol

[2020-05-28 18:04] #1359 closed, assigned to mogul

[2020-05-28 18:04] #1536 closed, assigned to adborden

[2020-05-28 18:04] #1572 closed, assigned to mogul

[2020-05-28 18:04] #1593 closed, assigned to mogul

[2020-05-28 18:04] #1648 closed, assigned to adborden, FuhuXia

[2020-05-28 18:04] #1696 closed, assigned to mogul

[2020-05-28 18:04] #1685 closed, assigned to adborden, thejuliekramer

[2020-05-28 19:31] #1714 closed, assigned to nobody

[2020-05-28 20:01] mogul opened #1716 "[research 3d]: Malware-detection sidecar buildpack for cloud.gov apps"
## User Story

In order to satisfy the requirements of [NIST 800-53 Rev4 SI-3](https://nvd.nist.gov/800-53/Rev4/control/SI-3) for data.gov components running in cloud.gov, the data.gov team wants to achieve malicious code detection at the application instance level by implementing a malware-detection [sidecar buildpack](https://www.cloudfoundry.org/blog/how-to-push-an-app-to-cloud-foundry-with-sid

[2020-05-28 20:03] mogul commented on #1419
We're seeing SQL errors in staging. Trying to reproduce in sandbox, but #1700 is causing the database to fill up, which is blocking progress.

[2020-05-28 20:04] mogul commented on #1482
Hyon will ping to see how VA's doing.

[2020-05-28 20:05] mogul commented on #1369
@adborden is pinging the cloud.gov team to see if there's been any movement toward resolution on their end.

[2020-05-28 20:08] mogul commented on #1682
@adborden saw that the request was approved last week, but there's been no movement since. He'll check in with Aidan to understand the next steps.

[2020-05-28 20:10] mogul commented on #1449
Marking `Blocked` since there's nothing actionable here until we see our next few catalog events to help us calibrate our threshold for restarts.

[2020-05-28 20:17] jbrown-xentity commented on #1700
Also this [Pull Request](https://github.com/GSA/datagov-deploy-pycsw/pull/9)

[2020-05-28 20:23] mogul commented on #1664
We're planning to go forward with a brokered AWS Elasticsearch instance.

[2020-05-28 20:29] mogul opened #1717 "O+M (James)"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-05-28 20:46] mogul commented on #1687
We've got some time until this bugs us again after a manual clear; going to Icebox for now.

[2020-05-28 20:51] mogul commented on #1693
We think this is done, just need to double-check before we close it.

[2020-05-28 23:25] adborden commented on #1708
We're getting inconsistent results when downloading data from the public internet. Running this command gives me a different and incorrect checksum each time. The expected MD5 checksum is `bfaa4e572e2ecea38ce3fa723b5bb58e`.

[code]

[code]

From within our AWS environment in FAS Cloud Services, the command gives the correct checksum, both from the host as well as through Netscaler.

[code]

[code]

[2020-05-28 23:30] adborden commented on #1708
Hmm... I opened an incident with FCS but I haven't received a ticket number or an email.

[2020-05-28 23:53] adborden commented on #1708
INC3111314 has been created.

[2020-05-29 15:40] starsinmypockets commented on #1690
Related to https://github.com/GSA/datagov-deploy/issues/1426

[2020-05-29 15:41] starsinmypockets commented on #1690
The helper is provided by the GSA fork of the archiver. We can remove this line to eliminate this error but should determine how the archiver is being used and whether it should be included in the MVP.

[2020-05-29 15:43] starsinmypockets commented on #1690
https://github.com/GSA/ckanext-datagovtheme/blob/bc16aedab2096217e01003d1ac2122009c46b225/ckanext/datagovtheme/templates/package/resource_read.html#L25

[2020-05-29 16:52] FuhuXia commented on #1619
Research found there are 18,933 records from all files combined on [USGPO github repository](https://github.com/usgpo/cataloging-records). Technically they should be able to fit into one data.json file to be hosted on UPSPG site, such as gpo.gov/data.json, and get harvested by catalog.data.gov.

Next step for the agency would be to find/develop a tool to generate the data.json file that conform to

[2020-05-29 17:30] jbrown-xentity commented on #1708
Noted this when doing the security review for inventory log, seemed relevant:

```inventory1p.prod-ocsit.bsp.gsa.gov: [Wed May 27 18:51:43.378075 2020] [proxy_http:error] [pid 10770:tid 139632155944704] (70008)Partial results are valid but processing is incomplete: [client 173.79.65.163:4756] AH01110: error reading response, referer: https://catalog.data.gov/dataset/fy-2018-federal-real-property-p

[2020-05-29 23:12] hkdctol commented on #1482
Pinged VA about harvest source.

[2020-05-30 00:21] adborden commented on #1708
Thanks @jbrown-xentity, I think @FuhuXia's intuition is right in that it's related to the gunicorn change. The proxy error above says to me that the response from gunicorn to apache2 was incomplete for some reason. I don't see any errors that would indicate _why_. My google-fu has also failed to come up with any clues.

Here's what we know so far:
- It's inconsistent
- Seems like the file is being

[2020-05-30 02:21] adborden commented on #1682
Purchase is going through on Monday.

[2020-05-30 02:23] adborden commented on #1708
I reverted back to mod_wsgi on staging 😞 , and I'm getting the correct checksum. We'll go with this as a mitigation until we can dig into the gunicorn issue.

[code]

[2020-05-30 12:08] loafoe commented on #1556
@mogul I created a [PR](https://github.com/cloudfoundry-community/terraform-provider-cf/pull/262) for this issue as we are running into it as well.

[2020-05-30 13:14] jbrown-xentity commented on #1708
Could it be a timeout issue? https://stackoverflow.com/questions/47217880/critical-worker-timeout-error-on-gunicorn-django

[2020-05-30 15:05] mogul commented on #1556
Wow, awesome, thanks so much for letting me know!

Sounds like the users still have to already be in the org, though, right? I'm wondering if that can be worked around since the CLI does it. 🤔

[2020-05-30 15:12] loafoe commented on #1556
I found a [link](https://lists.cloudfoundry.org/g/cf-dev/topic/how_can_i_get_a_guid_of_an/6333790?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,480,6333790) where someone explains the possibilities for lookup. We just have to find a v2 API call that works. I suspect newer versions of the CF API introduced some permission changes as I remember all of this working fine earlier. That, or the fact I w

[2020-06-01 16:12] adborden commented on #1708
Something to try.

[2020-06-01 17:22] adborden commented on #1708
The mitigation is now live and seems to be working correctly. I'm going to move this back to the Product Backlog so that we can dig into it and resolve the root cause.

[2020-06-01 20:32] datagov-bot opened #1723 "deploy-ci-platform #32 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] a337dd430b037bdfa028bf57ee1ddd01fd60031e - gunicorn -> mod_wsgi

- [adborden] b7c98effa29663c7dcda0e98465f28e1d3f64942 - Fix snyk

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/32/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platf

[2020-06-02 16:13] FuhuXia opened #1726 "Catalog style missing social site icons"
On dataset details pages, in left column, social site icons are missing. Contact and Share icons also got changed, right margin changed to 0.

## How to reproduce

Go to any dataset page, e.g., https://catalog.data.gov/dataset/u-s-hourly-precipitation-data
Look at left column under Contact section and Share section.

## Expected behavior

![Screenshot 2020-06-02 12 09 05](https://user-images.githu

[2020-06-02 16:55] adborden commented on #1708
What I would test next on this is instead of using the built-in paste integration, I would use an explicit wsgi script. There's a lot of unknowns with how the paste integration works and our older version of paste.

Also, since we want to hook in New Relic early, we'll want to use the wsgi script method anyway rather than figure out how to hook in New Relic to the paste integration.

[2020-06-02 16:59] adborden commented on #1723
Looks like inventory didn't come up.

[code]

[2020-06-02 17:03] datagov-bot opened #1727 "deploy-ci-app-inventory #5 failed"
Build 'deploy-ci-app-inventory' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-inventory/5/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-inventory/detail/deploy-ci-app-inventory/5/pipeline) (blue)

[2020-06-02 18:25] pjsharpe07 commented on #1292
Our test organization has been created and the api has been tested. See below:

![image](https://user-images.githubusercontent.com/38019872/83555785-0dcc5500-a4cc-11ea-98aa-80a352cafa63.png)

[2020-06-02 19:16] #1723 closed, assigned to adborden

[2020-06-02 19:22] #1727 closed, assigned to nobody

[2020-06-02 19:24] hkdctol commented on #1482
VA still going through final approvals on new harvest source.

[2020-06-02 20:33] datagov-bot opened #1729 "deploy-ci-platform #34 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [tom.wood] c908bf3d025c627d4b3405ec8633ec8b96d6bccb - Make sure the gunicorn (ckan) service is restarted.

- [tom.wood] ca7a39477bf964c51d3ca4708b774aba08997ab1 - Probably best to only restart gunicorn when we are using it.

- [tom.wood] fffd63719515a4ad6df72fdbc9d7392fe8d9eb8f - Use the existing 'reload supervisor' han

[2020-06-02 21:11] adborden commented on #1729
Build output:
[code]

[2020-06-03 00:40] woodt commented on #1729
catalog-next.sandbox.datagov.us needed to have postgis enabled in its database.  Should be fixed now.

[2020-06-03 00:47] adborden commented on #1729
Thanks! I kicked off a new build. (in case you want access, user is `admin` and the password is in the ansible vault.

[2020-06-03 00:50] adborden commented on #1369
Our ISSM is pushing to have this [resolved as a false positive](https://gsa-tts.slack.com/archives/C02CD5VUQ/p1590602195452800?thread_ts=1588003819.234400&cid=C02CD5VUQ).

I'm going to close this as we expect it to be resolved. We can re-open if something else comes up.

[2020-06-03 00:50] #1369 closed, assigned to adborden

[2020-06-03 00:57] adborden commented on #1682
:tada: we have UA! The next steps are:
1. Sign up for Ubuntu One account using TTS email (this is **not** datagovhelp@)
1. Get the UA token through Ubuntu One
1. [Setup the clients](https://wiki.ubuntu.com/UAclient)

[2020-06-03 01:23] #1729 closed, assigned to nobody

[2020-06-03 19:30] hkdctol commented on #1693
@pjsharpe07 I checked--we need to keep the pdf link and then delete the broken CSV link. once you do that this one can be considered closed

[2020-06-03 19:33] hkdctol commented on #1693
@pjsharpe07 looks like the link below that--program code, has a broken link. will send you that CSV.

[2020-06-03 22:21] adborden opened #1730 "Redis TLS encryption in transit"
## User Story

In order to meet best practices for secure transmission of data, as a data.gov operator, I want stand-alone redis instances provisioned with TLS encryption in transit.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN

[2020-06-03 22:23] adborden commented on #1730
Before digging into the Ansible implementation, we might just want to vet that nginx + Redis is the best path forward.

[2020-06-04 15:27] pjsharpe07 commented on #1693
Going to the [dcat section](https://resources.data.gov/schemas/dcat-us/v1.1/) or resources.data.gov, you can see the csv for bureauCodes removed and the programCode csv link has been fixed.

[2020-06-04 16:19] estebanruseler commented on #1690
Moved to done as this issue is a duplicate of #46 and #46 is done

[2020-06-04 20:19] mogul opened #1732 "Remove vestigial request pages"
We've removed the public-facing helpdesk functionality from data.gov, but there are pages that still refer to it. They should be removed as well.

## How to reproduce

1. Description of steps to reproduce the issue.

* Visit https://www.data.gov/requests/
* Visit https://www.data.gov/data-request/request-id/635038

## Expected behavior

*  The user is redirected to https://www.data.gov/contact

##

[2020-06-04 20:24] mogul commented on #1708
Aaron believes this can be reproduced in the sandbox by pulling the data in question over from production.

[2020-06-04 20:29] mogul commented on #1708
When we are investigating this, we should reference the [improved docs upstream](https://github.com/ckan/ckan/pull/5406) to see if there are obvious configuration differences.

[2020-06-04 22:37] adborden commented on #1693
@pjsharpe07 @hkdctol I think something got a little lost in translation here. catalog.data.gov needs the bureau codes CSV in order to generate this bureau filter on the search page. It's used by [ckanext-datagovtheme](https://github.com/GSA/ckanext-datagovtheme/search?q=bureau_csv&unscoped_q=bureau_csv).

![Screenshot from 2020-06-04 15-32-04](https://user-images.githubusercontent.com/509703/83817

[2020-06-04 22:43] hkdctol commented on #1693
OK. I missed that. I need to check something then, because the CSV I had, I'm not sure it is up to date. I may have to create one. I agree easiest thing would be to link to an accurate CSV from resources.data.gov.

[2020-06-04 22:46] adborden commented on #1628
Re-opening, so the ckan-multi team can finish their actions.

[2020-06-04 22:46] adborden commented on #1691
Re-opening, so the ckan-multi team can finish their actions.

[2020-06-04 22:56] hkdctol commented on #913
Reopening this as Climate has additional datasets to be added. @FuhuXia let me know if this is ok or better to create a new ticket?

[2020-06-04 23:16] adborden commented on #1690
@starsinmypockets @estebanruseler are we really done here? My understanding is that https://github.com/GSA/catalog.data.gov/issues/46 is only a work-around in that it disables the feature. But what @starsinmypockets describes here is that we still want to understand if that disabled behavior is still needed or not. Are we tracking that somewhere else?

[2020-06-04 23:42] adborden commented on #1619
Excellent summary, thanks @FuhuXia.

[2020-06-04 23:52] adborden commented on #1687
I think this is a duplicate of https://github.com/GSA/datagov-deploy/issues/742. The root cause is that the s3sitemap job fails in staging and doesn't cleanup the generated files.

[2020-06-05 13:30] avdata99 commented on #1690
@adborden, we are tracking this (and the `ckanext-qa` function hidden) at [#50](https://github.com/GSA/catalog.data.gov/issues/50).

[2020-06-05 14:02] FuhuXia commented on #913
I would say a new story with new XLSX file attachment makes it easier to manage.

[2020-06-05 14:48] hkdctol opened #1734 "Add new datasets to Climate topic"
## User Story

As a lead for the Climate topic, I want to add additional datasets to the Climate topic list of datasets.

## Acceptance Criteria

- [x] GIVEN datasets have been added to the Climate topic
       THEN we can find that datasets from the spreadsheet provided can be found in the data page for the Climate topic

## Background
See #913 for background on methodology.
[4June2020_CDI_Retag_

[2020-06-05 14:49] hkdctol commented on #913
Closing this issue. New datasets to add are in #1734

[2020-06-05 14:49] #913 closed, assigned to FuhuXia, jbrown-xentity

[2020-06-05 16:55] #1547 closed, assigned to FuhuXia

[2020-06-05 17:02] FuhuXia commented on #1629
TLS 1.1 removed from wordpress and dashboard, TLS 1.3 added. This ticket can be closed.

[2020-06-05 19:15] hkdctol commented on #1693
@pjsharpe07 will send you bureau code CSV, confirmed with OMB it's ok to use

[2020-06-05 20:55] pjsharpe07 commented on #1693
Once the PR above gets merged we can edit the ckanext-geodatagov repo and that will resolve this issue

[2020-06-05 23:44] adborden commented on #1693
Once merged, you'll want to edit the production.ini templates in [datagov-deploy](https://github.com/GSA/datagov-deploy/search?q=filename%3Aproduction.ini.j2&unscoped_q=filename%3Aproduction.ini.j2).

[2020-06-08 16:20] estebanruseler opened #1735 "Spike 2d: Plan for an embedded, decoupled front end form"
## User Story

As an agency user, I can easily add metadata and data that complies with the DCAT standard without having to be an expert in the schema or consult a lot of outside materials

## Acceptance Criteria
- [ ] Does existing API interface work the 2.5 API
  - Autocomplete data available from 2.5 API?
- [ ] USWDS basic form with a subset of the fields with inline errors
- [ ] Proof-of-conce

[2020-06-08 17:54] estebanruseler commented on #1735
Closed and added this to [datagov-ckan-multi/311](https://app.zenhub.com/workspaces/datagov-multi-tenant-ckan-5cf12b601437ff1e943f0aa2/issues/gsa/datagov-ckan-multi/311)

[2020-06-08 18:44] estebanruseler commented on #1735
Now closing...

[2020-06-08 18:44] #1735 closed, assigned to starsinmypockets, thejuliekramer

[2020-06-08 20:30] pjsharpe07 commented on #1693
So, the [ckanext-geodatagov production.ini](https://github.com/GSA/ckanext-geodatagov/blob/d82eb45067f9b8335b6d767499f218431fb6c215/deployment/etc/ckan/production.ini#L106) doesn't need to be updated?

[2020-06-09 03:53] mogul opened #1737 "Add logical diagrams for www, catalog, and inventory to SSP"
## User Story

In order to include all data.gov components in-scope for the data.gov ATO on cloud.gov, the SSP must include a logical diagram of the www, catalog, and inventory components in section 9.

## Acceptance Criteria
- [x] GIVEN I have opened the [FY20 Draft SSP](https://docs.google.com/document/d/1WuoO419OV-SHiQU5k_IWZYsWbjPE_VXmj-jNMH0KDDI/edit)
  WHEN I look at [Section 9](https://docs

[2020-06-09 04:00] mogul opened #1738 "Add system asset descriptions for www, catalog, and inventory to SSP"
## User Story

In order to include all data.gov components in-scope for the data.gov ATO on cloud.gov, the SSP must include system assets belonging to the www, catalog, and inventory components in table 9.2.

## Acceptance Criteria
- [x] GIVEN I have opened the [FY20 Draft SSP](https://docs.google.com/document/d/1WuoO419OV-SHiQU5k_IWZYsWbjPE_VXmj-jNMH0KDDI/edit)
  WHEN I look at [Table 9.2](https:

[2020-06-09 04:41] mogul opened #1739 "Add role descriptions for www, catalog, and inventory to SSP"
## User Story

In order to include all data.gov components in-scope for the data.gov ATO on cloud.gov, the SSP must include role descriptions specific to the www, catalog, and inventory components in table 9.4.

## Acceptance Criteria
- [x] GIVEN I have opened the [FY20 Draft SSP](https://docs.google.com/document/d/1WuoO419OV-SHiQU5k_IWZYsWbjPE_VXmj-jNMH0KDDI/edit)
  WHEN I look at [Table 9.4](htt

[2020-06-09 04:52] mogul opened #1740 "Add network/boundary diagrams for www, catalog, and inventory to SSP"
## User Story

In order to include all data.gov components in-scope for the data.gov ATO on cloud.gov, the SSP must include a network and boundary diagram for each of the www, catalog, and inventory components in section 9.e.

## Acceptance Criteria
- [x] GIVEN I have opened the [FY20 Draft SSP](https://docs.google.com/document/d/1WuoO419OV-SHiQU5k_IWZYsWbjPE_VXmj-jNMH0KDDI/edit)
  WHEN I look at

[2020-06-09 05:12] mogul opened #1741 "Remove dashboard authentication"
## User Story

In order to reduce the compliance overhead of the data.gov dashboard, the data.gov team wants to remove the ability to authenticate with the dashboard.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN I visit https://

[2020-06-09 19:15] FuhuXia commented on #1734
Climate group and tags were assigned to 289 datasets, using steps described in [wiki](https://github.com/GSA/datagov-deploy/wiki/catalog.data.gov#update-datasets-groups-and-category-tags).

[2020-06-09 20:26] hkdctol commented on #1734
Informed Climate leads; will move to Done.

[2020-06-09 23:56] adborden commented on #1693
It couldn't hurt, but honestly I don't think that file or the `deployment` directory is used for anything. The [README](https://github.com/GSA/ckanext-geodatagov/blob/d82eb45067f9b8335b6d767499f218431fb6c215/deployment/README) hasn't been updated since 2012 and refers to a process that definitely is not used today. All of our environments define the production.ini and ansible tasks in [datagov-dep

[2020-06-10 19:22] adborden opened #1742 "Saving resources hangs in inventory.data.gov"
https://inventory.data.gov/dataset/resources/inventory-of-owned-and-leased-properties-3983

This might be two separate bugs, we can split out another issue if that ends up being the case.

## How to reproduce

As an admin on inventory.data.gov:

1. Open https://inventory.data.gov/dataset/resources/inventory-of-owned-and-leased-properties-3983
1. Click "Reorder resources"
1. Change the order of the