[2020-12-11 17:17] chris-macdermaid opened #2555 "O+M -12/24/2020"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-12-11 18:55] mogul commented on #2534
Done, sorry about that.

[2020-12-12 00:54] chris-macdermaid opened #2556 "inventory2p "RSA certificate for ckan:443 does NOT include an ID with matches the server name""
inventory2p.prod-ocsit.bsp.gsa.gov:/var/log/inventory/ckan.error.log is reporting this error:

[Thu Dec 10 18:25:10.666338 2020] [ssl:warn] [pid 6054:tid 139980101977984] AH01909: RSA certificate configured for ckan:443 does NOT include an ID which matches the server name

[2020-12-14 16:16] datagov-bot opened #2558 "deploy-ci-platform #372 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [noreply] 7382943978b6449a55f070cb0d78bde0f9805d1c - Bump datagov-deploy-jenkins

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/372/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/372/pipeline) (blue)

[2020-12-14 16:27] hkdctol commented on #2515
Descriptions appear on catalog classic
![descriptions](https://user-images.githubusercontent.com/3236989/102107089-5495f280-3dff-11eb-8f52-c4e491e9c016.png)

[2020-12-14 17:54] adborden commented on #2182
Confirmed from Lynnette and the scanning team that this is a false positive.

[2020-12-14 19:45] #2558 closed, assigned to pjsharpe07

[2020-12-14 19:45] #2235 closed, assigned to adborden

[2020-12-14 19:45] #2374 closed, assigned to mogul

[2020-12-14 19:45] #2488 closed, assigned to pjsharpe07

[2020-12-14 19:45] #2504 closed, assigned to adborden

[2020-12-14 19:45] #2515 closed, assigned to hkdctol

[2020-12-14 19:45] #2522 closed, assigned to pjsharpe07, chris-macdermaid

[2020-12-14 19:45] #2248 closed, assigned to FuhuXia

[2020-12-14 19:45] #2272 closed, assigned to FuhuXia

[2020-12-14 19:45] #2352 closed, assigned to adborden

[2020-12-14 19:45] #2421 closed, assigned to adborden

[2020-12-15 00:59] adborden opened #2560 "Update extensions for CKAN 2.9"
## User Story

In order to ensure data.gov can be upgraded to CKAN 2.9, Data.gov developers want continuous integration environments enabled for CKAN 2.9.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextual precondition]

[2020-12-15 06:32] mogul commented on #1433
I amended the description, but I'm choosing not to add the management space diagram until someone asks for it.

[2020-12-15 16:30] hkdctol commented on #2220
I had a duplicate issue so I'm closing that one and have put some of the steps under Sketch here.

[2020-12-15 16:31] hkdctol commented on #2533
Closing as duplicative of #2220

[2020-12-15 16:52] FuhuXia commented on #2556
Production Inventory classic instances also failed to generate a 200 response code for healthcheck request `HEAD https://{host_name}/api/action/status_show` . It might be related to this issue, due to some bad apache2 configuration.

[2020-12-15 18:15] chris-macdermaid opened #2561 "Command Injection"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.m8mg1ef0svcl)._

**Date of report:** 2020-12-13
**Severity:** Moderate
**Due date:** 2021-3-13

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been

[2020-12-15 21:01] chris-macdermaid opened #2562 "Prototype Pollution"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.apbhv910b3ns)._

**Date of report:** 2020-12-10
**Severity:** High
**Due date:**  2021-1-9

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been perf

[2020-12-16 01:06] adborden commented on #2262
lgtm.

[2020-12-16 01:38] adborden commented on #2454
If you see cancelled, it's probably the browser blocking the [CORS]() request.

In firefox, I'm seeing `Access-Control-Request-Headers: x-requested-with` in the OPTIONS request. That is probably missing from our CORS response.

![Screen Shot 2020-12-15 at 5 36 06 PM](https://user-images.githubusercontent.com/509703/102293691-732de380-3efc-11eb-9b7c-0542d9139b5f.png)

[2020-12-16 02:28] adborden commented on #2454
I tried [adding the header](https://github.com/GSA/datagov-deploy/commit/85be750f28396a3fbf38556798e54814c7093fbf) but I'm still getting the same result in staging.

[2020-12-16 20:56] pjsharpe07 commented on #1883
If this above PR gets merged then I'll create a new issue to upgrade to 2.9 w/Fuhu's copied stdout errors included.

[2020-12-16 21:16] pjsharpe07 opened #2566 "Upgrade USWDS to 2.9 on resources.data.gov"
In trying to update USWDS to 2.9.0 on resources.data.gov, running build gives the following error:

## How to reproduce

[Last upgrade](https://github.com/GSA/datagov-deploy/issues/1883)

1. Run [setup steps for resources.data.gov](https://github.com/GSA/resources.data.gov#setup), making sure uswds is marked as ^2.9.0 after `npm install` command (uninstall and re-install if not)
2. Note error that

[2020-12-16 22:28] FuhuXia opened #2568 "Incorrect/Missing Health Check requests"
data.gov sites have Health Check endpoints configured to received request from Netscaler/AWS_ELB Load Balancers.
1. [catalog sites](https://github.com/GSA/datagov-deploy/wiki/catalog.data.gov#cdn-and-health-checks)
2. [inventory sites](https://github.com/GSA/datagov-deploy/wiki/inventory.data.gov#health-checks)
3. [wordpress sites](https://github.com/GSA/datagov-deploy/wiki/www.data.gov#cdn-and-he

[2020-12-17 00:28] mogul commented on #2534
Aaron and I paired today to do a first-pass through sections 9-10. We indicated where sections should have a separate narrative for the "SSB Application Boundary" vs the "SSB Managed Boundary". We also left comments on what needed to be done throughout.

[2020-12-17 18:15] datagov-bot opened #2569 "deploy-ci-platform #379 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] 3f09e18fc2ebaec0c640bb326fd24c5314cbf3e5 - update dashboard requirement for 80->443

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/379/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/379/pipeline) (blue

[2020-12-17 18:18] jbrown-xentity commented on #2314
Items left for discovery:
- Identify how datasets were created by default private in classic, and verify in inventory-next (and when data is added, dataset is made public)
- An anonymous user should be redirected to a `login needed` or `access denied` type page

[2020-12-17 21:11] jbrown-xentity commented on #2556
This log entry can be safely ignored. Closing.

[2020-12-17 21:11] #2556 closed, assigned to nobody

[2020-12-17 21:27] jbrown-xentity commented on #2484
Closing as duplicate of #2432 .

[2020-12-17 21:27] #2484 closed, assigned to nobody

[2020-12-17 21:35] jbrown-xentity commented on #961
Were able to clear and re-initialize the CKAN DB for inventory on sandbox, closing.

[2020-12-17 21:35] #961 closed, assigned to nobody

[2020-12-17 23:37] adborden opened #2570 "Move ckanext-saml2 configuration to application extensions"
## User Story

In order to avoid maintaining a fork of ckanext-saml2 to hardcode configuration, data.gov developers wants the saml2 configuration to live in the application extension.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN

[2020-12-17 23:53] adborden commented on #2103
I opened https://github.com/GSA/ansible-os-ubuntu-16/issues/30 but I don't think GSA is maintaining this repo anymore.

[2020-12-18 00:35] adborden commented on #2103
`register`'d variables are up high on the [precedence list](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#ansible-variable-precedence), so the most practical fix is to use `set_fact` to set it to the role's default :(

[2020-12-18 18:52] #2569 closed, assigned to jbrown-xentity

[2020-12-21 16:57] jbrown-xentity commented on #2314
The code that was handling the redirects and locking out anonymous users is [here](https://github.com/GSA/USMetadata/blob/master/ckanext/usmetadata/plugin.py#L581-L603).
This code was first [commented](https://github.com/datopian/USMetadata/commit/bc63833d94b81887ec929b6a3dd9b5663a21c2fe) and then [removed](https://github.com/datopian/USMetadata/commit/bfd2a356d0ae10843daa9b032f3b346d54ec0128) for

[2020-12-21 17:21] jbrown-xentity commented on #2314
[This logic](https://github.com/GSA/USMetadata/blob/master/ckanext/usmetadata/plugin.py#L689-L696) makes datasets that are private into public when a resource is loaded onto inventory (so that users can view/download the resource).
[This logic](https://github.com/GSA/USMetadata/blob/master/ckanext/usmetadata/plugin.py#L999-L1017) combined with the [old template](https://github.com/GSA/USMetadata/b

[2020-12-21 17:30] chris-macdermaid opened #2574 "Release 2020-12-23"
## Release 12/23/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2020-12-21 20:29] jbrown-xentity opened #2575 "Inventory authentication extension"
## User Story

As an inventory developer, I want a well defined authentication extension so that authentication is well documented, can be changed, and the logic is isolated for inventory.

## Acceptance Criteria
- [x] GIVEN inventory web is running \
  and the ckanext-inventory_auth extension is enabled \
  WHEN an anonymous user requests any page other than a resource \
  THEN the user is redire

[2020-12-21 20:48] jbrown-xentity commented on #2314
Research is complete, new tickets created as necessary.

[2020-12-21 20:49] jbrown-xentity commented on #2551
Related to https://github.com/GSA/datagov-deploy/issues/2552, fix is the same.

[2020-12-22 15:31] jbrown-xentity commented on #2402
See PR, ready for review. Only thing we could not get working is automatic code reload, gunicorn --reload option does not work well with paster configuration of CKAN (has to do with `.ini` file having paths in it, well documented bug). Have workaround make command that gets typical docker-compose restart down from 1+ minute to ~7 seconds.

[2020-12-22 17:42] mogul commented on #2534
There are still some specific points to cover in Section 9, but I managed to get through all of section 10.7 yesterday.

[2020-12-22 18:02] mogul opened #2578 "Re-import repos with Dockerfile or Terraform content into Snyk"
## User Story

In order to ensure we know about stale dependencies and vulnerabilities in our infrastructure, the team wants any repo with a Dockerfile, docker-compose.yml, or .tf file to be reimported in Snyk.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_sp

[2020-12-23 16:28] datagov-bot opened #2580 "deploy-ci-platform #385 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] ce8c66df937c763ab64ea0fa61bd341e6db27b52 - redirect permanently 301

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/385/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/385/pipeline) (blue)

[2020-12-23 17:05] chris-macdermaid opened #2581 "Load spikes on catalog-next"
## How to reproduce

Around 4:30 UTC daily the load spikes on catalogweb[1,2]p and catalogbweb[1,2].

The load stays high for about an hour. During this spike hosts become unreachable. New Relic alerts on the load and unreachable server.

The load stays high for about an hour and then comes down. Most times the host is reachable after the spike, but sometimes the host is still unreachable even aft

[2020-12-23 17:18] adborden commented on #2580
Our permissions issue with pycsw again on catalog-harvester1tf. The supervisor config is correct, but looks like the handler never ran to pick up the changes. I updated supervisor manually with `supervisorctl reread && supervisorctl update`. I'll make sure this deploys successfully, run the pycsw-load job and make sure the python byte code is created with the right permissions before closing this

[2020-12-23 17:49] #2580 closed, assigned to adborden

[2020-12-23 17:59] FuhuXia opened #2582 "O+M -01/07/2021"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-12-23 18:01] adborden commented on #2580
✅  After running pycsw-load, `find /home/pycsw/releases -name __pycache__ -user root` yields no results.

[2020-12-23 18:04] #2182 closed, assigned to adborden, pjsharpe07

[2020-12-23 18:15] mogul commented on #2312
@pjsharpe07 can you link here to the upstream issue about making it possible to upgrade without this workaround?

[2020-12-23 18:20] pjsharpe07 commented on #2312
[link to current upstream issue](https://github.com/robertdebock/ansible-role-tomcat/issues/22)

[2020-12-23 18:21] mogul commented on #1433
Jason and I did go ahead and create/insert the management space diagram.

[2020-12-23 18:25] #1433 closed, assigned to mogul

[2020-12-23 18:25] #1883 closed, assigned to pjsharpe07

[2020-12-23 18:25] #2312 closed, assigned to pjsharpe07

[2020-12-23 18:25] #2505 closed, assigned to srinirei

[2020-12-23 18:34] #2314 closed, assigned to jbrown-xentity

[2020-12-23 18:34] #2472 closed, assigned to jbrown-xentity

[2020-12-23 18:34] #2511 closed, assigned to jbrown-xentity

[2020-12-23 18:34] #2551 closed, assigned to jbrown-xentity

[2020-12-23 18:34] #2552 closed, assigned to jbrown-xentity

[2020-12-23 18:49] #570 closed, assigned to FuhuXia

[2020-12-23 18:49] #2125 closed, assigned to FuhuXia

[2020-12-23 18:49] #2574 closed, assigned to FuhuXia

[2020-12-23 18:50] #2103 closed, assigned to adborden

[2020-12-23 18:51] #2555 closed, assigned to chris-macdermaid

[2020-12-23 21:13] mogul commented on #2496
While there's no fix upstream yet, we decided to investigate to determine whether we're actually vulnerable to this in the meantime.

[2020-12-23 21:44] mogul commented on #1031
We're picking this up for a bit because when we have login.gov integration, the MFA support will be enough to enable use of Jenkins to drive the FCS environment.

[2020-12-23 22:21] adborden opened #2583 "ckan-jsonl-export runs out of disk space"
Data.gov does a monthly export of metadata in JSONL format, available on the [catalog](https://catalog.data.gov/dataset/data-gov-ckan-api). The job writes files to /tmp/jsonl (hardcoded) which is part of the root fs (16GB). This is not enough space.

At some point, a 50GB EBS volume was created/mounted to `/newmount` on catalog-harvester2p. This is not part of our standard setup and jobs from 2017

[2020-12-28 17:51] adborden commented on #2082
Tests are running in CI [successfully](https://app.circleci.com/pipelines/github/GSA/pysaml2/73/workflows/ab2b618f-7e33-4144-9807-e39859a08384/jobs/76) and checks are enforced on protected branches.

[2020-12-28 17:51] #2082 closed, assigned to nobody

[2020-12-28 18:00] adborden commented on #565
Duplicate of https://github.com/GSA/datagov-deploy/issues/2583

[2020-12-28 18:00] #565 closed, assigned to nobody

[2020-12-28 18:30] FuhuXia commented on #2581
Reading from log, the downtime matches the requests `GET /datajson`
[code]

Endpoint `/data.json` is not supposed to open for a CKAN application with large amount of datasets.  Will create a ticket to disable this endpoint on catalog next.

[2020-12-28 19:20] adborden commented on #2583
Even with the 50G mount, the job runs out of space on compress. If we compress as we write to disk, this will save us space, but it looks like we're close to the limit anyway. In the cloud.gov world, we'll want to upload directly to S3 since we won't have the diskspace.

[code]

[2020-12-28 20:12] adborden opened #2586 "Drop fork of ckanext-saml2"
## User Story

In order to keep up-to-date with the latest features and security fixes while reducing maintenance burden, data.gov developers wants to drop the ckanext-saml2 fork.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a

[2020-12-28 20:37] adborden opened #2587 "[spike 1d]: Identify process for pulling reports for data managers"
## User Story

In order to understand how datasets are being consumed, data managers want some way to pull reports from data.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN a request for a monthly report \
  WHEN I look at the

[2020-12-28 20:49] adborden opened #2588 "Cannot update WordPress dependencies"
[code]

## How to reproduce

1. `make update`

## Expected behavior

Dependencies are updated.

## Actual behavior

composer fails because it cannot find one of the packages in the repo.

[code]

[2020-12-28 20:50] adborden commented on #2588
As a work-around I was able to specify a single package to update.

    $ docker-compose run --rm app composer update gsa/data.gov

[2020-12-28 23:37] datagov-bot opened #2589 "deploy-ci-platform #388 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/388/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/388/pipeline) (blue)

[2020-12-28 23:51] adborden commented on #2589
Error building the container:

[2020-12-29 04:27] #2589 closed, assigned to adborden

[2020-12-29 18:58] adborden commented on #2587
Wiki stub https://github.com/GSA/datagov-deploy/wiki/Dataset-metrics

[2020-12-29 22:34] adborden commented on #1031
https://jenkins-saml.sandbox.datagov.us is available and working with a manual configuration. I'm now polishing some PRs to automate this, although there are a few road bumps I can see:

**Ansible plugin install:** Once SAML is enabled, the admin user can no longer be used by Ansible to configure Jenkins. This really only has an effect on the plugins install, which are already installed. As a work

[2020-12-30 01:36] adborden commented on #811
- [x] Created RITM0799652 to re-provision mgmt jumpbox and jenkins

[2020-12-30 16:44] kmanaseryan commented on #2466
Current look:
https://www.loom.com/share/11b45b8cf4d04bc9a9243a5917e65edc

New changes:
https://www.loom.com/share/fca456910dd145e2b33d10419b669f40

There is one big white space left between "Date" and "Downloads & Resources" sections, but it looks we have some extra empty `<section></section>` element, which need to discuss with the team.

[2020-12-30 18:11] chris-macdermaid commented on #840
Additionally the USGS Ortho Collection is out of sync.  Ortho shows 353,284 datasets in Solr and 0 in the database.

https://admin-catalog.data.gov/harvest/usgs-high-resolution-orthoimagery-collection
![Screenshot from 2020-12-30 09-41-00](https://user-images.githubusercontent.com/64213093/103372604-a8efd200-4a8f-11eb-8fde-7468abecb3b2.png)

[2020-12-31 06:12] mogul opened #2594 "Configure AWS GuardDuty to watch the SSB AWS account(s)"
## User Story

In order to be aware of potential security threats in provisioned services, the team wants [AWS GuardDuty](https://aws.amazon.com/guardduty/) configured on the AWS account(s) used by the SSB, and [new findings to be sent to the team](https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_findings_cloudwatch.html).

## Acceptance Criteria
[ACs should be clearly demoable/verifiable

[2020-12-31 06:50] mogul commented on #1960
In the time since this was written, cloud.gov began supporting brokering of AWS Elasticsearch. This is probably the best way to get what we want for the centralized alerting at this point, rather than running a custom Monit process in the management space. We may still want a local Monit sidecar deployed alongside applications to watch container-internals for signs of compromise.

[2020-12-31 07:32] mogul commented on #2534
Completed section 10.8 today.

[2021-01-01 05:40] mogul commented on #2534
Completed section 10.9 today.

It's going to be a happy new year! 🥳

(Lots of issues were created along the way and we have a lot to do, but the compliance docs are done.)

[2021-01-04 16:07] FuhuXia opened #2597 "wp-bsp.data.gov is open to public"
wp-bsp.data.gov is supposed to be used internally as Origin server by CloudFront, not accessible by general public. But instead, it receives too much traffic.  88% of traffic in /var/log/nginx/error.log is targeted to wp-bsp.data.gov.
[code]

## How to reproduce

open wp-bsp.data.gov in browser.

## Expected behavior

see 404 page.

## Actual behavior

see same content as www.data.gov.

[2021-01-04 16:09] FuhuXia commented on #2597
We can follow [the fix](https://github.com/GSA/datagov-deploy/issues/1491) we did for catalog-bsp.data.gov

[2021-01-04 17:05] FuhuXia opened #2598 "Netsparker 2020-12-22 reports HSTS (Strict Transport Security) Errors and Warnings"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.v1yag4y1vkdu)._

**Date of report:** 2020-12-22
**Severity:** Medium
**Due date:** 2021-03-22

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been p

[2021-01-04 23:14] mogul opened #2601 "Document the CSW application in the data.gov SSP"

[2021-01-04 23:32] mogul commented on #1356
We are closing this epic and consolidating all "migrate to cloud.gov" work under https://github.com/gsa/datagov-deploy/issues/916

[2021-01-04 23:32] #1356 closed, assigned to nobody

[2021-01-04 23:34] mogul commented on #1354
We are closing this epic and consolidating all "migrate to cloud.gov" work under https://github.com/gsa/datagov-deploy/issues/916

[2021-01-04 23:34] #1354 closed, assigned to nobody

[2021-01-04 23:35] mogul commented on #1307
We are closing this epic and consolidating all "migrate to cloud.gov" work under https://github.com/gsa/datagov-deploy/issues/916

[2021-01-04 23:35] #1307 closed, assigned to nobody

[2021-01-04 23:35] mogul commented on #1353
We are closing this epic and consolidating all "migrate to cloud.gov" work under https://github.com/gsa/datagov-deploy/issues/916

[2021-01-04 23:35] #1353 closed, assigned to nobody

[2021-01-04 23:50] mogul opened #2602 "Get ATO for SSB"
## User Story

In order to enable production use of the data.gov apps on cloud.gov, we want an ATO from the TTS Tech Portfolio team.

### Acceptance Criteria
- [ ] We have an ATO letter from the TTS Tech Portfolio team approving our deployment of the SSB on cloud.gov.

## Details

This will involve undergoing scrutiny from the GSA OCISO via their Assessment and Authorization (A&A) process, then re

[2021-01-05 00:04] mogul opened #2603 "Deploy inventory application on cloud.gov"
## User Story

In order to reduce the operation and maintenance burden of inventory.data.gov, the data.gov team wants the inventory.data.gov application deployed on cloud.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] WHEN I commit

[2021-01-05 00:05] mogul opened #2604 "Deploy catalog application on cloud.gov"
## User Story

In order to reduce the operation and maintenance burden of catalog.data.gov, the data.gov team wants the catalog.data.gov application deployed on cloud.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] WHEN I commit a c

[2021-01-05 00:06] mogul opened #2605 "Deploy www app on cloud.gov"
## User Story

In order to reduce the operation and maintenance burden of `www.data.gov`, the data.gov team wants the `www.data.gov` application deployed on cloud.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] WHEN I commit a chang

[2021-01-05 00:07] mogul opened #2606 "Deploy dashboard app on cloud.gov"
## User Story

In order to reduce the operation and maintenance burden of `labs.data.gov/dashboard`, the data.gov team wants the `labs.data.gov/dashboard` application deployed on cloud.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x]

[2021-01-05 00:07] mogul opened #2607 "Deploy CSW app on cloud.gov"
## User Story

As a [user description], I want [behavior description] so that [goal].

[...or [alternatively](https://blog.crisp.se/2014/09/25/david-evans/as-a-i-want-so-that-considered-harmful)...]

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Be

[2021-01-05 01:34] adborden commented on #811
Pinged FCS on the open tickets.

[2021-01-05 02:13] adborden commented on #1031
I updated with wiki on [ansible vault password rotation](https://github.com/GSA/datagov-deploy/wiki/Keypair-Rotation) to include the saml-key.jks. Next time we rotate the password would be a good time to explore a script.

[2021-01-05 15:13] chris-macdermaid commented on #2575
Ran into this open CKAN issue:
Chained auth functions lose anonymous access
https://github.com/ckan/ckan/issues/5751

We can create a auth chain in the new extension for logged in users, but because of the open issue this won't work to allow anonymous users to see resources. There is an active open [PR](https://github.com/ckan/ckan/pull/5756) to fix this.

[2021-01-05 15:29] FuhuXia opened #2610 "Release 2021-01-07"
## Release 01/07/2021
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2021-01-06 19:49] datagov-bot opened #2614 "deploy-ci-platform build 398 failed"
Build '${JOB_NAME}' is failing.

Changes since last successful build:
${CHANGES_SINCE_LAST_SUCCESS, format="%c", changesFormat="- [%a] %r - %m\n"}

[View full output]($BUILD_URL) (classic)
[View full output]($JENKINS_URL/blue/organizations/jenkins/$PROJECT_NAME/detail/$PROJECT_NAME/$BUILD_NUMBER/pipeline) (blue)

[2021-01-06 20:28] pjsharpe07 commented on #2575
Remaining steps for this ticket:

- [x] Rename [current extension](https://github.com/GSA/inventory-app/tree/feature/ckanext-iauth/ckanext-datagov_iauthfunctions) to be `datagov_inventory` or something similar
- [x] Confirm all changes in [ckan's default auth](https://github.com/ckan/ckan/tree/2.8/ckan/logic/auth) behavior is what we want and make any remaining changes/edits
- [x] Create a custom

[2021-01-06 20:36] adborden commented on #2614
Fails on catalog-next deploy:
[code]

[2021-01-06 20:42] adborden commented on #2614
Probably a duplicate of https://github.com/GSA/datagov-ckan-multi/issues/545

[2021-01-07 16:40] jbrown-xentity opened #2619 "O+M 2021-01-21"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2021-01-07 17:06] pjsharpe07 commented on #2575
We should be wary about [the functionality of auth defaulting to an ip address if no user is found](https://github.com/ckan/ckan/blob/2.8/ckan/logic/auth/get.py#L263-L270). We haven't seen this in local testing yet (default is an empty string). Leaving this here as an artifact.

[2021-01-07 17:37] adborden opened #2620 "Geospatial harvesting support for GeoPlatform"
This is a placeholder. Need to chat with FGDC about next steps. Need to schedule recurring meeting with GeoPlatform.

## User Story

As a [user description], I want [behavior description] so that [goal].

[...or [alternatively](https://blog.crisp.se/2014/09/25/david-evans/as-a-i-want-so-that-considered-harmful)...]

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs sho

[2021-01-07 19:54] #2614 closed, assigned to nobody

[2021-01-07 21:43] datagov-bot opened #2626 "deploy-ci-platform #403 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [noreply] 57fbd3db84aa7af48389997a580203afc8e5a8eb - Update email for gsa

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/403/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/403/pipeline) (blue)

[2021-01-08 15:20] jbrown-xentity commented on #2626
Build failing on catalog-next, ckan-multi team is aware and is working on the problem.

[2021-01-08 16:37] pjsharpe07 commented on #2575
[Google Sheet](https://docs.google.com/spreadsheets/d/15klFAYtanNWoVww14I3wC5IT1Vjv65DjEamjrl8cIOU/edit#gid=0) for current state of site access for anonymous vs logged in user

[2021-01-08 16:39] #2262 closed, assigned to adborden

[2021-01-08 17:32] FuhuXia commented on #2220
App `inventory-next-sandbox` is deleted, app `inventory-next.sandbox.datagov.us` added, issuer and certificate kept same.

[2021-01-08 18:44] adborden commented on #2626
Ah, CSW on catalog-next isn't loading because we reset the database.

[code]

[2021-01-08 19:11] #2626 closed, assigned to adborden

[2021-01-08 19:43] FuhuXia commented on #2582
We have a burst of High CPU alerts from New Relic for catalog web hosts. Need to keep an eye on the future CPU alerts to find what is the cause behind them, and whether we need to add new Monit action for CPU usage.

[2021-01-08 20:04] adborden opened #2632 "Allow organization admins to make datasets CKAN public on inventory.data.gov"
## User Story

In order to use the package_search API on inventory.data.gov, data managers want to be able to make datasets public.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN I am an admin of an organization
  WHEN I browse to

[2021-01-09 01:00] adborden opened #2634 "CKAN service accounts for inventory.data.gov"
## User Story

In order to use the inventory.data.gov API with user-independent access control, data managers want  to create CKAN service accounts and manage their permissions.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a co

[2021-01-09 01:02] adborden opened #2635 "Document minimum required fields to create a dataset on inventory.data.gov"
## User Story

In order to use the inventory.data.gov API effectively, data managers want developer documentation detailing the minimum required fields for package_create and resource_create.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [

[2021-01-09 01:07] adborden commented on #2096
Department of Labor was running into this. Datasets are marked as public_access, but still with CKAN `private: true` and they were confused why they could not see datasets using package_search.

I think we will end up closing this. With CKAN 2.8, we then have `include_private` parameter for package_search, and we'll have a better model of access from https://github.com/GSA/datagov-deploy/issues/25

[2021-01-11 18:05] mogul commented on #2402
James is going to clean up the branch and then review with Aaron.

[2021-01-11 20:31] datagov-bot opened #2637 "deploy-ci-platform #414 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] 6e43a51aa2c238dfab56cd3d1e65f652130bec57 - set server_tokens off on role level

- [fxia] 56a5ac71d4298f0beed3ec45c9d0f6f73d5dfcc2 - update requirement tags

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/414/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/

[2021-01-11 20:33] #1031 closed, assigned to adborden

[2021-01-11 20:33] #2223 closed, assigned to adborden

[2021-01-11 20:33] #2496 closed, assigned to pjsharpe07

[2021-01-11 20:33] #2534 closed, assigned to mogul

[2021-01-11 20:33] #2581 closed, assigned to FuhuXia

[2021-01-11 20:33] #2582 closed, assigned to FuhuXia

[2021-01-11 20:33] #2610 closed, assigned to jbrown-xentity

[2021-01-11 21:27] #2637 closed, assigned to nobody

[2021-01-12 20:41] adborden opened #2643 "[research: 2d] Clarify Snyk exceptions in catalog-app"
In order to ensure we have accounted for vulnerabilities that affect us, an auditor would expect to review Snyk findings for the catalog-app and understand which vulns do not apply to our specific usage of CKAN 2.3.

## Acceptance Criteria
- [ ] For each of the following [Snyk exceptions](https://github.com/GSA/catalog-app/blob/master/.snyk) we explicitly indicate if the vulnerability does not aff

[2021-01-12 20:55] adborden opened #2644 "Snyk does not identify vulnerabilities in forks"
## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2021-01-13 01:31] adborden opened #2645 "Rate-limit heavy users"
## User Story

In order to deliver a consistent responsive experience for users, data.gov users want rate limiting applied to applications so that power users don't negatively impact the experience of other users.

## Acceptance Criteria

- [x] WHEN I make many requests against an application, up to the limit of X requests over Y seconds
  THEN I receive a 429 so that I know to throttle/back off

[2021-01-13 19:40] FuhuXia opened #2646 "Long inventory uploads should show feedback while in progress"
## User Story

In order to have confidence that inventory is working correctly, an agency inventory manager should see feedback about the state of their upload in progress.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN I am an in

[2021-01-13 22:08] mogul opened #2647 "[research: 3d] Identify options for generating a static site from CKAN"
## User Story

In order to hedge our bets against funding levels for our program's O&M, we want to spend up to three days investigating options for deploying a static site that would meet the requirements for publishing US Gov federal open data.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavi

[2021-01-14 17:43] FuhuXia commented on #2646
The **800KB/s** low speed only applies to **staging** Citrix VM environment. **Production** gives **4MB/s**,  still slower than **15MB/s** I got from **Sandbox**, but acceptable.  The resource upload failure reported by productions user appears to be cosmetic UI issue when dealing with large file upload.

[2021-01-14 21:39] mogul commented on #2646
@adborden indicated this may be a good issue for the ckan-multi team to take on.

[2021-01-14 22:11] adborden commented on #503
This was completed. datagov-deploy supports a branch variable that can be set per environment.

[2021-01-14 22:11] #503 closed, assigned to nobody

[2021-01-14 22:15] adborden commented on #2221
Duplicate of https://github.com/GSA/datagov-ckan-multi/issues/348

[2021-01-14 22:15] #2221 closed, assigned to nobody

[2021-01-14 22:16] #2228 closed, assigned to anuveyatsu

[2021-01-14 22:17] #2229 closed, assigned to kmanaseryan

[2021-01-14 22:19] adborden commented on #2337
This was completed as part of https://github.com/GSA/datagov-ckan-multi/issues/488

[2021-01-14 22:19] #2337 closed, assigned to nobody

[2021-01-14 23:13] adborden commented on #2526
Login.gov folks recommend using PIV card authentication. In practice, this means including `http://idmanagement.gov/ns/assurance/aal/3?hspd12=true` for the [Authentication Context Class Reference](https://developers.login.gov/oidc/#aal-values) in our SAML request.

[2021-01-14 23:13] adborden commented on #2526
@avdata99 can you take a look at this?

[2021-01-14 23:55] adborden commented on #2526
In case it's helpful, when we were using MAX.gov we had to [fork pysaml2](https://github.com/GSA/pysaml2/blob/8b605c824ff1d042e9040a9971c28f369197cac2/src/saml2/client_base.py#L240-L246). Hopefully 4.9.0 gives us a better way to do this.

[code]

[2021-01-15 01:55] adborden commented on #2620
Schedule a recurring meeting with GeoPlatform.gov

[2021-01-15 07:49] anuveyatsu commented on #2646
@FuhuXia @adborden thanks for reporting this. I believe we have the info message while uploading a file (see screenshot below). We do not have a spinner or progress bar indicating how much of a file has been uploaded.

<img width="1244" alt="Screen Shot 2021-01-15 at 13 47 50" src="https://user-images.githubusercontent.com/17809581/104696353-5a516180-5738-11eb-83e0-4e6d25012fba.png">

[2021-01-15 14:17] FuhuXia commented on #2646
We need a more pronounced UI element to tell user not to navigate away at this point otherwise upload will fail.

[2021-01-15 15:24] jbrown-xentity commented on #742
catalog-harvester2d alarming with no space left on /, again. Mitigation performed.

[2021-01-19 14:27] avdata99 commented on #2526
@adborden
If we want to have control over who is able to create CKAN users we can:

 - Work on saml2 extensibility: https://github.com/keitaroinc/ckanext-saml2auth/issues/13. Here we can drop user if they don't fit our requirements
 - We can propose to add a new setting like `ckanext.saml2auth.allow_users_from=gsa.gov,us.gov` to limit the email addresses that are able to create users

About this c

[2021-01-19 14:36] pjsharpe07 opened #2653 "Release 20210121"
## Release 01/21/2021
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2021-01-19 14:55] FuhuXia opened #2654 "Error downloading data.json file with data_quality value is "Yes""
When creating a new dataset, selecting Yes in the data quality field gives a value of string "Yes" to the field. It generates an error when user downloads the data.json file, therefore the dataset can't be published.

Error log when downloading the data.json.
[code]

[2021-01-19 15:17] pjsharpe07 opened #2655 ""Ensure core dumps are restricted" task consistently fails with sysctl error trying to apply IPv6 settings to disabled IPv6 subsystem"
The common playbook fails the first time it is run in our staging environment. The step is consistent at [gsa.ansible-os-ubuntu-16 : 1.5.1 | Ensure core dumps are restricted](https://github.com/GSA/ansible-os-ubuntu-16/blob/master/tasks/section1.yml#L159-L167). Error:

`"msg": Failed to reload sysctl...
No such file or directory sysctl: cannot stat /proc/sys/net/ipv6/cibf/default/accept_redirects:

[2021-01-19 15:47] FuhuXia commented on #2654
Per user request, manual edit of the DB field, updating the value from `'Yes'` to `true` for key of `data_quality` ,  eliminates the error and gets data.json downloaded.  It is a workaround not a fix.

[2021-01-20 17:03] FuhuXia opened #2659 "Analyze impact of inventory ckan api vulnerabilty"
Inventory access logs have been copied to a subfolder ./api-audit/ on each production inventory-web instances. The logs need to be analyzed to see the impact of a recently found API venerability. (see [slack discussion](https://gsa-tts.slack.com/archives/C2N85536E/p1611156117002000)) , and the impact to end users when this API is turned off.

To be specific:

- [x] What system info has been reveal

[2021-01-20 20:49] adborden opened #2660 "[research 0.5d] Determine Identity Assurance Level (IAL) for login.gov usage"
## User Story

In order to reduce the burden for agency users while meeting compliance requirements for identity management, data.gov PMO wants to understand what Identity Assurance Level to use within the SSP.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_sp

[2021-01-20 20:50] adborden commented on #2660
Not being familiar with the compliance requirements, I just want to capture this thought:

From a security perspective, I don't think there's a requirement for identity proofing (Identity Assurance Level) within data.gov applications. We do care about Authentication Assurance Level, though, AAL3+HSPD12, which requires PIV card to authenticate.

Taking Inventory as an example, we don't really care

[2021-01-20 21:09] adborden commented on #2526
@avdata99 I don't think matching the the email domain is the right way, that list could potentially be all government domains. I think really what we're after is PIV card authentication which requires us to set the Authentication Assurance Level via the `requested_authn_context` as you point out in pysaml2.

I think what this means:
- [ ] Add CKAN config for `ckanext.saml2auth.requested_authn_cont

[2021-01-20 21:22] adborden commented on #2526
... except that requested_authn_context should be passed into prepare_for_authenticate() as an object, it's not really a single string type. It might look similar to the old code from the max.gov fork:
[code]

[2021-01-20 21:26] adborden commented on #2660
The work to specify AAL3+HSPD12 for CKAN applications is https://github.com/GSA/datagov-deploy/issues/2526

[2021-01-20 23:19] adborden opened #2661 "Information disclosure in datastore_search_sql in Inventory"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.ggrdzkd36d3x)._

https://hackerone.com/reports/1079477

**Date of report:** 01/15/2021
**Severity:** Low
**Due date:** 04/15/2021

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate an

[2021-01-20 23:19] adborden commented on #2661
Some analysis is tracked in https://github.com/GSA/datagov-deploy/issues/2659

[2021-01-21 01:01] adborden commented on #2526
Sorry, I missed your question about how the context works... I'm not very familiar with SAML2, so it might be helpful to skim the [spec](https://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf) yourself. RequestedAuthnContext allows the Service Provider (catalog.data.gov) to make specific requests about the authentication context. In our case, we want login.gov to not only require a se

[2021-01-21 01:34] adborden commented on #811
DNS TXT record for DigiCert is in place.

[2021-01-21 01:36] adborden commented on #2646
Right, I think that given what we've seen from users, whatever messaging we have in place is not enough.

[2021-01-21 15:30] hkdctol commented on #2466
Reviewed and confirmed

[2021-01-21 17:51] FuhuXia commented on #2659
Analysis done on access logs of past 60 days.

No sensitive system info has been exposed to public yet. Some system info is exposed to Hackone developers. There are total 6 legit user quests using the API in question for the past 60 days.

Details in [Google Doc](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.ggrdzkd36d3x).

[2021-01-21 17:53] avdata99 opened #2664 "resource_search API is not available"
The `resource_search` API endpoint is been redirected to `package_search`
This [change](https://github.com/GSA/datagov-deploy/commit/b32de59301d5198e44e669b4eb03cb4fd8730be2) was made because this probably will increase the load of our servers

  - version: All CKAN versions
  - environment: All environments

## How to reproduce

Go to an URL like `http://catalog-next.data.gov/api/3/action/resourc

[2021-01-21 18:32] #1445 closed, assigned to FuhuXia

[2021-01-21 18:32] #2524 closed, assigned to adborden

[2021-01-21 18:32] #2597 closed, assigned to adborden

[2021-01-21 18:32] #2619 closed, assigned to jbrown-xentity

[2021-01-21 18:32] #2653 closed, assigned to pjsharpe07

[2021-01-21 18:32] #2659 closed, assigned to FuhuXia

[2021-01-21 18:32] #2402 closed, assigned to jbrown-xentity, pjsharpe07, chris-macdermaid

[2021-01-21 21:11] thejuliekramer commented on #1850
@adborden this is a PR so it does not display a broken link for either upload or link url - once this is merged I can upload  the images https://github.com/GSA/ckanext-datagovtheme/pull/81

[2021-01-21 21:13] jbrown-xentity commented on #2660
We should review the digital identity statement

[2021-01-21 21:32] jbrown-xentity commented on #2344
Need to split this into 4 tickets, to be handled separately: catalog, inventory, csw, and datapusher.

[2021-01-21 21:46] jbrown-xentity opened #2667 "Catalog Postgres DB upgrade to 9.6"
## User Story

Due Date: 2/16/2021

In order to have a compliant database, data.gov operators need to upgrade catalog Postgres 9.5 instances to 9.6 (EOL Nov 2021).

## Acceptance Criteria

- [ ] GIVEN the Postgres DB is connected to catalog app
  WHEN a user runs `SELECT version()` \
  THEN the version is reported as 9.6

## Background
[Previous upgrade](https://github.com/GSA/datagov-deploy/issue

[2021-01-21 21:48] jbrown-xentity opened #2668 "Inventory Postgres DB Upgrade to 9.6"
## User Story

Due Date: 2/16/2021

In order to have a compliant database, data.gov operators need to upgrade inventory Postgres 9.5 instances to 9.6 (EOL Nov 2021).

## Acceptance Criteria

- [ ] GIVEN the Postgres DB is connected to inventory app
  WHEN a user runs `SELECT version()` \
  THEN the version is reported as 9.6

## Background
[Previous upgrade](https://github.com/GSA/datagov-deploy/i

[2021-01-21 21:50] jbrown-xentity opened #2669 "CSW Postgres DB upgrade to 9.6"
## User Story

Due Date: 2/16/2021

In order to have a compliant database, data.gov operators need to upgrade csw Postgres 9.5 instances to 9.6 (EOL Nov 2021).

## Acceptance Criteria

- [ ] GIVEN the Postgres DB is connected to csw app
  WHEN a user runs `SELECT version()` \
  THEN the version is reported as 9.6

## Background
[Previous upgrade](https://github.com/GSA/datagov-deploy/issues/1548)

[2021-01-21 21:51] jbrown-xentity opened #2670 "Datastore Postgres DB upgrade to 9.6"
## User Story

Due Date: 2/16/2021

In order to have a compliant database, data.gov operators need to upgrade datastore Postgres 9.5 instances to 9.6 (EOL Nov 2021).

## Acceptance Criteria

- [ ] GIVEN the Postgres DB is connected to datastore app
  WHEN a user runs `SELECT version()` \
  THEN the version is reported as 9.6

## Background
[Previous upgrade](https://github.com/GSA/datagov-deploy/i

[2021-01-21 22:04] adborden commented on #2533
Need to re-groom about this being how to migrate the users and update #2220 to take that part out.

[2021-01-21 22:48] pjsharpe07 opened #2671 "O+M 2021/02/04"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2021-01-21 23:12] adborden commented on #2660
We've determined that IAL1 is correct for Data.gov. We've updated the Digital Identity Acceptance Statement and will submit it for review. I reached out to Login.gov to go forward with IAL1.

@mogul anything left to do on the cloud.gov side? I assume we're sharing the same DIAS document.

[2021-01-21 23:17] mogul commented on #2660
Since all the factors surrounding our implementation of login.gov are functionally the same after we move to cloud.gov, there are no changes to be made to IAL/AAL/FAL.

[2021-01-21 23:19] adborden commented on #2660
In that case, there are no follow up issues for implementation beyond what already exists. Moving this to Done.

[2021-01-21 23:40] adborden commented on #1128
Switched to the Feature template.

Just adding a note here that adding a CRM would bring PII back into the Data.gov system and might require us to reevaluate our Identity Assurance Level, and any relevant controls.

[2021-01-22 18:14] adborden opened #2673 "Promote production and staging login.gov applications out of sandbox"
## User Story

In order to provide production level SLAs and compliance, data.gov data managers want the login.gov application to be using the production environment instead of the identity sandbox.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications

[2021-01-22 19:15] adborden commented on #2526
I opened https://github.com/keitaroinc/ckanext-saml2auth/issues/24 upstream to get some feedback on implementation and suggest it be part of a plugin interface.

[2021-01-22 19:38] adborden opened #2674 "Create CKAN users ahead of SAML authentication"
## User Story

In order to better manage users and prevent the creation of unprivileged accounts, Data.gov PMO wants to create CKAN users and assign them to organizations ahead of time before the user logs in through SAML/Login.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_dev

[2021-01-22 19:43] adborden commented on #1850
@thejuliekramer when you upload an organization image, where is it stored?

[2021-01-22 21:55] adborden commented on #2271
I updated the ticket with a sketch. I don't think we want to use jobs here. I think that's more for the web process handing off long running jobs. This task is really about a scheduled task to clean out deleted datasets each day.

[2021-01-22 22:30] adborden commented on #2271
FYI, CKAN 2.3.5 also has the [purge command in CLI](https://github.com/GSA/ckan/blob/7ba0c3f0c508c8b9f511225ca2f22e98d9f693c0/ckan/lib/cli.py#L914).

[2021-01-23 01:07] adborden commented on #811
Have a call with SecOps on Monday to debug the firewall issue.

[2021-01-23 20:01] mogul commented on #2536
Pending [this PR](https://github.com/GSA/datagov-ssb/pull/15)

[2021-01-25 17:08] #2466 closed, assigned to hkdctol

[2021-01-25 22:48] adborden commented on #811
SecOps said that the subnet for the Jenkins instance (Prod-web) doesn't match the policy. I decided that the right thing to do was to move the Jenkins instance to the correct Mgmt-web subnet(s) (RITM0807026) instead of updating the Mgmt-web policy to point to Prod-web subnets.

I also opened a new FCR to allow SSH traffic from the Jenkins instance to all data.gov subnets (RITM0807030). Note that w

[2021-01-25 22:49] adborden commented on #811
GSA marked the site certificate ticket as resolved without including the fixed certificate, so I've also followed up on that.

[2021-01-26 17:44] osahon-okungbowa commented on #2654
@cmugisha this has been completed and deployed to sandbox today. I don't have access to this repo, so please move to QA.

[2021-01-26 17:51] FuhuXia commented on #2220
inventory-next is integrated with login.gov in **sandbox** and **staging** environment. **Production** is on hold due to pending [PIV card issue](https://github.com/GSA/datagov-deploy/issues/2526).

[2021-01-26 18:39] adborden commented on #2673
Pinged the login.gov thread.

[2021-01-26 20:52] thejuliekramer opened #2685 "Harvest Abort Job Command in Production Causes Harvester to Go Down"
## How to reproduce

Access catalogharvester1p.prod-ocsit.bsp.gsa.gov and use command `harvester job_abort` on a large sources like [usgs-lidar-point-cloud-las-harvest-source](https://catalog-next.data.gov/harvest/usgs-lidar-point-cloud-las-harvest-source)

## Expected behavior

It should abort the job and not cause server performance issues

## Actual behavior

It does not abort the job and cause

[2021-01-26 21:27] FuhuXia opened #2687 "New login.gov saml2 user session does not expire"
After user logs into inventory-next via login.gov, the sessions seems to stay valid forever until manually click logout button.

## How to reproduce

Log into inventory-next.sandbox.datagov.us. Keep it idle for 50 mins or longer, then refresh page.

## Expected behavior

User should be logged out.

## Actual behavior

User session is still alive.

## Sketch
The value for `beaker.session.timeout` o

[2021-01-26 21:32] adborden commented on #2687
Also double check the session timeout matches our documentation in the SSP.

[2021-01-26 21:44] adborden commented on #2685
Should this be reported upstream as well?

[2021-01-26 22:12] adborden commented on #1172
While not a CRM, we had a demo with [Touchpoints](https://touchpoints.digital.gov/) today and it looks like it will meet our needs for a contact form. A true CRM would help facilitate our responses and conversations with any inbound requests, but not essential if it helps us to get off of WordPress.

[2021-01-26 22:31] thejuliekramer commented on #2685
Upstream to CKAN?

[2021-01-26 22:33] adborden commented on #2685
Probably upstream to ckanext-harvest. It's not data.gov specific code that has the problem, it's the abort job doesn't handle large harvest sources. Am I understanding that right?

[2021-01-26 22:41] thejuliekramer commented on #2685
I think it does handle it but the job takes up  a lot of server capacity which we  didn't have before this change - do you think I should report that this job can cause  performance  issues?

[2021-01-26 23:32] adborden commented on #1172
Just got a clarification: Touchpoints supports notification emails, but it will require us to log into Touch points to see the request. In that way a true CRM would be a better option.

[2021-01-27 15:22] FuhuXia commented on #2654
The change is live on production.

[2021-01-27 17:28] adborden commented on #2654
Confirmed this is fixed on production.

[2021-01-27 17:35] thejuliekramer commented on #2685
@adborden I created this issue upstream https://github.com/ckan/ckanext-harvest/issues/430

[2021-01-27 19:32] adborden opened #2690 "Authorize letsencrypt.org as certificate authority for data.gov domains"
**Deadline: March 10, 2021**

## User Story

In order to allow Federalist/cloud.gov to issue certificates for data.gov domains/applications, data.gov team wants a CAA record created allowing Federalist/cloud.gov to do so.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Be

[2021-01-27 19:32] adborden commented on #811
DigiCert is now requiring a CAA record. I've opened RITM0807819 to create this. I also opened https://github.com/GSA/datagov-deploy/issues/2690 to remind us to do this when we move applications to cloud.gov. Currently their certificates are issued by letsencrypt.org.

[2021-01-27 19:41] adborden commented on #811
I also opened RITM0807835 to allow ACM to issue certificates for Federalist domains.

[2021-01-27 19:52] adborden opened #2691 "CAA records for Data.gov subdomains"
## User Story

In order to increase CAA specificity and our security posture using the principle of least privilege, data.gov team wants subdomains to publish their own CAA records.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] WHEN I

[2021-01-28 02:06] adborden opened #2692 "Require PIV card authentication for ci.data.gov"
## User Story

In order to meet our compliance requirements of mutlifactor auth, data.gov team wants ci to contain the necessary saml2 requirements to force PIV card usage from idp.

## Acceptance Criteria

- [ ] WHEN I got to ci.data.gov \
  THEN I'm redirected to login.gov \
  AND login.gov requires PIV and associated PIN

## Background

## Security Considerations ([required](https://nvd.nist.go

[2021-01-28 02:08] adborden opened #2693 "Require PIV card authentication for inventory.data.gov"
## User Story

In order to meet our compliance requirements of mutlifactor auth, data.gov team wants inventory to contain the necessary saml2 requirements to force PIV card usage from idp.

## Acceptance Criteria

- [ ] WHEN I go to inventory.data.gov \
  THEN I'm redirected to login.gov \
  AND login.gov requires PIV (and associated PIN) as the MFA method

## Background

https://developers.login.

[2021-01-28 20:00] chris-macdermaid opened #2695 "[Investigate 0.5] NOAA Harvest Duplicates Not Removed"
During the initial harvest of NOAA metadata a number of NOAA's WAFs contained duplicate records. These duplicates showed up in the logs as errors. NOAA has since clean out duplicate records.

After the NOAA clean up, subsequent harvests are still showing duplicate records.

The NOAA harvest sources are documented in this [spread sheet](https://docs.google.com/spreadsheets/d/1Afgx0nGPcsNu0-nIvhcQ3R

[2021-01-28 20:40] FuhuXia commented on #2458
Fixed on prod. Details in [Google Doc](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.2oxas95byze0). HTML-encoded some character so the [PHP function](https://github.com/GSA/project-open-data-dashboard/blob/master/application/helpers/api_helper.php#L417-L423) won't convert the text to hyperlinked html anchor.

[2021-01-28 20:49] chris-macdermaid commented on #768
Although it's technically correct to label it 19139, labeling it ISO Metadata is probably better long term.

Currently 19139-1 and 1939-2 implement the schema for the conceptional models in 19115-1 ans 19115-2. In the future the schema implementation for 19115-1 and 19115-2 will be in 19115-3 (current ISO standard/ under consideration by FGDC).  Note, the '-x' is the part number of the standard.

[2021-01-28 21:35] jbrown-xentity commented on #2692
Need to validate if whole team can/has PIV cards before implementing this.

[2021-01-28 22:10] jbrown-xentity commented on #2036
We expect this to be resolved by the new saml extension, but pending testing in prod/staging environment.

[2021-01-28 23:47] adborden opened #2696 "CI not deploying to sandbox"
CircleCI is triggering jobs on Jenkins, but Jenkins doesnt' know what to build.

[code]

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

## Sketch
[Notes or a checklist reflecting our understanding of the selected approach]

[2021-01-29 01:21] adborden commented on #2692
Branch here: https://github.com/GSA/datagov-deploy/tree/feature/jenkins-piv

[2021-01-29 15:21] FuhuXia opened #2699 "inventory-next datapusher error on Excel xlsx files"
Uploading an Excel XLSX file as a resource to inventory-next dataset generates an error in datapusher log. As a result, spreadsheet data cannot be viewed in Data Explorer.

## How to reproduce

Choose any XLSX file to upload to inventory-next.sandbox.datagov.us as dataset resource.

## Expected behavior

Data can be viewed in Data Explorer.

## Actual behavior

Data can NOT be viewed in Data Explo

[2021-01-29 15:54] FuhuXia opened #2700 "Datapusher ConnectionError for large speadsheet file"
Uploading a large spreadsheet file, such as [this one](https://inventory.data.gov/dataset/federal-hiring-assessments-and-selection-outcome-dataset/resource/e86fd987-e414-483a-a27c-9dfeb2a385eb) with `622381` rows, generates a `ConnectionError` in the datapusher log after certain amount of chunks saved. In the Data Explorer view, the record count is less than `622381`.

## How to reproduce

Upload

[2021-01-29 17:06] adborden opened #2701 "[timebox: 5d] Catalog load- and stress-testing in cloud.gov"
## User Story

In order to ensure sufficient capacity and performance for catalog, data.gov wants spend up to 5 days running load- and stress-testing activities on the deployment in cloud.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
-

[2021-01-29 17:40] chris-macdermaid commented on #2695
On catalog-next, I don't see the duplicate errors but do see a different error.

gov.noaa.nmfs.inport:63571 Validation Error: {'Name': 'That URL is already in use.'}

[2021-01-29 18:01] adborden opened #2702 "Login requests are redirected to /user/login instead of /user/saml2login"
When I browse to a URL that requires authorization, (maybe my session expired), I'm redirected to the /user/login page which is disabled. Instead I should be redirected to /user/saml2login where I can start the login process.

Related:
- https://github.com/GSA/datagov-deploy/issues/1249
- https://github.com/GSA/datagov-deploy/issues/1201

## How to reproduce

As a logged out user:
1. https://admin

[2021-01-29 19:15] adborden commented on #2583
Ah, this feature might exist upstream https://docs.ckan.org/en/2.8/maintaining/database-management.html#datasets-dump

[2021-01-29 19:23] FuhuXia commented on #2670
Sandbox Inventory: `Datastore` DBs are already on `9.6`.
Staging Inventory: `Datastore` DBs are `9.5.22`.
Production Inventory:  both `CKAN` and `Datatore` DBs are `9.5.22`.

Will go ahead to create BSP ticket to get staging Datastore DB upgrade to 9.6 first, then deal with Production DB.

[2021-01-29 22:17] hkdctol commented on #2526
Confirmed that on https://catalog-next-datagov.dev-ocsit.bsp.gsa.gov/ you can't log in with a nongov/no PIV card login account.

[2021-01-29 22:39] FuhuXia commented on #2670
REQ0582645 was submitted.

Steps proposed:

1. data.gov team stops db write activities.
2. FCS takes final snapshots.
3. FCS restores snapshot to new instance and have it upgraded to 9.6
4. data.gov team run ANALYZE psql command.
5. data.gov team runs anisble playbooks with new RDS instance variable.
6. data.gov team verifies datapusher is working.
7. FCS delete old 9.5 RDS instances.

[2021-01-29 23:23] datagov-bot opened #2703 "deploy-ci-platform #452 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] 504249888f76dd50c723e945c2044a8b4355f0f1 - [ci] tag datagov-deploy container based on branch

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/452/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/452/pi

[2021-01-29 23:31] adborden commented on #2703
Working on a bugfix...

[2021-01-30 02:03] adborden opened #2705 "Continuous deployment by branch for datagov-deploy in BSP"
## User Story

In order to deploy develop, release, and production branches with datagov-deploy, the Data.gov needs to support branch based builds in Jenkins for any platform deploys.

## Acceptance Criteria

- [ ] WHEN I push a release branch to GitHub for datagov-deploy
  AND it passes our continuous integration tests
  THEN Jenkins will use the release branch of datagov-deploy for the deploy

#

[2021-01-30 02:12] #2703 closed, assigned to adborden

[2021-01-30 02:24] datagov-bot opened #2706 "deploy-ci-platform #455 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] 1058c9258a18b284227d773eceb2ffa6ca8f9deb - fixup

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/455/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/455/pipeline) (blue)

[2021-02-01 16:03] #2706 closed, assigned to nobody

[2021-02-01 17:23] adborden opened #2708 "Remove docker from Jenkins"
## User Story

In order to minimize compliance burden and having to implement additional container security controls, data.gov wants to remove docker from Jenkins.

## Acceptance Criteria

- [ ] GIVEN a build is triggered on Jenkins \
  WHEN I inspect the build log
  THEN I see Jenkins artifacts used
  AND I don't see any usage of docker

## Background
Originally docker was used in sandbox as a si

[2021-02-01 23:28] adborden opened #2709 "[Task] review SSP for Jenkins details"
## User Story

In order to ensure our compliance documentation matches our implementation, data.gov team wants another pass over Jenkins documentation in the SSP.

## Acceptance Criteria
- [ ] WHEN I review the SSP
  AND search for "jenkins"
  THEN I see jenkins mentioned in the ports table
  AND control documentation related to deploying

## Background

## Security Considerations ([required](http

[2021-02-01 23:47] adborden opened #2710 "Nginx out-of-date for Jenkins"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 2020-02-01
**Severity:** High
**Due date:** N/A

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been performed and an issue has been l

[2021-02-02 00:03] adborden commented on #2710
Confirmed that every other host that's using nginx is also using the nginx Ansible role.

[2021-02-02 03:46] adborden commented on #2383
pycsw access logs are baked in with the ckan access logs. I pulled the last 30 days:
[code]

I shove this into a rough [script](https://gist.github.com/adborden/dea78eb69e344e7a892ef927b5f4c5b3) to normalize the request parameters.

Over the course of 30 days: 37168 requests from 2021-01-02 06:41:37 to 2021-02-01 06:49:05

I removed or filtered out:
- anything from an internal IP (netscaler healtc

[2021-02-02 15:53] FuhuXia commented on #2668
Sandbox and Staging Inventory CKAN DBs are on postgres 9.6.  Production are on 9.5.

**REQ0583047** open for request Production Postgres 9.5 -> 9.6 upgrade.

Same steps as mentioned on [Inventory Datastore upgrade](https://github.com/GSA/datagov-deploy/issues/2670#issuecomment-770087699).

[2021-02-02 16:00] chris-macdermaid opened #2712 "Release 2020-02-04"
## Release 02/04/2021
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [ ] Playbook run with no errors/expected errors in stag

[2021-02-02 18:04] chris-macdermaid commented on #2695
Reran the harvest for the NGDC MGG Passive Acoustic. This cleared the URL is already in use error. For this WAF catalog-classic had 586 duplicates. There are 0 in catalog-next.

catalog-next duplicates:
IOOS WAF  7
NGDC MGG Geology 1
NGDC MGG Sonar Water Column 3

[2021-02-02 18:24] pjsharpe07 opened #2713 "Regex DOS in several repos"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.8fxx1fe71o3h)._

**Date of report:** 02/02/2021
**Severity:** High
**Due date:**  03/02/2021

- [ ] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is

[2021-02-02 18:28] adborden commented on #2383
Chatted over this with the team, we'll begin plans for public outreach to speak with any CSW endpoint users and decommissioning the CSW endpoint. We'll put down any pycsw related work.

[2021-02-02 18:30] FuhuXia commented on #2669
Closing based the decommissioning CSW decision from https://github.com/GSA/datagov-deploy/issues/2383.

[2021-02-02 18:50] FuhuXia commented on #2667
Confirmed catalog-next are running on Postgres 9.6 with POSTGIS 2.3.7 in all environments. Catalog classic DB upgrade is on hold.

During the version check, Sandbox catalog-next shows postgis needs an update.
[code]
After a update command the results look clean.
[code]

Only done on sandbox. Staging and Production postgis are already up to date.

[2021-02-02 20:10] adborden opened #2714 "Bump CKAN apps to python 2.7.18"
## User Story

As a [user description], I want [behavior description] so that [goal].

[...or [alternatively](https://blog.crisp.se/2014/09/25/david-evans/as-a-i-want-so-that-considered-harmful)...]

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Be

[2021-02-02 20:22] adborden opened #2715 "Bump pysolr to 3.9.0+ in catalog-next"
## User Story

As a [user description], I want [behavior description] so that [goal].

[...or [alternatively](https://blog.crisp.se/2014/09/25/david-evans/as-a-i-want-so-that-considered-harmful)...]

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Be

[2021-02-02 20:26] adborden opened #2716 "Catalog database contention in read replicas"
Under load, seeing these errors:

... etc.

This appears to be replication contention while the main db is under (heavy?) write load. Disabling the harvesters resolves the error.

## How to reproduce

1. Queue up some heavy harvest sources.
2. Apply load to catalog

## Expected behavior

No errors in the logs

## Actual behavior

## Sketch
[Notes or a checklist reflecting our understanding of the

[2021-02-02 20:47] chris-macdermaid commented on #2712
No changes in sdg-indicators-usa
[us-data-federation PR](https://github.com/GSA/us-data-federation/pull/43)
[resources.data.gov](https://github.com/GSA/resources.data.gov/pull/297) is failing Snyk test. Opened ticket with Snyk support

[2021-02-02 22:47] FuhuXia commented on #2670
Verified new datastore DBs are working  on staging. The `ANALYZE` command took 45mins to finish on this 22GB DB.

Production datastore upgrade scheduled with FCS.

[2021-02-03 00:21] adborden commented on #1795
Confirmed this is resolved on catalogharvester1p.

[2021-02-03 01:20] adborden opened #2727 "HSTS not enabled"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.m1867uj8kgkj)._

[Netsparker report](https://drive.google.com/file/d/1zqKVd7OC3YOcUiQLLxkB3xSDZRcz1P7D/view?usp=sharing)

**Date of report:** 2021-02-02
**Severity:** Moderate
**Due date:** 2021-05-02

_Due date is based on severity and described in RA

[2021-02-03 01:24] adborden opened #2728 "Out-of-date jQuery"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.15ilwsndbxm8)._

[Netsparker report](https://drive.google.com/file/d/1zqKVd7OC3YOcUiQLLxkB3xSDZRcz1P7D/view?usp=sharing)

**Date of report:** 2021-02-02
**Severity:** Moderate
**Due date:** 2021-05-02

_Due date is based on severity and described in RA

[2021-02-03 01:27] adborden opened #2729 "Out-of-date YUI"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.j9oh9fec4nz1)._

[Netsparker report](https://drive.google.com/file/d/1zqKVd7OC3YOcUiQLLxkB3xSDZRcz1P7D/view?usp=sharing)

**Date of report:** 2021-02-02
**Severity:** Moderate
**Due date:** 2021-05-02

_Due date is based on severity and described in RA

[2021-02-03 01:30] adborden opened #2730 "Weak ciphers enabled"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.bs65tr7n03ch)._

[Netsparker report](https://drive.google.com/file/d/1zqKVd7OC3YOcUiQLLxkB3xSDZRcz1P7D/view?usp=sharing)

**Date of report:** 2021-02-02
**Severity:** Moderate
**Due date:** 2021-05-02

_Due date is based on severity and described in RA

[2021-02-03 02:06] adborden opened #2731 "Untrusted host certificate for Jenkins"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 2021-02-02
**Severity:** High
**Due date:** N/A

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been performed and an issue has been l

[2021-02-03 03:37] adborden opened #2733 "Automated deployment from git push"
## User Story

In order to get quick feedback from code and configuration changes, data.gov wants deploys triggered from CircleCI after a successful build.

## Acceptance Criteria

- [ ] GIVEN I merge a change to the `master`  branches
  WHEN the automated tests succeed
  THEN a deploy build is started in Jenkins.

## Background
[Any helpful contextual notes or links to artifacts/evidence, if need

[2021-02-03 04:36] datagov-bot opened #2734 "adborden-deploy-ci-app-catalog #2 failed"
Build 'adborden-deploy-ci-app-catalog' is failing.

Changes since last successful build:
- [adborden] 8ed4766b4ee85d47ad9d4bb087c3834ba9caed31 - skip

- [adborden] 67c3d3254903c8bfc4016a8121d89f63791526cd - skip

[View full output](https://ci.sandbox.datagov.us/job/adborden-deploy-ci-app-catalog/2/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/adborden-dep

[2021-02-03 05:24] datagov-bot opened #2735 "adborden-deploy-ci-platform #9 failed"
Build 'adborden-deploy-ci-platform' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/adborden-deploy-ci-platform/9/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/adborden-deploy-ci-platform/detail/adborden-deploy-ci-platform/9/pipeline) (blue)

[2021-02-03 05:33] #2735 closed, assigned to nobody

[2021-02-03 14:44] chris-macdermaid commented on #2712
[Inventory-next PR](https://github.com/GSA/inventory-app/pull/213)
[inventory-app PR](https://github.com/GSA/inventory-app/pull/211)

[2021-02-03 15:12] #2734 closed, assigned to nobody

[2021-02-03 20:03] mogul commented on #2594
Looks like this is already done centrally and can be knocked off our backlog!
![image](https://user-images.githubusercontent.com/47762/106802399-c6c4cf80-6617-11eb-8517-78e7b0cbe9f6.png)

[2021-02-04 01:22] adborden opened #2742 "Running supervisor processes are not restarted after deploy"
## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

## Sketch
Add a task to the catalog Ansible role to explicitly restart the catalog web service and the workers in supervisord

[2021-02-04 15:52] hkdctol commented on #1688
Reached out to CDO Council small agency committee, awaiting scheduling.

[2021-02-04 16:02] pjsharpe07 commented on #2655
We saw this for the first time during [the 2021-02-04](https://github.com/GSA/datagov-deploy/issues/2712) release in production

[2021-02-04 17:14] adborden opened #2743 "Announce the decommission of CSW service on data.gov blog"
## User Story

As Data.gov PMO, we want to announce through blog post that we are discontinuing CSW service on data.gov in order to inform any relevant users.

## Acceptance Criteria

- [x] GIVEN Data.gov PMO is planning on discontinuing the CSW service\
 THEN there is an announcement on data.gov blog with information on the discontinuation and effective date.

## Background
https://github.com/GSA

[2021-02-04 17:48] chris-macdermaid opened #2744 "NOAA harvest duplicates in catalog"
A number of NOAA harvests have duplicates. The number is much less than there was in catalog-classic. This is a follow on to
[Investigate NOAA Harvests Duplicates.](https://github.com/GSA/datagov-deploy/issues/2695)

catalog-next duplicates:
IOOS WAF 7
NGDC MGG Geology 1
NGDC MGG Sonar Water Column 3

## How to reproduce

1. Description of steps to reproduce the issue.

Review the harvest job repo

[2021-02-04 17:51] chris-macdermaid commented on #2695
Created new issue to look at duplicates in catalog-next.

https://github.com/GSA/datagov-deploy/issues/2744

[2021-02-04 20:47] #2383 closed, assigned to adborden

[2021-02-04 20:47] #2536 closed, assigned to mogul, srinirei

[2021-02-04 20:47] #2562 closed, assigned to FuhuXia

[2021-02-04 20:47] #2671 closed, assigned to pjsharpe07

[2021-02-04 20:47] #2695 closed, assigned to chris-macdermaid

[2021-02-04 20:47] #2696 closed, assigned to adborden

[2021-02-04 20:47] #2710 closed, assigned to adborden

[2021-02-04 20:47] #2458 closed, assigned to FuhuXia

[2021-02-04 20:47] #2660 closed, assigned to adborden

[2021-02-04 20:47] #2667 closed, assigned to FuhuXia

[2021-02-04 20:47] #2669 closed, assigned to FuhuXia

[2021-02-04 20:47] #2731 closed, assigned to adborden

[2021-02-04 21:05] mogul commented on #2673
@adborden will ping again today.

[2021-02-04 21:06] mogul commented on #1688
Now scheduled for February 11th, blocking until then.

[2021-02-04 21:14] mogul commented on #2575
@chris-macdermaid and @jbrown-xentity will be pairing through a review to get this one wrapped up.

[2021-02-04 21:30] mogul commented on #2601
Won't be necessary as we're decommissioning CSW

[2021-02-04 21:30] #2601 closed, assigned to nobody

[2021-02-04 21:30] mogul commented on #2607
Won't be necessary as we're decommissioning CSW

[2021-02-04 21:30] #2607 closed, assigned to nobody

[2021-02-04 21:37] mogul opened #2745 "Freeze BSP branches"
## User Story

In order to reduce the risk of making changes to mainline on our way to cloud.gov, the team wants datagov-deploy ansible playbooks to refer to the branches frozen for FCS.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GI

[2021-02-04 21:39] mogul opened #2746 "Document the fgdc2iso application in the data.gov SSP"
## User Story

In order to include the fgdc2iso application in the data.gov ATO, GSA A&A personnel want to read about the fgdc2iso application in the data.gov SSP.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN I open [the SSP for

[2021-02-04 22:27] adborden commented on #811
Pivoting a bit, focusing on an internal deployment at ci-datagov.mgmt-ocsit.bsp.gsa.gov.

I opened the final ticket with FCS to create an ALB for ci-datagov.mgmt-ocsit.bps.gsa.gov RITM0810496.

[2021-02-04 22:34] adborden commented on #2708
Parking this work on the [feature/jenkins-artifact branch](https://github.com/GSA/datagov-deploy/tree/feature/jenkins-artifact). There's also a branch on [catalog-app](https://github.com/GSA/catalog-app/tree/adborden/ci-test) to consume the artifact.

This is a bit tangled with [feature/jenkins-branch](https://github.com/GSA/datagov-deploy/tree/feature/jenkins-branch) and needs some heavy cleanup.

[2021-02-04 22:38] adborden commented on #2705
Parking this work on the [feature/jenkins-branch branch](https://github.com/GSA/datagov-deploy/tree/feature/jenkins-branch).

I started working on https://github.com/GSA/datagov-deploy/issues/2708 to drop docker, somewhat rolling this story into it.

After the conversation in sprint planning, I realized maybe we don't need this story at all, we can assume to build from only 1 branch (`master`/`mai

[2021-02-04 23:21] adborden opened #2749 "Search terms including a colon (:) result in no datasets"
I've been searching for NGDA Data.gov publication URLs using the Data.gov search feature and found an odd - at least odd to me - occurrence.

Basically - if the dataset title contains a colon (:) the dataset is not found. But if I remove the colon from the search text, the dataset is found. Screenshots below.

Search with the colon in the title -
![image](https://user-images.githubusercontent.com/

[2021-02-04 23:23] adborden commented on #2749
I'm not exactly sure what the expected behavior should be. Colon (:) is a special character in order to do faceted search, but it's not obvious how it works or why no results show up.

Here's an example of searching for colon in the title:

title:"sea levels online:"

https://catalog.data.gov/dataset?q=title%3A%22sea+levels+online%3A%22

So, for this bug we could:
- some kind of CKAN fix since thi

[2021-02-04 23:38] adborden opened #2751 "Change application session timeouts to 15 minutes to match SSP"
## User Story

In order to match our implementation with our compliance documentation, data.gov wants the session timeout updated for all applications to 15 minutes.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN a user is logged

[2021-02-05 03:36] FuhuXia commented on #2670
Production datastore DB upgraded to 9.6 successfully. The ANALYZE command took a few hours to finish on this 70GB DB.

[2021-02-05 03:40] FuhuXia commented on #2668
Inventory production DB upgraded to 9.6 and verified.

[2021-02-05 05:26] adborden opened #2754 "Document tag_string in Inventory.data.gov"
When I call package_create following CKAN docs, I get the error:

[code]

tag_string is added by USmetadata but undocumented.

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

## Sketch
[Notes or a checklist reflecting our understanding of the selected approach]

[2021-02-05 15:04] adborden commented on #2745
FYI, I added protected branch settings for these repos.

[2021-02-05 19:55] FuhuXia commented on #2533
Existing users (CKAN native or MAX.gov) can seamlessly get authenticated with login.gov after the new Inventory 2.8 integrated with login.gov. The extension `ckanext-saml2auth` is using email address found in the saml info passed from login.gov to query CKAN user table, the query is equivalent to
[code]
If multiple user entries found in the database, it picks the first one.  If the picked user is

[2021-02-05 20:05] chris-macdermaid opened #2757 "O+M 2021/02/18"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2021-02-05 20:20] FuhuXia opened #2758 "Prepare inventory user table for login.gov and ckanext-saml2auth"
In order to [authenticate existing inventory user with login.gov](https://github.com/GSA/datagov-deploy/issues/2533), we need to do some house clean work on the inventory user table.

- [x] Each valid email address should only appear once.
- [x] Each valid email address should be lower case.

## Sketch
- Use CKAN CLI or API to modify users, so the revision history and audit log is maintained, and

[2021-02-07 20:24] adborden opened #2760 "Replace csb-aws-postgresql with cloud.gov's aws-rds"
## User Story

In order to use a secure and low-latency postgresql service on cloud.gov, data.gov team wants to replace the csb-aws-postgresql broke with cloud.gov's aws-rds broker..

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] WHEN I

[2021-02-07 20:24] adborden commented on #2760
@mogul this is blocked by the cloud.gov work. Is there a GH issue to link to?

[2021-02-07 20:46] adborden commented on #2603
@jbrown-xentity I pushed up a [branch](https://github.com/GSA/inventory-app/pull/217), please review/merge.

**Current status:**

This is the most recent error on cloud.gov (inventory-james):

[code]

I suspect it's related to the cfstart script and how it parses the credentials out. It's possible the csb-aws-postgresql broker supplies the VCAP service witha different format than the `aws-rds` (cl

[2021-02-07 21:39] mogul commented on #2760
PR: https://github.com/cloud-gov/aws-broker/pull/143

[2021-02-07 21:41] mogul commented on #2760
Issue: https://github.com/cloud-gov/aws-broker/issues/142

[2021-02-08 17:09] jbrown-xentity commented on #2603
Hand-done deployment working as of now: https://inventory-james-courteous-topi-te.app.cloud.gov/dataset

Moving to checklist above...

[2021-02-08 17:29] #2654 closed, assigned to adborden

[2021-02-08 17:29] #2526 closed, assigned to hkdctol, avdata99, thejuliekramer

[2021-02-08 17:29] #2685 closed, assigned to adborden, thejuliekramer

[2021-02-08 17:29] #1795 closed, assigned to adborden

[2021-02-08 17:46] adborden opened #2764 "Jenkins not deploying to sandbox"
Jobs are going through on CircleCI but Jenkins isn't getting triggered.

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

## Sketch
[Notes or a checklist reflecting our understanding of the selected approach]

[2021-02-08 19:45] FuhuXia commented on #2220
This is complete. All inventory-next apps integrated with login.gov. PIV card verified on staging and production. Sandbox does not require PIV card.

[2021-02-08 20:49] adborden commented on #1556
I added an AC to remove human users from the production space as part of this. We need access to production to create services, but once this work is done, we can remove operator access to the production space:

[2021-02-08 22:16] datagov-bot opened #2767 "deploy-ci-platform #466 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [psharpe] 82843eeda9ab1d714c9657cfff6f100c3d489008 - initial fcs freeze commit

- [adborden] bbfb603f0984bb17e8a6a88be8a10fa2752080eb - [dashboard][wordpress] freeze branch for FCS

- [adborden] cb96060abffe2b115b6babb4208c74266940e308 - [pycsw] freeze branch for FCS

- [psharpe] b399f5f678b836cea1eef4fb61cbc21e9b2c12d5

[2021-02-08 22:24] FuhuXia commented on #1886
Blocked by [Inventory user table house cleaning](https://github.com/GSA/datagov-deploy/issues/2758) and [Inventory authentication extension](https://github.com/GSA/datagov-deploy/issues/2575).

[2021-02-08 22:39] adborden commented on #2701
Let's consider this as part of the cloud.gov work.

[2021-02-08 22:50] adborden opened #2768 "Application-independent way to backup/restore data services to/from S3 bucket"
## User Story

In order to enable recovery from major outages, as well as snapshotting from production to other environments, the data.gov team wants provisioned data-services to be dumped to S3 storage regularly, with a documented and tested path for restoration.

## Acceptance Criteria

- [ ] GIVEN I am viewing [the FY21 ISCP document](https://docs.google.com/document/d/1fZ6IF-sS7O0w4b5rFP0Ndngb

[2021-02-08 23:11] adborden commented on #2321
Adding that for cloud.gov we need a new email service anyway. This would cover more than just harvesting.

[2021-02-08 23:31] adborden commented on #2603
@jbrown-xentity it might be worth looking into ckanext-envvars sooner rather than later, because then we can stop writing the shim code in cfstart.sh.

[2021-02-09 00:16] adborden commented on #2767
[code]

[2021-02-09 00:25] pjsharpe07 commented on #2606
We have a current working version in `development`, `staging`, and `prod` spaces. Some items to still take on:

- [x] edit the readme.md to ensure accuracy
- [x] configure the manifest.yml file to use vars.yml
- [x] enable github actions
- [x] rename `master` branch to `main`

[2021-02-09 00:48] adborden opened #2770 "Update cryptography to >=3.4.x in datagov-deploy"
Just updated to cryptography 3.4.2 which was released today and running into this error on Jenkins. Not sure if this is a bug upstream as this is a recent release. Tried updating pip, setuptools, and wheel but this did not resolve the issue.

https://github.com/GSA/datagov-deploy/issues/2767

[code]

This does not effect my local environment or the jumpboxes (`pipenv sync` seems to work fine).

##

[2021-02-09 02:58] #2767 closed, assigned to adborden

[2021-02-09 03:57] adborden opened #2772 "Fix linting false positive in ckanext-datagov_inventory"
The linting check in inventory-app is not checking out the code, so no errors are detected.

https://app.circleci.com/pipelines/github/GSA/inventory-app/749/workflows/9430baa6-6e07-41cd-9893-c15ccd0acd3f/jobs/984

With code checked out:
https://github.com/GSA/inventory-app/runs/1860285840?check_suite_focus=true

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected beha

[2021-02-09 04:20] adborden commented on #2603
@jbrown-xentity I pushed up a branch for the GH action. Running into some issues deploying but it changes enough stuff that we probably want to merge or sync up on it.

One side-effect is that the inventory-james is now in a failed state as part of the rolling update. The new instance failed to start and is not rolled back automatically. I'm not familiar with the new CLI v7 `--strategy rolling` so

[2021-02-09 04:28] adborden commented on #2603
Ah, to rollback run `cf cancel-deployment inventory-james`. Make sure you have v7 of the CLI.

[2021-02-09 18:07] jbrown-xentity opened #2777 "CKAN cloud.gov uses login.gov saml service"
## User Story

As a CKAN user, I want login.gov enabled so that security is well maintained and utilizing 2factor authentication best practices.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN CKAN application is deployed in cloud.

[2021-02-09 21:47] adborden commented on #2772
@jbrown-xentity I think you fixed this on inventory_ckan_2.8 and main branches, right?

[2021-02-09 22:23] adborden opened #2778 "Use brokered, persistent Solr instead of an ephemeral app"
## User Story

In order to use a production-quality solr instance, data.gov team wants the docker solr shim app replaced with a CSB brokered solr service.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN I am logged into cloud.gov \

[2021-02-09 23:44] jbrown-xentity commented on #2772
This is fixed on main only, see [commit](https://github.com/GSA/inventory-app/pull/227/commits/d4d889fa2654fc2ebabe29ad0805bce33ccca346).

[2021-02-10 01:08] adborden commented on #2603
Deploying from GH actions:
- https://inventory-prod-datagov.app.cloud.gov/
- https://inventory-stage-datagov.app.cloud.gov/
- https://inventory-dev-datagov.app.cloud.gov/

[2021-02-10 02:33] adborden commented on #2604
@jbrown-xentity:
- Renamed the branch master -> main
- Added GH environments and ci-deployer keys for development, staging, and production.
- Deployed a new ssb that should create superusers for postgres, but it did not work and is now blocking any application bind which will break inventory too. Opened https://github.com/GSA/datagov-ssb/pull/24 to rollback.

Can you post the error you were runnin

[2021-02-10 12:53] jbrown-xentity commented on #2604
Created a medium instance through the csb, same issue (`cf create-service csb-aws-postgresql medium ${app_name}-db -c '{"postgres_version": "9.6", "publicly_accessible": true, "storage_encrypted": true}'`). Logs from the installation step are below. Will dig in more...

[code]

[2021-02-10 12:57] jbrown-xentity commented on #2604
[The docs seem pretty clear](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Appendix.PostgreSQL.CommonDBATasks.PostGIS.html), must be the super-user. Going to make sure username password are setup appropriately in the script...

[2021-02-10 13:36] jbrown-xentity commented on #2604
After further research, it seems like [the csb does not have superuser privileges](https://github.com/cloudfoundry-incubator/csb-brokerpak-aws/blob/main/terraform/rds/bind/postgresql/main.tf) ([terraform docs say superuser must be defined](https://registry.terraform.io/providers/cyrilgdn/postgresql/latest/docs/resources/postgresql_role)). Just not sure how to get around this... Trying the native c

[2021-02-10 13:59] jbrown-xentity commented on #2604
According to [recent CKAN community discussions](https://github.com/ckan/ckan/issues/5796#issuecomment-759932941), it might be possible to get around this by moving to sqlalchemy 1.2 and vdm 0.15. Testing...

[2021-02-10 14:36] jbrown-xentity commented on #2604
The original error with sqlalchemy 1.1 and postgres 12 is

[code]
Installed sqlachemy 1.2 and vdm 0.15 per discussions, and failed with the following error:
[code]

Tried getting around this by installing latest sqlalchemy 1.2 as [Queensland gov did on their fork of CKAN](https://github.com/qld-gov-au/ckan/commit/a7eeb6b9bf1df29fe231af1ffb419f16b0d299e6) without vdm change, and got error:
[code]
N

[2021-02-10 17:54] pjsharpe07 commented on #1299
I'm working through the hand-driven deployment and capturing some notes about the current state:

- [x] find a way to use the saxon-license.lic (currently stored in the ansible vault)
- [x] setup and configure internal routes correctly (manifest vs cf cli vs another method)

Thinking ahead for gh actions, currently pusher to `master` create and tag a new version of the war file. I doubt we want to

[2021-02-10 18:34] jbrown-xentity commented on #2603
@adborden per github create issues on deployment, do we want [this marketplace action](https://github.com/marketplace/actions/create-issue-action)?

[2021-02-10 18:41] mogul commented on #2603
Something like that... Aaron was concerned that we not get a _new_ issue for each failure on a branch, but rather that each failure posts on the same issue. This one doesn't have any docs indicating that it handles that case so we may want to look for another.

[2021-02-10 18:50] FuhuXia opened #2781 "New ckan user to be created with email address as display name"
After a new user logs into our catalog/inventory app, the display name is formatted as "`john.smith example.gov`". It looks like the `ckanext-saml2auth` extension grabs the email address `john.smith@example.org` and split it at the `@` char to generate the display name. The desired behavior is to using email address as display name.

## How to reproduce

New user logs into our catalog/inventory ap

[2021-02-10 22:17] jbrown-xentity commented on #2603
I've looked high and low, and cannot find an example other than custom code for this. I'll leave that for another ticket, unless someone can find a good candidate...

[2021-02-11 01:40] adborden commented on #2604
@jbrown-xentity the datagov-ssb service is updated with the role change. After a restart, the app was able to create the postgis extension successfully. This is the error I'm seeing now. It's possible this is specific to my scrap branch, so give it another push and take a look.

[code]

[2021-02-11 13:32] jbrown-xentity commented on #2604
Got a working version of catalog after working through some configuration issues... [PR is ready](https://github.com/GSA/catalog.data.gov/pull/235)! Will start from this point on a new PR for github actions and deploying to different environments...

[2021-02-11 16:54] adborden opened #2782 "Configure New Relic alerts for cloud.gov applications"
## User Story

In order to be alerted when the applications are not performing as expected, data.gov team wants each application to be configured with New Relic APM and alerts setup for important metrics.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specific

[2021-02-11 16:56] adborden opened #2783 "Inventory cannot create session, returns 500 for all pages"
This started after the introduction of [ckanext-envvars](https://github.com/GSA/inventory-app/pull/233). API works fine, so our smoke test didn't catch this.

[code]

and

[code]

It looks like maybe the URL passed to beaker is not coming from the environment (CKAN_SQLALCHEMY_URL). This should work, so I'm not sure what's going on here.
[code]

## How to reproduce

1. https://inventory-prod-datago

[2021-02-11 16:59] chris-macdermaid opened #2784 "Update Snyk from master to main"
## User Story

As a person in the O&M role, I want Snyk configured to show it is scanning the branch that will be deployed to production both in FCS and Cloud.gov.

![Screenshot from 2021-02-11 15-07-32](https://user-images.githubusercontent.com/64213093/107704753-05433580-6c7b-11eb-9b68-e014ceb1c63f.png)

## Acceptance Criteria

- [x] GIVEN [a repo's default/production branch] \
  WHEN [viewing t

[2021-02-11 17:03] adborden opened #2785 "ckanext-datagov-inventory not installed on Inventory in cloud.gov"
The buildpak  staging works fine, but when the application starts up, it complains that datagov_inventory plugin is not found.

https://github.com/GSA/datagov-deploy/issues/2603

## How to reproduce

1. Enable datagov_inventory by adding it to the list of plugins in production.ini
2. cf push $app_name --vars-file vars.yml

## Expected behavior

Application starts up, /datasets page is unavailable

[2021-02-11 17:04] adborden opened #2786 "Improve vendoring of dependencies for CKAN apps"
## User Story

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextual precondition] \
  [AND optionally another precondition] \
  WHEN [a triggering event] happens \
  THEN [

[2021-02-11 17:09] adborden opened #2787 "Deploy datapusher application on cloud.gov"
## User Story

In order to reduce the operation and maintenance burden of inventory.data.gov and datapusher, the data.gov team wants the datagov application deployed on cloud.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] WHEN I co

[2021-02-11 17:11] adborden commented on #2787
@mogul since datapusher is an internal application, what should it's sketch look like?

I think that datapusher will be a new repo with it's own requirements.txt and configuration. Does it need to be deployed with inventory or can it be deployed independently?

[2021-02-11 17:18] adborden opened #2788 "Migrate catalog to cloud.gov"
## User Story

In order to stop maintaining the FCS deployment, the data.gov team wants production service to be directed to our deployment on cloud.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

- [x] WHEN we visit catalog.data.gov in

[2021-02-11 17:22] adborden opened #2789 "Avoid logging sensitive service credentials"
Catalog and Inventory are using a cfstart.sh script that uses ckan config-tool to update the config. ckan config-tool ends up logging to stdout, so sensitive information is leaked into the logs.

## How to reproduce

1. cf restart $app_name
2. cf logs $app_name | grep SQLALCHEMY

## Expected behavior

No sensitive information appears from the application startup.

## Actual behavior

Database cred

[2021-02-11 17:25] adborden opened #2790 "Configure CKAN application's Google Analytics and DAP through the environment"
## User Story

In order to easily configure Google Analytics between environments, data.gov developers to configure GA through environment variable.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextual precondition] \
  [A

[2021-02-11 18:00] adborden commented on #2603
I opened issues about vendoring and am currently focused on fixing [the ckanext-datagov-inventory](https://github.com/GSA/datagov-deploy/issues/2785) issue. I'm un-assigning myself from this one.

[2021-02-11 19:45] jbrown-xentity opened #2791 "Publish catalog docker image using GitHub Actions"
Need to replace the [circle-ci jobs for publishing docker images](https://github.com/GSA/catalog.data.gov/blob/main/.circleci/config.yml) with the new [github actions](https://github.com/GSA/catalog.data.gov/pull/240).

The docker images are being saved, but the docker hub credentials will need to be added as github secrets.
## How to reproduce

1. Merge a PR into master

## Expected behavior

Git

[2021-02-11 20:35] adborden commented on #2791
FYI, we also want to make sure to tag the docker image correctly. FCS is currently pushing images with the `latest` tag.

[2021-02-11 21:17] mogul commented on #2787
Definitely deploy independently, and it sounds like it can live on the `app.internal` domain as well.

[2021-02-11 21:20] mogul commented on #2699
Choosing to icebox for now because it need not block launch of inventory 2.8, and affects only a subset of users (at GSA).

[2021-02-11 21:28] mogul commented on #2715
We were hoping this was a minor bump, but it's more involved. Iceboxing for now.

[2021-02-11 21:29] mogul commented on #2716
Not a problem in the cloud.gov environment due to lack of read-replicas there.

[2021-02-11 21:43] mogul commented on #2770
We're pinned to an older version for now, as a workaround.

[2021-02-11 21:45] mogul commented on #2781
Icebox'ing due to the slow growth in new users and solely-cosmetic nature of the problem.

[2021-02-11 21:55] hkdctol commented on #1688
Marking this as done as as overview happened with small agency working group under CDO. No recording because it was the CDO Council's meeting. Will create a separate issue later about creating a recording that can be posted.

[2021-02-11 21:57] mogul opened #2792 "Use GitHub Container Registry for publishing/consuming self-published Docker images"
## User Story

In order to reduce compliance overhead, the team wants to publish Docker images to GitHub Container Registry, and consume them using an authenticated account.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contex

[2021-02-11 22:39] datagov-bot opened #2793 "TESTING inventory-deploy failure"
THIS IS A TEST

[2021-02-11 22:48] adborden commented on #2783
Note that the behavior is different in incognito window, so this might be related to existing sessions? In an incognito window / fails but /dataset and /organization seem to load correctly.

In my browser, / /dataset and /organization all result in an error.

@jbrown-xentity you didn't add the beaker secret, yet, did you?

[2021-02-11 23:07] adborden opened #2794 "ckanext-datajson cannot find schema files"
Related to https://github.com/GSA/datagov-deploy/issues/2786

[code]

## How to reproduce

1. Update requirements.txt, remove `-e` the editable flag from ckanext-datajson
2. Vendor and push the application

## Expected behavior

catalog can find the requested schema file.

## Actual behavior

ERR IOError: [Errno 2] No such file or directory: '/home/vcap/deps/0/python/lib/python2.7/site-packages/ck

[2021-02-11 23:30] adborden commented on #2786
Most of our vendoring issues come from the fact we're using the `-e` editable flag in our requirements.txt:

[code]

[2021-02-12 00:05] adborden commented on #2673
We met with Login.gov folks on Tuesday, a small issue with the IAA is being resolved.

[2021-02-12 00:38] adborden opened #2795 "Cleanup CKAN start script by incorporating py-cfenv as an extension"
## User Story

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextual precondition] \
  [AND optionally another precondition] \
  WHEN [a triggering event] happens \
  THEN [

[2021-02-12 00:39] adborden commented on #2795
It's not much code, it might be easy enough to incorporate into ckanext-datagov-inventory and ckanext-datagov-catalog 🤷

[2021-02-12 01:19] adborden opened #2796 "Inventory forbidden page links to wrong login link"
The new inventory Forbidden page is linking to /user/login when it should link to /user/saml2login

![Screen Shot 2021-02-11 at 5 16 50 PM](https://user-images.githubusercontent.com/509703/107719379-f36a8e00-6c8c-11eb-996a-9c30230512cf.png)

## How to reproduce

1. https://inventory-next.sandbox.datagov.us/dataset
2. Click "Log in" in the body

## Expected behavior

Links to /user/saml2login and t

[2021-02-12 04:31] datagov-bot opened #2797 "Deploy error on {context.repo.name}"
The deployment failed, please review the [logs]({context.repo.url}/runs/{context.runId})

[2021-02-12 04:36] datagov-bot opened #2798 "Deploy error on undefined"
The deployment failed, please review the [logs](undefined/runs/559994478)

[2021-02-12 04:39] datagov-bot opened #2799 "Deploy error on inventory-app"
The deployment failed, please review the [logs](https://github.com/GSA/inventory-app/actions/runs/559999636)

[2021-02-12 04:42] jbrown-xentity commented on #2797
Tests, closing

[2021-02-12 04:42] #2797 closed, assigned to nobody

[2021-02-12 04:42] #2793 closed, assigned to nobody

[2021-02-12 04:43] #2798 closed, assigned to nobody

[2021-02-12 04:46] datagov-bot opened #2800 "Deploy error on inventory-app"
The deployment failed, please review the [logs](https://github.com/GSA/inventory-app/runs/559999636)

[2021-02-12 05:34] #2800 closed, assigned to nobody

[2021-02-12 05:44] jbrown-xentity commented on #2799
This is the working version. Closing and making a PR...

[2021-02-12 05:44] #2799 closed, assigned to nobody

[2021-02-12 06:21] jbrown-xentity commented on #2603
This is a weird one. Wanted to make sure I used a unique value for `ckan_instance_uuid`, and can't find any documentation on it anywhere... Not [in CKAN code](https://github.com/ckan/ckan/search?q=ckan_instance_uuid), not [in CKAN docs](https://docs.ckan.org/en/2.8/search.html?q=ckan_instance_uuid&check_keywords=yes&area=default), [google even failed me](https://www.google.com/search?rlz=1C1CHBF_e

[2021-02-12 07:19] jbrown-xentity commented on #2783
I did not, still pending

[2021-02-12 16:05] pjsharpe07 commented on #1299
Current issues trying to resolve/mitigate for hand-driven deployment:

- [x] our current method for creating the saxon-license (push json to a cups secret then grab json and write to file via .profile) causes encoding errors
- [x] unable to use the temporary directory to read the saxon-license. Any environment variables created in the .profile don't seem to persist

[2021-02-12 16:28] chris-macdermaid opened #2801 "Command Injection"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 12/13/2020
**Severity:** Medium
**Due date:** 5/13/2021

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue ha

[2021-02-12 17:04] #2801 closed, assigned to nobody

[2021-02-12 17:16] chris-macdermaid opened #2802 "Regular Expression Denial of Service (ReDoS)"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 1/12/2021
**Severity:** Medium
**Due date:** 4/12/2021

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has

[2021-02-12 17:34] adborden opened #2803 "Investigate why CSW dataset URLs are not always expected canonical URLs from the title"
URL: https://catalog.data.gov/dataset/large-scale-international-boundaries-lsib1
Title: Large Scale International Boundaries (LSIB)
Harvest source: https://catalog.data.gov/harvest/3527fbdb-543e-447d-b062-54ef7c90041c (CSW)
Updated:  January 26, 2021
Expected URL: https://catalog.data.gov/dataset/large-scale-international-boundaries-lsib

Investigate why this source was harvested with the wrong UR

[2021-02-12 17:36] chris-macdermaid opened #2804 "Improper Certificate Validation"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 1/12/2021
**Severity:** Meduim
**Due date:** 4/12/2021

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has

[2021-02-12 17:37] adborden opened #2805 "Investigate why DCAT-US dataset URLs are not always expected canonical URLs from the title"
URL: https://catalog.data.gov/dataset/fs-national-forests-dataset-us-forest-service-proclaimed-forests-5e685
Title: FS National Forests Dataset (US Forest Service Proclaimed Forests)
Harvest source: https://catalog.data.gov/harvest/d3fafa34-0cb9-48f1-ab1d-5b5fdc783806 (DCAT-US data.json)
Updated:  February 10, 2021
Expected URL: https://catalog.data.gov/dataset/fs-national-forests-dataset-us-fores

[2021-02-12 17:39] adborden opened #2806 "Investigate why CKAN-CKAN dataset URLs are not always expected canonical URLs from the title"
URL: https://catalog.data.gov/dataset/federal-outer-continental-shelf-ocs-sand-and-gravel-borrow-areas-lease-areas1f933
Title: Federal Outer Continental Shelf (OCS) Sand and Gravel Borrow Areas (Lease Areas)
Harvest source: https://catalog.data.gov/harvest/3a60d81e-ede6-416f-b7f9-7b3298ef2115 (CKAN)
Updated:  December 4, 2020
Expected URL: https://catalog.data.gov/dataset/federal-outer-continental

[2021-02-12 17:46] chris-macdermaid opened #2807 "Out-of-Bounds"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 1/14/2021
**Severity:** High
**Due date:** 3/14/2021

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has b

[2021-02-12 18:01] chris-macdermaid opened #2808 "NULL Pointer Dereference"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 11/25/2021
**Severity:** Medium
**Due date:** 3/14/2021

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue ha

[2021-02-12 18:02] adborden commented on #2760
I confirmed with Inventory that we can create a Postgres 11 db and the app successfully starts up.

    $ cf create-service aws-rds small-psql ${app_name}-db -c '{"version": 11}'

[2021-02-12 20:07] jbrown-xentity opened #2809 "Add login.gov saml2auth for catalog in cloud.gov"
## User Story

As a catalog admin, I want login to be secured by a compliant service (like cloud.gov) so that we are in compliance.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN catalog is deployed in the cloud.gov prod space \

[2021-02-12 20:19] jbrown-xentity opened #2810 "catalog harvester process runs in cloud.gov"
## User Story

As a catalog admin, I want a harvester in cloud.gov so that data can be updated.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN a catalog web application is running in cloud.gov environment \
  WHEN a harvest reques

[2021-02-12 21:17] adborden opened #2811 "Google dataset indexing reports errors"
## User Story

As a [user description], I want [behavior description] so that [goal].

[...or [alternatively](https://blog.crisp.se/2014/09/25/david-evans/as-a-i-want-so-that-considered-harmful)...]

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Be

[2021-02-12 21:18] adborden opened #2812 "Serve sitemap from catalog.data.gov"
## User Story

As a [user description], I want [behavior description] so that [goal].

[...or [alternatively](https://blog.crisp.se/2014/09/25/david-evans/as-a-i-want-so-that-considered-harmful)...]

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Be

[2021-02-12 21:23] adborden opened #2813 "Catalog sitemap pages are too large for Google"
![Screen Shot 2021-02-12 at 1 22 06 PM](https://user-images.githubusercontent.com/509703/107823852-56affb00-6d35-11eb-894f-89d3369cface.png)

sitemap-1.xml was 8.4M and 200,000 lines, 50,000 URLs. Maybe we need to make them a bit smaller.

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

## Sketch
[Notes or a checklist reflecting our u

[2021-02-12 21:27] mogul opened #2814 "Configure monitoring and alerting for cloud.gov app logs and metrics"
## User Story

In order to meet the monitoring and alerting needs for data.gov applications running in cloud.gov, the data.gov team wants to monitor logs and telemetry from cloud.gov apps and alert when suspicious conditions arise.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_deve

[2021-02-12 21:30] mogul opened #2815 "Enable DNSSEC validation of the ssb domains"
## User Story

In order to meet the requirements of NIST SC-20(a), DNS entries for ssb domains should be configured for DNSSEC validation.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] WHEN I visit these URLs: \
  - https://dnssec-anal

[2021-02-12 22:20] adborden commented on #2603
I don't know what it's used for, but I'm pretty sure it's a guid generated
by make-config:

    $ paster make-config ckan /etc/ckan/default/development.ini

    $ uuidgen
    1fd6df01-c431-48da-afc2-952473ee4d94

On Thu, Feb 11, 2021 at 10:21 PM James Brown <notifications@github.com>
wrote:

--
Aaron D Borden
Lead Engineer | IT Specialist
TTS | Data.gov <https://www.data.gov>

[2021-02-12 22:40] adborden opened #2816 "Publisher type ahead only checks from start of the Publisher name"
## How to reproduce

1.  I browse to DOL new entry form
2. In the Publisher field, type "financial"

## Expected behavior

I see a list of publishers, including "Office of the Chief Finanical Officer"

## Actual behavior

I see no list of publishers.

## Sketch
[Notes or a checklist reflecting our understanding of the selected approach]

[2021-02-12 22:42] adborden opened #2817 "Publisher field makes a request to organization_show API on every keypress"
## How to reproduce

1. Browse to DOL new dataset form
2. Open chrome network debug tool
3. Type "office"

## Expected behavior

I see one request to organization_show (at page load time or on the first keypress)

## Actual behavior

I see many requests to organization_show, one for every keypress.

## Sketch
[Notes or a checklist reflecting our understanding of the selected approach]

[2021-02-13 00:33] pjsharpe07 commented on #1299
Some tentative next steps beyond what's missing in the sketch:

- [x] add `process` to manifest.yml. Currently runs both a `web` and `task`. Task doesn't seem to be utilized
- [x] further refine manifest.yml (disk space, memory, etc).
- [x] make and utilize a temporary directory for saxon license or create new issue

[2021-02-13 02:45] chris-macdermaid opened #2818 "Uncontrolled Recursion"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 1/8/2020
**Severity:** Medium
**Due date:** 5/13/2021

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has

[2021-02-13 02:50] chris-macdermaid opened #2819 "Denial of Service (DoS)"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 1/8/2020
**Severity:** Medium
**Due date:** 5/14/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has

[2021-02-13 04:06] datagov-bot opened #2821 "deploy-ci-platform #473 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [noreply] cfd48e4be32377659da7428fc3e6131b4154fe28 - Bump cryptography from 3.3.2 to 3.4.4

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/473/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/473/pipeline) (blue

[2021-02-13 21:09] #2821 closed, assigned to nobody

[2021-02-16 16:03] thejuliekramer commented on #2702
@adborden this is the code that is causing this behavior https://github.com/keitaroinc/ckanext-saml2auth/blob/main/ckanext/saml2auth/views/saml2auth.py#L197

We are using an upstream version of saml2auth - do we want to fork it instead and change this behavior?  Or suggest a change upstream?

[2021-02-16 16:13] FuhuXia commented on #2702
@thejuliekramer Anything different in the way we configure saml2auth in catalog and inventory? inventory is using upstream version but has no such issue.

[2021-02-16 17:03] thejuliekramer commented on #2702
@FuhuXia from looking at datagov deploy the configuration looks the same to me - are you testing the use case Aaron is saying? Where does it redirect to when you try to access a restricted page?

[2021-02-16 17:31] FuhuXia commented on #2702
@thejuliekramer
I see. Inventory has no similar use case to test. Inventory redirects unauthorized user at apache level, not at ckan level. I think we are seeing a bug from upstream and should be raised at upstream. Another thing I noticed is that the redirect behavior is not consistent. `/harvest/restore-the-gulf-csw-harvest-source/job/last` redirects you to the login page, but `/organization/new

[2021-02-16 17:36] adborden commented on #2702
@FuhuXia I can reproduce this in inventory-next staging.

1. As a logged out user, browse to https://inventory-next-datagov.dev-ocsit.bsp.gsa.gov/organization/edit/aphis-usda-gov

![Screen Shot 2021-02-16 at 9 32 46 AM](https://user-images.githubusercontent.com/509703/108099978-28cefd00-703a-11eb-963b-7d01758fe89b.png)

You should be redirected to login.

[2021-02-16 17:39] adborden commented on #2702
@thejuliekramer I think this needs to be a fix upstream. One way to fix is to change that view function to redirect to the login controller, but I think the better fix is to replace the login controller with the saml2login controller when default login is disabled.

[2021-02-16 17:43] adborden commented on #2702
@FuhuXia ah, nevermind, I see what you mean. The behavior is slightly different in inventory, but it is still a bug.

[2021-02-16 17:51] FuhuXia commented on #2702
@adborden FYI, in vanilla CKAN 2.8 installation, unauthorized access to `/organization/edit/aphis-usda-gov` sees a 403 error message, not getting redirected.

[2021-02-16 18:03] adborden commented on #2702
@FuhuXia let's open a bug upstream for that. I think that should redirect to the login controller.

[2021-02-16 18:06] thejuliekramer commented on #2702
@adborden Is reporting the upstream bug in CKAN all that is needed or do we  want to request an upstream change to ckanext-saml2auth  as well?

[2021-02-16 18:17] adborden commented on #2702
@thejuliekramer There are two different issues, both are upstream. CKAN should redirect to login controller instead of 403 for some pages that don't already rediect.

ckanext-saml2auth needs to redirect to the saml controller when the default login is disabled and ckan is trying to redirect to the login controller.

[2021-02-16 19:07] adborden opened #2823 "Add netlify admin to static sites"
## User Story

As a [user description], I want [behavior description] so that [goal].

[...or [alternatively](https://blog.crisp.se/2014/09/25/david-evans/as-a-i-want-so-that-considered-harmful)...]

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Be

[2021-02-16 19:32] adborden opened #2824 "Disable pages that display public information on Inventory"
## User Story

In order to reduce the number of false positive reports of information disclosure from security researchers, data.gov wants to disable pages that display public information on Inventory.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specificati

[2021-02-16 19:38] FuhuXia commented on #2823
It seems everyone need to be a Federalist user.

Error when try to login:

[2021-02-16 19:49] adborden commented on #2823
@FuhuXia can you try this URL? https://resources.data.gov/admin/#/

[2021-02-16 19:54] adborden commented on #2823
Ah, yes, I see the configuration [here](https://github.com/GSA/resources.data.gov/blob/b28a9f39c06d41e7be9a974dc0029be13ce4600a/pages/admin/config.yml#L1). I'll add a note about adding partners to Federalist.

[2021-02-16 20:24] thejuliekramer commented on #2702
If I change to [redirect](https://github.com/keitaroinc/ckanext-saml2auth/blob/main/ckanext/saml2auth/views/saml2auth.py#L212) to the saml2login() instead of a 403 do you think it seems like I am changing the behavior they purposefully added? They are checking if the default login is enabled and if it isn't they are always throwing this 403 error for `user/login`. Should I suggest they not throw t

[2021-02-16 20:56] adborden commented on #2702
It's really up to upstream. This came up in conversation earlier since the
concept of disabling default login was our use case, but the use case is
not to _disable_ default login but _replace_ it. If we could override the
user.login controller with the saml one, we wouldn't have a bug here.

On Tue, Feb 16, 2021, 12:25 PM Julie Kramer <notifications@github.com>
wrote:

[2021-02-16 21:10] thejuliekramer commented on #2702
Ok I will open up an issue  to address this and see what they say

[2021-02-16 21:24] thejuliekramer commented on #2702
@adborden https://github.com/keitaroinc/ckanext-saml2auth/issues/33 does  this sound like what you are thinking?

[2021-02-16 21:31] adborden commented on #2702
Sounds fine.

[2021-02-16 21:45] adborden opened #2825 "Re-enable harvest workers on catalog.data.gov"
## User Story

In order to keep up with changes in agencies' inventories, data.gov team want the harvesters running on catalog.data.gov.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextual precondition] \
  [AND optionall

[2021-02-16 23:28] adborden opened #2826 "Disable Server header in gunicorn"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 2020-02-16
**Severity:** Low
**Due date:** 2020-05-16

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has

[2021-02-16 23:33] jbrown-xentity opened #2827 "Notify data.gov team when deploy fails"
## User Story

As a data.gov developer, I want to be notified via a github issue when a deployment for an application fails so that the whole team is notified and we can triage quickly.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIV

[2021-02-17 01:46] chris-macdermaid opened #2828 "Hash Collision"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:**  1/4/2021
**Severity:** Medium
**Due date:** 5/18/2021

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has

[2021-02-17 13:44] FuhuXia opened #2830 "Release 2021-02-18"
## Release 02/18/2021
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [ ] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [ ] Playbook run with no errors/expected errors in sandbox
- [ ] Playbook run with no errors/expected errors in stag

[2021-02-17 17:16] adborden opened #2831 "usmetadata extension must be installed in develop mode"
Removing the editable flag from the usmetadata install allows us to better vendor our dependencies and makes the extension more compatible with python package installs.

https://github.com/GSA/datagov-deploy/issues/2786

## How to reproduce

1. Remove `-e` from requirements.in.txt
2. `make requirements test`

## Expected behavior

usmetadata integration test passes

## Actual behavior

usmetadata

[2021-02-17 17:25] adborden opened #2832 "ckanext-googleanalyticsbasic extension must be installed in develop mode"
Removing the editable flag from the ckanext-googleanalyticsbasic install allows us to better vendor our dependencies and makes the extension more compatible with python package installs.

https://github.com/GSA/datagov-deploy/issues/2786

## How to reproduce

1. Remove `-e` from requirements.in.txt
2. `make requirements test`

## Expected behavior

ckanext-googleanalyticsbasic integration test pas

[2021-02-17 17:34] FuhuXia commented on #1465
Researched [jekyll-exporter plugin](https://wordpress.org/plugins/jekyll-exporter/) on local site with production DB. The plugin worked out fine, it dis the job it was supposed to do. We can install this plugin on production and generate an up-to-date zip file in Jekyll structure containing all Wordpress contents. The content is converted by the plugin into Markdown format whenever possible, makin

[2021-02-17 21:33] adborden opened #2834 "deploy-ci-app-catalog #1 failed"
Build 'deploy-ci-app-catalog' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-catalog/1/)

[2021-02-17 21:40] adborden opened #2835 "deploy-ci-platform #1 failed"
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/1/)

[2021-02-17 21:59] adborden commented on #2835
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/2/)

[2021-02-17 22:15] adborden commented on #2835
Build was fixed!

[2021-02-17 22:15] #2835 closed, assigned to nobody

[2021-02-17 22:44] adborden commented on #811
🎉  the netscaler change is in place and https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/ is alive!

😢  unfortunately we're still unable to deploy because of [docker](https://github.com/GSA/datagov-deploy/issues/2708). Without docker hub credentials, we're hitting the docker API limit within the FCS network. Even after working around that, I'm running into network forwarding errors ("[Warning] IPv4 forwa

[2021-02-17 22:46] adborden commented on #811
I added the credentials described in the [README](https://github.com/GSA/datagov-deploy#jenkins-configuration) with the exception of the mgmt and production SSH key. I was hoping to see staging working before adding those.

[2021-02-17 22:54] adborden opened #2837 "Partial decommission of catalog-classic"
## User Story

In order to reduce the number of hosts we have to patch and maintain, data.gov team wants some of the catalog-classic FCS resources decommissioned.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] WHEN I browse to catalog-d

[2021-02-17 23:00] adborden opened #2838 "Decommission remaining catalog-classic resources"
## User Story

In order to reduce the number of hosts we have to patch and maintain, data.gov team wants the rest of the catalog-classic FCS resources decommissioned.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN I browse to http

[2021-02-17 23:02] #2834 closed, assigned to nobody

[2021-02-17 23:02] adborden commented on #2834
Testing.

[2021-02-17 23:49] adborden opened #2839 "Update datastore read-only db user password on every run"
## User Story

In order to easily rotate credentials, data.gov team wants Inventory to automatically update the datastore read-only db user's password on startup.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN I update DS_RO_PASSW

[2021-02-18 00:01] adborden commented on #2760
To update the services, I did this for each space for catalog and inventory.

[code]

[2021-02-18 01:01] FuhuXia opened #2840 "Catalog not harvest complete datasets from data.json source, possibly skipping children datasets"
There are 265 datasets in [GSA json](https://open.gsa.gov/data.json) harvest source. Catalog harvest job stops (hangs) at 106 datasets, leaving 159 not harvested.

## How to reproduce

Count the datasets at /harvest/admin/gsa-json.

## Expected behavior

265 datasets

## Actual behavior

106 datasets

## Background
Out of 265 datasets, 106 are standalone/parent datasets. 159 are children datasets.

[2021-02-18 13:56] jbrown-xentity opened #2841 "FGDC2ISO license not in random directory"
We would like to implement FGDC2ISO service with a license file in a random location created at run time. We had this [fleshed out here](https://github.com/GSA/catalog-fgdc2iso/pull/4/files#diff-bc6ad6fc9708246c27d94e16f911c92e7cd03f60df8087ab2e3f2d5a323362aeR1-R19), but the environment variable export did not persist into the python code in `app.py`, where we needed the license file location. Doc

[2021-02-18 13:57] jbrown-xentity commented on #1299
Made new issue for saxon license random directory: https://github.com/GSA/datagov-deploy/issues/2841

[2021-02-18 14:43] jbrown-xentity commented on #2760
@adborden in review, both staging and production for both catalog and inventory need to be re-deployed to pick up the new db binding. Will watch documentation PR's to make sure deployment works, then we can mark this as done...

[2021-02-18 14:53] mbocevski commented on #1201
`came_from` from RelayState is now implemented in saml2auth - https://github.com/keitaroinc/ckanext-saml2auth/commit/7aca97b0b8d424ebf0413a3c48b04226b94aec61.

[2021-02-18 15:25] jbrown-xentity commented on #2760
All csb services deleted, services confirmed still up. Marking as done!

[2021-02-18 16:41] pjsharpe07 commented on #2810
[fgdc2iso app is up](https://github.com/GSA/datagov-deploy/issues/1299) in all three spaces but is currently stopped. Turn them off before attempting to harvest any geospatial harvests.

[2021-02-18 17:26] adborden opened #2844 "Cryptographic Issues in ipaddress"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.b6igeflbdewp)._

https://snyk.io/vuln/SNYK-PYTHON-IPADDRESS-590065

**Date of report:** 2021-02-18
**Severity:** Moderate
**Due date:** 2021-05-18

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-day

[2021-02-18 17:35] adborden opened #2845 "Insecure validation and defaults in pysaml2"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.pkbkuu1s2nev)._

https://snyk.io/vuln/SNYK-PYTHON-PYSAML2-1063038
https://snyk.io/vuln/SNYK-PYTHON-PYSAML2-1063039

**Date of report:** 2021-02-18
**Severity:** Moderate
**Due date:** 2021-05-18

_Due date is based on severity and described in RA-5. 15

[2021-02-18 17:48] adborden commented on #2644
If source-based repos are listed without the `-e` editable flag in requirements.txt, snyk will recognize the package and list relevant vulnerabilities.

[2021-02-18 17:51] pjsharpe07 commented on #2606
Deployed through gh actions:

[staging](https://dashboard-stage-datagov.app.cloud.gov/)
[prod](https://dashboard-prod-datagov.app.cloud.gov/)

![image](https://user-images.githubusercontent.com/38019872/108399272-2bb32480-71d7-11eb-9262-a5305b5ee38e.png)

[2021-02-18 17:55] jbrown-xentity commented on #2604
Example of completion; when updating documentation around db changes, the [app redeployed](https://github.com/GSA/catalog.data.gov/actions/runs/578434579).

[2021-02-18 17:56] jbrown-xentity commented on #2603
Example of completion; when updating documentation around db changes, the [app redeployed](https://github.com/GSA/inventory-app/actions/runs/578436677).

[2021-02-18 18:37] #811 closed, assigned to adborden

[2021-02-18 18:37] #2664 closed, assigned to adborden

[2021-02-18 18:37] #2693 closed, assigned to adborden

[2021-02-18 18:37] #2760 closed, assigned to adborden

[2021-02-18 18:37] #2783 closed, assigned to adborden

[2021-02-18 18:49] #2575 closed, assigned to chris-macdermaid

[2021-02-18 18:49] #2712 closed, assigned to chris-macdermaid

[2021-02-18 18:49] #2757 closed, assigned to chris-macdermaid

[2021-02-18 18:58] #2220 closed, assigned to FuhuXia

[2021-02-18 18:58] #2344 closed, assigned to FuhuXia

[2021-02-18 18:58] #2533 closed, assigned to FuhuXia

[2021-02-18 18:58] #2668 closed, assigned to FuhuXia

[2021-02-18 18:58] #2670 closed, assigned to FuhuXia

[2021-02-18 18:58] #2830 closed, assigned to FuhuXia

[2021-02-18 19:07] #1688 closed, assigned to hkdctol

[2021-02-18 19:27] #2603 closed, assigned to jbrown-xentity

[2021-02-18 19:27] #2604 closed, assigned to jbrown-xentity

[2021-02-18 19:32] #1299 closed, assigned to pjsharpe07

[2021-02-18 19:32] #2745 closed, assigned to pjsharpe07

[2021-02-18 19:32] #2606 closed, assigned to pjsharpe07

[2021-02-18 19:33] #2764 closed, assigned to thejuliekramer

[2021-02-18 19:49] FuhuXia opened #2846 "O+M 2021-03-04"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2021-02-18 22:08] pjsharpe07 opened #2847 "FGDC2ISO should use smoke tests in GH action deployment to cloud.gov"
## User Story

As a data.gov team member, I want validation that fgdc2iso is in a working state so that we can catch bugs before they deploy to production.

## Acceptance Criteria
- [ ] GIVEN smoke tests are integrated into the current GH actions of catalog-fgdc2iso
  WHEN a commit is pushed to `main`
  THEN I see a successful smoke test during the deploy to staging before being pushed to producti

[2021-02-18 22:09] adborden commented on #2841
@jbrown-xentity alternatively, we could make a code change to read that file in from environment variable (and fall back to file if we want).

I've seen a pattern where two env variables are optional. One indicates it is the content, the other indicates it's a filename.

- `SAXON_LICENSE`: The license content itself, stored as an environment variable.
- `SAXON_LICENSE_FILE`: The value is a filepat

[2021-02-19 01:58] adborden opened #2848 "WordPress make setup task not working"
## How to reproduce

1. `make clean build up`
2. `make setup`

## Expected behavior

WordPress plugins are installed and data.gov theme is activated.

## Actual behavior

[code]

## Sketch
Start from the [failing build](https://app.circleci.com/pipelines/github/GSA/datagov-wp-boilerplate/188/workflows/ebca48ee-a4ac-43c7-868b-685647a1c631/jobs/258) on the [bugfix/clean branch](https://github.com/GS

[2021-02-19 04:39] adborden opened #2850 "Catalog admin page is not loading"
## How to reproduce

Login to catalog as an admin
1. https://admin-catalog-next.data.gov/admin

## Expected behavior

Admin page loads for admin users.

## Actual behavior
Server Error

[code]

## Sketch
[Notes or a checklist reflecting our understanding of the selected approach]

[2021-02-19 04:40] adborden commented on #2850
.. and the admin Link in the header is listed as https://admin-catalog-next.data.gov/None was the controller removed/renamed?

[2021-02-19 14:42] jbrown-xentity commented on #2605
@adborden @mogul could use some direction on the approach for environment setup here. I'm trying to merge the [cloud.gov wordpress deployment example](https://github.com/cloud-gov/cf-ex-wordpress#installation) with the [roots deployment docs](https://roots.io/docs/bedrock/master/configuration/) and struggling on how to do the setup dynamically. Do I want to add a `.profile` script that parses vcap

[2021-02-19 15:54] jbrown-xentity opened #2854 "Catalog API no longer has harvest_object_id in package"
Reported from Geoplatform; their process of harvesting from data.gov is completely blocked.

The value still exists, because the "Metadata Source" section is still populated with the harvest_object_id embedded in the URL (see [this dataset](https://catalog.data.gov/dataset/airports-national-national-geospatial-data-asset-ngda-airports) for an example). It's not being reported under the "Additional

[2021-02-19 16:23] adborden commented on #2854
When we look into this, let's see if we can track down the [duplicate issue](https://github.com/GSA/datagov-deploy/issues/1182) with harvest_object_id so the value is correct.

[2021-02-19 16:29] adborden opened #2855 "Renew data.gov site certificate"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 2021-02-19
**Severity:** N/A
**Due date:** 2021-04-20

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has

[2021-02-19 16:31] adborden commented on #2855
I think I recently renewed the site certificate as part of the Jenkins work but have not installed it. Check the expiration of the certificate in [Drive](https://drive.google.com/drive/folders/1E5R_hvgXdeF4pEId5xKPK-O4D-B4dqJR).

[2021-02-19 18:21] jbrown-xentity opened #2858 "Inventory Roll Out"
## User Story
As a data.gov developer, I want use well tested inventory-next.data.gov running CKAN 2.8 to serve for inventory production traffic so that we can use new features and security enhancement offered by CKAN 2.8.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#B

[2021-02-19 18:31] jbrown-xentity commented on #2254
Validate catalog is done, confirm inventory-next *should* pass. To close, verify inventory is passing once #2858 is done.

[2021-02-19 18:33] jbrown-xentity commented on #2854
Would like to document how to use this API as we decommision the CSW service for those that need to get the metadata from the CKAN API.

[2021-02-19 18:39] jbrown-xentity commented on #2847
Probably will use `cf ssh` and port forwarding to curl against that instance.

[2021-02-19 18:40] pjsharpe07 commented on #2787
From thoughts on fgdc2iso, a way to perform a smoke test with an internal route is:

[2021-02-19 18:48] jbrown-xentity commented on #2708
@adborden could use a pair on resolving this blocker (permissions issues with unarchiving)

[2021-02-19 18:52] jbrown-xentity commented on #2758
To be done on inventory classic, and work will be ported over to inventory-next in the DB migration.

[2021-02-19 19:33] adborden opened #2859 "Logout page shows 403 on inventory"
## How to reproduce

1. Login to Inventory https://inventory-next.data.gov/user/saml2login
2. Click Logout in the top right.

## Expected behavior

I am redirected to Inventory / or /user/logged_out.

![Screen Shot 2021-02-19 at 11 31 26 AM](https://user-images.githubusercontent.com/509703/108552345-06411c00-72a6-11eb-9118-66f43c3962f9.png)

## Actual behavior

The user/logged_out page returns a 2

[2021-02-19 20:11] adborden opened #2860 "Fetch and verify remote IdP metadata in CKAN"
## User Story

In order to follow best practices in security by fetching up-to-date metadata and verifying its authenticity, data.gov team wants to use pysaml2's remote metadata feature to fetch and verify the IdP metadata at runtime.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_d

[2021-02-19 22:10] datagov-bot opened #2861 "adb-deploy-ci-platform #2 failed"
Build 'adb-deploy-ci-platform' is failing.

Changes since last successful build:
No changes
No changes

[View full output](https://ci.sandbox.datagov.us/job/adb-deploy-ci-platform/2/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/adb-deploy-ci-platform/detail/adb-deploy-ci-platform/2/pipeline) (blue)

[2021-02-20 00:28] adborden commented on #2809
Closing as a duplicate of https://github.com/GSA/datagov-deploy/issues/2777

[2021-02-20 00:28] #2809 closed, assigned to adborden

[2021-02-20 00:49] hkdctol opened #2896 "USGS Original Product Resolution harvest source not harvesting"
## How to reproduce

This is among the USGS harvest sources we were not able to successfully harvest before new catalog launch.

Name of source: Original Product Resolution (OPR) Source Digital Elevation Models (DEMs) - USGS National Map

URL: http://thor-f5.er.usgs.gov/ngtoc/metadata/waf/elevation/opr_dem/arcgrid/

## Expected behavior

Successful harvest of source

## Actual behavior

Errors--se

[2021-02-20 00:52] hkdctol opened #2897 "USGS harvest source usgs-historical-topographic not harvesting"
## How to reproduce

Among USGS sources that did not harvest successfully before new catalog launch.

Name: usgs-historical-topographic-maps
URL: http://thor-f5.er.usgs.gov/ngtoc/metadata/htmc/

## Expected behavior

Successful harvest of source

## Actual behavior

See errors--latest report
![USGS 1](https://user-images.githubusercontent.com/3236989/108576523-ef251d00-72eb-11eb-8e89-e38126334e13.

[2021-02-20 00:54] hkdctol opened #2898 "USGS harvest source - USGS US Topo Maps not harvesting"
## How to reproduce

USGS harvest source that did not harvest before new catalog launch

Name: USGS US Topo Maps

URL: https://thor-f5.er.usgs.gov/ngtoc/metadata/waf/ustopo/geopdf/

## Expected behavior

Successful harvest of source with datasets added

## Actual behavior

See errors in latest report
![USGS3](https://user-images.githubusercontent.com/3236989/108576623-41663e00-72ec-11eb-9a2f-2ce37

[2021-02-20 14:39] jbrown-xentity commented on #2605
@mogul it's working, see draft PR and live staging site [here](https://wordpress-stage-datagov.app.cloud.gov/). Still a lot of things to configure and should test db backup install soon, but looking good! Thanks for your help!

[2021-02-22 17:53] FuhuXia opened #2862 "Catalog harvest job stays at Running status"
Harvest job should have a **Complete** status after job done. A few minutes delay is acceptable. But in current catalog, harvest jobs seem to stay at **Running** status forever.

## How to reproduce

1. Go to a [sample harvest source](https://catalog-next.sandbox.datagov.us/harvest/admin/gh-del-json
) on Sandbox.
2. Click Clear button to start refresh, then Reharvest.
3. Check the status.

## Expe

[2021-02-22 18:11] FuhuXia opened #2863 "Catalog 500 error when editing harvest source"
On production Catalog, when editing a harvest source, Save button will generate a 500 error about json and solr.
[code]
## How to reproduce

1. Go to https://admin-catalog-next.data.gov/harvest/edit/gsa-json
2. Save

## Expected behavior

200 response.

## Actual behavior

500 error.

## Background
Error on the solr side.
![Screen Shot 2021-02-22 at 1 10 07 PM](https://user-images.githubuserconten

[2021-02-22 18:53] adborden opened #2864 "[Research 0.5d]: Determine strategy to backup secrets in cloud.gov"
## User Story

In order to quickly recover from an accidentally deleted user-provided service, data.gov team wants a plan of how to backup and restore secrets to cloud.gov applications.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIV

[2021-02-22 18:54] adborden commented on #2864
IMHO, I would like to see a plan that incorporates these qualities:

- README driven (application secrets are documented in the application)
- Avoid confusing the source of truth (New Relic license key should live in New Relic)
- Avoid over-engineering (manual process is good)

[2021-02-22 19:30] mogul commented on #2864
I don't see this as much different from ensuring backups of service instance content are regularly made.

My plan for that was to share the service instances we care about into the `management` space, then have an app or task that runs there which makes dumps and puts them in an S3 bucket.  However, I'm not sure if you can share a user-provided service instance. 🤔

[2021-02-22 19:31] FuhuXia opened #2865 "Catalog UI: selected nav facet arrow head bigger than body"
On Catalog, the arrow head on selected facet has bigger height than its arrow body.
![Screen Shot 2021-02-22 at 2 18 49 PM](https://user-images.githubusercontent.com/1392461/108758575-44924180-7519-11eb-8535-463c80d7042f.png)

## How to reproduce

1. visit https://catalog.data.gov/dataset?groups=climate5434

## Expected behavior

arrow head and body should have same height
![Screen Shot 2021-02-22

[2021-02-22 20:06] FuhuXia opened #2866 "Catalog error when search-index rebuild a harvest source"
We can run following command to reindex a package
`ckan search-index rebuild [dataset_name]`
When running the command on a Catalog harvest source, it generates an SearchIndexError, then the harvest source disappears from the UI.

## How to reproduce

1. Create a data.json harvest source named, e.g. `test-json-source`, in a test organization on Catalog ( replicated on sandbox and staging)
2. Run a

[2021-02-22 21:14] mogul opened #2867 "Ensure login/logout events are captured"
## User Story

In order to meet the compliance needs of AU-7(1) and ensure we can always audit authentication actions, the team wants to ensure every data.gov application logs login/logout events.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).

[2021-02-22 22:01] adborden commented on #2691
I opened RITM0816182 to create records for the static sites.

I opened RITM0816183 to create records for ssb.data.gov

I confirmed that none of these domains are in our [SANS](https://github.com/GSA/datagov-deploy/blob/develop/ansible/bin/production-sans.txt) list, nothing to do here.

Moving this to blocked until we here from GSA DNS.

[2021-02-22 23:12] jbrown-xentity commented on #2777
Confirmed login worked for both inventory and catalog, login links point to login.gov and user is created in both systems after piv card is confirmed.

[2021-02-23 18:30] mogul commented on #2605
We've decided to avoid tangled technical debt work on simpleSAMLphp and instead plunge head-first into converting over to a static site.

- [x] @jbrown-xentity is going to park the existing work on a branch and document it here (for potential future use as a better example of running WordPress on cloud.gov
- [x] @mogul will remove references to www from the data.gov SSP
- [x] @mogul will `Icebox`

[2021-02-23 19:18] mogul commented on #1556
(For future reference: Bret has the previous work done here in a local repo.)

[2021-02-23 19:29] mogul opened #2868 "SSB environment promotion workflow"
## User Story

In order to avoid disrupting production applications, we want new deployments of the SSB to be tested in a staging space before the production deployment is replaced.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN I

[2021-02-23 21:52] jbrown-xentity commented on #2605
Our current work is in the `feature/cloud.gov` branch on [datagov-wp-boilerplate](https://github.com/GSA/datagov-wp-boilerplate/tree/feature/cloud.gov).  The work as is can deploy an instance, however the styling is all wrong. It was determined that the setup needed to occur before the server application starts up as in the [cloud.gov wordpress example](https://github.com/cloud-gov/cf-ex-wordpress

[2021-02-23 22:06] adborden commented on #2691
Oops, forgot the [staging domains](https://gsa-tts.slack.com/archives/C2N85536E/p1614101658002600). Will create tickets for those now.

[2021-02-24 00:38] adborden commented on #2691
Just heard from Federalist/cloud.gov that there is some manual action that will need to happen once the CAA records are in place to manually renew the certs.

[2021-02-24 01:04] adborden commented on #2837
Opened RITM0816722 to decommission the catalog instances.

[2021-02-24 01:27] adborden commented on #2837
Moving to blocked until the FCS ticket is resolved.

[2021-02-24 01:34] adborden commented on #2855
I confirmed that the certificate in Google Drive expires Not After : Jan 30 23:59:59 2022 GMT. All that is left for this issue is to work with FCS and SecOps to install the certificate and key.

[2021-02-24 04:00] adborden opened #2872 "Configure AWS billing alerts or caps for all accounts"
## User Story

In order to meet requirements of the anti-deficiancy act, data.gov wants to be alerted when estimated usage of our AWS accounts exceeds our expected amounts.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a context

[2021-02-24 13:46] jbrown-xentity opened #2873 "Generated static www.data.gov"
## User Story

As a data.gov administrator, I want a low-compliance burden static site so that deployment and management cost is lowered for the development team.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] WHEN I merge a new Markdow

[2021-02-24 13:49] jbrown-xentity opened #2874 "Switch www wordpress to static jekyll site"
## User Story

Stub for cutover wordpress to jekyll on federalist...

As a [user description], I want [behavior description] so that [goal].

[...or [alternatively](https://blog.crisp.se/2014/09/25/david-evans/as-a-i-want-so-that-considered-harmful)...]

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try speci

[2021-02-24 13:51] jbrown-xentity opened #2875 "Wordpress to Static Site*"
## Feature/what we're after
Move Wordpress content to static federalist site.

## Anticipated/hypothesized benefits
- Lower administrative burden
- Lower tech debt
- Lower SSP burden

## Measurements/metrics
- www.data.gov should be available through Federalist

## References/background

[2021-02-24 14:06] jbrown-xentity commented on #1465
Epic created to track work out of research: https://github.com/GSA/datagov-deploy/issues/2875

[2021-02-24 14:20] datagov-bot opened #2876 "deploy-ci-platform #482 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] db51c73422e669605e2ecf4a7d45dfd809629bca - Remove Dockerfile

- [adborden] 27769afb54183a52529d4c34fb5883c1d480d943 - [jenkins] assume one ssh key for all FCS envs

- [adborden] 828e6690628c57646ae6684df1e699fa0f37b2

[2021-02-24 15:50] FuhuXia commented on #2413
Same issue on Catalog with CKAN 2.8.

[2021-02-24 16:23] FuhuXia commented on #2876
Ansible cant connect to catalog-next-fgdc2iso1tf.internal.sandbox.datagov.us, complaining the control path too long:
[code]

The `control_path` is defined in `ansible/ansible.cfg` as:
 `control_path = %(directory)s/%%h-%%p-%%r`
I think default behavior is using hash value of the path. Removing this definition should solve the issue.

[2021-02-24 16:58] adborden commented on #2708
Wanted to leave an implementation note here...

Jenkins' `zip` and `unzip` were giving me problems. It seemed like the executable bit was getting lost, so bin/jenkins-deploy was not executable (Permission denied). If you download the zip manually, the permissions look correct 🤷

So I opted to tar and untar via `sh` instead of using the built-ins.

[2021-02-24 17:01] adborden commented on #2733
In the meantime, I've [updated the FCS jobs to use polling](https://github.com/GSA/datagov-deploy/pull/2871), so when you push, there is a short delay, but the build will be triggered.

[2021-02-24 18:35] #2876 closed, assigned to FuhuXia

[2021-02-24 21:07] jbrown-xentity commented on #2854
I've tracked the issue to [here](https://github.com/ckan/ckanext-harvest/blob/master/ckanext/harvest/plugin/__init__.py#L153), changing the default context.get('validate', False): allows the harvest info to show up. This code hasn't changed in years; in fact it's even in the GSA fork of the ckanext-harvest repo. I think that somehow we are resetting the context, but the [package_show route sets th

[2021-02-24 22:34] adborden opened #2880 "deploy-ci-app-dashboard #1 failed"
Build 'deploy-ci-app-dashboard' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-dashboard/1/)

[2021-02-24 22:36] adborden opened #2881 "deploy-ci-app-inventory-next #1 failed"
Build 'deploy-ci-app-inventory-next' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-inventory-next/1/)

[2021-02-24 22:36] adborden opened #2882 "deploy-ci-app-wordpress #1 failed"
Build 'deploy-ci-app-wordpress' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-wordpress/1/)

[2021-02-24 22:37] adborden opened #2883 "deploy-ci-app-inventory #1 failed"
Build 'deploy-ci-app-inventory' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-inventory/1/)

[2021-02-24 22:43] adborden opened #2884 "deploy-ci-platform #9 failed"
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-24 23:00] jbrown-xentity commented on #2854
I dug into the old catalog code to see what has changed. I ended up testing against the old catalog on sandbox, and could not find how it was working. The same code injection listed above fails for the same reason.
The database is not storing the harvest object/source info in the package_extras.
The package extras contains the harvest info in the old system before any extension/plugin code is call

[2021-02-24 23:57] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-25 01:10] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-25 01:23] chris-macdermaid opened #2889 "[research: 0.5d] identify a process for handling Terraform issues"
## User Story

As a person in O&M role, I want a process to triage Snyk Terraform issues.

## Acceptance Criteria
- [ ] Test Synk CLI/wizzard for potential guidance for creating .snyk
- [ ] Test CLI/GitHub integration to enforce snyk tests on PRs?

## Security Considerations ([required](https://nvd.nist.gov/800-53/Rev4/control/CM-4))
No security concerns. This a research ticket.

## Sketch
[Exampl

[2021-02-25 01:38] chris-macdermaid opened #2890 "[research: 1d] Identify GH action or Snyk integration that Opens Issues"
## User Story

As a person in the O&M role, I want a GitHub Action or Snyk integration to open issues for vulnerabilities.

## Acceptance Criteria

- [ ] WHEN I look at the final post in this issue \
  THEN I see a summary of our options and a recommendation on how to proceed.

## Security Considerations ([required](https://nvd.nist.gov/800-53/Rev4/control/CM-4))
No security concerns. This a resea

[2021-02-25 01:54] chris-macdermaid opened #2891 "Update O&M Snyk triage documentation"
## User Story

As a person in O&M role, I want the O&M [Snyk triage documentation](https://github.com/GSA/datagov-deploy/wiki/Dependency-scanning) updated to improve the process: lower overhead to manage known vulnerabilities, and improve process for updating/upgrading dependencies.

## Acceptance Criteria
- [x] Review O&M Snyk triage documentation
- [x] O&M Snyk triage documentation updated

## S

[2021-02-25 02:49] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-25 04:51] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-25 05:45] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-25 14:34] FuhuXia commented on #2866
The cause of this issue is [a bug found in pysolr](https://github.com/django-haystack/pysolr/issues/361). It only happens to harvest source that contains at least one harvest job run, making the `pkg_dict` sent to solr a multi-level nested JSON object.
[code]

For the fresh harvest source with 0 harvest job, the `last_job` is `None`, we don't see this issue. It only happens to catalog.data.gov [`f

[2021-02-25 14:39] FuhuXia commented on #2863
Can be closed. Duplicate of https://github.com/GSA/datagov-deploy/issues/2866.

[2021-02-25 16:50] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-25 16:59] adborden commented on #2655
Same step, also on some hosts it's more than one sysctl that fails:
[code]

[2021-02-25 17:02] adborden commented on #2655
Moving this to New to re-consider for triage. This ends up blocking automated deploys often enough, and even though the failure happens 7 minutes into the build, you don't usually get feedback until the end ~50 minutes. Since we're doing staged rollouts, you could hit this on each environment, staging, production, mgmt, having to retry 3 times before getting a successful build through.

[2021-02-25 17:29] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-25 19:04] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-25 19:35] adborden commented on #2655
There's a related bug in ansible-ubuntu-16 where multiple GRUB_CMDLINE_LINUX lines are appended to the grub config. Only the last one will apply. This means that we're not setting all the security options that are intended.

[2021-02-25 19:38] adborden commented on #2655
[code]

This is probably why this issue doesn't affect all machines consistently. Depending on the order, some machines might have ipv6 enabled, some would be disabled.

[2021-02-25 19:48] adborden commented on #2655
_edit: this is not necessary._

~Find all offending lines.~

    $ dsh -g all grep 'GRUB_CMDLINE_LINUX=\"ipv6.disable=1\"' /etc/default/grub

~Remove all offending lines:~

    $ dsh -g all sudo sed -i -e '/GRUB_CMDLINE_LINUX=\"ipv6.disable=1\"/d' /etc/default/grub

~Update grub to pick up the config change:~

    $ dsh -g all sudo update-grub2

[2021-02-25 20:50] FuhuXia commented on #2862
Same issue observed on production. Clicked reharvest button on [doi harvest source](https://admin-catalog-next.data.gov/harvest/admin/3a60d81e-ede6-416f-b7f9-7b3298ef2115), it stayed at running state. No activity on gather log. Did a supervisorctl restart gather process, no effect. Clicked Stop button and reharvest again, then gather and fetch process started. It feels like gather process fell asl

[2021-02-25 20:52] adborden commented on #2655
To fix, run the common playbook to apply the correct grub/sysctl configuration. Because of this issue, you might have to run it twice.

    $ ansible-playbook common.yml --tags hardening

Manually update GRUB:

    $ dsh -g all sudo update-grub2

Reboot hosts to pick up the change.

    $ ansible-playbook actions/reboot.yml -e force_reboot=1

[2021-02-25 21:14] FuhuXia opened #2899 "Bad Gateway error when login to catalog"
Error seen after login.gov login process and redirected back to catalog site.

Redirected to: admin-catalog-next.data.gov/acs
**Bad Gateway**

![Screen Shot 2021-02-25 at 4 07 37 PM](https://user-images.githubusercontent.com/1392461/109217713-28460d00-7784-11eb-9a9a-46eab5d133ed.png)
## How to reproduce

This is intermittent when login to catalog.data.gov

## Expected behavior

successful login

#

[2021-02-25 21:45] mogul commented on #2860
No urgency here as we expect login.gov will be notifying us when they plan to expire the metadata at the existing URL.

[2021-02-25 21:47] mogul commented on #2862
We suspect that there's a 24-hour timeout that will reset the status. It's not great UX to feel like there's not an immediate response, but it's not urgent for us to fix either.

[2021-02-25 21:52] mogul commented on #2872
@adborden is going to see if the TTS Tech Portfolio is already doing this or not

[2021-02-25 21:59] jbrown-xentity commented on #2899
Tested just now, login worked with no issues. Is this intermittent or constant @FuhuXia?

[2021-02-25 22:03] FuhuXia commented on #2899
Intermittent.  Very rare actually. Saw twice after login.gov integration.

[2021-02-25 22:13] mogul commented on #1960
Going to consider this closed/Done since we have pretty much already made the determination that we'll go forward with the brokered AWS Elasticsearch.

[2021-02-25 22:13] #1960 closed, assigned to nobody

[2021-02-25 22:13] adborden commented on #1960
https://github.com/GSA/datagov-deploy/issues/2814

[2021-02-25 22:42] mogul opened #2900 "SSB Managed Boundary documented in SSP Section 13"
## User Story

In order to complete the ATO assessment of the SSB, GSA A&A personnel want to read about the SSB Managed Boundary in Section 13 of the SSP.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN I am looking at the SSB SSP

[2021-02-26 00:16] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-26 00:53] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-26 01:24] adborden commented on #2872
From the [Tech Portfolio](https://gsa-tts.slack.com/archives/C039MHHF8/p1614289982008600):

This implements alerts at the Solutions level for thresholds of 95% forecast. That's not great, but it's something. They are also open to pairing in order to implement something at the team level.

I'm not familiar with AWS Budgets, so I don't know if this is something we could also implement on our own, or

[2021-02-26 01:40] adborden commented on #2854
It's interesting that these fields are still available in package_search:
[code]

[2021-02-26 01:52] adborden commented on #2884
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [adborden] a235ecd6a4fb9c5f441f170214d40aed4572690f - [jenkins] use script to wrap ansible

- [adborden] 1b5562d33542f7d431e70d08d7407e2e8e916273 - skip

- [adborden] be0b725286f66c5b00fbd230cb91ad19b6fe806b - Remove Dockerfile

- [adborden] c0d027f47580f7d076f5ded7359b53097d393d8

[2021-02-26 01:58] adborden commented on #2884
Build was fixed!

[2021-02-26 01:58] #2884 closed, assigned to adborden

[2021-02-26 02:33] adborden opened #2902 "deploy-ci-platform #25 failed"
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/25/)

[2021-02-26 03:08] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/26/)

[2021-02-26 04:38] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/27/)

[2021-02-26 04:54] adborden opened #2903 "federal-bonding-program-data dataset page fails to load: 'NoneType' object has no attribute '_row'"
https://inventory.data.gov/dataset/federal-bonding-program-data

Error - <type 'exceptions.AttributeError'>: 'NoneType' object has no attribute '_row'

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

## Sketch
[Notes or a checklist reflecting our understanding of the selected approach]

[2021-02-26 06:36] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/29/)

[2021-02-26 07:10] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/30/)

[2021-02-26 07:45] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/31/)

[2021-02-26 08:19] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/32/)

[2021-02-26 08:45] mogul commented on #2605
I've scrubbed all references to WordPress and www.data.gov from the SSP, and [replaced them with equivalent information about fgdc2iso](https://github.com/GSA/datagov-deploy/issues/2746). The www-specific diagrams are left in place but will be replaced by fgdc2iso-specific diagrams in the course of completing that issue.

[2021-02-26 08:55] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/33/)

[2021-02-26 09:32] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/34/)

[2021-02-26 10:17] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/35/)

[2021-02-26 10:57] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/36/)

[2021-02-26 11:35] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/37/)

[2021-02-26 12:14] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/38/)

[2021-02-26 12:51] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/39/)

[2021-02-26 13:04] jbrown-xentity commented on #2854
This is another smell that I'm on the right track. Digging into the package_search functionality, ckan core uses the `before_view` function in ckanext-harvest the same as package_show; but then the variables get removed by `after_show` and never re-inserted. Raised to CKAN gitter this morning to see if I could get any feedback/clarification, and will probably make an upstream bug today.

[2021-02-26 13:07] jbrown-xentity commented on #2854
Raised to the Geoplatform team that they can get unblocked and make their API calls more efficient by using the `package_search` returned objects as the complete list; and then parse and request the full metadata directly from there. Might do some light support and documentation on best practices for that for future geospatial users (as we plan to deprecate CSW service)...

[2021-02-26 13:26] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-platform/40/)

[2021-02-26 15:32] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
- [adborden] 159f51854a7156098afe5309a8ae61dd8ad9986b - [catalog] run host-level smoke tests from host

[Vi

[2021-02-26 16:29] adborden commented on #2691
FYI, Chris reached out to me about these tickets. Since we'll be moving to cloud.gov soon, with letsencrypt.org CA, we'll leave all the CAA records at the second-level domain data.gov and sort things out later. At that point, majority of data.gov domains will be letsencrypt.org domains and would require us to move the CAA records around.

[2021-02-26 16:44] adborden commented on #2691
That said, I'm going to put this story down and call https://github.com/GSA/datagov-deploy/issues/2690 in progress. This story is about improving our security posture by moving CAA exceptions to subdomains.

[2021-02-26 16:51] hkdctol opened #2904 "USGS harvest source National Hydrography Dataset Plus High Resolution not harvesting"
## How to reproduce

This is a valid harvest source that we confirmed with USGS representative. Old catalog shows datasets, new catalog shows zero datasets.

## Expected behavior

Valid harvest of WAF collection

## Actual behavior

Harvest source is in new catalog, with no datasets.

## Sketch
-Try manual harvest of source in new catalog.
Name: National Hydrography Dataset Plus High Resolution (N

[2021-02-26 16:55] hkdctol opened #2905 "USGS harvest source Alaska Digital Surface Models (DSMs) not harvesting"
This is a valid harvest source we confirmed with USGS rep.

## How to reproduce

Harvest source under USGS in new catalog under this name, shows zero datasets

## Expected behavior

Harvest source in old catalog indicates this source should have 399 datasets

## Actual behavior

Harvest source is in new catalog with no datasets

## Sketch
Try manual harvest
Name: Alaska Digital Surface Models (DSM

[2021-02-26 16:58] hkdctol opened #2906 "USGS Combined Vector Downloadable Data -- harvest source not harvesting"
This is a valid harvest source we confirmed with USGS rep.

## How to reproduce

Check new catalog on this source.

## Expected behavior

Old catalog shows 929 datasets associated with this source.

## Actual behavior

Source is in new catalog under USGS but with no datasets

## Sketch
-Try manual harvest
Name: USGS Combined Vector Downloadable Data Collection
URL: http://thor-f5.er.usgs.gov/ngtoc

[2021-02-26 17:31] FuhuXia opened #2907 "Inventory gives exceptions.KeyError when uploading resources"
For one particular dataset on Inventory production, when uploading a resource, the server gives an error.

User sees:
[code]

Error logged in gunicorn.log:
[code]

## How to reproduce

Upload a resource to dataset https://inventory.data.gov/dataset/a4b28422-5ed4-4719-866a-111f1a9a61b1

## Expected behavior

Resource added successfully

## Actual behavior

Error seen on the UI and in the server log

[2021-02-26 17:47] hkdctol opened #2908 "[research: 0.5d] Restoring "clone" feature in inventory.data.gov"
## User Story

As Data.gov PMO, we would like to know whether restoring the "clone" feature in the old metadata form in inventory.data.gov is feasible and how much effort would be involved

## Acceptance Criteria

- [ ] GIVEN a few inventory users have informed us the previous clone feature was useful, we want to know whether restoring it is possible in the new metadata form, and how much effort i

[2021-02-26 17:59] jbrown-xentity commented on #2854
No response on CKAN gitter. Raised ticket in ckanext-harvest: https://github.com/ckan/ckanext-harvest/issues/433

[2021-02-26 20:00] adborden commented on #2902
Build 'deploy-ci-platform' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
No changes
- [adborden] 159f51854a7156098afe5309a8ae61dd8ad9986b - [catalog] run host-level smoke tests from host

No

[2021-02-26 20:12] FuhuXia commented on #2858
Two BSP ticket created.
REQ0588748 (RITM0817808) for RDS snapshot requested to be scheduled on 2021-03-03 5pm ET
REQ0588753 (RITM0817813) for NetScaler config change requested to be scheduled on next morning.

[2021-02-26 23:54] jbrown-xentity commented on #2854
Discussed issue with @adborden and @chris-macdermaid. Decided that more investigation on our end would be worth providing an upstream fix. Investigated the code, and tried to get ckanext-harvest tests working in our catalog.data.gov repo. Did not work, but noted that ckanext-harvest has github actions setup. Utilized this to make [a failing test](https://github.com/ckan/ckanext-harvest/pull/434) f

[2021-02-26 23:55] datagov-bot opened #2911 "deploy-ci-app-catalog #2 failed"
Build 'deploy-ci-app-catalog' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes

[View full output](https://ci-datagov.mgmt-ocsit.bsp.gsa.gov/job/deploy-ci-app-catalog/2/)

[2021-02-27 00:43] adborden commented on #2690
GSA has added the CAA record for letsencrypt.org at the second-level data.gov domain.

I confirmed that resources.data.gov certificate was renewed today and is good for another 90 days (and it should continue to auto-renew).

[2021-02-27 00:51] adborden opened #2912 "Firewall prevents Jenkins from deploying to mgmt and production jumpbox"
When deploying via Jenkins, we see the ansible ping step fail because the connection times out for both the mgmt and production jumbox.

## How to reproduce

1. Connect to the mgmt jumpbox `ssh datagovjump1m.mgmt-ocsit.bsp.gsa.gov`
2. Connect to Jenkins with agent forwarding `ssh -A jenkins.mgmt-ocsit.bsp.gsa.gov`
3. Connect to prod or mgmt jumpbox `ssh datagov-jump2p.prod-ocsit.bsp.gsa.gov`

## E

[2021-02-27 00:51] adborden commented on #2912
Fallout from https://github.com/GSA/datagov-deploy/issues/2708

[2021-02-27 06:35] #2861 closed, assigned to adborden

[2021-02-27 06:35] #2880 closed, assigned to adborden

[2021-02-27 06:35] #2881 closed, assigned to adborden

[2021-02-27 06:35] #2882 closed, assigned to adborden

[2021-02-27 06:35] #2883 closed, assigned to adborden

[2021-02-27 06:35] #2902 closed, assigned to nobody

[2021-02-27 18:17] #2911 closed, assigned to nobody

[2021-03-01 17:25] adborden opened #2915 "Federal agencies are informed that all dataset resources on catalog.data.gov must be served over HTTPS"
## User Story

In order to maintain trust and accessibility of datasets we index (by preventing browser warnings), we want partner agencies to replace HTTP URLs with HTTPS URLs

## Acceptance Criteria

- [x] All agencies are informed that in order to ensure that a data.gov user clicking on a download URL, the download is available, all agency URLs have to be https.

## Background
https://blog.chro

[2021-03-01 17:27] adborden commented on #2915
Part of this is outreach to agencies to update http links with https.

And/or... we can try to do something in the harvesters to try the https link when we come across an http and replace it transparently and raise a warning and error if the https link does not exist.

And/or... we can add regular monitoring/scanning that identifies these links... although that sounds like what the harvesters do t

[2021-03-01 17:29] FuhuXia commented on #2758
Not able to find any CLI/API way to update info for a deleted user. Plan to use DB query for the update.

[2021-03-01 17:48] adborden commented on #2915
Opened https://github.com/ckan/ckanext-harvest/issues/435 upstream.

[2021-03-01 18:14] mogul commented on #2746
Given the findings in [this post](https://github.com/GSA/datagov-deploy/issues/866#issuecomment-787106934) we've decided to retire the application rather than take it through the full ATO process.

[2021-03-01 18:14] #2746 closed, assigned to mogul

[2021-03-01 18:35] mogul commented on #2746
I've removed all references to fgdc2iso that were recently added to the SSP.

[2021-03-01 18:59] FuhuXia opened #2916 "Wrong type of metadata showing for datasets harvested from ckan source"
Datasets harvested from [DOI Open Data](https://catalog.data.gov/harvest/doi-open-data) is showing `ISO-19139 Metadata` as the metadata source,  but it is actually type of `Data.json Metadata`.

## How to reproduce

Pick any dataset harvested from [DOI Open Data](https://catalog.data.gov/harvest/3a60d81e-ede6-416f-b7f9-7b3298ef2115). Such as [this one](https://catalog.data.gov/dataset/outer-contin

[2021-03-01 19:12] mogul opened #2917 "Replace fgdc2iso service with CLI invocation"
## User Story

In order to remove moving parts and reduce the compliance overhead of operating data.gov, the data.gov team  wants to convert geometadata formats during harvesting using a CLI call instead of calling a separate web service.

## Acceptance Criteria

- [x] GIVEN I have checked out the [`ckanext-geodatagov` plugin repository](https://github.com/GSA/ckanext-geodatagov) \
  WHEN I run th

[2021-03-01 19:20] mogul commented on #2917
Can someone add pointers needed for getting the JRE and Saxon-Java/HE .debs included in the Ansible playbook to the sketch above?

[2021-03-01 19:58] datagov-bot opened #2919 "deploy-ci-platform #489 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] 5103cae6bb6eb6d3c6e2a565a62f021c136a044a - [common] work-around issue with ipv6

- [adborden] 159f51854a7156098afe5309a8ae61dd8ad9986b - [catalog] run host-level smoke tests from host

- [adborden] 02d8a8e099ffe2f990f13cd4b4a16ac3a77abc7d - [jenkins] fail immediately if one host fails

- [adborden] c600375758

[2021-03-01 20:06] adborden commented on #2919
This is sandbox

[2021-03-01 21:18] FuhuXia opened #2920 "DOI CKAN harvesting psycopg2.IntegrityError"
There were 57 psycopg2.IntegrityError errors when harvesting from data.doi.gov, as reported in [this job](https://admin-catalog-next.data.gov/harvest/doi-open-data/job/1d9e81f4-3005-4093-8f46-4155c8ae04c5).

[code]

## How to reproduce

As show in the harvest job Error Report.

[2021-03-01 21:18] jbrown-xentity commented on #2254
Verified catalog production and inventory next is using jquery > 3.5.0. Moving to blocked until #2858 is done...

[2021-03-01 23:24] adborden commented on #2001
Sent emails to collaborators, will wait a few days before merging these.

[2021-03-02 00:10] FuhuXia commented on #2758
Two DB queries have been run on prod inventory.
[code]

[2021-03-02 00:16] mogul opened #2921 "Drain logs from cloud.gov spaces to AWS Elasticsearch instance"
## User Story

In order to support data.gov's needs for monitoring and alerting on app behavior, the data.gov team wants to drain logs from cloud.gov spaces to a brokered instance of AWS ES.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x

[2021-03-02 01:42] mogul commented on #2543
Blocked waiting for access to the new documents from Lynnette.

[2021-03-02 01:44] mogul commented on #2435
Per discussion today: Given that our process is overall not much different between the FCS and cloud.gov environments, we think providing the artifacts from our most recent test on FCS should be sufficient.

[2021-03-02 02:06] #2919 closed, assigned to adborden

[2021-03-02 17:31] adborden opened #2922 "Open an issue on datagov-deploy when broken links are identified on static sites"
## User Story

In order to promptly notify and nudge the team to take action when broken links are identified, data.gov team wants static sites to open a GH issue in datagov-deploy when a qa check fails.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifica

[2021-03-02 17:39] hkdctol opened #2923 "Add rows to dashboard for agencies with identified CDOs"
## User Story

As Data.gov PMO, want to have a listing of agencies that have identified CDOs to keep track of efforts in adding agencies to the catalog.

## Acceptance Criteria
The dashboard, even though we may replace with another measure, is still a location where we want to have agencies listed with identified CDOs

## Background
The CDO council recently launched a website and identified agenci

[2021-03-02 18:04] mogul commented on #2758
We need to schedule downtime before we roll this out into production.

[2021-03-02 18:20] jbrown-xentity commented on #2155
Ran into this again today; created a new harvest source for DOI and still hadn't reported "started" after 12 hours.
Checked server logs, almost nothing in the fetch-consumer.log and gather-consumer.log. Restarted both processes (supervisor reported them being up for 2 days), and they immediately started logging doing work. Not sure why this occurred...

[2021-03-02 18:34] adborden opened #2924 "[research: 1d] Determine the impact of latency to Solr for an average CKAN request"
## User Story

In order to understand the acceptable latency between CKAN in GovCloud and brokered Solr, the data.gov team wants to understand the impact of CKAN->Solr latency on the user experience.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specification

[2021-03-02 18:37] FuhuXia commented on #2155
related to https://github.com/GSA/datagov-deploy/issues/2862.
we have a 24-hour reset. wait for 24 hours and see whether something happens.

[2021-03-02 21:16] FuhuXia opened #2925 "Inventory 2.8 branch add ckanext_datagov_inventory as git+git://github.com:GSA/"
CKAN extensions are added to requirements-freeze.txt as  `git+https://github.com/...`. But `ckanext_datagov_inventory` is added as `git+git://github.com:GSA/...`.

## How to reproduce

Check in https://github.com/GSA/inventory-app/tree/inventory_ckan_2.8
Run `make requirements`

## Expected behavior
`ckanext_datagov_inventory` to be added as
[code]
## Actual behavior

`ckanext_datagov_inventory` i

[2021-03-02 21:18] jbrown-xentity commented on #2850
For some reason we have multiple admin buttons with different configurations; the hammer works but the settings icon is a bad redirect. See screenshot. Making PR to use hammer over by the right hand side, and remove the gear to cleanup...
![image](https://user-images.githubusercontent.com/26980513/109716407-14265500-7b62-11eb-801f-dc6f4cbd7f96.png)

[2021-03-02 22:11] jbrown-xentity commented on #2840
This is a false positive. The collection datasets are getting harvested ([see example here](https://admin-catalog-next.data.gov/dataset/networx-business-parent)).
The way the UI reports it is very confusing, but only the collection level datasets are reported in the harvest report; all datasets inside a collection are not reported.
You can confirm by searching the organization for datasets with a

[2021-03-02 22:12] hkdctol opened #2926 "[research: 0.5d] Restore old harvest report features in catalog"
## User Story

As Data.gov PMO, we want to know level of effort and resource implications of restoring old level of detail in harvest report emails in order to decide whether to restore the feature.

## Acceptance Criteria

- [ ] GIVEN agency preference for more detail in harvest reports but limits on our capacity for more features at present and potential resource implications of a more detailed

[2021-03-02 22:17] hkdctol commented on #2926
The new harvest report does provide information on errors, but not on added datasets.

![error report.png](https://images.zenhubusercontent.com/5d374a506df6e4059e63379d/50894c44-446a-4bc0-b014-1b914c050802)

[2021-03-03 14:22] jbrown-xentity commented on #2155
Ran into this again this morning. Logs show that nothing is happening for harvest gather or fetch since yesterday. Supervisor reports all processes as running. As soon as the gather process was restarted, jobs were picked up. I believe this is a bug, and will require manual intervention moving forward until resolved...

[2021-03-03 16:00] jbrown-xentity commented on #2897
Testing on production now. Harvest job created at 9:12 am ET, hit gather blocker #2155; restarted jobs and now harvest job officially picked up at 10:45 am ET. Watching logs for issues and timing...

[2021-03-03 16:17] FuhuXia opened #2927 "Catalog UI elements: missing calendar icon; more margin above title"
On the new catalog, the **Metadata Update** item on dataset page is missing a leading calendar icon; dataset title needs some margin above.

## How to reproduce

https://catalog.data.gov/dataset/ah-excess-deaths-by-sex-age-and-race-2d26a

## Expected behavior

![Screen Shot 2021-03-03 at 11 14 22 AM](https://user-images.githubusercontent.com/1392461/109836166-e698e480-7c11-11eb-8fba-7e6fb06bd50a.p

[2021-03-03 16:38] chris-macdermaid commented on #2896
The WAF has a lot of collection metadata records and is slow. I tried using curl to get the records and after 6 hours and GBs of metadata, I cut it off. I also tried to scrape the pages using a Python script, but it was still running after 12 hours. Give this, I'm not able to determine the number of metadata records in the WAF.

[2021-03-03 16:43] adborden commented on #2155
Is this a duplicate of https://github.com/GSA/datagov-deploy/issues/796?

[2021-03-03 16:59] jbrown-xentity commented on #2155
Closing as duplicate of #796.

[2021-03-03 16:59] #2155 closed, assigned to nobody

[2021-03-03 17:01] jbrown-xentity commented on #796
This has been seen multiple times recently in the gather queue specifically. Restarting the gather queue caused all jobs to be run both times.
We have also seen this in the past affecting a single job; ie we have 6 harvest-fetch jobs running and 3 of them will be "up" but not actually harvesting.
Still not able to consistently repro, and no idea why a manual restart fixes the problem.

[2021-03-03 17:04] adborden commented on #796
FWIW, my gut on this is that the redis connection is the cause. If something happens and the redis connection, e.g. it's lost or in a bad state, the subscribe code won’t get triggered and the entire harvest process is based on receiving events from the redis pub/sub.

[2021-03-03 19:59] pjsharpe07 commented on #2492
The previously affected pages were:

1. [dataset](https://catalog.data.gov/dataset)
2. [group](https://catalog.data.gov/group)

No steps were taken as this vulnerability only affected catalog-classic.

[2021-03-03 20:01] pjsharpe07 commented on #2561
pivoted from using node-sass and instead started using [gulp-dart-sass](https://github.com/GSA/resources.data.gov/blob/develop/package.json#L17)

[2021-03-03 20:01] pjsharpe07 commented on #2807
pivoted from using node-sass and instead started using [gulp-dart-sass](https://github.com/GSA/resources.data.gov/blob/develop/package.json#L17)

[2021-03-03 20:03] pjsharpe07 commented on #897
If a logged in admin user edits a public harvest source the `dataset visibility` drop down will retain the `public` property instead of defaulting to `private` automatically. See [doi-open-data](https://catalog.data.gov/harvest/doi-open-data) for an example.