[2020-09-11 15:08] FuhuXia commented on #2038
More changes to `inventory-db-init.py`
1. Making the script more flexible and forgiving, since the AWS DB may come with an initial database created.
2. Dealing with issues when CKAN database and Datastore database are on different hosts. In [CKAN official docs](https://docs.ckan.org/en/2.9/maintaining/datastore.html) this scenario is supported but the `paste datastore set-permissions` will generat

[2020-09-11 16:53] jbrown-xentity opened #2136 "Helper function `get_translated` could not be found"
This error occurred multiple times throughout the catalog logs. Full stack trace is below.

[code]

Not sure what causes this, but occurs in all catalog web logs.
Using grep, the only instance of the get_translated function is in [datagovtheme here](https://github.com/GSA/ckanext-datagovtheme/blob/master/ckanext/datagovtheme/templates/package/read.html#L38)

## How to reproduce

1. Unknown how to

[2020-09-11 17:05] pjsharpe07 commented on #897
It looks like the `selected` isn't populating in catalog classic:

![image](https://user-images.githubusercontent.com/38019872/92953278-b15bc880-f41e-11ea-8569-b43980ac0cbb.png)

but is populating in catalog-next:
![image](https://user-images.githubusercontent.com/38019872/92953322-c0db1180-f41e-11ea-81b5-8452befa2d9b.png)

[2020-09-11 17:41] pjsharpe07 commented on #1879
Kicked off another harvest with job id `1f685e03-e076-47dd-9391-80b2bddc6992`

Find our two harvest stat timings in [our google drive](https://docs.google.com/spreadsheets/d/1Lw9MTW5HXUkJ0A1xrkpQLwavQvQKUQGpeIR1-zxRTBk/edit#gid=0)

[2020-09-11 19:14] jbrown-xentity commented on #1879
Gather still running, and alert fired for high memory usage on catalog-harvester1p. Will continue to monitor.

[2020-09-11 22:12] jbrown-xentity commented on #1848
@avdata99 @thejuliekramer I'm doing some analysis of all the CKAN extension jobs (#499) and I noted that the customization for the `harvest_source_info` table is really unnecessary. Essentially all of the logic is used to make sure that the harvest cleanup commands are only run if the harvester is running, but there are much simpler ways to make sure we don't clear out "stuck" jobs that haven't ev

[2020-09-14 21:11] thejuliekramer commented on #2123
@FuhuXia is it possible to turn these on for just one environment like staging - so we can test that some functionality is working and then turn them off again? Let me know if you have time to pair this week - we are blocked on numerous tickets without being able to start these workers - and we don't want to just turn them on without understanding the repercussions. Thanks!

[2020-09-14 21:26] FuhuXia commented on #2123
Sure, you can turn them on sandbox or staging. No need to change playbook. Just start a tmux session and run the ckan command.

[2020-09-14 21:38] jbrown-xentity commented on #2123
I would make sure to run them 1 at a time, otherwise the server may crash (it probably just did @thejuliekramer).
You can see all the available jobs by running `sudo supervisorctl status`, and run any single job you choose.
The automation of the jobs is handled through cron, and is turned off. You can see that [here](https://github.com/GSA/datagov-deploy/blob/develop/ansible/roles/software/ckan/ca

[2020-09-15 00:13] adborden opened #2138 "CKAN session cookie is not marked Secure"
who.secure = True in production.ini for Inventory and Catalog, but I'm seeing the cookies not marked as Secure within the browser.

<img width="1243" alt="Screen Shot 2020-09-14 at 5 09 38 PM" src="https://user-images.githubusercontent.com/509703/93150262-77ecbc80-f6ad-11ea-806c-06f8813304a0.png">

## How to reproduce

1. Login to https://inventory.data.gov/user/login
1. Open developer tools (Appl

[2020-09-15 00:21] adborden commented on #2138
I wonder if this is related to [apache2 listening on HTTP instead of HTTPS](https://github.com/GSA/datagov-deploy/issues/570).

[2020-09-15 15:59] pjsharpe07 commented on #1879
The last harvest attempt finished with one dataset in a bad state, but finished all others in ~15 hours. We will try one more harvest later this week. If it's below the 24 hour threshold we can move this to done.

[2020-09-15 17:36] thejuliekramer commented on #2123
@jbrown-xentity @FuhuXia does it matter which host I am ssh into?

[2020-09-15 17:37] jbrown-xentity commented on #2123
@thejuliekramer the harvester2d machine should have the supervisor jobs available, and others might have it available too.

[2020-09-15 19:31] jbrown-xentity commented on #2118
Files to change (incomplete list):

- [x] inventories/staging/hosts
- [x] rename inventories/staging/group_vars/inventory-web-v2 to inventory-next
- [x] update inventories/staging/group_vars/inventory-next similar to sandbox/group_vars/inventory-next
- [x] add variables to inventories/staging/group_vars/all/vars.yml for inventory similar to sandbox/group_vars/all/vars.yml
- [x] add variables to in

[2020-09-16 13:15] FuhuXia opened #2140 "Release 20200917"
## Release MM/DD/YYYY
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2020-09-16 14:57] jbrown-xentity commented on #1883
Also this [Snyk PR](https://github.com/GSA/resources.data.gov/pull/244)

[2020-09-16 16:02] jbrown-xentity opened #2142 "New Relic Supervisor Permissions Issue"
In reviewing the syslog on inventory-2p, we discovered that a new relic job was constantly trying to poll supervisord status but was unable to do so. This isn't necessary for new relic to work, but is creating issues and unnecessary logs every minute.

[code]

## How to reproduce

1. SSH onto inventory2p.prod-ocsit.bsp.gsa.gov
2. Review /var/log/syslog

## Expected behavior

No New Relic errors

#

[2020-09-16 17:02] adborden commented on #2122
Added a note about ISO 19115-1 and ensuring that agencies implementing the [FGDC technical guidance](https://www.fgdc.gov/technical-guidance/metadata/fgdc-technical-guidance-datagov-geoplatform-ngda.pdf) won't have any trouble understanding how to get their metadata into data.gov.

[2020-09-16 17:19] adborden opened #2143 "Task: cleanup obsolete IAM users in OPP prod account"
Data.gov shares the OPP account with some other Solutions teams. We manage data.gov team members as part of our Account Management process, but that does not include other teams. It's time to review the list of IAM users to remove any obsolete accounts.

[2020-09-16 17:55] jbrown-xentity opened #2144 "Data.gov Cipher Usage"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.myhsfzbhldtf)._

**Date of report: 9/16/2020**
**Severity: Moderate**
**Due date: 12/16/2020**

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been

[2020-09-16 20:26] jbrown-xentity opened #2145 "Add health check to CKAN"
## User Story

As a CKAN admin, I want a health check endpoint that verifies the site components are working so that I can set up alert systems to be notified if something is wrong.

## Acceptance Criteria

- [ ] GIVEN a CKAN health check endpoint is created \
  WHEN a component is down (ie SOLR) \
  THEN the health check endpoint returns a response reflecting this \
  AND this can be used as a lo

[2020-09-16 20:32] hkdctol commented on #2061
There's a version we have been using since August, will mark this done for now.

[2020-09-16 22:34] chris-macdermaid opened #2147 "Inventory-next set up in staging"
## User Story
Now that inventory-next is in the staging playbook and deploying to staging has been tested, complete the following set up steps to get inventory-next running irrespective of migration issues yet to be resolved.

## Details/tasks
- [x] New Load Balancer and/or Netscaler configuration in BSP (ticket to BSP)
- [x] Request DNS (ticket to BSP)
- [x] Run db init commands
- [x] Create new

[2020-09-16 23:26] adborden opened #2148 "HTTP Response Splitting (CRLF injection)"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 8/12/2020
**Severity:** Low
**Due date:** 11/12/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been performed and an issue has b

[2020-09-16 23:41] adborden commented on #2148
Reviewed other nginx and apache configurations and this doesn't look like it applies to any other data.gov URLs.

[2020-09-17 08:04] mogul commented on #1943
Spent way too much time tonight chasing down, reproducing, and reporting a bug in the k8s Terraform provider.  🙄
https://github.com/hashicorp/terraform-provider-kubernetes/issues/1009

[2020-09-17 13:10] FuhuXia opened #2149 "[Onboard] Srinivasu Seeram"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Ad

[2020-09-17 13:30] chris-macdermaid commented on #2118
Created the playbook for deploying inventory-next on staging and tested deploying to staging.

[2020-09-17 14:02] avdata99 commented on #2123
Since these tasks are huge the best idea here seems to be to run this manually.
**Proposed to move to icebox or done**

[2020-09-17 14:06] thejuliekramer commented on #2123
Yes I am running workers on catalogharvester2d one at a time manually - we can include this in the other tickets in blocked and move them into in progres

[2020-09-17 14:06] thejuliekramer commented on #2123
@cmugisha I think we can move this to done and track this in the issues in blocked

[2020-09-17 15:50] adborden commented on #2098
This should be done by PMO. I think for most of our URLs, we're just going to write a justification that these URLs need to be public for non-GSA partner review and automated QA checks by third-party services. Other programs have written similar justifications and we should crib off of that.

[2020-09-17 16:18] datagov-bot opened #2151 "deploy-ci-app-inventory #51 failed"
Build 'deploy-ci-app-inventory' is failing.

Changes since last successful build:
- [starsinmypockets] 03cdbb5c1e9d38b477ce5f1d66a64626f9aa0e83 - [dcat-usmetadata] Addl metadata page -- take 2

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-inventory/51/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-inventory/detail/deploy

[2020-09-17 16:20] jbrown-xentity commented on #2151
Started rebuild, looks like a hiccup from the logs (timeout waiting for response on pip build)

[2020-09-17 16:24] #2151 closed, assigned to nobody

[2020-09-17 17:18] chris-macdermaid commented on #2088
https://github.com/GSA/datagov-deploy-fgdc2iso/pull/2   fgdc2iso war file
https://github.com/GSA/catalog-fgdc2iso/pull/2    Add xslt file

[2020-09-17 17:24] pjsharpe07 commented on #897
Marking as `Done` as this is fixed in catalog-next

[2020-09-17 17:27] chris-macdermaid commented on #1799
PR https://github.com/GSA/datagov-deploy-fgdc2iso/pull/1

[2020-09-17 17:38] mogul commented on #897
Moving to `Icebox` until the epic for catalog-next lands... Will close this once the problem is fixed in production!

[2020-09-17 17:53] jbrown-xentity opened #2153 "O+M 9/18/2020 - 10/1/2020"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-09-17 18:39] #2140 closed, assigned to FuhuXia

[2020-09-17 19:59] jbrown-xentity opened #2154 "Catalog.data.gov unavailable in the DC area"
catalog.data.gov was unavailable from 10:25 am ET until 1:00 pm ET. Our New Relic reporting in that region did not give out any alerts, and was reporting normal behavior. We started discussions with both FCS and AWS to discover the root cause. We found that the requests were failing to reach the servers from cloudfront. Seems to be a possible misconfiguration with NetScaler firewall rules, or some

[2020-09-17 21:07] pjsharpe07 commented on #1879
Kicked off new job yesterday afternoon ~4PM EST.

Job still running today. After some investigation, noticed that the `fetch` process was running slowly and suspected that not all `fetch` jobs were running even though their status was up. Restarted all fetch jobs and this made the process significantly faster.

Going to create a ticket to address the above.

[2020-09-17 21:18] pjsharpe07 opened #2155 "Fetch jobs running but not contributing to harvest process"
We have 6 `harvest-fetch` processes running simultaneously on production. When reviewing the supervisor status, they might all be `up` but are not contributing to any harvest fetch jobs.

## How to reproduce

1. Slightly difficult to reproduce. If a harvest job is in the `fetch` stage of harvesting and is running slowly, restarting all supervisor fetch processes significantly speeds up the harvest

[2020-09-18 15:22] FuhuXia opened #2157 "404 on wordpress page https://www.data.gov/meta/highlights"
404 on https://www.data.gov/meta/highlights

![Screen Shot 2020-09-18 at 11 19 24 AM](https://user-images.githubusercontent.com/1392461/93615005-dd3bf880-f9a0-11ea-8c2e-328f63bad53a.png)

## How to reproduce

1. Go to https://www.data.gov/meta/
2. Click More Highlights link under the highlighted post

## Expected behavior

The page shows a list of highlighted meta posts

## Actual behavior

404

[2020-09-18 15:31] FuhuXia commented on #2157
Found this bug when dealing with a disappeared meta post in a [Slack conversation](https://gsa-tts.slack.com/archives/C2N85536E/p1600439407001500). Due to this bug, meta posts marked highlight will not show up in the /meta public page.

With or without this bug, I think highlighted post should also be listed at the bottom overall update list, otherwise user will miss those highlighted posts unless

[2020-09-18 19:40] jbrown-xentity commented on #1419
All major issues seem to be resolved. Current tests show a 7% error rate, with 4 harvest sources pending resolution (I expect that 7% error rate to drop below 2% once the last 4 harvest sources have been run).
Will continue to validate the final 4 harvest sources over the coming week.

[2020-09-21 13:09] avdata99 commented on #567
Related to #1848

[2020-09-21 14:08] avdata99 commented on #1848
I propose to remove the cleanup task @jbrown-xentity: https://github.com/GSA/ckanext-geodatagov/pull/159
Let me know if you think this is a good idea. We already have _timeouts_ in the new harvester, this function also mark as finished stuck jobs.

[2020-09-21 14:12] FuhuXia opened #2160 "Intermittent Snyk error in CircleCI"
snyk-test on repository [datagov-deploy](https://github.com/GSA/datagov-deploy) CircleCI intermittently gives error message:

`Authentication failed. Please check the API token on https://snyk.io`.

Usually a retry will solve it, but sometimes it takes several retries and hours to get a successful test.

![Screen Shot 2020-09-21 at 9 50 34 AM](https://user-images.githubusercontent.com/1392461/9377

[2020-09-21 14:46] pjsharpe07 commented on #1515
A calendar invite has been added to the data.gov with instructions (current date is 12/01/2020).

[2020-09-21 15:12] #1799 closed, assigned to chris-macdermaid

[2020-09-21 15:12] #2061 closed, assigned to hkdctol

[2020-09-21 15:12] #2069 closed, assigned to pjsharpe07

[2020-09-21 15:12] #2088 closed, assigned to chris-macdermaid

[2020-09-21 15:12] #1646 closed, assigned to pjsharpe07

[2020-09-21 15:12] #2019 closed, assigned to pjsharpe07

[2020-09-21 15:12] #2038 closed, assigned to FuhuXia

[2020-09-21 15:12] #2107 closed, assigned to jbrown-xentity

[2020-09-21 15:12] #2127 closed, assigned to FuhuXia

[2020-09-21 15:12] #2119 closed, assigned to jbrown-xentity

[2020-09-21 19:18] jbrown-xentity opened #2162 "Test ckan-clean-deleted job"
## User Story

As a data.gov admin, I want the ckan-clean-deleted job to have tests and be tested against production data so that the DB doesn't contain performance-impacting chaff.

## Acceptance Criteria

- [ ] GIVEN the job has tests that pass circle-ci \
  there is production data available in a testing system \
  WHEN the job runs \
  THEN the job completes with relevant logs/errors \
  AND w

[2020-09-21 20:56] FuhuXia commented on #2160
Replaced SNYK_TOKEN Environment Variable in CircleCI settings with my snyk token. Next time when the error persists, I will retry in CircleCi and local to compare result.

In the meanwhile, did a chat with Snky online help and submitted a [support ticket](support.snyk.io/hc/requests/6715). Waiting for Snyk's response.

[2020-09-21 21:12] FuhuXia commented on #2160
Response from chat:

Response from email:

[2020-09-22 01:09] adborden opened #2163 "Publisher hierarchy is not easily queryable in catalog"
## User Story

In order to easily filter results based on publisher organizations, open data user wants the publisher organization hierarchy captured in extras so they can easily be queried.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [

[2020-09-22 16:32] FuhuXia opened #2165 "Logs for Catalog RDS Postgres database size change"
## User Story

As a catalog.data.gov admin, I want to have a daily log file recording Catalog database's detailed size information so that I can have a better understanding what is the cause for the spikes in DB storage usage.

## Acceptance Criteria
- [ ] GIVEN a daily log file is generated
  WHEN production RDS database size increases
  THEN the log file shows which DB component(table, index...)

[2020-09-22 17:38] chris-macdermaid opened #2166 "Extras Rollup issue with Catalog record"
## How to reproduce
Go to https://catalog.data.gov/dataset/fws-critical-habitat-for-threatened-and-endangered-species-dataset and look at Extras Rollup. This will show the full metadata record in the Rollup.

## Expected behavior
The record should have the full metadata record in Extras Rollup, but should only have it once.

## Actual behavior
The record is duplicated multiple times inside the met

[2020-09-22 17:57] datagov-bot opened #2167 "deploy-ci-platform #210 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] 30dc06946f793a714d01639f00adf78e01ce1f9f - Replace fail with assert

- [adborden] a1bcd3e2725465aa76dced8326549c48c5453af8 - [smoke] add smoke test playbook

- [adborden] 201726e8f3ab8cd63ee12cc14b2688ced03e2b1c - [smoke] exclude jumpbox from port check

- [adborden] 78f011d56a82b197103fc4b82f61b2ea89bfcbee -

[2020-09-22 18:48] FuhuXia opened #2168 "Catalog RDS Postgres database size gets too big"
We have to increase Catalog RDS DB storage from 850DB to 950GB recently due to free space running out.  I think it is getting unnecessarily big. We need to research and find out:

1. What makes DB so big.
2. Is there any Postgres DB maintenance job that we are supposed to run regularly to keep DB size in check.
3. What is the reasonable storage size for production Catalog RDS DB
4. What threshold

[2020-09-22 21:29] adborden commented on #2167
This is a Jenkins-specific thing I've seen before. We're delegating the task to localhost with `become: true`. This requires `sudo` which is not installed within the container.

[code]

[2020-09-22 22:42] adborden commented on #1924
Resolved the issue in H1.

[2020-09-22 22:43] adborden commented on #2148
Deployed to production and resolved the issue in H1.

[2020-09-22 22:50] #2167 closed, assigned to adborden

[2020-09-23 05:43] mogul commented on #1943
I may have run into [a bug with how the `cloud-service-broker` interacts with Terraform 0.13](https://github.com/pivotal/cloud-service-broker/issues/99), which has new registry functionality. I think I can work around this by downgrading Terraform... Will give it a try in the morning.

[2020-09-23 14:06] FuhuXia opened #2173 "Redis service went down after reboot"
Host `redis1p.prod-ocsit.bsp.gsa.gov` was rebooted by the action/reboot.yml playbook. After reboot, New Relic reported
`redis service not running`. Logged into host to restart the service but it always returned the following error message:

[code]
## How to reproduce

Never happened before. After work-around in place, cant replicate.

## Work-around

Found out the folder `/var/log/redis` is missin

[2020-09-23 14:50] FuhuXia opened #2174 "supervisord went down after reboot"
Host `redis1p.prod-ocsit.bsp.gsa.gov` was rebooted by the action/reboot.yml playbook. After reboot, New Relic reported
`supervisord not running`. Logged into host, ran command `supervisorctl restart all`, got this error

[code]

## How to reproduce

Never happened before. After work-around in place, cant replicate.

## Work-around

Found out the folder `/var/log/supervisor` is missing. Here are th

[2020-09-23 14:51] FuhuXia commented on #2174
It is related to https://github.com/GSA/datagov-deploy/issues/2173. Work-arounds are similar too, mkdir necessary folder in /var/log

[2020-09-23 14:58] FuhuXia commented on #2174
Took a closer look at what happens after `redis1p` reboot. It appears that partition` /var/log` lost all its content and everthing started fresh. All files and folders on this partition are timestamped after the reboot.

[2020-09-23 16:14] FuhuXia opened #2178 "Nessus 09202020 - Tomcat upgrade"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.12a3gflgxh2p)._

**Date of report:** 2020-09-20
**Severity:** Moderate
**Due date:** 2020-12-20

- [ ] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

### Brief descripti

[2020-09-23 23:01] datagov-bot opened #2180 "deploy-ci-platform #216 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [noreply] fd26af96974855913959b7ba832999db274fc4df - Update datagov_in_service for sandbox

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/216/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/216/pipeline) (blue

[2020-09-24 00:08] adborden opened #2181 "Google+ reference on dataset page goes to non-existent service"
Google+ is no longer supported. We should remove any references from the data.gov.

## How to reproduce

1. https://catalog-next-datagov.dev-ocsit.bsp.gsa.gov/dataset/d3a58f26-e1ce-4f42-b3ca-963eba6dde17

## Expected behavior

Google+ is not referenced under the share menu.

## Actual behavior

Google+ is listed under the share menu and gives you an error.

[2020-09-24 12:44] avdata99 commented on #1848
To QA in sandbox:
 - Open the terminal
 - Run `sudo ckan --plugin=ckanext-geodatagov geodatagov --help`

[2020-09-24 12:56] avdata99 commented on #567
To QA in sandbox:
 - Open the terminal in catalog-next-web
 - run `sudo ckan --plugin=ckanext-geodatagov geodatagov jsonl-export`

[2020-09-24 13:31] FuhuXia commented on #1883
USWDS 2.9 is released. Showing different error on build stage.

[code]

[2020-09-24 16:40] FuhuXia opened #2182 "Netsparker 09222020 - Weak Ciphers Enabled"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.pcs30nu8hkyc)._

**Date of report:** 2020-09-22
**Severity:** Moderate
**Due date:** 2020-12-22

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has be

[2020-09-24 18:14] adborden commented on #567
@avdata99 the command is working but the output format is wrong, see my comment here https://github.com/GSA/ckanext-geodatagov/pull/160/files#r494515501

[2020-09-24 20:13] adborden opened #2185 "Smoke test for Solr"
## User Story

In order to ensure deploys to solr are successful before moving onto the ckan deploys, data.gov operator wants a smoke test added to the solr playbook.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN I am logged into

[2020-09-24 20:24] mogul commented on #2173
Going to wait until we see this happening again before we unthaw it.

[2020-09-24 20:24] mogul commented on #2174
Will unthaw this one if we see it happening more

[2020-09-24 21:36] jbrown-xentity opened #2186 "Inventory-next datapusher not working"
Inventory-next datapusher is misconfigured. The app reports as running, but cycles/crashes every 30 seconds, and never responds to any requests.

[code]

Currently blocking sandbox jenkins deployment (#2180)
## How to reproduce

1. Attempt to upload any csv data to https://inventory-next.sandbox.datagov.us/dataset

## Expected behavior

Service is running and responds to requests

## Actual behavi

[2020-09-24 21:41] jbrown-xentity commented on #2186
Current datapusher DB info (inventory-classic):
[code]
Not sure if this is created automatically or built manually.

[2020-09-24 22:03] adborden commented on #1848
Looks good to me.

[code]

Was also able to run the jsonl-export job in local development.

[2020-09-24 22:32] jbrown-xentity commented on #2186
Calling it for today, [branch changes](https://github.com/GSA/datagov-deploy/pull/2183) were overwritten by release process. Still not sure why service is failing, but probably has something to do with `ckanservice` module and the database configuration...

[2020-09-25 00:19] #2180 closed, assigned to jbrown-xentity, pjsharpe07

[2020-09-25 08:36] dependabot-preview[bot] opened #2188 "Dependabot couldn't authenticate with https://pypi.org/simple/"
Dependabot couldn't authenticate with https://pypi.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/GSA) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/GSA/update-logs/48593798).

[2020-09-25 13:34] jbrown-xentity commented on #1419
NOAA is going to data admins to verify data on sandbox and make comments. Plan is to aggregate feedback and if no blockers, set a date to cut over (clear and re-harvest) when we meet Oct 6.

[2020-09-25 15:23] jbrown-xentity commented on #2186
Something is going wrong with the ckanservice module and gunicorn. Gunicorn just kills the process after 30 seconds, something to do with no change (with no information on what went wrong, it just kills the process). We are way deep in the weeds on this, and I don't see us making any upstream requests to either of those repositories at this point.

Am going to roll back to WSGI deployment... While

[2020-09-25 16:03] FuhuXia opened #2189 "Force harvester to update a set of datasets"
## User Story

As a data.gov developer, I want the harvester to update a selective set of datasets so that some dataset glitches can be fixed without rerunning the entire harvest.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN I a

[2020-09-25 16:43] FuhuXia opened #2190 "Selectively re-index catalog datasets"
## User Story

As a data.gov developer, I want to re-index a selective set of dataset so that the dataset has consistent data between database and Solr.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN I am in the jumpbox \
  AND ru

[2020-09-25 17:45] jbrown-xentity commented on #2186
[Latest deploy works](https://inventory-next.sandbox.datagov.us/dataset/next-dataset/resource/3635ff0f-a6db-435e-9697-260cd3c393d0) :tada:
Will merge to develop and verify all systems still working before marking as ready for deploy.

[2020-09-25 17:47] FuhuXia opened #2191 "dashboardweb2p storage full"
`dashboardweb2p` root partition has 0 disk space left. Under the dashboard web root folder, there is a hidden file `./shared/archive/datajson-lines/.raw`. It was generated two hours ago and 12GB in size. Failed to view the content of the file, but after gzip, it became 12MB in size. So most likely it is an erroneous file generated by PHP application with tons of empty lines and receptive chars in

[2020-09-25 19:38] adborden opened #2193 "Tags are not discoverable in the catalog"
The tags filter shows the largest tags, clicking "Show more tags" will only show up to 50 tags. There are many more tags and there is nowhere to browse or search them all.

![Screen Shot 2020-09-25 at 12 37 17 PM](https://user-images.githubusercontent.com/509703/94308786-e5111500-ff2b-11ea-8189-b151ec64ec75.png)

## How to reproduce

1. https://catalog.data.gov/dataset

## Expected behavior

There

[2020-09-25 19:39] adborden opened #2194 "tag_list API return 500"
## How to reproduce

1. $ curl -v https://catalog.data.gov/api/action/tag_list > /dev/null

## Expected behavior

200

## Actual behavior

500

[2020-09-25 20:51] adborden opened #2201 "[Research 1d]: Determine best practice guidance for publishing new versions of a dataset resource"
## User Story

As a a Data Manager, I want guidance on how to publish new versions of a dataset resource on Inventory so that I can publish new versions without breaking links or losing valuable revision history.

## Background
Many datasets are temporal, in that contain data to a specific time period. Usually, new datasets are published regularly. A great example [GSA's Per Diem Rates](https://ca

[2020-09-25 23:38] adborden commented on #1850
I tested this on catalog-next and I'm still seeing a broken image.

[2020-09-26 01:41] #2188 closed, assigned to nobody

[2020-09-28 14:54] #2123 closed, assigned to avdata99, thejuliekramer

[2020-09-28 14:54] #1848 closed, assigned to avdata99, thejuliekramer

[2020-09-28 15:05] jbrown-xentity commented on #1320
A team member was locked out again today. Not sure if this is just a lingering issue, or if something is not working with the fix.

[2020-09-28 16:55] adborden commented on #1795
Seeing this on staging, catalogharvester1d. Could this be a bionic thing? the same fix should work, but I'm luke warm on enabling email in staging without disabling sending to external accounts (non data.gov folks).

[2020-09-28 17:42] jbrown-xentity commented on #2186
All necessary PR's are merged, final cleanup is pending #2208 . Ready for deployment...

[2020-09-28 20:22] chris-macdermaid opened #2209 "Update datagov-deploy-fgdc2iso to get the latest release version of fgd2iso.war from catalog-fgdc2iso"
## User Story

As a data.gov application admin deploying the fgdc2iso service, I want the [GSA/datagov-deploy-fgdc2iso](https://github.com/GSA/datagov-deploy-fgdc2iso) to use the latest release version of the [GSA/catalog-fgdc2iso/fgdc2iso.war](https://github.com/GSA/catalog-fgdc2iso/releases/latest) so that application can be deployed efficiently and with the latest updates.

## Acceptance Criter

[2020-09-28 22:07] jbrown-xentity commented on #1847
Noted that only instances still using the old key are inventory and catalog trusty instances. Given we are working towards retirement of these systems in favor of catalog-next and inventory-next, we are iceboxing this until the release is done.
At that point, the only work that will need to be done is verifying with BSP the cloudformation template has the latest key file, and the jumpbox `.ssh/con

[2020-09-29 13:24] jbrown-xentity opened #2212 "[Research] ckan-combine-feeds job"
## User Story

As a data.gov admin, I want to know if USAsearch/Bing can ingest pagination in atom feeds so that we can prioritize this work or deprecate this job/code.

## Acceptance Criteria

- [ ] GIVEN a USAsearch scan is done of the data.gov atom feed \
  WHEN a recently created dataset is searched \
  THEN the dataset is discoverable \
  OR a definition of how to make it discoverable is crea

[2020-09-29 13:30] jbrown-xentity opened #2213 "Test ckan-db-solr-sync job"
## User Story

As a data.gov admin, I want the ckan-db-solr-sync job to have tests and be tested against production data so that the job can be automated in production.

## Acceptance Criteria

- [ ] GIVEN the job has tests that pass circle-ci \
  AND there is production data available in a testing system \
  WHEN the job runs \
  THEN the job completes with relevant logs/errors \
  AND within 24

[2020-09-29 13:34] jbrown-xentity opened #2214 "Test ckan-export-csv job"
## User Story

As a data.gov admin, I want the ckan-export-csv job to have tests and be tested against production data so that the job can be automated in production.

OR

I want the ckan-export-csv job to be removed so that I reduce the amount of custom code.

## Acceptance Criteria

- [ ] GIVEN the job has tests that pass circle-ci \
  AND there is production data available in a testing system \

[2020-09-29 13:41] jbrown-xentity opened #2215 "Test ckan-harvest-job-cleanup job"
## User Story

As a data.gov admin, I want the `ckan-havest-job-cleanup` job to have tests and be tested against production data so that the job can be automated in production.

## Acceptance Criteria

- [ ] GIVEN the job has tests that pass circle-ci \
  AND there is production data available in a testing system \
  WHEN the job runs \
  THEN the job completes with relevant logs/errors \
  AND wi

[2020-09-29 14:32] FuhuXia commented on #2160
Got email from Snyk support today. The issue is fixed.

[2020-09-29 19:39] adborden opened #2217 "Use friendly name for License field in Inventory dataset view"
## User Story

In order to spot the license of my dataset is correct at a glance, Inventory dataset manager wants wants the well known license URLs to appear with the friendly License name.

For example, this should appear as [Public Domain](https://creativecommons.org/publicdomain/zero/1.0/).
![Screen Shot 2020-09-29 at 12 32 37 PM](https://user-images.githubusercontent.com/509703/94607139-5f090d

[2020-09-29 20:46] adborden opened #2218 "Display friendly name for License field in Catalog dataset view"
## User Story

In order to understand the license of a dataset based on a well-known name, open data user wants wants the well known license URLs to appear with the friendly License name in the catalog.

For example, this should appear as [Public Domain](https://creativecommons.org/publicdomain/zero/1.0/).
![Screen Shot 2020-09-29 at 12 32 37 PM](https://user-images.githubusercontent.com/509703/94

[2020-09-29 20:46] adborden commented on #2218
Similar on inventory: https://github.com/GSA/datagov-deploy/issues/2217

[2020-09-29 22:20] mogul commented on #1358
@woodt Should this be going on a board somewhere? Or do we feel like this is done now?

[2020-09-29 22:21] mogul opened #2219 "www.data.gov uses login.gov for authn"

[2020-09-29 22:22] mogul opened #2220 "inventory.data.gov uses login.gov for authn"
## User Story

As an organization data admin, I want to be able to access the latest version of the inventory app in a secure way so that I know that my data is secure.

## Acceptance Criteria

- [x] GIVEN login.gov is setup on inventory.data.gov \
  WHEN a user goes to https://inventory-next.data.gov/user/login [or staging equivalent] \
  THEN the user can login to login.gov \
  AND the user is r

[2020-09-29 22:22] mogul opened #2221 "catalog.data.gov uses login.gov for auth"

[2020-09-29 23:25] adborden opened #2223 "Task: Add subagency=TTS parameter for DAP assets"
## User Story

The TTS Digital Council [requested](https://gsa-tts.slack.com/archives/CH0PJ6F3R/p1601392772000200) that we add the subagency tag to all DAP assets for data.gov.

[List of TTS websites](https://docs.google.com/spreadsheets/d/12_9xUr6JKh_rlVjUCxZCAHXNefxO9MEo3oJEZuHatjQ/edit#gid=2013137748)

[Instructions](https://docs.google.com/document/d/1ESeQ_EaGR9RfL6Zs7pII5UFmwE0TuNwMEJDhRTg-gd

[2020-09-29 23:26] mogul commented on #2149
I took care of as much of the remaining checklist as I could. The only thing I was unable to handle was the `inventory-help` mailing list membership (but I asked @hkdctol to take care of it)

@srinirei, please check your email for various invitations to these systems that you need to confirm.

[2020-09-30 00:03] adborden commented on #2098
Email sent to our Digital Council representatives with justification for:
- federation-staging.data.gov
- resources-staging.data.gov
- sdg-staging.data.gov
- strategy-staging.data.gov

[2020-09-30 02:25] jbrown-xentity opened #2224 "Release 20201001"
## Release 10/1/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stagi

[2020-09-30 15:01] datagov-bot opened #2226 "deploy-ci-platform #235 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [andres] 8d3ec87a3ec66d8767d9f8af3a70cbef2ae7459d - Point S3 data to a new folder

No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/235/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/235/pipeline) (b

[2020-09-30 15:15] jbrown-xentity commented on #2226
Seems like solr was briefly unreachable ([see full log output](https://ci.sandbox.datagov.us/blue/rest/organizations/jenkins/pipelines/deploy-ci-platform/runs/235/nodes/35/steps/40/log/?start=0) and search `fatal`).
SSH to datagov-solr works fine for me.
Restarting jenkins deploy to see if a blip.

[2020-09-30 16:14] adborden opened #2227 "[Onboard] dan.mayol@civicactions.com"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Ad

[2020-09-30 16:18] adborden opened #2228 "[Onboard] anuar.ustayev@datopian.com"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Ad

[2020-09-30 16:19] adborden opened #2229 "[Onboard] karlen.manaseryan@datopian.com"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Ad

[2020-09-30 16:55] jbrown-xentity opened #2231 "[research: 2 days] Canonical CKAN metrics reporting"
## User Story

As a data.gov admin, I want to know what the canonical stats are for catalog.data.gov so that we can provide accurate usage statistics internally and externally.

## Acceptance Criteria

- [ ] We've documented the output and purpose of the [various CKAN metrics jobs](https://github.com/GSA/datagov-deploy/wiki/Metrics).
- [ ] We have a recommendation on whether we should use/improve

[2020-09-30 17:09] #2226 closed, assigned to nobody

[2020-09-30 18:50] datagov-bot opened #2233 "deploy-ci-platform #238 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [noreply] ad17a1344e601207c1b1a8d1553f34be9a6cd845 - Update onboard-team-member.md

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/238/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/238/pipeline) (blue)

[2020-09-30 19:34] #2233 closed, assigned to nobody

[2020-09-30 19:44] mogul opened #2235 "New Relic monitors use cache-busting URLs"
## User Story

In order to increase our visibility of potential production issues, the data.gov team wants New Relic to use cache-busting URLs to monitor production services.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a conte

[2020-09-30 19:46] mogul opened #2236 "Review health check endpoints for all applications"
## User Story

In order to ensure our existing monitoring is valuable, the data.gov team wants to review health check endpoints for all applications.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextual precondition] \
  [

[2020-09-30 19:48] mogul opened #2237 "Improve WordPress activity log"
## User Story

In order to diagnose problems faster, the data.gov team wants the WordPress application to produce actionable and clear logs.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextual precondition] \
  [AND optio

[2020-09-30 19:53] mogul opened #2238 "Review logs to ensure sufficient detail is captured"
## User Story

In order to enable faster, more confident incident resolution while meeting our compliance requirements, the data.gov team wants to ensure that all logs are recording useful details as specified in our SSP.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Be

[2020-09-30 20:12] jbrown-xentity commented on #1419
Latest spreadsheet counts are down to 1.5% error rate, with that expected to be < 1% after latest harvests are complete.

[2020-09-30 20:40] jbrown-xentity opened #2239 "Add tests to ckan-report job"
## User Story

As a data.gov admin, I want the ckan-report job to have tests and be tested against production data so that the job can be automated in production.

## Acceptance Criteria

- [ ] GIVEN the job has tests that pass circle-ci \
  AND there is production data available in a testing system \
  WHEN the job runs \
  THEN the job completes with relevant logs/errors \
  AND within 24 hours

[2020-09-30 20:44] jbrown-xentity opened #2240 "Test qa-update job(s)"
## User Story

As a data.gov admin, I want the `qa-update` job to have tests and be tested against production data so that the job can be automated in production.

## Acceptance Criteria

- [ ] GIVEN the job has tests that pass circle-ci \
  AND there is production data available in a testing system \
  WHEN the job runs \
  THEN the job completes with relevant logs/errors \
  AND within 24 hours

[2020-09-30 20:59] jbrown-xentity opened #2241 "Deleted DOI datasets do not appear on data.gov"
## User Story

As a DOI data admin, I want datasets removed at the source catalog (data.doi.gov) to be removed in data.gov so that old data does not exist on data.gov.

## Acceptance Criteria

- [ ] GIVEN a dataset on data.doi.gov that was previously on data.gov has been removed \
  WHEN a data.gov harvest of DOI data happens \
  THEN the dataset is removed on data.gov

## Background
Even [upstrea

[2020-09-30 21:29] datagov-bot opened #2242 "deploy-ci-platform #240 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [noreply] c3d201f2f028a273cc6af28c18e5e3f802af6bd8 - Remove HackerOne MFA note; now uses GSA SecureAuth

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/240/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/240/pi

[2020-09-30 21:38] jbrown-xentity opened #2243 "WAF/Geospatial in-place harvest update"
Sometimes the harvest can "remove" and "create" a dataset that is very similar/exactly the same, instead of updating the existing dataset.

This creates a number of issues:

 - Any topics the dataset was a part of is now broken
 - Any metrics/page views are reset/broken

## How to reproduce

1. Harvest a WAF with file names that have been updated

## Expected behavior

Dataset is updated in place

[2020-09-30 23:25] #2242 closed, assigned to nobody

[2020-10-01 14:11] CodeShtuff commented on #567
QA looks good.

Steps/Results:
Exported json file:
`$ docker-compose exec ckan bash -c "paster --plugin=ckanext-geodatagov geodatagov jsonl-export"
... trimmed for brevity ...
2020-10-01 14:04:29 jsonl is being generated, 1 pages, total 9 datasets to go.
2020-10-01 14:04:29 doing page 1/1...
2020-10-01 14:04:29,983 INFO  [ckanext.geodatagov.plugins] NOT Added FQ to collection_package_id
Compressin

[2020-10-01 15:21] FuhuXia opened #2244 "inventory-next UI - user activity shows raw HTML code."
User activity showing RAW HTML like these:

![Screen Shot 2020-10-01 at 11 17 01 AM](https://user-images.githubusercontent.com/1392461/94828646-af5ea700-03d7-11eb-806a-eacaeab1cf83.png)
![Screen Shot 2020-10-01 at 11 16 47 AM](https://user-images.githubusercontent.com/1392461/94828647-aff73d80-03d7-11eb-86e4-652447448d12.png)

## How to reproduce

1. Login to inventory-next.
2. Go to /dashboard, o

[2020-10-01 15:33] FuhuXia opened #2245 "inventory-next UI Broken Images"
inventory-next shows broken image for user's Gravatar

![Screen Shot 2020-10-01 at 11 25 38 AM](https://user-images.githubusercontent.com/1392461/94829765-dd90b680-03d8-11eb-9a37-3a16597e4205.png)
## How to reproduce

1. Log into inventory-next.
2. Go to any page
3. headers have broken images

## Expected behavior

Images display correctly

## Actual behavior

Broken or non-displayed images.

[2020-10-01 15:42] FuhuXia opened #2246 "inventory-next UI - organization logo size"
Some of inventory organization logos are not sized properly.

![Screen Shot 2020-10-01 at 11 38 31 AM](https://user-images.githubusercontent.com/1392461/94831524-d10d5d80-03da-11eb-8787-aa7af45e5a33.png)

## How to reproduce

1. Go to inventory-next.domain.name/organization

## Expected behavior

All organization logos should have same width, fit within its grid.

## Actual behavior

Some logos ar

[2020-10-01 16:25] jbrown-xentity commented on #1419
Confirmation from data provider at NOAA that one set of errors are expected (dataset is published in multiple WAF's, and CKAN won't harvest the duplicate GUID). This leaves us with a [true error rate of 0.2%](https://docs.google.com/spreadsheets/d/1Afgx0nGPcsNu0-nIvhcQ3RRAJkcesaCPdcDqT4fIaBI/edit#gid=0). Will propose to move forward with CSW harvest source clear and WAF harvest source creation and

[2020-10-01 16:29] FuhuXia opened #2247 "[research-1d] inventory-next DROP TABLE related_dataset; DROP TABLE related"
During inventory-next database migration, after running `ckan db upgrade`,  we are seeing this message:

[code]

There are 15 rows of data in each table.

## Results/what we're after
1. What is the purpose of the tables `related` and `related_dataset` in CKAN 2.5.
2. What to do with the 15 rows of data in new CKAN 2.8
3. Can we drop them.

[2020-10-01 16:54] FuhuXia opened #2248 "Test and validate the inventory-next switchover plan"
## Acceptance criteria
- [x] Given I follow the steps described in the plan
  WHEN I visit inventory.data.gov/api/action/status_show
  THEN I see CKAN 2.8 in the response.
- [x] Given I follow the steps described in the plan
  WHEN I visit inventory.data.gov/api/action/datastore_search?resource_id= ([or datastore tests are complete](https://docs.ckan.org/en/2.8/maintaining/datastore.html#test-the-

[2020-10-01 16:58] FuhuXia commented on #1675
UI issue #2244, #2245, #2246
DB issue #2247
Switchover plan #2248

[2020-10-01 17:42] jbrown-xentity commented on #1972
Fixed upstream:
https://github.com/ckan/ckan/blob/master/ckan/controllers/group.py#L285-L289

[Example (catalog-next) of bug working](https://catalog-next.sandbox.datagov.us/organization/fe75ed93-9c93-4c56-bc02-11ab228d1abd?tags=nara)

[2020-10-01 18:21] CodeShtuff commented on #2227
@adborden I have local branches for both datagov-deploy (for adding SSH key) and datagov-infrastructure-live (for adding user to users.tf) repos, however trying to push my branch up encounters a not surprising permissions rejection. Perhaps I missed a step somewhere (request for access, etc.)?

[2020-10-01 18:34] adborden opened #2249 "[research: X days] Monitor and alert on harvest report email delivery failures"
## User Story

In order to receive regular reports on the harvesting of my agency's datasets without having to manually check for missing emails each day, data managers want monitoring and alerting on harvest report delivery so any issues in report delivery will be addressed without my intervention.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifyin

[2020-10-01 19:29] jbrown-xentity opened #2250 "O+M 2020-10-1 - 2020-10-15"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-10-01 20:24] adborden commented on #2249
The AC is ambiguous, we might want to make this a research story.

[2020-10-01 20:33] jbrown-xentity opened #2251 "Release 2020-10-15"
## Release 10/15/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

Chris and Srini to pair with Preston during this process

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox

[2020-10-01 20:43] mogul opened #2252 "Snyk should check both inventory and inventory-next"
## User Story
In order to avoid wasted time fixing issues that are addressed in newer versions of CKAN, the data.gov team wants Snyk to report on findings in the inventory-next codebase.

## Acceptance Criteria

- [x] WHEN an inventory application is ready to be released in an environment \
  THEN a snyk report is created/viewable

## Background
Would be helpful to clean up inventory-next security

[2020-10-01 20:45] pjsharpe07 commented on #2252
It looks like the functionality through the UI is in [beta](https://support.snyk.io/hc/en-us/articles/360001497578-Which-branch-does-Snyk-Monitor)

[2020-10-01 20:51] adborden commented on #2246
Consider if the image upload feature is working so thtat we can use that instead of the image linking.

[2020-10-01 21:57] FuhuXia opened #2254 "Netsparker 2020-09-22 reports jquery out-of-date"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.ym51y6s86z8y)._

**Date of report:** 2020-09-18
**Severity:** Medium
**Due date:** 2020-12-18

### Brief description
jQuery out-of-date.

Affecting Inventory and Catalog. [Details](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjr

[2020-10-01 22:19] jbrown-xentity commented on #1595
Closing as duplicate of https://github.com/GSA/datagov-deploy/issues/2213

[2020-10-01 22:19] #1595 closed, assigned to nobody

[2020-10-02 15:38] datagov-bot opened #2255 "deploy-ci-platform #243 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [jbrown] 0ebead287e13590e378aa182c6ec85b8463f5b32 - Add back s3 for sandbox

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/243/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/243/pipeline) (blue)

[2020-10-02 15:49] jbrown-xentity commented on #2255
Same Solr unreachable error. Re-running. Will investigate tainting and re-building this instance, but will validate no dataset counts are needed on catalog-next or inventory-next before removing...

[2020-10-02 15:55] jbrown-xentity commented on #2241
As a note, this is possibly why we sometimes need to do a clear and re-harvest (though other external factors cause the clear and re-harvest to be necessary too). We have found that the code exists both upstream and on GSA fork to force a complete re-pull of data from the source; however the UI doesn't have a way to update this parameter. You can run an update on the harvest source config in the d

[2020-10-02 16:18] #2255 closed, assigned to nobody

[2020-10-02 17:16] pjsharpe07 commented on #2252
I sent an email to snyk support to see if we can use their two branches, same repo beta.

[2020-10-02 17:51] jbrown-xentity commented on #2252
Looking at the [snyk cli cheat sheet (Snyk test header)](https://snyk.io/blog/snyk-cli-cheat-sheet/) we need to pip install our dependencies before running the snyk monitor, which would involve either

1. Creating a custom build of our dependency jobs on a python 2.7 container
1. Add npm and snyk cli to the docker container, including validation information

[Current work is being done here](https

[2020-10-02 18:13] datagov-bot opened #2256 "deploy-ci-platform #245 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] 24a90aa99bd7a13bc8e414d70a365b81a936cf5a - refactoring urls_public and urls_admin

- [fxia] 899ca7e7796d5bdf91c6e73f4bd672bfb0ce676f - whitelist [admin-]catalog.data.gov and localhost

- [fxia] 7f6f79b4c9d24f2d662d21877c7a3a37ac8113d7 - add missing vars to molecule

- [fxia] 61190f0feccd8da9a46923c912be36774a65c1

[2020-10-02 19:03] CodeShtuff commented on #2227
Aaron provided guidance on process and verification of correct permissions. Found that it was my email push settings causing the issue with the deploy repo. Created fork of the infrastructure repo for creating the PR. Both PRs have been created to complete those relevant steps.
https://github.com/GSA/datagov-deploy/pull/2257
and
https://github.com/GSA/datagov-infrastructure-live/pull/113

Assignin

[2020-10-02 22:03] #2256 closed, assigned to jbrown-xentity

[2020-10-02 22:08] jbrown-xentity commented on #2252
Snyk added our account to the beta, it is now scanning both repositories!
[inventory-classic](https://app.snyk.io/org/data.gov/project/ebc2495d-0dea-47d5-b623-86caed4b7bae)
[inventory-next](https://app.snyk.io/org/data.gov/project/4a97baff-91fa-4489-9d10-0f6ac9ddee06)

Both can be seen on the [projects page](https://app.snyk.io/org/data.gov/projects)

[2020-10-05 15:44] pjsharpe07 commented on #2068
There is no mention of this vulnerability in the affected application. This was checked again today and has already been added as an exception in our [snyk file](https://github.com/GSA/inventory-app/commit/6ad5f6a7a80f34dcae2c1a01d91a37a2d72c3305). Moving this ticket to done

[2020-10-05 16:36] FuhuXia commented on #1976
False positive. Details in google doc.

[2020-10-05 16:51] adborden opened #2260 "XSS on catalog.data.gov"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.5zl3vnscvhem)._

https://hackerone.com/reports/994380
**Date of report:** 9/29/2020
**Severity:** High
**Due date:** 10/29/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and

[2020-10-05 17:39] jbrown-xentity commented on #1893
The data has been fully downloaded. The [zip file](https://drive.google.com/file/d/1uTZc2JRG6NX6Ndw9MH1axIf6PyAF7YhY/view?usp=sharing) contains the full list of packages/datasets, metadata, and resource metadata. It also contains the raw data itself, along with the log file verifying that all data downloaded successfully. This should be sent to the Department of Education contact at this point I b

[2020-10-05 17:52] jbrown-xentity commented on #1893
[Public Gist of script run to download data](https://gist.github.com/jbrown-xentity/3e31c4afb4354cdfb845f2a008c718d2)

[2020-10-05 18:15] kimwdavidson commented on #1403
Duplicate. closing

[2020-10-05 18:15] #1403 closed, assigned to starsinmypockets

[2020-10-06 15:27] pjsharpe07 opened #2261 "Implement GSA fork of usmetadata on inventory-next"
## User Story

As a data.gov developer, I want to reduce forked code so that ongoing maintenance is simpler and safer.

## Acceptance Criteria
- [ ] GIVEN the inventory-next application is using the GSA usmetadata extension
  WHEN I run the inventory playbook
  THEN the playbook runs without error
  AND the app functions as expected
  AND the usmetadata extension functions as expected

## Backgrou

[2020-10-06 15:33] pjsharpe07 opened #2262 "GSA usmetadata extension is under CI/CD"
## User Story

**ticket needs grooming**

As a data.gov developer, I want confidence that I am not committing bad code through ci/cd.

## Acceptance Criteria
- [ ] GIVEN I have configured circleci on usmetada repo
  WHEN I make a commit into this repo
  THEN circleci runs tests

## Background
Currently circleci is not configured to run on [GSA's usmetadata repo](https://github.com/GSA/USMetadata).

[2020-10-06 15:46] FuhuXia commented on #2247
We can safely drop the two tables `related` and `related_dataset` after CKAN 2.8 upgrade.

Related Item feature in and before CKAN 2.5:

       Related Media is any app, article, visualisation or idea related to
       this dataset.

       For example, it could be a custom visualisation, pictograph
       or bar chart, an app using all or part of the data or even a news story
       that referenc

[2020-10-06 16:38] jbrown-xentity commented on #1893
[Public Gist of script to remove data](https://gist.github.com/jbrown-xentity/06e2035688c4be56d994866ccc429919)

Data removed for department of education

[2020-10-06 17:00] jbrown-xentity opened #2263 "Add New Relic Application agent for catalog"
## User Story

As a catalog administrator, I want need catalog configured with New Relic so that I can can monitor and evaluate blocking requests/weak points in the system.

## Acceptance Criteria

- [ ] GIVEN the catalog playbook is run on staging and production \
  WHEN I look at New Relic UI \
  THEN I can see the different applications and machines \
  AND a breakdown of the different componen

[2020-10-06 17:12] #1924 closed, assigned to adborden

[2020-10-06 17:12] #2143 closed, assigned to adborden

[2020-10-06 17:12] #2148 closed, assigned to adborden

[2020-10-06 17:40] #950 closed, assigned to pjsharpe07

[2020-10-06 17:40] #1675 closed, assigned to FuhuXia

[2020-10-06 17:40] #1972 closed, assigned to pjsharpe07

[2020-10-06 17:40] #2118 closed, assigned to chris-macdermaid

[2020-10-06 17:40] #2224 closed, assigned to jbrown-xentity

[2020-10-06 17:40] #1515 closed, assigned to pjsharpe07

[2020-10-06 17:40] #1517 closed, assigned to jbrown-xentity

[2020-10-06 17:40] #2153 closed, assigned to FuhuXia

[2020-10-06 17:40] #2160 closed, assigned to FuhuXia

[2020-10-07 00:53] adborden opened #2265 "FAQ or launch page for agencies new to OPEN Government Data Act on r.d.g"
## User Story

In order to have a single resource as a jumping off point when I'm feeling overwhelmed about these new requirements for my agency, agency data managers who are brand new to open data and the OPEN Government Data Act wants an FAQ or launch page that aggregates resources specifically for the "brand new to open data agency" persona.

## Acceptance Criteria
[ACs should be clearly demoab

[2020-10-07 01:25] adborden opened #2266 "Public link to DCAT-US accessLevel loses anchor on redirect"
## How to reproduce

1. https://catalog.data.gov/dataset/fy2013-per-diem-reimbursement-rates
1. Click "Public"

## Expected behavior

Should be directed to the accessLevel anchor on the DCAT-US page (https://resources.data.gov/resources/dcat-us/#accessLevel)

## Actual behavior

The link goes to https://resources.data.gov/schemas/dcat-us/v1.1/#accessLevel which redirects and loses the anchor.

[2020-10-07 01:26] adborden commented on #2266
I think linking to the specific spec version is correct and we should switch the redirect in resources.data.gov. Instead of dcat-us being the canonical page, it should be dcat-us/v1.1.

[2020-10-07 05:15] mogul opened #2267 "CDOs can easily run their own CKAN*"
## Feature/what we're after
An agency CDO can deploy a production-worthy, compliant CKAN service in less than a day.

## Anticipated/hypothesized benefits
- Dramatically reduce the acquisition, development, and operations effort/cost for federal agencies to start running their own CKAN data service
- Reduce the compliance effort needed to put a CKAN deployment through an agency ATO process
- Agenc

[2020-10-07 16:30] jbrown-xentity opened #2268 "s3Filestore not working for inventory-next"
S3 extension is able to save the dataset on s3, but is unable to extract it (gives a 500 internal server error when you try). This *seems* to break datapusher, but datapusher works fine as long as it can download the file.

## How to reproduce

1. Upload a new resource on an inventory-next deployment
1. Download that resource that was just uploaded

## Expected behavior

Download completes

## Act

[2020-10-07 16:49] jbrown-xentity commented on #2263
Specific to catalog, we need to:
- [ ] Remove the python-agent-ansible role from catalog-next playbook
- [ ] Add new relic python to dependency list
- [ ] Add new relic addition/configuration to gunicorn ([look for best practices](https://docs.newrelic.com/docs/agents/python-agent/web-frameworks-servers/python-agent-gunicorn-wsgi-web-server))
- [ ] Use [environment variables instead of config file

[2020-10-07 17:27] jbrown-xentity commented on #1893
Purge did not work, to look at command line options/tools.

[2020-10-07 19:06] FuhuXia commented on #634
logrotate is not designed to handle files with different extensions, i.e. `audit.log.???`,  in this folder.  I think we should add a cronjob to clean files based on file timestamps.

[2020-10-07 19:39] adborden commented on #634
auditd has it's own log rotation mechanism. I think we want to address it there. https://github.com/GSA/ansible-os-ubuntu-16/blob/a4f78639b7be2e7e20e8cc5c8d0e4d328861b3bb/tasks/section4.yml#L13

[2020-10-07 21:29] mogul commented on #1433
In the time since we completed this work (April!) and have been waiting for our assessment slot, GSA IT has mandated new sub-sections in 10.g (10.7, 10.8, 10.9) that must be included in all SSPs. We were told this week that until we filled in those sections and got another ISE approval, we would not be considered for any open assessment slot.

So we're reopening this long-closed issue to continue

[2020-10-07 23:26] jbrown-xentity commented on #1419
Harvest clear of CSW and switchover to WAF to commence early 10/12. NOAA description updated to reflect this, NOAA has updated personnel on their side.

[2020-10-08 13:29] jbrown-xentity commented on #2098
Emails this morning show that either our justification was not accepted or it was not put in on time. Email requested to put justification in [spreadsheet](https://docs.google.com/spreadsheets/d/1OBO6g7_OsVBv0vG8WSCI6L2FD_iRh3A7a_6eQWj2zLE/edit#gid=2013137748&fvid=1173684912) (would have done myself, but I only have read-only access).
Reopening to track...

[2020-10-08 13:36] jbrown-xentity commented on #2098
We have 18 sites under our domain/responsibility which are ["broken"](https://docs.google.com/spreadsheets/d/1OBO6g7_OsVBv0vG8WSCI6L2FD_iRh3A7a_6eQWj2zLE/edit#gid=2013137748&fvid=1822148686) (search `datagovhelp`).

We have 6 sites under our domain/responsibility which need ["mod plans"](https://docs.google.com/spreadsheets/d/1OBO6g7_OsVBv0vG8WSCI6L2FD_iRh3A7a_6eQWj2zLE/edit#gid=2013137748&fvid=10

[2020-10-08 15:13] pjsharpe07 commented on #2261
It looks like there is [an old PR](https://github.com/GSA/USMetadata/pull/39) that started this work.

[2020-10-08 16:43] adborden commented on #2098
@jbrown-xentity thanks for re-opening. @hkdctol and I will follow up.

[2020-10-08 20:16] mogul commented on #2191
Choosing to `Icebox` this one until we see it happening again.

[2020-10-08 20:18] mogul commented on #2194
Moving to `Icebox` since the API is not in active use by anyone other than us (when debugging)

[2020-10-08 20:21] mogul commented on #2212
No pressing need for this job since it seems like the search engines are indexing using the sitemap.xml, which is generated correctly.

[2020-10-08 20:25] mogul commented on #2215
We can revisit this once we are on `catalog-next` in production.

[2020-10-08 20:31] mogul commented on #2239
To be re-evaluated once we're on `catalog-next`

[2020-10-08 20:35] mogul commented on #2241
Another avenue to explore: Find a way that DOI could provide a data.json file within the constraints of the schema, so that CKAN-to-CKAN harvesting is not needed.

[2020-10-08 20:36] mogul commented on #2241
To keep in mind: If we fix this, let's make sure our fix is something that upstream is willing to accept.

[2020-10-08 20:57] mogul commented on #2071
@kimwdavidson 🔔

[2020-10-08 20:57] datagov-bot opened #2270 "deploy-ci-platform #254 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [christopher.macdermaid] b927e6ec507d7f01b0392c8287334e76d46d4e37 - Bump fgdc2iso version

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/254/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/254/pipeline) (blue)

[2020-10-08 20:59] mogul commented on #1879
We should check whether we're seeing the same performance under catalog 2.8+ before we dive back into this.

[2020-10-08 21:49] #2270 closed, assigned to nobody

[2020-10-08 22:28] jbrown-xentity opened #2271 "CKAN purge job"
## User Story

In order to free up resources from deleted datasets, data.gov team members want a regularly scheduled purge job to remove deleted resources.

## Acceptance Criteria

- [ ] GIVEN datasets have been deleted in CKAN
  WHEN the deleted dataset has been deleted more than X days ago (configurable)
  THEN datasets and related resources are purged from the database

## Background
The purge

[2020-10-08 22:29] jbrown-xentity commented on #1893
Created new ticket for [purging data](https://github.com/GSA/datagov-deploy/issues/2271). This data is no longer accessible by the public, marking as done.

[2020-10-09 14:57] FuhuXia opened #2272 "Inventory-next production environment ready"
## User Story

Now that inventory-next has been tested in the staging environment, complete the following set up steps to get inventory-next running on production for dry-runs and final switchover.

## Details/tasks
- [x] [Request DNS](https://github.com/GSA/datagov-deploy/wiki/DNS) for inventory-next.data.gov (ticket to BSP)
- [x] [Request SSL certificate](https://github.com/GSA/datagov-deploy/wi

[2020-10-09 15:57] adborden commented on #2271
Let's make sure there's an issue opened upstream for this. I don't see a reason why CKAN wouldn't want the purge action to be more robust.

[2020-10-09 16:18] FuhuXia opened #2273 "[research: 4h] Catalog returns 500 for some datasets"
Came across a list of datasets.  Clicking on one of them leads to a 500 error. Need to look for the cause and see if it is specific to this dataset, or it affects many others as well.

## How to reproduce

From https://catalog.data.gov/dataset?groups=local#topic=local_navigation, the [Local Weather Archive](https://catalog.data.gov/dataset/local-weather-archive) is listed as 3rd one from top.

##

[2020-10-09 17:01] #567 closed, assigned to danmayol

[2020-10-09 17:03] #2227 closed, assigned to adborden

[2020-10-09 20:03] FuhuXia commented on #2268
fixed with https://github.com/GSA/ckanext-s3filestore/pull/1

[2020-10-09 21:34] FuhuXia commented on #2186
Inventory-next datapusher not working on staging.

[2020-10-12 13:44] jbrown-xentity commented on #2271
Good call. Made comment on [upstream ticket](https://github.com/ckan/ckan/issues/4398).

[2020-10-12 21:27] jbrown-xentity commented on #2122
Note ISO19115-1 support was requested 3.5 years ago: https://github.com/GSA/data.gov/issues/764

[2020-10-12 22:18] jbrown-xentity commented on #2263
Not sure how to proceed. Gunicorn implementation is only done at the ansible level as part of supervisor, the docker system implements the OKFN docker build which [starts the application using UWSGI](https://github.com/okfn/docker-ckan/blob/master/ckan-base/setup/start_ckan.sh#L43) (or possibly [paster serve](https://github.com/okfn/docker-ckan/blob/master/ckan-dev/setup/start_ckan_development.sh#

[2020-10-13 16:37] jbrown-xentity opened #2276 "Pycsw tests"
## User Story

As a data.gov admin, I want CircleCi tests added to the [pycsw repo](https://github.com/GSA/pycsw) so that I know if new/updated code will break releases.

## Acceptance Criteria

- [ ] WHEN a push is made to the GSA/pycsw repository \
  THEN cicleCi tests are run \
  AND any failures results in an inability to merge the broken changes

## Background
https://github.com/GSA/pycsw/pul

[2020-10-13 16:57] FuhuXia opened #2278 "Inventory-next Bad Request error"
Intermittently seeing `Invalid HTTP header` errors when logging into inventory-next, or when browsing with an active logged-in session.

## How to reproduce

Intermittent. Only seen in sandbox for far.
Go to https://inventory-next.sandbox.datagov.us/ and log in.

## Expected behavior

Login happens with no messages.

## Actual behavior

After login the page shows error messages such as:

[code]
or

[2020-10-13 17:35] adborden opened #2279 "[Offboard] paul.walker@gsa.gov"
These tasks are performed by an Admin unless noted as an action for the outgoing team member.

- [x] Team member should move all Data.gov related documents to team drives
- [x] Team member should document any work in progress and schedule a hand-off for any remaining tasks
- [x] Remove team member's access to the [shared Google Drive](https://drive.google.com/drive/folders/0AMRwhrSyJ5R4Uk9PVA)
- [

[2020-10-13 21:18] FuhuXia commented on #2278
Seen on staging as well.

[2020-10-14 01:15] adborden commented on #2263
Just summarizing the conversation from sync, not sure if you have any updates since then:

This is probably a two-part story (or two stories). First, let's add a start.sh script that calls newrelic-admin and gunicorn. Then update datagov-deploy to run the start.sh as part of the application (update the supervisor configuration).

The second part would be to get the start.sh integrated into the dev

[2020-10-14 14:28] FuhuXia commented on #2272
RITM0778598 was created for DNS
RITM0778768 was created for SSL certificate
RITM0778842 was created for NetScaler configuration

[2020-10-14 15:26] hkdctol commented on #2279
@adborden the checklist should have a Remove from Slack item (done) and under the leaving GSA section, also a "Create Offboard from GSA IT ticket" and "Notify HSPD-12 if needed" (both done)

[2020-10-14 15:30] FuhuXia opened #2284 "Add SOLR hosts for inventory-next"
## User Story

As a data.gov developer, I want to have a set of SOLR instances set up in BSP production environment so that they are ready to serve as SOLR servers for inventory-next hosts.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x]

[2020-10-14 15:33] FuhuXia commented on #2284
RITM0777433 is created for three EC2 instances.
[code]

[2020-10-14 16:10] FuhuXia opened #2285 "inventory-next deployment in production"
## User Story

In order to have confidence in our upcoming [inventory-next switchover](https://github.com/GSA/datagov-deploy/issues/2248), the team wants inventory-next up and running in production, irrespective of switchover plan yet to be tested.

## Acceptance Criteria
- [x] GIVEN the inventory playbook has been run in production \
  WHEN I look at the bionic inventory hosts \
  THEN I can see

[2020-10-14 16:17] chris-macdermaid commented on #1419
After purging NOAA records from the CSW harvest, 95,819 NOAA records added to Data.gov from 70 WAFs. Out the 96,651 records in the WAFs, 894 (>1%) failed to be added because of errors.

[2020-10-14 18:05] adborden opened #2287 "catalog.data.gov and admin-catalog.data.gov unavailable after 20201015 release"
During production rollout of [catalog.data.gov release](https://github.com/GSA/datagov-deploy/issues/2251), we received alerts that catalog.data.gov and admin-catalog.data.gov were unavailable. We started our [incident response](https://docs.google.com/document/d/19YhtdNZ3x9n3FJLWmue3XH9drxn8PVTHGnpeu-gdtao/edit#) and resolved by rolling back the release.

We saw that catalog-bsp.data.gov was down

[2020-10-14 19:16] FuhuXia commented on #2287
Among [all the changes](https://github.com/GSA/datagov-deploy/pull/2280/files) in this release, most likely changes in file  `etc_apache2_sites-enabled_ckan.conf.j2` in [this commit](https://github.com/GSA/datagov-deploy/commit/884de1995ab3ee6ab9873063a253f0e6f7ce1075) is to blame.

Effectively, using catalog-web1p as example, this changes content of file `/etc/apache2/site-enabled/ckan.conf` from

[2020-10-14 20:11] FuhuXia commented on #2287
It turns out NetScaler is using IP addresses to do the health check. We can either request to reconfigure NetScaler to use hostnames, or we add the IP address as ServerAlias into apache conf.

[2020-10-14 22:44] adborden commented on #2287
FWIW, I think AWS ALB health check also works this way, so by using the IP address in the ServerName/ServerAlias, it would satisfy both health checks. We're doing something similar in our nginx configuration.

[2020-10-14 23:11] adborden commented on #2284
@FuhuXia re: firewall, I think we're already set here. Solr hosts should receive the APP tier for trendmicro policy in datagov-deploy. No BSP ticket necessary.

[2020-10-15 14:04] FuhuXia commented on #2284
@adborden I see. I thought they have rules set for individual ips within a tier. Now it sounds like the rule apply for all ips of the same tier. We already have SOLR v1 set before so we are good. I will checked the firewall off the list.

[2020-10-15 14:19] FuhuXia commented on #2284
RITM0777433 is completed. Three EC2's are ready.

[2020-10-15 14:45] srinirei opened #2294 "Syslog error in Logrotate Cron job"
/etc/cron.daily/logrotate:
error: syslog:1 missing '{' after log files definition
error: found error in file syslog, skipping

The email originated from instance "catalog-web2d.dev-ocsit.bsp.gsa.gov"

## How to reproduce

cron email notification.

## Expected behavior

log files being rotated by logrotate

## Actual behavior

[2020-10-15 17:43] #1491 closed, assigned to FuhuXia

[2020-10-15 17:43] #1967 closed, assigned to FuhuXia

[2020-10-15 17:43] #1976 closed, assigned to FuhuXia

[2020-10-15 17:43] #2209 closed, assigned to chris-macdermaid

[2020-10-15 17:43] #2247 closed, assigned to FuhuXia

[2020-10-15 17:43] #1893 closed, assigned to jbrown-xentity

[2020-10-15 17:43] #2068 closed, assigned to pjsharpe07

[2020-10-15 17:43] #2166 closed, assigned to jbrown-xentity

[2020-10-15 17:43] #2244 closed, assigned to pjsharpe07

[2020-10-15 17:43] #2245 closed, assigned to pjsharpe07

[2020-10-15 17:43] #2250 closed, assigned to jbrown-xentity

[2020-10-15 17:43] #2268 closed, assigned to FuhuXia

[2020-10-15 17:43] #2287 closed, assigned to FuhuXia

[2020-10-15 17:43] #2246 closed, assigned to pjsharpe07

[2020-10-15 17:43] #2251 closed, assigned to pjsharpe07, chris-macdermaid, srinirei

[2020-10-15 17:43] #2252 closed, assigned to pjsharpe07

[2020-10-15 19:14] pjsharpe07 opened #2296 "O+M"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-10-15 19:19] FuhuXia opened #2297 "Entering text for tags without hitting Tab results in "Tags are required" error"
Text has been entered into the field but on submit we see the "Tags are required" error.

<img width="482" alt="Screen Shot 2020-10-15 at 4 44 55 PM" src="https://user-images.githubusercontent.com/509703/96197063-d3f16d80-0f05-11eb-94ae-ff1231623cfd.png">

![Screen Shot 2020-10-15 at 3 15 26 PM](https://user-images.githubusercontent.com/1392461/96175729-4ad43980-0ef9-11eb-92e0-b5aaa645e884.png)

*

[2020-10-15 19:54] FuhuXia commented on #2284
`/data` and `/var/log` partitions are added.

[2020-10-15 20:17] mogul commented on #2273
We're going to timebox 4 hours to investigate whether this is indicative of a more widespread problem, and whether it's a problem in catalog-next.

[2020-10-15 20:28] mogul commented on #2297
@adborden is going to connect with the CKAN multi team to talk about this one.

[2020-10-15 20:35] mogul commented on #2285
Closing this as the production environment deployment #2272  already includes this task.

[2020-10-15 20:35] #2285 closed, assigned to nobody

[2020-10-15 23:47] adborden commented on #2297
Updated the issue with more details and included a work around. I don't think this is a blocker for shipping the form or for shipping inventory-next.

[2020-10-16 00:40] datagov-bot opened #2298 "deploy-ci-platform #258 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [jbrown] 5ce3dab5da730684e562823d564bcec7bf548f06 - Update fgdc2iso

- [fxia] f7f50b81b75aa133c62d8f6d25cb36de25a3a118 - add IP address to ServerAlias

- [fxia] 314fa3def0732eed17c496e227246ab110a14e10 - allow empty ansible_default_ipv4.address

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/258

[2020-10-16 15:13] #2298 closed, assigned to nobody

[2020-10-16 16:26] adborden opened #2299 "Harvest source 404"
We've seen this several times, where a harvest source should exist, but going directly to the page 404s.

Here we see `ioos` is in the NOAA harvest list on page 4 https://catalog.data.gov/harvest?organization=noaa-gov&page=4
![Screen Shot 2020-10-16 at 9 25 39 AM](https://user-images.githubusercontent.com/509703/96283834-9fc38e80-0f91-11eb-8a39-2dc807c1f405.png)

But clicking the link results in a

[2020-10-16 16:29] adborden commented on #2299
This looks like a db solr sync issue. One thing I think I observed is that the source loads fine on admin:
https://admin-catalog.data.gov/harvest/ioos

I wonder if our db solr sync issues are actually solr replication issues. Now https://catalog.data.gov/harvest/ioos works fine. Going to take a closer look at the solr replicas.

[2020-10-16 17:23] adborden commented on #840
Recently saw this with the [ioos](https://catalog.data.gov/harvest/ioos) and [coris-fgdc-metadata](https://catalog.data.gov/harvest/coris-fgdc-metadata).

The dataset page loads, but package_show and harvest_source_show both result in a 500.
https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=coris-fgdc-metadata
https://catalog.data.gov/api/3/action/harvest_source_show?name_or_id=

[2020-10-16 17:25] philipashlock opened #2301 "Data visualization graphs not loading on sdg.data.gov because of jQuery issue"
Graphs not loading on [production site](https://sdg.data.gov/1-2-1/) as seen in comparison to [staging site](https://gsa.github.io/sdg-indicators-usa/1-2-1/) here:

![Screen Shot 2020-10-16 at 1 19 50 PM](https://user-images.githubusercontent.com/183402/96289390-f7bebd00-0fb2-11eb-800f-776d6e5472c1.png)

Console error reads as:
`Failed to find a valid digest in the 'integrity' attribute for resour

[2020-10-16 18:08] chris-macdermaid commented on #2186
Datapusher fails when uploading a file with the new template. Datapusher uploads the file correctly with the old template.
Opened an issue for the new template error. https://github.com/GSA/datagov-ckan-multi/issues/488

[2020-10-16 18:37] adborden commented on #1230
Moving to the top of the backlog for consideration for next sprint as part of our recent [Incident Response retro](https://docs.google.com/document/d/19YhtdNZ3x9n3FJLWmue3XH9drxn8PVTHGnpeu-gdtao/edit#heading=h.8vdbvb36k5di).

[2020-10-16 22:25] philipashlock commented on #2301
Looks good now. Thanks for the quick turn around on this @pjsharpe07 and @adborden

[2020-10-16 22:25] #2301 closed, assigned to nobody

[2020-10-19 18:02] FuhuXia opened #2305 "Staging Inventory/Catalog SAML2 login error"
Staging Inventory and Catalog SAML2 login stopped working today. They gave 500 error after test.login.max.gov authentication. Error log shows message:
[code]

![Screen Shot 2020-10-19 at 12 45 39 PM](https://user-images.githubusercontent.com/1392461/96493626-35ba1c00-1213-11eb-97a0-79e86a5cca1f.png)

## How to reproduce

On staging, go the inventory staging site, click login and go thru test.login

[2020-10-19 18:05] FuhuXia commented on #2305
Upon examining the saml info returned from test.login.max.gov, it shows `maxemail` does not exist. There is a key `emailaddress`. It seems test.login.max.gov changed their specs.

Email sent to MAX support asking about the change.

[2020-10-19 18:37] datagov-bot opened #2306 "deploy-ci-platform #261 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] b3ddc1ee41c998d6dee7ba077cbd805a0fe13ca7 - Rekey production vault files

- [adborden] 016608fab9242f1e629b213f7cdf959067a63fb6 - Rekey sandbox vault files

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/261/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizatio

[2020-10-19 19:08] datagov-bot opened #2307 "deploy-ci-app-inventory-next #12 failed"
Build 'deploy-ci-app-inventory-next' is failing.

Changes since last successful build:
- [jbrown] 4d7e1bebfc737da14089188b4a0c3c75e37d1163 - update requirements

- [jbrown] 19417bb05c53abf70c4f0982df2a90f3a6d16235 - Update requirements

- [jbrown] a2e44f5bdb624bc80f6c751f97da2d99f8d9774c - Update for bleach

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-inventory-next/12/) (cl

[2020-10-19 19:28] jbrown-xentity commented on #2306
Expected due to re-key. [Deployed new key](https://github.com/GSA/datagov-deploy#configure-credentials), re-running...

[2020-10-19 19:28] jbrown-xentity commented on #2307
Expected due to re-key. [Deployed new key](https://github.com/GSA/datagov-deploy#configure-credentials), re-running...

[2020-10-19 19:38] #2307 closed, assigned to nobody

[2020-10-19 19:56] jbrown-xentity commented on #2306
Failing due to catalog-next. Retrying specific playbook...

[2020-10-19 21:42] jbrown-xentity commented on #2278
Unable to reproduce in sandbox (spent 10 minutes clicking around on every possible link).

[2020-10-19 21:49] jbrown-xentity opened #2309 "Inventory-next Organization Page 500 error"
When you go to the inventory-next [organization page](https://inventory-next.sandbox.datagov.us/organization) and you select any organization, a 500 response is given. The following error is logged in the ckan log file:
[code]

## How to reproduce

1. Go to any [organization page for inventory-next](https://inventory-next.sandbox.datagov.us/organization/cfpb)
1. See error

## Expected behavior

Or

[2020-10-19 22:36] #2306 closed, assigned to nobody

[2020-10-20 03:31] #1419 closed, assigned to jbrown-xentity, chris-macdermaid

[2020-10-20 13:37] jbrown-xentity commented on #2309
Confirmed that the behavior is gone, marking as closed...

[2020-10-20 13:37] #2309 closed, assigned to nobody

[2020-10-20 17:57] jbrown-xentity commented on #2263
Current work is being tested on the [feature/new-relic branch](https://github.com/GSA/catalog.data.gov/tree/feature/new-relic).
Was able to get version of the bash script working from supervisor on sandbox. Still need to add the following:

- Configure path to include /usr/lib/ckan/bin/gunicorn and new-relic from python install in ansible, or make script variable to pass full path.
- Add new relic

[2020-10-20 18:26] jbrown-xentity commented on #2263
@adborden it looks like configuring the path is untenable, I will just map variables between docker and ansible in the environment and call it a day. Should I use [the environment setting in supervisor](http://supervisord.org/subprocess.html#subprocess-environment) to specify the values, as that file is already a template in datagov-deploy and is the go-between on platform and application? Or shou

[2020-10-20 18:32] FuhuXia commented on #2036
Tested on staging. Tried to get authenticated on one instance then access the other instance by toggling instance's apache2 on and off. Could not replicate the issue. Looks like session is valid across instances, and stored in DB, not memcached on instance.

Issue is observed on live production. Will do some further testing during off hours.

From the info I gathered so far, a wild guess is that i

[2020-10-20 20:27] pjsharpe07 opened #2312 "Nessus Scan 10/20/2020"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.it2rh2xc99f1)._

**Date of report:** 10/20/2020
**Severity:** Medium
**Due date:** 01/20/2021

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been p

[2020-10-21 13:57] FuhuXia opened #2314 "[Research] Inventory-next anonymous user sees dataset page"
Inventory-next displays dataset page to anonymous user.

## How to reproduce

Open chrome in incognito mode, go to inventory-next page on sandbox or staging.

## Expected behavior

See message "You are not authorized to do this" and a **Log in** button.

## Actual behavior

See the dataset list.

#### First Step:

- As a team, decide if we want `actual behavior` or `expected behavior`

[2020-10-21 14:15] FuhuXia commented on #2248
ℹ️   Step 5 `ckan search-index rebuild` takes approximately 10 minutes, tested on staging with equivalent amount of datasets.

[2020-10-21 14:52] crysacarter opened #2316 "Incorrect link within https://www.data.gov/open-gov/"
Related to #2320, see comments in that ticket for resolution details.

## How to reproduce

1. Description of steps to reproduce the issue.

https://www.data.gov/open-gov/
list views
international
Indonesia

## Expected behavior

link to https://data.go.id/

## Actual behavior

 links to http://satupemerintah.net/ which is dating site

[2020-10-21 18:12] pjsharpe07 opened #2319 "Create an export of all on an agency/organization's datasets"
## User Story

As a data.gov agency/organization user I want a list of all my datasets currently on catalog.

This is for breadcrumbs at this point - in case we want to do this work again.

[2020-10-21 18:13] pjsharpe07 commented on #2319
Here is [the gist](https://gist.github.com/pjsharpe07/aab532345d6a8d92b6fe74a5939f2ae0) for this work. Make sure to read the notes carefully as you'll want to only use the pieces that are necessary for your needs.

[2020-10-21 18:30] chris-macdermaid commented on #2186
The reason this is failing is because of a CKAN bug with extensions that have a public/static directory . This was caught by the multi team.

https://github.com/GSA/datagov-ckan-multi/issues/390

[2020-10-21 19:38] ndevine opened #2320 "Bad link for Montana in https://www.data.gov/open-gov/ U.S. States List View"
The link listed for Montana under https://www.data.gov/open-gov/  U.S. States link under List view is listed as `https://data.datamontana.us/browse` - this is incorrect. It takes you to a one-page site in French.

`<a data-toggle="modal" data-target="#data_table_1" rel="noopener noreferrer">U.S. States</a>`

## How to reproduce

1. Go to `https://www.data.gov/open-gov/ `
2. Click on the link under

[2020-10-22 04:41] mogul commented on #1433
The new template added 32 sub-sections for us to fill out.

I've completed the first three (listed below) and will note further progress in additional comments as I go.
- 10.7.1 Code Version Control and Code Management
- 10.7.2 Infrastructure-As-Code (IAC) Implementation
- 10.7.3 Pipeline Design

[2020-10-22 17:30] adborden opened #2321 "Migrate to new email service"
## User Story

In order to gain more reliability into delivery of Data.gov's harvest report emails, agency data managers want data.gov to move to a new email service compatible with cloud.gov and non-GSA domains.

## Acceptance Criteria
- [x] GIVEN I run `cf login -a api.fr.cloud.gov --sso` and authenticate \
  AND I run `cf target -o gsa-datagov -s <development|staging|production>`  \
  WHEN I ru

[2020-10-22 20:06] mogul commented on #893
We'll evaluate the timeline for 2.8 support ending in December and prioritize this issue depending on what we find.

[2020-10-22 20:08] mogul commented on #2305
According to MAX, they've resolve the issue on their side (and they didn't intend to introduce any breakage for us). We still need to verify.

[2020-10-22 20:17] mogul commented on #2314
Needs discussion as to whether this is more desirable behavior in any case. This may be more about documenting acceptable/recommended usage of inventory.data.gov for users who might be trying to use it for distributing private data.

[2020-10-22 20:21] mogul commented on #2314
Summary: We need to investigate why the behavior is different from the previous version, but we also need to decide if the previous behavior is what we wanted.

[2020-10-22 20:26] adborden commented on #2314
These are alternative issues that I think we should consider instead of this issue. We know the existing behavior on inventory-classic is incorrect/incomplete. Instead I think we want to consider making datasets explicitly public and tweak the draft behavior:

https://github.com/GSA/datagov-deploy/issues/2096
https://github.com/GSA/datagov-deploy/issues/2095
https://github.com/GSA/datagov-deploy/i

[2020-10-22 20:26] jbrown-xentity commented on #2320
Probably should be https://data.mt.gov/

[2020-10-22 20:31] mogul commented on #2314
We should also research how/if the redaction feature is being used as-is.

[2020-10-22 21:39] jbrown-xentity commented on #2263
[Requested added feature upstream](https://github.com/okfn/docker-ckan/issues/53).

[2020-10-22 21:53] FuhuXia commented on #2305
Verified the issue is resolved with test.login.MAX.GOV fix. No change done on our side.

[2020-10-23 16:48] pjsharpe07 opened #2328 "Add New Relic Application Agent to Inventory-next"
## User Story

As an inventory administrator, I want inventory configured with New Relic so that I can can monitor and evaluate blocking requests/weak points in the system.

## Acceptance Criteria

- [x] GIVEN the inventory playbook is run on staging
  WHEN I look at New Relic UI \
  THEN I can see the different applications and machines \
  AND a breakdown of the different components of the appli

[2020-10-23 17:01] jbrown-xentity commented on #2328
@pjsharpe07 you'll want to examine the following PR's for catalog-next to do for inventory:

- https://github.com/GSA/datagov-deploy/pull/2317
- https://github.com/GSA/catalog.data.gov/pull/149

[2020-10-23 17:21] FuhuXia opened #2329 "Inventory-next: datapusher not working on migrated datastore DB"
Inventory-next datapusher is not working on DB migrated from inventory v1.

## How to reproduce

1. Login to inventorty-next on staging, create a dataset, upload a small csv file as resource.
2. Click on the resource.

## Expected behavior

See csv data in the Data Explorer

`/var/log/inventory/datapusher,error.log` show entries like this
[code]

## Actual behavior

Error loading CSV data.

Error

[2020-10-23 17:41] FuhuXia commented on #2329
In the `/var/log/inventory/gunicorn.log`, these is this error:
[code]

I think it is due to datastore DB permission difference between 2.5 and 2.8, or RDS snapshot not copying entire role permission. The fact that we are using separated DBs for datastore might also has something to do with this error.  Will re-run command [datastore set-permissions](https://docs.ckan.org/en/2.8/maintaining/datasto

[2020-10-23 18:06] adborden commented on #2098
Ammie from the Digital Council is following up on this.

[2020-10-23 18:26] FuhuXia commented on #2329
Issue resolved after run

`sudo ckan datastore set-permissions | PGPASSWORD=my-pw psql -h datastore-host -U my-user -d datastore-db-name`

[2020-10-23 20:16] FuhuXia opened #2331 "Inventory-next no navigation links for anonymous user"
Issue #2314 tracks what page to show to anonymous user, but when the dataset page is shown, there are no navigation links.

## How to reproduce

1. Open chrome incognito and visit inventory-next site without logging in.

## Expected behavior

If dataset page is shown, there should be navigation links.
![Screen Shot 2020-10-23 at 4 15 00 PM](https://user-images.githubusercontent.com/1392461/9705019

[2020-10-23 20:28] FuhuXia opened #2332 "Inventory-next dataset count is different from inventory"
Inventory-next on migrated database shows inconsistent dataset count compared to original inventory.

## How to reproduce

Visit inventory and inventory-next site on staging as anonymous user and logged in user. Compare the count on datasets page.

## Expected behavior

Consistent count comparing inventory and inventory-next

## Actual behavior
dataset counts are inconsistent on datasets page:

in

[2020-10-23 20:53] adborden opened #2333 "ckanext-archiver writes to /tmp/archive and fills up disk in 2 hours"
I'm not sure what caused this, but I'm seeing an alert for [low disk space on catalogharvester2d](https://one.newrelic.com/launcher/nrai.launcher?pane=eyJuZXJkbGV0SWQiOiJhbGVydGluZy11aS1jbGFzc2ljLmluY2lkZW50cyIsIm5hdiI6IkluY2lkZW50cyIsImluY2lkZW50SWQiOiIxNzQ3OTgyMDEifQ==&sidebars[0]=eyJuZXJkbGV0SWQiOiJucmFpLm5hdmlnYXRpb24tYmFyIiwibmF2IjoiSW5jaWRlbnRzIn0=&platform[accountId]=1601367&platform[timeRa

[2020-10-23 21:01] FuhuXia opened #2334 "Inventory Data Explorer showing wrong column name"
Spreadsheet resources on Inventory showing wrong title on the 2nd column. On Inventory-next it shows correctly. Test on  a newly added resource or migrated resource.

## How to reproduce
Visit and compare how same resource is displayed:

[Newly created resource on Inventory](https://inventory-datagov.dev-ocsit.bsp.gsa.gov/dataset/test123dsdf/resource/86e411c2-7d2d-4154-813d-c5b69025d140)
vs
[Newly

[2020-10-23 21:43] adborden commented on #2334
@FuhuXia can you clarify, this only effects inventory classic?

[2020-10-23 21:50] FuhuXia commented on #2334
Yes, only affects inventory.

[2020-10-24 00:33] adborden opened #2337 "Mock S3 for local development"
## User Story

In order to develop and debug against the ckanext-s3filestore in local development, Data.gov developers want ckanext-s3filestore configured with a mock s3 local storage solution for Inventory.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_speci

[2020-10-24 01:46] adborden commented on #2334
Okay, I recommend going forward we ignore any bugs on Inventory classic and only log new issues for inventory-next.

[2020-10-26 13:45] FuhuXia opened #2338 "Catalog "Filter by location" map is not working"
Catalog "Filter by location" map is not loading

## How to reproduce

1. https://catalog-next.sandbox.datagov.us/api/action/location_search?q=california

## Expected behavior

See map on the left "Filter by location" grid

## Actual behavior

Map grid is blank

[2020-10-26 13:47] FuhuXia commented on #2338
It seems to be introduced by latest release 20201015. Previous release (20201001) has no such issue.

[2020-10-26 16:52] FuhuXia opened #2339 "Inventory-next: resource description shows HTML <p></p> tag"
resource description shows HTML tag such as `<p>Some resources description</p>`

## How to reproduce
1. Go to inventory-next site
1. Add a new resource to an existing dataset
1. Provide a Markdown description (no HTML tags), and submit the form to add the resource.
1. Go to the newly added resource page.

## Expected behavior
Description is displayed normally.

## Actual behavior
Description is wr

[2020-10-26 16:59] FuhuXia commented on #2272
RITM0778598 DNS ticket was rejected due to improper request. DNS wiki updated.
RITM0778768 SSL certificate ticket: We were given an unchanged cert file. They are working in it to correct it.
RITM0778842 NetScaler ticket was completed.

[2020-10-26 19:03] adborden commented on #2339
The form is supposed to accept markdown, so we might want to update the reproduction steps to include that.

[2020-10-26 19:04] adborden opened #2340 "Update broken links on strategy.data.gov"
https://app.circleci.com/pipelines/github/GSA/data-strategy/510/workflows/22c79a34-ae43-45fc-8715-96e55a664e0c/jobs/520

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-10-26 19:40] FuhuXia commented on #2272
DNS: new ticket RITM0782441 was created.

SSL certificate: the new cert is generated and verified. RITM0782462 is created to request install the the new cert on NetScaler.

[2020-10-26 20:15] jbrown-xentity commented on #2316
@FuhuXia I think this is where it needs to be edited... https://github.com/GSA/data.gov/blob/master/roots-nextdatagov/assets/LeafletMap2/data/international.geojson

[2020-10-26 20:31] jbrown-xentity commented on #2278
Has not been reproduceable in a while. Closing unless issue is seen again.

[2020-10-26 20:31] #2278 closed, assigned to nobody

[2020-10-27 15:58] jbrown-xentity commented on #2320
We thought this was fixed with the above PR, but that just fixes the data on the map. The data in the csv download is correct, however the data in the table is created from [this script](https://github.com/GSA/data.gov/blob/ae96936bec3c66446ae0b20f1cab47835be3a575/roots-nextdatagov/templates/content-opengov.php#L30). The setting for that URL is found on the [wordpress admin settings page](https://

[2020-10-27 17:01] jbrown-xentity commented on #2320
The current dataset was updated by the following:

- Search `us_states` on the [wordpress media page](https://www.data.gov/wp/wp-admin/upload.php?search=us_states) and taking the most recent (top left) file and downloading this file
- Edit the necessary fields locally
- Re-upload this edited file (you may need to utilize the workaround detailed [here](https://github.com/GSA/datagov-deploy/issues/1

[2020-10-27 21:07] adborden opened #2344 "Task: upgrade postgres databases from EOL 9.5"
## User Story

Due: 02/16/2021

On February 16th, 2021, Postgresql 9.5 will be End of Life in AWS's RDS service. These databases must be removed or upgraded.

## Background
You will need to coordinate with BSP in order to address these.

BSP prod:
- ~datagov-datapusher-2020-09-23-06-23~ _datagav-datastore-next is running 9.6_
- ~datagov-inventory2~ _datagav-inventory-next is running 9.6_
- ~datago

[2020-10-27 21:47] jbrown-xentity commented on #2344
You can [upgrade a snapshot](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_UpgradeDBSnapshot.PostgreSQL.html) before it is turned on.
This could be useful for inventory2, to upgrade the DB at the same time as Inventory2.8 to avoid any future downtime...

[2020-10-27 22:02] pjsharpe07 commented on #2328
I believe we still need two more edits to [enable the role for inventory-next](https://github.com/GSA/datagov-deploy/blob/develop/ansible/inventory.yml#L70) and [datagov_in_service](https://github.com/GSA/datagov-deploy/blob/aa63abd91eed093fd3216a3ef6350010753ac486/ansible/inventories/staging/group_vars/inventory-web-v2/vars.yml#L2).

[2020-10-27 22:03] adborden commented on #2344
Good to know. I don't think we want to increase the scope of the inventory-next release. @FuhuXia has already started [testing the existing rollout plan](https://github.com/GSA/datagov-deploy/issues/2248) which doesn't include the postgresql upgrade.

Getting onto CKAN 2.8 is the priority so we shouldn't be tacking on additional work like re-writing our plan, re-testing the plan, and testing/tunin

[2020-10-27 22:06] jbrown-xentity commented on #2328
The former link is to the old new relic implementation, which we will leave as is until inventory-next is live and replaced inventory-classic on production. And the second one can be removed, it's not being utilized.

[2020-10-27 23:09] pjsharpe07 opened #2345 "Release 20201029"
## Release 10/29/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2020-10-28 06:15] mogul commented on #1433
Completed three more sections today:
- 10.7.5     Dependency Scanning (asked Aaron for feedback)
- 10.7.6     Image Management (easy since N/A)
- 10.7.10     Serverless Design (easy since N/A)

[2020-10-28 16:55] jbrown-xentity commented on #2314
Questions:
 - Are agencies putting any private data (metadata fields or data files or existence of data itself) on inventory?
    - In your use of inventory, do you have any data or metadata that should not be viewable by the public?
    - Would you utilize a feature in the future that could restrict access to the public for specific metadata fields or data files?
 - If inventory will be publicly

[2020-10-28 17:09] datagov-bot opened #2350 "deploy-ci-platform #276 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [kmanaseryan] 97196d805e3643d7d3e48e87ee70367209c040a2 - [ssh, user][m]: Add karlen.manaseryan@datopian.com SSH key to the list -

- [kmanaseryan] 89cba7803210dec6b4cd0025068150ee0c9ed690 - [fix][s]: Move karlen.manaseryan@datopian.com to the

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/276/)

[2020-10-28 17:29] jbrown-xentity commented on #2350
False negative, the deploy ran fine until it tried to prime the production cache (and failed because we are experiencing an outage). Can re-run after applications are back up.

Should probably find a better way to skip [these tasks on sandbox](https://github.com/GSA/datagov-deploy/blob/develop/ansible/smoke.yml#L19-L148) (or make them point to local URL's)...

[2020-10-28 17:35] pjsharpe07 opened #2351 "[IR] Catalog, dashboard, inventory outage"
- **Status**: resolved
- **Severity**: High
- **Reporter**: Preston
- **IC**: Preston
- **Responders**: Aaron, Bret, Chris, Fuhu, Hyon, James, Srini

[IR doc](https://docs.google.com/document/d/12ZzaWkdfB5fyMZMlcwRWm0QZQGDY90E_3prhJm9z9i8/edit#)

[2020-10-28 19:12] jbrown-xentity opened #2352 "Inventory supervisor reload/restart breaks application"
When a reload or restart command is run for supervisorctl via the command line, the original service isn't fully killed. This leaves a job running in the background which takes up the `5000` port and causes the new gunicorn service to fail. Supervisor will keep thrashing and restarting a failing job.

### Mitigation
I ran `netstat -vanp --tcp | grep 5000` and found the process id of the python tas

[2020-10-28 20:50] jbrown-xentity opened #2353 "Pipenv upgrade broken"
When an upgrade is run for datagov-deploy (`pipenv update`), the system breaks trying to update ansible to 2.10.x. We have pinned ansible to 2.8.x. If you uninstall and re-install ansible, then the pipenv update works, but adds `ansible-base` version 2.10.x. This causes the whole system to not work as expected.

[code]

### Mitigation
Remove the ansible-base code manually from the `Pipfile.lock` a

[2020-10-28 21:29] pjsharpe07 commented on #2351
We have a retro this Friday, then we can mark this one as done

[2020-10-28 21:43] adborden commented on #2353
This looks like an ansible bug to me or maybe molecule. Let's try to create a simple repro with just pip and a requirements file. It seems like ansible<2.10 conflicts with ansible-base, so it looks like something is pulling in ansible-base when it shouldn't.

Have we looked into that work-around, setting `ANSIBLE_SKIP_CONFLICT_CHECK`?

[2020-10-28 21:45] jbrown-xentity commented on #2122
For best practices, will consider the following from the [DCAT-US standard](https://resources.data.gov/resources/dcat-us/):

- Utilize the Dataset Distribution Fields
- Consider populating the `conformsTo` field for better scannability by Geoplatform
- Consider utilizing the describedBy and describedByType fields under current dataset distribution fields
    - Is that URL displayed or discoverable

[2020-10-28 23:31] adborden commented on #2350
@avdata99 maybe you can look into this. Looks like there's an issue installing the pycsw virtualenv https://ci.sandbox.datagov.us/blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/278/pipeline

Looks like a pyscopg2 incompatibility. Maybe we can just use the psycopg2-binary package instead?

[code]

[2020-10-29 14:50] avdata99 commented on #2350
@adborden let me recap the process here (to be sure I understand)
The CSW web and CSW worker are installed from a role called `gsa.datagov-deploy-pycsw` which points to this repo: https://github.com/GSA/datagov-deploy-pycsw
(the repo is archived, why?)

This _role-repo_ [install GSA/pycsw](https://github.com/GSA/pycsw) from the [datagov/pin-dependencies branch](https://github.com/GSA/datagov-deplo

[2020-10-29 15:34] jbrown-xentity commented on #2122
NOAA has a v0.1 of a data.json file [here](https://data.noaa.gov/dataset/data.json). We will use 2 examples from this and link back to the geospatial metadata files found [in the current WAF harvest source](https://data.noaa.gov/waf/NOAA/nmfs/nwfsc/iso/xml/).

We will build a test file on the https://github.com/gsa/ckanext-datajson extension, and then create a harvest source for the raw json conte

[2020-10-29 16:31] jbrown-xentity commented on #2122
[Working public examples](https://catalog.sandbox.datagov.us/harvest/dcat-us-full-metadata-test) ([data.gov validation tool passing](https://labs.data.gov/dashboard/validate?schema=federal-v1.1&output=browser&datajson_url=https%3A%2F%2Fgithub.com%2FGSA%2Fckanext-datajson%2Fraw%2Ffeature%2Ftest-geospatial-link%2Fckanext%2Fdatajson%2Ftests%2Fdatajson-samples%2Fgeospatial.data.json&qa=true))

We can

[2020-10-29 16:38] adborden commented on #2350
@avdata99 yes, that's right.

It's TTS policy to automatically archive repositories with no activity for over 60 days. [This policy does not fit well with data.gov's many repos](https://github.com/18F/ghad/issues/29). If you encounter this, just ping one of the GSA folks and we will unarchive the repository.

GSA/pycsw is our fork... it represents the pycsw application code that is actually deploy

[2020-10-29 16:52] FuhuXia opened #2360 "Catalog "Order by" on dataset page is not working"
Catalog dataset page "Order by" is not working

## How to reproduce

Go to catalog.data.gov, change "Order by" dropdown to "Date Added".

## Expected behavior

Page should reload with datasets ordered by "Date Added".

## Actual behavior

Dataset list stays same.

[2020-10-29 16:54] FuhuXia commented on #2360
Similar to https://github.com/GSA/datagov-deploy/issues/2338, this issue seems to be introduced by release 20201015. Previous release (20201001) has no such issue.

[2020-10-29 17:25] avdata99 commented on #2350
@adborden I created this new PR: https://github.com/GSA/pycsw/pull/21
Maybe you can review it

[2020-10-29 18:08] #2181 closed, assigned to adborden

[2020-10-29 18:08] #2279 closed, assigned to adborden

[2020-10-29 18:08] #2284 closed, assigned to FuhuXia

[2020-10-29 18:08] #2305 closed, assigned to FuhuXia

[2020-10-29 18:08] #2316 closed, assigned to FuhuXia

[2020-10-29 18:08] #2345 closed, assigned to FuhuXia

[2020-10-29 18:08] #2147 closed, assigned to pjsharpe07

[2020-10-29 18:08] #2149 closed, assigned to srinirei

[2020-10-29 18:08] #2178 closed, assigned to jbrown-xentity

[2020-10-29 18:08] #2263 closed, assigned to jbrown-xentity

[2020-10-29 18:08] #2319 closed, assigned to pjsharpe07

[2020-10-29 18:08] #2320 closed, assigned to jbrown-xentity

[2020-10-29 20:18] mogul commented on #2332
Let's first identify why the totals are different, then decide if one or the other is "correct".

[2020-10-29 20:20] mogul commented on #2331
The proper behavior depends on the resolution of the discussion in #2314 ... If anonymous users see data sets, then they should also see navigation links.

[2020-10-29 20:33] mogul commented on #2036
We're waiting to see if this is still a problem for inventory-next following the work in #2220 .

[2020-10-29 20:53] mogul opened #2362 "Validate key use-cases are working on inventory-next"
## User Story

In order to be confident that we have identified issues blocking production rollout of inventory 2.8, we want to validate that all key inventory use-cases work in the staging environment and create issues for blockers encountered.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavi

[2020-10-29 21:00] FuhuXia opened #2363 "O+M 20201029 - 20201111"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-10-29 21:42] adborden opened #2364 "Inventory Ansible role does not restart supervisor web service after a deploy"
## How to reproduce

1. Apply the inventory playbook `ansible-playbook inventory.yml`
1. From an inventory machine, check supervisor `ssh inventory1d.dev-ocsit.bsp.gsa.gov sudo supervisorctl restart gunicorn-web-app`

## Expected behavior

Supervisor web service is running for less than a minute

## Actual behavior

[code]

[2020-10-30 14:32] FuhuXia commented on #2272
✅  DNS: RITM0782441 is complete. inventory-next.data.gov is ready.

🚧  SSL certificate: RITM0782462 ticket is still being worked on to install SSL certificate in BSP Netscaler and PA. There were some recent firewall decryption changes making things complicated.

[2020-10-30 16:45] adborden commented on #2350
@avdata99 pycsw virtualenv was created successfully, but the host-level smoke test results in a 404. That probably means the pycsw service is not working correctly. Do you mind if we revert this until we're able to debug?

[code]

[2020-10-30 17:15] avdata99 commented on #2350
Yes, @adborden. Let me know if I need to do something to revert. I will check logs

[2020-10-30 18:12] pjsharpe07 commented on #2186
While working on #2362, we confirmed this on staging. New form fails datapusher upload, however following these steps will successfully create a resource with datapusher.

Assuming you have permissions to add datasets (ie org editor)
- Navigate to dataset landing page: ie https://inventory-next-datagov.dev-ocsit.bsp.gsa.gov/dataset/<your-dataset-name>
- Select `manage` --> `resources` --> `Add new

[2020-10-30 19:04] pjsharpe07 commented on #2332
While working on #2362 we noticed that a logged in user with `editor` permissions only sees ~380 datasets on staging. It appears that only `sys-admin` users are seeing the 10+K numbers.

[2020-10-30 19:08] pjsharpe07 commented on #2362
Keeping some running notes in [this google sheet](https://docs.google.com/spreadsheets/d/1wilEacIMO2c2tJZjrAN_s2U1rak-wE1zVUau3z-B7zo/edit#gid=0)

[2020-10-30 19:16] #2350 closed, assigned to adborden

[2020-10-30 21:14] jbrown-xentity commented on #2122
[Gist of working download/parse example](https://gist.github.com/jbrown-xentity/a4af7682f00407eb6ca59b185d48e294)

[2020-10-30 21:33] jbrown-xentity commented on #2122
[1/2 pager documenting examples, data.gov suggested guidance, and next steps](https://docs.google.com/document/d/1_zh_j7_PAFnI8NkMSGTfc6-OsYAE5wrVdHXicsqpDwg/edit#)

[2020-10-31 00:53] adborden commented on #2122
This is looking good! Let's find some time to pair and we can consolidate the examples and proposal into something concise to share with Geoplatform.

[2020-10-31 00:56] adborden commented on #2186
I think we can close this issue since datapusher is working. The bug @pjsharpe07 is referring to is with the resource_create API call (and we think ckanext-s3filestore being at the root of it) and the issue is captured in https://github.com/GSA/datagov-ckan-multi/issues/488.

[2020-11-02 17:17] hkdctol commented on #2314
@jbrown-xentity I think the two questions you have as sub-bullets are good to send out as-is--does that sound ok? I can get it to inventory users today

[2020-11-02 17:19] jbrown-xentity commented on #2314
@hkdctol sounds good to me!

[2020-11-02 17:35] adborden opened #2374 "[Offboard] dan.mayol@civicactions.com"
These tasks are performed by an Admin unless noted as an action for the outgoing team member.

~~- [ ] Team member should move all Data.gov related documents to team drives~~
- [x] Team member should document any work in progress and schedule a hand-off for any remaining tasks
~~- [ ] Remove team member's access to Google Drive~~
  - [Data.gov](https://drive.google.com/drive/folders/0AMRwhrSyJ5R4U

[2020-11-02 17:36] jbrown-xentity commented on #2220
Paired with @woodt today. Went over the current status of https://github.com/GSA/datagov-ckan-multi/issues/348. To catch up to where catalog work currently is, we should:

- Setup an application on login.gov sandbox similar to [catalog-next](https://dashboard.int.identitysandbox.gov/service_providers/1129)
- Create draft PR's similar to the work for [catalog-next](https://github.com/GSA/datagov-ck

[2020-11-02 19:01] FuhuXia commented on #2272
🚧  SSL certificate: RITM0782462 still pending.
🚧  RDS renaming: RITM0783916 created to rename RDS endpoints.

[2020-11-02 20:31] datagov-bot opened #2378 "deploy-ci-platform #292 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] e1cd637b260b716b01f457ed5e3df4abbb96bd7a - remove unused vault_inventory_next_redis_password

- [fxia] 9982adad53bfff070cc8c32140df49c6b7956a39 - re-order

- [fxia] 6ef5efb0fcebdf5eb65a8c326b036c33f6a9f155 - correct typo value->vault

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/292/) (

[2020-11-02 21:29] jbrown-xentity commented on #2122
Final items:

- [x] Update [examples list](https://github.com/GSA/ckanext-datajson/blob/master/ckanext/datajson/tests/datajson-samples/geospatial.data.json) to remove describedBy option, and add standard ISO example and standard CSDGM example
- [x] Simplify [test/example code](https://gist.github.com/jbrown-xentity/a4af7682f00407eb6ca59b185d48e294) to highlight important sections and streamline
-

[2020-11-02 21:31] #2378 closed, assigned to nobody

[2020-11-02 21:55] datagov-bot opened #2379 "deploy-ci-platform #294 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/294/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/294/pipeline) (blue)

[2020-11-02 22:56] #2379 closed, assigned to nobody

[2020-11-03 15:38] datagov-bot opened #2381 "deploy-ci-platform #298 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [andres] 9be2d728c10568ec1739d01777b77b783e878f52 - Re-enable CSW app in sandbox

- [andres] c51e38854f038868bf2728e2c8e7b80aa5bbf215 - Fix quotes after lint error

No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/298/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/o

[2020-11-03 17:34] adborden opened #2383 "[research 1d]: can we decommission the CSW service?"
## User Story

In order to reduce compliance overhead and operations and maintenance costs for data.gov and redirect resources on higher value services, the data.gov team wants to decommission the CSW service.

## Acceptance criteria
- [ ] We can concretely describe who is using the CSW service and how much
- [ ] We have identified whether there is at least one potential alternate or reduced O&M i

[2020-11-03 18:14] adborden opened #2384 "Ansible role for pycsw-next picks the wrong version of python"
pycsw_python_version: 2.7.16 is set as a default and is installed as part of the role. However, the Pipfile in GSA/pycsw specifies python 3, so the dependencies require python3. pipenv? is finding a local python3 and using that even though it is not expected.

## How to reproduce

1. Set pycsw_python_version: 2.7.16
1. Bump GSA/pycsw Pipfile to use python 3
1. Run the pycsw playbook `ansible-playb

[2020-11-03 20:51] FuhuXia commented on #1161
Fixed. This [URL](https://catalog.data.gov/dataset/neh-state-council-activity-1998-2015) should show new logo after the fix is deployed.

[2020-11-03 21:15] #2381 closed, assigned to nobody

[2020-11-03 21:44] adborden commented on #2122
I'm drafting up a [proposal](https://docs.google.com/document/d/1XDsFnQCKuqnQCVfMeCNuBnNKE4Oco69-lTVuVCrHV6c/edit#) to share with partners.

[2020-11-04 00:07] adborden opened #2391 "2020/10/14 Incident: catalog.data.gov unavailable"
[IR Timeline](https://docs.google.com/document/d/19YhtdNZ3x9n3FJLWmue3XH9drxn8PVTHGnpeu-gdtao/edit#heading=h.d8e0bktl0bcq). Retro was held.

[2020-11-04 00:08] adborden commented on #2391
Still need to open follow up issues from the retro and make sure white-noise actions were taken.

[2020-11-04 18:54] adborden opened #2394 "Add Jenkins task for pycsw deploy to sandbox"
## User Story

In order to test application deployment and get quicker feedback on changes, data.gov developers want pycsw to be deployed by jenkins automatically on changes to the main data.gov pycsw branch.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_spec

[2020-11-04 20:02] pjsharpe07 opened #2395 "Two Data API buttons on Inventory-Next UI"
Found while working on #2362 On inventory-next there are two `Data API` buttons when there should only be one.

![image.png](https://images.zenhubusercontent.com/5e1cbcd08dced94b250ef061/f2ed141c-39da-444e-be18-7e907ae4d38b) Both point to the same url - see example in how to reproduce.

## How to reproduce

Choose a resource that had success with datapusher. On staging: https://inventory-next-data

[2020-11-04 20:04] pjsharpe07 commented on #2395
There is another small bug in the image above as well. The `Go to resource` button should have an image next to it. Not creating a separate issue for now as this should be expected to stay below our white noise threshold while resolving this ticket.

[2020-11-04 21:53] pjsharpe07 commented on #2362
Cannot upload csv to datastore:

Steps to reproduce om sandbox:
1. Navigate to https://inventory-next.sandbox.datagov.us/dataset/test123/resource/31e3cba0-3fa8-4b9f-becf-20c144fd21a7
2. Click `Manage`
3. Select `DataStore` icon
4. Select `Upload to DataStore` button

You should receive this error message.
![image](https://user-images.githubusercontent.com/38019872/98171696-60f86880-1ead-11eb-909c-

[2020-11-05 16:44] FuhuXia commented on #2272
Playbook has been run on inventory-next hosts. `datagov_in_service` was set false so no smoke test with service_url. Using empty ckan/datastore DBs, HTTP response looks good to curl request. Still waiting for BSP tickets to be resolved to unblock this work.

🚧  SSL certificate: RITM0782462 still pending.
🚧  RDS renaming: RITM0783916 created to rename RDS endpoints.

[2020-11-05 17:24] adborden opened #2397 "Enable GitHub security alert notifications for all data.gov repositories"
## User Story

In order to ensure that security alerts are addressed in a timely fashion, Data.gov developers want to receive and manage GitHub security alerts from Data.gov repositories.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] G

[2020-11-05 18:44] FuhuXia opened #2398 "Catalog Cloudfront 504 Error in DC region"
This issue happened several times in the past a few years. When it happens, users from DC area (including Northern VA and maybe other neighboring areas) see 504 Error when accessing catalog.data.gov site. Most of time the issue last for the whole day, and resolved itself at the end of day.

Here is the list of occurrences we have in record:

[2022-01-21: DC, NY](https://gsa-tts.slack.com/archives/

[2020-11-05 20:54] mogul commented on #1943
Once the PR referenced above is merged, we have code that meets the Acceptance Criteria above. There are two remaining issues that we'd like to resolve outside the scope of this story:
- We are seeing extraneous computed inputs included in the credentials generated at binding time. We think this is a bug in the `cloud-service-broker` and have [asked the upstream team](https://cloudfoundry.slack.co

[2020-11-05 21:21] mogul commented on #2398
Fuhu's asked FCS whether they have any insight into the problem from their side.

[2020-11-05 21:37] adborden opened #2399 "Task: Propose next steps for improving geospatial metadata harvesting"
## User Story

In order to what steps we should take and how we'll know we're moving in the right direction, geospatial partners (FGDC and GeoPlatform) want a proposal explaining next steps for improving geospatial metadata harvesting.

## Description
[Draft proposal](https://docs.google.com/document/d/1XDsFnQCKuqnQCVfMeCNuBnNKE4Oco69-lTVuVCrHV6c/edit) covers:
- the technical solution with suggest

[2020-11-06 00:13] pjsharpe07 commented on #2362
Datasets successfully created and updated on sandbox and staging.

[2020-11-06 17:34] adborden commented on #2398
We saw this again last night 11/6/2020 ~9pm to 10:15pm on our [DC-only monitor](https://one.newrelic.com/launcher/nr1-core.explorer?pane=eyJuZXJkbGV0SWQiOiJzeW50aGV0aWNzLW5lcmRsZXRzLm1vbml0b3ItZmFpbHVyZXMiLCJlbnRpdHlJZCI6Ik1UWXdNVE0yTjN4VFdVNVVTSHhOVDA1SlZFOVNmRGhrTVdVMk1UVTBMV1ptWkRjdE5HSmlZaTFoWmpBekxUUTNaVFkwWmpreE4yTmhZUSJ9&sidebars[0]=eyJuZXJkbGV0SWQiOiJucjEtY29yZS5hY3Rpb25zIiwiZW50aXR5SWQiOi

[2020-11-06 19:33] adborden opened #2402 "Rapid debugging and testing for inventory-app"
## User Story

In order to ensure we can rapidly diagnose problems, the team wants to be able to inspect the environment when a particular line of code is hit.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN I need to debug CKAN co

[2020-11-06 21:58] FuhuXia opened #2405 "new_relic.log permission error in production inventory-next hosts"
When using #2377 to deploy inventory-next hosts in production merged with latest develop branch code, Apache is not starting.  Gunicorn generates an error in the log. No such an error seen in staging.

## How to reproduce

Run #2377 playbook in production environment for inventory-next hosts, execute command:
`curl -I http://inventory-next-host-name/dataset`

## Work-around
[code]
## Expected beha

[2020-11-06 22:15] FuhuXia opened #2406 "Release 20201112"
## Release MM/DD/YYYY
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2020-11-06 22:35] adborden commented on #2338
On [sandbox](https://catalog-next.sandbox.datagov.us/dataset) the map is loading, but filtering does not work.

https://catalog-next.sandbox.datagov.us/api/action/location_search?q=california returns a 500.

[2020-11-09 12:04] avdata99 commented on #2083
The catalog-next in the sandbox already include the expected redirection

<pre>
$ curl -v catalog-next.sandbox.datagov.us > /dev/null

<b>< HTTP/1.1 302 Found</b>

< Date: Mon, 09 Nov 2020 10:51:48 GMT
< Content-Type: text/plain; charset=utf8
< Transfer-Encoding: chunked
< Connection: keep-alive
< Server: gunicorn/19.10.0
<b>< Location: https://catalog-next.sandbox.datagov.us/dataset</b>
< X-Frame

[2020-11-09 15:06] avdata99 commented on #2338
Error log

[code]

[2020-11-09 15:10] FuhuXia commented on #2338
There should be a one-time task to add the `locations` table. It can be copied from catalog v1 databases.

[2020-11-09 16:16] datagov-bot opened #2409 "deploy-ci-platform #307 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] 24200d579c2c29b9691f7386fbba20350f0c3b6e - add ansible logs and daily rotation

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/307/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/307/pipeline) (blue)

[2020-11-09 16:50] thejuliekramer opened #2410 "Solr Not Working in Production Catalog-Next"
The /harvest /organization and /dataset endpoints using solr are returning 404 messages

## How to reproduce

1. Go to https://catalog-next.data.gov/api/3/action/package_search?q=a
2. Go to https://catalog-next.data.gov/harvest
3. Go to https://catalog-next.data.gov/organization

## Expected behavior

Pages should load without error

## Actual behavior

<img width="1282" alt="Screen Shot 2020-11-0

[2020-11-09 17:28] thejuliekramer commented on #2410
@adborden we updated the solr url in the environment to be pointing to the master solr url and not the replica - the solr replica can't connect to the master solr - we aren't sure what the long term solution is here. Should we update datagov deploy or are we pointing to the replica intentionally and missing some other configuration?

[2020-11-09 17:43] #2409 closed, assigned to nobody

[2020-11-09 20:43] jbrown-xentity commented on #2332
The datasets that are available to a logged in user on inventory-classic versus a generic user of inventory-next are almost identical, however there are 8 dataset differences. They are all some version of `test`, but see below for the complete list. Somehow the level of access is off by 1 for inventory-next, so where inventory-classic had no dataset access for an anonymous user, inventory-next ano

[2020-11-09 20:55] FuhuXia commented on #2332
I am quite sure those listed dataset are manually created AFTER the migration, so they are supposed to be on one instance not the other.

[2020-11-09 21:20] mogul commented on #2133
Jason has pretty much done what he can for this list ahead of actually conducting tests and submitting the package, which should happen closer to our mid-February submission. He's going to review all the existing docs for the "TODO" items and make a list, which we'll review Wednesday (and probably make new issues for).

[2020-11-09 21:53] jbrown-xentity commented on #2332
The datasets are marked private at the CKAN level, which causes the different dataset access for each app. There are 384 active datasets marked with `private` being false in the DB, and 13301 datasets marked with `private` as true, which accounts exactly as our previous counts. You can verify by running the following query on the server:

[code]

[2020-11-09 22:03] jbrown-xentity commented on #2332
The datasets that are currently public could easily be made private and locked down if necessary/desired. Still searching for the root cause as to why inventory-classic locks down datasets even at the sysadmin level...

[2020-11-09 22:24] jbrown-xentity commented on #2332
In examining the api responses, I found that there is a new parameter in ckan2.8 api (compared to 2.5) for packages: [include_private](https://docs.ckan.org/en/2.8/api/index.html#ckan.logic.action.get.package_search). I believe some of the limitations for searching and querying were baked into CKAN2.5 to not be able to search private datasets even if you have access to them.
I believe this is simp

[2020-11-09 23:15] adborden commented on #2332
Okay, am I summarizing this issue correctly?

The difference in counts between inventory-next and inventory-classic is that in inventory-classic, sysadmins did not see private datasets in the count but in inventory-next, sysadmins see everything, including private datasets in the count.

If that's right, sounds like we're okay to close this.

[2020-11-10 14:33] jbrown-xentity commented on #2332
That is the correct summary. Will move to done.

[2020-11-10 17:59] pjsharpe07 commented on #2395
Here's a resource example on sandbox: https://inventory-next.sandbox.datagov.us/dataset/my_dataset_name/resource/b04fcb2e-040e-43b9-a536-53958e82936a

Also, this is not reproduceable when built and run locally.

[2020-11-10 18:38] FuhuXia opened #2413 "ckan-php-manager tagging cli script gives 409 error"
Running [ckan-php-manager tagging cli script](https://github.com/GSA/datagov-deploy/wiki/catalog.data.gov#update-datasets-groups-and-category-tags) on latest Climate spreadsheet, more than half datasets failed with error message `409: Conflict (e.g. name already exists)`.

## How to reproduce

1. Save this sample as `assign_climate_test.csv` in `./data` folder in your local [ckan-php-manager](http

[2020-11-10 20:13] datagov-bot opened #2415 "deploy-ci-platform #310 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [andres] f695aa85b1d2f46f17b23af1b3f71c38b34b1406 - Redirect / to /dataset

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/310/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/310/pipeline) (blue)

[2020-11-10 22:46] hkdctol commented on #2314
@jbrown-xentity reviewed 12 google form responses and a few others that came by Word doc. We also sent again today to open data listserv. A fair amount of interest in being able to store non public information going forward. Doesn't seem that anyone is using it for non-public information right now. Let's see if we get more responses in the next few days.

[2020-11-11 01:40] adborden commented on #2083
~I think this needs to be fixed within the CloudFront distribution or at the Netscaler level.~

[2020-11-11 01:43] adborden commented on #2415
This looks like someone manually installed or tweaked the pycsw install as `root`. I would just manually remove everything under /home/pycsw/releases/ and try again.

[code]

[2020-11-11 02:07] adborden commented on #2410
It looks like we're accessing the wrong solr instance here. It should be datagov-solr2p<strong>-v2</strong> but in the logs I'm seeing the catalog-classic solr host datagov-solr2p.

[2020-11-11 15:01] avdata99 opened #2418 "Add the locations table to deploy"
## Feature/what we're after
Add the locations table to the CKAN database

## Anticipated/hypothesized benefits
- [Filter by location](https://github.com/GSA/ckanext-geodatagov/blob/bb9d017041bc46fb4ac89b9e47c4590e7a7ceb8b/ckanext/geodatagov/logic.py#L48:L50) in CKAN will be available without any error

## References/background
- Related to #2338
- The SQL was added [here](https://github.com/GSA/da

[2020-11-11 15:01] jbrown-xentity commented on #2415
`releases` folder removed, site installation running via jenkins...

[2020-11-11 15:38] avdata99 commented on #2410
@adborden @thejuliekramer I think this PR will do the job: https://github.com/GSA/datagov-deploy/pull/2419/files

[2020-11-11 17:12] #2415 closed, assigned to jbrown-xentity

[2020-11-12 15:49] thejuliekramer opened #2421 "Catalog-web supervisor reload/restart does not kill previous service"
Related to https://github.com/GSA/datagov-deploy/issues/2352

When a reload or restart command is run for supervisorctl via the command line, the original service isn't fully killed. This leaves a job running in the background which takes up the `5000` port and causes the new gunicorn service to fail. Supervisor will keep thrashing and restarting a failing job.

### Mitigation
I ran `netstat -vanp

[2020-11-12 17:17] FuhuXia opened #2422 "synk finding on catalog app"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 11/11/2020
**Severity:** High
**Due date:** 12/11/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has

[2020-11-12 17:46] pjsharpe07 commented on #2328
The inventory-next part of [this ticket](https://github.com/GSA/datagov-deploy/issues/174)

[2020-11-12 17:51] jbrown-xentity commented on #2364
Verified on inventory-next in staging. After running the site playbook, we got the following output (hours after site had been run):

[code]

[2020-11-12 19:32] jbrown-xentity opened #2425 "O+M 2020-11-26"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-11-12 20:41] FuhuXia commented on #2272
🚧  SSL certificate: RITM0782462 still pending. FCS is checking with GSA SecOps team.

[2020-11-12 20:44] jbrown-xentity commented on #2406
All went fine, a number of isolated issues came up during staging and production release. A second run resolved both times.

[2020-11-12 21:11] mogul commented on #2413
We want to check that this is still a problem with catalog 2.8+ before we put effort into fixing it.

[2020-11-12 21:14] mogul commented on #2413
(Iceboxing inside the catalog 2.8 epic for potential review after catalog 2.8+ is live)

[2020-11-12 21:25] mogul commented on #2144
Suspected false positive; checking.

[2020-11-12 21:27] mogul commented on #2254
We're expecting this to be resolved by rolling out inventory-next and catalog-next.

[2020-11-12 21:30] mogul commented on #2314
Hyon's giving this a couple more days before we make some decisions.

[2020-11-13 18:24] #1161 closed, assigned to FuhuXia

[2020-11-13 18:24] #2296 closed, assigned to pjsharpe07

[2020-11-13 18:24] #2332 closed, assigned to jbrown-xentity

[2020-11-13 18:24] #2364 closed, assigned to jbrown-xentity

[2020-11-13 18:24] #2406 closed, assigned to jbrown-xentity

[2020-11-13 18:24] #2122 closed, assigned to jbrown-xentity, chris-macdermaid

[2020-11-13 18:24] #2186 closed, assigned to chris-macdermaid

[2020-11-13 18:24] #2328 closed, assigned to pjsharpe07

[2020-11-13 18:24] #2329 closed, assigned to FuhuXia

[2020-11-13 18:24] #2351 closed, assigned to pjsharpe07

[2020-11-13 18:24] #2362 closed, assigned to pjsharpe07

[2020-11-13 18:24] #2363 closed, assigned to FuhuXia

[2020-11-13 19:51] pjsharpe07 commented on #2395
Visiting [this page on sandbox](https://inventory-next.sandbox.datagov.us/dataset/testing-data-api-button/resource/e1100d0d-3fb9-4399-9a6f-c1feeda0e0cc) only has 1 `Data API` button.

![image](https://user-images.githubusercontent.com/38019872/99114959-ed421400-25ae-11eb-9ae0-d0beb0440ddd.png)

[2020-11-13 20:18] adborden commented on #2083
It looks like this was causing issues on admin-catalog.data.gov and we had to revert https://github.com/GSA/datagov-deploy/pull/2429

[2020-11-13 20:21] adborden commented on #2083
Doesn't seem like this is working:
[code]

[2020-11-13 20:38] adborden commented on #2182
These are the same ciphers from https://github.com/GSA/datagov-deploy/issues/1369 and should be considered excepted. @hkdctol has raised with our ISSO.

The only excepted ciphers should be:
- ECDHE-RSA-AES128-SHA256 (TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256)
- ECDHE-RSA-AES256-SHA384 (TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384)

[2020-11-13 20:47] FuhuXia commented on #2125
should be done after https://github.com/GSA/datagov-deploy/issues/570 is complete.

[2020-11-13 22:53] adborden commented on #2144
The Pen Test does not call out any specific ciphers, so it's hard to tell what they have an issue with. The report says "SEED or 128-bit and 256-bit CBC ciphers". AWS lists the [OpenSSL ciphers used by policy](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/secure-connections-supported-viewer-protocols-ciphers.html#secure-connections-supported-ciphers) which can be cross-referen

[2020-11-13 22:57] adborden commented on #2144
FWIW, [SSL Labs](https://www.ssllabs.com/ssltest/analyze.html?d=www.data.gov&s=99.84.238.71) also reports these enabled ciphers as weak, which matches the above.

<img width="956" alt="Screen Shot 2020-11-13 at 2 56 33 PM" src="https://user-images.githubusercontent.com/509703/99128737-76157b80-25c0-11eb-845c-689f71ba5e1c.png">

So by switching to TLSv1.2_2019, our list of weak ciphers with excepti

[2020-11-13 23:58] adborden commented on #2260
Resolved on [H1](https://hackerone.com/reports/994380).

[2020-11-14 00:07] adborden commented on #2144
CloudFront distributions (catalog.data.gov and www.data.gov) are now using TLSv1.2_2019.

[2020-11-14 00:12] adborden opened #2431 "2020/11/04 catalog.data.gov partial outage"
[IR Timeline](https://docs.google.com/document/d/193UUWNO7rvGYsiXZJJb4AlRV4s1iT-ZG5mkAXfrv404/edit)

Team members in the DC area were seeing 504 Gateway Timeout errors for catalog.data.gov.

[2020-11-14 00:18] adborden commented on #2431
Retro scheduled.

[2020-11-14 00:27] adborden opened #2432 "Task: Ensure smoke tests include a request that represents the healthcheck used by Netscaler/load balancers"
## User Story

In order to ensure that our application is responding to healthchecks properly, data.gov operators want the Ansible playbooks to include a smoke test that makes a request just like the healthcheck made by Netscaler or ALBs.

## Acceptance Criteria
- Each service (solr, redis, etc) and application (catalog, dashboard, etc) should have a smoke test in it's playbook
- In addition to hi

[2020-11-16 18:32] mogul commented on #2314
Survey results summary:
- People are interested in using inventory for non-public information.
- People seem confused about what that actually means.

We are all still confused about which settings apply, and what the norms should be, so Hyon is scheduling a meeting for us to talk in more detail.

[2020-11-16 19:28] avdata99 commented on #2418
Next step:
 - Check out this file is built and prepare a process to update this to 2020 (the file is from 2016)
 - Read CKAN docs to learn more
 - Try to figure out how we can update this yearly. Depending on the source of the data we can make a decision.

[2020-11-16 20:58] adborden commented on #2154
Rolling this up into https://github.com/GSA/datagov-deploy/issues/2398

[2020-11-16 20:58] #2154 closed, assigned to nobody

[2020-11-16 21:08] mogul commented on #2133
Given we've done what we can with this ahead of the pen-tests (which should be happening in January), we're going to call this one `Done`.

[2020-11-16 21:15] mogul opened #2435 "Gather test artifacts needed for ATO submission"
## User Story

In order to assess data.gov components for ATO on cloud.gov, GSA A&A wants recent contingency, and IR test results.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] WHEN I look at [the Google Drive folder for compliance-rel

[2020-11-16 21:31] mogul opened #2436 "Polish SSP and related docs for ISE submission"
## User Story

In order to submit data.gov components on cloud.gov for ISE submission, the team wants to see no internal "todo" notes in the SSP.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN I have opened [the draft SSP](https:/

[2020-11-16 22:03] adborden opened #2437 "Debug script to capture information from DC catalog.data.gov outage"
## User Story
From the 2020-11-04 partial outage.

In order to ensure we have common baseline for data collection around debugging the [partial outage for catalog.data.gov in DC](https://github.com/GSA/datagov-deploy/issues/2398), Data.gov developers want a script that we can run before/after/during an outage that collects a standard set of information about the behavior we're seeing.

## Acceptan

[2020-11-16 22:10] adborden opened #2438 "Move CloudFront configuration to configuration-as-code"
## User Story

From the [2020-11-04 catalog.data.gov partial outage](https://docs.google.com/document/d/193UUWNO7rvGYsiXZJJb4AlRV4s1iT-ZG5mkAXfrv404/edit#) retrospective.

In order to manage our CloudFront distributions like we do our applications with known-good configuration, data.gov developers want the CloudFront distribution configuration under source control as configuration-as-code.

## Acc

[2020-11-17 03:53] mogul opened #2439 "Scan bespoke code for vulnerabilities"
## User Story

In order to meet compliance requirements, the data.gov team wants all pull-requests scanned for vulnerabilities in introduced code.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN you are in a data.gov python reposit

[2020-11-17 07:20] mogul commented on #1433
Completed three more sections today:
- 10.7.4 Code Scanning (Not much to say since we don't currently do it... We should be turning on GitHub.com code-scanning, and then figuring something out for PHP as well since it's not covered. 😬 )
- 10.7.7 Secret and Key Management
- 10.7.8 Artifact Management

[2020-11-17 13:57] avdata99 commented on #2083
Do we need to change something outside this repo?
Where we handle these CloudFront redirections?

@adborden @jbrown-xentity

<pre>
$ curl -L -v catalog.data.gov > /dev/null

< HTTP/1.1 301 Moved Permanently
<b>< Server: CloudFront</b>
< Location: https://catalog.data.gov/

< HTTP/1.1 301 Moved Permanently
<b>< Server: CloudFront</b>
< Location: https://catalog.data.gov/dataset
< X-Cache: Redirect

[2020-11-17 16:24] avdata99 commented on #2418
Notes:
 - The location table [was added](https://github.com/GSA/ckanext-geodatagov/commit/a51d7bd368390a622ef0a3ba1c69856d85b08d3c) to GeoDataGov extension in 2013
 - The issue that started this is [GeoDataGov#43](https://github.com/GSA/ckanext-geodatagov/issues/43)

[2020-11-17 17:43] FuhuXia commented on #570
Will do a survey on following Netscaler/Load Balancer entries and request BSP to change protocol from all HTTP to HTTPS. This change also means currently used ip address in the URL need to be changed to hostnames.

Prod:
[code]
Staging:
[code]

[2020-11-17 18:18] avdata99 opened #2440 "Use geo search from upstream spatial extension"
Attempt to replace issue #2418.

## Feature/what we're after
Start using [geo-search from `ckanext-spatial` extension](https://docs.ckan.org/projects/ckanext-spatial/en/latest/spatial-search.html#spatial-search-widget) and stop using [our (not documented) custom table](https://github.com/GSA/catalog.data.gov/tree/master/tools/locations-table)

## Anticipated/hypothesized benefits
- We can stop mai

[2020-11-17 19:18] avdata99 commented on #1420
This is [done in catalog-next](https://github.com/GSA/catalog.data.gov/blob/master/requirements/pyproject.toml#L20:L20) and probably should be closed

[2020-11-17 19:29] avdata99 commented on #2440
Notes:
 - CKAN version does not allow to search by location _name_ (e.g. _California_). Is just the ability to search inside a map. This feature uses the `spatial` extra field in datasets.
 - Our version allows text search

[2020-11-17 21:06] adborden commented on #2314
Questions to be answered:
- Where are all the bits of code in inventory-classic that are affecting this observed behavior (links to commits in USMetadata, ckan, ckanext-saml2)?
- Does CKAN configuration support defaulting new datasets to private? Does the new metadata form use CKAN's default value for `private`?
- Do we need to fix the [Draft status behavior](https://github.com/GSA/datagov-deploy/

[2020-11-17 22:21] datagov-bot opened #2445 "deploy-ci-platform #320 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] ae6df9a3caa94597c84b7cfe4676def4eac7b734 - snky small bump to unlock PR

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/320/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/320/pipeline) (blue)

[2020-11-18 00:30] adborden opened #2446 "Run WordPress migrations at application startup"
## User Story

In order to ensure migrations are run as soon as an upgrade is applied, data.gov developer wants any wordpress database migrations to be applied at application startup time.

## Acceptance Criteria
- [ ] GIVEN a new version of WordPress or WP plugin is available
  WHEN I run the datagov-web.yml wordpress playbook
  THEN any migrations are applied when the new version of wordpress st

[2020-11-18 01:44] adborden commented on #2445
Manually deleted /home/pycsw/releases/20201113223142Z, where `/home/pycsw/releases/20201113223142Z/pycsw/core/__pycache__` was owned by root, probably manual testing?

[2020-11-18 02:54] #2445 closed, assigned to adborden

[2020-11-18 16:55] jbrown-xentity commented on #2125
Latest scan confirms complete

[2020-11-18 19:16] FuhuXia commented on #2125
The original Nessus was complaining missing HSTS on the individual host level. I think we still have to address it, otherwise it will come back in another scan.

[2020-11-18 21:36] mogul commented on #1943
We resolved this issue: The fields are still in the output, but they're empty (see the Slack conversation for details as to why).

[2020-11-19 01:24] adborden opened #2449 "[timebox: 1w] "ckan in a box" docker-compose file for testing ckan extensions"
## User Story

In order to quickly and easily spin up a CKAN instance for local development and CI testing, data.gov developers want a drop-in docker-compose file that can be used for testing CKAN extensions and running CI tests on extension forks.

## Acceptance Criteria
- [ ] GIVEN I have a CKAN extension that requires a CKAN setup for testing
  WHEN I drop in the docker-compose.yml
  AND I run

[2020-11-19 12:18] avdata99 opened #2450 "production for catalog-next DB failing"
Running load test for catalog-next for production e environment fails with error

[code]
(To be completed with full logs)

## How to reproduce

Run [locust tests](https://github.com/GSA/catalog.data.gov/tree/449_load_testing/tools/load-testing/locust) pointing to catalog-next.data.gov

## Expected behavior

Responses without error in the new production environment

## Actual behavior

98% error ra

[2020-11-19 12:23] avdata99 commented on #2450
Duplicate of [Multi#513](https://github.com/GSA/datagov-ckan-multi/issues/513)

[2020-11-19 12:23] #2450 closed, assigned to avdata99

[2020-11-19 15:56] jbrown-xentity commented on #2314
Found this discussion detailing how to [allow access to CKAN datasets only when logged in](https://stackoverflow.com/questions/27360247/ckan-with-data-access-only-after-login#27932651), leaving it here in case we need it.
CKAN does not have a [configuration option](https://docs.ckan.org/en/2.8/maintaining/configuration.html) for detailing if created packages are public or private by default, not s

[2020-11-19 16:30] datagov-bot opened #2453 "deploy-ci-platform #324 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [andres] a50c8ba0b2afb668e1e557fcd23d5b1a785518ca - Redirect tracking POST to writable URL

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/324/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/324/pipeline) (blue

[2020-11-19 16:51] FuhuXia commented on #2220
App `inventory-next-sandbox` has been created on login.gov sandbox.
![Screen Shot 2020-11-19 at 11 47 00 AM](https://user-images.githubusercontent.com/1392461/99696710-00485e80-2a5d-11eb-8337-ef2b1cc36ea7.png)

The certificate PEM was generated using command:
[code]

[2020-11-19 16:57] avdata99 opened #2454 "SSL error POSTing tracking"
Related to [datagovcatalog#20](https://github.com/GSA/ckanext-datagovcatalog/issues/20)
Probably related to #570

After deploying the [last PR](https://github.com/GSA/datagov-deploy/pull/2447) we now see the redirections work as expected but is still failing

[code]

## How to reproduce

`$ curl -L -v https://admin-catalog-next.data.gov/_tracking -d "url/dataset/department-for-the-aging-dfta-geria

[2020-11-19 17:32] thejuliekramer commented on #2454
<img width="1479" alt="Screen Shot 2020-11-19 at 10 56 23 AM" src="https://user-images.githubusercontent.com/7378770/99702009-e6a61780-2a5a-11eb-9272-ba1c6120aa53.png">

[2020-11-19 17:41] adborden commented on #2454
@thejuliekramer That error is expected until admin-catalog-next.data.gov is working and it's [SSL/TLS certificate is installed properly](https://github.com/GSA/datagov-ckan-multi/issues/298).

![Screen Shot 2020-11-19 at 9 39 40 AM](https://user-images.githubusercontent.com/509703/99702966-5f04dc80-2a4b-11eb-8bf1-14585046d022.png)

[2020-11-19 19:29] jbrown-xentity commented on #2453
^^ Couldn't access jenkins for some reason, noted as "unreachable". Will continue to track...

[2020-11-19 19:58] jbrown-xentity opened #2457 "Wordpress redirection database upgrade failure"
The update failed, looks like some issue with another plugin is causing unexpected behavior. The full message is below...

[code]

## How to reproduce

1. Log into www.data.gov
1. Follow the dashboard message to `Redirection's database needs to be updated`: https://www.data.gov/wp/wp-admin/tools.php?page=redirection.php
1. Click the `Upgrade Database` button

## Expected behavior

Database is upda

[2020-11-19 20:41] #2453 closed, assigned to jbrown-xentity

[2020-11-19 21:24] mogul commented on #2071
We'll reconsider this when we're evaluating which forks to keep or move off of.

[2020-11-19 21:26] mogul commented on #1879
Icebox'ing in the catalog-next epic as a signal that we should re-evaluate this after the upgrade to see if it's still a problem.

[2020-11-19 21:33] mogul commented on #2236
Currently monitoring is just doing a HEAD on the domain root; there's no special endpoint available or being checked in most places (except dashboard).

[2020-11-19 21:51] mogul commented on #2238
Although this is inconvenient now, we're Icebox'ing this improvement as we expect to be on cloud.gov (with centralized logs that include IPs) before we're in a position to defend this in an audit.

[2020-11-19 21:55] mogul commented on #2239
Iceboxing within the catalog-next epic as a signal that we can re-evaluate when that epic's done.

[2020-11-19 22:34] adborden commented on #2235
Monitor | Endpoint | Cached?
-------- | --------- | --------
admin-catalog.data.gov | https://admin-catalog.data.gov/api/action/status_show | N
catalog-next.data.gov | https://catalog-next.data.gov/api/action/status_show | N
catalog.data.gov | https://catalog.data.gov/api/action/status_show | N
CSW | https://catalog.data.gov/csw?service=CSW&version=2.0.2&request=GetCapabilities | **Y**
dashboard |

[2020-11-19 23:05] adborden commented on #2398
FYI, debugging CloudFront (unrelated to this issue), and I'm noticing some strange behavior to note. tl;dr, make sure to invalidate the cache after changing any CF settings.

I just updated the CF default TTL is set to 60 seconds for this endpoint. You can see the `age` header shows the object 50 seconds old, and the response is cached (x-cache: hit).
[code]

15 seconds later, I would expect an `x

[2020-11-19 23:08] adborden commented on #2235
I updated the CSW default to be 60 seconds.

I think we can call this story done.

[2020-11-20 00:29] adborden opened #2458 "Link takeover on dashboard"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.2oxas95byze0)._

https://hackerone.com/reports/1035400

**Date of report:** 2020-11-16
**Severity:** Low
**Due date:** 2020-02-16

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate an

[2020-11-20 00:37] adborden opened #2459 "Broken link checking on all sites"
## User Story

In order to ensure that we are providing the most up to date content and preventing link rot and link takeovers, data.gov users want a broken link check that reports to the data.gov team.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specificat

[2020-11-20 00:39] adborden opened #2460 "Broken link checking on Inventory"
## User Story

In order to ensure that we are providing the most up to date content and preventing link rot and link takeovers, Inventory users want a broken link check.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN a link on Inv

[2020-11-20 00:40] adborden commented on #2460
Closing, I think the approach here is a generic link checking tool that we can apply to all sites https://github.com/GSA/datagov-deploy/issues/2459

[2020-11-20 00:40] #2460 closed, assigned to nobody

[2020-11-20 00:45] adborden commented on #2157
The post was marked Draft in WordPress, I re-published it.

[2020-11-20 00:56] adborden commented on #2431
Retro held and follow up issues created https://github.com/GSA/datagov-deploy/issues/2437 https://github.com/GSA/datagov-deploy/issues/2438

[2020-11-20 14:03] avdata99 commented on #2454
Now I'm getting `403` error

<pre>
$ curl -L -v https://admin-catalog-next.data.gov/_tracking -d "url=/dataset/department-for-the-aging-dfta-geriatric-mental-health-contracted-providers&type=page"
*   Trying 34.193.244.109:443...
* TCP_NODELAY set
* Connected to admin-catalog-next.data.gov (34.193.244.109) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* successfully set certificate v

[2020-11-20 16:04] jbrown-xentity commented on #2457
The failure was due to the update process trying to update the progress on the current page, which caused some sort of authentication error. The update process was smart enough to skip over the parts that were already done, so if you ran the upgrade 4 times (fails at 25%, 50%, and 75%) eventually the database will be fully upgraded.

[2020-11-20 18:22] #2410 closed, assigned to thejuliekramer

[2020-11-20 18:22] #2338 closed, assigned to thejuliekramer

[2020-11-20 18:22] #2297 closed, assigned to kimwdavidson

[2020-11-20 19:08] jbrown-xentity opened #2462 "Catalog-next doesn't harvest ckan->ckan correctly"
Catalog-next is able to harvest from data.doi.gov as a CKAN harvest source. However, the `Metadata Source` section is wrong.

It is reporting the values around this the same as downstream, but the actual content is CKAN JSON metadata. See [this dataset](https://catalog.data.gov/dataset/the-geologic-map-of-arkansas) and it's [Metadata Source](https://catalog.data.gov/harvest/object/88105457-20ab-48

[2020-11-20 22:15] adborden opened #2463 "Dataset results drop to below filter list at ~980px width on catalog-next dataset page"
It looks like the breakpoints are not aligned for tablet sized screens. at ~980px, the dataset results drop below the filter toolbar, but the toolbar does not expand to full width.

<img width="359" alt="Screen Shot 2020-11-20 at 2 08 10 PM" src="https://user-images.githubusercontent.com/509703/99854806-5fc86c00-2b3a-11eb-8586-53bb1ebb6e96.png">

Seems like the filter toolbar collapses at ~770px:

[2020-11-20 22:28] adborden opened #2464 "Dataset page layout on ipad on catalog-next"
- Menu should be the mobile hamburger menu, collapsed on load
- Filter menu should be loaded in a collapsed state
- The filter menu border extends down into the dataset results

<img width="403" alt="Screen Shot 2020-11-20 at 2 20 04 PM" src="https://user-images.githubusercontent.com/509703/99855535-ef224f00-2b3b-11eb-813b-4c4b288c0151.png">

## How to reproduce

On an ipad, or in chrom developer

[2020-11-20 22:39] adborden opened #2465 "Responsive layout tweaks for dataset results page on catalog-next"
Gutter and spacing between elements doesn't look right on responsive layout.

- Menu button should be aligned to the right of the page
- Gutter should be uniform across all elements
- Missing gutter when primary menu is expanded
- "Order By" label needs more margin above
- "Filter datasets" should probably be a button?
- Dataset results should not have the grey gutter, the white background should

[2020-11-20 22:47] adborden opened #2466 "Responsive layout tweaks for dataset page on catalog-next"
Organization information should move to the footer?
Maybe the logos are too large?
Too much vertical whitespace between informational elements?

<img width="703" alt="Screen Shot 2020-11-20 at 2 45 41 PM" src="https://user-images.githubusercontent.com/509703/99857005-1af30400-2b3f-11eb-8a68-506c17e587a7.png">

<img width="704" alt="Screen Shot 2020-11-20 at 2 49 02 PM" src="https://user-images.git

[2020-11-20 22:57] adborden opened #2467 "FEMA organization logo does not load"
<img width="734" alt="Screen Shot 2020-11-20 at 2 56 12 PM" src="https://user-images.githubusercontent.com/509703/99857673-986b4400-2b40-11eb-87fb-2fa5a974cc08.png">

## How to reproduce

1. https://catalog.data.gov/organization/fema-gov

## Expected behavior

## Actual behavior

[2020-11-20 23:03] adborden opened #2468 "GeoJSON format resources appear as application/vnd.geo+json in dataset search"
GeoJSON resources should have a friendlier name in dataset search results

<img width="599" alt="Screen Shot 2020-11-20 at 3 02 48 PM" src="https://user-images.githubusercontent.com/509703/99858058-8a69f300-2b41-11eb-88d9-5210bbc42830.png">

## How to reproduce

1. https://catalog-next.data.gov/dataset?q=census+tracts&sort=views_recent+desc&metadata_type=geospatial&as_sfid=AAAAAAVsbNBvbLHlA6wngNwO

[2020-11-20 23:07] adborden opened #2469 "Every dataset is tagged with "__""
158,867 matches the total number of datasets in catalog-next. Every dataset is tagged with __?

<img width="239" alt="Screen Shot 2020-11-20 at 3 05 41 PM" src="https://user-images.githubusercontent.com/509703/99858238-ee8cb700-2b41-11eb-82b8-f5f88e70e2d5.png">

## How to reproduce

1. https://catalog-next.data.gov/dataset

## Expected behavior

## Actual behavior

[2020-11-23 18:26] jbrown-xentity opened #2472 "Catalog/Inventory Crypto-security"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.134euh6c829v)._

**Date of report: 2020-11-15**
**Severity: High**
**Due date: 2020-12-23**

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been p

[2020-11-23 18:51] jbrown-xentity opened #2473 "Release 2020-11-25"
## Release 11/25/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2020-11-23 19:32] adborden commented on #1795
Confirmed we're still seeing this on catalogharvester1p, so harvest report emails won't go out until this is fixed. I'm going to configure an email sink until we're ready for launch to avoid sending out catalog-next harvest reports to users.

[2020-11-23 22:12] jbrown-xentity commented on #2473
[Catalog PR](https://github.com/GSA/catalog-app/pull/189)
[Inventory PR](https://github.com/GSA/inventory-app/pull/169) (Not necessary)

[2020-11-23 23:36] datagov-bot opened #2476 "deploy-ci-platform #327 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [jbrown] ccb02b98754308aa2bea7f819213f74c98f14cf7 - Force GSA org usage

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/327/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/327/pipeline) (blue)

[2020-11-24 14:50] FuhuXia commented on #2272
✅  SSL certificate: RITM0782462 is resolved.
~~🚧  New ticket RITM0790776 for NetScaler change is created to add new entry **inventory-next.data.gov**.~~ already configured.

[2020-11-24 17:20] #2476 closed, assigned to nobody

[2020-11-24 23:22] adborden opened #2484 "Add host-level smoke tests for health check endpoints"
## User Story

In order to ensure that applications are responding to load balancer health checks after a successful deploy, data.gov operator wants host-level smoke tests in the Ansible playbooks.

## Acceptance Criteria
- [ ] WHEN the application playbooks are run
  THEN the playbook checks for a successful health check endpoint before moving onto the next host

## Background
From the 2020-10-14

[2020-11-25 00:06] adborden commented on #2391
Issues created.

[2020-11-25 01:42] datagov-bot opened #2485 "deploy-ci-platform #330 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [andres] 6ecce277fcc26272811f0cb0d2fe6627da76f0a1 - Handle sqlalchemy pool size

- [andres] 0071d3972f9525be55a77c2c3d6ac67987cfe328 - Define gunicorn workers for all environments

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/330/) (classic)
[View full output](https://ci.sandbox.datagov.us//bl

[2020-11-25 16:15] FuhuXia commented on #2272
Playbook run. inventory-next passed smoke test.

[2020-11-25 17:13] adborden opened #2486 "Add server-side DCAT-US metadata validation logic to dcat_usmetadata"
## User Story

In order to reduce the number of extensions we need to maintain, data.gov developers want to move the server-side validation used by Inventory to dcat_usmetadata.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a co

[2020-11-25 17:15] adborden opened #2487 "Drop USMetadata support"
## User Story

In order to reduce the number of extensions we maintain, data.gov developers wants to drop support for USMetadata.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextual precondition] \
  [AND optionally anoth

[2020-11-25 18:11] mogul commented on #2144
For future reference: The change to TLSv1.2_2019 was made manually through the AWS console.

[2020-11-25 18:12] mogul commented on #2157
(Missed as needed during our content review, hence it having been flipped to Draft status.)

[2020-11-25 18:16] mogul commented on #2457
We've added steps to the release process documentation in case we run into this situation in the future.

[2020-11-25 18:19] mogul commented on #2133
Jason, can you please add this part?

[2020-11-25 19:39] pjsharpe07 opened #2488 "O+M -12/10/2020"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-11-25 20:26] adborden commented on #2399
Draft proposal has been sent out to FGDC for feedback. I also sent the draft to Forest Service since they're currently hammering out some issues with Esri and a CSGDM -> DCAT-US transform.

I pinged Joel about setting up a monthly touchpoint with the GeoPlatform technical team and will reach out to Alli next week.

[2020-11-26 00:53] adborden commented on #1031
With Login.gov in the works, I'm curious if this will be less painful to implement. It's still a bit annoying but I started documenting this https://github.com/GSA/datagov-deploy-jenkins/pull/14

If SAML continues to be a thorn, I think using GitHub authentication would satisfy compliance requirements.

[2020-11-26 13:50] avdata99 commented on #2454
Now we get an `HTTP/1.1 200 OK` for
[code]

It's working on the website (sometimes strangely cancelled)
![image](https://user-images.githubusercontent.com/3237309/100358500-08f8e180-2fd5-11eb-95dc-8a01904c0f9d.png)

[2020-11-27 15:29] pjsharpe07 commented on #2254
This appeared on this month's netsparker report as well

[2020-11-27 15:52] pjsharpe07 opened #2491 "data.gov jquery out-of-date"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.hd7w4s2n166c)._

**Date of report:** 11/24/2020
**Severity:** Moderate
**Due date:** 02/24/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been

[2020-11-27 16:06] pjsharpe07 opened #2492 "Netsparker finds mixed content on catalog.data.gov"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.z0wx2hnct8m7)._

**Date of report:** 11/24/2020
**Severity:** Moderate
**Due date:**  02/24/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has bee

[2020-11-28 23:03] #1943 closed, assigned to mogul, srinirei

[2020-11-28 23:03] #2260 closed, assigned to adborden

[2020-11-28 23:03] #2395 closed, assigned to pjsharpe07

[2020-11-28 23:03] #2405 closed, assigned to pjsharpe07

[2020-11-28 23:03] #2457 closed, assigned to jbrown-xentity

[2020-11-28 23:03] #2473 closed, assigned to pjsharpe07

[2020-11-28 23:03] #2133 closed, assigned to mogul

[2020-11-28 23:03] #2144 closed, assigned to adborden

[2020-11-28 23:03] #2157 closed, assigned to adborden

[2020-11-28 23:03] #2391 closed, assigned to adborden, jbrown-xentity

[2020-11-28 23:03] #2399 closed, assigned to adborden

[2020-11-28 23:03] #2425 closed, assigned to jbrown-xentity, chris-macdermaid

[2020-11-28 23:03] #2431 closed, assigned to adborden

[2020-11-30 20:25] pjsharpe07 opened #2495 "Dashboard crawls are running twice a day"
## How to reproduce

The daily crawls are only supposed to run once per day. Recently, they have been running twice - once at 4am EST and another a little after 10am.

View some of the crawls: [NSF example](https://labs.data.gov/dashboard/offices/detail/52640/2020-12-31).  You can also see the results from the dashboard db: ![image.png](https://images.zenhubusercontent.com/5e1cbcd08dced94b250ef061

[2020-11-30 21:05] pjsharpe07 opened #2496 "Prototype Pollution on resources.data.gov"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.obhjhjfv5btd)._

**Date of report:** 11/30/2020
**Severity:** High
**Due date:** 12/30/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been per

[2020-12-01 17:06] FuhuXia commented on #2248
Completed a dry run on the switchover plan. All looks good.

[2020-12-01 21:54] jbrown-xentity commented on #2485
We are not sure what is causing this failure. The failure occurred at [this step](https://github.com/GSA/datagov-deploy-pycsw/blob/master/tasks/setup_before.yml). It complains about a permissions issue. We can get the pycsw playbook to run by setting become_user to root, but this doesn't seem like a good approach and we are not sure of the consequences.
We have tried manually installing virtualenv

[2020-12-02 08:20] mogul commented on #1433
Completed these sections today:
- 10.7.9 Code Change and Release Management (which finishes section 10.7)
- 10.8.1 Container Image Build and Management
- 10.8.2 Container Image Scanning
- 10.8.3 Container Image Registry
- 10.8.4 Dockerfile Usage
- 10.8.5 Logs and Log Integration from Containers
- 10.8.6 Hardening of Container Infrastructure
- 10.8.9 Container Orchestration
- 10.9.1 List of AWS Ser

[2020-12-02 20:45] jbrown-xentity commented on #2352
Suspect there is some connection with running supervisor through a script to new relic to gunicorn running threads. Would test changing script and removing various components to verify. The catalog script is [here](https://github.com/GSA/catalog.data.gov/blob/master/ckan/setup/server_start.sh) (on the server at `/etc/ckan/server_start.sh`) and the inventory script is [here](https://github.com/GSA/

[2020-12-03 04:46] #2485 closed, assigned to jbrown-xentity

[2020-12-03 16:23] hkdctol opened #2504 "Submission on data.gov/contact form not going to datagov@gsa.gov"
The form on https://data.gov/contact is designed to go to datagov@gsa.gov, the general public feedback google group.

## How to reproduce

Go to https://data.gov/contact and fill out a test submission

## Expected behavior

Members of datagov group should get the submission as an email in their inboxes. The submission should also appear in the datagov google group view.

## Actual behavior

Submis

[2020-12-03 17:12] adborden commented on #2504
This looks like our FROM address for the contact form has not been updated from https://github.com/GSA/datagov-deploy/issues/507 and so mail is being rejected after the handoff to GSA.

I'm going through each [contact from](https://www.data.gov/wp/wp-admin/admin.php?page=wpcf7) and updating the FROM address. We now see a configuration warning that the sending address does not match the site domain

[2020-12-03 17:46] adborden commented on #2504
I updated our wiki with more information on [Email](https://github.com/GSA/datagov-deploy/wiki/Email) and [Topics](https://github.com/GSA/datagov-deploy/wiki/Topics).

[2020-12-03 19:17] mogul opened #2505 "[spike: 4d] Investigate ECS as compliance short-cut for Solr hosting"
## User Story

In order to minimize the risk of delaying data.gov's new ATO, Bret wants to investigate ECS as an alternative for standing up Solr with lower compliance overhead.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] After prese

[2020-12-03 21:08] adborden commented on #2484
@FuhuXia recently created a spreadsheet with updated [health check points](https://docs.google.com/spreadsheets/d/1Qee_TQuLGEASnZ08v1rLBf47kes2KDSoPPTphfXNfc4).

[2020-12-03 21:20] adborden commented on #2254
Going into POAM land 🤞

[2020-12-03 21:21] adborden commented on #2182
@hkdctol is talking with the ISSO, who had to reach out to someone else to get an answer.

[2020-12-03 21:23] adborden commented on #2314
@adborden and @chris-macdermaid to circle up on next steps.

[2020-12-03 21:34] adborden commented on #2223
@adborden will groom this.

[2020-12-03 21:36] adborden commented on #2241
Depending on #2462, we might want to go a different direction.

[2020-12-03 21:38] adborden commented on #466
This is done in our fork, but #2241 is about pushing that work upstream.

[2020-12-03 21:38] #466 closed, assigned to jbrown-xentity

[2020-12-03 21:43] JJediny commented on #2505
admittedly ugly - but couldn't you emulate a zookeeper-less AWS architecture (ref in your issue - https://engineering.zalando.com/posts/2016/05/zookeeper-less-solr-architecture-aws.html) using cloud.gov to push 1 large solr master as an docker container cf-push app and do the same for 3-5 read replicas as apps, then dns to bind/network to them?

[2020-12-03 21:55] adborden commented on #961
This might be fixed in CKAN 2.8

[2020-12-03 22:34] mogul commented on #2505
That's a good idea! Unfortunately the Solr file data is upwards of 70GB, and the cloud.gov hard limit for the application filesystem is 2GB.

[2020-12-04 05:24] datagov-bot opened #2510 "deploy-ci-platform #349 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] e67eaea411fab44b04f9987c4e367676b71a0b29 - Fix fatal error in postfix

- [adborden] f7bc1ef097d9fdbc98781a2363018fd79012dcd9 - Disable email on catalog-next

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/349/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizat

[2020-12-04 14:17] jbrown-xentity opened #2511 "Pycsw playbook doesn't remove code properly"
On various [Jenkins deployments on sandbox](https://ci.sandbox.datagov.us/blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/349/pipeline/), we get the following error. This has happened a variety of times, and may be due to the playbook implementation (and not due to manual tested changes as previously thought).

Specifically, the `__pycache__` folder is created/updated as th

[2020-12-04 15:01] jbrown-xentity commented on #2510
Removed pycsw on catalog-classic, re-ran jenkins. Then the same job failed for catalog-next (passed in the first failing job).
Removed pycsw release folders on both machines, re-running...

[2020-12-04 15:09] jbrown-xentity commented on #2511
I believe the pycsw [worker jobs are not configured properly](https://github.com/GSA/datagov-deploy-pycsw/blob/master/templates/supervisor_worker.conf.j2), they should be running as the `pycsw` user (as the [web supervisor job does](https://github.com/GSA/datagov-deploy-pycsw/blob/master/templates/supervisor_web.conf.j2#L5)). Since I believe it defaults to root, it creates the pycache folder as ro

[2020-12-04 15:40] #2510 closed, assigned to jbrown-xentity

[2020-12-04 16:46] datagov-bot opened #2512 "deploy-ci-platform #352 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [thejuliekramer] 4ec10dc8a115383fd9364e02aaebd4c5c9f59860 - Add ckanext-saml2 to catalog-next plugin list.

- [thejuliekramer] a6aa4ea1c9985c39e26c36b824fb3de09a29662b - SAML2 configuration for catalog-next.

- [thejuliekramer] c77ead07ac1320ee5aa8b1faa9cc53a424a1bfd9 - Update catalog-next tests for saml2

- [thejuliekr

[2020-12-04 17:09] jbrown-xentity commented on #2512
Catalog-next is thrashing, service can't come up. The following is the stack trace:

[code]

[2020-12-04 18:07] adborden commented on #2512
@woodt @thejuliekramer this looks like python needs to be rebuilt with dbm. There's a [force_python_rebuild](https://github.com/GSA/datagov-deploy-common#python-upgrade) Ansible variable that will do this for you as a one-off.

[2020-12-04 18:15] adborden commented on #2510
@jbrown-xentity this keeps coming up. Are we sure we've resolved it for good?

[2020-12-04 18:18] jbrown-xentity commented on #2510
Pretty sure it's not. I already created a ticket this morning, I have some thoughts: #2511, would love your comments/additions @adborden !

[2020-12-04 18:34] woodt commented on #2512
This is odd ... the python on the catalog-next instance in sandbox had already been rebuilt (with dbm support.)

[2020-12-04 18:50] thejuliekramer commented on #2512
I tried running `pipenv run ansible-playbook site.yml -e '{"force_rebuild_python":true}'` but I am still receiving the same deploy error

[2020-12-04 19:11] adborden opened #2513 "Review 404s after catalog-next launch"
## User Story

In order to find popular datasets that have been moved in catalog-next, open data users want the data.gov team to review 404s in catalog-next.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextual preconditio

[2020-12-04 19:30] woodt commented on #2512
OK, I think catalog-next / sandbox is up and running again.  I manually
installed libdb-dev and reran site.yml with force_build_python set to true.

So apparently libdb-dev is required.

Me thinks it should be added to datagov-deploy-common's vars/bionic.yml ?

On Fri, Dec 4, 2020 at 1:50 PM Julie Kramer <notifications@github.com>
wrote:

--
Tom Wood
DevOps Engineer
CivicActions.com

[2020-12-04 20:48] pjsharpe07 opened #2515 "Dataset Page missing `description` on catalog-classic"
## How to reproduce

The description appears on [list views of datasets](https://catalog.data.gov/dataset?q=rexus&as_sfid=AAAAAAVpgvgLwhiWWqz6SXeWzqmqdLHwaMcRq3NOhAjWBnDd12o-R9e38B9U58a-q3elZr_CxvzY9dHO5m40F20ZvBvJlADZIJcevUqvKeAu1wjVxMv0WyO2AyLNsyxncZbefqA%3D&as_fid=9e9ffa47cddb561790b7f2ddcc43a3741160f0d9) but the description does not appear see:

[this example](https://catalog.data.gov/dataset/

[2020-12-04 20:56] jbrown-xentity commented on #2515
Tested on sandbox, rolling back [this PR](https://github.com/GSA/ckanext-datagovtheme/pull/47/files), specifically changing the line [h.get_translated](https://github.com/GSA/ckanext-datagovtheme/commit/638cf2f22d2c81498e26a0afd292f347f4b8a450#diff-203a1737f44a0fa87b9d1a10a81ab484951f49d7a912dc91d4c38c5d62b657daR39) to be the old [c.package_notes_formatted](https://github.com/GSA/ckanext-datagovth

[2020-12-04 21:23] adborden commented on #2515
Hmm, is it possible this has been an issue on catalog-classic since August/September?

@avdata99 we're going to rollback the original fix. Let's add an integration test to both catalog-classic and catalog-next to catch this in the future.

[2020-12-04 21:31] woodt commented on #2512
Merged the update to datagov-deploy-common (v4.2.1)
Created branch in datagov-deploy feature/add-libdb-dev-to-bionic, tested on sandbox, looks OK.  Needs a PR.

[2020-12-04 22:27] thejuliekramer commented on #2512
PR: https://github.com/GSA/datagov-deploy/pull/2516

[2020-12-04 22:43] thejuliekramer commented on #2512
Merged with review from James - going to deploy develop to sandbox now

[2020-12-04 23:04] adborden commented on #2515
This has been deployed.

[2020-12-04 23:34] thejuliekramer commented on #2512
This deployed fine but did not close automatically - can I close this?

[2020-12-04 23:43] #2512 closed, assigned to nobody

[2020-12-07 20:23] adborden commented on #2095
FYI, as part of https://github.com/GSA/datagov-ckan-multi/issues/422, it looks like this is actually a bug in that publishing_status should be tied to CKAN's draft state (`state: draft`). I think this will be resolved with #422 and other changes from the form.

[2020-12-07 21:08] avdata99 commented on #2515
@adborden @jbrown-xentity I will add logic for different versions of CKAN into the jinja template and sent a new PR with tests

[2020-12-08 01:27] adborden commented on #2399
Emailed Alli to setup a recurring meeting.

[2020-12-08 02:07] adborden opened #2520 "502 Proxy Error intermittently on catalog-next"
I see this kind of randomly, but enough to cause concern. It looks like in some cases gunicorn is unavailable momentarily, so apache returns the proxy error. I've also seen this on inventory-next.

![Screen Shot 2020-12-07 at 6 07 18 PM](https://user-images.githubusercontent.com/509703/101429150-18223e00-38b7-11eb-8981-f4275d27484b.png)

## How to reproduce

1. Description of steps to reproduce th

[2020-12-08 14:56] jbrown-xentity commented on #2314
TODO

No, this is not supported in [CKAN configuration](https://docs.ckan.org/en/2.8/maintaining/configuration.html). Unknown for new metadata form. [This logic to make datasets public](https://github.com/GSA/USMetadata/blob/master/ckanext/usmetadata/plugin.py#L691-L698) is part of the classic and next inventory backend, with a standard [disclaimer banner at the top of the resource edit page for i

[2020-12-08 17:20] chris-macdermaid opened #2522 "Release 2020-12-10"
## Release 12/10/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2020-12-08 17:33] datagov-bot opened #2523 "deploy-ci-platform #355 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [noreply] d141dc23e7b59e533b7c72ce083bf4095f2fea73 - Update vars.yml

- [noreply] 80cb446b23f7742f9105fccc0a4303db8ede9f96 - Update vars.yml for nr reporting

- [noreply] 7cf9e63e453e575e024a130219e09110b25880d8 - Update vars.yml inventory-next sandbox

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-plat

[2020-12-08 17:35] jbrown-xentity commented on #2523
Jenkins unreachable, probably a blip. Re-running.

[2020-12-08 17:52] adborden opened #2524 "Task: create GSA/datagov-iam for identity access management"
Split out [IAM](https://github.com/GSA/datagov-infrastructure-live/tree/master/iam) from the existing GSA/datagov-infrastructure-live.

This will be the repo to hold all things IAM (AWS, GitHub, etc). This simplifies GSA/datagov-infrastructure-live so that it's only housing infrastructure.

[2020-12-08 17:53] mogul commented on #2505
[Repository for this work is here](https://github.com/GSA/datagov-terraform-ecs-solr)
@srinirei is going to keep exploring this for a bit, while I re-evaluate the EKS route based on new guidance we got from GSA IT.

[2020-12-08 17:54] adborden opened #2525 "Task: combine GSA/datagov-infrastructure-modules and GSA/datagov-infrastructure-live"
## User Story

In order to simplify our infrastructure, data.gov developers want the terraform infrastructure modules to live side-by-side with where the modules are used.

Since the modules aren't being shared in other projects, keeping them versioned in a separate repo doesn't really make sense. After running with them split for 18 months, it's pretty clear there are more advantages to combining

[2020-12-08 18:26] jbrown-xentity commented on #2523
Same issue. May need to wait for a bit before re-running... server might need a reboot before continuing @pjsharpe07?

[2020-12-08 19:10] adborden opened #2526 "Non-federal users with login.gov accounts can authenticate with CKAN"
As was always the case with Data.gov, we delegate account creation to our SAML2 provider (formerly MAX.gov) but assign authorization with CKAN's organization membership and roles. Any government user can sign in with MAX.gov and create an account in Inventory or Catalog, but without an administrator to assign them a role or organization, they would have no more authorization than an anonymous user

[2020-12-08 19:11] adborden commented on #2526
We might want to consider requiring PIV card access so only PIV card users can create accounts.

[2020-12-08 19:14] datagov-bot opened #2527 "deploy-ci-app-inventory #107 failed"
Build 'deploy-ci-app-inventory' is failing.

Changes since last successful build:
- [christopher.macdermaid] 459d8b56a8a9689b673f0c78dfc882d8869dd599 - Update requirements for release2020-12-10

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-inventory/107/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-inventory/detail/depl

[2020-12-08 19:17] datagov-bot opened #2528 "deploy-ci-app-catalog #51 failed"
Build 'deploy-ci-app-catalog' is failing.

Changes since last successful build:
- [christopher.macdermaid] 90f782061f23e2770163be9190c11080fa01f7ab - Release 2020-12-10 update requirements

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-catalog/51/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-catalog/detail/deploy-ci-app-

[2020-12-08 20:31] adborden opened #2530 "saml_error parsing logout request"
In /tmp/sp.log
[code]

## How to reproduce

1. Description of steps to reproduce the issue.

## Expected behavior

## Actual behavior

[2020-12-08 23:46] hkdctol opened #2533 "Existing inventory users can authenticate using login.gov"
## User Story

As Data.gov PMO, we want to make sure that the new CKAN 2.8 version of inventory has authentication through login.gov for all the current agency users so that agency users can use inventory.data.gov without interruption at the upgrade.

## Acceptance Criteria

- [ ] GIVEN CKAN 2.8 version of inventory.data.gov is live AND login.gov authentication has been deployed
  WHEN a current i

[2020-12-09 00:54] mogul opened #2534 "Incorporate IaaS-level diagrams and descriptions into SSB SSP sections 1-12"
## User Story

In order to sign off on our readiness for ATO submission, GSA ISE wants to review a description of the IaaS portion of our deployment in sections 1-12 of the the SSB SSP.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIV

[2020-12-09 01:00] #2528 closed, assigned to nobody

[2020-12-09 01:03] #2527 closed, assigned to nobody

[2020-12-09 01:04] datagov-bot opened #2535 "deploy-ci-app-wordpress #15 failed"
Build 'deploy-ci-app-wordpress' is failing.

Changes since last successful build:
No changes
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-wordpress/15/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-wordpress/detail/deploy-ci-app-wordpress/15/pipeline) (blue)

[2020-12-09 02:58] mogul opened #2536 "Brokerable (non-ATO'd) k8s instances available via cloud.gov"
## User Story

In order to make k8s clusters available on-demand for use in by teams using cloud.gov, the data.gov team wants to operate a broker that makes brokered k8s instances available.

## Acceptance Criteria
- [ ] GIVEN I run `cf login -a api.fr.cloud.gov --sso` and authenticate \
  AND I run `cf target -o gsa-datagov -s <development|staging|production>`  \
  WHEN I run `cf marketplace` \

[2020-12-09 16:40] pjsharpe07 opened #2539 "Upgrade Wordpress Version"
## User Story

In order to keep www.data.gov easy to update and secure, the team wants www.data.gov to be running the most recent supported version of WordPress (5.6.0).

## Acceptance Criteria

- [ ] GIVEN I am logged into WordPress as an admin \
 WHEN I look at the version information in the lower-right of the dashboard \
 THEN I see that the version is 5.6.0 or higher

## Background

## Securit

[2020-12-09 18:07] mogul commented on #2505
After more investigation, this is not as straightforward as we'd first hoped, either technically or compliance-wise.

[2020-12-09 19:45] pjsharpe07 opened #2540 "Dashboard Codeigniter Vulnerability"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.itkbo0zboa18)._

**Date of report:**  12/09/2020
**Severity:** Moderate
**Due date:** 03/09/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has bee

[2020-12-09 19:49] pjsharpe07 commented on #2540
Oops, we've already triaged this one. [PR here](https://github.com/GSA/project-open-data-dashboard/pull/297)

[2020-12-09 19:49] #2540 closed, assigned to nobody

[2020-12-09 21:57] jbrown-xentity commented on #2220
I found that our current blocker of a strange redirect [has happened before](https://gitter.im/ckan/chat?at=5d9b82a592920c36a12b23dc). Have twice reviewed the configuration, still have found nothing different between catalog and inventory setup. Need a pair to move forward.

[2020-12-10 02:01] mogul opened #2543 "Polish data.gov components SSP for ATO submission"
## User Story

In order to submit data.gov components on cloud.gov for ATO, the GSA A&A team wants to see no internal "todo" notes in the SSP.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN I have opened [the draft SSP](https://do

[2020-12-10 03:37] mogul opened #2544 "Sign and verify images made/used in all Makefiles and docker-compose files"
## User Story

In order to have a verifiable supply chain for Docker-based workflows and operations, the team wants to use Docker Content Trust to verify pulled images haven't been tampered with before using them.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral

[2020-12-10 04:26] mogul commented on #1960
Note AJ [did a bunch of work](https://github.com/18F/vuls-cloudfoundry-buildpack/pull/13) on the vuls buildpack which basically makes it fit this description.

[2020-12-10 06:22] mogul commented on #1433
Tonight I did

* 10.8.7 Privilege Management in Cluster and Containers
* 10.8.8 Container Network Security
* 10.8.10 Monitoring and Alerting (which finishes section 10.8)
* 10.9.3 Separation of Workloads
* 10.9.4 Cloud Network Design
* 10.9.5 Network Security and Microsegmentation
* 10.9.6 Data Encryption in Transit
* 10.9.7 Data Encryption at Rest
* 10.9.8 S3 Bucket Security
* 10.9.9 Key Manageme

[2020-12-10 06:26] mogul commented on #1433
I'm consolidating the remaining tasks from https://github.com/gsa/datagov-deploy/issues/2436 here since we can't submit for ISE review until both issues are done. I'll also close that issue now as it's duplicative.

---
- [-] In Section 10: Add management space/backup app to diagram and description. (@mogul)
- [x] Data flow section: Expand for each of www, catalog and inventory components.
- [x] D

[2020-12-10 06:28] mogul commented on #2436
Closing as the rest of the list has been consolidated onto https://github.com/GSA/datagov-deploy/issues/1433, which is a better marker for when this work is done.

[2020-12-10 06:28] #2436 closed, assigned to mogul

[2020-12-10 14:42] jbrown-xentity commented on #2523
Latest failure was due to pycsw, which fix is in-progress of deployment (https://github.com/GSA/datagov-deploy/pull/2546). Re-running...

[2020-12-10 16:51] adborden commented on #906
This is already done.

[2020-12-10 16:51] #906 closed, assigned to nobody

[2020-12-10 16:59] pjsharpe07 opened #2548 "Redis restart fails when password changes"
## How to reproduce

If the redis password gets changed, then the service fails to restart/pickup the new password change. This leaves the harvester in a bad state - specifically the harvester_run will fail due to a redis password error. This issue is [documented upstream](https://github.com/DavidWittman/ansible-redis/issues/115).

## Expected behavior

When we change the redis password and run th

[2020-12-10 17:39] adborden opened #2549 "Support memcached identity cache in ckanext-saml2/pysaml2"
## User Story

As a [user description], I want [behavior description] so that [goal].

[...or [alternatively](https://blog.crisp.se/2014/09/25/david-evans/as-a-i-want-so-that-considered-harmful)...]

In order to [goal], [stakeholder] wants [change].

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Be

[2020-12-10 18:03] jbrown-xentity opened #2550 "Inventory S3 filestore extension fork management"
## User Story

As a data.gov admin, I want to use a supported version of ckanext-s3 so we can minimize the porting  we have to do to get on python3.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] WHEN the the requirements-freeze file fo

[2020-12-10 18:18] adborden commented on #2504
There might be a record of the dropped emails in wordpress.

[2020-12-10 19:21] jbrown-xentity commented on #2523
This is cycling, still not sure why this is failing. Same error occurs for jenkins system is unreachable on a shell command that runs fine on the instance locally. Need a pair to consider increasing timeout time, or some other issue.

[2020-12-10 19:46] jbrown-xentity opened #2551 "Common Playbook fails for jenkins at 1.20"
The jenkins deployment is failing, being marked as unreachable at the [common playbook step 1.1.20](https://github.com/GSA/ansible-os-ubuntu-16/blob/master/tasks/section1.yml#L81-L88). The command runs fine locally, and fine when running remotely via a shell script.

This may be due to file permissions being changed (due to reboot), should try to discover what has changed and why the shell command

[2020-12-10 19:49] jbrown-xentity opened #2552 "Jenkins deployment fails for jenkins on 4.1.12"
Deploying common playbook on Jenkins is failing for [step 4.1.12](https://github.com/GSA/ansible-os-ubuntu-16/blob/master/tasks/section4.yml#L39-L45). Not sure what is causing the break.

[Ansible logs of failure](https://ci.sandbox.datagov.us/blue/rest/organizations/jenkins/pipelines/deploy-ci-platform/runs/368/nodes/35/steps/40/log/?start=0)

## How to reproduce

1. Run the jenkins playbook
2. N

[2020-12-10 19:55] chris-macdermaid commented on #2548
A work around is to log into the server running redis and kill the redis process by running 'kill <redis process id>' Redis will not be stopped by running 'service redis stop'

[2020-12-10 20:45] jbrown-xentity commented on #2552
In running the first search command on the jenkins box, the command just spins. The content is probably getting stuck at searching the `/data/` folder, which contains all the docker build files. Scanning this whole system is causing this to get stuck.
Not sure what the fix is yet. We could clear the folder, but that seems like an unnecessary manual step similar to when we ran out of space for dock

[2020-12-10 20:50] jbrown-xentity commented on #2552
Running `docker image prune` on the jenkins host removed 30G of data, and the command time for 4.1.12 went from ~4.5 minutes down to 12 seconds.
Noted that this manual fix is light and not worth automating at this time, will leave mitigation step as breadcrumb for future issues.

[2020-12-10 21:12] mogul commented on #2182
Still haven't heard back from Lynnette.

[2020-12-10 21:16] mogul commented on #2534
[Source for the existing diagrams](https://github.com/GSA/datagov-compliance/blob/master/solr-service-scratchpad.md)

[Live editor for PlantUML](http://www.plantuml.com/plantuml/uml/SyfFKj2rKt3CoKnELR1Io4ZDoSa70000)

[A sample diagram for the terraform-aws-eks module](https://gruntwork.io/repos/images/v0.29.1/terraform-aws-eks/_docs/eks-architecture.png?raw=true) we're using. In our case, there ar

[2020-12-10 21:32] #2535 closed, assigned to nobody

[2020-12-10 21:43] mogul commented on #2098
Waiting on official guidance from the Digital Council.

[2020-12-10 21:50] mogul commented on #2422
Closing as we believe this is incorporated in the resolution of https://github.com/GSA/datagov-deploy/issues/2472

[2020-12-10 21:50] #2422 closed, assigned to nobody

[2020-12-10 22:06] jbrown-xentity commented on #2523
Last issue was pycsw issue, removed all pycsw folders on catalog classic and catalog-next (web and harvester), [hopefully for the last time](https://github.com/GSA/datagov-deploy-pycsw/pull/13)...

[2020-12-10 22:35] #2523 closed, assigned to jbrown-xentity

[2020-12-10 23:02] adborden opened #2553 "Monit service for supervisor/gunicorn ckan processes"
## User Story

In order to keep ckan running without alerts requiring human intervention, data.gov operator wants a monit service to monitor supervisor/gunicorn ckan processes.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN I run

[2020-12-11 01:29] adborden commented on #2534
@mogul when you have a moment can you add data-gov-admins to [GSA/datagov-compliance](https://github.com/GSA/datagov-compliance)?