[2020-06-10 19:39] hkdctol commented on #1482
https://data.va.gov/data.json is the new source and is live.

It validates on labs.data.gov validator.

I will edit catalog.data.gov harvest source and put in the new URL.

[2020-06-10 20:00] datagov-bot opened #1743 "deploy-ci-app-inventory #9 failed"
Build 'deploy-ci-app-inventory' is failing.

Changes since last successful build:
No changes

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-inventory/9/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-inventory/detail/deploy-ci-app-inventory/9/pipeline) (blue)

[2020-06-10 21:42] FuhuXia opened #1745 "'make requirements' does not generate updated requirements-freeze.txt"
In inventory-app,  running `make clean build requirements` doesn't update requirements-freeze.txt, even though some package is supposed to be updated.

## How to reproduce

1. Description of steps to reproduce the issue.
No reliable way to reproduce this. But when it happens, it only happens to an existing project folder. For a new repo clone, `make clean build requirements` always generates corre

[2020-06-10 21:47] FuhuXia commented on #1745
It seems the command `make clean` does not clean cached docker component thorough enough. The work-around found is to run `docker-compose down --rmi all` before run `make clean build requirements`.

The issue is confirmed in `inventory-app`, it might affect `catalog-app` as well.

[2020-06-11 13:16] datagov-bot opened #1749 "deploy-ci-app-dashboard #13 failed"
Build 'deploy-ci-app-dashboard' is failing.

Changes since last successful build:
- [bret.mogilefsky] 4538f565f5eeb5f4e0f29a477127535b68b07717 - Remove simplesamlphp and update dependencies

- [bret.mogilefsky] f255647c744ee122ccf7e204c8e0cdfc8b2cd814 - Remove Snyk exception since we're no longer using simplesamlphp

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-dashboard/13/)

[2020-06-11 16:36] datagov-bot opened #1750 "deploy-ci-platform #44 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [andres] 25237f836841d1800d4e581b611c87e879bc7a77 - Add new extension

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/44/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/44/pipeline) (blue)

[2020-06-11 16:48] #1749 closed, assigned to nobody

[2020-06-11 17:44] mogul commented on #1292
Thanks for leaving the screenshot! Very handy for being able to demo during the review while you were out. @adborden is going to follow up with the people who asked for this originally.

[2020-06-11 18:40] #1012 closed, assigned to mogul

[2020-06-11 18:40] #1482 closed, assigned to hkdctol

[2020-06-11 18:40] #1619 closed, assigned to FuhuXia

[2020-06-11 18:40] #1701 closed, assigned to jbrown-xentity

[2020-06-11 18:40] #1705 closed, assigned to FuhuXia

[2020-06-11 18:40] #1734 closed, assigned to FuhuXia

[2020-06-11 18:40] #1591 closed, assigned to mogul

[2020-06-11 18:40] #1592 closed, assigned to mogul

[2020-06-11 18:40] #1664 closed, assigned to mogul

[2020-06-11 18:40] #1738 closed, assigned to mogul

[2020-06-11 18:40] #1739 closed, assigned to mogul

[2020-06-11 18:40] #1741 closed, assigned to mogul

[2020-06-11 18:40] #1292 closed, assigned to pjsharpe07

[2020-06-11 18:40] #1597 closed, assigned to pjsharpe07

[2020-06-11 18:40] #1693 closed, assigned to pjsharpe07

[2020-06-11 18:58] hkdctol commented on #1115
Email from GSA Security today encouraging update to 5.4.2

[2020-06-11 19:24] adborden commented on #1749
Failing task from the build log:
[code]

[2020-06-11 19:35] adborden commented on #1743
Seeing different errors in each build but https://github.com/GSA/inventory-app/pull/45 was the only recent change.

[2020-06-11 19:36] #1743 closed, assigned to nobody

[2020-06-11 19:38] adborden commented on #1750
Build log, there's a temporary fix in https://github.com/GSA/project-open-data-dashboard/pull/281 so I'm going to kick off a new build.

[code]

[2020-06-11 20:04] jbrown-xentity opened #1751 "HackerOne Dashboard SSRF"
_See details on [HackerOne](https://hackerone.com/reports/885113)

- [x] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is identified, we create two issues. One to address the specific instance identified in the report. The other is to identify and address all other occurrences of this vulnerabili

[2020-06-11 20:10] jbrown-xentity opened #1752 "Datajson DOS risk"
See [HackerOne](https://hackerone.com/reports/885076) for details and triage

**Severity: Medium**

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is identified

[2020-06-11 20:13] mogul commented on #1745
Icebox'ing for now; will pull this issue back out if we see this happen more often/reliably.

[2020-06-11 20:17] #1750 closed, assigned to nobody

[2020-06-11 20:18] jbrown-xentity opened #1753 "Dashboard Blind Server-Side Request Forgery (SSRF)"
See [HackerOne](https://hackerone.com/reports/895696) for details

**Date of report:**
**Severity: Medium**
**Due date:**

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When

[2020-06-12 07:28] mogul commented on #1753
I'm planning to sift logs to help verify the list of controller methods that *should* be public, and then flip all the remaining ones to private.

[2020-06-12 17:16] #1690 closed, assigned to starsinmypockets

[2020-06-12 23:50] adborden commented on #1629
@FuhuXia I just deployed WordPress, but I'm still seeing TLSv1.1 in the nginx configuration. I think you still need to bump the Ansible role versions in requirements.yml.

[2020-06-13 00:17] adborden commented on #1707
I removed tomcat from these hosts, which aren't supposed to have tomcat anyway.

[code]

[2020-06-13 00:22] adborden commented on #1707
Also removed from these hosts since they are not currently in service.

[code]

[2020-06-13 00:47] adborden commented on #1707
I'm looking at the relevant CVEs and comparing versions to the Ubuntu repository and it looks like they are not available. Some investigation is necessary on what the right fix is, it's not as simple as apt-get upgrade.

[2020-06-13 00:57] adborden commented on #1682
@pjsharpe07 I manually installed ua on catalog-harvester1d just to check some things. So far, looks good!

[2020-06-15 14:36] pjsharpe07 opened #1754 "O+M"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-06-15 16:19] adborden commented on #719
Looks like we're not the only ones running into mod-wsgi problems https://github.com/ckan/ckan/issues/5430

[2020-06-15 16:33] adborden commented on #1449
I've been using [Monit](https://mmonit.com/) for another project and realizing it can do a lot more than I realized. Monit is a service that monitors the system for conditions (e.g. memory is greater than X threshold for Y cycles) and then takes actions (restart a service, send a notification, etc). It can do can even do [memory resource tests for processes](https://mmonit.com/monit/documentation/

[2020-06-15 21:50] pjsharpe07 commented on #1687
Just ran into this issue again and did a manual cleanup of the `/tmp/s3sitemap` directory

[2020-06-16 15:09] FuhuXia commented on #1629
@adborden Yes I see. I thought we use master.

[2020-06-16 15:25] adborden opened #1755 "Create a second jumpbox in sandbox"
## User Story

As a Data.gov developer, I want a second jumpbox in the sandbox environment so that there is less contention of using sandbox resources when multiple developers are testing.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ]

[2020-06-16 15:27] adborden commented on #1755
FWIW, I often use my own user and SSH key forwarding to avoid contention on the jumpbox. The [Putty configuration](https://github.com/GSA/datagov-deploy/wiki/Horizon-Desktop) describes how to setup putty for SSH key forwarding. There may be one undocumented complication.

[2020-06-16 18:23] adborden opened #1757 "Research 3d: Identify low-lift effort for a new evidence act compliance information"
## User Story

In order to remove the dashboard and focus efforts on high-value delivery of the Data.gov mission, Data.gov wants  to create a maintainable, modern source of information (similar to the [dashboard](https://labs.data.gov/dashboard)) for OMB to report to GAO.

In order to provide essential information for Evidence Act compliance, OMB wants a single public location of information for r

[2020-06-16 19:07] mogul opened #1759 "Outsource SSRF mitigation implementation in dashboard to community"
## User Story

In order to maximize our chances of blocking SSRF attempts with minimal ongoing maintenance, the data.gov team wants to use [a community-maintained PHP SSRF blocking solution](https://github.com/j0k3r/safecurl) in place of our own code.

## Acceptance Criteria
- [ ] WHEN I grep for `curl_exec()` in a checkout of `dashboard-app` \
  THEN I see no results outside the `vendor` director

[2020-06-16 20:48] hkdctol commented on #1367
Re-opening as broken links have been discovered so that we can look for cause. @FuhuXia do you recall if we ever harvested correctly on production? @hbarrett

[2020-06-16 20:51] mogul commented on #1740
Diff showing [rich preview of the added diagrams](https://github.com/GSA/datagov-compliance/commit/7a088977215e6d5442423a16af7fd9405fda24f8?short_path=2d9f9a6#diff-2d9f9a63325bb3f6c902c924457d4ca0) in the markdown. (Not yet pasted into the SSP draft; that's next.)

[2020-06-16 20:59] FuhuXia commented on #1367
@hkdctol I did not harvested it manually on production. We can do it anytime if needed. I believe the issue that got it stuck has been resolved.

[2020-06-16 21:11] FuhuXia commented on #1629
requirements.yml updated with new tags, verified on sandbox. Ready to go to staging/prod.

[2020-06-17 00:47] mogul commented on #1740
Added the diagrams into the SSP draft now. Still needs textual description for each component based on the FY19 SSP.

[2020-06-17 00:57] mogul opened #1760 "Mock DNS in dashboard tests"
## User Story

In order to easily test DNS-dependent behavior without relying on external services, the data.gov team wants an easy way to to mock DNS during dashboard tests.

## Acceptance Criteria
- [x]  WHEN I search for xip.io and ip6.name in the dashboard repo \
  THEN there are no results
- [x]  GIVEN I am observing the outgoing network traffic on my workstation \
  WHEN I run tests in the d

[2020-06-17 15:32] FuhuXia commented on #1707
@adborden Are we planning to move tomcat out of harvesters, into a dedicated bionic instance?

[2020-06-17 16:45] mogul opened #1761 "Add specific system descriptions to SSP for each data.gov component"
## User Story

In order to include all data.gov components in-scope for the data.gov ATO on cloud.gov, the SSP must include a system description of elements specific to each of the www, catalog, and inventory components in section 9.e.

## Acceptance Criteria
- [ ] GIVEN I have opened the [FY20 Draft SSP](https://docs.google.com/document/d/1WuoO419OV-SHiQU5k_IWZYsWbjPE_VXmj-jNMH0KDDI/edit)
  WHEN

[2020-06-17 16:46] mogul commented on #1740
[Textual descriptions are happening in another issue.](https://github.com/GSA/datagov-deploy/issues/1761)

[2020-06-17 16:48] mogul commented on #1753
Because we've reduced the number of controllers in the app, I was able to do an exhaustive inventory of what methods should be private vs. public, and flip those that needed to be private. I also added a test which ensures that new public methods are not introduced without intent.

[2020-06-17 16:55] adborden commented on #1537
Opened a ticket for BSP and will reach out in chat.

[code]

[2020-06-17 17:32] hkdctol commented on #1688
Coordinating timing with CDO Council. Outreach to agencies that are on CDO list where we have non-working data.json links.

[2020-06-17 18:59] FuhuXia commented on #1367
It is harvested successfully today.

[2020-06-17 21:04] hkdctol opened #1763 "EAC dataset not included in harvest"
Election Assistance Commission is an agency that had some old datasets in catalog (pre-CKAN, pre-harvest model data.gov). EAC recently created a data.json and posted at https://www.eac.gov/data.json with one dataset. Harvest completed showing 0 errors but did not add the dataset. The data.json had validated when tested against validator on labs.data.gov.

## How to reproduce

Go to catalog, find E

[2020-06-17 21:10] pjsharpe07 opened #1764 "Nessus 06/17/2020"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.1iced5x7fav9)._

**Date of report:** 06/17/2020
**Severity:** High
**Due date:** 07/17/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

### Brief description
[Ness

[2020-06-18 00:04] adborden opened #1765 "ckanext-datajson silently fails when it encounters an expired SSL certificate"
[healtdata.gov data.json source](https://admin-catalog.data.gov/harvest/healthdata-gov/job/fb7c1a84-ba62-4242-9396-b834c259ccb4) shows 0 errors.

data.json: https://healthdata.gov/data.json

[openssl log](https://gist.github.com/adborden/305e168844c927b79ddb1f4253ad01dc) shows the certificate expired.

[code]

## How to reproduce

1. Login into catalog.data.gov as admin.
1. Re-harvest [Healthdata.

[2020-06-18 02:12] adborden commented on #1707
Even if tomcat was running on bionic, it would not fix this.

[2020-06-18 17:06] datagov-bot opened #1768 "deploy-ci-app-dashboard #17 failed"
Build 'deploy-ci-app-dashboard' is failing.

Changes since last successful build:
- [bret.mogilefsky] fbf4a675322c8c96e511dfe791b3529498d24ac8 - Revert "Revert "Remove simplesamlphp and update dependencies""

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-dashboard/17/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-dashboar

[2020-06-18 17:47] woodt commented on #1628
I have checked all the boxes!  Not sure how to Q/A this :-)

[2020-06-18 17:55] mogul opened #1769 "Refactor dashboard Docs controller"
## User Story

In order to make the dashboard more maintainable and secure, the data.gov team wants the Docs controller to strip out open-ended behaviors and only present docs shipped with the app.

## Acceptance Criteria
- [x] WHEN I attempt to make the /docs controller show me information that's not in the app's local docs \
  THEN I get a 404 response

## Background
The Docs controller routes a

[2020-06-18 19:57] datagov-bot opened #1771 "deploy-ci-platform #49 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [38019872+pjsharpe07] 56b180dd8973c58107915f8a49c22e0dbddda49b - Upgarde postfix to newest version

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/49/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/49/pipeline)

[2020-06-18 21:48] #1771 closed, assigned to pjsharpe07

[2020-06-18 21:55] adborden commented on #1764
solr-v2 hosts are now running Linux 5.3.0-1023-aws.

[2020-06-18 22:00] mogul opened #1773 "Prepare SSP sections 1-12 for Supplementary Service Broker (SSB)"
## User Story

In order to operate a brokered Solr service, we must complete sections 9-10 of an SSP for a Solr broker hosted on cloud.gov that manages instances in an IaaS-provided k8s.

## Acceptance Criteria
- [x]  WHEN I look in [the FY2020 data.gov compliance directory in Google Docs](https://drive.google.com/drive/folders/1JMTJMqw35Tc3AdK2a7YKc0yMF_BkMWjc) \
  THEN I find a document for SSB

[2020-06-18 22:25] adborden commented on #596
Recently USDA had a question and this issue is at the root of it. The duplicate error stops the loading cold, so pretty much no new updates are making it into pycsw.

[code]

[2020-06-18 22:26] #1768 closed, assigned to mogul

[2020-06-18 22:51] adborden commented on #1764
I've resolved this manually by rebooting the solr-v2 hosts.

These hosts did in fact have the common.yml playbook applied successfully and were updating correctly. The issue is that they were never rebooted to pickup the kernel and other critical service updates.

Because the work to add the solr-v2 hosts to the Ansible inventory (https://github.com/GSA/datagov-deploy/pull/1774) was not completed,

[2020-06-19 01:52] adborden opened #1777 "Dashboard deploy fails on staging/production"
This is fixed in `develop` but `master` is not in a deployable state.

[code]

## How to reproduce

On the master branch, with the old version of datagov-deploy-dashboard (v1.0.3)
1. ansible-playbook dashboard-web.yml

## Expected behavior

Dashboard deploys successfully.

## Actual behavior

Error copying saml configs.

[2020-06-19 16:26] pjsharpe07 opened #1782 "Upgrade Ansible"
## User Story

As a data.gov developer, I want to upgrade ansible so that we are keeping up with released versions.

## Acceptance Criteria
- [x] GIVEN I am logged into jumpbox
  WHEN I inspect the ansible version
  THEN I see version 2.8.x

## Background

## Security Considerations ([required](https://nvd.nist.gov/800-53/Rev4/control/CM-4))
[comment]: # "Our SSP says 'The Data.gov team ensures se

[2020-06-19 16:45] FuhuXia commented on #1707
Tried on local. Manually removed tomcat6 from Trusty catalog harvester instance and installed tomcat 8.5.56 on it. It is working.

[2020-06-19 17:52] adborden commented on #1537
BSP provided some helpful information on the instance sizing:

[2020-06-19 18:00] adborden commented on #1537
T3 supports up to 5Gbps, which should be sufficient. To estimate the CPU load, I'm looking at catalog-harvester1p, which currently hosts both Redis and the Harvester workers themselves. The new instance will only host Redis, so this serves as an overestimate of CPU load.

![Screenshot from 2020-06-19 10-44-38](https://user-images.githubusercontent.com/509703/85166116-b04e3d00-b21b-11ea-8bf3-2588f7

[2020-06-19 18:21] adborden commented on #1537
AWS documents the [breakeven CPU usage for t3.xlarge](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/burstable-performance-instances-unlimited-mode-concepts.html) at 52.5%.

[2020-06-19 21:47] pjsharpe07 opened #1784 "Dashboard populating without data"
## How to reproduce

When deploying dashboard to production, the playbook runs without error. However, the [dashboard app](https://labs.data.gov/dashboard/offices/qa) populates without data.

Currently, this behavior is only on production and not staging.

## Expected behavior

[Dashboard](https://labs.data.gov/dashboard/offices/qa) populates with the correct date and has data.

## Actual behavior

[2020-06-19 21:51] datagov-bot opened #1785 "deploy-ci-platform #54 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] 470e62070397b0039586792e5a70dd59fd828e77 - Bump Ansible to 2.8

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/54/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/54/pipeline) (blue)

[2020-06-19 22:06] pjsharpe07 commented on #1682
UA is installed on select hosts! 🎉 You can verify by running `ua status` when on the host. There is also some detailed account level information in our [shared google drive](https://docs.google.com/document/d/1EQu5LR7OJ2UDbARiZD_ZDYw2YgLRUxQ1m3nmDbbESDM/edit)

Moving this to done as it was deployed as a hotfix.

[2020-06-19 23:04] adborden opened #1786 "Jenkins jobs fail with docker: IPv4 forwarding is disabled"
In this [build](https://ci.sandbox.datagov.us/blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/54/pipeline) the docker container failed to build when trying to download pipenv.

[code]

This is somewhat expected because our hardening roles disable ip forwarding. What is unclear, is why this has never been a problem before.

## How to reproduce

1. Description of steps to rep

[2020-06-19 23:48] adborden commented on #1785
https://github.com/GSA/datagov-deploy/issues/1786

[2020-06-20 00:10] adborden commented on #1785
I manually enabled ip_forward to work around the issue, but now seeing this when trying to `ansible -m ping`

[code]

[2020-06-20 01:03] adborden commented on #1785
btw, I was able to reproduce this locally ^ with:

     $ docker run --rm -it -v $(pwd)/.secrets:/secrets -u root 995480bd7d3e pipenv run ansible --vault-password-file=/secrets/ansible-secret-v2.txt -m ping -i inventories/production all

[2020-06-20 04:41] #1785 closed, assigned to adborden

[2020-06-22 12:45] pjsharpe07 commented on #1777
Closing as this is being tracked in #1515

[2020-06-22 16:52] adborden commented on #1375
Related: https://serverfault.com/questions/844761/wsgi-truncated-or-oversized-response-headers-received-from-daemon-process/935400#935400

[2020-06-22 20:39] datagov-bot opened #1789 "deploy-ci-platform #65 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] 267e893e89a6e3d2be179e5fa45bcffd5595e30b - [staging] solr-next hosts for CKAN 2.8

- [adborden] 6394e8d9acf2f89dae7c08c8394cdfa406973de0 - Update snyk exceptions

- [adborden] 898a0ef3555df1ef5ecb560a2bb1bdefb301a75f - [solr-next] disable new relic alerts

- [noreply] 441d9e8dc3ced071902315bfab40ffb79fd960e8

[2020-06-22 23:49] adborden opened #1791 "Jenkins.yml playbook fails to install pipenv when running with python3"
This issue only affects sandbox where python3 is installed to work around https://github.com/GSA/datagov-infrastructure-modules/issues/32.

Install pipenv task fails with error:

No module setuptools

**Work around** is to install python3-setuptools manually on the Jenkins host

    $ apt-get install python3-setuptools

## How to reproduce

1. ansible-playbook jenkins.yml

## Expected behavior

Ta

[2020-06-23 00:23] #1789 closed, assigned to nobody

[2020-06-23 01:48] adborden commented on #1777
I think this can be closed, it was fixed with the SAML hotfix https://github.com/GSA/datagov-deploy/pull/1778

[2020-06-23 01:48] #1777 closed, assigned to nobody

[2020-06-23 05:51] mogul commented on #1515
I found that `crawl_status` was `final` for a whole bunch of rows in `datagov_campaign` for the current milestone. Similarly, a bunch of rows were `in_progress` when they should also have been `archive`.  If things are working right that column should have been `archive` in all rows except the most recent, which should be `current`.

Aaron and I traced the code and found that when setting the stat

[2020-06-23 05:53] mogul commented on #1784
Resolved in the course of investigating #1515

[2020-06-23 13:44] pjsharpe07 commented on #1763
Ran again this morning to see the output from the logs. Getting a url error `HTTP Error 404: Not Found` during the gather stage. The gather then crashes and restarts.

[2020-06-23 14:51] jbrown-xentity commented on #1419
Harvest run produced [these results](https://docs.google.com/spreadsheets/d/1Afgx0nGPcsNu0-nIvhcQ3RRAJkcesaCPdcDqT4fIaBI/edit#gid=0). Cannot do all harvest sources, as DB is almost full with 3 harvest sources not yet run. Suggest either

1. Upgrade sandbox DB
2. Clear some harvest sources and harvest new

@adborden  thoughts?

[2020-06-23 15:18] #1628 closed, assigned to woodt, adborden

[2020-06-23 15:24] jbrown-xentity commented on #1419
PyCSW cleared out, harvest sources being run and reported on spreadsheet.

[2020-06-23 15:38] pjsharpe07 commented on #1763
Confirmed on several machines and locally that the status code is 404. @hkdctol is going to follow up with EAC to see if they can validate the status code and potential next steps to resolve this.

[2020-06-23 16:32] adborden commented on #1203
~see https://github.com/GSA/datagov-deploy/issues/1662#issuecomment-628311529 for a potential fix.~

[2020-06-23 16:32] adborden commented on #1662
Duplicate of https://github.com/GSA/datagov-deploy/issues/1203

[2020-06-23 16:32] #1662 closed, assigned to nobody

[2020-06-24 00:15] adborden commented on #1097
From BSP:

Use Splunk Forwarder v 7.3.4 to be in line with the rest of Splunk.  He can get the UF from: https://www.splunk.com/page/previous_releases/universalforwarder.

After installing the UF on the host, he will need to make sure to connect the UF to Splunk Deployment Server by running this command:

/opt/splunkforwarder/bin/splunk set deploy-poll \<splunk-endpoint\>

Afterwards, if there are

[2020-06-24 00:16] adborden commented on #1097
Moving to `New` for us to re-triage. Is this something we want to take on now? Worth a spike?

[2020-06-24 00:59] adborden opened #1795 "catalog-harvester triggers fatal Postfix error in sandbox"
[code]

## How to reproduce

1. Added an email to the `email_list` for the [State of Illinois](https://catalog-next.sandbox.datagov.us/organization/about/state-of-illinois).
1. Trigger a harvest for [illinois json](https://catalog-next.sandbox.datagov.us/harvest/illinois-json).
1. Verified the job completes successfully, with 0 added, updated, deleted
1. Inspect /var/log/harvest_run.log and  /var/

[2020-06-24 01:35] adborden opened #1796 "Configure Postfix as an email sink in sandbox"
## User Story

In order to validate email features within sandbox without actually sending mail to users or having to maintain an SMTP service, data.gov developer wants Postfix to be configured as an email sink in the sandbox environment.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driv

[2020-06-24 01:37] adborden commented on #1796
The oefenweb.postfix role currently fails when specifying the `regexp` database type https://github.com/Oefenweb/ansible-postfix/issues/89

[2020-06-24 16:33] pjsharpe07 opened #1799 "Default Tomcat error and landing page"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.fxtlqsr3wbco)._

**Date of report:** 06/24/2020
**Severity:** Medium
**Due date:** 09/24/2020

### Brief description
[Nessus Scan](https://docs.google.com/spreadsheets/d/1qgwcVBioneZ_-v6HZDrfGL19PMrsNFdnvOpoPpbIK9Y/edit#gid=929147753)

[2020-06-24 16:34] adborden opened #1800 "Disable display errors in production Dashboard"
Errors, warnings, and stack traces can sometimes reveal sensitive information and are generally considered a low severity security issue. We should turn off the display of errors in production. Additionally, the error message isn't helpful to users and can create confusion.

https://labs.data.gov/dashboard/validate?schema=federal-v1.1&output=browser&datajson_url=http://0x7f000001:258/unique

![Scr

[2020-06-24 16:51] adborden opened #1801 "Intermittent PHP errors failing to find pcntl.so on Dashboard"
We've seen this issue intermittently and some investigation is warranted. Specifically, the path being searched is `/usr/lib/php/20180731` which is not a standard path. Perhaps it's left over from a PPA install?

![Screenshot from 2020-06-24 09-19-06](https://user-images.githubusercontent.com/509703/85598076-16fa9e80-b600-11ea-9c5c-fb2fb2dad47e.png)

## How to reproduce

1. Description of steps to

[2020-06-24 17:15] pjsharpe07 commented on #1763
This [harvest source](https://admin-catalog.data.gov/harvest/admin/eac-data) is functioning successfully.

[2020-06-24 17:19] mogul opened #1802 "Release 6/25/2020"
## Release 6/25/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

## Acceptance Criteria
- [x] Release is cut
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in staging, and all systems verified up
- [x] Playbook run with no er

[2020-06-24 18:24] mogul commented on #571
With the procurement and deployment of Ubuntu Advantage in #1682 the immediate need to stem the accruing security and compliance hazards has been met while leaving 14.04 in service. We'll be migrating to a more recent Ubuntu as a side effect of other Epics, eg the move to cloud.gov.

[2020-06-24 18:25] #571 closed, assigned to adborden

[2020-06-24 18:26] mogul commented on #717
Now that we're [removed the urgency to get off of 14.04](https://github.com/gsa/datagov-deploy/issues/571#issuecomment-648988887), we're planning to do the Bionic upgrade in the course of migrating to cloud.gov, rather than rolling our Ansible-managed hosts in FCS. So, closing this issue!

[2020-06-24 18:26] #717 closed, assigned to adborden, FuhuXia

[2020-06-24 18:26] mogul commented on #719
Now that we're [removed the urgency to get off of 14.04](https://github.com/gsa/datagov-deploy/issues/571#issuecomment-648988887), we're planning to do the Bionic upgrade in the course of migrating to cloud.gov, rather than rolling our Ansible-managed hosts in FCS. So, closing this issue!

[2020-06-24 18:26] #719 closed, assigned to adborden

[2020-06-24 18:26] mogul commented on #720
Now that we're [removed the urgency to get off of 14.04](https://github.com/gsa/datagov-deploy/issues/571#issuecomment-648988887), we're planning to do the Bionic upgrade in the course of migrating to cloud.gov, rather than rolling our Ansible-managed hosts in FCS. So, closing this issue!

[2020-06-24 18:26] #720 closed, assigned to adborden

[2020-06-24 18:26] mogul commented on #1374
Now that we're [removed the urgency to get off of 14.04](https://github.com/gsa/datagov-deploy/issues/571#issuecomment-648988887), we're planning to do the Bionic upgrade in the course of migrating to cloud.gov, rather than rolling our Ansible-managed hosts in FCS. So, closing this issue!

[2020-06-24 18:26] #1374 closed, assigned to nobody

[2020-06-24 18:46] mogul commented on #1278
Closing as we are now expecting Solr to be deployed in the same AWS region as the applications running on cloud.gov.

[2020-06-24 18:46] #1278 closed, assigned to nobody

[2020-06-24 18:49] mogul commented on #1151
Planning to deploy the dashboard as dashboard.data.gov, so this is no longer necessary.

[2020-06-24 18:49] #1151 closed, assigned to nobody

[2020-06-24 23:11] mogul opened #1804 "New dashboard crawls derive their status from the previous crawl"
The dashboard shows no data for the current milestone.

## How to reproduce

1. Set the crawl_status of the most recent crawl for a given office_id to `final`.
2. Run a crawl for that office, eg `php public/index.php campaign status 49113 datajson`

## Expected behavior

- The dashboard contains a row for that agency (49113 is CFPB) in the current milestone.
- The most recent crawl's `crawl_status

[2020-06-24 23:12] mogul commented on #1515
I made [a separate issue about this bug](https://github.com/GSA/datagov-deploy/issues/1804).

[2020-06-24 23:14] mogul commented on #1515
Back to the original problem: @philipashlock thinks that some `full-scan` crawls (which is what the cronjob does) just time out/blow up sometimes. Sometimes re-running them works fine. He also suspects they're not as isolated as intended, so one crawl failing might result in the crawls following not happening; we might learn that's the case when #1801 is resolved.

[2020-06-25 02:37] mogul commented on #1515
Blocked until we know that #1801 is resolved and the end of the quarter milestone (June 30th) has passed.

[2020-06-25 16:55] mogul opened #1805 "[research: 2d] Use IaC to deploy a Helm chart on AWS EKS"
## User Story

In order to prepare for writing a Solr-on-AWS-EKS broker for cloud.gov, Bret needs to learn more about using Terraform to spin up AWS EKS and deploy a Helm chart in it.

## Acceptance Criteria
- [x] GIVEN I have cloned the `GSA/datagov-tf-eks-helm` repository \
  AND I have authenticated with the AWS API using `terraform-operator` role \
  WHEN I run `terraform init` \
  AND I run `

[2020-06-25 17:51] #1030 closed, assigned to FuhuXia

[2020-06-25 17:51] #1367 closed, assigned to FuhuXia

[2020-06-25 17:51] #1629 closed, assigned to FuhuXia

[2020-06-25 17:51] #1764 closed, assigned to adborden

[2020-06-25 17:51] #1782 closed, assigned to adborden

[2020-06-25 17:51] #1802 closed, assigned to FuhuXia

[2020-06-25 17:51] #1428 closed, assigned to mogul

[2020-06-25 17:51] #1700 closed, assigned to jbrown-xentity

[2020-06-25 17:51] #1717 closed, assigned to jbrown-xentity

[2020-06-25 17:51] #1737 closed, assigned to mogul

[2020-06-25 17:51] #1740 closed, assigned to mogul

[2020-06-25 17:51] #1682 closed, assigned to pjsharpe07

[2020-06-25 17:51] #1751 closed, assigned to mogul

[2020-06-25 17:51] #1753 closed, assigned to mogul

[2020-06-25 17:51] #1761 closed, assigned to mogul

[2020-06-25 17:51] #1769 closed, assigned to mogul

[2020-06-25 17:51] #1784 closed, assigned to mogul

[2020-06-25 17:51] #1763 closed, assigned to pjsharpe07

[2020-06-25 18:38] adborden opened #1806 "Document tmux pairing guidelines"
## User Story

In order to effectively pair on the jumpboxes, data.gov developer wants a short guide on how to join a tmux session with a pair.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [x] GIVEN I want to pair on the jumpbox with anot

[2020-06-25 19:31] mogul commented on #1707
Is this one still in progress? (The compliance deadline for it is end of month five more days).

[2020-06-25 19:35] FuhuXia commented on #1707
Yes, getting a PR ready. Hopefully can go to sandbox tomorrow.

[2020-06-25 19:40] mogul opened #1807 "O+M [Fuhu]"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-06-25 20:03] hkdctol commented on #832
Closing this as this was incorporated in the 10x work on resources.data.gov.

[2020-06-25 20:03] #832 closed, assigned to nobody

[2020-06-25 20:05] mogul commented on #1537
Per meeting yesterday, we're still waiting on the FCS side here. It's not expected to be a lot of work, just hasn't yet reached the top of their pile. We're hoping we'll be unblocked during our upcoming sprint.

[2020-06-25 20:06] mogul commented on #1419
Looks like we're waiting another 48 hours or so to fully harvest.

[2020-06-25 20:14] mogul commented on #1786
The referenced PR has unblocked CI. We can further improve this in future, but for now it's not a high priority. We would probably want to fix it before we allow Jenkins to manage production.

[2020-06-25 20:16] mogul commented on #1791
Icebox'ing since this doesn't happen often and we have a workaround. Also might be better to tackling the difference between sandbox and BSP environments instead.

[2020-06-25 20:46] hkdctol commented on #1236
Closing this as we obtained New Relic Synthetics and asked to unsubscribe to Uptrends alerts through GSA IT.

[2020-06-25 20:46] #1236 closed, assigned to nobody

[2020-06-25 21:00] mogul opened #1808 "Brokerable (non-ATO'd) Solr instances available to data.gov team via cloud.gov"
## User Story

In order to get access to Solr instances on-demand for use in our cloud.gov environments, the data.gov team wants to operate a broker that makes brokered Solr instances available.

## Acceptance Criteria
- [x] GIVEN I run `cf login -a api.fr.cloud.gov --sso` and authenticate \
  AND I run `cf target -o gsa-datagov -s <development|staging|production>`  \
  WHEN I run `cf marketplace`

[2020-06-25 22:08] jbrown-xentity commented on #1071
Tested changes to a [sample data.json file](https://github.com/GSA/ckanext-datajson/blob/master/ckanext/datajson/tests/datajson-samples/arm.data.json) and attempted reharvest on local development, got the following errors:
[code]

The following were the changes made:

[code]

Will need to re-evaluate if significant code changes are needed or future redirects are needed long term for this harvest t

[2020-06-25 22:48] FuhuXia commented on #1629
attaching screenshot showing TLS versions for wordpress and dashboard.
![Screenshot 2020-06-25 13 28 37](https://user-images.githubusercontent.com/1392461/85803108-7a75f080-b714-11ea-9a2a-9528128af9b8.png)
![Screenshot 2020-06-25 13 28 51](https://user-images.githubusercontent.com/1392461/85803110-7b0e8700-b714-11ea-8710-0458ce588806.png)

[2020-06-27 00:06] adborden commented on #1071
Chatted with @jbrown-xentity today, we decided we wouldn't touch any sample files or code related to parsing DCAT-US and only update documentation references.

[2020-06-27 00:51] adborden commented on #1786
I opened https://github.com/GSA/ansible-os-ubuntu-16/issues/29 upstream, since that would be the ideal place to address this. What's left on this issue is essentially described there, or if they aren't interested in the change, then adding [3.1.2](https://github.com/GSA/ansible-os-ubuntu-16/blob/master/tasks/section3.yml#L12) to the jenkins.yml playbook.

[2020-06-27 00:57] adborden commented on #1786
Also, some background in the underlying cause, @FuhuXia ran into a [related issue on staging](https://gsa-tts.slack.com/archives/C2N85536E/p1593038052182900?thread_ts=1593028644.174300&cid=C2N85536E). It looks like with Ansible 2.8, a [bug was fixed in 2.8.4](https://github.com/ansible/ansible/blob/stable-2.8/changelogs/CHANGELOG-v2.8.rst#id22), the sysctl module used to only check and update sysc

[2020-06-27 01:05] adborden opened #1811 "Task: delegate FCS liaison role"
## User Story

In order to take some responsibilities off of @adborden and allow others to play more active role in infrastructure, @adborden  wants to delegate the FCS liaison role to another devsecops team member.

Responsibilities:
- Act as point of contact with FCS
- Collect any feedback from devsecops to pass on to FCS
- Raise any blocking issues from the team with FCS
- Attend the monthly FC

[2020-06-27 01:26] adborden opened #1812 "Update playbooks and roles to handle bare variables"
## User Story

In order to have more reliable, predictable behavior of Ansible, data.gov developer wants the Ansible playbooks and roles updated to [handle bare variables correctly](https://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.8.html#bare-variables-in-conditionals).

## Acceptance Criteria
- [ ]  WHEN I grep the environment for `ANSIBLE_CONDITIONAL_BARE_VARS` (`pipenv run

[2020-06-29 16:47] pjsharpe07 commented on #1801
Dig some digging and encountered the following:

![image](https://user-images.githubusercontent.com/38019872/86031275-dbdadf80-b9f2-11ea-8152-9bf2763a05c5.png)

So, the `pcntl` library is installed and enabled, but its searching for it through php's dynamic library sources. More investigation is still needed.

[2020-06-29 22:18] jbrown-xentity commented on #1419
Harvest sources still running after weekend. Attempted restart and speed-up of process, latest details on [results spreadsheet](https://docs.google.com/spreadsheets/d/1Afgx0nGPcsNu0-nIvhcQ3RRAJkcesaCPdcDqT4fIaBI/edit#gid=0).

[2020-06-30 17:17] FuhuXia opened #1815 "Increase StN ratio on high memory alerts"
## User Story

In order to reduce the incidence of high memory alerts, we want to adjust our alert conditions to improve the signal-to-noise ratio.

## Acceptance Criteria

- [x] WHEN I look at the data.gov New Relic configuration \
  THEN I see that memory alerts are set at 90%.
- [x] WHEN I look at O&M alert stats \
  THEN I see high memory alerts declined as of the date of the New Relic change.

[2020-06-30 17:26] mogul commented on #1706
We already resolved this through the PR referenced above; this one is a dupe.

[2020-06-30 17:26] #1706 closed, assigned to nobody

[2020-06-30 17:27] mogul commented on #1666
This is being addressed via PR #1810

[2020-06-30 17:28] mogul commented on #1666
This issue is a dupe of #1707 , closing.

[2020-06-30 17:28] #1666 closed, assigned to nobody

[2020-06-30 17:36] mogul commented on #1752
We believe this was addressed by recent SSRF hardening efforts... @jbrown-xentity is confirming.

[2020-06-30 17:47] jbrown-xentity commented on #1760
Noted as useful in replacing test case on [Dashboard](https://github.com/GSA/project-open-data-dashboard/blob/master/application/tests/helpers/api_helper_test.php#L149)

[2020-06-30 17:53] pjsharpe07 commented on #1801
Deployed the changes above to sandbox and confirmed that pcntl is still enabled by running `php -m | grep pcntl` and `php -i | grep pcntl`.

The pcntl.ini file is not present in `/etc/php/7.3/fpm/conf.d` so it's unlikely to see this issue again.

[2020-06-30 18:47] datagov-bot opened #1816 "deploy-ci-platform #76 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [noreply] 6b96b3df0effe69ea513e71f61f962e2fd461315 - Newest dashboard deploy version

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/76/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/76/pipeline) (blue)

[2020-06-30 19:33] #1816 closed, assigned to nobody

[2020-06-30 19:42] FuhuXia opened #1817 "Update jQuery for SDG, Federation and strategy sites"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 06/23/2020
**Severity:** Medium
**Due date:** 09/23/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue h

[2020-07-01 15:00] jbrown-xentity commented on #1712
@adborden has anyone tested JQuery 3.x on old catalog? What about the [JQuery Migrate versions](https://code.jquery.com/)? Would those provide any of the security vulnerability patches that we are looking for?

[2020-07-01 16:12] FuhuXia opened #1818 "Custom Tomcat page needed"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit)._

**Date of report:** 06/29/2020
**Severity:**Medium
**Due date:** 09/29/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been performed and an issue ha

[2020-07-01 16:19] FuhuXia commented on #1818
duplicate of https://github.com/GSA/datagov-deploy/issues/1799

[2020-07-01 16:25] FuhuXia opened #1819 "Nessus Agent update"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.qsussf9oypwe)._

**Date of report:** 06/29/2020
**Severity:** Medium
**Due date:** 09/29/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been p

[2020-07-01 16:54] adborden commented on #1712
I'm not aware of anyone upgrading JQuery 3.x on Catalog 2.3. CKAN is no longer providing support for 2.3, so I doubt (hope :crossed_fingers:) anyone besides us is running 2.3. I'm not familiar with jQuery Migrate.

I think we should punt on this, since we're getting this with CKAN 2.8.

[2020-07-01 18:15] jbrown-xentity commented on #1712
Waiting for CKAN 2.8 on catalog...

[2020-07-01 20:53] hkdctol commented on #1691
@kimwdavidson if you self register at https://portal.max.gov/portal/home with your GSA email, and set up 2FA, I can create an admin account for you on catalog/inventory as it exists so that you can see existing UI. I think that's the only remaining item in this ticket.

[2020-07-01 21:43] jbrown-xentity commented on #1713
Could this be a false positive similar to #1455?
@FuhuXia could you clarify how you determined #1455 to be a false positive so we can check catalog as well?

[2020-07-01 23:07] mogul commented on #1805
Notes on some things I'm learning along the way:
- AWS UX sucks as a rule
- The prometheus-operator chart (which includes Prometheus, Grafana, and all the attendant microservices) is too big for EKS to schedule onto t2.micro nodes (which I'm using because they're free). However, they might all be able to run on a single node.
- Stateful services (eg pods for Solr) must be scheduled on worker nodes

[2020-07-02 00:31] adborden commented on #1815
Probably should be m5.xlarge, t3.xlarge or smaller. Definitely not c4, which is compute optimized. Web traffic tends to be more bursty than sustained load.

[2020-07-02 01:25] mogul commented on #1808
The Solr brokerpak should contain the following terraform:
  - Use Terraform's AWS EKS provider to provision an EKS cluster
  - Use Terraform's Helm provider to deploy the [Solr Operator chart](https://github.com/bloomberg/solr-operator/tree/master/helm/solr-operator).

Open questions:

- How does the actual SolrCloud instance get [provisioned through the Solr Operator](https://github.com/bloomber

[2020-07-02 13:24] FuhuXia commented on #1713
@jbrown-xentity For [1455](https://github.com/GSA/datagov-deploy/issues/1455), I examined the http response header and body, could not find anything claimed by the report. Asked BSP for clarification, they could not find anything either.

[2020-07-02 16:17] FuhuXia opened #1821 "Vulnerability in Beaker"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#bookmark=id.2xldut7hf74n)._

**Date of report:** 07/02/2020
**Severity:** High
**Due date:** 08/02/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been p

[2020-07-02 18:58] mogul opened #1822 "Document Snyk O&M process"
## User Story

In order to stay on top of vulnerabilities, we want a consistent process that people on O&M shift can follow to manage information surfaced by Snyk.

## Acceptance Criteria
- [x] GIVEN I am on the O&M shift for data.gov \
  AND I look at the Snyk dashboard \
  WHEN I see open issues reported \
  THEN I can refer to a process in the wiki that walks me through how to document the stat

[2020-07-02 19:03] #1818 closed, assigned to nobody

[2020-07-02 19:21] mogul opened #1823 "Reduce instance size for catalog to save money"
## User Story

In order to reduce the cost of running catalog, we want to reduce the memory needed for catalog instances and run instances with smaller memory available.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextual

[2020-07-02 21:26] jbrown-xentity commented on #1713
Noting is a similar false positive, marking as closed.

[2020-07-02 21:26] #1713 closed, assigned to jbrown-xentity

[2020-07-02 21:37] FuhuXia commented on #1713
This comes in late, but I edited the original issue description to add bookmark to the google docs.

[2020-07-02 21:45] adborden opened #1824 "Redirect Project Open Data pages to resources.data.gov pages"
## User Story

In order to find the most up-to-date information about data.gov and open data, project open data users want project-open-data.cio.gov pages to redirect to resources.data.gov pages.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]

[2020-07-02 22:43] adborden commented on #1537
Had to send the instances back to BSP, the drive configuration is wrong, should be:
- 8GB root /
- 16GB data /data
- 16GB logs /var/log

Also, the wrong SSH key was used for redis1p.

[2020-07-02 23:54] adborden opened #1825 "Trendmicro hangs on registration for new install"
After installing trendmicro on a new instance, we see a hang on the registration task.

[code]

When you perform the actions manually, this is the output we see from dsa_control (with the dsm URL redacted ***) which shows it will retry up to 30 times, with 300 seconds between retries.

[code]

## How to reproduce

From the staging jumpbox:

1. `pipenv run ansible-playbook site.yml --limit redis-ca

[2020-07-03 00:12] adborden commented on #1825
Not sure if this is related, but also seeing that dsa_control returns 0 even though it's getting a 403 Forbidden when registering existing agents.

[code]

[2020-07-03 00:15] adborden commented on #1825
Ran into this while testing https://github.com/GSA/datagov-deploy/pull/1820

[2020-07-06 18:38] jbrown-xentity commented on #1757
Per Aaron and OMB conversation, the key items we need are:

- Does the Agency have a data.json (at the standard endpoint)?
- How many datasets are in the data.json?

Items that are currently on the Dashboard:

- Last modified date
- Number of datasets
- Is it a valid file?
- How many programs?
- How many bureaus?
- How many restricted/non-public/public datasets?
- How many downloads?
- Total URL's

[2020-07-06 20:47] jbrown-xentity commented on #1757
First pass at documenting current state, reason for desired changes, and other possible implementations that would require less management can be found [here](https://docs.google.com/document/d/1_q9qHwzSrd2_TzbTJkWqlvcibD6tWyoK3wYNHfy2Fx0/edit#).

[2020-07-06 21:17] jbrown-xentity commented on #596
The changes involve updates in error handling. So far after 3+ hours of harvesting, only the single EPA duplicate was found (you can see the datasets in the catalog [here](https://catalog.data.gov/dataset/haudenosaunee-territory-for-consultation-purposes-epa-tribconsultbnd-r2b9f06) and [here](https://catalog.data.gov/dataset/haudenosaunee-territory-for-consultation-purposes-epa-tribconsultbnd-r2d4

[2020-07-06 22:42] jbrown-xentity commented on #1800
@adborden what happened here that made the merge automatically close the issue, and how do we avoid that in the future?

[2020-07-06 22:46] adborden commented on #1800
@pjsharpe07 used the [resolve keyword](https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords) in his [pull request](https://github.com/GSA/project-open-data-dashboard/pull/287#issue-444939655).

![Screenshot from 2020-07-06 15-44-15](https://user-images.githubusercontent.com/509703/86660523-a9575680-bf9f-11ea-8b32-acbb28577226.png)

[2020-07-07 04:21] jbrown-xentity commented on #1419
From the harvest reports, it seems we have 3 major issues to resolve:

1. What are the SQL "Unexpected Errors", why do they consistently occur, and what needs to be done to resolve them?
2. Can we relax the rules around the "tags" being required to allow valid metadata to come into data.gov, or do we need tags to be implemented in a specific way?
3. Can NOAA update the metadata that has spaces in

[2020-07-07 13:44] hkdctol commented on #1419
@jbrown-xentity
Seems like it would be clearer to create an epic then put the issues in it.

[2020-07-07 14:31] jbrown-xentity commented on #1800
So maybe the right word that isn't included in the keyword list is "address" or "addresses"? As in "Should address [Ticket Number]"?

[2020-07-07 14:48] jbrown-xentity opened #1827 "Harvester "Unexpected Errors" in CoRIS FGDC Metadata harvest source"
Unexpected SQL errors are causing large numbers of geospatial datasets to not be harvested. Tested on sandbox with various NOAA harvest sources, see [here](https://docs.google.com/spreadsheets/d/1Afgx0nGPcsNu0-nIvhcQ3RRAJkcesaCPdcDqT4fIaBI/edit#gid=0) for various examples. The error logs are extremely basic with no log trace, they are occurring from [here in the code](https://github.com/GSA/ckanex

[2020-07-07 14:53] jbrown-xentity opened #1828 "Harvester "Validation Error: missing tags""
Harvester fails various geospatial metadata records for not having "tags" that are in fact registered similar to other passing geospatial data records. A good example can be found [here on sandbox](https://catalog.sandbox.datagov.us/harvest/nesdis-ngdc-mgg-nos-h06001-h08000/job/last), and you can find a complete list [here](https://docs.google.com/spreadsheets/d/1Afgx0nGPcsNu0-nIvhcQ3RRAJkcesaCPdc

[2020-07-07 16:04] adborden commented on #1800
Sure! I use "Part of [issue]" because often there are multiple PRs associated with an issue e.g. PR for ansible role, PR to bump requirements.yml. You can also just "[issue]" because really all you're doing is linking the PR to the issue. Whatever your preference.

[2020-07-07 16:06] pjsharpe07 commented on #1800
Great to know there are some GH keywords that trigger actions!

[2020-07-07 16:15] adborden commented on #1824
From @philipashlock: pod.c.g continues to get more traffic than resources.data.gov. The schema pages are still the most popular pages on both pod and resources.data.gov, yet it is not very prominent in the r.d.g Information Architecture or the navigation.

[2020-07-07 17:40] datagov-bot opened #1829 "deploy-ci-platform #78 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] e088b6284ece84508043c3e90f7fa086ca648b89 - extend snyk ignore expiry date

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/78/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/78/pipeline) (blue)

[2020-07-07 17:48] kimwdavidson commented on #1691
Registered!

[2020-07-07 18:25] #1829 closed, assigned to nobody

[2020-07-07 18:26] adborden opened #1830 "Cannot upload files to WordPress"
![Screenshot from 2020-07-07 11-23-52](https://user-images.githubusercontent.com/509703/86825618-71561f00-c044-11ea-9bc6-31da2a1b9318.png)

**Work-around** temporarily update the permissions of the uploads directory:
`pipenv run ansible -m file -a 'state=directory owner=ubuntu group=www-data mode=0775 dest=/var/www/datagov/current/web/app/uploads/2020/07' wordpress-web`

## How to reproduce

1. Lo

[2020-07-08 01:49] adborden commented on #1830
`/var/www/datagov/current/web/app/uploads/2020/07` exists and is owned by ubuntu:ubuntu 0755. It _should_ be writable by www-data, the user of php-fpm. It looks like this directory is created at some point in the ansible playbook, maybe from a `wp` cli command.

[2020-07-08 13:43] FuhuXia opened #1833 "Prevent catalog web log rotation from filling disk"
All four web catalog web instances got low disk space warning at roughly same time nightly, then `/var/log/` partition got 100% full within minutes.

[2020-07-08 13:47] FuhuXia commented on #1833
`/var/log/ckan/ckan.error.log` file size is too big for all four instances. When the spike happens, another big file  `/var/log/ckan/ckan.error.log.1` is being created. Looks like it is due to logrotate activity.

[2020-07-08 16:40] hkdctol commented on #980
Documents required by HR have been finalized. Awaiting posting.

[2020-07-08 17:21] jbrown-xentity opened #1835 "Release 7/9/2020"
## Release 7/9/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stagin

[2020-07-08 18:30] adborden opened #1837 "Remove jumpbox operators no longer in the operators list"
[datagov-deploy-jumpbox](https://github.com/GSA/datagov-deploy-jumpbox/blob/master/tasks/main.yml#L25-L36) will only remove/disable user accounts that have `active: false` in the list of operators. This is not very intuitive, a persons' first instinct would be to just delete the users from the list entirely.

## How to reproduce

1. Remove a user from `vault_datagov_operators_test`
1. Run the `jum

[2020-07-08 19:42] hkdctol opened #1839 "FY 2020 FISMA Self Assessment"
## User Story

As Data.gov PMO, we want to complete the required FY 2020 FISMA Self Assessment required by GSA IT Security in order to maintain our present ATO.

## Acceptance Criteria

- [x] Review the FY 2020 spreadsheet (https://docs.google.com/spreadsheets/d/13N9ZCHKZUxONsj-iEnvGmQUDsyj0Rrz52eUV6CWtzkU/edit?usp=sharing (restricted access))
- [x] Create artifacts (mostly screenshots) and upload

[2020-07-08 22:48] adborden commented on #1416
@kimwdavidson you were right, the description of this work isn't accurate. I updated the description to remove references to Inventory and to PyPI. Instead, we're rebasing our fork to a more recent version of pysaml2 (still not the latest but as far as we can go with ~CKAN 2.3~ python 2.7) and only updating for catalog.

[2020-07-09 00:05] FuhuXia opened #1844 "CPU alarm for PYCSW Replica database on production"
Got CPU alarm for PYCSWPostgresRDSDBInstanceReplica1 from Amazon CloudWatch Alarm  "DATAGOV-Production-PYCSWPostgresRDSDBInstanceReplica1CPUAlarm-Z06FU4UL85N" every 20 or 30 mins for most of daytime today.

Threshold:
- The alarm is in the ALARM state when the metric is GreaterThanThreshold 90.0 for 60 seconds.

Catalog ckan site and /csw endpoint appear to be working fine.

[2020-07-09 13:54] FuhuXia commented on #1844
The alarm went on for 12 hours then stopped on its own.

[2020-07-09 15:15] jbrown-xentity commented on #1757
Next steps include building out a quick test script validating CKAN API usage for building a CSV, and possibly building out a dynamic representation of data from an inventory API as a static page (possibly resources.data.gov, in staging only?)

[2020-07-09 16:47] jbrown-xentity opened #1846 "Update Citrix Documentation and user SSH access"
Current setup documentation leaves out how to forward SSH keys, so user cannot access other servers from jump box. Need to find right approach, and [update documentation](https://github.com/GSA/datagov-deploy/wiki/gsa-vpn) accordingly.

Also need to update per latest discovery setting up @starsinmypockets with access

## How to reproduce

1. Log into Citrix
2. Setup Putty per documentation
3. Log

[2020-07-09 16:51] adborden opened #1847 "Update all BSP hosts to use the -v2 root SSH keys"
## User Story

In order to simplify the SSH configuration and not have to manage a .ssh/config file on the jumpbox, Data.gov operators want all hosts to use a single root SSH key.

## Acceptance Criteria

- [ ] WHEN I ssh into any host in a single environment with the ubuntu user and the root SSH key (`ssh -l ubuntu -i ~/.ssh/datagov-${env}-v2 ${host}`)
  THEN access is granted
- [ ] WHEN I inspec

[2020-07-09 16:55] jbrown-xentity opened #1848 "Geodatagov extension commands not available"
The standard command `paster geodatagov --help` fails to run.
There is [a requirement](https://github.com/GSA/ckanext-geodatagov/blob/master/ckanext/geodatagov/commands.py#L31) on [this ckanext-harvest addition](https://github.com/GSA/ckanext-harvest/commit/8d6baa2389ffa5e10b3ec4503c9de91e0afc5428#diff-1ac7dce9b514a9ad5d660b46ba33d166), but the docker system for geodatagov [pulls in the upstream c

[2020-07-09 17:10] mogul commented on #1806
The documentation is [in the wiki](https://github.com/GSA/datagov-deploy/wiki/Team-Collaboration-and-Pair-Programming#tmux) now.

[2020-07-09 17:29] mogul commented on #1515
It's July 9th, and the most recent crawls listed are from July 1st. The fix for #1801 just rolled out today so we can check tomorrow to see if crawls are running again.

[2020-07-09 18:19] jbrown-xentity opened #1849 "O+M [James]"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-07-09 18:23] #596 closed, assigned to jbrown-xentity

[2020-07-09 18:23] #1071 closed, assigned to jbrown-xentity

[2020-07-09 18:23] #1752 closed, assigned to jbrown-xentity

[2020-07-09 18:23] #1754 closed, assigned to pjsharpe07

[2020-07-09 18:23] #1806 closed, assigned to FuhuXia

[2020-07-09 18:23] #1835 closed, assigned to jbrown-xentity

[2020-07-09 18:23] #1800 closed, assigned to pjsharpe07

[2020-07-09 18:23] #1801 closed, assigned to pjsharpe07

[2020-07-09 18:36] adborden commented on #1837
This work isn't actually done, we can improve to make it less error prone.

#1838 is only about cleaning up old accounts, not addressing this issue.

[2020-07-09 18:53] adborden opened #1850 "Replace organization logo URLs with uploaded images"
## User Story

In order to control the delivery of organization logos in CKAN and prevent broken images, data.gov operators want to replace any image URLs from CKAN2.3 with image uploads (in CKAN 2.8).

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specificati

[2020-07-09 19:43] jbrown-xentity opened #1851 "[Onboard] christopher.macdermaid@gsa.gov"
Welcome! [The Onboarding wiki](https://github.com/GSA/datagov-deploy/wiki/Onboarding-Offboarding) describes the onboarding process for new team members on Data.gov. You’ll learn mostly from pairing and interaction with your teammates but these are some handy resources to get you started.

Below are the tasks that will drive the onboarding process.

### Tasks for admin or onboarding buddy

- [x] Ad

[2020-07-09 20:00] #1807 closed, assigned to FuhuXia

[2020-07-09 20:06] mogul commented on #1688
Presentation likely to happen in the next month, if CDO folks are on top of things.

[2020-07-09 20:10] mogul commented on #1537
BSP resolved the incorrect configuration. Should be resolvable in short order.

[2020-07-09 20:12] mogul commented on #1825
@adborden has a PR in progress for this one.

[2020-07-09 20:14] datagov-bot opened #1852 "deploy-ci-platform #87 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] 932c890d8c04844074318d66135e4eb563187254 - add tomcat 9; refactor fgdc2iso to be an ansible role

- [fxia] dff5b42bc2462d7a98535774e87c3b49cf08640f - tomcat9-fgdc2iso typo

- [fxia] 15ce99051e22b6b7ecd73ec0b2d5f5acd54134b7 - fgdc2iso role: fill in metadata info

- [fxia] 50192247b6b181e5ef5c27e080e12d0e73ad986a -

[2020-07-09 20:23] mogul commented on #1844
For future CPU issues with RDS instances, we should bring BSP into the loop and open an incident with them.

[2020-07-09 20:24] mogul commented on #1844
Closing until we see this happening more.

[2020-07-09 20:24] #1844 closed, assigned to nobody

[2020-07-09 20:24] jbrown-xentity commented on #1847
The current work-around for this is detailed [here under the Implementation notes](https://github.com/GSA/datagov-deploy/issues/1835).

[2020-07-09 20:30] mogul commented on #1833
Logrotate didn't have enough room available to split files when this happened. The situation was resolved this time by deleting data.

We agreed to change the logrotate settings to reduce the likelihood of being in this situation (not enough room to rotate) again. (We should also double-check the retention period documented via the SSP and make sure the new settings still meet that requirement.)

[2020-07-09 20:46] mogul commented on #1811
@jbrown-xentity has 🤚 for this role

[2020-07-09 20:48] mogul commented on #1712
Marking `Blocked` as this is waiting on the CKAN 2.8 upgrade, which should resolve it.

[2020-07-09 21:19] jbrown-xentity commented on #1846
It's possible we can get rid of Putty setup entirely by using [OpenSSH on default Windows](https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_overview)...

[2020-07-09 23:12] adborden commented on #1203
I just realized the proposed fix of removing operator keys from the ubuntu user means that it's no longer possible to run the jumpbox playbook from the jumpbox itself. Instead, I'm proposing updating authorized_keys to include the `from=""` restriction, which seems a little more elegant as it applies to all hosts (jumpbox and non-jumpbox) without exception.

[2020-07-10 12:24] jbrown-xentity commented on #1849
To merge in before release:

- [Common Playbook trendmicroupdates](https://github.com/GSA/datagov-deploy-common/releases/tag/v4.1.2)
- [USWDS](https://github.com/uswds/uswds/releases/tag/v2.8.0)

[2020-07-10 13:50] FuhuXia opened #1855 "Wrong certificate installed on sandbox hosts"
Certificate was genertated for `*.datagov.us`. We really need `*.internal.sandbox.datagov.us`.

## How to reproduce
Accessing host via HTTPS request gives SSL error:
[code]

Look at the crt file shows with following command, it shows `CN = *.datagov.us`:
`openssl x509 -in /etc/ssl/certs/datagov_host.crt -noout -text`

## Expected behavior

Accessing host via HTTPS request should not give error.

#

[2020-07-10 15:48] FuhuXia commented on #1707
Request send to BSP for fgdc2iso EC2 instances.
[code]

[2020-07-10 16:57] jbrown-xentity commented on #1515
@mogul Dashboard did not have any successful crawls last night... :cry:
Found this error when doing the log audit, please use if helpful:

[code]

[2020-07-10 17:17] jbrown-xentity commented on #1827
Aaron suggested testing on CKAN-next to see if moving to 2.8 solves the problem

[2020-07-10 17:17] jbrown-xentity commented on #1828
Aaron suggested testing on CKAN-next to see if moving to 2.8 solves the problem

[2020-07-10 17:46] ghost commented on #1691
@kimwdavidson Any progress on this?

[2020-07-10 18:24] FuhuXia commented on #1449
Some kind of requests are responsible to cause high memory usage. From the log we can see certain apache process is taking 60% of mem handing one request of this kind for long period. It is difficult to capture the request from analyzing  access log, but if we can enable [extendedstatus](http://httpd.apache.org/docs/trunk/mod/core.html#extendedstatus) in apache for debugging purpose, it should hel

[2020-07-10 18:56] #1852 closed, assigned to FuhuXia

[2020-07-10 19:30] jbrown-xentity commented on #1846
I think to do any of this we would [need to be administrators](https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_install_firstuse), testing seems to confirm. Moving back to Putty configuration fix...

[2020-07-10 20:55] FuhuXia opened #1858 "can't log into to sandbox catalog"
User can't log into https://catalog.sandbox.datagov.us/. At HTTPS login screen, after form submission, the server sends user to HTTP and gives username password wrong error. At this point, if user changes the HTTP to HTTPS on the address bar, it actually shows user is logged in.

## How to reproduce

Go to https://catalog.sandbox.datagov.us/user/login, fill in correct credentials, click login butt

[2020-07-10 21:41] datagov-bot opened #1860 "deploy-ci-platform #90 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [starsinmypockets] 89b5159e06f585994d8d29075c2542e960ae9897 - Update pwalker ssh public key take 2

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/90/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/90/pipeline)

[2020-07-10 21:45] jbrown-xentity opened #1861 "Harvest of Restore-the-gulf Error"
Error Summary

Document Error
Element '{http://www.opengis.net/gml}TimePeriod': This element is not expected. Expected is one of ( {http://www.opengis.net/gml/3.2}AbstractTimePrimitive, {http://www.opengis.net/gml/3.2}TimeInstant, {http://www.opengis.net/gml/3.2}TimePeriod, {http://www.opengis.net/gml/3.2}TimeNode, {http://www.opengis.net/gml/3.2}TimeEdge ).
Element '{http://www.isotc211.org/2005/

[2020-07-10 22:27] jbrown-xentity commented on #1860
Not a code issue, related to #1610. Followed mitigation steps and cleared out, rebuilt started and should resolve next build.

[2020-07-10 22:29] pjsharpe07 commented on #1610
Ran into this again today and used the mitigation steps listed in the issue description

[2020-07-10 22:39] adborden commented on #1861
@jbrown-xentity is this a bug? It looks like the harvest owner needs to fix their metadata, is there something else going on?

[2020-07-10 22:42] adborden commented on #1610
Thinking about what the fix looks like... I think we want to add a new docker Ansible role that:
- installs and configures docker
- symlinks /var/lib/docker to /data/docker
- creates a daily cron to:
  - `docker container prune`
  - `docker volume prune`
  - `docker image prune`

[2020-07-10 22:52] #1860 closed, assigned to nobody

[2020-07-10 23:17] adborden opened #1862 "inventory.data.gov landing page links to broken Inventory Guide"
Inventory landing page links to https://digital.gov/resources/inventory-data-gov-guide/ which redirects to a 404 on resources.data.gov. We should contact digital.gov to update their redirect.

## How to reproduce

1. Log into inventory.data.gov
1. Open https://inventory.data.gov/
1. Click the link "Inventory.data.gov Guide"

## Expected behavior

Link takes you to the updated Inventory Guide on re

[2020-07-10 23:33] adborden opened #1863 "Create public landing page for inventory.data.gov"
## User Story

In order to avoid unnecessary effort searching through federal open data for sensitive information, security researchers want a public landing page that explains what inventory.data.gov is and what kind of data it contains.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driv

[2020-07-11 01:20] adborden commented on #1707
Why t2 and not t3? In terms of memory usage, what have you seen in sandbox?

[2020-07-11 01:26] adborden commented on #1824
We should try to do this work before 8/4, our next meeting with the r.d.g team.

[2020-07-13 13:17] jbrown-xentity commented on #922
Current version is [8.6.3](https://github.com/apache/lucene-solr/releases/tag/releases%2Flucene-solr%2F8.6.3)

[2020-07-13 16:11] pjsharpe07 commented on #1861
Did some initial digging of the most recent [harvest job](https://admin-catalog.data.gov/harvest/restore-the-gulf/job/3895f220-8041-4a14-bced-707174694418) and found that the [remote content](https://stage.restorethegulf.gov/merlin/srv/eng/csw?OUTPUTFORMAT=application%2Fxml&SERVICE=CSW&OUTPUTSCHEMA=http%3A%2F%2Fwww.isotc211.org%2F2005%2Fgmd&REQUEST=GetRecordById&VERSION=2.0.2&ID=f405be72-f9d0-4525

[2020-07-13 16:59] FuhuXia opened #1868 "Snyk account upgrade required for data.gov"
Got email from snyk:

**Subject**: Snyk account upgrade required for data.gov
**Content**: ...you have exceeded the free Snyk test limit this month for your data.gov org...

Before this email we have occasionally got emails about "You've reached the Snyk test limit for data.gov" over last a few months. In the [usage dashboard](https://app.snyk.io/org/data.gov/manage/usage?utm_campaign=test_limit_r

[2020-07-13 18:42] jbrown-xentity commented on #495
Ran into again today, simply restarted services manually after running the common playbook and then the reboot. Eventually ran full site deployment to correct problem moving forward.

[2020-07-13 19:56] jbrown-xentity commented on #1822
Added [Snyk overview notes](https://github.com/GSA/datagov-deploy/wiki/Snyk-configuration-notes), to update [O&M Snyk notes](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities#vulnerable-dependency-notifications-daily-email-reports) next.

[2020-07-13 20:02] starsinmypockets commented on #1403
@adborden A couple fields in `sp.xml` need real-world values:

[code]

Thoughts? Feelings?

[2020-07-13 20:05] adborden commented on #1403
@starsinmypockets have you looked at https://github.com/GSA/datagov-ckan-multi/issues/346? Since the catalog-web instances are already configured with the correct configuration, they should 🤞  generate complete metadata when running the make_metadata.py from those hosts.

[2020-07-14 01:08] adborden commented on #1868
@jbrown-xentity did some investigation into this.

[2020-07-14 02:29] datagov-bot opened #1873 "deploy-ci-platform #96 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] 017e713d09a57b3581d6bde2a4cbd51da00cbf51 - update requirements for datagov-deploy-common cert symlink change

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/96/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-plat

[2020-07-14 13:18] jbrown-xentity commented on #1868
We had 3 repositories that were running scans each day and on every merge that were being run privately, and counting against those 200 tests per month. We removed a duplicate test for resources.data.gov, removed another repository that was not part of data.gov mission, and setup datagov-deploy to have the public repository linked so that the tests run do not count against the 200 private test lim

[2020-07-14 14:38] #1873 closed, assigned to nobody

[2020-07-14 15:05] pjsharpe07 commented on #1757
Current version of a simple crawl that produces a csv can be found [here](https://docs.google.com/document/d/1_q9qHwzSrd2_TzbTJkWqlvcibD6tWyoK3wYNHfy2Fx0/edit#heading=h.8oilp0lq56qd) along with some notes.

[2020-07-14 19:13] FuhuXia commented on #1824
For our purpose, it is easier to edit the template than to use/customize jekyll-redirect-from plugin. Thoughts? @adborden

[2020-07-14 20:51] jbrown-xentity commented on #1811
[Discussion notes](https://docs.google.com/document/d/1PzCZN2qCT-uzCvhkDMv0LOY1MCEztqD4C57YtxuHV1c/edit)

[2020-07-14 22:25] jbrown-xentity opened #1874 "Clear Tomcat"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.4asxy5y8h7o3)._

**Date of report: 7/12/2020**
**Severity: Medium**
**Due date: 10/12/2020**

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been pe

[2020-07-14 23:07] adborden commented on #1811
Thanks @jbrown-xentity !

[2020-07-14 23:21] adborden commented on #1824
Works for me. We're not going to have to maintain this very long. Since it's a global change to all pages, editing the layout sounds like the simplest solution, thanks!

[2020-07-15 15:38] FuhuXia opened #1877 "catalog ckan log gets too verbose"
`ckan.error.log` on web instance and `fetch-consumer.log`/`gather-consumer.log` on harvester instance started to get too verbose. Analysis did on `gather-consumer.log` shows it started on **06/25/2020 15:04 GMT**, when [Release/20200625](https://github.com/GSA/datagov-deploy/pull/1803) was deployed.

## How to reproduce

view the `gather-consumer.log`, see the verbose entry such as
[code]

## Expe

[2020-07-15 15:44] FuhuXia commented on #1877
This verbose logging may also be part of cause for `/var/log` partition gets full on ckan web instances. https://github.com/GSA/datagov-deploy/issues/1833

[2020-07-15 17:04] mogul opened #1878 "[spike: 3d] Demonstrate SSB brokering S3 on cloud.gov"
## User Story

In order to prove the feasibility of brokering Terraform-managed services in our cloud.gov environments, the data.gov team wants to see the [cloud-service-broker](https://github.com/pivotal/cloud-service-broker) available and brokering a simple AWS service via Terraform in data.gov spaces.

## Acceptance Criteria
- [x] GIVEN I run `cf login -a api.fr.cloud.gov --sso` and authenticat

[2020-07-15 18:19] adborden commented on #567
As a stop-gap, I want to make sure we have a good snapshot of the catalog.data.gov metadata catalog before we launch catalog-next.

[2020-07-15 19:17] jbrown-xentity commented on #1877
The new info log that is probably causing the problem is [here](https://github.com/GSA/ckanext-geodatagov/blob/master/ckanext/geodatagov/plugins.py#L411). There are a number of other added log.info entries in the last month's commits that may be able to be deprecated/removed/lowered.

[2020-07-15 20:44] FuhuXia opened #1879 "Slow USGS harvesting"
One of USGS harvesting source Harvested from [Original Product Resolution (OPR) Source Digital Elevation Models (DEMs) - USGS National Map](https://catalog.data.gov/harvest/79036357-a26a-4bd9-892b-f2ae110322c3) is harvesting at very slow rate. Usually the fetching rate is 1 package created per second for other harvest source. This harvest source is fetching at 1 package created every 6 seconds. So

[2020-07-15 20:47] jbrown-xentity opened #1880 "Add package.json to federation.data.gov repo"
## User Story

As a [federation.data.gov](federation.data.gov) admin, I want to have all libraries documented in a package.json file so that I can scan for out of date dependencies and easily update to the latest version.

## Acceptance Criteria
- [ ] GIVEN a user views the [federation GitHub repo](https://github.com/GSA/us-data-federation)
  WHEN a library is out of date
  THEN a system manager c

[2020-07-15 20:49] jbrown-xentity opened #1881 "Add package.json to sdg.data.gov"
## User Story

As a [sdg.data.gov](sdg.data.gov) admin, I want to have all libraries documented in a package.json file so that I can scan for out of date dependencies and easily update to the latest version.

## Acceptance Criteria
- [ ] GIVEN a user views the [sdg GitHub repo](https://github.com/GSA/sdg-data-usa)
  WHEN a library is out of date
  THEN a system manager can update the library direc

[2020-07-15 20:51] jbrown-xentity opened #1882 "Add package.json to strategy.data.gov"
## User Story

As a [strategy.data.gov](strategy.data.gov) admin, I want to have all libraries documented in a package.json file so that I can scan for out of date dependencies and easily update to the latest version.

## Acceptance Criteria
- [ ] GIVEN a user views the [strategy GitHub repo](https://github.com/GSA/data-strategy)
  WHEN a library is out of date
  THEN a system manager can update t

[2020-07-15 20:54] FuhuXia commented on #1879
When this job started, we noticed slight increase CPU usage on Harvester instance and Solr master. But 2 solr slaves had noticeable CPU usage bump, and their solr service crashed once each during the process. User also complain difficulty to open any harvest source page. Harvest nightly report shows high number of harvesting jobs are running (i.e. waiting in the queue).

![Screenshot 2020-07-15 16

[2020-07-15 21:01] jbrown-xentity opened #1883 "USWDS 2.8 not compatible with resources.data.gov"
In trying to update USWDS to 2.8.0 on resources.data.gov, running build gives the following error:

```Error: `-"2px"` is not a valid `margin` token. You should correct this. Standard `margin` tokens:  neg-1px, neg-2px, neg-05, neg-1, neg-105, neg-2, neg-205, neg-3, 1px, 2px, 05, 1, 105, 2, 205, 3, 4, 5, 6, 7, 8, 9, 10, 15, 05em, 1em, 105em, 2em, 0```

in the following files:

- on line 93 of node

[2020-07-15 21:18] adborden commented on #1883
@jbrown-xentity do you have a branch with uswds 2.8 so folks can easily pick this up?

[2020-07-15 21:23] jbrown-xentity commented on #1883
Sure, [branch feature/uswds_2_8](https://github.com/GSA/resources.data.gov/tree/feature/uswds_2_8)

[2020-07-16 16:11] mogul commented on #1878
Ran into trouble deploying the broker due to [differences in how cloud.gov provides DB credentials](https://github.com/pivotal/cloud-service-broker/issues/49), but got excellent support from the team upstream in both GitHub and the CF Slack within one business hour.

[2020-07-16 16:11] adborden commented on #1757
@pjsharpe07 can you include an example CSV output we can share with OMB?

[2020-07-16 16:23] mogul commented on #1878
Also filled a request upstream with the cloud.gov team on their broker.
https://github.com/cloud-gov/aws-broker/issues/87

[2020-07-16 17:06] mogul commented on #1757
(CSV is in the Google Drive link above.)

[2020-07-16 20:22] mogul commented on #1868
Likely mitigated by the changes above. We'll `Icebox` this for now, and resurrect it later if necessary.

[2020-07-16 20:26] mogul commented on #1877
`Icebox`'ing until we see this is causing more regular pressure on the O&M rotation.

[2020-07-16 20:36] mogul opened #1886 "Inventory 2.8 rollout"
## User Story

In order to reduce the operational overhead of hosting inventory.data.gov and keeping it secure, the team wants to redeploy the service using a modern, supported version of CKAN on a supported OS.

## Acceptance Criteria
- [ ] WHEN I curl https://inventory.data.gov/api/action/status_show \
  THEN I see "ckan_version: 2.8.x" in the result

## Background
Python 2 is EOL and CKAN 2.3/2

[2020-07-16 21:21] jbrown-xentity commented on #1868
All repositories confirmed open source, issue is resolved.

[2020-07-16 22:34] pjsharpe07 commented on #1515
After implementing [the PR above](https://github.com/GSA/project-open-data-dashboard/pull/290) on staging, it looks like the crawls are moving again. Will continue to monitor throughout the current sprint cycle.

[2020-07-17 01:31] mogul commented on #1878
Manual deployment with a hacky workaround for the issue encountered above is working.
![image](https://user-images.githubusercontent.com/47762/87738563-8a707580-c792-11ea-8e4e-f312fade8f98.png)

[2020-07-17 01:32] mogul commented on #1878
(And yes, I already sent the upstream team a PR fixing the ElastiCache typo.)

[2020-07-17 16:59] jbrown-xentity opened #1890 "CKAN logging level change"
## User Story

As an O&M data.gov developer, I want the correct logging on the various CKAN logs so that I can quickly see the errors that have occurred and not be overwhelmed with debug and info logs.

## Acceptance Criteria

- [x] GIVEN the [audit log is run for catalog and inventory](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities#au-6-log-auditing)
  WHEN

[2020-07-17 19:11] jbrown-xentity commented on #1815
The 90% threshold is already set. The only other false positives I see currently are in Amazon, where the 5xx fires many times daily and the 4xx alarm fires regularly. [Changed alarm](https://us-east-1.console.aws.amazon.com/cloudwatch/home?region=us-east-1#alarmsV2:alarm/awscloudfront-AWS-CloudFront-High-5xx-Error-Rate?) to only fire after error rate is above threshold for 5 minutes instead of 1

[2020-07-17 19:28] hkdctol opened #1893 "Delete Department of Education content from inventory.data.gov"
## User Story

As Data.gov PMO, want to delete obsolete content from Department of Education organization in inventory.data.gov.

## Acceptance Criteria

- [x] Download the datasets and resources, in case they are needed in the future
- [x] Provide list of datasets to Department of Education
- [x] Delete content from inventory.data.gov for Department of Education after confirmation with Dept of Ed

[2020-07-17 19:49] jbrown-xentity commented on #1893
We might be able to just use the data.json endpoint as the "list"? So just download their inventory from the UI? We would still have to download all their resources manually though... Maybe we could write a quick script to do it? It's about 100 data files to download. @hkdctol could this be needed for other departments/organizations in the future?

[2020-07-17 19:55] hkdctol commented on #1893
I think Education has been using something else for their data.json for a while. Not sure they need full metadata maybe just the list of what's in inventory. I could see other agencies wanting to get all their files that are resources.

[2020-07-17 20:53] jbrown-xentity commented on #1851
@mogul @adborden we are part way through access, but I don't have the necessary permissions for the following invites:

- [x] New Relic invite and role setup
- [x] Docker Hub
- [x] HackerOne (application and Slack channel), is this even necessary for Chris?

Could someone send out these invites and :heavy_check_mark: when done?

Adding SSH key blocked pending resolution of [current development](ht

[2020-07-17 22:18] jbrown-xentity commented on #1833
May have to implement in conjunction with #1890. Relevant logrotate options can be found [here](https://github.com/GSA/datagov-deploy/blob/develop/ansible/catalog-web.yml#L50-L64), and our log requirement details are [here](https://docs.google.com/document/d/1MkaYZr6633vobLkYpNZcqPfQTvCUgR4XNahcmeryXgg/edit#heading=h.x4g7k0n6m5it).

[2020-07-20 14:18] FuhuXia commented on #1707
Changed to `t3.small` since the new T3 appears to be more cost effective compared to T2. No supporting data from sandbox environment since sandbox is scaled down to a t2.micro instance, and no regular harvesting activity going on sandbox to collect CPU usage data.

[2020-07-20 14:22] FuhuXia commented on #1707
EC2 instance deployed on staging. Passed the test except SSL cert: SSL is not working since the new host is not listed as one of the Subject Alternative Names. Created two internal host certificate tickets today for the new certs.

[2020-07-20 17:12] pjsharpe07 commented on #1515
Continued monitor of what's on staging of the current crawls. As of 07/17 we had:
`in_progress`: 1132
`current`: 23
As of 07/20 we have:
`in_progress`: 1348
`current`: 37

All `in_progress` have null values for `crawl_end`, so some investigation is needed to find out what is going on with these crawls.

[2020-07-21 00:19] adborden commented on #1691
@kimwdavidson @hkdctol is this all set? I don't think there's any QA to do.

[2020-07-21 12:32] pjsharpe07 opened #1894 "Release 07/23/2020"
## Release 07/23/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2020-07-21 14:00] kimwdavidson commented on #1691
I tried to log into inventory and kept having trouble and then locked
myself out of my max.gov account, so working on that right now.

On Mon, Jul 20, 2020 at 8:19 PM Aaron D Borden <notifications@github.com>
wrote:

--
Kim Davidson
CivicActions <http://civicactions.com>
e: kim.davidson@gmail.com
Skype: kwdavidson

[2020-07-21 14:44] FuhuXia opened #1895 "data.json harvesting fails after project-open-data.cio.gov is redirected"
After https://project-open-data.cio.gov is redirected to https://resources.data.gov, data.json harvesting start to fail. It only affects some datasets in some data.json sources. Debugging shows that jsonschema validator tries to reach url https://project-open-data.cio.gov/v1.1/schema/organization.json and raised an exception when it is redirected to resources's homepage.

## How to reproduce

harv

[2020-07-21 14:52] FuhuXia commented on #1895
Debugging shows that it only affects dataset that has 3+ level of organizations, as in this one:
[code]
On the 3rd level of `org:Organization`, validator is going out and reading url https://project-open-data.cio.gov/v1.1/schema/organization.json.

[2020-07-21 15:14] FuhuXia commented on #1895
POD schema files have been moved to new location at:

https://resources.data.gov/schemas/dcat-us/v1.1/schema/catalog.json
https://resources.data.gov/schemas/dcat-us/v1.1/schema/catalog.jsonld
https://resources.data.gov/schemas/dcat-us/v1.1/schema/dataset.json
https://resources.data.gov/schemas/dcat-us/v1.1/schema/distribution.json
https://resources.data.gov/schemas/dcat-us/v1.1/schema/organization

[2020-07-21 20:17] avdata99 commented on #1895
@FuhuXia @adborden
[This PR](https://github.com/GSA/ckanext-datajson/pull/70) could help.
It's not easy to fix because the new resources continue referring to old resources
For example, inside https://resources.data.gov/schemas/dcat-us/v1.1/schema/organization.json we still call to old URL
We need to update these resources to point new links

[2020-07-21 21:59] jbrown-xentity commented on #1833
Per documentation and testing today, can reduce log size on average (tested for 5.5 hours today) by 93% by changing log levels to `WARNING` [here](https://github.com/GSA/datagov-deploy/blob/develop/ansible/roles/software/ckan/catalog/ckan-app/templates/etc_ckan_production.ini.j2#L280-L286). Would still need to implement changes to logrotate as mentioned above, and possibly increase the size of the

[2020-07-21 23:53] pjsharpe07 commented on #1515
In staging, confirmed that crawls are running and populating data into the db  as expected. However, the `crawl_end` is being left as null and the `crawl_status` is being left as `in_progress`.

The app will display the information for the current milestone if `crawl_status` is `current`. Verified on staging by manually changing the db's `crawl_status` for certain agencies.

During the `full-scan`

[2020-07-22 02:15] adborden commented on #1895
While we work out the longer-term fix with pod.c.g, I think there is a short term fix is to create a complete [jsonschema](https://json-schema.org/) based on the v1.1 schema and use that locally within the ckan extension.

Right now, we have a partial implementation of this. Our [embedded schema in ckanext-datajson](https://github.com/GSA/ckanext-datajson/blob/master/ckanext/datajson/pod_schema/fe

[2020-07-22 03:26] #1691 closed, assigned to adborden, hkdctol

[2020-07-22 03:27] kimwdavidson commented on #1691
Logged into inventory, so I think I'm all set! Closing

[2020-07-22 13:30] datagov-bot opened #1900 "deploy-ci-platform #109 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] 56a70278b45d357d58485a7e7eb5ba2b9a1d4afe - keep existing tomcat before ec2 ready on prod

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/109/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/109/pipeline)

[2020-07-22 13:48] FuhuXia commented on #1895
Good point to stick to localized schema file. As a matter of fact we are using localized an all-in-one [dataset schema file](https://github.com/GSA/ckanext-datajson/blob/master/ckanext/datajson/pod_schema/federal-v1.1/dataset.json). This pod.c.g redirecting issue made us aware that there is bug in the `ckanext-datajson`/`jsonschema module` that the verifier is reading external url during harvestin

[2020-07-22 15:16] jbrown-xentity commented on #1610
Happened again today, starting to hit this every 2 weeks...

[2020-07-22 15:43] #1900 closed, assigned to nobody

[2020-07-22 16:42] adborden opened #1904 "Update data.gov/about for Evidence Act and OPEN Government Data Act"
## User Story

In order to communicate the mission, goals, and applicability of data.gov, Agency users want the about page updated to better reflect how data.gov might serve them for open and non-open datasets.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_sp

[2020-07-22 17:51] jbrown-xentity opened #1908 "Update Ansible Role Pip"
## User Story

As a data.gov developer, I want the latest Ansible Role for pip so that no security patches are missed.

## Acceptance Criteria
- [ ] GIVEN the latest ansible role for pip is used
  WHEN data.gov services are deployed/tested
  THEN all services work as expected

## Background
Current [new release](https://github.com/geerlingguy/ansible-role-pip/releases/tag/2.0.0) requires changes t

[2020-07-22 18:55] FuhuXia commented on #1895
GitHub issue created on [jsonschema repo](https://github.com/Julian/jsonschema/issues/710) for this reading-external-url-with-local-definition issue.

[2020-07-22 20:02] jbrown-xentity commented on #1837
[This thread](https://serverfault.com/questions/830302/ensure-only-specific-list-of-users-exist-with-ansible) provides an example implementation of exactly what we want to do. We could even implement the optional idea at the end on using SSH keys setup on each github account and get rid of our entire management of ansible keys... cc @adborden.

[2020-07-22 20:31] adborden commented on #1837
Ah, minus the GitHub part\*, that looks like a good solution. I forgot we had created the operators group for our team members. I think you'll want to update our sudo config in the playbook, too, so that it's a single rule to allow the operators group sudo access. I think that just tightens up the disparate pieces.

\* With GitHub, I think we still have to manage the keys, we're just pulling them

[2020-07-22 22:26] pjsharpe07 opened #1911 "Catalog-web2d fails on common playbook"
## How to reproduce

1. If you run the common/site playbook on catalog-web2d, you will see the playbook fail [during these commands](https://github.com/GSA/ansible-os-ubuntu-14/blob/master/tasks/section3.yml#L127-L152)

## Expected behavior

Common/site playbooks run without error and the host functions correctly.

## Actual behavior

Playbook fails and host does not function correctly.

## Curren

[2020-07-22 22:27] pjsharpe07 commented on #1894
Ran into issue on staging. Created #1911

[2020-07-22 22:38] hkdctol commented on #1839
Have started this and it looks not bad. I can fill in what I can and upload artifacts, then I think we need to review (REI team) since some of the questions/screenshots would pertain to database access. Overall looks straightforward and I don't anticipate this to require significant time. Will schedule a working session in time for due date for ISSO.

[2020-07-22 23:59] FuhuXia commented on #1707
Still waiting for hosts certificates. The test performed 2 days ago was not supposed to pass, since we have not made firewall change request to open port 80/443. The test passed because Trend Micro was not installed. Making firewall change request today.

[2020-07-23 00:09] FuhuXia commented on #1707
Due to AZ restrictions in staging environment, we have to use `t2` instance type. So both fgdc2iso hosts on staging and production are on `t2.small`. Will follow this new host provision [doc](https://github.com/GSA/datagov-deploy/wiki/Provisioning-new-hosts) to mount `/var/log` parition.

[2020-07-23 05:18] mogul commented on #1878
Noting for later: This is how to work with the csb binary from the command line.
[code]

[2020-07-23 05:31] mogul commented on #1878
Demo time!!

% cf marketplace

[code]
% cf create-service csb-aws-s3-bucket private mybucket

[code]

% cf service mybucket
[code]
### ...a few minutes later...

% cf create-service-key mybucket mykey

[code]
% cf service-key mybucket mykey

[code]
% cf delete-service-key mybucket mykey
[code]
% cf delete-service mybucket
[code]

[2020-07-23 13:07] avdata99 commented on #1765
More info about SSL [here](https://www.python.org/dev/peps/pep-0476/).

[The current](https://github.com/GSA/ckanext-datajson/blob/master/ckanext/datajson/harvester_datajson.py#L26-L35) `load_remote_catalog` function should be cleaned and get the data.json font step by step checking for errors.

[I started](https://github.com/datopian/ckanext-datajson/blob/datagov/ckanext/datajson/harvester_datajs

[2020-07-23 17:22] jbrown-xentity commented on #1846
Add to [onboarding checklist](https://github.com/GSA/datagov-deploy/blob/develop/.github/ISSUE_TEMPLATE/onboard-team-member.md)

[2020-07-23 17:24] adborden opened #1913 "Remove "work in progress" header from resources.data.gov"
## User Story

In order to feel confident that I am getting the authoritative and complete source for information on federal data inventories and open data, r.d.g users want the "work in progress" banner removed.

![Screenshot from 2020-07-23 10-16-07](https://user-images.githubusercontent.com/509703/88317656-736bdf00-ccce-11ea-9403-71b2910236ae.png)

## Acceptance Criteria
[ACs should be clearly

[2020-07-23 18:17] estebanruseler opened #1914 "BUG: Portal user details visible on public link"
## Summary

  - Inventory app release version TBC (based on CKAN 2.5.2)
  - Environment - PROD
  - Error logs - n/a

If you go to https://inventory.data.gov/user you will see  a list of users. This info should only be visible to logged-in users with appropriate access.

This is not a _critical_ security issue but I'm raising as you probably want to protect inventory app user privacy. In its curren

[2020-07-23 18:21] adborden commented on #1863
Another example where Inventory's access is confusing https://github.com/GSA/datagov-deploy/issues/1914

[2020-07-23 18:49] adborden commented on #1914
Inventory is pretty confusing about what should be publicly visible vs. not. Unless you're seeing any sensitive information like passwords or private metadata, I don't think this is an issue.

Inventory.data.gov stores a lot of open data and most APIs (including the users and activity pages) are publicly accessible. There are some private datasets, but those should have their access restricted app

[2020-07-23 18:58] jbrown-xentity opened #1916 "O+M [Preston]"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-07-23 19:04] estebanruseler commented on #1914
@adborden I like your idea of a public landing page instead of the current redirect which basically says "you're not meant to be here"

CKAN does consider the user page public by default but in CKAN 2.8 - unlike previous versions - there's the ability to config so that the page is only viewable to users with the right access. In the GDPR/CCPA era, I think most people go for the page not being publ

[2020-07-23 22:05] jbrown-xentity commented on #1676
Ticket for BSP [created](https://gsa.servicenowservices.com/sp/?id=sc_request&is_new_order=true&table=sc_request&sys_id=522576f71b0254509496ddb6bc4bcbc0).

[2020-07-23 23:13] adborden commented on #1895
project-open-data.cio.gov has been restored, so this is no longer an urgent issue, but still an issue.

[2020-07-24 02:24] #1811 closed, assigned to adborden

[2020-07-24 02:24] #1822 closed, assigned to jbrown-xentity

[2020-07-24 02:24] #1824 closed, assigned to FuhuXia

[2020-07-24 02:24] #1868 closed, assigned to jbrown-xentity

[2020-07-24 02:24] #1805 closed, assigned to mogul

[2020-07-24 02:24] #1846 closed, assigned to jbrown-xentity

[2020-07-24 02:24] #1878 closed, assigned to mogul

[2020-07-24 13:45] jbrown-xentity commented on #1851
@mogul @adborden I do not have the requisite permissions for setting up Chris to have [AWS sandbox console access](https://github.com/GSA/datagov-infrastructure-live/tree/master/iam#new-users). He has already added himself and I have confirmed his account, can one of you **run through those admin console/password setup steps** please?

[2020-07-24 15:37] FuhuXia commented on #1708
Tested on local. Here are the results and some interesting findings:
* **Download is fine when Gunicorn + Nginx**
* Download truncated when Gunicorn + Apache
* Download truncated when Gunicorn alone

When download is truncated:
* Chrome download gives 'failed - network error'. But you can click resume to complete download.
* wget client will auto resume.

When download is truncated behind BSP load

[2020-07-24 17:57] adborden commented on #1708
Thanks @FuhuXia! In your tests, were you using the [default synchronous workers](https://docs.gunicorn.org/en/stable/design.html#choosing-a-worker-type)? I've heard anecdotal evidence that async workers generally have fewer issues with downloads/uploads and handling of large or slow buffers. nginx/apache is supposed to shield gunicorn from those issues, but my gut is that we should be using one of

[2020-07-24 17:58] adborden commented on #1851
I'll can run through these.

[2020-07-24 18:00] adborden commented on #1851
@chris-macdermaid ping me in slack when you are available for the credentials hand-off.

[2020-07-24 18:01] mogul commented on #1449
Bumped to the top of the backlog based on the retro discussion today.

[2020-07-24 18:06] mogul commented on #1757
Unblocking until our sketch of how to proceed from here is complete.

[2020-07-24 18:07] mogul commented on #1707
Blocked waiting on the certificate to be issued

[2020-07-24 18:08] #1849 closed, assigned to jbrown-xentity

[2020-07-24 18:23] mogul commented on #1890
@pjsharpe07 please remember to check and verify that this is working properly during your next audit log review.

[2020-07-24 18:28] mogul commented on #1904
@hkdctol we are triaging this one... Is this something you can work on soon? If so, please move it to the `Product Backlog`. Otherwise just leave it in the `Icebox`.

[2020-07-24 18:37] mogul commented on #1911
This will be hit every release until it's been resolved.

[2020-07-24 18:39] mogul commented on #1911
@FuhuXia suggests that this might be best resolved by just reprovisioning this EC2 instance rather than working around it in code.

[2020-07-24 18:41] mogul commented on #1914
Closing as we don't feel this needs further resolution.

[2020-07-24 18:41] #1914 closed, assigned to nobody

[2020-07-24 18:45] mogul commented on #1850
This issue is `Blocked` as it can't start before #1886

[2020-07-24 21:25] FuhuXia commented on #1708
@adborden 👍  Test shows if we use async worker, the issue is resolved without any other changes.

[2020-07-24 21:29] jbrown-xentity commented on #1678
@adborden I can't remove the current inventory2.8 infrastructure, I don't have permissions... Can you either add permissions for infrastructure destruction to develop role, or pull the [in-work branch](https://github.com/GSA/datagov-infrastructure-live/tree/feature/inventory-next) and run `terraform destroy -target=module.inventory_2_8` as a one-off?

[2020-07-24 23:59] adborden opened #1924 "Cache poisoning on catalog.data.gov"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.ur8ar90azxp)._

**Date of report:** 7/24/2020
**Severity:** Unknown
**Due date:** N/A

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been performed

[2020-07-25 00:19] adborden commented on #1924
Waiting on H1 to confirm.

[2020-07-25 05:11] datagov-bot opened #1925 "deploy-ci-platform #125 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] 3021236e2e6533b2c512c54afcd8c0df83200215 - Revert "gunicorn -> mod_wsgi"

- [fxia] dcd3ac530e3a9f55a925f802363d19c4ba67b363 - fix revert

- [fxia] b8103136100eb687b2cb52e32431ce0fe6ecc3e4 - use async worker to avoid truncated download issue #1708

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-pla

[2020-07-25 12:36] #1925 closed, assigned to nobody

[2020-07-27 13:07] jbrown-xentity commented on #1419
Current issues part of the epic:
- [Harvester "Validation Error: msising tags"](https://github.com/GSA/datagov-deploy/issues/1828)
- [Harvester "Unexpected Errors"](https://github.com/GSA/datagov-deploy/issues/1827)
- NOAA Time issue for removing spaces in time field (pending discussion and resolution)

[2020-07-27 20:48] datagov-bot opened #1927 "deploy-ci-platform #127 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [38019872+pjsharpe07] 4174f526e42c41e835d849e3772af1bf3eb094c3 - Update php-mysql

- [38019872+pjsharpe07] 3ba90e8c41c9741fb245ee1dcaf0c79c22082401 - Snyk exception updated

- [38019872+pjsharpe07] e00f05fd23221a5766cce7b02167d9278c792023 - typo

- [38019872+pjsharpe07] d110fcb3b37d255b89b0fa3c53156a8184d4dece - Indenta

[2020-07-28 15:02] #1927 closed, assigned to pjsharpe07

[2020-07-28 17:58] #1416 closed, assigned to starsinmypockets

[2020-07-28 18:12] adborden opened #1933 "Release 20200806"
## Release 08/06/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

## Special callouts about this release

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook ru

[2020-07-28 18:46] pjsharpe07 opened #1934 "Snyk Vulnerability in ckanext-datajson"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.smnsfzvhi05v)._

**Date of report:** 07/27/2020
**Severity:** High
**Due date:**  08/27/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been pe

[2020-07-28 21:33] crysacarter opened #1935 "open gov page update"
Note from site user:

Ive noticed that the Polish area is not marked on the map https://www.data.gov/open-gov/

I would like to inform you that the Polish open data service is available at https://dane.gov.pl/

Please update lists to reflect addition of Polish Open Data.

[2020-07-28 22:31] hkdctol opened #1937 "Dept of Transportation POC getting harvest reports of only one of 2 harvest sources for DOT"
Dan Morgan is CDO for Dept of Transportation. He's on the list to receive harvest report. For some reason he has stopped receiving harvest report for main harvest source, the DOT data.json.

## How to reproduce

Occurring daily in recent days - where Dan receives harvest report for a geospatial harvest source but not main DOT source data.json

## Expected behavior

Harvest report email list is at

[2020-07-28 23:31] adborden opened #1939 "Work with OMB to setup redirects for DCAT-US schema on project-open-data.cio.gov"
## User Story

In order to ensure that DCAT-US schema files continue to work for automated JSON schema validation, spec users want 302/301 redirects to the same files on resources.data.gov.

List of schema files:
- https://project-open-data.cio.gov/v1.1/schema/catalog.json
- https://project-open-data.cio.gov/v1.1/schema/catalog.jsonld
- https://project-open-data.cio.gov/v1.1/schema/dataset.json
-

[2020-07-29 13:21] jbrown-xentity opened #1940 "Geospatial full metadata not available on some datasets"
Geospatial document does not have full metadata view or download link available on the dataset page.

The root cause will have something to do with the harvest information missing, all harvest data is missing from the full metadata for this dataset page.

See email from Lynda on July 28th for request, and respond to that thread when ticket is resolved.

## How to reproduce

1. Go to [this dataset]

[2020-07-29 15:37] pjsharpe07 opened #1941 "Create a site metrics dataset on inventory"
## User Story

In order to create a simpler crawl system to replace the dashboard crawl, datagov developers want a dataset created on inventory that contains all the necessary crawl information .

## Acceptance Criteria
- [ ] GIVEN I access inventory.data.gov/datasets/catalog-organization-statistics
  AND crawl.py has been completed and accepted
  THEN I can download a created static csv file
  AN

[2020-07-29 15:43] pjsharpe07 opened #1942 "Crawl Update is Automated on inventory.data.gov"
## User Story

In order to create a simpler crawl system to replace dashboard crawls, datagov developers want the inventory dataset to run as scheduled, persist to datastore, and updated on inventory.data.gov

## Acceptance Criteria
- [ ] crawl code lives on geodatagov and runs automatically via supervisor (or an equivalent secure system that has access to the web and can safely store an API key)

[2020-07-29 15:52] FuhuXia commented on #1861
There is one dataset in the source, and this dataset fails to validate against schema profile `ISO19139 XSD Schema (NGDC)`. For instance, each element of `<gmd:CI_Citation>` needs to have one or more `<gmd:date>` as defined in the [citation.xsd](https://github.com/GSA/ckanext-spatial/blob/datagov/ckanext/spatial/validation/xml/iso19139ngdc/schema/gmd/citation.xsd#L49). But one of the `CI_Citation`

[2020-07-29 22:43] mogul opened #1943 "Local brokering of Solr Cloud in provided k8s"
## User Story

In order to identify any problems with brokering Solr Cloud quickly, the data.gov team wants to demonstrate OSBAPI brokering of Solr instances into a local user-supplied k8s cluster.

## Acceptance Criteria
GIVEN I have checked out the `datagov-brokerpak` repository \
AND I am running Docker Desktop \
AND I have run `make build up test-env-up wait`
- [ ] WHEN I run `make demo-up` \

[2020-07-29 22:55] adborden opened #1944 "Update New Relic configuration for FedRAMP authorized collectors"
## User Story

In order to maintain service for New Relic on FedRAMP'd infrastructure, Data.gov operators want the New Relic configuration updated for the FedRAMP [approved collectors](https://docs.google.com/document/d/1fb37cCgUQMuui8TT6QzDj1JosTw17iKYrg96OvtKuog/edit).

## Acceptance Criteria
- [x] GIVEN we follow the instructions from FedRAMP on required configuration changes
  WHEN I view the

[2020-07-30 13:48] jbrown-xentity commented on #1203
Directly related to #1837, evaluating at the same time...

[2020-07-30 18:55] pjsharpe07 opened #1951 "Snyk Vulnerability for sdg-data-usa"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.smnsfzvhi05v)._

**Date of report:** 07/27/2020
**Severity:** High
**Due date:**  08/27/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been pe

[2020-07-30 19:11] datagov-bot opened #1952 "deploy-ci-platform #134 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [adborden] 9105e53eaa8fea6e4c21b3ed2daf91c6c440a433 - Update New Relic collector

- [adborden] fa0ff3989dd0d02c745b7d96a9819e6d939e64bb - [newrelic] update collector for FedRAMP

- [thejuliekramer] a74c09f62b89a4fe48f1919d79c3bf2e0d48bbd8 - update repoze version in who.ini test

[View full output](https://ci.sandbox.dat

[2020-07-30 19:33] jbrown-xentity commented on #1610
Hit again today, closer to 1 week since last incident...

[2020-07-30 19:53] adborden commented on #1610
~Next time the disk is full,~ we want to see if it's more on the docker side or the jenkins side. Both are on the same EBS volume. We'll want to adjust the size of the EBS and consider adjusting retention for Jenkins build history.

[2020-07-30 19:55] adborden commented on #1952
Seeing this in the log:
[code]

[2020-07-30 20:15] mogul commented on #1937
Notable: Hyon is seeing both emails. So the question is, why does he get report but not the other?

[2020-07-30 20:18] mogul commented on #1940
@FuhuXia suggests that a re-index may resolve this. We're planning to do that sooner so that we can understand if more work will be required later.

[2020-07-30 20:22] adborden commented on #1951
As far as I can tell, Data.gov is only responsible for the sdg site itself, not the data pipeline. We don't even have access to the [GSA/sdg-data-usa](https://github.com/GSA/sdg-data-usa) repo.

I've removed this from Snyk and added [GSA/sdg-indicators-usa](https://github.com/GSA/sdg-indicators-usa). I think this was a typo from when I originally setup Snyk.

[2020-07-30 20:22] #1951 closed, assigned to adborden

[2020-07-30 20:24] jbrown-xentity commented on #1610
Most of Jenkins data is held in a separate EBS, it's Docker that continues to fill up the system (as far as I can tell)...

[2020-07-30 20:25] mogul opened #1954 "Reduce effort needed to meet OMB reporting needs and provide basic metrics*"
## Feature/what we're after
Meet OMB reporting needs and provide basic metrics to agencies and the public without maintaining a dedicated application

## Anticipated/hypothesized benefits
- Reduce the level of O+M necessary to meet reporting requirements

## Measurements/metrics
- The dashboard application is no longer deployed
- Customers of our data can find their way to the new reporting locati

[2020-07-30 20:41] mogul opened #1955 "Harvest source page responds slowly during harvests"
We've noted that during a harvest, the harvest source page responds very slowly.

## How to reproduce

1. Kick off a long-running harvest such as the USGS job
2. Load a series of harvest pages
    - https://catalog.data.gov/harvest/usgs-historical-topographic-maps
    - https://catalog.data.gov/harvest/79036357-a26a-4bd9-892b-f2ae110322c3

## Expected behavior

The harvest job detail pages respond

[2020-07-30 20:44] adborden commented on #1955
We found this when debugging https://github.com/GSA/datagov-deploy/issues/1879

[2020-07-30 21:02] adborden commented on #1952
@jbrown-xentity cleared disk space on the jenkins instance (https://github.com/GSA/datagov-deploy/issues/1610), now we're seeing this:

[code]

[2020-07-30 21:05] adborden commented on #1610
Ah, I had manually setup a symlink /var/lib/docker -> /data/docker but it looks like that's been removed somehow, maybe from the playbook. Definitely worth resolving this GH issue in that case.

[2020-07-30 22:14] jbrown-xentity commented on #1203
Was able to confirm can lock down user access to various servers using the `from="10.0.101.49"` syntax at the front of each key in the authorized_keys file. Will need to create variable for the jumpbox on each system (sandbox, staging, prod) and lock down access to only from the jumpbox for all ubuntu users. This way will still have access to all servers from the jumpbox, but cannot access ubuntu

[2020-07-30 22:15] datagov-bot opened #1957 "deploy-ci-app-inventory #23 failed"
Build 'deploy-ci-app-inventory' is failing.

Changes since last successful build:
- [starsinmypockets] c9ec5b1eb3ec4777035cf3a9b6c0265bfaa7b11e - Revert repose.who version to production

- [starsinmypockets] 52758fe04c1062dc211cb20ea69d713015344c6a - Load dcat_usmetadata extension

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-inventory/23/) (classic)
[View full output](https:

[2020-07-30 22:19] adborden commented on #1957
Will be resolved by https://github.com/GSA/datagov-deploy/pull/1956

[2020-07-30 23:05] adborden opened #1958 "Limit harvest-run job to 24 hours"
## User Story

In order to give harvest-run headroom to complete it's tasks without holding up the queue indefinitely, Data.gov operators want a timeout set on harvest-run.

## Acceptance Criteria
- [ ] GIVEN a long running harvest-run job\*
  WHEN harvest-run has been running for more than 24 hours
  THEN the job is gracefully killed
  _AND datagov@ is notified_

\* We don't have a concrete condi

[2020-07-30 23:39] adborden opened #1959 "harvest-run can run over 24 hours with no output when email is misconfigured"
On sandbox, we have postfix configured with an invalid relay (the GSA SMTP relay).

We see this in the postfix logs.
[code]

https://gsa-tts.slack.com/archives/CDCL978KZ/p1596127376406400

## How to reproduce

1. Configure postfix with invalid relay, or unset `smtpd_recipient_restrictions` in /etc/postfix/main.cf
1. `sudo service postfix restart`
1. `sudo supervisorctl start harvest-run`

## Expec

[2020-07-30 23:51] adborden opened #1960 "[Research 2d]: Notify/alert operators based on events from application event/log stream"
## User Story

In order to notify/alert operators when any system requires an operator action to be taken, data.gov operators want a notification service that hooks into our application event streams.

## Acceptance Criteria/Tasks
- [ ] GIVEN an application has a condition that needs a human operator to take an action
  AND an operator adds this condition to the notification service
  WHEN the con

[2020-07-31 00:22] mogul commented on #1960
logs.fr.cloud.gov is more of a log collection system rather than a stream we'd directly want to alert on. For Monit purposes, we probably want it watching something more like [`log-cache`](https://www.youtube.com/watch?v=9xJ6QW5ZA3M).

I spoke to Adam about a potential design for a Monit "service". You'd have two components:

1. A standalone Monit app that watches the logs and metrics streaming ou

[2020-07-31 00:26] mogul commented on #1960
By the way:

We're unable to run our own ES stuff like Elastalert in the shared logs.fr.cloud.gov instance. It's multi-tentant, but only just barely and we don't have enough access to configure Elastalert just for us.

If we do want to alert based on collected (rather than streamed) logs+metrics, then the way to do it is to broker our own instance of [AWS Elasticsearch](https://aws.amazon.com/elas

[2020-07-31 00:26] #1957 closed, assigned to adborden

[2020-07-31 00:36] adborden commented on #1959
The strange thing is that the postfix error has been around since we created sandbox. I'm not sure why it's only become an issue now.

[2020-07-31 01:15] adborden commented on #1952
A new failure, looks like inventory-next is getting pulled in as inventory classic because of the recent rename.
[code]

[2020-07-31 01:38] adborden opened #1962 "Ansible does not restart/reload gunicorn when ckan configuration changes for inventory.data.gov"
## How to reproduce

1. Edit https://github.com/GSA/datagov-deploy/blob/master/ansible/roles/software/ckan/inventory/templates/etc/ckan/production.ini
1. Deploy inventory to sandbox
1. supervisorctl status

## Expected behavior

Gunicorn is restarted/reloaded.

## Actual behavior

Last build was an hour ago, but gunicorn is still running.

$ sudo supervisorctl status
beaker-cache-cleanup

[2020-07-31 01:40] adborden commented on #1962
https://github.com/GSA/datagov-deploy/pull/1923#pullrequestreview-456219102 We should add the supervisor reload handler to this task.

[2020-07-31 15:10] hkdctol opened #1964 "Create a catalog view for Older Americans initiative"
## User Story

As Data.gov PMO, I want to respond to an OMB/OSTP initiative, seeking a catalog view of datasets they have identified as relevant to an initiative on Older Americans.

## Acceptance Criteria

- [x] GIVEN the list of Data.gov datasets identified by the OMB OSTP initiative leads (attached), THEN we can provide a page view of the datasets, ~~in the order provided in the spreadsheet~~.

[2020-07-31 19:54] pjsharpe07 commented on #1890
The error logs looked like we were hoping. Moved this one to `done`

[2020-07-31 21:03] pjsharpe07 commented on #1879
We kicked off a new harvest today - a little before 5:00pm EST. We'll review the results Monday morning.

[2020-08-01 00:45] adborden commented on #1646
We're up to [1h 7m](https://app.circleci.com/pipelines/github/GSA/datagov-deploy/654/workflows/ef71756e-e24c-4092-bfe3-ae00da3f30ec)!

[2020-08-01 01:12] #1952 closed, assigned to adborden

[2020-08-03 15:26] jbrown-xentity commented on #1676
BSP has system in place, to verify today and close if configuration is as expected.

[2020-08-03 16:19] pjsharpe07 opened #1967 "Netsparker reports jquery out-of-date"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.m5rberk54v2d)._

**Date of report:** 08/03/2020
**Severity:** Moderate
**Due date:** 11/03/2020

### Brief description
More details can be found [in the google doc](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#he

[2020-08-03 16:58] FuhuXia opened #1968 "Fresh catalog-web instances sees Error '/etc/ckan/saml2/attributemaps'"
Ran site.yml playbook on a freshly provisioned ubuntu trusty instance on staging. It gave this error when at task `assert app is up`:
[code]

Workaround is creating this directory manually and copying content from other web instance.

[2020-08-03 17:26] jbrown-xentity commented on #1964
So this cannot be replicated on sandbox as currently built for a number of reasons.

First is the datasets don't exist on sandbox. Current plan is to pull in 1 harvest source for an example of what a production deployment would look like, but not the full data list.

Second, the options at the top of the page are built into our `dynamic_menu`, which still all points to production system and is har

[2020-08-03 17:30] hkdctol commented on #1964
No harm in creating a page directly on production. They can look at it and if they like it we'll set up a redirect from a URL they like.

[2020-08-03 17:30] hkdctol commented on #1964
I don't anticipate a repeated need for this so would minimize effort.

[2020-08-03 17:32] jbrown-xentity commented on #1964
So create the page view and group but don't update the dropdown topics list until it is approved? Publicly viewable but not discoverable?

[2020-08-03 18:11] FuhuXia commented on #1937
@hkdctol I Inspected two sample emails. As we discussed in slack, I suspect the emails were going out no problem, it is the user receiving end that has problem delivering them to user's inbox. Comparing the message bodies of the two emails, the one received by user has fairly clean message (not many links embedded). The one not received has larger message body with many hyper links and detailed te

[2020-08-03 18:23] hkdctol commented on #1964
Yep. Thanks.

[2020-08-03 18:54] FuhuXia commented on #1911
Re-launched the EC2 instance and ran the ansible playbooks. The issue is resolved.

[2020-08-03 18:54] pjsharpe07 opened #1970 "TLS/SSL Certificates on Staging"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.m5rberk54v2d)._

**Date of report:** 08/03/2020
**Severity:** Moderate
**Due date:** 11/03/2020

### Brief description
Found on today's netsparker review. The steps in [our wiki](https://github.com/GSA/datagov-deploy/wiki/TLS-SSL-Certificates) should h

[2020-08-03 19:27] pjsharpe07 commented on #1879
Pretty close. Looks like it took ~32 hours to complete...

| id                                   | created             | gather_started      | gather_finished     | finished           | time_ran | source_id                            | status   |
|--------------------------------------|---------------------|---------------------|---------------------|--------------------|----------|--------------

[2020-08-03 20:34] FuhuXia opened #1972 "Catalog CKAN gives 404 when clearing facet terms under organization"
Under an organization, when clicking the link in the main body to clear any facet term, Catalog CKAN leads to a 404 page.
For example, in the image below, when click the "**geospatial X**" link, the page should go to `https://catalog.data.gov/organization/gsa-gov`, but it actually goes to `https://catalog.data.gov/group/gsa-gov` and it is a 404.

![Screenshot 2020-08-03 16 14 16](https://user-imag

[2020-08-03 20:44] FuhuXia opened #1973 "Dataset relevance sorting order under CKAN organization is not consistent"
Under an organization, the dataset on landing page is sorted by Relevance. But if you change to another sort order and change back to Relevance, the order is different.

## How to reproduce

1. Go to https://catalog.data.gov/organization/gsa-gov. The default 'Order by' is Relevance.
2. Change to 'Order by' to another one then change back to Relevance.

## Expected behavior

The dataset listing ord

[2020-08-03 21:09] hkdctol commented on #1438
closing we have a duplicate in #1688

[2020-08-03 21:09] #1438 closed, assigned to nobody

[2020-08-03 21:48] jbrown-xentity commented on #1964
The group [Older Adults Health Data](https://catalog.data.gov/group/older-adults-health-data) is created on production, and populated with the requested 60 datasets (no ordering).

Please let them know we can

- Update the description (the text on the about page, and the text on the left: they are the same)
- Add an image/logo for the group (must be a publicly available image URL)
- Add this group

[2020-08-03 21:54] hkdctol commented on #1964
Sounds good--I've forwarded the info to the requesters.

[2020-08-03 22:30] jbrown-xentity commented on #1676
Cannot use CKAN system to deploy DB, but BSP has DB in place. Will need to complete #1678 before can provision on sandbox and test deployment. Moving to blocked until #1678 is complete.

[2020-08-03 23:45] hkdctol commented on #1937
![Screen Shot 2020-08-03 at 7 40 51 PM](https://user-images.githubusercontent.com/3236989/89237635-b9278200-d5c1-11ea-9a5a-a47d61300a21.png)
No obvious link between when DOT first reported not getting harvest reports (early July) and harvest reports and number of errors. Meanwhile, @jbrown-xentity - the two harvest jobs on top of each other -- that seems to be the pattern going back more than a ye

[2020-08-04 05:42] FuhuXia commented on #1937
@hkdctol Ok, the theory is that it may not be the amount of errors that triggers filtering. It is some particular pattern from some particular dataset error message that triggers the filtering. It may be too much hassle to compare the filtered-in report and filtered-out report to find the pattern. Let us first get the source dataset validation error fixed first.

For the mentioned behavior that th

[2020-08-04 13:32] hkdctol commented on #1964
@jbrown-xentity I forwarded you email with a few edits from requesters on description.

[2020-08-04 13:41] jbrown-xentity commented on #1964
@hkdctol Title and description updated, good to reply...

[2020-08-04 15:56] FuhuXia opened #1974 "Datajson harvest source `Validation Schema` is not being reflected properly in UI or harvests"
## Unable to save a harvest sources with the `non-Federal` Validation Schema.

### How to reproduce
1. Set up a new datajson harvest source, choose `Non-Federal` as Validation Schema. Save.

### Expected behavior
1. The source should show `Federal`.

### Actual behavior
1. The source shows `Non-Federal`.

---
## `Federal` harvest sources are being harvested as `Non-Federal`

### How to reproduce

[2020-08-04 15:57] pjsharpe07 opened #1975 "SDG Remediations cause incompatible dependencies versions"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.o3ia64d4a3bx)._

**Date of report:** 08/04/2020
**Severity:** High
**Due date:** 09/04/2020

### Brief description
[Google Doc](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.o3ia64d4a3bx)

[Snyk-bot PR](

[2020-08-04 16:50] jbrown-xentity commented on #1135
Related to #1974

[2020-08-04 18:04] pjsharpe07 opened #1976 "Netsparker reports potential BREACH"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.qkmapzjznkwt)._

**Date of report:** 08/03/2020
**Severity:** Moderate
**Due date:** 11/03/2020

### Brief description
More details can be found [in the google doc](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#he

[2020-08-04 20:11] hkdctol opened #1978 "Data.gov sites meet Accessibility Requirements*"
## User Story

As Data.gov PMO, we want Data.gov sites to meet Accessibility Requirements in order to meet 21st Century IDEA Act.

## Acceptance Criteria
TBD

## Background
Driving force: [IDEA Act](https://digital.gov/resources/21st-century-integrated-digital-experience-act/?dg)
GSA Guidelines https://docs.google.com/document/d/1E0K_LDlDqEgHKESTqHKlKN50OJAxCcl_FcKB-qLL13A/edit#heading=h.n7v3curid

[2020-08-04 20:14] hkdctol opened #1979 "Data.gov sites to meet GSA consistency requirements*"
## User Story

As Data.gov PMO, we want Data.gov sites to meet design guidelines in Section 11 of the Guidelines for GSA's Digital Presence
to comply with the 21st Century IDEA Act by FY 2021.

## Acceptance Criteria
TBD

## Background
Meet GSA Guidelines, section 3(a)(2) [https://docs.google.com/document/d/1E0K_LDlDqEgHKESTqHKlKN50OJAxCcl_FcKB-qLL13A/edit#heading=h.p589tnu6y5e0

[Notes or a check

[2020-08-04 20:18] hkdctol opened #1980 "Data.gov is user-centric and performs regular user testing*"
## User Story

As Data.gov PMO, we want to conduct regular usability testing and have a plan for regular user testing, by FY 2021, to meet 21st Century IDEA Act requirements.

## Acceptance Criteria
- [x] Data.gov PMO has a plan for doing regular, periodic user testing

## Background

Changing this from epic to an issue, as we have done other user testing tasks in FY22, and the next and last item

[2020-08-04 22:32] jbrown-xentity commented on #1964
@hkdctol The about page is updated to latest description, and I have [isolated](https://www.data.gov/wp/wp-admin/nav-menus.php?action=edit&menu=33830) where the topic category is changed. Last steps are to pick an icon to represent this latest topic, similar to the other ones... Any icons will need to be added to wordpress and ckanext-theme for catalog...

[2020-08-04 23:00] adborden commented on #1968
🤔  I wonder attributemaps was accidentally removed in the saml2 refactor.

[2020-08-04 23:08] adborden commented on #1968
Ah, I think https://github.com/GSA/datagov-deploy/blob/fdcfae7508fc3388620eaf24d45a6f7bc6f35b33/ansible/roles/software/ckan/catalog/ckan-app/tasks/saml2.yml#L18-L21 is copying the files to the wrong directory.

[2020-08-05 14:07] hkdctol commented on #1964
@jbrown-xentity see email re icon selection

[2020-08-05 15:01] hkdctol commented on #981
Draft has been provided to PMO members for review and edit.

[2020-08-05 15:56] chris-macdermaid commented on #1851
I've completed the onboarding tasks.

[2020-08-05 17:06] pjsharpe07 commented on #1970
Key and csr have been generated. Service now request has been submitted and approved. Waiting on BSP for next steps.

[2020-08-05 17:15] pjsharpe07 opened #1982 "AIDE is installed but not configured correctly when launching new host"
On staging, and maybe other environments, after launching a new host you will see emails come through with subject `Daily AIDE report for localhost` and body similar to:

![image.png](https://images.zenhubusercontent.com/5e1cbcd08dced94b250ef061/9480bac5-e986-4c1f-b788-c3acb317eee0)

## How to reproduce

Launch a new instance and run playbooks.

You should see emails show-up daily that look like t

[2020-08-05 17:16] adborden commented on #1982
👍  I suggest we add tasks to the common playbook to remove AIDE.

[2020-08-05 17:20] pjsharpe07 commented on #1982
Running `dpkg -s aide` shows it's installed on catalog and inventory hosts on staging and production.

[2020-08-05 17:59] adborden commented on #1982
Maybe I just removed the cron file then.

[2020-08-05 18:29] pjsharpe07 opened #1983 "DNS Outage - Incident Response"
On 08/04 we initiated an incident because of a DNS outage.

The [2020/08/04 incident response document](https://docs.google.com/document/d/1LA_CF1RK7CanqTbolcymJoIEasN2ywiuAMx4BTPzUJc/edit#) will have notes and several useful links under the [references heading](https://docs.google.com/document/d/1LA_CF1RK7CanqTbolcymJoIEasN2ywiuAMx4BTPzUJc/edit#heading=h.xhmjie3lrzxi)

### How to repro and triage

[2020-08-05 18:37] pjsharpe07 opened #1984 "Add DNS monitoring and documentation"
## User Story

As a data.gov operator, I want DNS monitoring and alerting. This came up as a result of [this incident](https://docs.google.com/document/d/1LA_CF1RK7CanqTbolcymJoIEasN2ywiuAMx4BTPzUJc/edit)

## Acceptance Criteria
- [ ] GIVEN we experience a DNS outage
  THEN the data.gov team is alerted
 AND there are documented steps to resolve/triage

## Background
We experienced a DNS outage via

[2020-08-05 20:08] hkdctol commented on #1688
Working on picking a date and then CDO Council will send invite

[2020-08-05 22:01] datagov-bot opened #1986 "deploy-ci-app-catalog #15 failed"
Build 'deploy-ci-app-catalog' is failing.

Changes since last successful build:
- [fxia] 00c140d9aafdd2e67fd4390b95b1df9b5c11afff - update requirements-freeze.txt

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-catalog/15/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-catalog/detail/deploy-ci-app-catalog/15/pipeline) (blue

[2020-08-05 22:23] datagov-bot opened #1987 "deploy-ci-platform #146 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [christopher.macdermaid] 4fb96f4b38ab4322a563bd1b7c0227dbc975b8d2 - Add ssh key for cmacdermaid

- [christopher.macdermaid] 2275552d2cb2730d88cb78a7f7baf55311ff0818 - Change repoze.who from version 2.0 to 2.3

- [andres] 690a6dafbf194d527827960fc803b6e967b81783 - Hotfix, failing on sandbox

- [fxia] 2cf5afd15f59f8fd9088

[2020-08-05 22:54] #1987 closed, assigned to nobody

[2020-08-06 00:35] #1986 closed, assigned to nobody

[2020-08-06 08:39] willson-chen commented on #1895
@adborden @FuhuXia Maybe this PR https://github.com/Julian/jsonschema/pull/717 could solve the problem.

[2020-08-06 14:47] avdata99 opened #1992 "CSW harvest sources silently fails when it encounters errors"
Related to [Multi#356](https://github.com/GSA/datagov-ckan-multi/issues/356)

CSW harvest sources do not show errors properly. Examples
 - https://catalog-next.sandbox.datagov.us/harvest/admin/nc-onemap-csw
   - using http://data.nconemap.com/geoportal/csw?Request=GetCapabilities&Service=CSW&Version=2.0.2 as URL
 - https://catalog-next.sandbox.datagov.us/harvest/admin/restore-the-gulf
   - using h

[2020-08-06 16:00] hkdctol commented on #983
Draft has been shared with Data.gov team https://docs.google.com/document/d/1H3yx1LrSNtuR9AkPNMs1gfhbILXB2xFKC00kM2CS7P4/edit?usp=sharing

[2020-08-06 16:51] pjsharpe07 commented on #1115
While logged into to wordpress on data.gov...

![image](https://user-images.githubusercontent.com/38019872/89559325-bfd91380-d7d2-11ea-8b4d-0c3b34576d69.png)

[2020-08-06 17:20] mogul commented on #1773
The actual folder containing the SSP and related documents is [here](https://drive.google.com/drive/folders/1tSDcAaDOc6vVxbMoNWTistjxiRTWjHUl)

[2020-08-06 18:32] #1537 closed, assigned to adborden

[2020-08-06 18:32] #1560 closed, assigned to adborden

[2020-08-06 18:32] #1821 closed, assigned to FuhuXia

[2020-08-06 18:32] #1825 closed, assigned to adborden

[2020-08-06 18:32] #1851 closed, assigned to chris-macdermaid

[2020-08-06 18:32] #1855 closed, assigned to FuhuXia

[2020-08-06 18:32] #1815 closed, assigned to jbrown-xentity

[2020-08-06 18:32] #1833 closed, assigned to jbrown-xentity

[2020-08-06 18:32] #1861 closed, assigned to FuhuXia

[2020-08-06 18:32] #1890 closed, assigned to jbrown-xentity

[2020-08-06 18:32] #1911 closed, assigned to FuhuXia

[2020-08-06 18:32] #1937 closed, assigned to FuhuXia

[2020-08-06 18:32] #1115 closed, assigned to pjsharpe07

[2020-08-06 18:32] #1773 closed, assigned to mogul

[2020-08-06 18:32] #1894 closed, assigned to pjsharpe07

[2020-08-06 20:05] mogul commented on #980
Still waiting on HR posting the vacancy.

[2020-08-06 20:10] mogul commented on #1757
Planning to discuss with Rebecca ahead of next Friday.

[2020-08-06 20:13] mogul opened #1996 "O+M [Fuhu]"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-08-06 20:15] mogul commented on #1688
Now waiting on the CDO Council invite

[2020-08-06 20:29] mogul commented on #1959
@kimwdavidson it sounds like this is affecting your team's work too... Want to move it onto your board?

[2020-08-06 20:33] mogul commented on #1962
@jbrown-xentity says this may have just been fixed in release 20200806...

[2020-08-06 20:35] mogul commented on #1972
This appears to be a bug in the geodatagov extension.

[2020-08-06 20:41] mogul commented on #1983
Closing as the document captures the timeline and discussion, and references all further action to be taken.

[2020-08-06 21:10] jbrown-xentity commented on #1962
Fix can be seen [here](https://github.com/GSA/datagov-deploy/pull/1995)

[2020-08-06 21:10] #1962 closed, assigned to jbrown-xentity

[2020-08-06 22:41] hkdctol commented on #981
link to document https://docs.google.com/document/d/18a0f7bVXiFHaBotkGPR-ILn2YMoZmCzC361ZwMV_pxg/edit?usp=sharing

[2020-08-07 00:31] datagov-bot opened #1998 "deploy-ci-platform #149 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [andres] c234906d000cb95ffba492fe2b86d9d02ff2596e - Add Google Analytics to the sandox

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/149/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/149/pipeline) (blue)

[2020-08-07 00:56] pjsharpe07 commented on #1975
Looks like there's another [snyk-bot PR](https://github.com/GSA/sdg-indicators-usa/pull/1009/files) that's passing now...

[2020-08-07 16:14] hkdctol commented on #1964
The initiative leads sent an updated dataset list @jbrown-xentity I forwarded in email

[2020-08-07 16:24] FuhuXia commented on #1449
In the Monit rule we set to monitor catalog-web-apache2, we use TOTALMEMORY. I think this is the memory used by apache process. It is always lower than whole System Memory usage as be reported by NewRelic.  So we want Monit to take action when System Memory reach `90%`, the TOTALMEMORY used by catalog-web-apache2 need to be lower, somewhere between  `80-85%`.
https://github.com/GSA/datagov-deploy/

[2020-08-07 18:29] FuhuXia opened #1999 "Harvester should be using GSA certificates to talk to fgdc2iso"
## User Story

In order to stick to our documented implementation in the SSP, the data.gov team wants the harvester component to communicate with the fgdc2iso component using GSA certificates.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
-

[2020-08-07 18:51] jbrown-xentity commented on #1610
Hit again today. Started mitigation, and then ran [these steps](https://www.guguweb.com/2019/02/07/how-to-move-docker-data-directory-to-another-location-on-ubuntu/) to implement docker installation in new place. Will see if it holds...

[2020-08-07 19:25] #1998 closed, assigned to nobody

[2020-08-07 21:23] chris-macdermaid opened #2000 "Support gmi schema (http://www.isotc211.org/2005/gmi) for CKAN-Next harvesting"
## User Story

As a user harvesting metadata records into CKAN, I want to support the gmi schema (http://www.isotc211.org/2005/gmi) so that gmi metadata records can be harvested into CKAN.

## Acceptance Criteria

GIVEN a harvest with gmi metadata is kicked off \
WHEN a harvest happens with expected errors only \
THEN the record is harvested into CKAN successfully \

## Background
Harvest source w

[2020-08-07 21:25] pjsharpe07 commented on #1970
Created installation site certificate and added a [calendar update 60 days before next expiration on data.gov calendar](https://calendar.google.com/calendar/b/2/r/week/2022/9/10?tab=wc1)

[2020-08-07 21:41] pjsharpe07 opened #2001 "Remove develop branch and update readme for static sites"
## User Story

As a data.gov team member, I want a simpler way to update our static sites so that confusion is decreased from team members about how and when these sites get updated.

## Acceptance Criteria
- [x] GIVEN I visit any of our static sites github repos
  THEN I see clear documentation about how branches relate to environments
  AND the default branch is `main`
- [x] GIVEN I visit  our [

[2020-08-07 22:38] chris-macdermaid commented on #1827
Ran the harvest on the CKAN 2.8 to see if the errors would be fixed in the new version.  This introduced other errors. I open an issue for the errors: https://github.com/GSA/datagov-deploy/issues/2000

[2020-08-07 23:05] datagov-bot opened #2002 "deploy-ci-platform #153 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] f8461bf0c11c84b38b156645ccacf856ab77d129 - validate_certs = false

- [38019872+pjsharpe07] 61c5a241e0be4a0880f620d0f9f534cbd56ade3e - Removes inactive users and 'active' parameter. re-alpha and add psharpe

- [fxia] 974d5875c62ceb68adcdda47bf6fc7594d47357b - gunicorn restared instead present in supervisor conf

-

[2020-08-08 01:08] FuhuXia commented on #1933
Release done.

[2020-08-08 01:49] #2002 closed, assigned to nobody

[2020-08-10 16:07] pjsharpe07 commented on #1970
Site certificate installation certificate created Friday with BSP (RITM0759378)

[2020-08-10 16:58] jbrown-xentity commented on #1964
Icon added to styling and viewable at [www.data.gov](https://data.gov) (under topics dropdown), will eventually propagate to catalog.data.gov. [Dataset list](https://catalog.data.gov/group/older-adults-health-data) up to date, in the future we would like datasets in [the following format](https://github.com/GSA/ckan-php-manager#assign-groups-and-category-tags-to-datasets) to streamline the update

[2020-08-10 17:46] mogul commented on #1999
@FuhuXia was this fixed by the merged PRs?

[2020-08-10 17:56] hkdctol commented on #1964
@jbrown-xentity i see the datasets and i see the drop down but I don't see the logo in Chrome.

[2020-08-10 18:15] FuhuXia commented on #1999
No, the merged PR did not fix it. @adborden  pointed me to an example how we address similar issue in [pycsw](https://github.com/GSA/datagov-deploy-pycsw/blob/9a6f67207ebfd487cf96109bf59c1c91efe46319/templates/supervisor_worker.conf.j2#L9), so instead of passing the environment variable to the python virtualenv, we can do it in supervisord conf, since the harvest fetch process is also managed by s

[2020-08-10 19:39] jbrown-xentity commented on #1964
The cache needed to be reset. It should be there now @hkdctol

[2020-08-10 19:59] FuhuXia opened #2009 "SNYK reports Ansible uri module vulnerability"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.rfb3qryf3oj0)._

**Date of report:** 08/07/2020
**Severity:** Medium
**Due date:** 11/07/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been p

[2020-08-10 21:04] hkdctol commented on #1964
I see it. There's one more email - they changed the About description. That should be it.

[2020-08-10 21:39] jbrown-xentity commented on #1964
Updated @hkdctol : https://catalog.data.gov/group/older-adults-health-data

[2020-08-10 22:08] datagov-bot opened #2011 "deploy-ci-platform #156 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [jbrown] f0909adec8195d72517d302d74687bcd2b5d61ee - Bump Wordpress deploy

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/156/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/156/pipeline) (blue)

[2020-08-10 22:13] jbrown-xentity commented on #2011
I tested, inventory looks fine. Either this is a hiccup, or inventory deployment takes longer than 15 seconds to come back up. Re-running build to check...

[2020-08-10 22:47] jbrown-xentity commented on #2011
Failed in the exact same way, and once I get onto sandbox and test everything looks fine... @adborden do you have any ideas?

[2020-08-11 00:42] adborden commented on #2000
Thanks @chris-macdermaid , can you clarify a bit:
- Does GMI go by any other names? I'm not familiar with GMI.
- Is the lack of support specific to our version of OWSLib, or is it just unsupported by OWSLib?
- You linked to the catalog-next (CKAN 2.8) app, is this also an issue with the existing catalog (catalog.data.gov)?
- Why wasn't this an issue when we were using the CSW harvest source?

[2020-08-11 01:14] adborden commented on #1795
Need to resolve the harvest-run job hanging. The error doesn't seem specific to harvester, postfix just needs a configuration value set.

[2020-08-11 14:06] hkdctol commented on #1964
@jbrown-xentity can the logo be also added to the catalog page itself https://catalog.data.gov/group/older-adults-health-data

[2020-08-11 14:50] FuhuXia commented on #2009
Ansible released v2.8.14 today.

[2020-08-11 14:55] #2011 closed, assigned to nobody

[2020-08-11 15:00] jbrown-xentity commented on #1964
That can be setup, give me a few hours...

[2020-08-11 15:26] datagov-bot opened #2015 "deploy-ci-platform #159 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [jbrown] 2563bbbf7df539202b3778bc3c1013ad9aa19f71 - Smoke Test retry bump

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/159/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/159/pipeline) (blue)

[2020-08-11 16:08] #2015 closed, assigned to nobody

[2020-08-11 16:16] FuhuXia commented on #1999
Tried different ways to put this `REQUESTS_CA_BUNDLE` environment var into supervisord conf, all failed. Will see what is the easiest way to add this var into Catalog ckan virtual environment.

[2020-08-12 14:25] pjsharpe07 opened #2019 "Split Project Open Data full-scan crawls into "short" and "long" agency crawls"
## User Story

As a data.gov operator, I want confidence that crawls are finishing daily and are being displayed on [the dashboard](https://labs.data.gov/dashboard).

## Acceptance Criteria
- [x] GIVEN I visit [the dashboard](https://labs.data.gov/dashboard)
  THEN I see crawls finishing daily
  AND identified "larger" agency crawls appear periodically

## Background
This is our next step in tryin

[2020-08-12 15:33] pjsharpe07 commented on #1970
Confirmation that site certificates have been installed.

[2020-08-12 17:07] pjsharpe07 commented on #1799
We have removed tomcat from the current harvesters by running `ansible -m apt -a 'name=tomcat6 state=absent' catalog-harvester-v1`. This should also be a part of #1874.

[2020-08-12 18:18] FuhuXia commented on #1573
Couldn't replicate the issue. Tried running the `common.yml` playbook alone, or removing apache2 and letting `catalog.yml` to reinstall apache2 again. In either case the directory `/var/run/apache2/` permission stays correct. I think we will simply add a task in our playbook to ensure the correct directory permission.

[2020-08-12 19:27] pjsharpe07 commented on #1515
Blocked until #2019

[2020-08-12 20:09] chris-macdermaid commented on #2000
@adborden

GMI defines the markup for Geographic Metadata for imagery and gridded data (gmi).  The namespace is http://www.isotc211.org/2005/gmi/gmi.xsd.

The 0.86 version of OWSLib doesn't support GMI.  During NOAA's testing of 2.8, I was able to upgrade to the latest version. Note, there is a test that fails with that version.  This open issue goes into the details. https://github.com/ckan/ckane

[2020-08-12 21:07] chris-macdermaid commented on #1827
Ran the harvest in my CKAN 2.8 without errors.

[2020-08-12 21:20] adborden opened #2022 "Research 2d: determine options for a local SAML2 IdP for local development"
## User Story

In order to include a standalone SAML2 IdP that can be used in local development for any SAML2 configuration or development work, data.gov developers to know which IdP solution is the most effective (low effort, that supports common workflows) for local development.

## Tasks
- [ ] Identify what standalone IdP solutions for local development
- [ ] Write up user stories for adding an

[2020-08-12 22:51] jbrown-xentity commented on #1964
@hkdctol the rollout is finalizing, but I did confirm the icon does show up as expected, and the list of PR's is added to the description for future bread crumbs on these changes in the future...
![image](https://user-images.githubusercontent.com/26980513/90076073-13100200-dcbc-11ea-9afd-a4662108ba8e.png)

[2020-08-13 14:54] afeld commented on #1154
Blocked by https://github.com/18F/tts-tech-portfolio/issues/653.

[2020-08-13 18:21] chris-macdermaid commented on #1827
Was able to get to the root of the unexpected error.  In the metadata record the keyword name is too long.

sqlalchemy.exc.DataError: (DataError) value too long for type character varying(100)
 'INSERT INTO tag (id, name, vocabulary_id) VALUES (%(id)s, %(name)s, %(vocabulary_id)s)' {'vocabulary_id': None, 'id': u'504f2e2f-a0f6-413b-a501-aee2308f35a2', 'name': u'us doc; noaa; national environmental

[2020-08-13 18:25] jbrown-xentity commented on #1827
Nice find @chris-macdermaid! I think next steps for this are to raise this to Dana for a cleaner implementation on their side if possible, and then to bring in the relevant changes on CKAN2.8 to get around this issue in the short term... @adborden @hkdctol thoughts?

[2020-08-13 19:47] jbrown-xentity opened #2029 "Release 08/20/2020"
## Release 08/20/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2020-08-13 20:55] adborden commented on #1678
@jbrown-xentity I'm worried that this is growing too much in scope. How about we limit the AC to just this:

and we set `datagov_in_service: false` so that even though it's not completely working, we're at least building and deploying. We can also add additional variables if we need to disable certain deploy tasks, e.g. datapusher.

Then we can create additional tickets for any work to get it actu

[2020-08-13 21:58] datagov-bot opened #2030 "deploy-ci-app-inventory #28 failed"
Build 'deploy-ci-app-inventory' is failing.

Changes since last successful build:
- [starsinmypockets] 06b948425945f33936d7c8e3796996f506330007 - Update ckanext-dcat_usmetadata

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-app-inventory/28/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-app-inventory/detail/deploy-ci-app-inventor

[2020-08-13 22:41] jbrown-xentity commented on #1678
Agreed. PR updated and ready to merge as is, inventory-next not in complete working state but deploy resolving as expected. Will spin off next bullet items as separate tickets from description @adborden ...

[2020-08-13 23:13] adborden commented on #1827
So CKAN has a 100 character limit for the keyword name, and this keyword is 137 characters?

Yeah, that seems reasonable to me. It's not really a good keyword, so having the dataset owner come up with better keywords sounds right...

@chris-macdermaid do you know where the truncation is happening in 2.8 e.g. ckanext-harvest or ckan? I would open a separate bug that the harvest process should gener

[2020-08-13 23:46] adborden opened #2032 "Task: Update Terraform for AWS 3.x provider"
AWS Terraform provider 3.x was released and includes some [upgrade instructions](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/guides/version-3-upgrade).

## Tasks
- [x] work through the upgrade guide to address any changes for datagov-infrastructure-modules and datagov-infrastructure-live

## Background

Example [build log from CI](https://app.circleci.com/jobs/github/GSA/data

[2020-08-14 00:03] adborden commented on #2030
Hmm... smoke test timed out after 100 seconds.

[2020-08-14 00:03] adborden commented on #2030
cc @starsinmypockets

[2020-08-14 00:05] #2030 closed, assigned to nobody

[2020-08-14 00:37] adborden commented on #2030
FYI @jbrown-xentity I'm seeing this in the apache log. It looks like if gunicorn isn't started, Apache2 will hold connections for 60 seconds which might account for our timeouts. We probably want to try to lower that in Apache.

[code]

[2020-08-14 01:31] adborden opened #2034 "Share fgdc2iso service in sandbox"
## User Story

In order to minimize resources in sandbox and match staging/production environments, data.gov operators want the fgdc2iso service in sandbox to be shared across different catalog instances (catalog and catalog-next).

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_deve

[2020-08-14 12:57] jbrown-xentity commented on #2030
I'll take a look at that

[2020-08-14 14:31] FuhuXia commented on #2009
Upgraded to Ansible v2.8.14. Issue resolved.

[2020-08-14 14:41] adborden opened #2036 "Logout on Inventory immediately after login"
This is a longstanding issue. I often have to login several times before I can accomplish my task.

This can be extremely frustrating for users, especially when they are in the middle of a task, like filling out the new dataset form only to be logged out when they got submit and lose all their work.

## How to reproduce

In an incognito window:
1. inventory.data.gov/user/login
1. Login with MAX.go

[2020-08-14 14:47] adborden commented on #2036
I'm pretty sure this is related to ckanext-saml2 and how sessions are handled. Unlike catalog, we have multiple instances handling sessions. It seems like you might get a session from one instance but if your next request hits the other instance, you'll be logged out. You have to login several times before both instances are seeing a valid session.

We know that pysaml2 stores sessions in memory o

[2020-08-14 15:45] FuhuXia commented on #1687
Same issue today. Manually cleaned up `/tmp/s3sitemap`.

[2020-08-14 16:39] jbrown-xentity opened #2037 "Inventory-next Datapusher configuration updated"
## User Story

As a data.gov developer, I want inventory-next to deploy datapusher using the latest configuration so that upstream repositories and best practices are being used as much as possible.

## Acceptance Criteria

- [x] GIVEN I ssh onto inventory-next \
  WHEN I view the `supervisorctl status` output \
  THEN datapusher is running

## Background
Related to #1678. Blocks #1675

## Securit

[2020-08-14 16:49] jbrown-xentity opened #2038 "Inventory-next DB initialization"
## User Story

As a data.gov developer, I want the inventory-next DB initialized and notes describing the process so that inventory-next DB will work.

## Acceptance Criteria

- [ ] GIVEN inventory-next is setup properly \
  WHEN an admin runs `ckan db init` on inventory-next sandbox \
  THEN the database is configured \
  AND implementation notes/manual steps are documented

## Background
Related

[2020-08-14 21:47] adborden commented on #618
This is done!

[2020-08-14 21:47] #618 closed, assigned to adborden

[2020-08-14 21:48] adborden commented on #622
FIxed in https://github.com/GSA/datagov-deploy/pull/684

[2020-08-14 21:48] #622 closed, assigned to adborden

[2020-08-14 21:50] adborden commented on #629
✔️ docs refer to [running pipenv as part of deployment](https://github.com/GSA/datagov-deploy/#running-playbooks), this looks done to me.

[2020-08-14 21:50] #629 closed, assigned to adborden

[2020-08-14 21:59] adborden commented on #1079
GSA recently moved to GH Enterprise with an updated configuration. This means we now have an additional step when adding outside contributors to content repos (e.g. [GSA/data-strategy](https://github.com/GSA/data-strategy) or [GSA/resources.data.gov](https://github.com/GSA/resources.data.gov)) to request access via an email to GH org admins. One more reason to switch.

[2020-08-15 00:19] adborden commented on #1186
I went ahead and added metadata for inventory, inventory-next, catalog, and catalog-next on sandbox environments. Waiting for MAX.gov to pull in the update. Once that happens, we can do a quick test to see if this is done.

[2020-08-15 00:24] adborden commented on #2038
Might be helpful reference:

as part of the [cloud.gov work]( https://github.com/GSA/inventory-app/compare/master...feature/cloud.gov#diff-be986f3c48184d9f0712c77428dc060b), there was some effort done to handle db and datastore initialization to the startup scripts.

.. and of course the [CKAN docs](https://docs.ckan.org/en/2.5/maintaining/datastore.html#set-up-the-database).

[2020-08-17 16:20] #1765 closed, assigned to avdata99, thejuliekramer

[2020-08-17 16:42] FuhuXia opened #2041 "SNYK vulnerability found in resources.data.gov"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.fhr89vwohzbq)._

**Date of report:** 08/17/2020
**Severity:** High
**Due date:** 09/17/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [x] Analysis has been per

[2020-08-17 17:01] chris-macdermaid commented on #1827
Sent email to NOAA. Response was that they have keywords that are longer than 100 characters. Also, discovered that the record in the current prod catalog has the record with the full keyword.

https://catalog.data.gov/dataset/parrotfish-abundance-and-biomass-in-st-croix-from-2001-02-06-to-2016-10-01
"Impacts of fishing on parrotfish grazing in St. Croix –A case study on the ecological impacts of

[2020-08-18 04:25] mogul opened #2043 "Write SSB narratives for the IA control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 04:27] mogul opened #2044 "Write SSB narratives for the IR family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 04:28] mogul opened #2045 "Write SSB narratives for the MA control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 04:29] mogul opened #2046 "Write SSB narratives for the MP family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 04:30] mogul opened #2047 "Write SSB narratives for the PE control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 04:30] mogul opened #2048 "Write SSB narratives for the PL control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 04:31] mogul opened #2049 "Write SSB narratives for the PS control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 04:32] mogul opened #2050 "Write SSB narratives for the RA control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 04:33] mogul opened #2051 "Write SSB narratives for the SA control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 04:33] mogul opened #2052 "Write SSB narratives for the SC control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 04:35] mogul opened #2053 "Write SSB narratives for the SI control family"
## User Story

In order for data.gov components on cloud.gov to enter the GSA Assessment and Authorization (A&A) process, GSA OCISO representatives require System Security Plan (SSP) that includes narratives for the [control family](https://nvd.nist.gov/800-53/Rev4) referenced in the issue title.

### Acceptance Criteria
- [ ] The [SSB FY20 SSP DRAFT (Cloud.gov)](https://docs.google.com/document/d

[2020-08-18 16:49] pjsharpe07 commented on #1799
Submitted an issue to an upstream repo. Will wait for that before internally mitigating. [Issue here](https://github.com/robertdebock/ansible-role-tomcat/issues/20#issuecomment-673465050)

[2020-08-18 16:59] jbrown-xentity commented on #1827
The only differences we can see between sandbox and current production harvest is that the production harvest source is CSW, while sandbox is a WAF (although they use the same import function?).
After further investigation, we need to decide on how to precede, @adborden :

1. Change the CKAN DB to allow for > 100 character limit on tags
1. Remove any tags > 100 character limit (and mark as an erro

[2020-08-18 19:01] hkdctol commented on #1688
I'm moving this to blocked pending some more information on FY21 resources.

[2020-08-18 20:44] jbrown-xentity commented on #1610
Configuration holding with setting the `daemon.json` file at `/etc/docker` to be the following, marking as done...

[code]

[2020-08-18 22:32] jbrown-xentity commented on #1975
Latest tests and notes in [doc discussion](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.vz6tl5rmhlex)

[2020-08-19 00:17] adborden commented on #1827
Probably worth another [chat](https://gsa-tts.slack.com/archives/C2N85536E/p1597769975493000) on this. My gut is that we should probably just truncate the keywords to 100 characters as a quick fix to get things harvesting. But it depends on where the change is implemented e.g. ckanext-spatial vs ckan core vs ??? and how much technical debt it introduces.

Splitting the keywords would be better, bu

[2020-08-19 16:14] hkdctol opened #2061 "Current six-month roadmap for Data.gov"
## User Story

As Data.gov PMO, we want a document that shows six month plan for major goals for program.

## Acceptance Criteria

- [x] Draft roadmap/plan
- [x] Data.gov PMO meet and collaborate
- [x] Continue to update on monthly basis

## Background
We have other versions of this but simplifying in a table

https://docs.google.com/document/d/19XRBlQbjKMcJJtKA0xkl6F6GJ7AqaToMFCBc-DchSUE/edit?usp

[2020-08-19 16:30] chris-macdermaid commented on #1940
Re-indexing didn't resolve the issue.  There is only one dataset in this harvest source. Dataset displays correctly on sandbox. Next step, clear source and re-harvest.

[2020-08-19 17:23] mogul commented on #1707
The most recent report still reports this problem on catalog-harvester... We'll need to investigate why that's happening, whether due to delayed report or false-positive, etc.

[2020-08-19 18:34] chris-macdermaid commented on #1940
I cleared the harvest source and re-harvested. That corrected the issue.

[2020-08-19 19:51] pjsharpe07 commented on #2019
Deployed changes to staging today and manually started the `long-running` supervisor job. Will continue to monitor results throughout the upcoming sprint.

[2020-08-19 20:18] datagov-bot opened #2065 "deploy-ci-platform #176 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [noreply] ca73e71b1717b86c14ae8b1431f080c116fcf1a0 - Update onboard-team-member.md

- [noreply] 343038360a9e20bfea075b238f02de6ea4b983d8 - Update offboard-team-member.md

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/176/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organiz

[2020-08-19 20:52] #2065 closed, assigned to nobody

[2020-08-19 22:43] chris-macdermaid commented on #1827
@adborden @jbrown-xentity
Determined that the keywords get processed a 2nd time in the Geodatagov extension.
https://github.com/GSA/ckanext-geodatagov/blob/master/ckanext/geodatagov/harvesters/base.py#L75-L85

In this extension all tags are getting split on ">" which works for GCMD keywords, but not long keywords without that hierarchy.  So splitting is happening but not truncating.
Adding this wo

[2020-08-20 14:12] chris-macdermaid commented on #1940
Responded to Lynda's July 28th email to let her know the record was fixed.

[2020-08-20 15:57] FuhuXia opened #2068 "SNYK vulnerability found in inventory-app"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.5xnmwj4ghipl)._

**Date of report:** 08/09/2020
**Severity:** Medium
**Due date:** 11/09/2020

_Due date is based on severity and described in RA-5. 15-days for Critical, 30-days for High, and 90-days for Moderate and lower._

- [ ] Analysis has been p

[2020-08-20 16:32] chris-macdermaid commented on #1827
Re-harvested CoRIS Native ISO Metadata and CoRIS FGDC Metadata without any errors related to the keyword after making the above change.

[2020-08-20 16:55] chris-macdermaid commented on #1827
Created PR https://github.com/GSA/ckanext-geodatagov/pull/147 to truncate keywords at 100 characters.

[2020-08-20 17:15] mogul commented on #1940
Noting from sprint review: We still aren't sure of the root cause here, so this situation may recur or need deeper investigation in future, and re-harvesting has a side effect of churning stats that we're not crazy about.

[2020-08-20 17:49] avdata99 commented on #1135
This was solved several weeks ago and have [some related tests](https://github.com/GSA/ckanext-geodatagov/blob/master/ckanext/geodatagov/tests/test_source_form.py). I think this issue should be QA'd and closed.
It's working at new catalog.

[2020-08-20 17:57] jbrown-xentity commented on #1964
[Icomoon](https://icomoon.io/) is a tool that was used to edit the data.gov font files that contain the icons on the menu. Simply load the current svg file, add any necessary icons by adding other svg's, then download the font version of the system. Replace the values in the `data.gov` repo at `roots-nextdatagov/assets/fonts/datagov-icons.svg`, and the `ckanext-datagovtheme` repo at `ckanext/datag

[2020-08-20 21:00] pjsharpe07 opened #2069 "O+M"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-08-21 17:43] chris-macdermaid commented on #1827
More research into keywords is needed to understand why keywords are being processed my ckanext-spatial and by ckanext-geodatagov. Also it looks geodatagov is using before_index before the keywords are being indexed in Solr and that keywords >100 are being indexed.

[2020-08-21 18:12] adborden commented on #1479
We'll deploy the front end change first, then put this down until we have some data.

[2020-08-21 18:18] adborden commented on #1879
Still need to dig into why this takes a while. Should look into slow queries/transactions in NR and database.

[2020-08-21 19:03] jbrown-xentity opened #2071 "Geodatagov harvest puts different values for tags in SOLR and database"
In debugging #1827, we found that the database needs the tag values to be truncated to 100 characters. However, this truncation was never implemented/designed for SOLR, and this extension uses the [before_index](https://github.com/GSA/ckanext-geodatagov/blob/fcbd05423d755a2f253bc57b3cdc46bf2e54d5d5/ckanext/geodatagov/plugins.py#L482-L486) hook to do special parsing for SOLR that is not included in

[2020-08-21 19:17] jbrown-xentity opened #2072 "WAF harvest parses input multiple times"
We know through detailed logging that the WAF harvest source type runs through the parsing of the ISO xml twice, [here](https://github.com/GSA/ckanext-spatial/blob/datagov/ckanext/spatial/harvesters/base.py#L514) and [here](https://github.com/GSA/ckanext-spatial/blob/datagov/ckanext/spatial/harvesters/base.py#L560). This is fixed upstream, only called [once](https://github.com/ckan/ckanext-spatial

[2020-08-21 21:13] pjsharpe07 commented on #2019
A few observations from staging. There are crawls that are appearing daily 🎉

For our longer running agencies, the initial start did not complete as expected. The logs seem to end at about the same time as the reboot. To mitigate this, we're going to add the [special time parameter](https://docs.ansible.com/ansible/latest/modules/cron_module.html#parameter-special_time) to our ansible cron task an

[2020-08-22 13:26] jbrown-xentity commented on #2037
[This PR looks to be working](https://github.com/GSA/datagov-deploy/pull/2073), but has not been fully tested and requires testing on staging. Should test classic configuration on staging (only accessible currently working version) before pushing to production.

I no longer think this is related to/blocking #2038, should be able to move forward with that ticket without merging this.

[2020-08-24 19:46] pjsharpe07 opened #2076 "Bump ansible-lint version"
## User Story

As a datagov developer, I want the most recent version of anisble-lint to be used.

## Acceptance Criteria
- [ ] GIVEN I look at datagov-deploy's Pipfile
  THEN I see at least ansible-lint version >= 4.3.1

## Background
Ansible-lint 4.3.0 had some bugs, but this looks like 4.3.1 has this resolved. We now have a decent amount of linting errors in our playbooks. See the [circle ci li

[2020-08-25 15:15] FuhuXia commented on #1520
We have done [a list of modifications](https://github.com/GSA/ckanext-geodatagov/commits/f28f1751d23eac973d96394a2485ccfbd847135b/conversiontool/fgdc2iso/fgdcrse2iso19115-2.xslt) to previous XSLT file. Each mod need to be inspected and make sure original issue is addressed.

[2020-08-26 16:55] adborden opened #2080 "SSH agent connection within a tmux session is severed after disconnecting from the host"
When re-joining a tmux session, you might find that you can no longer connect over SSH to hosts (pubkey denied error).

When you initialize a tmux session, the environment is copied to the tmux session, which includes SSH agent connection information. When you disconnect from the host and re-connect, you might have new SSH agent settings. When you connect to tmux, instead of updating the environme

[2020-08-26 16:55] adborden commented on #2080
We can add the tmux configuration to datagov-deploy-common. I believe the tmux configuration to add to tmux.conf.
[code]

[2020-08-26 17:00] #981 closed, assigned to hkdctol

[2020-08-26 17:00] #983 closed, assigned to hkdctol

[2020-08-26 17:00] #1508 closed, assigned to adborden

[2020-08-26 17:00] #1678 closed, assigned to jbrown-xentity

[2020-08-26 17:00] #1819 closed, assigned to pjsharpe07

[2020-08-26 17:00] #1839 closed, assigned to hkdctol, pjsharpe07

[2020-08-26 17:00] #1934 closed, assigned to pjsharpe07

[2020-08-26 17:00] #1996 closed, assigned to FuhuXia

[2020-08-26 17:00] #2009 closed, assigned to FuhuXia

[2020-08-26 17:00] #1203 closed, assigned to jbrown-xentity

[2020-08-26 17:00] #1573 closed, assigned to FuhuXia

[2020-08-26 17:00] #1610 closed, assigned to jbrown-xentity

[2020-08-26 17:00] #1817 closed, assigned to pjsharpe07

[2020-08-26 17:00] #1975 closed, assigned to jbrown-xentity

[2020-08-26 17:00] #1449 closed, assigned to FuhuXia

[2020-08-26 17:00] #1707 closed, assigned to FuhuXia

[2020-08-26 17:00] #1708 closed, assigned to FuhuXia

[2020-08-26 17:00] #1837 closed, assigned to jbrown-xentity

[2020-08-26 17:00] #1913 closed, assigned to FuhuXia

[2020-08-26 17:00] #1933 closed, assigned to FuhuXia

[2020-08-26 17:00] #1964 closed, assigned to jbrown-xentity

[2020-08-26 17:00] #1676 closed, assigned to jbrown-xentity

[2020-08-26 17:00] #1916 closed, assigned to pjsharpe07

[2020-08-26 17:00] #1944 closed, assigned to adborden

[2020-08-26 17:00] #1970 closed, assigned to pjsharpe07

[2020-08-26 17:00] #1983 closed, assigned to pjsharpe07

[2020-08-26 17:00] #1940 closed, assigned to chris-macdermaid

[2020-08-26 17:00] #2029 closed, assigned to pjsharpe07

[2020-08-26 18:59] adborden opened #2082 "Run pysaml2 automated tests in CircleCI"
## User Story

In order to ensure that changes we make to the pysaml2 fork has no regressions and be able to add coverage for our changes, data.gov developers want automated tests running in CircleCI.

## Acceptance Criteria
- [ ] GIVEN I push a branch to GSA/pysaml2
  WHEN I visit [CircleCI](https://app.circleci.com/pipelines/github/GSA/pysaml2)
  THEN I see tests running and passing for my pysam

[2020-08-26 22:24] adborden opened #2083 "catalog / redirects to HTTP"
We should be redirecting to HTTPS to avoid the extra redirect request.

## How to reproduce

1. `curl -v https://catalog.data.gov/ > /dev/null`

## Expected behavior

302 https://catalog.data.gov/dataset

## Actual behavior

302 http://catalog.data.gov/dataset ->
301 https://catalog.data.gov/dataset

[2020-08-26 22:24] adborden commented on #2083
I think this also affects inventory, but haven't confirmed.

[2020-08-26 22:39] adborden commented on #1858
Need to pick this up to aid in debugging saml issues in sandbox.

[2020-08-26 23:00] adborden commented on #1186
Looks like the updated metadata is working just fine with the above Ansible changes.

[2020-08-26 23:00] adborden commented on #1968
Tripping over this when trying to test in sandbox.

[2020-08-27 13:44] chris-macdermaid commented on #2000
The spatial harvester has been updated to use a newer version of OWSLib that supports gmi.
https://github.com/ckan/ckanext-spatial/pull/248

[2020-08-27 14:08] FuhuXia opened #2085 "WAF harvest source Dataset visibility is not being reflected properly in UI"
Unable to save a harvest sources with the `public` Dataset visibility

## How to reproduce

1. Set up a new WAF harvest source, choose `public` as Dataset visibility. Save

## Expected behavior

The source should show `public` as Dataset visibility.

## Actual behavior

The source shows `private` as Dataset visibility.

[2020-08-27 14:23] FuhuXia commented on #2085
It affects UI only. Datasets harvested uses the correct Dataset Visibility when the source page is saved. But if the user edit the source page and save it again without noticing the Dataset Visibility is changed to private by this UI bug, all new datasets will be harvested as `private`.

[2020-08-27 14:23] FuhuXia commented on #2085
duplicate of https://github.com/GSA/datagov-deploy/issues/897

[2020-08-27 15:22] FuhuXia commented on #1520
Went through a list of FGDC harvest sources. All are harvested twice using existing fgdcrse2iso19115-2.xslt and new csdgm2iso19139-20200109.xslt. Harvesting job results look identical.

Will verify more and compare the transformed metadata between to xslt files.

[2020-08-27 17:14] chris-macdermaid commented on #2041
The vulnerability is caused by node-sass requiring an old version (2.25) of sass-graph which requires version 4.17.19 of lodash. According to sass/node-sass#2863, it should be resolved in version 5 but there is no date for version 5 to be released.
There is a package that potentially fixes the issue, but don't think it would stop the vulnerability from continuing to be reported.
 https://www.npmjs

[2020-08-27 17:15] adborden commented on #1924
Discussing with H1 and TTS tech portfolio

[2020-08-27 19:05] FuhuXia commented on #1520
Did a comparison between two ISO19139 XML files generated by the two XSLT. The content of the two files are mostly matching, except when it comes to `schemaLocation` values; existing one uses `http://www.ngdc.noaa.gov`, new one uses `http://schemas.opengis.net`. I think that is expected.

Will open a new ticket to use the install new XSLT file to our fgdc2iso repo.

[2020-08-27 19:39] FuhuXia opened #2088 "Deploy new XSLT to fgdc2iso"
## User Story

As a member of FGDC, I want FGDC2ISO service use the newly designed XSLT transform file so that newly harvested FGDC dataset has new version of ISO Metadata.

## Acceptance Criteria
- [ ] GIVEN a new fgdc2iso.war file is released
  WHEN the war file is extracted
  THEN the xslt inside has the new content.
- [x] GIVEN a new FGDC dataset is harvested
  WHEN open the link Metadata Sour

[2020-08-27 20:06] mogul commented on #2072
We're expecting this will be addressed by the rollout of the upstream CKAN version, so we're Icebox'ing it for now. We're including it in the overall CKAN-next epic as a reminder to check that it's been resolved when closing out that epic.

[2020-08-27 20:15] mogul commented on #2083
This may be resolved with CKAN-next. Will check on it when we are upgraded!

[2020-08-27 20:18] mogul commented on #897
[Fuhu said](https://github.com/GSA/datagov-deploy/issues/2085#issuecomment-681981600):

[2020-08-27 20:18] mogul commented on #2085
Closing as dupe.

[2020-08-27 20:18] #2085 closed, assigned to nobody

[2020-08-27 20:20] mogul commented on #897
This is another one that may be fixed by ckan-next, but we should look into it in the near term to avoid accidents.

[2020-08-27 23:02] porta-antiporta commented on #1358
@mogul FYI, the ability to require a user to authenticate with only a PIV/CAC is now available on login.gov. https://developers.login.gov/oidc/

This specifies that a user has been authenticated with an HSPD12 credential (requires PIV/CAC)

[2020-08-28 01:06] adborden commented on #1924
Set TTL 0 for all 4xx codes available in CloudFront.
Set TTL 3 for all 5xx codes available in CloudFront.

Configured these settings for www.data.gov and catalog.data.gov.

[2020-08-28 17:38] adborden commented on #1654
@FuhuXia I think this is resolved? https://inventory.sandbox.datagov.us/api/action/status_show is working just fine.

[2020-08-28 17:51] FuhuXia commented on #1654
Yes, resolved. Closing.

[2020-08-28 17:51] #1654 closed, assigned to nobody

[2020-08-28 18:27] FuhuXia opened #2094 "Upload to Datastore on staging inventory gives 500 error"
On staging, when adding new spreadsheet resource to inventory dataset, the datapusher app gives 500 error.

![Screen Shot 2020-08-28 at 2 15 48 PM](https://user-images.githubusercontent.com/1392461/91602309-21efe900-e939-11ea-9aa9-fee4f924ea2d.png)

## How to reproduce

1. Open any dataset page in staging Inventory, Click "Manage" button, then "Resources" tab
2. Click "Add new resource", choose "U

[2020-08-28 18:32] adborden opened #2095 "Draft datasets in Inventory should be considered private and visible only to organization members"
## User Story

In order to draft datasets in Inventory without incomplete metadata being visible or published to other users, agency data managers want dataset and resource visibility in CKAN to be tied to Publish Status.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Be

[2020-08-28 18:32] FuhuXia commented on #2094
datapusher.error.log shows
`ImportError: /usr/lib/datapusher/lib/python2.7/site-packages/lxml/etree.so: undefined symbol: PyFPE_jbuf`

![Screen Shot 2020-08-28 at 2 28 47 PM](https://user-images.githubusercontent.com/1392461/91603574-37fea900-e93b-11ea-8920-bff813c8784f.png)

[2020-08-28 18:40] adborden opened #2096 "Enable read-only public access to published datasets in Inventory"
## User Story

In order to make federal open data more accessible and discoverable, open data users want to view datasets in Inventory.

This issue depends on https://github.com/GSA/datagov-deploy/issues/2095.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_spe

[2020-08-28 18:47] adborden opened #2097 "Disable redaction feature in Inventory"
## User Story

In order to avoid confusion with an undocumented an untested feature, data.gov PMO wants the redaction feature in Inventory to be disabled in configuration.

## Acceptance Criteria
[ACs should be clearly demoable/verifiable whenever possible. Try specifying them using [BDD](https://en.wikipedia.org/wiki/Behavior-driven_development#Behavioral_specifications).]
- [ ] GIVEN [a contextu

[2020-08-28 20:19] chris-macdermaid commented on #1799
@adborden @FuhuXia @pjsharpe07

Status:
- Setting server.info in lib/org/apache/catalina/util/ServerInfo.properties without the version removes the version from being reported. This can be accomplished by creating the dir structure and adding that file or by opening lib/catalin.jar and changing it in ServerInfo.properties and updating the jar.
- The changes that robertdebock made break the playboo

[2020-08-28 20:23] FuhuXia commented on #1799
It feels like we don't need ROOT any more if adding the `lib/org/apache/catalina/util/ServerInfo.properties`.

[2020-08-28 21:33] adborden opened #2098 "Follow up on TTS Digital Council URL removals"
## User Story

https://gsa-tts.slack.com/archives/CMGHQPSLC/p1597400759178700
**Deadline: September 30th, 2020**
[Spreadsheet of URLs](https://docs.google.com/spreadsheets/d/1OBO6g7_OsVBv0vG8WSCI6L2FD_iRh3A7a_6eQWj2zLE/edit#gid=1506078684)

As a [user description], I want [behavior description] so that [goal].

[...or [alternatively](https://blog.crisp.se/2014/09/25/david-evans/as-a-i-want-so-that

[2020-08-31 16:55] FuhuXia commented on #1828
Same issue replicated on catalog-next. So moving to ckan 2.8 does not solve it. Taking a closer look at the difference between successful harvested datasets and failed ones to see what causes the issue.

[2020-08-31 19:47] datagov-bot opened #2102 "deploy-ci-platform #186 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [psharpe] 26f9cd1d1be886d4eca8bf77859347d5c6c5912b - newest postfix version

[View full output](https://ci.sandbox.datagov.us/job/deploy-ci-platform/186/) (classic)
[View full output](https://ci.sandbox.datagov.us//blue/organizations/jenkins/deploy-ci-platform/detail/deploy-ci-platform/186/pipeline) (blue)

[2020-08-31 19:51] chris-macdermaid commented on #2041
Updated to lodash to version 4.17.20 by removing concurrently, gulp-sass, and lodash. Then installed concurrently followed by gulp-sass.

https://github.com/GSA/resources.data.gov/pull/241

[2020-08-31 20:13] pjsharpe07 opened #2103 "Upgrade ansible-postfix"
## User Story

As a datagov developer I want our roles to be on the latest versions so that we avoid tech-debt as much as possible.

## Acceptance Criteria
- [x] Playbooks run on all hosts and I see that ansible-postfix is >= 3.1

## Background
The failed task is while [upgrading the configuration file](https://github.com/Oefenweb/ansible-postfix/blob/master/tasks/main.yml#L47-L58). Error message:

[2020-09-01 14:29] FuhuXia commented on #1828
Fixed in the commit above. The issue happened to tags containing 2+ consecutive `&gt;`.  For example, for tag:

`EARTH     SCIENCE > ATMOSPHERE > > ATMOSPHERIC    ELECTRICITY > ATMOSPHERIC CONDUCTIVITY`

We want to split the tag with string `>`. Previous code has a bug that will create an empty string due to the `> >` therefore the error  message`Missing Tags`. New change has this fixed and genera

[2020-09-01 15:11] #2102 closed, assigned to nobody

[2020-09-01 21:37] hkdctol opened #2107 "Remove Ecosystems icon from Topics pulldown menu"
## User Story

As Data.gov PMO, I want to view only the Topics and icons that have a current agency need/request to maintain.

## Acceptance Criteria

- [x] GIVEN a user goes to Topics pull down, the Ecosystems option and icon do not appear.

## Background
We received email on 9/1/20 from our contact on Ecosystems topic that the topic and icon can be removed.

[2020-09-01 22:10] pjsharpe07 commented on #1874
Received confirmation from ISSO that this is no longer an issue

[2020-09-01 22:37] jbrown-xentity commented on #1974
The UI bug is fixed in the above PR to geodatagov.
The bugs are **not** related as I previously hoped, [CDC data](https://admin-catalog.data.gov/harvest/edit/https-data-cdc-gov-data-json) is recently harvested as non-federal but the DB shows the default federal flag in the config. Still not sure how that is possible...

[2020-09-02 16:34] jbrown-xentity opened #2111 "Release 2020-09-03"
## Release 09/03/2020
Roll out [updates/release to production](https://github.com/GSA/datagov-deploy/wiki/Releases) so that the latest bug fixes and feature code is available.

### Acceptance Criteria

- [x] Release is cut (datagov-deploy, catalog-app, inventory-app, static sites)
- [x] Playbook run with no errors/expected errors in sandbox
- [x] Playbook run with no errors/expected errors in stag

[2020-09-02 20:43] jbrown-xentity commented on #1974
CDC data is fixed. The banner at the top of a dataset is not related to the dataset itself, but to the organization ([see code in the theme for details](https://github.com/GSA/ckanext-datagovtheme/blob/master/ckanext/datagovtheme/templates/package/read_base.html#L28-L34)).

Changed [CDC Org settings](https://admin-catalog.data.gov/organization/edit/centers-for-disease-control-and-prevention) to se

[2020-09-02 21:26] datagov-bot opened #2114 "deploy-ci-platform #192 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [jbrown] 5a7ee19224b08ef0c54e00ae76b3b6538b66e4d0 - Initial refactor

- [jbrown] 2014bed021b91f61d2c2bdac5790ca6d2c4894cf - Lint fix

- [jbrown] f0eb5f603dc0f0a21dcde42e57a54857b6ecbb28 - Split tests for inventory-next and classic

- [jbrown] 7bf14e331c9656cfa4e15002027f3cb490a637f8 - remove bionic from default

- [jbro

[2020-09-02 21:29] jbrown-xentity commented on #2114
catalog-next status check timed out, but the url is fine now. Redeployed manually to check if this was a hiccup or if we need to dive in...

[2020-09-02 21:57] #2114 closed, assigned to nobody

[2020-09-03 16:25] FuhuXia commented on #1478
Fix is verified on prod.  Table `tracking_raw` is getting new entries now.

[2020-09-03 18:33] #1520 closed, assigned to FuhuXia

[2020-09-03 18:33] #1968 closed, assigned to adborden

[2020-09-03 18:33] #2037 closed, assigned to jbrown-xentity

[2020-09-03 18:33] #2043 closed, assigned to mogul

[2020-09-03 18:33] #2044 closed, assigned to mogul

[2020-09-03 18:33] #2111 closed, assigned to jbrown-xentity

[2020-09-03 18:33] #2045 closed, assigned to mogul

[2020-09-03 18:33] #2046 closed, assigned to mogul

[2020-09-03 18:33] #2047 closed, assigned to mogul

[2020-09-03 18:33] #2048 closed, assigned to mogul

[2020-09-03 18:33] #2049 closed, assigned to mogul

[2020-09-03 18:33] #2050 closed, assigned to mogul

[2020-09-03 18:33] #2051 closed, assigned to mogul

[2020-09-03 18:33] #1186 closed, assigned to adborden

[2020-09-03 18:33] #1827 closed, assigned to chris-macdermaid

[2020-09-03 18:33] #1828 closed, assigned to FuhuXia

[2020-09-03 18:33] #1874 closed, assigned to pjsharpe07

[2020-09-03 18:33] #2000 closed, assigned to chris-macdermaid

[2020-09-03 18:33] #2041 closed, assigned to chris-macdermaid

[2020-09-03 18:33] #2052 closed, assigned to mogul

[2020-09-03 18:33] #2053 closed, assigned to mogul

[2020-09-03 18:33] #1858 closed, assigned to adborden

[2020-09-03 18:33] #1974 closed, assigned to jbrown-xentity

[2020-09-03 20:16] mogul commented on #1757
There appear to be no strong obstacles or objections to our proposed approach. We'll check with Phil as we go, but generally the research story can be concluded.

[2020-09-03 20:16] #1757 closed, assigned to hkdctol

[2020-09-03 20:17] mogul commented on #1688
Still waiting on FY21 clarity.

[2020-09-03 20:18] FuhuXia commented on #2038
An [inventory-db-init.py](https://github.com/GSA/datagov-deploy/blob/f022ccb3193bff1e9d512a575cde2c8682c16ea8/ansible/roles/software/ckan/inventory/files/inventory-db-init.py) python script is created to

1. Connnect to a blank postgres database,
2. Creates necessary CKAN and Datastore databases, roles, and set permissions, and finally
3. Run `sudo ckan db init` command to initialize the ckan data

[2020-09-03 20:25] mogul commented on #2094
Possibly fixed by recent datapusher work. There are other datapusher problems in staging and it might be best to tackle these all at once.

[2020-09-03 20:28] mogul commented on #2097
Wait to see the user demand for the feature.

[2020-09-03 20:54] mogul opened #2118 "inventory-next is deployed in staging"
## User Story

In order to have confidence in our coming rollout of inventory-next, the team wants inventory-next up and running in staging, irrespective of migration issues yet to be resolved.

## Acceptance Criteria

- [x] GIVEN the inventory playbook has been run in staging \
  WHEN I look at the bionic inventory hosts \
  THEN I can see that CKAN 2.8 is installed

## Background
This is separat

[2020-09-03 21:00] pjsharpe07 opened #2119 "O+M"
As part of day-to-day operation of Data.gov, there are many [Operation and Maintenance (O&M) responsibilities](https://github.com/GSA/datagov-deploy/wiki/Operation-and-Maintenance-Responsibilities). Instead of having the entire team watching notifications and risking some notifications slipping through the cracks, we have created an [O&M Triage role](https://github.com/GSA/datagov-deploy/wiki/Oper

[2020-09-03 21:05] jbrown-xentity commented on #2094
This is currently working on staging, see screenshot of dataset that was loaded.
![image](https://user-images.githubusercontent.com/26980513/92166966-cb7e2100-edf6-11ea-82ac-9263f5e7002a.png)

[2020-09-03 21:07] #2094 closed, assigned to nobody

[2020-09-03 21:08] jbrown-xentity commented on #1188
Closing related to #2094

[2020-09-03 21:08] #1188 closed, assigned to nobody

[2020-09-03 21:11] jbrown-xentity commented on #1524
This is not complete, but the work to complete it is simplified by #2073

[2020-09-04 19:14] adborden opened #2122 "[research:3d] prototype new geospatial metadata harvesting process"
## User Story

In order to standardize and simplify the geospatial metadata harvest processes between data.gov and Geoplatform in the federal government, Geoplatform and geospatial data users want the original geospatial metadata to be referenced or linked from catalog.data.gov.

In order to minimize human coordination between FGDC and data.gov, Geoplatform wants original metadata to be referenced

[2020-09-04 22:06] pjsharpe07 commented on #1135
@avdata99 @jbrown-xentity I just checked and it looks like this issue is resovled. Can I close this?

[2020-09-04 22:21] #1135 closed, assigned to jbrown-xentity

[2020-09-05 00:01] adborden commented on #1924
Will continue when I'm back in the office.

[2020-09-05 00:49] chris-macdermaid commented on #1799
Run the palybook on sandbox and tested Tomcat isn't displaying the version number.

[2020-09-07 14:46] avdata99 opened #2123 "Add workers for staging environment"
## User Story

As a GSA developer, I want various [workers](https://github.com/GSA/datagov-deploy/blob/develop/ansible/roles/software/ckan/catalog/ckan-app/files/etc/cron.d/ckan_misc_worker#L3-L11) jobs to be running automatically and completing in staging so that I will have confidence that the following extensions/jobs will work on production: `ckanext-report`, `ckanext-qa` and `ckanext-datagovt

[2020-09-08 13:57] avdata99 commented on #897
Moving this to QA since we can't reproduce. It seems fixed with previous changes.

[2020-09-08 15:06] avdata99 commented on #2072
The GeoDataGov extension [overrides the `get_package_dict` function](https://github.com/GSA/ckanext-geodatagov/blob/master/ckanext/geodatagov/harvesters/base.py#L84:L84). This run just one time in _catalog-next_ with spatial upstream version, I just tested.
Should we remove from _catalog-next_ board?

[2020-09-08 16:28] pjsharpe07 commented on #897
Not sure if we want to change this, but for catalog-classic the issue comes from [this line in the geodatagov extension](https://github.com/GSA/ckanext-geodatagov/blob/master/ckanext/geodatagov/templates/source/geodatagov_source_form.html#L53).

`data.private_datasets` doesn't exist. Here are the kv pairs under `data`.

![image](https://user-images.githubusercontent.com/38019872/92502908-bbcb5780-

[2020-09-08 16:33] jbrown-xentity commented on #897
I think the private/public functionality of a harvest source comes from the geodatagov extension itself, so it should be safe to change the code to the appropriate variable... I say go for the fix and we'll figure out with the CKAN-multi team if the fix breaks something on their end.

[2020-09-09 14:39] avdata99 commented on #1958
Probably done with #1946

[2020-09-09 14:43] jbrown-xentity opened #2125 "HSTS system-wide"
_Please keep any sensitive details in [Google Drive](https://docs.google.com/document/d/1rW0VOzfCrjXOI0O1gTAOm225_fTbu5Cjrg7yJTYYBBg/edit#heading=h.tka5idg3rc5)._

**Date of report: 9/7/2020**
**Severity: Medium**
**Due date: 12/6/2020**

- [ ] Analysis has been performed and an issue has been linked to address other occurrences for this class of vulnerability\* (_link_)

_\* When a finding is ide

[2020-09-09 17:12] FuhuXia commented on #2088
This is the [link to the XSLT file](https://github.com/GSA/datagov-deploy/files/4307367/csdgm_iso_transform.zip) from ticket #1520.

[2020-09-09 17:37] kimwdavidson commented on #2123
Andres and Julie to determine which team should work on this

[2020-09-09 19:54] hkdctol opened #2127 "Download of enterprise data inventory from inventory.data.gov is empty JSON"
Encountered error today when attempting to download unredacted or redacted data inventories through admin UI of inventory.data.gov. GSA admin got error statement in attempting to download. Sysadmin UI and attempts to download for GSA and other organization resulted in empty JSON and an error statement.

## How to reproduce

Log in to inventory.data.gov with either Editor or Admin credentials, try

[2020-09-10 15:51] datagov-bot opened #2132 "deploy-ci-platform #199 failed"
Build 'deploy-ci-platform' is failing.

Changes since last successful build:
- [fxia] ff6b6b118f0ffa67639e781b831049e7cec8c12b - chmod to 644 so www-data can access export.map.json

- [fxia] 1b72e9853e6ce826928e645d28c3fc53d2d9fa84 - add test

- [fxia] be229ab6d1bc7566b0f41e1d6c089c1f6f3f51f5 - Lint update

- [fxia] 32f924ee556cef002e2d32bd4238881893704a9d - fix test

- [fxia] 0d88ba838a7aea18731a

[2020-09-10 16:27] #2132 closed, assigned to nobody

[2020-09-10 17:38] FuhuXia commented on #2123
I think the reason we turned off the cron jobs for those workers is that they took so long to finish, it is impractical to run it on such a large collection of datasets. So don't be surprised if we face the same slowness issue when they are turned back on.

[2020-09-10 20:42] mogul commented on #2071
@kimwdavidson can y'all take a look at the way this is implemented and help us understand if there's a better way to accomplish this before we fix the existing method in-situ?

[2020-09-10 20:58] mogul opened #2133 "Collect and/or write ancillary compliance docs for SSB"
## User Story

In order to get an ATO for the Supplementary Service Broker, the data.gov team must ensure we can provide accurate versions of the following documents pertaining to the system:

- [x] Incident Response Plan
- [x] Configuration Management Plan
- [x] Digital ID
- [x] FIPS 199 rating
- [x] Control Summary Table
- [x] PTA
- [x] ISCP
- [x] BIA
- [ ] ISCP (contingency plan) test
- [ ] Inc